<button *ngIf="!readOnly" class="btn primary mb-3" (click)="openEditProfilesDialog()">
  {{ 'COMMON.UPDATE' | translate }}
</button>

<div class="d-flex justify-content-between align-items-center p-3 mb-2 vitamui-profile-list" *ngFor="let profile of profilesDisplay">
  <div>
    <div class="text caption light mb-1">{{ 'APPLICATION.' + profile.appId + '.NAME' | translate }}</div>
    <div class="text medium">{{ profile?.tenantName }} : {{ profile?.profileName }}</div>
  </div>

  <div>
    <i
      class="vitamui-icon vitamui-icon-info primary clickable"
      [matTooltip]="profile?.description ? profile.description : ('MISC.NO_DESC' | translate)"
      matTooltipClass="vitamui-tooltip"
    ></i>
  </div>
</div>
