.profile-list {
    background-color: var(--vitamui-grey-100);
}

.label {
    font-size: 12px;
    color: var(--vitamui-grey-600);
}

.value {
    font-size: 16px;
    color: var(--vitamui-grey-900);
}