# TECHNICAL PROPERTIES / DON'T put environment properties
# This property can be override by a config file give at run time with spring.config.location

spring:
  application:
    name: ${server-identity.identityRole}
  api:
    name: API Referential
    description: This API is used to manage referential
    version: v1
  mvc:
    favicon:
      enabled : false
  jackson:
    serialization:
      write-dates-as-timestamps: false

management:
  endpoints:
    jmx:
      domain: ${server-identity.identityRole}
      unique-names: true
    web.exposure.include: info,health,prometheus
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true

metrics:
  reporterInterval: 1
  reporterIntervalUnit: MINUTES
  index: metrics-vitam-jvm
