<vitamui-dialog-header
  [stepper]="!form.value.fullAccess ? stepper : undefined"
  [subhead]="'SECURITY_PROFILE_APP.CREATE_DIALOG.INFORMATION.TITLE' | translate"
  [title]="
    form.value.fullAccess
      ? ('SECURITY_PROFILE_APP.CREATE_DIALOG.INFORMATION.SUBTITLE' | translate)
      : [
          'SECURITY_PROFILE_APP.CREATE_DIALOG.INFORMATION.SUBTITLE' | translate,
          'SECURITY_PROFILE_APP.CREATE_DIALOG.PERMISSION.SUBTITLE' | translate,
        ]
  "
></vitamui-dialog-header>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <vitamui-common-stepper #stepper>
    <cdk-step>
      <mat-dialog-content class="gap-3 align-items-stretch">
        <vitamui-common-input
          required
          class="w-100"
          formControlName="name"
          minlength="2"
          maxlength="100"
          [placeholder]="'SECURITY_PROFILE_APP.CREATE_DIALOG.INFORMATION.NAME' | translate"
        >
          <ng-container *ngIf="form.get('name')?.touched">
            <vitamui-common-input-error *ngIf="!!form.get('name')?.errors?.required">
              {{ 'COMMON.REQUIRED' | translate }}
            </vitamui-common-input-error>
            <vitamui-common-input-error *ngIf="!!form?.get('name')?.errors?.nameExists">
              {{ 'SECURITY_PROFILE_APP.CREATE_DIALOG.INFORMATION.NAME_ALREADY_EXISTS' | translate }}
            </vitamui-common-input-error>
          </ng-container>
        </vitamui-common-input>

        <vitamui-common-input
          *ngIf="isSlaveMode"
          formControlName="identifier"
          minlength="2"
          class="w-100"
          maxlength="100"
          required
          [placeholder]="'SECURITY_PROFILE_APP.CREATE_DIALOG.INFORMATION.IDENTIFIER' | translate"
        >
          <ng-container *ngIf="form.get('identifier')?.touched">
            <vitamui-common-input-error *ngIf="!!form.get('identifier')?.errors?.required">
              {{ 'COMMON.REQUIRED' | translate }}
            </vitamui-common-input-error>
            <vitamui-common-input-error *ngIf="!!form?.get('identifier')?.errors?.identifierExists">
              {{ 'SECURITY_PROFILE_APP.CREATE_DIALOG.INFORMATION.IDENTIFIER_ALREADY_EXISTS' | translate }}
            </vitamui-common-input-error>
          </ng-container>
        </vitamui-common-input>

        <div>
          <vitamui-common-slide-toggle formControlName="fullAccess">
            {{ 'SECURITY_PROFILE_APP.CREATE_DIALOG.INFORMATION.ACCESS' | translate }}
          </vitamui-common-slide-toggle>
          <i
            class="vitamui-icon primary vitamui-icon-info ml-3"
            vitamuiTooltip="{{ 'SECURITY_PROFILE_APP.CREATE_DIALOG.INFORMATION.ACCESS_TOOLTIP' | translate }}"
          >
          </i>
        </div>
      </mat-dialog-content>

      <mat-dialog-actions>
        <vitamui-next-step *ngIf="!form.value.fullAccess" [disabled]="firstStepInvalid() || isDisabledButton"></vitamui-next-step>
        <button
          type="button"
          class="btn primary"
          cdkStepperNext
          *ngIf="form.value.fullAccess"
          [disabled]="form.pending || form.invalid || isDisabledButton"
          (click)="finishAfterFirstStep()"
        >
          {{ 'COMMON.TERMINATE' | translate }}
        </button>
        <button type="button" class="btn cancel link" (click)="onCancel()">{{ 'COMMON.UNDO' | translate }}</button>
      </mat-dialog-actions>
    </cdk-step>

    <cdk-step *ngIf="!form.value.fullAccess">
      <mat-dialog-content>
        <app-security-profile-edit-permission formControlName="permissions"></app-security-profile-edit-permission>
      </mat-dialog-content>

      <mat-dialog-actions>
        <div>
          <button type="submit" class="btn primary" [disabled]="form.pending || form.invalid || isDisabledButton">
            {{ 'COMMON.TERMINATE' | translate }}
          </button>
          <button type="button" class="btn cancel link" (click)="onCancel()">
            {{ 'COMMON.UNDO' | translate }}
          </button>
        </div>
        <vitamui-previous-step></vitamui-previous-step>
      </mat-dialog-actions>
    </cdk-step>
  </vitamui-common-stepper>
</form>
