<form [formGroup]="form" class="side-form" (ngSubmit)="onSubmit()">

  <div class="d-flex mt-3">
    <vitamui-common-input
      formControlName="name"
      [placeholder]="'SECURITY_PROFILE_APP.TAB.INFORMATION.NAME' | translate"
      disabled>
    </vitamui-common-input>
  </div>

  <div class="d-flex">
    <vitamui-common-slide-toggle formControlName="fullAccess">
      {{ 'SECURITY_PROFILE_APP.TAB.INFORMATION.ACCESS' | translate }}
    </vitamui-common-slide-toggle>
  </div>

  <div class="actions mt-3">
    <button type="submit" class="btn primary" [disabled]="isInvalid() || unchanged() || submited">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</form>
