.container {
    border-radius: 10px;
    background-color: var(--vitamui-white);
    font-style: Mulish;
    font-weight: 800;
    line-height: 32px;
    padding-top: 15px;
}

.message-text-ok {
    color: var(--vitamui-green);
    padding-bottom: 15px;
}

.message-text-ko {
    color: var(--vitamui-orange);
    padding-bottom: 10px;
}
