<div class="container">
  @if (isLoading) {
    <div class="vitamui-min-content">
      <mat-spinner class="vitamui-spinner large"></mat-spinner>
    </div>
  } @else {
    @if (showText && itemsCategoryToUnlock !== '0') {
      <div class="row message-text-ok">
        <div class="col-12 d-flex align-items-center">
          <i class="material-icons">check_circle</i
          ><span class="p-2">{{ itemsCategoryToUnlock }} {{ 'RULES.APPRAISAL_RULES.UA_TO_UPDATE' | translate }}</span>
        </div>
      </div>
    }
    @if (showText && itemsToNotUpdate !== '0') {
      <div class="row message-text-ko">
        <div class="col-12 d-flex align-items-center">
          <i class="material-icons">error</i
          ><span class="p-2">{{
            'RULES.APPRAISAL_RULES.UA_INHERITANCE_TO_IGNORE' | translate: { itemsToNotUpdate: itemsToNotUpdate }
          }}</span>
        </div>
      </div>
    }
  }

  <div class="d-flex padding-btm-style">
    <button type="button" (click)="onUnlockCategoryInheritance()" [disabled]="isValidValue" class="btn primary mr-4">
      {{ 'RULES.COMMON.CONTROL' | translate }}
    </button>
    <button type="button" (click)="onCancelUnlockCategoryInheritance()" [disabled]="false" class="btn link cancel">
      {{ 'RULES.COMMON.UNDO' | translate }}
    </button>
  </div>
</div>

<ng-template #loadingMode>
  <div class="vitamui-min-content">
    <mat-spinner class="vitamui-spinner large"></mat-spinner>
  </div>
</ng-template>

<ng-template #okTotalFound>
  @if (showText && itemsCategoryToUnlock !== '0') {
    <div class="row message-text-ok">
      <div class="col-12 d-flex align-items-center">
        <i class="material-icons">check_circle</i
        ><span class="p-2">{{ itemsCategoryToUnlock }} {{ 'RULES.APPRAISAL_RULES.UA_TO_UPDATE' | translate }}</span>
      </div>
    </div>
  }

  @if (showText && itemsToNotUpdate !== '0') {
    <div class="row message-text-ko">
      <div class="col-12 d-flex align-items-center">
        <i class="material-icons">error</i
        ><span class="p-2">{{ 'RULES.APPRAISAL_RULES.UA_INHERITANCE_TO_IGNORE' | translate: { itemsToNotUpdate: itemsToNotUpdate } }}</span>
      </div>
    </div>
  }
</ng-template>

<ng-template #confirmDeleteUnlockCategoryInheritance>
  <vitamui-dialog-header [title]="'RULES.DIALOG_MESSAGE.DELETE_COMPONENT' | translate"></vitamui-dialog-header>
  <mat-dialog-actions>
    <button [matDialogClose]="true" class="btn primary btn-confirm-dialog">{{ 'RULES.COMMON.CONFIRM' | translate }}</button>
    <button matDialogClose class="btn cancel link">{{ 'RULES.COMMON.UNDO' | translate }}</button>
  </mat-dialog-actions>
</ng-template>
