spring:
  profiles:
    active: dev,swagger

  cloud:
    consul:  #disable for dev
      enabled: false
      discovery:
        enabled: false
        register: false

server:
  host: dev.vitamui.com
  port: 9000
  scheme: https
  ssl:
    key-store: ../../dev-deployment/environments/keystores/server/localhost/keystore_ui-portal.jks
    key-store-password: changeme
    key-password: changeme
  compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json
    min-response-size: 1024
management:
  server:
    address: localhost
    port: 8182
    ssl:
      enabled: false

ui-prefix : ${ui-portal.prefix}

ui-portal:
  platform-name: VITAM-UI
  portal-logo: logo_PORTAL.png
  header-logo: logo_HEADER.png
  footer-logo: logo_FOOTER.png
  portal-message: "Profitez d'un portail unique pour rechercher dans les archives de vos coffres, pour déposer des éléments en toutes sécurité et pour imprimer des etiquettes en quelques clics."
  portal-title: "Portail des applications de l'archivage"
  theme-colors:
    vitamui-primary: "#702382"
    vitamui-secondary: "#2563A9"
    vitamui-tertiary: "#C22A40"
    vitamui-header-footer: "#ffffff"
    vitamui-background: "#F5F7FC"
  assets: src/main/resources/assets
  iam-external-client:
    server-host: localhost
    server-port: 8083
    secure: true
    ssl-configuration:
      keystore:
        key-path: ../../dev-deployment/environments/keystores/server/localhost/keystore_ui-portal.jks
        key-password: changeme
        type: JKS
      truststore:
        key-path: ../../dev-deployment/environments/keystores/server/truststore_server.jks
        key-password: changeme
      hostname-verification: false
  base-url:
    portal: "https://dev.vitamui.com:4200"
    admin-identity: "https://dev.vitamui.com:4201/identity"
    identity: "https://dev.vitamui.com:4201/identity"
  customer:
    technical-referent-email: contact@programmevitam.fr
    website-url: http://www.programmevitam.fr
  portal-categories:
    ingest_and_consultation:
      title: "Versement & consultation"
      displayTitle: true
      order: 1
    referential:
      title: "Référentiels"
      displayTitle: true
      order: 2
    supervision_and_audits:
      title: "Supervision & Audits"
      displayTitle: true
      order: 3
    security_and_application_rights:
      title: "Sécurité & droits applicatifs"
      displayTitle: true
      order: 4
    organization_and_user_rights:
      title: "Organisation & droits utilisateurs"
      displayTitle: true
      order: 5

ui:
  url: "https://dev.vitamui.com:4200"
  redirect-url: https://dev.vitamui.com:9000/${ui-prefix}

cas:
  internal-url: https://dev.vitamui.com:8080/cas
  external-url: https://dev.vitamui.com:8080/cas
  callback-url: ${ui.url}/portal-api/callback
  ssl:
    trust-store: ../../dev-deployment/environments/keystores/server/truststore_server.jks
    trust-store-password: changeme

logging:
    level:
        fr.gouv.vitamui: DEBUG
        org.springframework.web: INFO

management.endpoints.web.exposure.include: "*"
# Uncomment if you want to use you specific logback config.
#logging:
#  config: src/main/config/logback.xml
