debug: false
# Pastis Rest APi
rng:
  base:
    file: profiles_new/Profil_seda_pastis_mvp.rng
    directory: rng/
json:
  base:
    file: profiles_new/ProfileJson.json
  template:
    file: profiles_new/AUP_default_PASTIS.json
pua:
  definitions:
    file: pua_validation/ProfileJson.json

spring:
  config:
    use-legacy-processing: true
  profiles:
    active: dev, swagger

  cloud:
    consul: #disabled for dev
      enabled: false
      discovery:
        enabled: false
        register: false

multipart:
  enabled: true

spring.servlet.multipart.max-file-size: -1
spring.servlet.multipart.max-request-size: -1

server-identity:
  identityName: vitamui-dev
  identityRole: pastis-commons
  identityServerId: 1

logging:
  level:
    fr.gouv.vitamui: DEBUG
    fr.gouv.vitamui.iam.security: DEBUG
