@import '~ui-frontend-common/sass/variables/colors';

$field-spacing: 15px;
$dark-red: #EA0101;

.header {
    padding: 30px 60px 0 60px;
}

.content {
    padding: 0px 60px 60px 60px;
}

h2 {
    font-size: 26px;
    line-height: 46px;
    margin-top: 23px;
    margin-bottom: 37px;
}

i.icon-error {
    color: red;
    font-size: 40px;
}

.actions {
    margin-top: 20px;
    display: flex;
}

.actions > button:not(:last-child) {
    margin-right: 20px;
}

.form-group {
    padding-bottom: 30px;
}

.url-select {
    cursor: pointer;
    font-size: 30px;
    color: var(--vitamui-primary);
    letter-spacing: 0.1px;
    white-space: nowrap;
    transform-origin: left;
    transition: transform 150ms ease-out;
}

.input-file {
    display: none;
}

.inline-label {
    padding-top: 5px;
}

button.primary {
    margin-right: 20px;
}

button.back {
    margin-top: 60px;
}

button > small {
    display: block;
    font-size: 12px;
    font-weight: 400;
}

.hint {
    color: #a5a5a5;
    font-size: 15px;
}

.drag-and-drop-area {
    width: 100%;
    height: 210px;
    border: 2px dashed var(--vitamui-primary);
    border-radius: 6px;
    box-shadow: 0px 0px 80px rgba(255, 255, 249, 0.3);
    background: $white;
    margin-bottom: 10px;
    margin-top: -20px;

    p {
        padding-top: 20px;
    }
}
.on-over {
    border: 2px solid var(--vitamui-secondary);

    p {
        color: $white;
    }

    .drop-area {
        background: #5CBAA9;
        opacity: 0.9;
        color: $white;
    }
}

.drag-container {
    width: 100%;
    height: 160px;
    vertical-align: middle;
    text-align: center;
}

.drop-area {
    text-align: center;
    height: 156px;
}

.upload-text {
    padding-top: 5%;
    font-size: 15px;
    line-height: 18px;
    color: #a5a5a5;
    text-align: center;
    .upload {
        color: var(--vitamui-secondary);
    }

}

.sip-drop { 
     text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    color: var(--vitamui-primary);
    font-style: normal;
    font-size: 30px;
    small {
        color: var(--vitamui-primary);
    }
}
.sip-drop-small { 
     text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--vitamui-primary);
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
     line-height: 10px;

}
.error-message {
    color: $red;
    font-size: 16px;
    margin-top: 80px;
}

.message-success{
    padding-bottom: 50%;
    padding: 34px 0px 34px 34px;
}
.success-icon {
    color:#27740A;
    font-size: 50px;
}


.error-icon {
    color: $dark-red;
    font-size: 50px;
}

    .file-info-container {
        padding: 34px 0px 34px 34px;
        display: flex;
        flex-direction: row;
        max-width: 50%;
    }

.file-info-class {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #000000;
     font-style: normal;
    font-weight: bold;
    font-size: 18px;

    small {
        color: #a5a5a5;
    }
}

.font-class-file {
font-size: 13px;
}
