<div class="header">
  <mat-progress-bar mode="determinate" [value]="100" class="stepper-progress-bar"></mat-progress-bar>
</div>
<form [formGroup]="sipForm">
  <div class="content">
    <h4>{{ messageLabelImportType }}</h4>
    <h2>{{ messageImportType }}</h2>

    <div class="d-flex">
      <div class="drag-and-drop-area" [ngClass]="{'on-over': hasDropZoneOver}" vitamuiCommonDragAndDrop
        (fileToUploadEmitter)="onDropped($event)" (fileDragOverEmitter)="onDragOver($event)" (fileDragLeaveEmitter)="onDragLeave($event)">
        <div *ngIf="fileName && fileSize>0 && fileSizeString" class="drag-container">
          <div class="file-info-class">{{ fileName }}
            <span class="text-grey" [ngStyle]="{'font-size':'13px'}"> | {{ fileSizeString }} </span>
            <i class="material-icons success-icon" *ngIf="!hasError">check_circle</i>
            <div>

              <span class="text-red">{{ message }} </span> 
                <i class="large material-icons icon-error "
                   *ngIf="hasError">cancel</i>

            </div>
          </div>
        </div>

        <input type="file" #fileSearch class="input-file" (change)="handleFileInput($event.target.files)" />

        <div class="drop-area">
          <div *ngIf="!fileSize || !hasSip" class="sip-drop">
            Glisser-déposer ou <br>
          </div>
          <div *ngIf="!fileSize || !hasSip">
            <div class="sip-drop">
              <div class="upload"><span class="underline" (click)="addSip()">Parcourir</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="actions">
      <button type="button" class="btn primary" [disabled]="isDisabled || hasError" (click)="upload()">Confirmer le
        versement</button>
      <button type="button" class="btn cancel" (click)="onCancel()">Annuler</button>
    </div>
  </div>
</form>
