.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-btn-area {
  background: var(--vitamui-grey-200);
}

.radio-btn-list {
  background: var(--vitamui-white);
  height: 50px;
}

.select-style {
  border-radius: 10px;
  width: 100%;
  padding-top: 15px;
}

.select-more-actions {
  border-radius: 10px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 30px;
}

.update-rules-table-head {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: var(--vitamui-grey-900);
  margin-bottom: 0.3rem;
  border-bottom: 2px solid var(--vitamui-grey-300);
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
  padding: 1.5rem;
}

.row-padding {
  padding-left: 20px;
}

.details-ua {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
