@import 'variables';

::ng-deep {
  vitamui-common-body {
    > div {
      margin-top: 0 !important;
    }
  }
}

.portal-app {
  position: relative;
  top: $header-height;
  overflow-y: scroll;
  height: calc(100% - #{$header-height});
}
