
[defaults]
hash_behaviour = merge
roles_path     = ../../../deployment/roles/
filter_plugins = ../../../deployment/filter_plugins/
callbacks_enabled = timer, profile_tasks
host_key_checking = False

[ssh_connection]
pipelining = True
retries = 5
