@use 'mixins/elevation' as elevation;

.pastis-table-input-border {
  border-radius: 5px;
  border: 1px solid var(--vitamui-grey-300);
  box-sizing: border-box;
  @include elevation.shadow-2dp-dark;
}
