//Generate Pastis colors
/// @author Paulo Pimenta

@use 'dropdown' as dropdown;
@use 'input';
@use 'font';

/// Generate inputs for PASTIS
/// @author Paulo Pimenta
/// @output Pastis buttons

@mixin dropdown-text-modifiers($attribute, $class-iterator, $prefix: '-', $separator: '-') {
  @each $name, $dropdown in $class-iterator {
    &#{$prefix}#{$name} {
      @each $type, $value in $dropdown {
        &#{$separator}#{$type} {
          #{$attribute}: $value;
        }
      }
    }
  }
}

@mixin mat-table-columns($columns) {
  .mat-column- {
    @each $colName, $props in $columns {
      $width: map-get($props, 'width');
      &#{$colName} {
        flex: $width;
        width: $width;

        @if map-has-key($props, 'color') {
          color: map-get($props, 'color');
        }
      }
    }
  }
}
/* Generates buttons for Pastis.
Buttons can be primary, secondary;
Additionally they can be :
activated, disabled, hover and focus
Ex : .pastis-btn-primary-hover {}
See _buttons.scss */

.pastis-btn {
  border-radius: 100px !important;
  border: 0px;
  outline: none;
}

.pastis-dropdown-text {
  @extend .dropdown-font-text;
  @include dropdown-text-modifiers('color', dropdown.$dropdowns-text);
}
