<div vitamuiCommonInfiniteScroll (vitamuiScroll)="onScroll()">
  <div class="vitamui-table">
    <div class="vitamui-table-head">
      <div class="col-1 d-flex align-items-center"></div>

      <div class="col-6 d-flex align-items-center justify-content-between">
        <div>{{ 'SECURITY_PROFILE_APP.HOME.ARRAY.IDENTIFIER' | translate }}</div>
        <vitamui-order-by-button
          orderByKey="Identifier"
          [(orderBy)]="orderBy"
          [(direction)]="direction"
          (orderChange)="emitOrderChange()"
        ></vitamui-order-by-button>
      </div>

      <div class="col-5 d-flex align-items-center justify-content-between">
        <div>{{ 'SECURITY_PROFILE_APP.HOME.ARRAY.NAME' | translate }}</div>
        <vitamui-order-by-button
          orderByKey="Name"
          [(orderBy)]="orderBy"
          [(direction)]="direction"
          (orderChange)="emitOrderChange()"
        ></vitamui-order-by-button>
      </div>
    </div>

    <div class="vitamui-table-body">
      @for (profile of dataSource; track profile; let index = $index) {
        <div class="vitamui-table-rows" (click)="contextClick.emit(profile)">
          <div class="vitamui-row d-flex align-items-center clickable">
            <div class="col-1"><i class="vitamui-icon vitamui-icon-security-profile vitamui-row-icon"></i></div>
            <div class="col-6">{{ profile?.identifier }}</div>
            <div class="col-5">{{ profile?.name }}</div>
          </div>
        </div>
      }
    </div>

    @if (!dataSource || pending) {
      <div class="vitamui-min-content">
        <mat-spinner class="vitamui-spinner medium"></mat-spinner>
      </div>
    }
    @if (!pending && dataSource?.length === 0) {
      <div class="vitamui-min-content vitamui-table-message">{{ 'COMMON.NO_RESULT' | translate }}</div>
    }
    @if (infiniteScrollDisabled && securityProfileService.canLoadMore && !pending) {
      <div class="vitamui-min-content vitamui-table-message" (click)="securityProfileService.loadMore()">
        <span class="clickable">{{ 'COMMON.SHOW_MORE_RESULTS' | translate }}</span>
      </div>
    }
  </div>
</div>
