<div class="header">
  <vitamui-common-progress-bar [count]="stepCount" [index]="stepIndex"></vitamui-common-progress-bar>
</div>

<vitamui-common-stepper [selectedIndex]="stepIndex" (selectionChange)="stepIndex = $event.selectedIndex">
  <!-- Step 1 -->
  <cdk-step>
    <div class="content">
      <h2>{{ 'COLLECT.UPDATE_UNITS_METADATA.ACTION_TITLE' | translate }}</h2>
      <div>
        <h4>
          {{ 'COLLECT.UPDATE_UNITS_METADATA.ACTION_SUB_TITLE' | translate }}
          <i
            class="vitamui-icon vitamui-icon-info"
            [vitamuiCommonToolTip]="'COLLECT.UPDATE_UNITS_METADATA.ACTION_DESCRIPTION' | translate"
          ></i>
        </h4>
      </div>

      @if (isLoadingData) {
        <div class="vitamui-min-content">
          <mat-spinner class="vitamui-spinner large"></mat-spinner>
        </div>
      } @else {
        <vitamui-file-selector [extensions]="['.csv']" [multipleFiles]="false" (filesChanged)="handleFiles($event)">
        </vitamui-file-selector>
      }

      <div class="actions">
        <button (click)="updateUnitsMetadata()" [disabled]="!fileToUpload || isLoadingData" class="btn primary" type="button">
          {{ 'COLLECT.UPDATE_UNITS_METADATA.UPDATE_CONFIRM' | translate }}
        </button>
        <button (click)="onCancel()" class="btn link" [disabled]="isLoadingData" type="button">
          {{ 'COLLECT.UPDATE_UNITS_METADATA.UPDATE_CANCEL' | translate }}
        </button>
      </div>
    </div>
  </cdk-step>
</vitamui-common-stepper>
