spring:
  cloud:
    consul:
      enabled: true
      host: consul.service.consul
      discovery:
        preferIpAddress: true

logging:
  config: {{  service.dirs.config }}/logback.xml

server:
  port: {{ service.port }}
  ssl:
    key-store: "{{ service.dirs.config }}/iam-external.jks"
    key-store-password: jkspasswd
    key-password: jkspasswd
    trust-store: "{{ service.dirs.config }}/truststore.jks"
    trust-store-password: jkspasswd
    client-auth: need
  tomcat:
    accesslog:
        enabled: "{{ service.access_log_enabled }}"
        directory: "{{ service.dirs.log}}"

management:
  server:
    port: {{  service.admin_port }}
    ssl:
      enabled: false

server-identity:
  identityName: {{ vitamui_env_name }}
  identityRole: {{ service.id }}
  identityServerId: 1

iam-external:
  security-client:
    server-host: security-internal.service.consul
    server-port: {{ vitamui_services.security_internal.port }}
    secure: true
    ssl-configuration:
      keystore:
        key-path: "{{ service.dirs.config}}/iam-external.jks"
        key-password: jkspasswd
        type: JKS
      truststore:
        key-path: "{{ service.dirs.config}}/truststore.jks"
        key-password: jkspasswd
      hostname-verification: false
  iam-internal-client:
    server-host: iam-internal.service.consul
    server-port: {{ vitamui_services.iam_internal.port }}
    secure: true
    ssl-configuration:
      keystore:
        key-path: "{{ service.dirs.config}}/iam-external.jks"
        key-password: jkspasswd
        type: JKS
      truststore:
        key-path: "{{ service.dirs.config}}/truststore.jks"
        key-password: jkspasswd
      hostname-verification: false

customer.init.config.file: {{ service.dirs.config}}/customer-init.yml
