@mixin mat-select-panel {
    border-radius: 5px;
    background-color: white;
    border: solid 1px var(--vitamui-grey-400);
    padding: 10px 0;

    .mat-select-content {
        background: transparent;
    }

    .mat-option {
        font-family: 'Mulish', sans-serif;
        color: var(--vitamui-grey-900);
        font-size: 14px;
        line-height: 2em;
        height: 2em;
        padding: 0px 30px;
    }

    .mat-option.mat-active,
    .mat-option:hover:not(.mat-option-disabled),
    .mat-option:focus:not(.mat-option-disabled) {
        background-color: var(--vitamui-grey-300);
        color:  var(--vitamui-grey-900);
    }

    .mat-option.mat-selected:not(.mat-option-multiple):not(.mat-option-disabled) {
        background-color: var(--vitamui-grey-300);
        color: var(--vitamui-grey-900);
    }

    .mat-option.mat-selected:not(.mat-option-multiple):not(.mat-active):not(:hover) {
        background: none;
    }

    .mat-option.mat-selected:not(.mat-option-multiple) {
        font-weight: 500;
        color: white;

        &:before {
            content: 'check';
            font-family: 'Material Icons';
            color: white;
            display: block;
            position: absolute;
            left: 10px;
        }
    }

    .mat-option-disabled {
        color: $greyish-two;
    }
}
