@import '~ui-frontend-common/sass/variables/colors';

.header {
    padding: 30px 60px 0 60px;
}

.content {
    padding: 0px 60px 60px 60px;
}

h2 {
    font-size: 26px;
    line-height: 46px;
    margin-top: 23px;
    margin-bottom: 37px;
}

.actions {
    margin-top: 20px;
    display: flex;
}

.actions > button:not(:last-child) {
    margin-right: 20px;
}

button.back {
    display: flex;
    align-items: center;
    background: transparent;
    color: var(--vitamui-secondary);
    font-size: 14px;
    font-weight: normal;
    border: none;
    padding: 0;
    margin-top: 60px;
    cursor: pointer;

    i {
        display: block;
        font-size: 18px;
        color: var(--vitamui-secondary);
        background-color: #e7f5f2;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        line-height: 30px;
        margin-right: 10px;
    }
}
