<div class="header">
  <vitamui-common-progress-bar [index]="stepIndex" [count]="2"></vitamui-common-progress-bar>
</div>

<vitamui-common-stepper [selectedIndex]="stepIndex" (selectionChange)="stepIndex=$event.selectedIndex">
  <cdk-step>
    <form [formGroup]="ownerForm" (ngSubmit)="onOwnerSubmit()">
      <div class="content">
        <div class="text large bold" i18n="Create owner for the customer@@ownerCreateTitle">Création d'un propriétaire pour "{{data?.customer?.name}}"</div>

        <app-owner-form formControlName="owner" [customerId]="data?.customer?.id"></app-owner-form>

        <div class="actions">
          <button type="button" class="btn primary" cdkStepperNext [disabled]="ownerForm.pending || ownerForm.invalid" i18n="Create a tenant@@ownerCreateTenantButton">Créer un coffre</button>
          <button type="submit" class="btn primary" [disabled]="ownerForm.pending || ownerForm.invalid" i18n="Finish owner creation button@@ownerCreateFinishButton">Terminer</button>
          <button type="button" class="btn cancel link" (click)="onCancel()" i18n="Cancel owner creation@@ownerCreateCancelButton">Annuler</button>
        </div>
      </div>
    </form>
  </cdk-step>

  <cdk-step>
    <form [formGroup]="tenantForm" (ngSubmit)="onTenantSubmit()">
      <div class="content">
        <div class="text large bold" i18n="Create tenant for the owner@@tenantCreateTitle">Création du coffre pour "{{ownerForm?.value?.owner?.name}}"</div>

        <vitamui-common-input formControlName="name" required placeholder="Nom du coffre" i18n-placeholder="Name of the tenant@@tenantCreateNamePlaceholder">
          <vitamui-common-input-error *ngIf="tenantForm?.get('name')?.touched && tenantForm?.get('name')?.hasError('required')" i18n="Existing name error hint@@formErrorExistingName">Champ requis</vitamui-common-input-error>
          <vitamui-common-input-error *ngIf="tenantForm?.get('name')?.touched && tenantForm?.get('name')?.hasError('uniqueName')" i18n="Existing name error hint@@formErrorExistingName">Nom déjà existant</vitamui-common-input-error>
        </vitamui-common-input>

        <div class="actions">
          <button type="submit" class="btn primary" [disabled]="tenantForm.pending || tenantForm.invalid" i18n="Finish owner creation button@@ownerCreateFinishButton">Terminer</button>
          <button type="button" class="btn cancel link" (click)="onCancel()" i18n="Cancel owner creation@@ownerCreateCancelButton">Annuler</button>
        </div>
        <button type="button" class="btn link" cdkStepperPrevious>
          <i class="vitamui-icon vitamui-icon-chevron-left"></i>
          <ng-container i18n="Previous step button label@@customerCreateBackButton"><span class="underline">Retour</span></ng-container>
        </button>
      </div>
    </form>
  </cdk-step>
</vitamui-common-stepper>
