<div class="header">
  <mat-progress-bar mode="determinate" [value]="100" class="stepper-progress-bar"></mat-progress-bar>
</div>

<vitamui-common-stepper>

  <cdk-step>
    <form [formGroup]="ownerForm" (ngSubmit)="onOwnerSubmit()">
      <div class="content">
        <h2 i18n="Create owner for the customer@@ownerCreateTitle">Création d'un propriétaire pour "{{data?.customer?.name}}"</h2>

        <app-owner-form formControlName="owner" [customerId]="data?.customer?.id"></app-owner-form>

        <div class="actions">
          <button type="button" class="btn secondary" cdkStepperNext [disabled]="ownerForm.pending || ownerForm.invalid" i18n="Create a tenant@@ownerCreateTenantButton">Créer un coffre</button>
          <button type="submit" class="btn primary" [disabled]="ownerForm.pending || ownerForm.invalid" i18n="Finish owner creation button@@ownerCreateFinishButton">Terminer</button>
          <button type="button" class="btn cancel" (click)="onCancel()" i18n="Cancel owner creation@@ownerCreateCancelButton">Annuler</button>
        </div>
      </div>
    </form>
  </cdk-step>

  <cdk-step>
    <form [formGroup]="tenantForm" (ngSubmit)="onTenantSubmit()">
      <div class="content">
        <h2 i18n="Create tenant for the owner@@tenantCreateTitle">Création du coffre pour "{{ownerForm?.value?.owner?.name}}"</h2>
        <vitamui-common-input formControlName="name" required placeholder="Nom du coffre" i18n-placeholder="Name of the tenant@@tenantCreateNamePlaceholder">
          <vitamui-common-input-error *ngIf="tenantForm?.get('name')?.touched && tenantForm?.get('name')?.hasError('required')" i18n="Existing name error hint@@formErrorExistingName">Champ requis</vitamui-common-input-error>
          <vitamui-common-input-error *ngIf="tenantForm?.get('name')?.touched && tenantForm?.get('name')?.hasError('uniqueName')" i18n="Existing name error hint@@formErrorExistingName">Nom déjà existant</vitamui-common-input-error>
        </vitamui-common-input>

        <div class="actions">
          <button type="submit" class="btn primary" [disabled]="tenantForm.pending || tenantForm.invalid" i18n="Finish owner creation button@@ownerCreateFinishButton">Terminer</button>
          <button type="button" class="btn cancel" (click)="onCancel()" i18n="Cancel owner creation@@ownerCreateCancelButton">Annuler</button>
        </div>
        <button type="button" class="back" cdkStepperPrevious>
          <i class="material-icons">arrow_back</i> <ng-container i18n="Previous step button label@@customerCreateBackButton">Retour</ng-container>
        </button>
      </div>
    </form>
  </cdk-step>

</vitamui-common-stepper>
