@import '~ui-frontend-common/sass/variables/colors';

:host {
  .image-area {
    border: 2px dashed $greyish-two;
    border-radius: 6px;
    height: 100px;
    max-width: 200px;
  }

  img {
    max-width: 180px;
    max-height: 120px;
  }

  .label-color {
    display: flex;
    flex-direction: column;
  }

  label {
    font-size: 13px;
    color: $greyish-two;
    font-weight: normal;
  }

  label+* {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .field-color-preview {
    padding: 0;
    margin: 0 5px 0 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: relative;
    top: 10px;
  }
}