<div class="d-flex">
  <div class="col-6 mr-4 d-flex justify-content-center align-items-center">
    <button class="btn secondary mb-20" (click)="openUpdateCustomerLogo()" [disabled]="readonly">
      <div i18n="customer graphic identity tab edit@@customerGraphicIdentityTabEditButton">
          Modifier
      </div>
    </button>
  </div>
  <div class="col-6">
    <label i18n="@@labelLogoPortal">Logo portal</label>
    <div class="image-area d-flex flex-column justify-content-center align-items-center"
      [style.background-color]="theme.colors['vitamui-background'] | safeStyle"
    >
      <div *ngIf="isLoading" class="loading-spinner"><mat-spinner diameter="50" color="accent"></mat-spinner></div>
      <img *ngIf="!isLoading" [src]="theme?.portalUrl">
    </div>
  </div>
</div>
 
<div class="d-flex mt-4">
  <div class="col-6 mr-4">
    <label i18n="@@labelLogoHeader">Logo header</label>
    <div class="image-area d-flex flex-column justify-content-center align-items-center"
      [style.background-color]="theme.colors['vitamui-header-footer'] | safeStyle"
    >
      <div *ngIf="isLoading" class="loading-spinner"><mat-spinner diameter="50" color="accent"></mat-spinner></div>
      <img *ngIf="!isLoading" [src]="theme?.headerUrl">
    </div>
  </div>

  <div class="col-6">
    <label i18n="@@labelLogoFooter">Logo footer</label>
    <div class="image-area d-flex flex-column justify-content-center align-items-center"
      [style.background-color]="theme.colors['vitamui-header-footer'] | safeStyle"
    >
      <div *ngIf="isLoading" class="loading-spinner"><mat-spinner diameter="50" color="accent"></mat-spinner></div>
      <img *ngIf="!isLoading" [src]="theme?.footerUrl">
    </div>
  </div>
</div>

<div class="col-12 d-flex flex-column mt-4">
  <label i18n="@@labelTitlePortal">Titre du portail</label>
  <span>{{theme.portalTitle}}</span>
</div>

<div class="col-12 d-flex flex-column mt-4">
  <label i18n="@@labelMessagePortal">Message d'accueil du portail</label>
  {{theme.portalMessage}}
</div>

<div *ngFor="let colorName of ['vitamui-primary', 'vitamui-secondary']" class="col-12 d-flex mt-4">
  <div class="label-color p-0 col-4">
    <label>{{COLOR_NAME[colorName]}}</label>
    {{theme.colors[colorName]}}
  </div>
  <div class="pl-2">
    <span 
      *ngFor="let light of ['-900','-800','-700','-600','','-400','-300','-200','-100','-50']"
      class="field-color-preview"
      [style.background-color]="theme.colors[colorName + light] | safeStyle">
    </span>
  </div>
</div>
  
<div class="col-12 d-flex mt-4">
  <div class="label-color p-0 col-4">
    <label i18n="@@labelColorTertiary">Couleur tertiaire</label>
    {{theme.colors['vitamui-tertiary']}}
  </div>
  <div class="pl-2">
    <span class="field-color-preview" [style.background-color]="theme.colors['vitamui-tertiary'] | safeStyle"></span>
  </div>
</div>

<div class="col-12 d-flex mt-4">
  <div class="label-color p-0 col-4">
    <label i18n="@@labelColorHeaderFooter">Couleur header/footer</label>
    {{theme.colors['vitamui-header-footer']}}
  </div>
  <div class="pl-2">
    <span class="field-color-preview" [style.background-color]="theme.colors['vitamui-header-footer'] | safeStyle"></span>
  </div>
</div>

<div class="col-12 d-flex mt-4">
  <div class="label-color p-0 col-4">
    <label i18n="@@labelColorBackground">Couleur background</label>
    {{theme.colors['vitamui-background']}}
  </div>
  <div class="pl-2">
    <span class="field-color-preview" [style.background-color]="theme.colors['vitamui-background'] | safeStyle"></span>
  </div>
</div>
