@import '~ui-frontend-common/sass/variables/colors';

$input-height: 70px;

:host {
    display: block;
    position: relative;
    width: 763px;
}

.search-result {
    position: absolute;
    top: $input-height * 0.5;
    left: 20px;
    padding: $input-height * 0.5 30px 0 30px;
    background: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 20px 0 rgba(171, 169, 169, 0.3);

    &:not(.show) {
        display: none;
    }

    .search-result-item {
        cursor: pointer;
        text-decoration: none;
        padding: 20px 0;
        display: flex;
        align-items: center;
        color: #808080;

        ::ng-deep strong {
            color: $charcoal-grey;
        }

        .search-result-icon {
            margin-right: 20px;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #e5e5e5;
        }

        .search-result-arrow {
            color: $white-four;
            margin-left: 5px;
            font-size: 16px;
        }
    }
}

.search-control {
    position: relative;

    input[type=search] {
        border: none;
        width: 100%;
        height: $input-height;
        border-radius: $input-height / 2;
        background-color: $white;
        box-shadow: 0 0 20px 0 rgba(171, 169, 169, 0.3);
        border: none;
        padding: 10px $input-height 10px 36px;
        display: flex;
        outline: none;
        font-size: 18px;

        &::placeholder {
            color: $greyish-two;
            font-weight: normal;
        }
    }

    i {
        position: absolute;
        top: 10px;
        right: 10px;
        width: $input-height - 20px;
        height: $input-height - 20px;
        border-radius: 50%;
        background-color: var(--vitamui-primary);
        color: $white;
        line-height: $input-height - 20px;
        text-align: center;
        font-size: $input-height * 0.4;
    }
}
