:host {
  div {
    margin: 3rem 5rem;
  }

  mat-sidenav {
    max-width: 250px;
  }

  .mat-mdc-list-base {
    overflow-y: auto;
    height: 100%;
  }

  mat-expansion-panel {
    mat-expansion-panel {
      padding-left: 1rem;
    }

    mat-expansion-panel-header {
      &.mat-expanded {
        height: var(--mat-expansion-header-collapsed-state-height);
      }

      &:hover {
        background-color: var(--mat-expansion-header-hover-state-layer-color);
      }

      ::ng-deep .mat-content {
        font-weight: bold;
      }

      &:focus,
      &.active {
        color: white;
        background-color: var(--vitamui-primary);
        outline: none;

        ::ng-deep .mat-expansion-indicator::after {
          color: white;
        }

        &:hover {
          background-color: var(--vitamui-primary-700);
        }
      }
    }

    ::ng-deep .mat-expansion-panel-body {
      padding: 0;

      a {
        height: 2rem;
        padding: 0 24px;
        display: inline-block;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 2rem;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        text-decoration: none;
        color: var(--vitamui-grey-900);

        &:hover {
          background: var(--mat-expansion-header-hover-state-layer-color);
        }

        &.active {
          background: var(--vitamui-primary-100);

          &:hover {
            background: var(--vitamui-primary-200);
          }
        }
      }
    }
  }

  ::ng-deep {
    .mat-drawer-container {
      height: 100%;
    }
  }
}

.mat-drawer-content {
  background-color: white;
}
