<div class="header"></div>

<div class="content">
  <h2 class="title">{{ 'PERSISTENT_IDENTIFIER_SEARCH.MODAL.SEARCH_BY_ID' | translate }}</h2>
  <span class="subtitle">
    {{ 'PERSISTENT_IDENTIFIER_SEARCH.MODAL.FOUND_OBJECT_MESSAGE' | translate: { ark: ark, usageVersion: usageVersion } }}
  </span>

  <div class="main-content"></div>

  <div class="actions">
    <button (click)="lookupUnit()" class="btn primary" type="button" [disabled]="downloading">
      {{ 'PERSISTENT_IDENTIFIER_SEARCH.MODAL.LOOKUP_ARCHIVAL_UNIT' | translate }}
    </button>
    <button (click)="downloadObject()" class="btn primary" type="button" [disabled]="downloading || isPhysicalMaster">
      {{ 'PERSISTENT_IDENTIFIER_SEARCH.MODAL.DOWNLOAD_OBJECT' | translate }}
    </button>
  </div>
</div>
