:host {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;

    &:hover, &:active {
        background: rgba(var(--vitamui-primary-rgb), 0.15);
    }

    &.table-filter-option-separator:not(:first-child) {
        border-top: 1px solid var(--vitamui-grey-300);
    }

    &.table-filter-option-separator:not(:last-child) {
        border-bottom: 1px solid var(--vitamui-grey-300);
    }
}

.vitamui-checkbox {
    margin-right: 15px;
}
