@import "~ui-frontend-common/sass/variables/colors";

.vitamui-header {
    background-image: none;
    max-width: 1280px;
    margin: auto;
    .controls {
        margin-top: 57.5px;

        h2 {
            font-weight: 300;
            font-size: 28px;

            > img {
                vertical-align: middle;
                width: 37px;
                margin-right: 17px;
            }
        }
    }
}

.filter-banner-container {
  display: flex;
  height: 70px;
  margin-left: 10px;
}

.custom-flex-controls{
    display: flex;
    justify-content: flex-end;
}
.search-bar-filters {
    width: 100%;
    .reset-filters {
      padding-right: calc(100% - 700px);
      margin-top: 10px;
      display: inline-block;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 13px;
      text-decoration-line: underline;
      cursor: pointer;
    }
  }
  
