<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    <app-logbook-operation-detail
      *ngIf="openedItem"
      [tenantIdentifier]="tenantIdentifier"
      [eventId]="openedItem?.id"
      (closePanel)="closePanel()"
    ></app-logbook-operation-detail>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-title-breadcrumb>
        <h5>{{ 'LOGBOOK.HOME.TITLE' | translate }}</h5>
      </vitamui-title-breadcrumb>

      <vitamui-banner [searchbarPlaceholder]="'LOGBOOK.HOME.SEARCH_PLACEHOLDER' | translate" (search)="onSearchSubmit($event)">
        <button class="btn primary" (click)="refreshList()">
          <span>{{ 'LOGBOOK.HOME.REFRESH' | translate }}</span>
          <i class="vitamui-icon vitamui-icon-refresh"></i>
        </button>
      </vitamui-banner>

      <form [formGroup]="dateRangeFilterForm" class="d-flex align-items-center mt-4 px-2 hgap-3">
        <vitamui-datepicker
          formControlName="startDate"
          [label]="'LOGBOOK.HOME.START_DATE' | translate"
          [max]="dateRangeFilterForm.get('endDate')?.value"
          outputType="Date"
          format="yyyy-MM-dd"
        ></vitamui-datepicker>
        <vitamui-datepicker
          formControlName="endDate"
          [label]="'LOGBOOK.HOME.END_DATE' | translate"
          [min]="dateRangeFilterForm.get('startDate')?.value"
          outputType="Date"
          format="yyyy-MM-dd"
        ></vitamui-datepicker>
      </form>
    </div>

    <div class="vitamui-content">
      <app-logbook-operation-list
        [filters]="filters"
        [tenantIdentifier]="tenantIdentifier"
        [searchText]="search"
        (eventClick)="openPanel($event)"
        (finishedLoading)="onFinishedLoading()"
      ></app-logbook-operation-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
