<vitamui-dialog-header
  [subhead]="'ONTOLOGY.SCHEMA_DELETE_DIALOG.TITLE' | translate"
  [title]="paths.length | i18nPlural: subtitle | translate: { number: paths.length - 1 }"
></vitamui-dialog-header>

<mat-dialog-actions>
  <button type="button" class="btn primary" (click)="submit()" [disabled]="deleting">
    {{ 'COMMON.CONFIRM' | translate }}
  </button>
  <button [matDialogClose]="false" class="btn link cancel" [disabled]="deleting">
    {{ 'COMMON.UNDO' | translate }}
  </button>
</mat-dialog-actions>
