spring:
  cloud:
    consul:
      enabled: true
      host: {{ hostvars[inventory_hostname][consul.network] if (inventory_hostname in groups['hosts_vitamui_consul_server'] or inventory_hostname in groups['hosts_consul_server']) else 'localhost' }}
      discovery:
        preferIpAddress: true
        tags: {{ consul_tags }}
spring.application.name: cas-server


server:
{% if vitamui_struct.secure | default(secure) | lower == "true" %}
  ssl:
    key-store: {{ vitamui_folder_conf }}/keystore_{{ vitamui_struct.service_name | default(service_name) }}.jks
    key-store-password: {{ password_keystore }}
    key-password: {{ password_keystore }}
    enabled-protocols: {{ssl_setting.enabled_protocols}}
    ciphers: {{ssl_setting.ciphers}}
{% endif %}
  host: {{ ip_service }}
  port: {{ vitamui_struct.port_service }}
{% if vitamui.cas_server.base_url is defined %}
  context-path: /
  servlet.session.cookie.path: /
{% else %}
  context-path: /cas
  servlet.session.cookie.path: /cas
{% endif %}
  tomcat:
    basedir: {{ vitamui_folder_conf }}/tomcat
    accesslog:
        enabled: "{{ vitamui_struct.accesslogs | default(accesslogs) | lower }}"
        directory: "{{ vitamui_folder_log }}"
        prefix: "accesslog-{{ vitamui_struct.vitamui_component}}"
        file-date-format: ".yyyy-MM-dd"
        suffix: ".log"

management:
  server:
    port: {{ vitamui_struct.port_admin }}
    ssl:
      enabled: false


vitamui.cas.tenant.identifier: {{ vitamui_platform_informations.cas_tenant }}
vitamui.cas.identity: cas
iam-client:
  server-host: {{ vitamui.iam_external.host }}
  server-port: {{ vitamui.iam_external.port_service }}
{% if vitamui.iam_external.secure | default(secure) | lower == "true" %}
  secure: {{ vitamui.iam_external.secure | default(secure) | lower }}
  ssl-configuration:
    keystore:
      key-path: {{ vitamui_folder_conf }}/keystore_{{ vitamui_struct.service_name | default(service_name) }}.jks
      key-password: {{ password_keystore }}
      type: JKS
    truststore:
      key-path: {{ vitamui_folder_conf }}/truststore_{{ vitamui_certificate_type }}.jks
      key-password: {{ password_truststore }}
    hostname-verification: false
{% endif %}


cas.authn.accept.users:


cas.message-bundle.base-names: classpath:overriden_messages,classpath:messages


{% if vitamui.cas_server.base_url is undefined %}
cas.tgc.path: /cas
{% endif %}
cas.tgc.secure: true
cas.tgc.crypto.enabled: false
cas.webflow.crypto.enabled: true
cas.authn.pm.reset.crypto.enabled: true


##
# CAS Web Application Session Configuration
#
# 4 (hours) * 60 (minutes) * 60 (seconds)
#server.servlet.session.timeout: PT14400S
#cas.ticket.tgt.hard-timeout.time-to-kill-in-seconds: 14400


{% if vitamui.cas_server.base_url is defined %}
cas.server.prefix: {{ vitamui.cas_server.base_url }}
{% else %}
cas.server.prefix: {{ url_prefix }}/cas
{% endif %}
login.url: ${cas.server.prefix}/login

cas.service-registry.mongo.client-uri: "mongodb://{{ mongodb.cas.user }}:{{ mongodb.cas.password }}@{{ mongodb.host }}:{{ mongodb.mongod_port | default(27017) }}/{{ mongodb.cas.db }}?replicaSet={{ mongod_replicaset_name }}&connectTimeoutMS={{ mongod_client_connect_timeout_ms }}"
cas.service-registry.mongo.collection: services
cas.service-registry.mongo.user-id: {{ mongodb.cas.user }}
cas.service-registry.mongo.password: {{ mongodb.cas.password }}


cas.authn.surrogate.separator: ","
cas.authn.surrogate.sms.attribute-name: fakeNameToBeSureToFindNoAttributeAndNeverSendAnSMS

# 24 hours cache for login delegation
# Must be at least 24 hours as this cache is also used for password management and its 24-hour-creation email
cas.ticket.tst.time-to-kill-in-seconds: 86400

cas.authn.pm.core.enabled: true

{% if vitamui_password_configurations.anssiPolicyPattern is defined and vitamui_password_configurations.password.profile == "anssi"  %}
cas.authn.pm.core.policy-pattern: '{{ vitamui_password_configurations.anssiPolicyPattern | replace("'","''") }}'
{% else %}
cas.authn.pm.core.policy-pattern: '{{ vitamui_password_configurations.customPolicyPattern | replace("'","''") }}'
{% endif %}

cas.authn.pm.reset.mail.subject: Requete de reinitialisation de mot de passe
cas.authn.pm.reset.mail.text: "Changez de mot de passe via le lien: %s"
cas.authn.pm.reset.mail.from: {{ smtp.cas.sender }}
cas.authn.pm.reset.expiration-minutes: {{ smtp.cas.expiration }}
cas.authn.pm.reset.mail.attribute-name: email
cas.authn.pm.reset.security-questions-enabled: false
cas.authn.pm.reset.include-server-ip-address: false
cas.authn.pm.reset.include-client-ip-address: false
cas.authn.pm.core.auto-login: true

# Used to sign/encrypt the password-reset link
# cas.authn.pm.reset.crypto.encryption.key:
# cas.authn.pm.reset.crypto.signing.key:
# cas.authn.pm.reset.crypto.enabled: true

spring.mail.host: {{ smtp.host }}
spring.mail.port: {{ smtp.port }}
spring.mail.protocol: {{ smtp.protocol|lower }}
spring.mail.username: {{ smtp.user }}
spring.mail.password: {{ smtp.password }}
spring.mail.testConnection: {{ smtp.test_smtp_connection|lower }}
spring.mail.properties.mail.{{ smtp.protocol|lower }}.auth: {{ smtp.auth|lower }}
spring.mail.properties.mail.{{ smtp.protocol|lower }}.starttls.enable: {{ smtp.tls_enable|lower }}
spring.mail.properties.mail.transport.protocol: {{ smtp.protocol|lower }}

{% if smtp.protocol|lower == 'smtps' %}
spring.mail.properties.mail.smtps.ssl.checkserveridentity: {{ smtp.smtps.checkserveridentity|lower }}
spring.mail.properties.mail.smtps.ssl.trust: "{{ smtp.smtps.trust|lower }}"
spring.mail.properties.mail.smtps.timeout: {{ smtp.smtps.timeout|default('8000') }}
spring.mail.properties.mail.smtps.ssl.protocols: {{ smtp.smtps.ssl.protocols}}
{% endif %}


cas.authn.throttle.failure.threshold: 2
cas.authn.throttle.failure.range-seconds: 3


cas:
  logout:
    follow-service-redirects: true
    redirect-parameter: next


management.endpoints.enabled-by-default: true
management.endpoints.web.exposure.include: '*'
cas.monitor.endpoints.endpoint.defaults.access[0]: PERMIT
management.metrics.export.prometheus.enabled: true


{% if sms.enabled|lower == "true" %}
# for SMS:
cas.sms-provider.twilio.account-id: {{ sms.account }}
cas.sms-provider.twilio.token: {{ sms.token }}
mfa.sms.sender: "{{ sms.sender }}"
{% endif %}


vitamui.portal.url: {{ vitamui.portal.base_url|default(url_prefix) }}


token.api.cas: tokcas_ie6UZsEcHIWrfv2x


ip.header: X-Real-IP


# 8 hours in seconds
# the old api.token.ttl property
cas.authn.oauth.access-token.max-time-to-live-in-seconds: 28800


server-identity:
  identityName: {{ vitamui_site_name if groups['hosts_vitamui_consul_server'] | default([]) | length > 0 else vitam_site_name }}
  identityRole: {{ vitamui_struct.vitamui_component }}
  identityServerId: 1


# Example to override theme colors, logo, favicon, platform name ...
theme:
  vitamui-platform-name: {{ vitamui.cas_server.theme.vitamui_platform_name }}
  vitamui-favicon: {{ vitamui.cas_server.theme.vitamui_favicon }}
  vitam-logo: {{ vitamui.cas_server.theme.vitam_logo }}
  vitamui-logo-large: {{ vitamui.cas_server.theme.vitamui_logo_large }}
  primary: '{{ vitamui_platform_informations.theme.theme_colors.vitamui_primary }}'
  secondary: '{{ vitamui_platform_informations.theme.theme_colors.vitamui_secondary }}'
  background: '{{ vitamui_platform_informations.theme.theme_colors.cas_background }}'

opentracing:
  jaeger:
    enabled: {{ opentracing.jaeger.enabled }}
    logSpans: {{ opentracing.jaeger.log_spans }}
    expandExceptionLogs: {{opentracing.jaeger.expand_exception_logs}}
    udp-sender:
      host: {{ opentracing.jaeger.udp_sender.host }}
      port: {{ opentracing.jaeger.udp_sender.port }}

logging:
  config: {{ vitamui_folder_conf }}/logback.xml
  level:
    org.reflections.Reflections: ERROR
    org.apereo.cas.web.CasWebApplication: {{ vitamui_struct.log.vitamui_level | default(log.vitamui_level) }}
    org.springframework.boot.autoconfigure.security: {{ vitamui_struct.log.vitamui_level | default(log.vitamui_level) }}
    org.jasig.cas.client: {{ vitamui_struct.log.vitamui_level | default(log.vitamui_level) }}
    org.apereo: {{ vitamui_struct.log.vitamui_level | default(log.vitamui_level) }}
    org.springframework.cloud: {{ vitamui_struct.log.vitamui_level | default(log.vitamui_level) }}
    org.springframework.amqp: OFF
    org.springframework.context.annotation: OFF
    org.springframework.boot.devtools: OFF
    org.apereo.cas.web.flow: INFO
    org.apereo.inspektr.audit.support: OFF
    fr.gouv.vitamui.cas: {{ vitamui_struct.log.vitamui_level | default(log.vitamui_level) }}
    org.elasticsearch.metrics: {{ vitamui_struct.log.vitamui_level | default(log.vitamui_level) }}
    fr.gouv.vitamui.commons: {{ vitamui_struct.log.vitamui_level | default(log.vitamui_level) }}

{% if vitamui.cas_server.cors.enabled | default('false') | lower == "true" %}
# Cas CORS (necessary for mobile app)
cas.http-web-request.cors.enabled: true
cas.http-web-request.cors.allow-credentials: false
cas.http-web-request.cors.allow-origins: ['*']
cas.http-web-request.cors.allow-methods: ['*']
cas.http-web-request.cors.allow-headers: ['*']
{% endif %}

# Password configuration
password:
  length: {{ vitamui_password_configurations.password.length | default('8') }}
  max-old-password: {{ vitamui_password_configurations.password.max_old_password | default('3') }}
{% if vitamui_password_configurations.password.check_occurrence is defined and vitamui_password_configurations.password.check_occurrence | lower == true %}
  check-occurrence: true
{% endif %}
{% if vitamui_password_configurations.password.check_occurrence is defined and vitamui_password_configurations.password.check_occurrence == false and vitamui_password_configurations.password.profile == "anssi" %}
  check-occurrence: true
  occurrences-chars-number: 3
{% endif %}
{% if vitamui_password_configurations.password.check_occurrence is undefined and vitamui_password_configurations.password.profile == "anssi" %}
  check-occurrence: true
  occurrences-chars-number: 3
{% endif %}
{% if vitamui_password_configurations.password.check_occurrence is defined and vitamui_password_configurations.password.check_occurrence == true and vitamui_password_configurations.password.profile == "anssi"%}
  check-occurrence: true
  occurrences-chars-number: {{ vitamui_password_configurations.password.occurrences_chars_number | default('3') }} # should be >=3
{% endif %}
{% if vitamui_password_configurations.password.check_occurrence is defined and vitamui_password_configurations.password.check_occurrence == true and vitamui_password_configurations.password.profile == "custom"%}
  check-occurrence: true
  occurrences-chars-number: {{ vitamui_password_configurations.password.occurrences_chars_number | default('3') }}
{% endif %}
{% if vitamui_password_configurations.password.profile is defined and vitamui_password_configurations.password.profile | lower != 'anssi' %}
  profile: "custom"
{% else %}
  profile: "anssi"
{% endif %}
  constraints:
{% if vitamui_password_configurations.password.constraints.defaults is defined and vitamui_password_configurations.password.profile == 'anssi' %}
    defaults:
{% if vitamui_password_configurations.password.profile == 'anssi' and vitamui_password_configurations.password.constraints.defaults.fr is defined %}
      fr:
          messages:
{% for message in vitamui_password_configurations.password.constraints.defaults.fr.messages %}
            - {{ message }}
{% endfor %}
          special-chars:
               title: "{{ vitamui_password_configurations.password.constraints.defaults.fr.special_chars.title }}"
               messages:
{% for message in vitamui_password_configurations.password.constraints.defaults.fr.special_chars.messages %}
                  - {{ message }}
{% endfor %}
{% endif %}
{% if vitamui_password_configurations.password.profile == 'anssi' and vitamui_password_configurations.password.constraints.defaults.en is defined %}
      en:
          messages:
{% for message in vitamui_password_configurations.password.constraints.defaults.en.messages %}
            - {{ message }}
{% endfor %}
          special-chars:
               title: "{{ vitamui_password_configurations.password.constraints.defaults.en.special_chars.title }}"
               messages:
{% for message in vitamui_password_configurations.password.constraints.defaults.en.special_chars.messages %}
                  - {{ message }}
{% endfor %}
{% endif %}
{% if vitamui_password_configurations.password.profile == 'anssi' and vitamui_password_configurations.password.constraints.defaults.de is defined %}
      de:
          messages:
{% for message in vitamui_password_configurations.password.constraints.defaults.de.messages %}
            - {{ message }}
{% endfor %}
          special-chars:
               title: "{{ vitamui_password_configurations.password.constraints.defaults.de.special_chars.title }}"
               messages:
{% for message in vitamui_password_configurations.password.constraints.defaults.de.special_chars.messages %}
                  - {{ message }}
{% endfor %}
{% endif %}
{% else %}
    customs:
{% if vitamui_password_configurations.password.profile == 'custom' and vitamui_password_configurations.password.constraints.customs.fr is defined %}
      fr:
        title: "{{ vitamui_password_configurations.password.constraints.customs.fr.title }}"
        messages:
{% for message in vitamui_password_configurations.password.constraints.customs.fr.messages %}
              - {{ message }}
{% endfor %}
{% endif %}
{% if vitamui_password_configurations.password.profile == 'custom' and vitamui_password_configurations.password.constraints.customs.en is defined %}
      en:
        title: "{{ vitamui_password_configurations.password.constraints.customs.en.title }}"
        messages:
{% for message in vitamui_password_configurations.password.constraints.customs.en.messages %}
              - {{ message }}
{% endfor %}
{% endif %}
{% if vitamui_password_configurations.password.profile == 'custom' and vitamui_password_configurations.password.constraints.customs.de is defined %}
      de:
        title: "{{ vitamui_password_configurations.password.constraints.customs.de.title }}"
        messages:
{% for message in vitamui_password_configurations.password.constraints.customs.de.messages %}
              - {{ message }}
{% endfor %}
{% endif %}
{% endif %}
