<div class="text large bold">{{ 'USER.GROUP.MODAL.AUTORISATION_STEP.TITLE' | translate }}</div>

<vitamui-common-search-bar
  class="my-3"
  [placeholder]="'USER.GROUP.MODAL.AUTORISATION_STEP.INPUT_PLACEHOLDER' | translate"
  (search)="onSearch($event)"
  [disabled]="searchActiv"
></vitamui-common-search-bar>

@if (groupName) {
  <div class="d-flex mt-4 mb-3">
    <div class="text medium bold">{{ 'USER.GROUP.MODAL.AUTORISATION_STEP.ATTRIBUATE_GROUP' | translate }} :</div>
    &nbsp;<span class="text medium">{{ groupName }}</span>
  </div>
}

<div class="vitamui-table">
  <div class="vitamui-table-head p-0 py-3 d-flex align-items-center">
    <div class="pl-4">{{ 'USER.GROUP.MODAL.AUTORISATION_STEP.RESULTS_TABLE.GROUP_LABEL' | translate }}</div>
  </div>

  <div class="vitamui-table-body">
    <div class="vitamui-table-rows">
      @for (group of groups; track group) {
        @if (!group?.selected) {
          <div
            class="vitamui-row p-0 px-4"
            [class.no-hover]="row.state === 'expanded'"
            [vitamuiCommonCollapse]
            #row="vitamuiCommonCollapse"
          >
            <div class="d-flex justify-content-between align-items-center clickable" (click)="updateGroup(group?.id, group?.name)">
              <div class="align-items-center w-100" vitamuiCommonEllipsis>{{ group?.name }}</div>
              <button class="btn link underline" (click)="$event.stopPropagation(); row.toggle()">
                {{
                  row.state === 'collapsed'
                    ? ('USER.GROUP.MODAL.AUTORISATION_STEP.RESULTS_TABLE.MORE_DETAIL' | translate)
                    : ('USER.GROUP.MODAL.AUTORISATION_STEP.RESULTS_TABLE.LESS_DETAIL' | translate)
                }}
              </button>
            </div>
            @if (row.state === 'expanded') {
              <app-group-detail [group]="group" [@collapseAnimation]></app-group-detail>
            }
          </div>
        }
      }
    </div>
  </div>
</div>
