/** TODO DEPRECATED : REMOVE THIS CSS AT THE END OF THE REWORK **/

.after-search-launched-button {
  color: #fff;
  background-color: #2c76c9;
  border: 1px solid #2c76c9;
  box-sizing: border-box;
  border-radius: 5px;
}

.search-criterias {
  font-size: large;
  font-weight: bold;
  margin-top: 50px;
}
