@use '../../assets/css/mixins';
@use '../../assets/css/layout';
@use 'mixins/elevation' as elevation;

::ng-deep .vitamui-spinner.mat-mdc-progress-spinner circle,
.vitamui-spinner .mat-mdc-progress-spinner circle {
  stroke: var(--vitamui-primary) !important;
}

.steackhouse {
  display: block;
  position: absolute;
  right: 50%;
  top: 30%;
  z-index: 1000;
}

.pastis-btn-show-profile {
  @include elevation.shadow-32dp-primary;
  position: absolute;
  width: 70px;
  height: 70px;
  left: -1px;
  top: 280px;
  z-index: 10001;
  background-color: var(--vitamui-primary);
  transition-property: all;
  transition-duration: 0.5s;
}

.pastis-icon-show-profile {
  margin-bottom: 14px;
  margin-right: 14px;
  font-size: 40px;
  color: var(--vitamui-white);
}

.pastis-side-nav {
  @include elevation.shadow-64dp-dark;
}

.mat-sidenav {
  width: 100% !important;
  height: 100%;
  top: 0px;
  position: fixed;
  @extend .pastis-slide-nav-profile;
}
