<div vitamuiCommonInfiniteScroll (vitamuiScroll)="onScroll()">
  <div class="vitamui-table">
    <div class="vitamui-table-head">
      <div class="col-2">
        <button
          class="vitamui-filter-button"
          [vitamuiCommonTableFilter]="statusFilterTemplate"
          [class.active]="filterMap['status'] && filterMap['status'].length > 0"
        >
          <i class="material-icons vitamui-row-icon">filter_list</i>
        </button>

        <ng-template #statusFilterTemplate>
          <vitamui-common-table-filter [(filter)]="filterMap['status']" (filterChange)="onFilterChange('status', $event)">
            <vitamui-common-table-filter-option value="ACTIVE">
              <div class="table-filter-icon">
                <i class="vitamui-icon vitamui-icon-document-layers status-badge status-badge-green close"></i>
                {{ 'CONTRACT_MANAGEMENT.CONTRACT_LIST.ACTIVE' | translate }}
              </div>
            </vitamui-common-table-filter-option>
            <vitamui-common-table-filter-option value="INACTIVE">
              <div class="table-filter-icon">
                <i class="vitamui-icon vitamui-icon-document-layers status-badge status-badge-grey close"></i>
                {{ 'CONTRACT_MANAGEMENT.CONTRACT_LIST.INACTIVE' | translate }}
              </div>
            </vitamui-common-table-filter-option>
          </vitamui-common-table-filter>
        </ng-template>

        <i class="vitamui-icon vitamui-icon-document-layers vitamui-row-icon"></i>
        <vitamui-common-order-by-button
          orderByKey="Status"
          [(orderBy)]="orderBy"
          [(direction)]="direction"
          (orderChange)="emitOrderChange()"
        ></vitamui-common-order-by-button>
      </div>
      <div class="col-2">
        <span> {{ 'CONTRACT_MANAGEMENT.CONTRACT_LIST.IDENTIFIER' | translate }}</span>
        <vitamui-common-order-by-button
          orderByKey="Identifier"
          [(orderBy)]="orderBy"
          [(direction)]="direction"
          (orderChange)="emitOrderChange()"
        >
        </vitamui-common-order-by-button>
      </div>
      <div class="col-4">
        <span>{{ 'CONTRACT_MANAGEMENT.CONTRACT_LIST.NAME' | translate }}</span>
        <vitamui-common-order-by-button
          orderByKey="Name"
          [(orderBy)]="orderBy"
          [(direction)]="direction"
          (orderChange)="emitOrderChange()"
        ></vitamui-common-order-by-button>
      </div>
      <div class="col-2">
        <span> {{ 'CONTRACT_MANAGEMENT.CONTRACT_LIST.CREATION_DATE' | translate }}</span>
        <vitamui-common-order-by-button
          orderByKey="CreationDate"
          [(orderBy)]="orderBy"
          [(direction)]="direction"
          (orderChange)="emitOrderChange()"
        ></vitamui-common-order-by-button>
      </div>

      <div class="col-2">
        <span> {{ 'CONTRACT_MANAGEMENT.CONTRACT_LIST.LAST_UPDATE_DATE' | translate }}</span>
        <vitamui-common-order-by-button
          orderByKey="LastUpdate"
          [(orderBy)]="orderBy"
          [(direction)]="direction"
          (orderChange)="emitOrderChange()"
        ></vitamui-common-order-by-button>
      </div>
    </div>

    <div class="vitamui-table-body">
      <div
        class="vitamui-table-rows"
        *ngFor="let managementContract of dataSource; let index = index"
        (click)="managementContractClick.emit(managementContract)"
      >
        <div class="vitamui-row d-flex align-items-center clickable">
          <div class="col-2">
            <i
              class="vitamui-icon vitamui-icon-document-layers vitamui-row-icon status-badge"
              [ngClass]="{
                'status-badge-green': managementContract?.status == 'ACTIVE',
                'status-badge-grey': managementContract?.status == 'INACTIVE'
              }"
            ></i>
          </div>
          <div class="col-2">{{ managementContract?.identifier }}</div>
          <div class="col-4">{{ managementContract?.name }}</div>
          <div class="col-2">
            <div>{{ managementContract?.creationDate | dateTime : 'dd/MM/yyyy' }}</div>
            <span class="date">
              {{ managementContract?.creationDate | dateTime : 'HH:mm:ss' }}
            </span>
          </div>
          <div class="col-2">
            <div>{{ managementContract?.lastUpdate | dateTime : 'dd/MM/yyyy' }}</div>
            <span class="date">
              {{ managementContract?.lastUpdate | dateTime : 'HH:mm:ss' }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!pending && !managementContractService.canLoadMore; then resultfound; else loadingSpinner"></div>
</div>

<ng-template #loadingSpinner>
  <div class="vitamui-min-content">
    <mat-spinner class="vitamui-spinner medium"></mat-spinner>
  </div>
</ng-template>
<ng-template #resultfound>
  <div class="text-center">{{ 'CONTRACT_MANAGEMENT.CONTRACT_LIST.NO_RESULT_FOUND' | translate }}</div>
</ng-template>
