<h2>Date</h2>

<ng-template #date let-clazz="clazz" let-disabled="disabled" let-error="error">
  <div class="row gap-5">
    <vitamui-datepicker
      class="col-4"
      [ngClass]="clazz"
      [formControl]="error ? datepickerEmptyError : disabled ? datepickerDisabledEmpty : datepickerYearEmpty"
      pickerType="year"
      label="Date - AAAA"
    ></vitamui-datepicker>
    <vitamui-datepicker
      class="col-4"
      [ngClass]="clazz"
      [formControl]="error ? datepickerEmptyError : disabled ? datepickerDisabledEmpty : datepickerMonthEmpty"
      pickerType="month"
      label="Date - AAAA/MM"
    ></vitamui-datepicker>
    <vitamui-datepicker
      class="col-4"
      [ngClass]="clazz"
      [formControl]="error ? datepickerEmptyError : disabled ? datepickerDisabledEmpty : datepickerDayEmpty"
      pickerType="day"
      label="Date - AAAA/MM/JJ"
    ></vitamui-datepicker>

    <vitamui-datepicker
      [formControl]="error ? datepickerErrorYear : disabled ? datepickerDisabledYear : datepickerYear"
      class="col-4"
      [ngClass]="clazz"
      pickerType="year"
      label="Date - AAAA"
    ></vitamui-datepicker>
    <vitamui-datepicker
      [formControl]="error ? datepickerErrorMonth : disabled ? datepickerDisabledMonth : datepickerMonth"
      class="col-4"
      [ngClass]="clazz"
      pickerType="month"
      label="Date - AAAA/MM"
    ></vitamui-datepicker>
    <vitamui-datepicker
      [formControl]="error ? datepickerErrorDay : disabled ? datepickerDisabledDay : datepickerDay"
      class="col-4"
      [ngClass]="clazz"
      pickerType="day"
      label="Date - AAAA/MM/JJ"
    ></vitamui-datepicker>
  </div>
</ng-template>

<div class="row">
  <div class="col-6">
    <h3>Default</h3>
    <ng-container *ngTemplateOutlet="date"></ng-container>
  </div>
  <div class="col-6">
    <h3>Active</h3>
    <ng-container [ngTemplateOutlet]="date" [ngTemplateOutletContext]="{ clazz: 'focused' }"></ng-container>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <h3>Disabled</h3>
    <ng-container [ngTemplateOutlet]="date" [ngTemplateOutletContext]="{ disabled: true }"></ng-container>
  </div>
  <div class="col-6">
    <h3>Error</h3>
    <ng-container [ngTemplateOutlet]="date" [ngTemplateOutletContext]="{ error: true }"></ng-container>
  </div>
</div>

<h3>Min/Max</h3>
<div class="row">
  <vitamui-datepicker
    class="col-3"
    [formControl]="startDate"
    pickerType="day"
    label="Start date"
    [max]="endDate.value"
  ></vitamui-datepicker>
  <vitamui-datepicker class="col-3" [formControl]="endDate" pickerType="day" label="End date" [min]="startDate.value"></vitamui-datepicker>
</div>
