<form [formGroup]="form">
  <vitamui-common-slide-toggle
    formControlName="enabled"
    [matTooltip]="'HIERARCHY.INFORMATIONS.ACTIVE_SWITCH_TOOLTIP' | translate"
    [matTooltipDisabled]="profile?.groupsCount == 0"
    matTooltipClass="vitamui-tooltip"
  >
    <span *ngIf="!form?.get('enabled').value">{{ 'HIERARCHY.INFORMATIONS.INACTIVE_SWITCH' | translate }}</span>
    <span *ngIf="form?.get('enabled').value">{{ 'HIERARCHY.INFORMATIONS.ACTIVE_SWITCH' | translate }}</span>
  </vitamui-common-slide-toggle>

  <div class="row">
    <div class="col-12">
      <vitamui-common-editable-input
        formControlName="identifier"
        maxlength="12"
        [label]="'COMMON.ID' | translate"
        [validator]="form?.get('identifier')?.validator"
        [asyncValidator]="form?.get('identifier')?.asyncValidator"
      >
      </vitamui-common-editable-input>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <vitamui-common-editable-input
        formControlName="name"
        maxlength="100"
        [label]="'HIERARCHY.INFORMATIONS.NAME' | translate"
        [validator]="form?.get('name')?.validator"
        [asyncValidator]="form?.get('name')?.asyncValidator"
      >
        <vitamui-common-field-error errorKey="required">{{ 'COMMON.REQUIRED' | translate }}</vitamui-common-field-error>
        <vitamui-common-field-error errorKey="nameExists">{{
          'HIERARCHY.INFORMATIONS.EXISTING_NAME' | translate
        }}</vitamui-common-field-error>
      </vitamui-common-editable-input>
    </div>
  </div>

  <div class="row">
    <div class="col-5">
      <div class="read-only-field">
        <label>{{ 'HIERARCHY.INFORMATIONS.LEVEL' | translate }}</label>
        <div>{{ userLevel }}</div>
      </div>
    </div>
    <div
      class="col-5"
      [matTooltip]="'HIERARCHY.INFORMATIONS.SUBLEVEL_TOOLTIP' | translate"
      matTooltipClass="vitamui-tooltip"
      [matTooltipDisabled]="profile?.groupsCount == 0"
    >
      <vitamui-common-editable-level-input
        formControlName="level"
        maxlength="250"
        [prefix]="userLevel"
        [label]="'HIERARCHY.INFORMATIONS.SUBLEVEL' | translate"
        [validator]="form?.get('level')?.validator"
      >
        <vitamui-common-field-error errorKey="required">{{ 'COMMON.REQUIRED' | translate }}</vitamui-common-field-error>
        <vitamui-common-field-error errorKey="nameExists">{{
          'HIERARCHY.INFORMATIONS.WRONG_FORMAT' | translate
        }}</vitamui-common-field-error>
      </vitamui-common-editable-level-input>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <vitamui-common-editable-textarea
        formControlName="description"
        maxlength="250"
        [label]="'HIERARCHY.INFORMATIONS.DESCRIPTION' | translate"
        [validator]="form?.get('description')?.validator"
      >
        <vitamui-common-field-error errorKey="required">{{ 'COMMON.REQUIRED' | translate }}</vitamui-common-field-error>
      </vitamui-common-editable-textarea>
    </div>
  </div>
</form>
