@import '../../../../sass/variables/colors';

.scroll-to-top {
  position: fixed;
  bottom: 12%;
  right: 1%;
  opacity: 0;
  transition: all .3s ease-in-out;
  z-index: 10;
}

.show-scrollTop {
  opacity: 1;
  transition: all .3s ease-in-out;
}

.mat-mini-fab {
  background-color: var(--vitamui-primary);
}
