<div>
  <h2>Upload files/directories</h2>

  <h3>Only 1 file (~25 MB max size)</h3>
  <vitamui-file-selector [maxSizeInBytes]="25 * 1024 * 1024"> </vitamui-file-selector>

  <h3>Multiple files allowed</h3>
  <p>Drag & dropped directories are spread to individual files.</p>
  <vitamui-file-selector [multiple]="true" [maxSizeInBytes]="25 * 1024 * 1024"> </vitamui-file-selector>

  <h3>Directory mode</h3>
  <p>Drag & dropped directories are treated as single elements.</p>
  <p>Individual files can also be added (through drag & drop only).</p>
  <vitamui-file-selector [directoryMode]="true" [maxSizeInBytes]="25 * 1024 * 1024"> </vitamui-file-selector>

  <h3>Only '.json' & '.png' files are allowed</h3>
  <vitamui-file-selector [multiple]="true" [extensions]="['.json', '.png']"> </vitamui-file-selector>

  <h3>Custom template</h3>
  <vitamui-file-selector #fs [multiple]="true">
    <ng-template #fileList>
      <ul style="margin: 0 auto">
        <li *ngFor="let file of fs.files">{{ file.name }} ({{ file.size }})</li>
      </ul>
    </ng-template>
    <ng-template #content>
      <h4 (click)="fs.openFileSelectorOSDialog()" class="text link primary text-center">Click me (or drag & drop)!</h4>
    </ng-template>
  </vitamui-file-selector>
</div>
