<div class="container p-4 align-items-stretch">
  <div class="gap-2 align-items-stretch">
    <label class="text bold normal primary uppercase"> {{ 'RULES.MANAGEMENT_RULE' | translate }}</label>

    <form [formGroup]="ruleDetailsForm" class="gap-4 align-items-stretch">
      <div class="row hgap-4">
        <vitamui-select
          class="col w-50"
          formControlName="rule"
          [options]="ruleOptions"
          [placeholder]="'RULES.MANAGEMENT_RULE' | translate"
          [searchBarPlaceHolder]="'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.PLACEHOLDER_SEARCHBAR_CHOOSE_MANAGEMENT_RULE' | translate"
        ></vitamui-select>
      </div>

      <div class="row hgap-4">
        <div class="col w-50">
          <div class="hgap-2">
            <vitamui-datepicker
              [label]="'RULES.APPRAISAL_RULES.START_DATE' | translate"
              formControlName="startDate"
              outputType="Date"
              format="dd/MM/yyyy"
              class="w-100"
            ></vitamui-datepicker>
            <button
              [ngStyle]="{
                'background-color': 'var(--vitamui-green)',
                color: 'var(--vitamui-white)',
                width: '30',
                height: '30',
              }"
              [style.visibility]="ruleDetailsForm.get('startDate').value && isShowCheckButton ? 'visible' : 'hidden'"
              type="button"
              mat-mini-fab
              (click)="addStartDate()"
            >
              <i class="material-icons">check</i>
            </button>
          </div>
        </div>

        <vitamui-input class="col" formControlName="endDate" [placeholder]="'RULES.APPRAISAL_RULES.END_DATE' | translate"> </vitamui-input>
      </div>

      <div *ngIf="isLoading; then loadingMode; else resultsFound"></div>

      <div class="d-flex">
        <button type="submit" class="btn primary mr-4" [disabled]="!ruleDetailsForm.valid || isDisabled" (click)="submit()">
          {{ 'RULES.COMMON.CONTROL' | translate }}
        </button>
        <button type="button" class="btn link cancel" (click)="onDelete()">{{ 'RULES.COMMON.UNDO' | translate }}</button>
      </div>
    </form>
  </div>
</div>

<ng-template #confirmDeleteAddRuleDialog>
  <vitamui-dialog-header [title]="'RULES.DIALOG_MESSAGE.DELETE_COMPONENT' | translate"></vitamui-dialog-header>
  <mat-dialog-actions>
    <button [matDialogClose]="true" class="btn primary btn-confirm-dialog">{{ 'RULES.COMMON.CONFIRM' | translate }}</button>
    <button matDialogClose class="btn cancel link">{{ 'RULES.COMMON.UNDO' | translate }}</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #loadingMode>
  <div class="vitamui-min-content">
    <mat-spinner class="vitamui-spinner large"></mat-spinner>
  </div>
</ng-template>

<ng-template #resultsFound>
  <div *ngIf="showText && itemsToUpdate !== '0'" class="row message-text-ok">
    <div class="col-1"><i class="material-icons">check_circle</i></div>
    <div class="col-11">
      {{ 'RULES.UA_CONTROL.UA_WITH_RULES_TO_UPDATE' | translate: { itemsToUpdate: itemsToUpdate } }}
    </div>
  </div>
  <div *ngIf="showText && itemsWithSameRule !== '0'" class="row message-text-ko">
    <div class="col-1"><i class="material-icons">error</i></div>
    <div class="col-11">
      {{ 'RULES.UA_CONTROL.UA_WITH_SAME_RULE' | translate: { itemsWithSameRule: itemsWithSameRule } }}
    </div>
  </div>
  <div *ngIf="showText && itemsWithSameRuleAndDate > 0" class="row message-text-ko">
    <div class="col-1"><i class="material-icons">error</i></div>
    <div class="col-11">
      {{ 'RULES.UA_CONTROL.UA_WITH_SAME_RULE_AND_DATE' | translate: { itemsWithSameRuleAndDate: itemsWithSameRuleAndDate } }}
    </div>
  </div>
</ng-template>
