<div class="container">
  <label class="title-text"> {{ 'RULES.APRAISAL_RULES.MANAGEMENT_RULES' | translate }}</label>
  <form [formGroup]="ruleDetailsForm">
    <div class="row content vitamui-form" style="margin-right: 0px">
      <vitamui-common-editable-input
        class="col-6"
        formControlName="rule"
        [validator]="ruleDetailsForm?.get('rule')?.validator"
        [asyncValidator]="ruleDetailsForm?.get('rule')?.asyncValidator"
        label="{{ 'RULES.APRAISAL_RULES.RULE_ID' | translate }}"
      >
        <vitamui-common-field-error errorKey="required">{{ 'COMMON.REQUIRED' | translate }}</vitamui-common-field-error>
        <vitamui-common-field-error errorKey="uniqueRuleId">
          {{ 'RULES.APRAISAL_RULES.SAME_RULE_ID' | translate }}</vitamui-common-field-error
        >
        <vitamui-common-field-error errorKey="ruleIdPattern"
          >{{ 'ARCHIVE_SEARCH.RULE.WRONG_FORMAT' | translate }}
        </vitamui-common-field-error>

        <vitamui-common-field-error errorKey="ruleIdExists"
          >{{ 'RULES.APRAISAL_RULES.RULE_NOT_EXIST' | translate }}
        </vitamui-common-field-error>
      </vitamui-common-editable-input>

      <vitamui-common-input
        class="col-6 px-0"
        formControlName="name"
        minlength="2"
        maxlength="100"
        placeholder="{{ 'RULES.APRAISAL_RULES.RULE_NAME' | translate }}"
      >
        <vitamui-common-input-error *ngIf="ruleDetailsForm?.get('name')?.touched && ruleDetailsForm?.get('name')?.hasError('required')">{{
          'COMMON.REQUIRED' | translate
        }}</vitamui-common-input-error>
      </vitamui-common-input>
    </div>

    <div class="row content vitamui-form" style="margin-right: 0px">
      <div class="col-6 form-control">
        <div class="vitamui-input" (click)="pickerSatrDate.open()">
          <span
            *ngIf="!ruleDetailsForm.get('startDate').value; else showStartDate"
            (click)="pickerSatrDate.open()"
            class="search-date-label"
          >
            {{ 'RULES.APRAISAL_RULES.START_DATE' | translate }}</span
          >

          <ng-template #showStartDate
            ><span (click)="pickerSatrDate.open()">{{ ruleDetailsForm.get('startDate').value | dateTime: 'dd/MM/yyyy' }} </span>
          </ng-template>
          <input class="hidden" size="0" [matDatepicker]="pickerSatrDate" formControlName="startDate" />
          <mat-datepicker #pickerSatrDate></mat-datepicker>
        </div>
        <button
          [ngStyle]="{
            'background-color': 'green',
            width: '30',
            height: '30',
            position: 'absolute',
            right: '20px',
            bottom: '35px',
          }"
          *ngIf="ruleDetailsForm.get('startDate').value && isShowCheckButton"
          type="button"
          mat-mini-fab
          (click)="addStartDate()"
        >
          <i class="material-icons">check</i>
        </button>
      </div>

      <vitamui-common-input
        class="col-6 px-0"
        formControlName="endDate"
        minlength="2"
        maxlength="100"
        placeholder=" {{ 'RULES.APRAISAL_RULES.END_DATE' | translate }}"
      >
        <vitamui-common-input-error
          *ngIf="ruleDetailsForm?.get('endDate')?.touched && ruleDetailsForm?.get('endDate')?.hasError('required')"
          >{{ 'COMMON.REQUIRED' | translate }}</vitamui-common-input-error
        >
      </vitamui-common-input>
    </div>

    <div *ngIf="isLoading; then loadingMode; else resultsFound"></div>

    <div class="d-flex mt-4 padding-btm-style">
      <button type="submit" class="btn primary mr-4" [disabled]="!ruleDetailsForm.valid || isDisabled" (click)="submit()">
        {{ 'RULES.COMMON.CONTROL' | translate }}
      </button>
      <button type="button" class="btn link cancel" (click)="onDelete()">{{ 'RULES.COMMON.UNDO' | translate }}</button>
    </div>
  </form>
</div>

<ng-template #confirmDeleteAddRuleDialog>
  <mat-dialog-content>
    <br />

    <div class="text large bold">{{ 'RULES.DIALOG_MESSAGE.DELETE_COMPONENT' | translate }}</div>
  </mat-dialog-content>
  <br />
  <mat-dialog-actions>
    <button [matDialogClose]="true" class="btn primary btn-confirm-dialog margin-btn">{{ 'RULES.COMMON.CONFIRM' | translate }}</button>

    <button matDialogClose class="btn cancel">{{ 'RULES.COMMON.UNDO' | translate }}</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #loadingMode>
  <div class="vitamui-min-content">
    <mat-spinner class="vitamui-spinner large"></mat-spinner>
  </div>
</ng-template>

<ng-template #resultsFound>
  <div *ngIf="showText && itemsToUpdate !== '0'" class="row message-text-ok">
    <div class="col-1"><i class="material-icons">check_circle</i></div>
    <div class="col-11">
      {{ 'RULES.UA_CONTROL.UA_WITH_RULES_TO_UPDATE' | translate: { itemsToUpdate: itemsToUpdate } }}
    </div>
  </div>
  <div *ngIf="showText && itemsWithSameRule !== '0'" class="row message-text-ko">
    <div class="col-1"><i class="material-icons">error</i></div>
    <div class="col-11">
      {{ 'RULES.UA_CONTROL.UA_WITH_SAME_RULE' | translate: { itemsWithSameRule: itemsWithSameRule } }}
    </div>
  </div>
  <div *ngIf="showText && itemsWithSameRuleAndDate > 0" class="row message-text-ko">
    <div class="col-1"><i class="material-icons">error</i></div>
    <div class="col-11">
      {{ 'RULES.UA_CONTROL.UA_WITH_SAME_RULE_AND_DATE' | translate: { itemsWithSameRuleAndDate: itemsWithSameRuleAndDate } }}
    </div>
  </div>
</ng-template>
