<mat-sidenav-container>
  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-title-breadcrumb>
        <h5>{{ 'PRESERVATION.HOME.TITLE' | translate }}</h5>
      </vitamui-title-breadcrumb>
      <vitamui-banner
        [searchbarPlaceholder]="'PRESERVATION.HOME.SEARCH_PLACEHOLDER' | translate"
        (search)="onSearchSubmit($event)"
      ></vitamui-banner>
    </div>
    <div class="vitamui-content">
      <app-preservation-group [searchText]="search"></app-preservation-group>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
