<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    @if (openedItem) {
      <app-preservation-preview (previewClose)="closePanel()" [selectedElement]="openedItem"></app-preservation-preview>
    }
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-title-breadcrumb>
        <h5>{{ 'PRESERVATION.HOME.TITLE' | translate }}</h5>
      </vitamui-title-breadcrumb>
      <vitamui-banner [searchbarPlaceholder]="'PRESERVATION.HOME.SEARCH_PLACEHOLDER' | translate" (search)="onSearchSubmit($event)">
        <div class="hgap-2">
          <button class="btn primary" (click)="importScenarios()">{{ 'PRESERVATION.ACTION.IMPORT_SCENARIOS' | translate }}</button>
          <vitamui-menu-button overlayPos="end" icon="vitamui-icon-more-horiz">
            <button mat-menu-item (click)="importGriffins()" [disabled]="!hasUpdateRole">
              {{ 'PRESERVATION.ACTION.IMPORT_GRIFFINS' | translate }}
            </button>
            <button mat-menu-item (click)="exportGriffins()" [disabled]="!hasUpdateRole">
              {{ 'PRESERVATION.ACTION.EXPORT_GRIFFINS' | translate }}
            </button>
            <button mat-menu-item (click)="exportScenarios()">
              {{ 'PRESERVATION.ACTION.EXPORT_SCENARIOS' | translate }}
            </button>
          </vitamui-menu-button>
        </div>
      </vitamui-banner>
    </div>
    <div class="vitamui-content">
      <app-preservation-group (selectElement)="showGriffin($event)" [searchText]="search"></app-preservation-group>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
