use iam;

db.applications.remove({});

db.applications.insert({
    "identifier" : "CUSTOMERS_APP",
    "url": "https://{{ vitamui_services.ui_identity_admin.server_name }}/customer",
    "icon": "vitamui-icon vitamui-icon-bank",
    "name": "Organisations",
    "category": "settings",
    "position": NumberInt(7),
    "hasCustomerList": false,
    "hasTenantList": false,
    "hasHighlight": true,
    "tooltip": "Paramétrer les organisations (clients, ...) et les coffres des organisations",
    "target": "_self"
});

db.applications.insert({
    "identifier" : "USERS_APP",
    "url": "https://{{ vitamui_services.ui_identity.server_name }}/user",
    "icon": "vitamui-icon vitamui-icon-user-keys",
    "name": "Utilisateurs",
    "category": "administrators",
    "position": NumberInt(2),
    "hasCustomerList": false,
    "hasTenantList": false,
    "hasHighlight": false,
    "tooltip": "Créer, Modifier et Gérer les utilisateurs...",
    "target": "_self"
});

db.applications.insert({
    "identifier" : "GROUPS_APP",
    "url": "https://{{ vitamui_services.ui_identity.server_name }}/group",
    "icon": "vitamui-icon vitamui-icon-keys",
    "name": "Groupes de profils",
    "category": "settings",
    "position": NumberInt(4),
    "hasCustomerList": false,
    "hasTenantList": false,
    "hasHighlight": false,
    "tooltip": "Paramétrer les groupes de profil de droits qui seront affectés aux utilisateurs",
    "target": "_self"
});

db.applications.insert({
    "identifier" : "PROFILES_APP",
    "url": "https://{{ vitamui_services.ui_identity.server_name }}/profile",
    "icon": "vitamui-icon vitamui-icon-admin-key",
    "name": "Profils APP Utilisateurs",
    "category": "settings",
    "position": NumberInt(5),
    "hasCustomerList": false,
    "hasTenantList": false,
    "hasHighlight": false,
    "tooltip": "Paramétrer les profils de droits des administrateurs qui utilisent l'APP Utilisateurs",
    "target": "_self"
});

db.applications.insert({
    "identifier" : "SUBROGATIONS_APP",
    "url": "https://{{ vitamui_services.ui_identity_admin.server_name }}/subrogation",
    "icon": "vitamui-icon vitamui-icon-link",
    "name": "Subrogation",
    "category": "administrators",
    "position": NumberInt(3),
    "hasCustomerList": true,
    "hasTenantList": false,
    "hasHighlight": true,
    "tooltip": "Subroger les droits d'un utilisateur par le support pour assistance ou pour assurer les prestations de paramètrage/administration pour un client",
    "target": "_self"
});

db.applications.insert({
    "identifier" : "HIERARCHY_PROFILE_APP",
    "url": "https://{{ vitamui_services.ui_identity.server_name }}/profile-hierarchy",
    "icon": "vitamui-icon vitamui-icon-user-key",
    "name": "Hiérarchisation des Profils",
    "category": "settings",
    "position": NumberInt(6),
    "hasCustomerList": false,
    "hasTenantList": true,
    "hasHighlight": false,
    "tooltip": "Paramétrer les niveaux de privilèges des profils de droits pour une organisation. Organisation de la séparation des rôles selon la PSSI de l'organisation",
    "target": "_self"
});

db.applications.insert({
    "identifier" : "ACCOUNTS_APP",
    "url": "/account",
    "icon": "vitamui-icon vitamui-icon-user",
    "name": "Mon compte",
    "category": "users",
    "position": NumberInt(1),
    "hasCustomerList": false,
    "hasTenantList": false,
    "hasHighlight": false,
    "tooltip": "Consulter mes informations, Choisir la langue de l'interface",
    "target": "_self"
});
