use security;

print("START security.populate_certificates_ref.js");

{% macro insertCertififcate(pemFile, contextId) -%}
db.certificates.remove(
    {"_id" : "{{ pemFile | basename | replace('.pem','_cert')}}"},
    { justOne: true }
)
db.certificates.insert({
    "_id": "{{ pemFile | basename | replace('.pem','_cert')}}",
    "contextId": "{{ contextId }}",
    "subjectDN": "subjectDN",
    "issuerDN": "issuerDN",
    "serialNumber": "serialNumberAdmin",
    "data": "{{ lookup('file', pemFile) | cert_to_str() }}"
})

{%- endmacro %}

{{ insertCertififcate('{{playbook_dir}}/pki/dev/certs/ui-referential/ui-referential.pem', 'ui_referential_context') }}
{{ insertCertififcate('{{playbook_dir}}/pki/dev/certs/ui-identity/ui-identity.pem', 'ui_admin_identity_context') }}
{{ insertCertififcate('{{playbook_dir}}/pki/dev/certs/ui-portal/ui-portal.pem', 'ui_portal_context') }}
{{ insertCertififcate('{{playbook_dir}}/pki/dev/certs/cas-server/cas-server.pem', 'cas_context') }}

print("END security.populate_certificates_ref.js");
