print("START v8.1.0-03_update_ontology_app.js");

dbIam = db.getSiblingDB('{{ mongodb.iam.db | default('iam') }}')
dbIam.profiles.updateMany({
    "applicationName": "ONTOLOGY_APP"
}, {
    $addToSet: {
        "roles": {
            $each: [
                { "name": "ROLE_IMPORT_SCHEMAS" },
                { "name": "ROLE_GET_SCHEMAS" },
                { "name": "ROLE_DELETE_SCHEMAS" }
            ]
        }
    }
});

dbIam.applications.updateOne({
    "identifier": "ONTOLOGY_APP"
}, {
    $set: {
        "hasTenantList": true,
        "hasCustomerList": false
    },
});

dbSecurity = db.getSiblingDB('{{ mongodb.security.db | default('security') }}')
dbSecurity.contexts.updateOne({
    "_id": "ui_referential_context"
}, {
    $addToSet: {
        "roleNames": {
            $each: [
                "ROLE_IMPORT_SCHEMAS",
                "ROLE_GET_SCHEMAS",
                "ROLE_DELETE_SCHEMAS"
            ]
        }
    }
});

print("END v8.1.0-03_update_ontology_app.js");
