
print("Start - 002_update_ontology_with_role_get_schema");

db = db.getSiblingDB('iam')
db.profiles.updateMany({
  applicationName: "ONTOLOGY_APP"
}, {
  $addToSet: {
    roles:
      { name: "ROLE_GET_SCHEMAS" }
  }
});

db = db.getSiblingDB('security')
db.contexts.updateOne({
        "_id":"ui_referential_context"
    },
    {
        $addToSet:{
            "roleNames":{
                $each:[
                    "ROLE_GET_SCHEMAS"
                ]
            }
        }
    });

print("End - 002_update_ontology_with_role_get_schema");
