db = db.getSiblingDB('iam')
dbSecurity = db.getSiblingDB('security')

print("START_006_add_delete_schema_role.js");

db.profiles.updateMany({
    "applicationName": "ONTOLOGY_APP"
},
{
    $addToSet:{
        "roles":{
            $each: [
                {"name":"ROLE_DELETE_SCHEMAS"}
            ]
        }
    }
});

dbSecurity.contexts.updateOne({
    "_id":"ui_referential_context"
},
{
    $addToSet:{
        "roleNames":{
            $each:[
                "ROLE_DELETE_SCHEMAS"
            ]
        }
    }
});

print("END_006_add_delete_schema_role.js");
