db = db.getSiblingDB('iam')

print("START 1-04_update_agents_services_wording.js");

db.applications.updateOne({
    "identifier" : "AGENCIES_APP",
}, {
    $set: {
        "name": "Services Agents"
    },
});

print("STOP 1-04_update_agents_services_wording.js");
