@import '~ui-frontend-common/sass/variables/colors';

$dark-red: #ea0101;

.title {
  font-family: Mulish;
  letter-spacing: 0px;
  text-align: left;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  padding-top: 70px;
}
.description {
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
.link {
  font-weight: 700;
  letter-spacing: 0.10000000149011612px;
  color: var(--vitamui-primary);
  text-decoration: underline;
}
.time-estimation {
  font-family: Mulish;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 60px;
}

.text-return {
  color: var(--vitamui-primary);
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  border-radius: 10px;
  font-size: 12px;
  padding: 1.5rem;
  padding-top: 70px;
}

.return {
  padding-left: 30px;
}
.guide-design {
  width: 100%;
  height: 100%;
  top: 426px;
  left: 120px;
  border-radius: 5px;
  gap: 10px;
  background: #e8edff;
  //background: var(--vitamui-secondary);
  box-shadow: 0px 1px 4px 0px #2121210d;
  box-shadow: 0px 0px 2px 0px #21212133;
  padding-left: 20px;
  margin-top: 3px;
}

.vertical-line {
  border-left: 5px solid;
  color: var(--vitamui-primary);
  display: block;
  height: 100%;
  margin: 0 -20px;
  border-radius: 5px;
}

.text-return-creation {
  color: var(--vitamui-primary);
  display: flex;
  align-items: center;
  font-weight: 700;
  border-radius: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.category-list {
  padding-bottom: 13px;
  color: var(--vitamui-primary);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.1px;
  padding-top: 13px;
  width: 100%;
}

.no-backgound {
  background-color: none;
}

.category-list-clicked {
  background-color: #e5e7ff;
  font-weight: bold;
}

.text-title {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  color: #757575;
  margin-top: 15px;
}

.form-title {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.subTitle-design {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  font-size: 15px;
  font-weight: normal;
}

.radio-button {
  margin: 5px;
}

.calendar-btn {
  color: var(--vitamui-primary);
  position: absolute;
  right: 20px;
  bottom: 20%;
  font-size: x-large;
}

.example-margin {
  margin: 0 10px;
}
.error-icon {
  position: fixed;
  padding-right: 33px;
  color: $dark-red;
  font-size: 20px;
}

.error-message-background {
  background-color: #f8e0e0;
  border-radius: 10px;
}

.incompleted-message {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #c10000;
}
.error-first-message {
  font-family: Mulish;
  color: #c10000;
}

.input-error-message {
  font-family: Mulish;
  color: #c10000;
  text-decoration: underline;
  font-weight: bold;
  height: 15px;
}

.error-vertical-line {
  border-left: 2px solid red;
  display: block;
  height: 95%;
  position: absolute;
  left: 0;
}

::ng-deep .custom-header {
  .mat-calendar-header {
    background-color: var(--vitamui-primary);
    color: white;
    height: 60px;
  }
  .mat-calendar-controls {
    margin: 0px;
  }
  .mat-button-wrapper {
    font-weight: 900;
  }
  .mat-calendar-arrow {
    border-top-color: white;
  }
  .mat-calendar-next-button {
    color: white;
  }
  .mat-calendar-previous-button {
    color: white;
  }
}

.hide {
  opacity: 0;
  left: -100%;
}
.show {
  opacity: 1;
  left: 0;
}

.question-design {
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
.pop-title {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

.margin-btn {
  margin-right: 30px;
}
.second-confirm {
  color: var(--vitamui-primary);
  background-color: var(--vitamui-secondary);
  border-color: var(--vitamui-primary);
  margin-right: 30px;
}

.small-error-icon {
  color: $dark-red;
  font-size: 20px;
  padding-top: 10px;
}

.small-error-icon-clicked {
  background-color: #e5e7ff;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.title-padding {
  padding-bottom: 5px;
}

.question-deposit {
  color: var(--secondary-secondary-900, #050c15);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-left: 60px;
}
.question-deposit-panel {
  color: var(--vitamui-primary);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-decoration-line: underline;
  cursor: pointer;
  padding-left: 60px;
  margin-top: 10px;
}
.before-start {
  color: var(--grey-grey-900, #212121);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 30px;
  padding-top: 40px;
}
.icon-css {
  position: absolute;
  padding-top: 4px;
  font-size: 20px;
  padding-left: 15px;
}
.green-vertical-line {
  border-left: 2px solid;
  display: block;
  height: 100%;
  border-radius: -2px;
  margin-left: 50%;
  stroke-width: 1px;
  color: var(--green-green-500, #27740a);
}
.success-icon {
  color: var(--green-green-500, #27740a);
  font-size: 40px;
}
.success-message {
  color: var(--green-green-500, #27740a);
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.operation-details {
  margin-bottom: 0px;
  margin-top: -15px;
  color: var(--grey-grey-900, #212121);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
