<div *ngIf="!hidden && show" class="banner-subrogation">
  <i class="vitamui-icon vitamui-icon-link banner-icon"></i>
  <span i18n="subrogationBannerAdmin@@subrogationBannerAdmin">Subrogation de l'utilisateur
    {{ authService?.user?.email }} jusqu'à {{endDate | date:'HH:mm:ss'}}</span>

  <button class="btn-link" (click)="onStopSubrogation()" i18n="subrogation stop@@StopSubrogation">Arrêter la
    subrogation</button>
  <i class="material-icons keyboard-arrow-down-icon" (click)="hidden=!hidden">
    keyboard_arrow_down
  </i>
</div>
<div *ngIf="hidden && show" class="hidden-banner-div">
  <i *ngIf="hidden" class="material-icons keyboard-arrow-up-icon" (click)="hidden=!hidden">
    keyboard_arrow_up
  </i>
</div>
