######################
# STS
######################
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans

######################
# IntelliJ IDEA
######################
.idea/
**/.idea
**/*.iws
**/*.iml
**/*.ipr

######################
# NetBeans
######################
**/nbproject/private/
**/build/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
nb-configuration.xml

######################
# Node
######################
**/node/
**/node_tmp/
**/node_modules/
**/npm-debug.log.*
**/.awcache/*

######################
# SASS
######################
**/.sass-cache/

######################
# Eclipse
######################
**/*.pydevproject
**/.project
**/.metadata
**/tmp/
**/tmp/**/*
**/*.tmp
**/*.bak
**/*.swp
**/*~.nib
**/local.properties
**/.classpath
**/.settings/
**/.loadpath
**/.factorypath
**/src/main/resources/rebel.xml
**/*.pmd
**/*.pmd*
**/*.checkstyle

# External tool builders
**/.externalToolBuilders/**

# Locally stored "Eclipse launch configurations"
**/*.launch

# CDT-specific
**/.cproject

# PDT-specific
**/.buildpath

######################
# Visual Studio Code
######################
**/.vscode/

######################
# Maven
######################
**/target/
!**/.mvn/wrapper/maven-wrapper.jar
**/log/
**/target/
pom.xml.releaseBackup
pom.xml.versionsBackup
maven-eclipse.xml

######################
# Gradle
######################
**/.gradle/
**/build/

######################
# Package Files
######################
**/*.jar
**/*.war
**/*.ear
**/*.db
**/*.rpm
**/*.deb


######################
# Windows
######################
# Windows image file caches
**/Thumbs.db

# Folder config file
**/Desktop.ini

######################
# Mac OSX
######################
**/.DS_Store
**/.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Directories
######################
**/bin/
/deploy/

######################
# Logs
######################
*.log*

######################
# Others
######################
*.class
*.*~
*~
.merge_file*
.java-version

######################
# Gradle Wrapper
######################
!gradle/wrapper/gradle-wrapper.jar

######################
# ESLint
######################
.eslintcache
/common/nb-configuration.xml

######################
# Ansible
######################
*.retry

######################
# Editor files:
######################
.ideas/*

######################
# python compiled code :
######################
*.pyc

######################
# Dolphin explorateur file
######################
.directory

####################
# Vagrant
###################
deployment/.vagrant
.vagrant/
*.box

######
# CAS
######
**/overlays/

######
# Camel
**/tmp/

/deployment/playbooks/pki/tempcerts/

##################
# Angular Common #
##################
ui/angular-commons/*.tgz

##################
# Deloyment tmp  #
##################
/deployment/tmp/

##########################################
# Deployment Local deployement keystores  #
##########################################
# Created vitam client stores
deployment/playbooks/pki/vitam/client-external/*.p12
deployment/playbooks/pki/vitam/client-external/*.jks

# Created vitamui pki truststore
deployment/playbooks/pki/certs/*/*.jks
# Created vitamui pki vitam truststore
deployment/playbooks/pki/certs/*/*.p12

# Imported vitamui app truststore
deployment/playbooks/templates/vitamui/conf/*/*.jks
# Imported vitamui app vitam truststore
deployment/playbooks/templates/vitamui/conf/*/*.p12

# Vitam development configuration

###################################
# Vitam development configuration #
###################################
api/api-archive-search/archive-search-internal/src/main/config/dev-vitam/*
api/api-ingest/ingest-internal/src/main/config/dev-vitam/*
api/api-referential/referential-internal/src/main/config/dev-vitam/*
api/api-ingest/ingest-internal/src/main/config/dev-vitam/*
api/api-iam/iam-internal/src/main/config/dev-vitam/*

##########################################
# Mongo workspace entry-point #
##########################################
tools/docker/mongo/mongo-entrypoint
