user    {{ vitamui_nginx_proxy_user }} {{ vitamui_nginx_proxy_group }};

worker_processes auto;

error_log {{ vitamui_nginx_proxy_log_dir }}/master-error.log;
pid       {{ vitamui_nginx_proxy_run_dir }}/nginx.pid;


# Load dynamic modules. See /usr/share/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    client_body_temp_path   {{ vitamui_nginx_proxy_tmp_dir }}/nginx;
    access_log              {{ vitamui_nginx_proxy_log_dir }}/access.log  main;
    error_log               {{ vitamui_nginx_proxy_log_dir }}/error.log;

    # Force consul agent resolution
    resolver            127.0.0.1;

    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;

    types_hash_max_size 2048;
    proxy_headers_hash_max_size 4046;
    proxy_headers_hash_bucket_size 1024;
    proxy_http_version  1.1;

    # Disable buffering for avoiding ERR_CONTENT_MISS_MATCH
    proxy_buffering     off;

    client_max_body_size 1g;

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    # Password file for ssl cert:
    ssl_password_file {{ vitamui_nginx_proxy_conf_dir }}/ssl/nginx.key_pass;

    # Load modular configuration files from the /etc/nginx/conf.d directory.
    # See http://nginx.org/en/docs/ngx_core_module.html#include
    # for more information.
    include {{ vitamui_nginx_proxy_vhosts_conf_dir }}/*.conf;

    server {
        listen       80 default_server;
        server_name  _;
        root         {{ vitamui_nginx_proxy_data_dir }};

        # Status page for consul agent check
        return 301 https://$http_host$request_uri;
    }

# Settings for a TLS enabled server.
#
#    server {
#        listen       443 ssl http2 default_server;
#        listen       [::]:443 ssl http2 default_server;
#        server_name  _;
#        root         /usr/share/nginx/html;
#
#        ssl_certificate "/etc/pki/nginx/server.crt";
#        ssl_certificate_key "/etc/pki/nginx/private/server.key";
#        ssl_session_cache shared:SSL:1m;
#        ssl_session_timeout  10m;
#        ssl_ciphers HIGH:!aNULL:!MD5;
#        ssl_prefer_server_ciphers on;
#
#        # Load configuration files for the default server block.
#        include /etc/nginx/default.d/*.conf;
#
#        location / {
#        }
#
#        error_page 404 /404.html;
#            location = /40x.html {
#        }
#
#        error_page 500 502 503 504 /50x.html;
#            location = /50x.html {
#        }
#    }

}


{% if tcp_reverse_proxy_vitam_enabled is defined and tcp_reverse_proxy_vitam_enabled %}

stream {
    # BACKEND POOL DEFINITION
    upstream access_external {
        zone access_external 256k;
        least_conn;
{% for h in groups['hosts-access-external'] %}
        server {{ hostvars[h].ip_service }}:{{ vitam_vars.accessexternal.port_service_proxy }};
{% endfor %}
    }
    upstream ingest_external {
        zone ingest_external 256k;
        least_conn;
{% for h in groups['hosts-ingest-external'] %}
        server {{ hostvars[h].ip_service }}:{{ vitam_vars.ingestexternal.port_service_proxy }};
{% endfor %}
    }
    # BINDINGS
    server {
        # Access-external bindings:
        listen 0.0.0.0:{{ reverse_proxy_vitam_access_external_port }};
        proxy_pass access_external;
        proxy_protocol on;
    }

    server {
    # Ingest-external bindings:
        listen 0.0.0.0:{{ reverse_proxy_vitam_ingest_external_port }};
        proxy_pass ingest_external;
        proxy_protocol on;
    }
}

{% endif %}
