<vitamui-dialog-header
  [subhead]="'PROBATIVE_VALUE.CREATE_DIALOG.TITLE' | translate"
  [title]="'PROBATIVE_VALUE.CREATE_DIALOG.SUBTITLE' | translate"
></vitamui-dialog-header>

<form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
  <mat-dialog-content class="gap-3">
    <vitamui-input formControlName="unitId" class="w-100" [placeholder]="'PROBATIVE_VALUE.CREATE_DIALOG.UNIT_ID' | translate">
    </vitamui-input>

    <vitamui-select
      class="w-100 d-block"
      formControlName="usage"
      [placeholder]="'PROBATIVE_VALUE.CREATE_DIALOG.USAGE' | translate"
      [options]="usages"
      [multiple]="false"
      [enableSearch]="false"
    ></vitamui-select>

    <vitamui-input
      formControlName="version"
      [placeholder]="'PROBATIVE_VALUE.CREATE_DIALOG.VERSION' | translate"
      type="number"
      class="w-100"
    >
    </vitamui-input>

    <div class="d-flex align-items-center">
      <div class="text-medium-normal mr-2">{{ 'PROBATIVE_VALUE.HOME.ELECTRONICALLY_SIGNED_DOCUMENT' | translate }} :</div>
      <mat-button-toggle-group formControlName="includeDetachedSigningInformation" class="vitamui-button-toggle-group">
        <mat-button-toggle [value]="true" (click)="complianceCheck()">
          {{ 'COMMON.COMMON_YES' | translate }}
        </mat-button-toggle>
        <mat-button-toggle [value]="false" (click)="showWarningMessage = false">
          {{ 'COMMON.COMMON_NO' | translate }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div *ngIf="showWarningMessage">
      <p [innerText]="'PROBATIVE_VALUE.HOME.WARNING_ELECTRONICALLY_SIGNED_DOCUMENT' | translate" class="text bold warningRow"></p>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button type="submit" class="btn primary" [disabled]="form.invalid || isDisabledButton">
      {{ 'PROBATIVE_VALUE.CREATE_DIALOG.SUBMIT' | translate }}
    </button>
    <button type="button" class="btn cancel link" (click)="onCancel()">{{ 'COMMON.UNDO' | translate }}</button>
  </mat-dialog-actions>
</form>
