<div class="header"></div>

<div class="content">
  <div class="text medium light">{{ 'PROBATIVE_VALUE.CREATE_DIALOG.TITLE' | translate }}</div>
  <div class="text large bold">{{ 'PROBATIVE_VALUE.CREATE_DIALOG.SUBTITLE' | translate }}</div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()" class="mt-4">
    <vitamui-common-input
      formControlName="unitId"
      minlength="36"
      maxlength="36"
      required
      class="w-100"
      placeholder="{{ 'PROBATIVE_VALUE.CREATE_DIALOG.UNIT_ID' | translate }}"
    >
      <ng-container *ngIf="form.get('unitId')?.touched">
        <vitamui-common-input-error *ngIf="!!form.get('unitId')?.errors?.required">{{
          'COMMON.REQUIRED' | translate
        }}</vitamui-common-input-error>
        <ng-container *ngIf="form.get('unitId')?.errors?.minlength">
          <ng-template #minlengthErrorTemplate let-minlength="minlength">
            <vitamui-common-input-error>
              {{ 'PROBATIVE_VALUE.CREATE_DIALOG.ERROR_MESSAGE_REQUIRED_LENGTH' | translate: { requiredLength: minlength.requiredLength } }}
            </vitamui-common-input-error>
          </ng-template>
          <ng-container *ngTemplateOutlet="minlengthErrorTemplate; context: form.get('unitId').errors"></ng-container>
        </ng-container>
      </ng-container>
    </vitamui-common-input>

    <mat-form-field class="vitamui-mat-select w-100 mb-4">
      <mat-select formControlName="usage" placeholder="{{ 'PROBATIVE_VALUE.CREATE_DIALOG.USAGE' | translate }}" required>
        <mat-option *ngFor="let usage of usages" [value]="usage.key">{{ usage.label }}</mat-option>
      </mat-select>
      <div class="select-arrow">
        <i class="material-icons">keyboard_arrow_up</i>
        <i class="material-icons">keyboard_arrow_down</i>
      </div>
    </mat-form-field>

    <div class="d-flex">
      <vitamui-common-input
        formControlName="version"
        required
        placeholder="{{ 'PROBATIVE_VALUE.CREATE_DIALOG.VERSION' | translate }}"
        type="number"
        class="w-100"
      >
        <ng-container *ngIf="form.get('version')?.touched">
          <vitamui-common-input-error *ngIf="!!form.get('version')?.errors?.required">{{
            'COMMON.REQUIRED' | translate
          }}</vitamui-common-input-error>
        </ng-container>
      </vitamui-common-input>
    </div>

    <div class="d-flex align-items-center">
      <div class="text-medium-normal mr-2">{{ 'PROBATIVE_VALUE.HOME.ELECTRONICALLY_SIGNED_DOCUMENT' | translate }} :</div>
      <mat-button-toggle-group formControlName="includeDetachedSigningInformation" class="vitamui-button-toggle-group">
        <mat-button-toggle [value]="true" (click)="complianceCheck()">
          {{ 'COMMON.COMMON_YES' | translate }}
        </mat-button-toggle>
        <mat-button-toggle [value]="false" (click)="showWarningMessage = false">
          {{ 'COMMON.COMMON_NO' | translate }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div *ngIf="showWarningMessage">
      <p [innerText]="'PROBATIVE_VALUE.HOME.WARNING_ELECTRONICALLY_SIGNED_DOCUMENT' | translate" class="text bold warningRow"></p>
    </div>

    <div class="actions">
      <button type="submit" class="btn primary" [disabled]="form.invalid || isDisabledButton">
        {{ 'PROBATIVE_VALUE.CREATE_DIALOG.SUBMIT' | translate }}
      </button>
      <button type="button" class="btn cancel" (click)="onCancel()">{{ 'COMMON.UNDO' | translate }}</button>
    </div>
  </form>
</div>
