@import '~ui-frontend-common/sass/variables/colors';

.actions {
  margin-top: 20px;
  display: flex;
}

.actions > button:not(:last-child) {
  margin-right: 20px;
}

.form-group {
    padding-bottom: 30px;
}

label {
  color: var(--vitamui-grey-900);
  font-size: 15px;
  line-height: normal;
  margin-bottom: 10px;
  display: block;

  .required-marker {
    color: var(--vitamui-primary);
  }

  small {
    color: #a5a5a5;
    font-size: inherit;
  }
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.inline-label {
  padding-top: 5px;
}

button.primary {
  margin-right: 20px;
}

button.back {
  margin-top: 60px;
}

button > small {
  display: block;
  font-size: 12px;
  font-weight: 400;
}

.hint {
  color: #a5a5a5;
  font-size: 15px;
}
