<div class="header">
  <vitamui-common-progress-bar [count]="getStepCount()" [index]="stepIndex"></vitamui-common-progress-bar>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
  <vitamui-common-stepper [selectedIndex]="stepIndex">
    <cdk-step>
      <div class="content mt-3">
        <div class="text medium light">{{ 'AUDIT.CREATE_DIALOG.TITLE' | translate }}</div>
        <div class="text large bold mb-3">{{ 'AUDIT.CREATE_DIALOG.SUBTITLE' | translate }}</div>

        <div class="mt-3">
          <mat-button-toggle-group formControlName="auditActions" class="vitamui-button-toggle-group">
            <mat-button-toggle *ngFor="let action of getAuditActions()" [value]="action">
              <span>{{ 'AUDIT.CREATE_DIALOG.OPERATIONS_CATEGORIES.' + action | translate }}</span>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="mt-4" *ngIf="showAuditPerimeter()">
          <div class="text large bold mb-3">{{ 'AUDIT.CREATE_DIALOG.CHOOSE_AUDIT_PERIMETER' | translate }}</div>
          <mat-form-field class="vitamui-mat-select w-100">
            <mat-select
              formControlName="auditPerimeter"
              placeholder="{{ 'AUDIT.CREATE_DIALOG.AUDIT_PERIMETER' | translate }}"
              panelclass="vitamui-mat-select"
            >
              <mat-option *ngFor="let perimeter of getAuditPerimeters()" [value]="perimeter">
                {{ 'AUDIT.CREATE_DIALOG.PERIMETERS.' + perimeter | translate }}
              </mat-option>
            </mat-select>

            <div class="select-arrow">
              <i class="material-icons">keyboard_arrow_up</i>
              <i class="material-icons">keyboard_arrow_down</i>
            </div>
          </mat-form-field>
        </div>

        <div class="mt-4" *ngIf="!showAuditPerimeter()">
          <div class="text large bold mb-3">{{ 'AUDIT.CREATE_DIALOG.ENTER_CONCERNED_CONSISTENCY_AUDIT_IDENTIFIER' | translate }}</div>
          <vitamui-common-input
            class="w-100 mt-4"
            formControlName="evidenceAudit"
            required
            placeholder="{{ 'AUDIT.CREATE_DIALOG.EVIDENCE_AUDIT_IDENTIFIER' | translate }}"
          >
            <ng-container *ngIf="form.get('evidenceAudit')?.touched">
              <vitamui-common-input-error *ngIf="!!form.get('evidenceAudit').errors?.required">
                {{ 'COMMON.REQUIRED' | translate }}
              </vitamui-common-input-error>
              <vitamui-common-input-error *ngIf="!!form?.get('evidenceAudit').errors?.invalidEvidenceAuditId">
                {{ 'AUDIT.CREATE_DIALOG.EVIDENCE_AUDIT_NOT_FOUND' | translate }}
              </vitamui-common-input-error>
            </ng-container>
          </vitamui-common-input>
        </div>

        <div class="actions">
          <button
            (click)="moveToNextStep()"
            type="button"
            *ngIf="form.get('auditActions')?.value !== 'AUDIT_FILE_RECTIFICATION'"
            class="btn primary"
            [disabled]="!isStepOneValid()"
            cdkStepperNext
          >
            {{ 'COMMON.NEXT' | translate }}
          </button>
          <button
            type="submit"
            *ngIf="form.get('auditActions')?.value === 'AUDIT_FILE_RECTIFICATION'"
            class="btn primary"
            [disabled]="!isStepOneValid()"
          >
            {{ 'AUDIT.CREATE_DIALOG.START_AUDIT' | translate }}
          </button>
          <button type="button" class="btn cancel" (click)="onCancel()">{{ 'COMMON.UNDO' | translate }}</button>
        </div>
      </div>
    </cdk-step>

    <cdk-step>
      <div class="content mt-3">
        <div *ngIf="form.get('auditPerimeter')?.value === 'AUDIT_PERIMETER_ORIGINATING_AGENCY' && !refiningScreen">
          <div class="text medium light">{{ 'AUDIT.CREATE_DIALOG.TITLE' | translate }}</div>
          <div class="text large bold mb-3">{{ 'AUDIT.CREATE_DIALOG.CHOOSE_ORIGINATING_AGENCY' | translate }}</div>

          <div class="mt-4">
            <vitamui-common-slide-toggle [formControl]="allProducerServices">
              <span>{{ 'AUDIT.CREATE_DIALOG.SELECT_ALL_PRODUCERS' | translate }}</span>
            </vitamui-common-slide-toggle>
          </div>

          <vitamui-select
            [multiple]="true"
            *ngIf="showProducerSelection()"
            [formControl]="producerServicesMultiSelect"
            formControlName="originatingAgencyIds"
            [options]="producerServicesMultiSelectOptions"
            required
            [placeholder]="'AUDIT.CREATE_DIALOG.PRODUCERS' | translate"
            [searchBarPlaceHolder]="'AUDIT.CREATE_DIALOG.ALL_PRODUCERS_SEARCHBAR_PLACEHOLDER' | translate"
          >
          </vitamui-select>
        </div>

        <div *ngIf="form.get('auditPerimeter')?.value === 'AUDIT_PERIMETER_INGEST_OPERATION_IDENTIFIER'">
          <div class="text medium light">{{ 'AUDIT.CREATE_DIALOG.TITLE' | translate }}</div>
          <div class="text large bold mb-3">{{ 'AUDIT.CREATE_DIALOG.ENTER_INGEST_OPERATIONS_IDENTIFIERS' | translate }}</div>

          <vitamui-common-input
            class="w-100 mt-4"
            [formControl]="ingestOperationsEntries"
            formControlName="ingestOperationIds"
            required
            placeholder="{{ 'AUDIT.CREATE_DIALOG.ENTER_INGEST_OPERATIONS_IDENTIFIERS_PLACEHOLDER' | translate }}"
          >
          </vitamui-common-input>
        </div>

        <div *ngIf="form.get('auditPerimeter')?.value === 'AUDIT_PERIMETER_ATTACHMENT_POSITION' && !refiningScreen">
          <div class="text medium light">{{ 'AUDIT.CREATE_DIALOG.TITLE' | translate }}</div>
          <div class="text large bold mb-3">{{ 'AUDIT.CREATE_DIALOG.CHOOSE_ATTACHMENT_POSITION' | translate }}</div>

          <vitamui-library-filing-plan
            [formControl]="selectedNodes"
            [tenantIdentifier]="tenantIdentifier"
            [mode]="FILLING_PLAN_MODE_INCLUDE"
          >
          </vitamui-library-filing-plan>
        </div>

        <div *ngIf="canShowRefiningScreen()">
          <div class="text medium light">{{ 'AUDIT.CREATE_DIALOG.TITLE' | translate }}</div>
          <div class="text large bold mb-3">
            {{
              (refiningScreen ? 'AUDIT.CREATE_DIALOG.CHOOSE_AU_CREATION_PERIOD' : 'AUDIT.CREATE_DIALOG.CHOOSE_INGEST_OPERATIONS_PERIOD')
                | translate
            }}
          </div>
          <div class="hgap-2">
            <div class="start-date">
              <p>{{ 'AUDIT.CREATE_DIALOG.PERIOD_FROM' | translate }}</p>
              <vitamui-common-multiple-options-datepicker
                [formControl]="startDateControl"
                [label]="
                  refiningScreen
                    ? 'AUDIT.CREATE_DIALOG.AU_CREATION_DATE_PLACEHOLDER'
                    : ('AUDIT.CREATE_DIALOG.INGEST_OPERATION_DATE_PLACEHOLDER' | translate)
                "
                [hint]="'AUDIT.CREATE_DIALOG.DATE_GMT_TIME_CAPTION'"
                [isRequired]="isStartDateRequired()"
                required
              ></vitamui-common-multiple-options-datepicker>
            </div>
            <div class="end-date">
              <p>{{ 'AUDIT.CREATE_DIALOG.PERIOD_TO' | translate }}</p>
              <vitamui-common-multiple-options-datepicker
                [formControl]="endDateControl"
                [label]="
                  refiningScreen
                    ? 'AUDIT.CREATE_DIALOG.AU_CREATION_DATE_PLACEHOLDER'
                    : ('AUDIT.CREATE_DIALOG.INGEST_OPERATION_DATE_PLACEHOLDER' | translate)
                "
                [hint]="'AUDIT.CREATE_DIALOG.DATE_GMT_TIME_CAPTION'"
              ></vitamui-common-multiple-options-datepicker>
            </div>
          </div>
          <p *ngIf="canShowPeriodErrorMessage()" class="text-red">
            {{ 'AUDIT.CREATE_DIALOG.END_PERIOD_DATE_BEFORE_START_PERIOD_DATE' | translate }}
          </p>
        </div>

        <div class="actions">
          <button type="submit" class="btn primary" [disabled]="!isStepTwoValid()">
            {{ 'AUDIT.CREATE_DIALOG.START_AUDIT' | translate }}
          </button>
          <button
            *ngIf="
              ['AUDIT_PERIMETER_ORIGINATING_AGENCY', 'AUDIT_PERIMETER_ATTACHMENT_POSITION'].includes(form.get('auditPerimeter')?.value) &&
              !refiningScreen
            "
            type="button"
            class="btn cancel link"
            (click)="initPeriodScreen()"
            [disabled]="!isStepTwoValid()"
          >
            <i class="vitamui-icon vitamui-icon-plus"></i>
            <span>{{ 'AUDIT.CREATE_DIALOG.REFINE_OVER_PERIOD' | translate }}</span>
          </button>
          <button type="button" class="btn cancel" (click)="onCancel()">{{ 'COMMON.UNDO' | translate }}</button>
        </div>
        <button type="button" class="btn link mt-2" (click)="backToPreviousStep()">
          <i class="vitamui-icon vitamui-icon-chevron-left"></i>
          <span class="underline">{{ 'COMMON.BACK' | translate }}</span>
        </button>
      </div>
    </cdk-step>
  </vitamui-common-stepper>
</form>
