.vitamui-autocomplete-panel {
    border-radius: 5px;
    background-color: $white;
    border: solid 1px #f0f0f0;

    &.mat-autocomplete-panel:not([class*=mat-elevation-z]) {
        box-shadow: 0 0 20px 0 rgba(169, 169, 169, 0.3);
    }

    .mat-option {
        height: 40px;
    }

    .mat-option:not(:last-child) {
        border-bottom: 1px solid #f0f0f0;
    }

  // FIXME: Seems that var( --colorName ) cant be applied in transparentize function. How to load specific color with a composite here ?
    .mat-option:hover:not(.mat-option-disabled),
    .mat-option:focus:not(.mat-option-disabled),
    .mat-option.mat-active {
        background: RGBA(var(--vitamui-secondary), 0.85);
    }

    .mat-option-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        color: #808080;

        .vitamui-option-label {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        > i {
            color: var(--vitamui-secondary);
            margin-left: 10px;
        }

    }

}
