@import '~@angular/material/theming';
@import '../variables/colors';

// Plus imports for other components in your app.

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html

$vitamui-primary: (
    50: var(--vitamui-primary),
    100: var(--vitamui-primary),
    200: var(--vitamui-primary),
    300: var(--vitamui-primary),
    400: var(--vitamui-primary),
    500: var(--vitamui-primary),
    600: var(--vitamui-primary),
    700: var(--vitamui-primary),
    800: var(--vitamui-primary),
    900: var(--vitamui-primary),
    A100: var(--vitamui-primary),
    A200: var(--vitamui-primary),
    A400: var(--vitamui-primary),
    A700: var(--vitamui-primary),
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$vitamui-secondary: (
    50: var(--vitamui-secondary),
    100: var(--vitamui-secondary),
    200: var(--vitamui-secondary),
    300: var(--vitamui-secondary),
    400: var(--vitamui-secondary),
    500: var(--vitamui-secondary),
    600: var(--vitamui-secondary),
    700: var(--vitamui-secondary),
    800: var(--vitamui-secondary),
    900: var(--vitamui-secondary),
    A100: var(--vitamui-secondary),
    A200: var(--vitamui-secondary),
    A400: var(--vitamui-secondary),
    A700: var(--vitamui-secondary),
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$app-primary: mat-palette($vitamui-primary);
$app-accent:  mat-palette($vitamui-secondary);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$custom-typography: mat-typography-config(
    $font-family:   'Mulish',
    $display-4:     mat-typography-level(112px, 112px, 300),
    $display-3:     mat-typography-level(56px, 56px, 400),
    $display-2:     mat-typography-level(45px, 48px, 400),
    $display-1:     mat-typography-level(34px, 40px, 400),
    $headline:      mat-typography-level(24px, 32px, 400),
    $title:         mat-typography-level(20px, 32px, 500),
    $subheading-2:  mat-typography-level(16px, 28px, 400),
    $subheading-1:  mat-typography-level(15px, 24px, 400),
    $body-2:        mat-typography-level(14px, 24px, 500),
    $body-1:        mat-typography-level(14px, 20px, 400),
    $caption:       mat-typography-level(12px, 20px, 400),
    $button:        mat-typography-level(14px, 14px, 500),
    $input:         mat-typography-level(inherit, 1.125, 400)
);

@include mat-base-typography($custom-typography);
@include mat-checkbox-typography($custom-typography);
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);
