.vitamui-modal .mat-dialog-container {
    border-radius: 20px;
    padding: 0;
    min-width: 800px;
    max-width: fit-content;
    max-height: 96vh;
}

.vitamui-modal {
    .header {
        padding: 20px 60px 0 60px;
    }

    .content {
        padding: 0px 60px 30px 60px;

        // dialog title
        > .text.large:first-of-type {
            margin: 1.5rem 0;
        }

        .actions:last-of-type {
            display: flex;
            margin-top: 35px;
        }

        .actions:last-of-type > button:not(:last-child) {
            margin-right: 20px;
        }
    }

    .error-message {
        color: $red;
        font-size: 14px;
        margin-bottom: 30px;
    }

    .vitamui-table {
        overflow: auto;
        max-height: 43vh;
      
        &::-webkit-scrollbar {
          display: none;
        }
    }

    // TODO : depereacted, remove at the end of the redesign
    .form-group {
        margin-bottom: 20px;
    }
}