.preview-tab-group.mat-tab-group {
    .mat-tab-label {
        height: 37px;
        color: var(--vitamui-grey-900);

        &:hover {
            background-color: var(--vitamui-grey-300);
        }

        &:not(.mat-tab-disabled):focus {
            background-color: var(--vitamui-grey-300);
        }
    }

    .mat-tab-header {
        border-top: 1px solid var(--vitamui-grey-400);
        border-bottom: 1px solid var(--vitamui-grey-400);
    }

    .mat-tab-body-content {
        padding: 35px 30px;
        overflow: visible;
    }

    .mat-ink-bar {
        background-color: transparent!important;

        &::before {
          content: '';
          display: block;
          width: 50%;
          background-color: var(--vitamui-primary);
          height: 6px;
          border-bottom-right-radius: 70px;
          border-bottom-left-radius: 70px;
          left: 25%;
          position: relative;
        }
    }
}