.vitamui-mat-select.mat-select-panel {
    @include mat-select-panel
}

.vitamui-mat-select.mat-form-field {
    font-size: 15px;
    font-weight: 500;
    width: 260px;

    .mat-form-field-subscript-wrapper {
        padding-left: 30px;
        top: 50px;
    }

    &.mat-focused {
        .mat-form-field-label {
            color: $greyish-two;
        }
    }

    .mat-form-field-wrapper {
        padding-bottom: 0;
    }

    &.no-bottom-padding .mat-form-field-wrapper {
        padding-bottom: 0;
    }

    &.mat-form-field-invalid .mat-form-field-label {
        color: $red;
    }

    .mat-form-field-label {
        color: $greyish-two;
        font-weight: 400;

        .mat-form-field-required-marker {
            color: var(--vitamui-primary);
        }
    }

    &.mat-form-field-type-mat-input {
        .mat-form-field-flex .mat-form-field-infix {
            transition: border-top-width .4s cubic-bezier(.25,.8,.25,1), padding-bottom .4s cubic-bezier(.25,.8,.25,1);
        }

        &.mat-form-field-should-float .mat-form-field-flex .mat-form-field-infix {
            padding-bottom: 0;
        }

        &:not(.mat-form-field-should-float) .mat-form-field-flex .mat-form-field-infix {
            border-top-width: 0;
        }
    }

    .mat-form-field-flex {
        vertical-align: top;
        border-radius: 25px;
        transition: box-shadow 200ms ease-out;
        height: 50px;
        align-items: center;
        padding: 0 30px;
    }

    .mat-form-field-underline {
        display: none;
    }

    &.mat-form-field-type-mat-select {

        &.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
            display: none;
        }

        &.mat-form-field-disabled {
            opacity: 0.4;
        }

        .mat-form-field-label {
            color: var(--vitamui-secondary);
        }

        .mat-form-field-flex {
            border: 1px solid var(--vitamui-grey-300);
            padding-right: 15px;

            .mat-form-field-infix {
                border-top-width: 0;
                display: flex;
                align-items: center;
                width: 100%;
            }

            .mat-select .mat-select-value {
                color: var(--vitamui-grey-800);
                font-weight: 500;
            }

            .mat-select .mat-select-arrow-wrapper {
                visibility: hidden;
            }

            .select-arrow {
                display: flex;
                flex-direction: column;
                margin-top: -8px;

                i {
                    height: 10px;
                    font-size: 18px;
                    color: var(--vitamui-secondary);
                }
            }

            &:hover {
                @include elevation-1;
            }
        }
    }


    &.no-padding .mat-form-field-wrapper {
        padding-bottom: 0;
    }
}

.vitamui-mat-select.vitamui-mat-select-mini.mat-form-field {
    width: 100%;

    .mat-form-field-wrapper {
        padding-bottom: 0;
    }

    .mat-form-field-flex {
        height: 25px;
        padding: 0;
        border: none;
        
        &:hover {
            @include elevation-0;
        }
    }

    .mat-form-field-infix {
        width: 100%;
        padding: 0;
    }
}
