<div class="vitamui-sidepanel">
  <div class="vitamui-sidepanel-header">
    <button class="btn-close" role="button" (click)="emitClose()"><i class="material-icons">close</i></button>

    <div class="title">
      <h2>{{probativeValue?.id}}</h2>
    </div>
    <button mat-button class="btn btn-primary button-maring" (click)="downloadReport()" [disabled]="!accessContractId">Télécharger le relevé</button>
  </div>
  <div class="vitamui-sidepanel-body">
    <mat-tab-group class="preview-tab-group">
    </mat-tab-group>
  </div>
</div>
