<div class="container">
  <form [formGroup]="disseminationRuleCriteriaForm">
    <div class="row justify-content-start">
      <div class="col-5 form-control">
        <vitamui-select
          formControlName="disseminationRuleIdentifier"
          [options]="disseminationRuleOptions"
          [multiple]="true"
          [placeholder]="'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.PLACEHOLDER_DISSEMINATION' | translate"
          [searchBarPlaceHolder]="'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.PLACEHOLDER_SEARCHBAR_DISSEMINATION' | translate"
        >
        </vitamui-select>
      </div>
    </div>

    <div class="row justify-content-start">
      <div class="col-11 form-control">
        <p class="title-text">{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_DISSEMINATION' | translate }}</p>
      </div>
    </div>

    <div class="row justify-content-start">
      <div class="col-5 form-control">
        <vitamui-datepicker
          [label]="
            (endDateInterval
              ? 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_DISSEMINATION_BEGIN'
              : 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_DISSEMINATION_EQUAL'
            ) | translate
          "
          formControlName="disseminationRuleStartDate"
          [max]="disseminationRuleCriteriaForm.get('disseminationRuleEndDate').value"
          outputType="Date"
          format="dd/MM/yyyy"
          class="w-100"
        ></vitamui-datepicker>
      </div>
      <div class="col-1 form-control">
        <button
          class="validate-date-small-button"
          *ngIf="!endDateInterval && disseminationRuleCriteriaForm.get('disseminationRuleStartDate').value"
          type="button"
          mat-mini-fab
          (click)="addBeginDtDisseminationRuleCriteria()"
        >
          <i class="material-icons">check</i>
        </button>
      </div>

      <div class="col-4 form-control">
        @if (!endDateInterval) {
          <p class="title-text text-clicable-uppercase" (click)="updateEndDateInterval(true)">
            {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.DISSEMINATION_RULE.CREATE_INTERVAL' | translate }}
          </p>
        } @else {
          <vitamui-datepicker
            [label]="'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_DISSEMINATION_END' | translate"
            formControlName="disseminationRuleEndDate"
            [min]="disseminationRuleCriteriaForm.get('disseminationRuleStartDate').value"
            outputType="Date"
            format="dd/MM/yyyy"
            class="w-100"
          ></vitamui-datepicker>
        }
      </div>
      <div class="col-1 form-control">
        <button
          class="validate-date-small-button"
          *ngIf="
            endDateInterval &&
            disseminationRuleCriteriaForm.get('disseminationRuleStartDate').value &&
            disseminationRuleCriteriaForm.get('disseminationRuleEndDate').value
          "
          type="button"
          mat-mini-fab
          (click)="addIntervalDtDisseminationRuleCriteria()"
        >
          <i class="material-icons">check</i>
        </button>
      </div>
      <div class="col-1 form-control">
        <p *ngIf="endDateInterval" class="title-text text-clicable-uppercase" (click)="updateEndDateInterval(false)">
          {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.DISSEMINATION_RULE.DELETE_INTERVAL' | translate }}
        </p>
      </div>
    </div>

    <div class="row justify-content-around">
      <div class="col-4 form-control">
        <div class="row criteria-choice">
          <p class="title-text">
            {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.TITLE' | translate }}
          </p>
        </div>
        <div class="row">
          <label class="criteria-checkbox-choice">
            <input
              type="checkbox"
              (click)="checkBoxChange('ORIGIN_HAS_AT_LEAST_ONE', $event)"
              id="HAS_AT_LEAST_ONE_DISSEMINATION_RULE_ORIGIN"
              [checked]="disseminationAdditionalCriteria.get('ORIGIN_HAS_AT_LEAST_ONE')"
            />
            <span>{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.HAS_AT_LEAST_ONE_DISSEMINATION_RULE' | translate }}</span>
          </label>
        </div>
        <div class="row">
          <label class="criteria-checkbox-choice">
            <input
              type="checkbox"
              (click)="checkBoxChange('ORIGIN_INHERITE_AT_LEAST_ONE', $event)"
              id="INHERITE_AT_LEAST_ONE_DISSEMINATION_RULE_ORIGIN"
              [checked]="disseminationAdditionalCriteria.get('ORIGIN_INHERITE_AT_LEAST_ONE')"
            />
            <span>{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.INHERITE_AT_LEAST_ONE_DISSEMINATION_RULE' | translate }}</span>
          </label>
        </div>

        <div class="row">
          <label class="criteria-checkbox-choice">
            <input
              id="HAS_NO_DISSEMINATION_RULE_ORIGIN"
              type="checkbox"
              (click)="checkBoxChange('ORIGIN_HAS_NO_ONE', $event)"
              [checked]="disseminationAdditionalCriteria.get('ORIGIN_HAS_NO_ONE')"
            />
            <span>{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.HAS_NO_DISSEMINATION_RULE' | translate }}</span>
          </label>
        </div>
        <div class="row">
          <label class="criteria-checkbox-choice">
            <input
              id="WAITING_TO_RE_CALCULATE_DISSEMINATION_RULE_ORIGIN"
              type="checkbox"
              (click)="checkBoxChange('ORIGIN_WAITING_RECALCULATE', $event)"
              [checked]="disseminationAdditionalCriteria.get('ORIGIN_WAITING_RECALCULATE')"
            />
            <span>{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.WAITING_TO_RE_CALCULATE_DISSEMINATION_RULE' | translate }}</span>
          </label>
        </div>
      </div>
      <div class="col-4 form-control"></div>
      <div class="col-3 form-control"></div>
    </div>
  </form>
</div>
