<div class="container">
  <form [formGroup]="disseminationRuleCriteriaForm" class="gap-4 align-items-stretch">
    <div class="hgap-4">
      <vitamui-select
        class="w-100"
        formControlName="disseminationRuleIdentifier"
        [options]="disseminationRuleOptions"
        [multiple]="true"
        [placeholder]="'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.PLACEHOLDER_DISSEMINATION' | translate"
        [searchBarPlaceHolder]="'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.PLACEHOLDER_SEARCHBAR_DISSEMINATION' | translate"
      >
      </vitamui-select>
      <div class="w-100"></div>
    </div>

    <div class="gap-2 align-items-stretch">
      <div class="text medium bold primary uppercase">
        {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_DISSEMINATION' | translate }}
      </div>

      <div class="hgap-4">
        <vitamui-datepicker
          class="w-100"
          [label]="
            (endDateInterval
              ? 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_DISSEMINATION_BEGIN'
              : 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_DISSEMINATION_EQUAL'
            ) | translate
          "
          formControlName="disseminationRuleStartDate"
          [max]="disseminationRuleCriteriaForm.get('disseminationRuleEndDate').value"
          outputType="Date"
          format="dd/MM/yyyy"
        ></vitamui-datepicker>
        <div class="w-100 hgap-2">
          @if (!endDateInterval) {
            @if (disseminationRuleCriteriaForm.get('disseminationRuleStartDate').value) {
              <button class="validate-date-small-button" type="button" mat-mini-fab (click)="addBeginDtDisseminationRuleCriteria()">
                <i class="material-icons">check</i>
              </button>
            }
            <button class="btn link" (click)="updateEndDateInterval(true)">
              {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.DISSEMINATION_RULE.CREATE_INTERVAL' | translate }}
            </button>
          } @else {
            <vitamui-datepicker
              [label]="'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_DISSEMINATION_END' | translate"
              formControlName="disseminationRuleEndDate"
              [min]="disseminationRuleCriteriaForm.get('disseminationRuleStartDate').value"
              outputType="Date"
              format="dd/MM/yyyy"
              class="w-100"
            ></vitamui-datepicker>
            @if (
              disseminationRuleCriteriaForm.get('disseminationRuleStartDate').value &&
              disseminationRuleCriteriaForm.get('disseminationRuleEndDate').value
            ) {
              <button class="validate-date-small-button" type="button" mat-mini-fab (click)="addIntervalDtDisseminationRuleCriteria()">
                <i class="material-icons">check</i>
              </button>
            }
            <button class="btn link" (click)="updateEndDateInterval(false)">
              {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.DISSEMINATION_RULE.DELETE_INTERVAL' | translate }}
            </button>
          }
        </div>
      </div>
    </div>

    <div class="gap-2">
      <div class="text medium bold primary uppercase">
        {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.TITLE' | translate }}
      </div>
      <mat-checkbox
        (click)="checkBoxChange('ORIGIN_HAS_AT_LEAST_ONE', $event)"
        [checked]="disseminationAdditionalCriteria.get('ORIGIN_HAS_AT_LEAST_ONE')"
      >
        {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.HAS_AT_LEAST_ONE_DISSEMINATION_RULE' | translate }}
      </mat-checkbox>
      <mat-checkbox
        (click)="checkBoxChange('ORIGIN_INHERITE_AT_LEAST_ONE', $event)"
        [checked]="disseminationAdditionalCriteria.get('ORIGIN_INHERITE_AT_LEAST_ONE')"
      >
        {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.INHERITE_AT_LEAST_ONE_DISSEMINATION_RULE' | translate }}
      </mat-checkbox>
      <mat-checkbox
        (click)="checkBoxChange('ORIGIN_HAS_NO_ONE', $event)"
        [checked]="disseminationAdditionalCriteria.get('ORIGIN_HAS_NO_ONE')"
      >
        {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.HAS_NO_DISSEMINATION_RULE' | translate }}
      </mat-checkbox>
      <mat-checkbox
        (click)="checkBoxChange('ORIGIN_WAITING_RECALCULATE', $event)"
        [checked]="disseminationAdditionalCriteria.get('ORIGIN_WAITING_RECALCULATE')"
      >
        {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.WAITING_TO_RE_CALCULATE_DISSEMINATION_RULE' | translate }}
      </mat-checkbox>
    </div>
  </form>
</div>
