<div class="col-3 operationType" [ngSwitch]="operation.OpType">
  <i class="vitamui-icon vitamui-icon-archive-ingest" *ngSwitchCase="RegisterValueEventType.INGEST"></i>
  <i class="vitamui-icon vitamui-icon-ic24-prservation" *ngSwitchCase="RegisterValueEventType.PRESERVATION"></i>
  <i class="vitamui-icon vitamui-icon-ic24-user-transfer" *ngSwitchCase="RegisterValueEventType.TRANSFER_REPLY"></i>
  <i class="vitamui-icon vitamui-icon-ic24-limination" *ngSwitchCase="RegisterValueEventType.ELIMINATION"></i>
  <i class="vitamui-icon vitamui-icon-question-mark" *ngSwitchDefault></i>
  <span>{{ 'ACCESSION_REGISTER.PREVIEW.OPERATIONS.TYPE.' + operation.OpType | translate }}</span>
</div>
<div class="col-2 creationdate">{{ operation.CreationDate | date: 'dd/MM/yyyy' }}</div>
<div class="col-1 totalUnits">{{ operation.Units }}</div>
<div class="col-1 totalObjects">{{ operation.Objects }}</div>
<div class="col-1 totalGots">{{ operation.Gots }}</div>
<div class="col-1 objectSize">{{ operation.ObjSize }}</div>
<div class="col-1 button"></div>
