:host {
  margin-right: 0;
  margin-left: 0;
  font-weight: normal;

  div {
    display: flex;
    align-items: center;

    i {
      flex-grow: 1;
    }

    span {
      flex-grow: 2;
    }
  }

  .operationType {
    justify-content: space-around;
  }
}
