#jinja2: lstrip_blocks: True
# Module: logstash
# Docs: https://www.elastic.co/guide/en/beats/filebeat/7.17/filebeat-module-logstash.html

- module: logstash
  log:
    enabled: {{ filebeat.cots.logstash.enable_log | bool | lower }}
    var.paths:
      - "{{ vitam_defaults.folder.root_path }}/log/logstash/logstash-plain.log"
    input:
      fields_under_root: true
      fields:
        kind: log
        vitam_component: logstash
        source: vitamui
        type: cots
  slowlog:
    enabled: false
