#jinja2: lstrip_blocks: True
# Module: nginx
# Docs: https://www.elastic.co/guide/en/beats/filebeat/7.17/filebeat-module-nginx.html

- module: nginx
  # Access logs
  access:
    enabled: {{ filebeat.cots.nginx.enable_access | bool | lower }}

    # Set custom paths for the log files. If left empty,
    # Filebeat will choose the paths depending on your OS.
    #var.paths:
    input:
      fields_under_root: true
      fields:
        kind: access
        vitam_component: nginx
        source: vitamui
        type: cots
      processors:
        - dissect:
            tokenizer: '%{client_ip|ip} - %{sender} [%{date_time}] "%{http_method} %{request_path} HTTP/%{http_version}" %{http_status_code|integer} %{response_size} "%{referer}" "%{user_agent}" "%{x_forwarded_for}"'
            target_prefix: ""
        - timestamp:
            field: date_time
            layouts:
              - '02/Jan/2006:15:04:05 -0700'
            test:
              - '30/Sep/2024:13:46:37 +0200'
        - drop_fields:
            fields: ["date_time"]
{% if filebeat.drop_health_checks_logs | default(true) | bool %}
        # Drop Blackbox health checks
        - drop_event:
            when:
              and:
                - equals:
                    http_status_code: 200
                - regexp:
                    user_agent: "^Blackbox.*"
{% endif %}

  # Error logs
  error:
    enabled: {{ filebeat.cots.nginx.enable_error | bool | lower }}

    # Set custom paths for the log files. If left empty,
    # Filebeat will choose the paths depending on your OS.
    #var.paths:
    input:
      fields_under_root: true
      fields:
        kind: error
        vitam_component: nginx
        source: vitamui
        type: cots

  # Ingress-nginx controller logs. This is disabled by default. It could be used in Kubernetes environments to parse ingress-nginx logs
  ingress_controller:
    enabled: {{ filebeat.cots.nginx.enable_ingress | bool | lower }}

    # Set custom paths for the log files. If left empty,
    # Filebeat will choose the paths depending on your OS.
    #var.paths:
    input:
      fields_under_root: true
      fields:
        kind: ingress
        vitam_component: nginx
        source: vitamui
        type: cots
