<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true"> </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading mb-3">
      <vitamui-title-breadcrumb>
        <h5>{{ 'DSL.HOME.TITLE' | translate }}</h5>
      </vitamui-title-breadcrumb>

      <form [formGroup]="form" (ngSubmit)="search()" class="d-flex align-item-center justify-content-between">
        <vitamui-select
          class="w-100"
          formControlName="dslQueryType"
          [placeholder]="'DSL.HOME.SEARCH_CATEGORY' | translate"
          [options]="dslQueryTypeOptions"
          [multiple]="false"
          [enableSearch]="false"
        ></vitamui-select>

        <vitamui-input
          class="w-100 mx-3"
          formControlName="id"
          [placeholder]="'DSL.HOME.IDENTIFIER' | translate"
          [required]="isUnitIdRequired()"
          [errorMessageMap]="{
            minlength: 'DSL.HOME.IDENTIFIER_LENGTH_ERROR' | translate: { length: form.get('id')?.errors?.['minlength']?.requiredLength },
            maxlength: 'DSL.HOME.IDENTIFIER_LENGTH_ERROR' | translate: { length: form.get('id')?.errors?.['maxlength']?.requiredLength },
            unknownUnit: 'DSL.HOME.UNKNOWN_UNIT' | translate,
          }"
        >
        </vitamui-input>

        <vitamui-select
          class="w-100"
          formControlName="accessContract"
          [placeholder]="'DSL.HOME.ACCESS_CONTRACT' | translate"
          [options]="accessContracts"
          [multiple]="false"
          [enableSearch]="false"
        ></vitamui-select>
      </form>
    </div>

    <div class="vitamui-content">
      <form [formGroup]="form" class="request">
        <vitamui-input
          [textarea]="true"
          [placeholder]="'DSL.HOME.REQUEST' | translate"
          class="w-100 mr-3"
          formControlName="dsl"
        ></vitamui-input>

        <vitamui-input
          [textarea]="true"
          [placeholder]="'DSL.HOME.REQUEST_RESULT' | translate"
          class="w-100"
          formControlName="response"
          #responseText
        ></vitamui-input>
      </form>

      <div class="actions">
        <div>
          <button class="btn primary mr-3" (click)="search()" [disabled]="form.pending || form.invalid">
            {{ 'COMMON.SEARCH' | translate }}
          </button>
          <button class="btn secondary" (click)="checkDsl()">{{ 'DSL.HOME.VALIDATE_JSON' | translate }}</button>
        </div>
        <div>
          <button class="btn outline outline-primary mr-3" (click)="copyToClipboard($any(responseText).value)">
            {{ 'COMMON.COPY' | translate }}
          </button>

          <button class="btn outline outline-primary" (click)="clear()">{{ 'COMMON.DELETE' | translate }}</button>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
