<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true"> </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading mb-1">
      <vitamui-common-title-breadcrumb>{{ 'DSL.HOME.TITLE' | translate }}</vitamui-common-title-breadcrumb>

      <form [formGroup]="form" (ngSubmit)="search()" class="d-flex align-item-center justify-content-between mx-2">
        <mat-form-field class="vitamui-mat-select w-100">
          <mat-select
            formControlName="dslQueryType"
            placeholder="{{ 'DSL.HOME.SEARCH_CATEGORY' | translate }}"
            panelClass="vitamui-mat-select"
          >
            <mat-option *ngFor="let dslQuery of dslQueryTypeEnum | keyvalue" [value]="dslQuery.value">
              {{ 'DSL.HOME.' + dslQuery.value | translate }}
            </mat-option>
          </mat-select>

          <div class="select-arrow">
            <i class="material-icons">keyboard_arrow_up</i>
            <i class="material-icons">keyboard_arrow_down</i>
          </div>
        </mat-form-field>

        <vitamui-common-input
          class="w-100 mx-3"
          maxlength="36"
          formControlName="id"
          placeholder="{{ 'DSL.HOME.IDENTIFIER' | translate }}"
          [required]="isUnitIdRequired()"
        >
          <ng-container *ngIf="form.get('id')?.touched">
            <vitamui-common-input-error *ngIf="!!form.get('id')?.errors?.required">
              {{ 'COMMON.REQUIRED' | translate }}
            </vitamui-common-input-error>

            <vitamui-common-input-error *ngIf="!!form.get('id')?.errors?.minlength || !!form.get('id')?.errors?.maxlength">
              {{ 'DSL.HOME.IDIENTIFIER_LENGTH_ERROR' | translate: { length: form.get('id').errors.minlength.requiredLength } }}
            </vitamui-common-input-error>

            <vitamui-common-input-error *ngIf="!!form?.get('id')?.errors?.unknownUnit">
              {{ 'DSL.HOME.UNKOWN_UNIT' | translate }}
            </vitamui-common-input-error>
          </ng-container>
        </vitamui-common-input>

        <mat-form-field class="vitamui-mat-select w-100">
          <mat-select
            formControlName="accessContract"
            placeholder="{{ 'DSL.HOME.ACCESS_CONTRACT' | translate }}"
            panelClass="vitamui-mat-select"
          >
            <mat-option *ngFor="let accessContract of accessContracts" [value]="accessContract.key">
              {{ accessContract.label }}
            </mat-option>
          </mat-select>

          <div class="select-arrow">
            <i class="material-icons">keyboard_arrow_up</i>
            <i class="material-icons">keyboard_arrow_down</i>
          </div>
        </mat-form-field>
      </form>
    </div>

    <div class="vitamui-content">
      <form [formGroup]="form" class="request">
        <div class="w-100 mr-3">
          <div class="text normal bold mb-3">{{ 'DSL.HOME.REQUEST' | translate }}</div>
          <vitamui-common-textarea formControlName="dsl"></vitamui-common-textarea>
        </div>

        <div class="w-100">
          <div class="text normal bold mb-3">{{ 'DSL.HOME.REQUEST_RESULT' | translate }}</div>
          <vitamui-common-textarea formControlName="response" disabled #responseText></vitamui-common-textarea>
        </div>
      </form>

      <div class="actions">
        <div>
          <button class="btn primary mr-3" (click)="search()" [disabled]="form.pending || form.invalid">
            {{ 'COMMON.SEARCH' | translate }}
          </button>
          <button class="btn secondary" (click)="checkDsl()">{{ 'DSL.HOME.VALIDATE_JSON' | translate }}</button>
        </div>
        <div>
          <button class="btn outline outline-primary mr-3" (click)="copyToClipbord(responseText.value)">
            {{ 'COMMON.COPY' | translate }}
          </button>

          <button class="btn outline outline-primary" (click)="clear()">{{ 'COMMON.DELETE' | translate }}</button>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
