@import 'mixins/elevation';

.request {
  display: flex;
  height: 55vh;

  > div {
    height: 88%;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div {
    display: flex;
  }
}
