@import '../../../../sass/variables/colors';

mat-toolbar {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  z-index: 10;
}

.header {
  background-color: var(--vitamui-header-footer);
  position: fixed;
  top: 0;
  height: 72px;
}

.header-logo {
  vertical-align: middle;
}

.spacer {
  flex: 1 1 auto;
}

.header-logo {
  line-height: 0;
}

.selection-component {
  display: flex;
  align-items: center;
}

.tenantSelection {
  display: flex;
  align-items: center;
}

.separator::before {
  content: "|";
  margin: 0 1rem;
}

.username {
  font-size: 14px;
  height: 20px;
  font-weight: bold;
}

.account {
  cursor: pointer;
}

.user-photo {
  display: flex;
}

.user-photo img {
  width: 40px;
  border-radius: 30px;
}

.apps-button {
  background-color: $white;
}

.apps-button mat-icon {
  color: $charcoal-grey;
}

.vitamui-icon-apps-colored {
  font-size: 24px;
}