mat-toolbar {
  z-index: 10;
}

.header {
  background-color: var(--vitamui-header-footer);
  position: fixed;
  top: 0;
  height: 72px;
}

.header-logo {
  vertical-align: middle;
}

.spacer {
  flex: 1 1 auto;
}

.header-logo {
  line-height: 0;
}

.selection-component {
  display: flex;
  align-items: center;
}

.tenantSelection {
  display: flex;
  align-items: center;
}

.separator::before {
  content: "|";
  margin: 0 1rem;
}

.username {
  font-size: 14px;
  height: 20px;
  font-weight: bold;
}

.account {
  cursor: pointer;
}

.apps-button {
  background-color: white;
}

.apps-button mat-icon {
  color: var(--vitamui-grey-700);
}

.vitamui-icon-apps-colored {
  font-size: 24px;
}