@import '../../../../sass/variables/colors';

.row > div {
  display: flex;
 flex-direction: column;
}

.row:not(:last-child) {
  margin-bottom: 1.5rem;
}

label {
  font-size: 13px;
  color: $greyish-two;
  font-weight: normal;
}

.form-pad {
  padding-top: 4.5rem;
  padding-bottom: 6.5rem;
  padding-left: 2.5rem;
}
