@import '../../../../sass/variables/colors';

.row > div {
  display: flex;
 flex-direction: column;
}

.row:not(:last-child) {
  margin-bottom: 1.5rem;
}

label {
  font-size: 14px;

  color:var(--vitamui-grey-600);
  font-weight: normal;
}

span
{
  font-size: 16px;

  color:var(--vitamui-grey-900);
  font-weight: bold;
}
.form-pad {
  padding-top: 4.5rem;
  padding-bottom: 6.5rem;
  padding-left: 2.5rem;
}
