<vitamui-dialog-header
  *ngIf="updateMode"
  [subhead]="'ACCESS_CONTRACT.CREATE_DIALOG.TITLE' | translate"
  [title]="'ACCESS_CONTRACT.CREATE_DIALOG.AUTHORISATION_PERIMETER.TITLE' | translate"
></vitamui-dialog-header>

<form [formGroup]="form">
  <mat-dialog-content>
    <div class="d-flex flex-column">
      <div class="text medium bold primary">
        {{ 'ACCESS_CONTRACT.CREATE_DIALOG.AUTHORISATION_PERIMETER.SELECT_TITLE' | translate }}
      </div>

      <mat-radio-group [formControl]="accessRightSelected" class="gap-2 align-items-stretch">
        <!-- ACCESS_FULL -->
        <mat-radio-button class="text-text-normal" [value]="AccessRightType.ACCESS_FULL">
          {{ 'ACCESS_CONTRACT.CREATE_DIALOG.AUTHORISATION_PERIMETER.ACCESS_FULL' | translate }}
        </mat-radio-button>
        <!-- ACCESS_BY_PRODUCERS -->
        <mat-radio-button class="text-text-normal" [value]="AccessRightType.ACCESS_BY_PRODUCERS">
          {{ 'ACCESS_CONTRACT.CREATE_DIALOG.AUTHORISATION_PERIMETER.ACCESS_BY_PRODUCERS' | translate }}
        </mat-radio-button>
        @if (accessRightSelected.value === AccessRightType.ACCESS_BY_PRODUCERS) {
          <vitamui-select
            [multiple]="true"
            formControlName="originatingAgencies"
            [options]="originatingAgenciesOptions"
            [placeholder]="'ACCESS_CONTRACT.CREATE_DIALOG.EVERY_ORIGINATING_AGENCY_PLACEHOLDER' | translate"
            [searchBarPlaceHolder]="'ACCESS_CONTRACT.CREATE_DIALOG.SELECT_PRODUCERS' | translate"
            [required]="true"
            [errorMessageMap]="{ required: 'ACCESS_CONTRACT.TAB.USAGE.NO_AGENCY_SELECTED' }"
          >
          </vitamui-select>
        }
        <!-- ACCESS_BY_EXPIRED_MANAGEMENT_RULES -->
        <mat-radio-button class="text-text-normal" [value]="AccessRightType.ACCESS_BY_EXPIRED_MANAGEMENT_RULES">
          {{ 'ACCESS_CONTRACT.CREATE_DIALOG.AUTHORISATION_PERIMETER.ACCESS_BY_EXPIRED_MANAGEMENT_RULES' | translate }}
        </mat-radio-button>
        @if (accessRightSelected.value === AccessRightType.ACCESS_BY_EXPIRED_MANAGEMENT_RULES) {
          <vitamui-select
            [multiple]="true"
            formControlName="ruleCategoryToFilter"
            [options]="ruleTypesOptions"
            [placeholder]="'ACCESS_CONTRACT.CREATE_DIALOG.AUTHORISATION_PERIMETER.SELECT_RULES' | translate"
            [searchBarPlaceHolder]="'ACCESS_CONTRACT.CREATE_DIALOG.AUTHORISATION_PERIMETER.SELECT_RULES' | translate"
            [required]="true"
            required
          >
          </vitamui-select>
        }
        <!-- ACCESS_BY_PRODUCERS_OR_EXPIRED_MANAGEMENT_RULES -->
        <mat-radio-button class="text-text-normal" [value]="AccessRightType.ACCESS_BY_PRODUCERS_OR_EXPIRED_MANAGEMENT_RULES">
          {{ 'ACCESS_CONTRACT.CREATE_DIALOG.AUTHORISATION_PERIMETER.ACCESS_BY_PRODUCERS_OR_EXPIRED_MANAGEMENT_RULES' | translate }}
        </mat-radio-button>
        @if (accessRightSelected.value === AccessRightType.ACCESS_BY_PRODUCERS_OR_EXPIRED_MANAGEMENT_RULES) {
          <div>
            <div class="text medium bold primary mb-2">
              {{ 'ACCESS_CONTRACT.CREATE_DIALOG.AUTHORISATION_PERIMETER.PRODUCERS_LIST' | translate }}
            </div>
            <vitamui-select
              [multiple]="true"
              formControlName="originatingAgencies"
              [options]="originatingAgenciesOptions"
              [placeholder]="'ACCESS_CONTRACT.CREATE_DIALOG.EVERY_ORIGINATING_AGENCY_PLACEHOLDER' | translate"
              [searchBarPlaceHolder]="'ACCESS_CONTRACT.CREATE_DIALOG.SELECT_PRODUCERS' | translate"
              [required]="true"
              [errorMessageMap]="{ required: 'ACCESS_CONTRACT.TAB.USAGE.NO_AGENCY_SELECTED' }"
            >
            </vitamui-select>
            <div class="text medium bold primary mb-2">
              {{ 'ACCESS_CONTRACT.CREATE_DIALOG.AUTHORISATION_PERIMETER.MANAGMENT_RULES' | translate }}
            </div>
            <vitamui-select
              [multiple]="true"
              formControlName="ruleCategoryToFilterForTheOtherOriginatingAgencies"
              [options]="ruleTypesOptions"
              [placeholder]="'ACCESS_CONTRACT.CREATE_DIALOG.AUTHORISATION_PERIMETER.SELECT_RULES' | translate"
              [searchBarPlaceHolder]="'ACCESS_CONTRACT.CREATE_DIALOG.AUTHORISATION_PERIMETER.SELECT_RULES' | translate"
              [required]="true"
              required
            >
            </vitamui-select>
          </div>
        }
        <!-- ACCESS_BY_PRODUCERS_AND_EXPIRED_MANAGEMENT_RULES -->
        <mat-radio-button class="text-text-normal" [value]="AccessRightType.ACCESS_BY_PRODUCERS_AND_EXPIRED_MANAGEMENT_RULES">
          {{ 'ACCESS_CONTRACT.CREATE_DIALOG.AUTHORISATION_PERIMETER.ACCESS_BY_PRODUCERS_AND_EXPIRED_MANAGEMENT_RULES' | translate }}
        </mat-radio-button>
        @if (accessRightSelected.value === AccessRightType.ACCESS_BY_PRODUCERS_AND_EXPIRED_MANAGEMENT_RULES) {
          <div>
            <vitamui-select
              [multiple]="true"
              formControlName="originatingAgencies"
              [options]="originatingAgenciesOptions"
              [placeholder]="'ACCESS_CONTRACT.CREATE_DIALOG.EVERY_ORIGINATING_AGENCY_PLACEHOLDER' | translate"
              [searchBarPlaceHolder]="'ACCESS_CONTRACT.CREATE_DIALOG.SELECT_PRODUCERS' | translate"
              [required]="true"
              [errorMessageMap]="{ required: 'ACCESS_CONTRACT.TAB.USAGE.NO_AGENCY_SELECTED' }"
            >
            </vitamui-select>
            <vitamui-select
              [multiple]="true"
              formControlName="ruleCategoryToFilter"
              [options]="ruleTypesOptions"
              [placeholder]="'ACCESS_CONTRACT.CREATE_DIALOG.AUTHORISATION_PERIMETER.SELECT_RULES' | translate"
              [searchBarPlaceHolder]="'ACCESS_CONTRACT.CREATE_DIALOG.AUTHORISATION_PERIMETER.SELECT_RULES' | translate"
              [required]="true"
              required
            >
            </vitamui-select>
          </div>
        }
      </mat-radio-group>
    </div>

    <div class="text medium bold primary mt-5 mb-2">
      {{ 'ACCESS_CONTRACT.CREATE_DIALOG.AUTHORISATION_PERIMETER.ACCESS_TO_PLAN' | translate }}
    </div>
    <vitamui-slide-toggle formControlName="doNotFilterFilingSchemes">
      {{ 'ACCESS_CONTRACT.CREATE_DIALOG.AUTHORISATION_PERIMETER.ACCESS_TO_PLAN_AUTHORIZATION' | translate }}
      <i
        class="vitamui-icon vitamui-icon-info align-middle primary"
        vitamuiTooltip="{{ 'ACCESS_CONTRACT.CREATE_DIALOG.AUTHORISATION_PERIMETER.ACCESS_TO_PLAN_AUTHORIZATION_TOOLTIP' | translate }}"
      ></i>
    </vitamui-slide-toggle>
  </mat-dialog-content>

  <mat-dialog-actions>
    @if (updateMode) {
      <button type="button" class="btn primary" [disabled]="form.errors" (click)="onValidate()">
        {{ 'COMMON.SAVE' | translate }}
      </button>
      <button type="button" class="btn cancel link" (click)="onCancel()">{{ 'COMMON.UNDO' | translate }}</button>
    } @else {
      <div>
        <vitamui-next-step [disabled]="form.errors" (click)="onValidate()"></vitamui-next-step>
        <button type="button" class="btn cancel link" (click)="onCancel()">{{ 'COMMON.UNDO' | translate }}</button>
      </div>
      <vitamui-previous-step></vitamui-previous-step>
    }
  </mat-dialog-actions>
</form>
