<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    <app-security-profile-preview
      *ngIf="openedItem"
      (previewClose)="closePanel()"
      [securityProfile]="openedItem"
    ></app-security-profile-preview>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-common-title-breadcrumb>
        {{ 'SECURITY_PROFILE_APP.HOME.TITLE' | translate }}
      </vitamui-common-title-breadcrumb>

      <vitamui-common-banner
        [searchbarPlaceholder]="'SECURITY_PROFILE_APP.HOME.SEARCH_PLACEHOLDER' | translate"
        (search)="onSearchSubmit($event)"
      >
        <button class="btn primary ml-3 mr-3" (click)="openCreateSecurityProfileDialog()">
          <span>{{ 'SECURITY_PROFILE_APP.HOME.CREATE' | translate }}</span>
        </button>
      </vitamui-common-banner>
    </div>

    <div class="vitamui-content">
      <app-security-profile-list (contextClick)="showSecurityProfile($event)" [search]="search"></app-security-profile-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
