<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    <app-security-profile-preview
      *ngIf="openedItem"
      (previewClose)="closePanel()"
      [securityProfile]="openedItem"
    ></app-security-profile-preview>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-header">
      <div class="vitamui-container">
        <vitamui-common-navbar [appId]="appId" [hideTenantMenu]="true" [hideCustomerMenu]="true"></vitamui-common-navbar>

        <div class="vitamui-heading">
          <vitamui-common-title-breadcrumb>
            {{ 'APPLICATION.SECURITY_PROFILES_APP.NAME' | translate }}
          </vitamui-common-title-breadcrumb>
        </div>

        <div class="controls">
          <vitamui-common-search-bar
            name="security-profile-search"
            (search)="onSearchSubmit($event)"
            placeholder="Nom, Identifiant"
            i18n-placeholder="@@contextSearchPlaceholder"
          ></vitamui-common-search-bar>

          <div class="actions">
            <button class="btn secondary" (click)="openCreateSecurityProfileDialog()">
              <i class="vitamui-icon vitamui-icon-bank-plus btn-create"></i>
              <span i18n="Create context button label@@contextListCreateButton">Créer un profil</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="vitamui-body vitamui-container">
      <app-security-profile-list (contextClick)="showSecurityProfile($event)" [search]="search"></app-security-profile-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
