.title {
  color: #110514;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: -0.5px;
}
.num {
  color: #110514;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: -15px;
}

.update-ingest {
  color: var(--vitamui-primary);
  text-align: left;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.1px;
  text-decoration-line: underline;
  cursor: pointer;
}
.comment {
  color: var(--vitamui-primary);
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: right;
  cursor: pointer;
}

.comment-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.add-icon {
  color: var(--vitamui-primary);
  font-size: 35px;
  padding-left: 25px;
}

.selected-elements {
  color: var(--vitamui-primary);
  text-align: left;
  font-family: Mulish;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  display: inline-block;
}

.icon-action {
  color: var(--vitamui-primary);
  font-size: 24px;
  cursor: pointer;
  padding-left: 10px;
}

.icon-folder {
  color: var(--vitamui-primary);
  font-size: 20px;
  cursor: pointer;
}

.content {
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 150px;
  }

  .actions {
    flex-direction: column;
    align-items: start;

    .line {
      margin-bottom: 20px;
    }

    button {
      margin-right: 20px;
    }
  }
}

.drag-and-drop-area {
  width: 100%;
  height: 25vh;
  border: 2px dashed var(--vitamui-primary);
  border-radius: 6px;
  box-shadow: 0 0 80px rgba(255, 255, 249, 0.3);
  background: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  .drop-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    .objects-drop {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.on-over {
  border: 2px solid var(--vitamui-secondary);
  height: 300px;

  p {
    color: white;
  }

  .drop-area {
    height: 100%;
    background: #5cbaa9;
    opacity: 0.9;
    color: white;
    overflow: hidden;
  }
}

.input-file {
  display: none;
}

.url-select {
  color: var(--vitamui-primary);
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.clickable-texte {
  cursor: pointer;
  text-decoration-line: underline;
}

.upload-percent {
  position: fixed;
  bottom: 10px;
  right: 100px;
}

.padding-css {
  padding-right: 20px;
}

.tree-btn {
  position: absolute;
  top: 8%;
  left: 0;
}
.btn-css {
  background-color: white;
  color: var(--vitamui-primary);
  width: 40px;
  height: 60px;
}

.left-not-arround {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid #9d9d9d;
}

.right-arround {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 0px;
  border: 1px solid whitesmoke;
  border-left: 0px;
}

::ng-deep .mat-sidenav-content {
  flex-grow: 1;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--vitamui-primary);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 5px;
  }
}

.custom-sidenav {
  min-width: 300px;
  max-width: 600px;
}

.vitamui-row {
  padding: 0.8rem;
  margin-bottom: 0rem;
  background-color: white;
}

.unit-selected {
  background-color: var(--Primary-Primary-50, #f7ebfa);
  border-radius: 5px;
  border: 1px solid var(--vitamui-primary);
}
.unit-not-selected {
  background-color: white;
}

.my-archives {
  color: var(--Grey-Grey-900, #212121);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 20px;
}

.path-archive {
  color: var(--vitamui-primary);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.clickable {
  cursor: pointer;
}

::ng-deep .mat-menu-panel {
  max-width: 950px !important;
  min-height: 0px !important;
}

::ng-deep .node-children-menu {
  width: 425px;
  border-radius: 10px;
  border: 1px solid var(--Grey-Grey-400, #bdbdbd);
  background: #fff;
  display: inline-flex;
  padding: 10px;
  align-items: flex-start;
  button {
    color: var(--Grey-Grey-900, #212121);
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.1px;
    width: 400px;
  }
}

::ng-deep .mat-menu-item:hover:not([disabled]) {
  border-radius: 5px;
  background-color: var(--Primary-Primary-50, #f7ebfa);
}

.horizontal-line {
  border-top: 1px solid var(--Grey-Grey-300, #e0e0e0);
  padding-bottom: 12px;
}

.row-padding {
  padding-top: 15px;
  padding-bottom: 10px;
}

.icon-size {
  font-size: 40px;
}

.btn-margin {
  margin-top: 15%;
}
