<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav
    class="custom-sidenav"
    mode="side"
    [fixedInViewport]="true"
    [opened]="show && searchHasResults"
    vitamuiCommonResizeSidebar="left"
  >
    <getorix-tree-plan-schema
      [searchHasMatches]="searchHasResults"
      (searchUnitsOfNode)="searchUnitsOfNode($event)"
      *ngIf="getorixDepositDetailsFound"
    ></getorix-tree-plan-schema>
  </mat-sidenav>

  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    <getorix-archive-unit-preview
      *ngIf="openedItem"
      [archiveUnitId]="openedItem"
      (previewClose)="closePanel()"
    ></getorix-archive-unit-preview>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-content" [ngStyle]="{ 'padding-top': '40px' }">
      <vitamui-common-title-breadcrumb [data]="dataBreadcrumb"> </vitamui-common-title-breadcrumb>

      <div class="row" [ngStyle]="{ 'margin-top': '-10px' }">
        <div class="col-7">
          <p class="title">{{ getorixDepositDetails?.operationName }}</p>
          <p class="num">
            {{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.OPERATION_NUMBER' | translate }}
            {{ getorixDepositDetails?.internalAdministratorNumber }}
          </p>
        </div>
        <div class="col-3"></div>
        <div class="col-2">
          <button class="btn primary btn-margin" (click)="notifyArchivist()">
            <span> {{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.SEND_TO_ARCHIVIST' | translate }}</span>
          </button>
        </div>
      </div>
      <div class="row row-padding">
        <div class="col-3">
          <p class="update-ingest" (click)="goToUpdateOperation()">
            {{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.UPDATE_CONTENT_DESCRIPTION' | translate }}
          </p>
        </div>
        <div class="col-7"></div>
        <div class="col-2">
          <p class="comment" (click)="showComments()">
            <i class="material-icons comment-icon">message </i>
            {{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.COMMENTS' | translate }}
          </p>
        </div>
      </div>
      <div class="row row justify-content-around tree-btn">
        <div class="col-12">
          <button
            *ngIf="!show || !searchHasResults"
            type="button"
            class="btn btn-css right-arround left-not-arround"
            (click)="hideTreeBlock(show)"
            matTooltip="{{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.SHOW_TREES_PLANS' | translate }}"
            matTooltipClass="getorix-node-tooltip"
            [matTooltipShowDelay]="300"
          >
            <i class="material-icons icon-size">chevron_right</i>
          </button>
        </div>
      </div>

      <div></div>
      <ng-container *ngIf="!pending; then uploadObjectActivated; else inProgressSpinner"> </ng-container>

      <br />
      <div class="horizontal-line" *ngIf="!pending && totalResults > 0"></div>
      <br />

      <!-- Path with less than 5 elements-->
      <div class="my-archives" *ngIf="nodeParentsFullPath.length > 0 && nodeParentsFullPath.length < 5 && !pending && !isLoadUnitPath">
        <ng-container *ngFor="let element of nodeParentsFullPath; let lastItem = last">
          <span class="path-archive clickable" (click)="getUnitsOfNode(element)" *ngIf="!lastItem && element.id !== 'ORPHANS_NODE'"
            >{{ element.title | truncate: 26 }}
          </span>
          <span class="path-archive clickable" (click)="getUnitsOfNode(element)" *ngIf="element.id === 'ORPHANS_NODE'">{{
            'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.TREE.MY_ARCHIVES' | translate
          }}</span>
          <span *ngIf="lastItem">{{ element.title }}</span>
          <span *ngIf="!lastItem" class="path-archive"> / </span>
        </ng-container>
      </div>

      <!-- Path with more than 5 elements-->
      <div class="my-archives" *ngIf="nodeParentsFullPath.length >= 5 && !pending">
        <span class="path-archive clickable" (click)="getUnitsOfNode(nodeParentsFullPath[0])">{{ nodeParentsFullPath[0].title }}</span>
        <span class="path-archive"> / </span>

        <span [matMenuTriggerFor]="childrenMenu" (click)="openNodeChildrenMenu()" #childrenMenuMenuTrigger>
          <i class="vitamui-icon vitamui-icon-folder-content icon-folder"></i>
          <mat-menu #childrenMenu="matMenu" class="node-children-menu">
            <span *ngFor="let nodeElement of nodeParentsFullPath.slice(1, nodeParentsFullPath.length - 2)" [ngStyle]="{ width: '100%' }">
              <button mat-menu-item (click)="getUnitsOfNode(nodeElement)">
                <i class="vitamui-icon vitamui-icon-folder" [ngStyle]="{ 'padding-right': '10px' }"></i>
                {{ nodeElement.title | truncate: 36 }}
              </button>
            </span>
          </mat-menu>
        </span>
        <span class="path-archive"> / </span>
        <span class="path-archive clickable" (click)="getUnitsOfNode(nodeParentsFullPath[nodeParentsFullPath.length - 2])">{{
          nodeParentsFullPath[nodeParentsFullPath.length - 2].title | truncate: 26
        }}</span>
        <span class="path-archive"> / </span>
        <span>{{ nodeParentsFullPath[nodeParentsFullPath.length - 1].title | truncate: 26 }}</span>
      </div>

      <!--When parent node selected-->
      <div class="my-archives" *ngIf="nodeParentsFullPath.length === 0 && !pending && totalResults > 0">
        <span>{{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.TREE.MY_ARCHIVES' | translate }} </span>
      </div>

      <div vitamuiCommonInfiniteScroll (vitamuiScroll)="loadMore()" *ngIf="totalResults > 0">
        <div class="vitamui-table">
          <div class="vitamui-table-head">
            <div class="col d-flex align-items-center">
              <input
                *ngIf="totalResults > 0"
                type="checkbox"
                class="criteria-choice-input"
                [checked]="isAllChecked"
                [indeterminate]="isIndeterminate"
                (click)="checkParentBoxChange($event)"
              />
            </div>

            <div class="col-6 d-flex align-items-center padding-css">
              {{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.NAME' | translate }}
              <vitamui-common-order-by-button
                orderByKey="Title"
                [(orderBy)]="orderBy"
                [(direction)]="direction"
                (orderChange)="emitOrderChange()"
              >
              </vitamui-common-order-by-button>
            </div>
            <div class="col"></div>

            <div class="col-5" [ngStyle]="{ 'text-align': 'end' }">
              <span class="selected-elements" *ngIf="numberOfSelectedElements > 0"
                >{{ numberOfSelectedElements }} {{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.SELECTED_ELEMENTS' | translate }}</span
              >

              <i
                matTooltip="{{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.UNIT_ACTION.SHOW_DETAILS' | translate }}"
                matTooltipClass="getorix-tooltip"
                [matTooltipShowDelay]="300"
                matTooltipPosition="above"
                (click)="showDetails()"
                class="material-icons icon-action"
                *ngIf="numberOfSelectedElements === 1"
                >info
              </i>
              <i
                matTooltip="{{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.UNIT_ACTION.COMMENT' | translate }}"
                matTooltipClass="getorix-tooltip"
                [matTooltipShowDelay]="300"
                matTooltipPosition="above"
                class="material-icons icon-action"
                *ngIf="numberOfSelectedElements > 0"
                >message
              </i>
              <i
                matTooltip="{{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.UNIT_ACTION.RENAME' | translate }}"
                matTooltipClass="getorix-tooltip"
                [matTooltipShowDelay]="300"
                matTooltipPosition="above"
                (click)="editUnits()"
                class="material-icons icon-action"
                *ngIf="numberOfSelectedElements > 0"
                >edit
              </i>

              <i
                matTooltip="{{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.UNIT_ACTION.MOVE' | translate }}"
                matTooltipClass="getorix-tooltip"
                [matTooltipShowDelay]="300"
                matTooltipPosition="above"
                (click)="reclassifyUnits()"
                class="material-icons icon-action"
                *ngIf="numberOfSelectedElements > 0"
                >arrow_forward
              </i>

              <i
                matTooltip="{{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.UNIT_ACTION.DELETE' | translate }}"
                matTooltipClass="getorix-tooltip"
                [matTooltipShowDelay]="300"
                matTooltipPosition="above"
                (click)="deleteUnits()"
                class="material-icons icon-action"
                *ngIf="numberOfSelectedElements > 0"
                [ngStyle]="{ 'padding-right': '10px' }"
                >delete
              </i>

              <i
                matTooltip="{{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.UNIT_ACTION.IMPORT' | translate }}"
                matTooltipClass="getorix-tooltip"
                [matTooltipShowDelay]="300"
                matTooltipPosition="above"
                (click)="uploadNewObject()"
                class="material-icons clickable icon-size"
                >add_circle</i
              >
            </div>
          </div>

          <div class="vitamui-table-body">
            <div class="vitamui-table-rows" *ngFor="let archiveUnit of archiveUnits">
              <div
                (contextmenu)="onRightClick($event, archiveUnit)"
                class="vitamui-row d-flex align-items-center"
                (mouseenter)="onMouseOverOnUnitRow(archiveUnit)"
                (mouseleave)="onMouseLeaveOnUnitRow(archiveUnit)"
                [ngClass]="isItemSelectedOver(archiveUnit) || isItemSelected(archiveUnit) ? 'unit-selected' : 'unit-not-selected'"
              >
                <div class="col d-flex align-items-center">
                  <input
                    *ngIf="isItemSelectedOver(archiveUnit) || isItemSelected(archiveUnit)"
                    class="criteria-choice-input"
                    type="checkbox"
                    (click)="selectArchiveUnit(archiveUnit)"
                    [checked]="isItemSelected(archiveUnit)"
                  />
                  <span class="table-filter-icon" [ngSwitch]="getArchiveUnitType(archiveUnit)" *ngIf="!isItemSelectedOver(archiveUnit)">
                    <ng-container *ngSwitchCase="'INGEST'">
                      <span class="table-filter-icon">
                        <ng-container *ngIf="!archiveUnit['#object']">
                          <i class="vitamui-icon vitamui-icon-electronic-folder1 vitamui-row-icon"></i>
                        </ng-container>
                        <ng-container *ngIf="!!archiveUnit['#object']">
                          <i class="vitamui-icon vitamui-icon-electronic-file1 vitamui-row-icon"></i>
                        </ng-container>
                      </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'HOLDING_UNIT'">
                      <i class="vitamui-icon vitamui-icon-icone-arbre vitamui-row-icon"></i>
                    </ng-container>
                    <ng-container *ngSwitchCase="'FILING_UNIT'">
                      <i class="vitamui-icon vitamui-icon-plan-classement vitamui-row-icon"></i>
                    </ng-container>
                  </span>
                </div>
                <div class="col-6 d-flex align-items-center">
                  {{ archiveUnit?.Title }}
                </div>
                <div class="col-5"></div>
                <div class="col"></div>

                <div
                  style="visibility: hidden; position: fixed"
                  [style.left.px]="menuTopLeftPosition.x"
                  [style.top.px]="menuTopLeftPosition.y"
                  [matMenuTriggerFor]="unitActionMenu"
                  #matUnitActionMenuTrigger
                ></div>
                <mat-menu #unitActionMenu="matMenu" class="unit-action-menu">
                  <button mat-menu-item (click)="showUnitDetails()">
                    {{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.UNIT_ACTION.SHOW_DETAILS' | translate }}
                  </button>
                  <button mat-menu-item>{{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.UNIT_ACTION.COMMENT' | translate }}</button>
                  <button mat-menu-item>{{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.UNIT_ACTION.RENAME' | translate }}</button>
                  <button mat-menu-item>{{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.UNIT_ACTION.MOVE' | translate }}</button>
                  <button mat-menu-item class="delete-text">
                    {{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.UNIT_ACTION.DELETE' | translate }}
                    <i class="vitamui-icon vitamui-icon-delete vitamui-row-icon delete-css"></i>
                  </button>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="upload-percent">component to follow the upload steps</div> -->
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #inProgressSpinner>
  <div class="vitamui-min-content">
    <mat-spinner class="vitamui-spinner large" color="accent"></mat-spinner>
  </div>
</ng-template>
<ng-template #uploadObjectActivated>
  <div class="row row-padding" *ngIf="isShowUploadComponent || totalResults === 0">
    <div class="col">
      <div class="content">
        <div class="main-content">
          <div
            class="drag-and-drop-area"
            (dragleave)="onDragLeave($event)"
            (dragover)="onDragOver($event)"
            (drop)="onDropped($event)"
            [ngClass]="{ 'on-over': hasDropZoneOver }"
          >
            <input #fileSearch (change)="handleFile($event)" class="input-file" directory multiple type="file" webkitdirectory />
            <div class="drop-area">
              <div class="pbjects-drop">
                <p class="url-select">
                  <i class="material-icons">add</i>
                  {{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.DRAG_AND_DROP' | translate }}
                  <span (click)="addFolder()" class="url-select clickable-texte">
                    {{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.BROWSE' | translate }}
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3"></div>
  </div>
</ng-template>
