<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav-content>
    <div class="vitamui-content" [ngStyle]="{ 'padding-top': '40px' }">
      <vitamui-common-title-breadcrumb [data]="dataBreadcrumb"> </vitamui-common-title-breadcrumb>

      <div class="row" [ngStyle]="{ 'margin-top': '-10px' }">
        <div class="col-7">
          <p class="title">{{ getorixDepositDetails?.operationName }}</p>
          <p class="num">
            {{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.OPERATION_NUMBER' | translate }}
            {{ getorixDepositDetails?.internalAdministratorNumber }}
          </p>
        </div>
        <div class="col-3"></div>
        <div class="col-2">
          <button class="btn primary" [ngStyle]="{ 'margin-top': '15%' }" (click)="notifyArchivist()">
            <span> {{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.SEND_TO_ARCHIVIST' | translate }}</span>
          </button>
        </div>
      </div>
      <div class="row" [ngStyle]="{ ' padding-top': '15px' }">
        <div class="col-3">
          <p class="update-ingest" (click)="goToUpdateOperation()">
            {{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.UPDATE_CONTENT_DESCRIPTION' | translate }}
          </p>
        </div>
        <div class="col-7"></div>
        <div class="col-2">
          <p class="comment" (click)="showComments()">
            <i class="material-icons comment-icon">message </i>
            {{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.COMMENTS' | translate }}
          </p>
        </div>
      </div>
      <div class="row row justify-content-around tree-btn">
        <div class="col-12">
          <button
            *ngIf="!show"
            type="button"
            class="btn btn-css right-arround left-not-arround"
            (click)="hideTreeBlock(show)"
            matTooltip="{{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.SHOW_TREES_PLANS' | translate }}"
            matTooltipClass="vitamui-tooltip"
            [matTooltipShowDelay]="300"
          >
            <i class="material-icons" [ngStyle]="{ 'font-size': '40px' }">chevron_right</i>
          </button>
        </div>
      </div>

      {{ operationId }}

      <div></div>
      <ng-container *ngIf="!pending; then uploadObjectActivated; else inProgressSpinner"> </ng-container>

      <div></div>
      <br />
      <br />
      <br />

      <div vitamuiCommonInfiniteScroll (vitamuiScroll)="loadMore()" *ngIf="totalResults > 0">
        <div class="vitamui-table">
          <div class="vitamui-table-head">
            <div class="col d-flex align-items-center">
              <input
                *ngIf="totalResults > 0"
                type="checkbox"
                class="criteria-choice-input"
                [checked]="isAllChecked"
                [indeterminate]="isIndeterminate"
                (click)="checkParentBoxChange($event)"
              />
            </div>
            <div class="col"></div>

            <div class="col-7 d-flex align-items-center padding-css">
              {{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.NAME' | translate }}
              <vitamui-common-order-by-button
                orderByKey="Title"
                [(orderBy)]="orderBy"
                [(direction)]="direction"
                (orderChange)="emitOrderChange()"
              >
              </vitamui-common-order-by-button>
            </div>
            <div class="col"></div>
            <div class="col-3 selected-elements" *ngIf="numberOfSelectedElements > 0">
              {{ numberOfSelectedElements }} {{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.SELECTED_ELEMENTS' | translate }}
              <i (click)="editUnits()" class="vitamui-icon vitamui-icon-edit icon-action"></i
              ><i class="vitamui-icon vitamui-icon-arrow-right2 icon-action" (click)="reclassifyUnits()"></i>
              <i class="vitamui-icon vitamui-icon-delete icon-action" (click)="deleteUnits()"></i>
            </div>
            <div class="col-3" *ngIf="numberOfSelectedElements === 0"></div>

            <div class="col">
              <i (click)="addNewObject()" class="material-icons icon-action clickable" [ngStyle]="{ 'font-size': '40px' }">add_circle</i>
            </div>
          </div>

          <div class="vitamui-table-body">
            <div class="vitamui-table-rows" *ngFor="let archiveUnit of archiveUnits">
              <div
                class="vitamui-row d-flex align-items-center"
                (mouseenter)="onMouseOverOnUnitRow(archiveUnit)"
                (mouseleave)="onMouseLeaveOnUnitRow(archiveUnit)"
              >
                <div class="col d-flex align-items-center">
                  <input
                    *ngIf="isItemSelectedOver(archiveUnit) || isItemSelected(archiveUnit)"
                    class="criteria-choice-input"
                    type="checkbox"
                    (click)="selectArchiveUnit(archiveUnit)"
                    [checked]="isItemSelected(archiveUnit)"
                  />
                  <span class="table-filter-icon" [ngSwitch]="getArchiveUnitType(archiveUnit)" *ngIf="!isItemSelectedOver(archiveUnit)">
                    <ng-container *ngSwitchCase="'INGEST'">
                      <span class="table-filter-icon">
                        <ng-container *ngIf="!archiveUnit['#object']">
                          <i class="vitamui-icon vitamui-icon-electronic-folder1 vitamui-row-icon"></i>
                        </ng-container>
                        <ng-container *ngIf="!!archiveUnit['#object']">
                          <i class="vitamui-icon vitamui-icon-electronic-file1 vitamui-row-icon"></i>
                        </ng-container>
                      </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'HOLDING_UNIT'">
                      <i class="vitamui-icon vitamui-icon-icone-arbre vitamui-row-icon"></i>
                    </ng-container>
                    <ng-container *ngSwitchCase="'FILING_UNIT'">
                      <i class="vitamui-icon vitamui-icon-plan-classement vitamui-row-icon"></i>
                    </ng-container>
                  </span>
                </div>
                <div class="col-10 d-flex align-items-center">
                  {{ archiveUnit?.Title }}
                </div>
                <div class="col"></div>
                <div class="col"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="upload-percent">component to follow the upload steps</div> -->
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #inProgressSpinner>
  <div class="vitamui-min-content">
    <mat-spinner class="vitamui-spinner x-large" color="accent"></mat-spinner>
  </div>
</ng-template>
<ng-template #uploadObjectActivated>
  <div class="row" *ngIf="isShowUploadComponent || totalResults === 0" [ngStyle]="{ 'padding-top': '45px' }">
    <div class="col">
      <div class="content">
        <div class="main-content">
          <div
            class="drag-and-drop-area"
            (dragleave)="onDragLeave($event)"
            (dragover)="onDragOver($event)"
            (drop)="onDropped($event)"
            [ngClass]="{ 'on-over': hasDropZoneOver }"
          >
            <input #fileSearch (change)="handleFile($event)" class="input-file" directory multiple type="file" webkitdirectory />
            <div class="drop-area">
              <div class="pbjects-drop">
                <p class="url-select">
                  <i class="material-icons">add</i>
                  {{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.DRAG_AND_DROP' | translate }}
                  <span (click)="addFolder()" class="url-select clickable-texte">
                    {{ 'GETORIX_DEPOSIT.UPLOAD_ARCHIVES.BROWSE' | translate }}
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3"></div>
  </div>
</ng-template>
