// Create admin user

if (! dbAdmin.getUser("{{ mongodb.admin.user }}")) {
    dbAdmin.createUser(
        {
            user: "{{ mongodb.admin.user }}",
            pwd: "{{ mongodb.admin.password }}",
            roles: {{ mongodb.admin.roles }}
        }
    )
}
else {
    dbAdmin.updateUser(
        "{{ mongodb.admin.user }}",
        {
            pwd: "{{ mongodb.admin.password }}",
            roles: {{ mongodb.admin.roles }}
        }
    )
}
