// Create iam user

if (! dbIam.getUser("{{ mongodb.iam.user }}")) {
    dbIam.createUser(
        {
            user: "{{ mongodb.iam.user }}",
            pwd: "{{ mongodb.iam.password }}",
            roles: {{ mongodb.iam.roles }}
        }
    )
}
else {
    dbIam.updateUser(
        "{{ mongodb.iam.user }}",
        {
            pwd: "{{ mongodb.iam.password }}",
            roles: {{ mongodb.iam.roles }}
        }
    )
}
