// Create archivesearch user

if (! dbArchiveSearch.getUser("{{ mongodb.archivesearch.user }}")) {
    dbArchiveSearch.createUser(
        {
            user: "{{ mongodb.archivesearch.user }}",
            pwd: "{{ mongodb.archivesearch.password }}",
            roles: {{ mongodb.archivesearch.roles }}
        }
    )
}
else {
    dbArchiveSearch.updateUser(
        "{{ mongodb.archivesearch.user }}",
        {
            pwd: "{{ mongodb.archivesearch.password }}",
            roles: {{ mongodb.archivesearch.roles }}
        }
    )
}
