<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    <app-group-preview *ngIf="openedItem" (previewClose)="closePanel()" [group]="openedItem"></app-group-preview>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-common-title-breadcrumb>
        {{ 'APPLICATION.GROUPS_APP.NAME' | translate }}
      </vitamui-common-title-breadcrumb>

      <vitamui-common-banner [searchbarPlaceholder]="'GROUP.HOME.TITLE_PLACEHOLDER' | translate" (search)="onSearchSubmit($event)">
        <button class="btn primary ml-5" (click)="openCreateGroupDialog()">
          <span>{{ 'GROUP.HOME.ACTION_BUTTON' | translate }}</span>
        </button>

        <button class="btn secondary ml-3" (click)="exportProfilesAsExcel()" [disabled]="exportButtonDisabled">
          <span>{{ 'GROUP.HOME.EXPORT' | translate }}</span>
        </button>
      </vitamui-common-banner>
    </div>

    <div class="vitamui-content">
      <app-group-list [search]="search" (groupClick)="openPanel($event)"></app-group-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
