<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end">
    <app-group-preview *ngIf="openedItem" (previewClose)="closePanel()" [group]="openedItem"></app-group-preview>
  </mat-sidenav>

  <mat-sidenav-content class="vitamui-body">
    <vitamui-common-title-breadcrumb [data]="breadCrumbData">
      Paramétrer les groupes de profils
    </vitamui-common-title-breadcrumb>
    
    <vitamui-common-banner
      [searchbarPlaceholder]="'Nom de Profil Administrateur'"
      (search)="onSearchSubmit($event)">
      <button class="btn primary ml-5" (click)="openCreateGroupDialog()">
        <span>Créer un Groupe</span>
      </button>
    </vitamui-common-banner>
    
    <app-group-list [search]="search" (groupClick)="openPanel($event)"></app-group-list>
  </mat-sidenav-content>
</mat-sidenav-container>
