<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    <app-user-preview *ngIf="openedItem" (previewClose)="closePanel()" [user]="openedItem" [customer]="customer"
      [groups]="groups"></app-user-preview>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-common-title-breadcrumb>
        {{ 'APPLICATION.USERS_APP.TITLE' | translate }}
      </vitamui-common-title-breadcrumb>

      <vitamui-common-banner [searchbarPlaceholder]="'USER.HOME.TITLE_PLACEHOLDER' | translate" (search)="onSearchSubmit($event)">
        <div *ngIf="groups">
          <button class="btn primary" (click)="openCreateUserDialog()" [disabled]="!connectedUserInfo.createUser">
            <span>{{'USER.HOME.ACTION_BUTTON' | translate}}</span>
          </button>
        </div>
      </vitamui-common-banner>
    </div>

    <div class="vitamui-content">
      <app-user-list [search]="search" [connectedUserInfo]="connectedUserInfo" [groups]="groups"
        (userClick)="openPanel($event)">
      </app-user-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
