<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    <app-user-preview *ngIf="openedItem" (previewClose)="closePanel()" [user]="openedItem" [customer]="customer"></app-user-preview>
  </mat-sidenav>

  <mat-sidenav-content class="overflow-none  vitamui-body">
    <vitamui-common-title-breadcrumb [data]="breadCrumbData">
      <span i18n="Search a user@@administrateUsers">
        Administrer mes utilisateurs
      </span>
    </vitamui-common-title-breadcrumb>

    <vitamui-common-banner [searchbarPlaceholder]="'Nom,  Prénom, N° d \'identifiant, groupe'" i18n-placeholder="@@userSearchPlaceholder" (search)="onSearchSubmit($event)">
      <button class="btn primary" (click)="openCreateUserDialog()" [disabled]="!connectedUserInfo.createUser">
        <span>Créer un Utilisateur</span>
      </button>
    </vitamui-common-banner>

    <app-user-list [search]="search" [connectedUserInfo]="connectedUserInfo" (userClick)="openPanel($event)"></app-user-list>
  </mat-sidenav-content>
</mat-sidenav-container>
