<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    @if (openedItem) {
      <app-user-preview (previewClose)="closePanel()" [user]="openedItem" [customer]="customer" [groups]="groups"></app-user-preview>
    }
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-title-breadcrumb>
        <h5>{{ 'APPLICATION.USERS_APP.TITLE' | translate }}</h5>
      </vitamui-title-breadcrumb>

      <vitamui-banner [searchbarPlaceholder]="'USER.HOME.TITLE_PLACEHOLDER' | translate" (search)="onSearchSubmit($event)">
        @if (groups) {
          <button class="btn primary mr-3" (click)="openCreateUserDialog()" [disabled]="!connectedUserInfo.createUser">
            <span>{{ 'USER.HOME.ACTION_BUTTON' | translate }}</span>
          </button>
        }

        <button class="btn secondary" (click)="export()" [disabled]="exportLoading">
          <span>{{ 'USER.HOME.EXPORT' | translate }}</span>
        </button>
      </vitamui-banner>
    </div>

    <div class="vitamui-content">
      <app-user-list [searchText]="search" [connectedUserInfo]="connectedUserInfo" [groups]="groups" (userClick)="openPanel($event)">
      </app-user-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
