<form [formGroup]="form" class="gap-5 align-items-stretch" (ngSubmit)="onSubmit()">
  <div class="gap-3 align-items-stretch">
    <vitamui-common-slide-toggle [formControl]="statusControl" checked="form.controls.status.value === 'ACTIVE'">
      {{ 'CONTEXTS_APP.TAB.INFORMATION.STATUS_TOGGLE' | translate }}
    </vitamui-common-slide-toggle>

    <vitamui-common-slide-toggle formControlName="enableControl">
      {{ 'CONTEXTS_APP.TAB.INFORMATION.TENANT_TOGGLE' | translate }}
    </vitamui-common-slide-toggle>

    <vitamui-common-input class="w-100" formControlName="name" [placeholder]="'CONTEXTS_APP.TAB.INFORMATION.NAME' | translate" disabled>
    </vitamui-common-input>

    <vitamui-select
      formControlName="securityProfile"
      [placeholder]="'CONTEXTS_APP.TAB.INFORMATION.SECURITY_PROFILE' | translate"
      [options]="securityProfiles"
      [enableSearch]="false"
    ></vitamui-select>

    <mat-form-field class="w-100 vitamui-input vitamui-date">
      <input
        [matDatepicker]="creationDate"
        matInput
        formControlName="creationDate"
        [placeholder]="'CONTEXTS_APP.TAB.INFORMATION.CREATION_DATE' | translate"
      />
      <mat-datepicker-toggle [for]="creationDate" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #creationDate disabled></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="w-100 vitamui-input vitamui-date">
      <input
        [matDatepicker]="lastUpdate"
        matInput
        formControlName="lastUpdate"
        [placeholder]="'CONTEXTS_APP.TAB.INFORMATION.LAST_UPDATE_DATE' | translate"
      />
      <mat-datepicker-toggle [for]="lastUpdate" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #lastUpdate></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="w-100 vitamui-input vitamui-date">
      <input
        [matDatepicker]="activationDate"
        matInput
        formControlName="activationDate"
        [placeholder]="'CONTEXTS_APP.TAB.INFORMATION.ACTIVATION_DATE' | translate"
      />
      <mat-datepicker-toggle [for]="activationDate" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #activationDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="w-100 vitamui-input vitamui-date">
      <input
        [matDatepicker]="deactivationDate"
        matInput
        formControlName="deactivationDate"
        [placeholder]="'CONTEXTS_APP.TAB.INFORMATION.DEACTIVATION_DATE' | translate"
      />
      <mat-datepicker-toggle [for]="deactivationDate" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #deactivationDate></mat-datepicker>
    </mat-form-field>
  </div>

  <button type="submit" class="btn primary" [disabled]="isInvalid() || unchanged() || submited">
    {{ 'COMMON.SAVE' | translate }}
  </button>
</form>
