.text-title {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: #757575;
}

.text-center {
  text-align: center;
}

@mixin gap($gap) {
  display: flex;
  gap: $gap;
  flex-direction: column;
  align-items: flex-start;
}

@mixin hgap($gap) {
  display: flex;
  gap: $gap;
  flex-direction: row;
  align-items: center;
}

.gap-10 {
  @include gap(10px);
}

.gap-20 {
  @include gap(20px);
}

.gap-30 {
  @include gap(30px);
}

.gap-40 {
  @include gap(40px);
}

.hgap-10 {
  @include hgap(10px);
}

.hgap-20 {
  @include hgap(20px);
}

.hgap-40 {
  @include hgap(40px);
}

.text-text-medium-bold {
  /* Text/Text-medium-bold */
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;

  &.primary {
    color: var(--vitamui-primary);
  }
}

.caption-caption-bold {
  /* Caption/Caption-bold */
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.2px;

  &.primary {
    color: var(--vitamui-primary);
  }
}

.usage {
  width: 379px;
}

.delete-button {
  border: 1px solid var(--vitamui-primary);
  border-radius: 50%;
  background-color: #FFFFFF;
  width: 30px;
  height: 30px;
  font-size: medium;
  color: var(--vitamui-primary);
  cursor: pointer;
}
