.content button:first-of-type {
    border: 1px solid var(--vitamui-secondary);
    background-color: white;
    color: var(--vitamui-secondary);
    align-items: center;
    width: 42px;
    height: 42px;
}

mat-icon {
    font-weight: bold;
}