<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
    <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    </mat-sidenav>
    <mat-sidenav-content>

        <div class="vitamui-header">
            <div class="vitamui-container">
                <vitamui-common-navbar [appId]="appId" (tenantSelect)="changeTenant($event)" [hideTenantMenu]="false"
                    [hideCustomerMenu]="true"></vitamui-common-navbar>
                <h2><img src="assets/mini-logo-vitam.png">Collecte d'archives</h2>

            </div>
        </div>
        <h1>Collect</h1>
      <button (click)="getMessages()">try me</button>
    </mat-sidenav-content>

</mat-sidenav-container>
