.header {
    padding: 30px 60px 0;
}

.content {
    padding: 0px 60px 45px;
}

h2 {
    line-height: 46px;
}

vitamui-common-role-toggle {
    div:first-of-type {
        display: flex;
        flex-direction: column;
    }
}

vitamui-common-role {
    display: block;
}