<vitamui-dialog-header [title]="'USER_PROFILE.INFORMATIONS.MODAL.TITLE' | translate"></vitamui-dialog-header>

<form [formGroup]="adminProfileForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="gap-3 align-items-stretch">
    <vitamui-slide-toggle formControlName="enabled">
      @if (!adminProfileForm?.get('enabled').value) {
        <span>{{ 'USER_PROFILE.INFORMATIONS.INACTIVE_SWITCH' | translate }}</span>
      }
      @if (adminProfileForm?.get('enabled').value) {
        <span>{{ 'USER_PROFILE.INFORMATIONS.ACTIVE_SWITCH' | translate }}</span>
      }
    </vitamui-slide-toggle>

    <vitamui-input
      formControlName="name"
      [placeholder]="'USER_PROFILE.HOME.TITLE_PLACEHOLDER' | translate"
      [errorMessageMap]="{ nameExists: 'USER_PROFILE.INFORMATIONS.MODAL.EXISTING_NAME' | translate }"
    >
    </vitamui-input>

    <vitamui-input formControlName="description" [placeholder]="'USER_PROFILE.INFORMATIONS.DESCRIPTION' | translate"> </vitamui-input>

    <div class="d-flex">
      <div class="mr-4 p-2">
        <div class="text normal light">{{ 'USER_PROFILE.INFORMATIONS.LEVEL' | translate }}</div>
        <div class="text medium bold">{{ authService.user.level }}</div>
      </div>
      <vitamui-common-level-input [prefix]="authService.user.level" formControlName="level">
        @if (adminProfileForm?.get('level')?.touched && adminProfileForm?.get('level')?.hasError('required')) {
          <div>{{ 'COMMON.ERROR.REQUIRED' | translate }}</div>
        }
        @if (adminProfileForm?.get('level')?.touched && adminProfileForm?.get('level')?.hasError('pattern')) {
          <div>{{ 'USER_PROFILE.INFORMATIONS.MODAL.WRONG_FORMAT' | translate }}</div>
        }
      </vitamui-common-level-input>
    </div>

    <vitamui-common-role-toggle class="d-flex flex-column" formControlName="roles">
      <vitamui-common-role [name]="roleEnum.ROLE_MFA_USERS">{{
        'USER_PROFILE.INFORMATIONS.STRONG_AUTHENT' | translate
      }}</vitamui-common-role>
      <vitamui-common-role [name]="roleEnum.ROLE_CREATE_USERS">{{
        'USER_PROFILE.INFORMATIONS.USERS_CREATION' | translate
      }}</vitamui-common-role>
      <vitamui-common-role [name]="roleEnum.ROLE_UPDATE_STANDARD_USERS">{{
        'USER_PROFILE.INFORMATIONS.MODIF_INFORMATIONS' | translate
      }}</vitamui-common-role>
      <vitamui-common-role [name]="roleEnum.ROLE_ANONYMIZATION_USERS">{{
        'USER_PROFILE.INFORMATIONS.ANONYMOUS' | translate
      }}</vitamui-common-role>
      <vitamui-common-role [name]="roleEnum.ROLE_GENERIC_USERS">{{
        'USER_PROFILE.INFORMATIONS.USERS_MANAGEMENT' | translate
      }}</vitamui-common-role>
    </vitamui-common-role-toggle>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button type="submit" class="btn primary mr-4" [disabled]="firstStepInvalid()">
      {{ 'COMMON.SUBMIT' | translate }}
    </button>
    <button type="button" class="btn link cancel" (click)="onCancel()">
      {{ 'COMMON.UNDO' | translate }}
    </button>
  </mat-dialog-actions>
</form>
