<form [formGroup]="ownerForm">
  <div class="row">
    <div class="col-6 form-control">
      <vitamui-common-editable-input formControlName="code" maxlength="20" [label]="'CUSTOMER.OWNER.CODE' | translate"
      [validator]="ownerForm?.get('code')?.validator"
        [asyncValidator]="ownerForm?.get('code')?.asyncValidator">
        <vitamui-common-field-error errorKey="required">{{'COMMON.ERROR.REQUIRED' | translate}}</vitamui-common-field-error>
        <vitamui-common-field-error errorKey="pattern">{{ 'COMMON.ERROR.WRONG_FORMAT' | translate }}</vitamui-common-field-error>
        <vitamui-common-field-error errorKey="maxlength">{{ 'COMMON.ERROR.STRING_MAX_LENGTH' | translate: { max: ownerCodeMaxLength } }}</vitamui-common-field-error>
        <vitamui-common-field-error errorKey="uniqueCode">{{'CUSTOMER.OWNER.MODAL.CODE_ALREADY_EXIST' | translate}}</vitamui-common-field-error>
      </vitamui-common-editable-input>
    </div>
    <div class="col-6">
      <vitamui-common-editable-input formControlName="identifier" maxlength="12" [label]="'COMMON.ID' |translate" [validator]="ownerForm?.get('identifier')?.validator"
        [asyncValidator]="ownerForm?.get('identifier')?.asyncValidator">
      </vitamui-common-editable-input>
    </div>
  </div>

  <div class="row">
    <div class="col-6 form-control">
      <vitamui-common-editable-input formControlName="name" maxlength="100" [label]="'CUSTOMER.OWNER.NAME' | translate" [validator]="ownerForm?.get('name')?.validator"
        [asyncValidator]="ownerForm?.get('name')?.asyncValidator">
        <vitamui-common-field-error errorKey="required">{{'COMMON.ERROR.REQUIRED' | translate}}</vitamui-common-field-error>
      </vitamui-common-editable-input>
    </div>
    <div class="col-6 form-control">
      <vitamui-common-editable-input formControlName="companyName" maxlength="250" [label]="'CUSTOMER.OWNER.SOCIAL_REASON' | translate"
        [validator]="ownerForm?.get('companyName')?.validator"
        [asyncValidator]="ownerForm?.get('companyName')?.asyncValidator">
        <vitamui-common-field-error errorKey="required">{{'COMMON.ERROR.REQUIRED' | translate}}</vitamui-common-field-error>
      </vitamui-common-editable-input>
    </div>
  </div>

  <ng-container formGroupName="address">
    <div class="row">
      <div class="col-12 form-control">
        <vitamui-common-editable-input formControlName="street" maxlength="{{maxStreetLength}}"
        [label]="'COMMON.ADRESS.STREET' | translate">
        </vitamui-common-editable-input>
      </div>
    </div>

    <div class="row">
      <div class="col-5 form-control">
        <vitamui-common-editable-input formControlName="zipCode" maxlength="10" [label]="'COMMON.ADRESS.ZIPCODE' | translate">
        </vitamui-common-editable-input>
      </div>
      <div class="col-7 form-control">
        <vitamui-common-editable-input formControlName="city" maxlength="100" [label]="'COMMON.ADRESS.CITY' | translate">
        </vitamui-common-editable-input>
      </div>
    </div>

    <div class="row">
      <div class="col-6 form-control">
        <vitamui-common-editable-select formControlName="country" [label]="'COMMON.ADRESS.COUNTRY' | translate">
          <vitamui-common-editable-option *ngFor="let country of countries" [value]="country.code" [content]="country.name">
          </vitamui-common-editable-option>
        </vitamui-common-editable-select>
      </div>
    </div>
  </ng-container>

  <div class="row">
    <div class="col-12 form-control">
      <vitamui-common-editable-input formControlName="internalCode" maxlength="20" [label]="'CUSTOMER.OWNER.INTERNAL_CODE' | translate">
      </vitamui-common-editable-input>
    </div>
  </div>
</form>

<mat-divider *ngIf="tenant"></mat-divider>

<form *ngIf="tenant" [formGroup]="tenantForm">
  <div class="row">
    <div class="col-6">
      <div class="read-only-field disabled-input">
        <label>{{'CUSTOMER.OWNER.SAFE_CODE' | translate}}</label>
        <div>{{tenant?.identifier}}</div>
      </div>
    </div>

    <div class="col-6">
      <vitamui-common-editable-input formControlName="name" maxlength="100" [label]="'CUSTOMER.OWNER.SAFE_NAME' | translate" [validator]="tenantForm?.get('name')?.validator"
        [asyncValidator]="tenantForm?.get('name')?.asyncValidator">
        <vitamui-common-field-error errorKey="required">{{'COMMON.ERROR.REQUIRED' | translate}}</vitamui-common-field-error>
        <vitamui-common-field-error errorKey="uniqueName">
          {{'CUSTOMER.OWNER.MODAL.NAME_ALREADY_EXIST' | translate}}</vitamui-common-field-error>
      </vitamui-common-editable-input>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <vitamui-common-editable-input formControlName="accessContractHoldingIdentifier"
        [label]="'CUSTOMER.OWNER.ACCESS_CONTRACT' | translate"
        [validator]="tenantForm?.get('accessContractHoldingIdentifier')?.validator"
        [asyncValidator]="tenantForm?.get('accessContractHoldingIdentifier')?.asyncValidator">
      </vitamui-common-editable-input>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <vitamui-common-editable-input formControlName="ingestContractHoldingIdentifier"
        [label]="'CUSTOMER.OWNER.INGEST_CONTRACT' | translate"
        [validator]="tenantForm?.get('ingestContractHoldingIdentifier')?.validator"
        [asyncValidator]="tenantForm?.get('ingestContractHoldingIdentifier')?.asyncValidator">
      </vitamui-common-editable-input>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <vitamui-common-editable-input formControlName="accessContractLogbookIdentifier" [label]="'CUSTOMER.OWNER.LOGBOOK_ACCESS_CONTRACT' | translate"
        [validator]="tenantForm?.get('accessContractLogbookIdentifier')?.validator"
        [asyncValidator]="tenantForm?.get('accessContractLogbookIdentifier')?.asyncValidator">
      </vitamui-common-editable-input>
    </div>
    <div class="col-12">
      <vitamui-common-editable-input formControlName="itemIngestContractIdentifier"
        [label]="'CUSTOMER.OWNER.SLIPS_INGEST_CONTRACT' | translate"
        [validator]="tenantForm?.get('itemIngestContractIdentifier')?.validator"
        [asyncValidator]="tenantForm?.get('itemIngestContractIdentifier')?.asyncValidator">
      </vitamui-common-editable-input>
    </div>
  </div>
</form>
