<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">

    <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
        <app-audit-preview *ngIf="openedItem" (previewClose)="closePanel()" [audit]="openedItem"></app-audit-preview>
    </mat-sidenav>

    <mat-sidenav-content>

        <div class="vitamui-header">
            <div class="vitamui-container">
              <vitamui-common-navbar [appId]="appId" (tenantSelect)="changeTenant($event)" [hideCustomerMenu]="true"></vitamui-common-navbar>
                <h2>
                  <img src="assets/mini-logo-vitam.png"> Paramétrer mes <strong>Audits</strong>
                </h2>

                <div class="controls">
                    <div class="search-bar-filters">
                        <vitamui-common-search-bar #searchBar name="audit-search" (search)="onSearchSubmit($event)"
                            placeholder="Nom, Identifiant" i18n-placeholder="@@auditSearchPlaceholder">
                        </vitamui-common-search-bar>
                        <div class="reset-filters" (click)="resetFilters()">Effacer les filtres et la recherche</div>
                    </div>
                    <div class="actions">
                        <button class="btn secondary" (click)="openCreateAuditDialog()">
                            <i class="vitamui-icon vitamui-icon-audit btn-create"></i> <span>Lancer un audit</span>
                        </button>
                    </div>

                </div>

                <div >
                    <form [formGroup]="dateRangeFilterForm" class="filter-controls">
                        <div class="date-filter-container">
                            <div class="date-filter">
                                <span *ngIf="!dateRangeFilterForm.get('startDate').value;else showStartDate"
                                    (click)="pickerStart.open()" i18n="@@apiSupervisionStartDate">Date de début</span>
                                <ng-template #showStartDate>
                                    <span
                                        (click)="pickerStart.open()">{{ dateRangeFilterForm.get('startDate').value | date:'dd/MM/yyyy' }}</span>
                                    <i class="material-icons clear-date-icon clickable"
                                        (click)="clearDate('startDate')">clear</i>
                                </ng-template>
                                <input class="hidden" size="0" [matDatepicker]="pickerStart" formControlName="startDate"
                                    [max]="dateRangeFilterForm.get('endDate').value">
                                <mat-datepicker #pickerStart></mat-datepicker>
                            </div>
                            <div class="date-filter">
                                <span *ngIf="!dateRangeFilterForm.get('endDate').value; else showEndDate"
                                    (click)="pickerEnd.open()" i18n="@@apiSupervisionEndDate">Date de fin</span>
                                <ng-template #showEndDate><span
                                        (click)="pickerEnd.open()">{{ dateRangeFilterForm.get('endDate').value | date:'dd/MM/yyyy' }}
                                    </span> <i class="material-icons clear-date-icon clickable"
                                        (click)="clearDate('endDate')">clear</i>
                                </ng-template>
                                <input class="hidden" size="0" [matDatepicker]="pickerEnd" formControlName="endDate"
                                    [min]="dateRangeFilterForm.get('startDate').value">
                                <mat-datepicker #pickerEnd></mat-datepicker>
                            </div>
                        </div>

                        <div class="filter-banner-container">
                            <mat-form-field class="mat-form-field-filter">
                                <mat-select class="mat-select-filter" placeholder="Filtres" panelclass="vitamui-mat-select" [multiple]="true" formControlName="types">
                                  <mat-option *ngFor="let type of auditTypes" [value]="type.key">{{type.label}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="vitamui-body vitamui-container">
            <app-audit-list (auditClick)="showAudit($event)" [search]="search" [filters]="filters"></app-audit-list>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>
