<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    @if (openedItem) {
      <app-audit-preview [audit]="openedItem" (previewClose)="closePanel()"></app-audit-preview>
    }
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-title-breadcrumb>
        <h5>{{ 'AUDIT.HOME.TITLE' | translate }}</h5>
      </vitamui-title-breadcrumb>

      <vitamui-banner [searchbarPlaceholder]="'AUDIT.HOME.SEARCH_PLACEHOLDER' | translate" (search)="onSearchSubmit($event)">
        <div class="hgap-2">
          <button class="btn primary" (click)="openCreateAuditDialog()">
            <span>{{ 'AUDIT.HOME.START_AUDIT' | translate }}</span>
          </button>
          <vitamui-menu-button [overlayPos]="'end'" [icon]="'vitamui-icon-more-horiz'">
            <button mat-menu-item (click)="openCreateChainAuditDialog()">
              {{ 'AUDIT.HOME.SECONDARY_ACTIONS.START_CHAIN_AUDIT' | translate }}
            </button>
          </vitamui-menu-button>
        </div>
      </vitamui-banner>

      <form [formGroup]="dateRangeFilterForm" class="d-flex align-items-center mt-4 px-2 hgap-3">
        <vitamui-datepicker
          formControlName="startDate"
          [label]="'AUDIT.HOME.START_DATE' | translate"
          [max]="dateRangeFilterForm.get('endDate')?.value"
          outputType="Date"
          format="yyyy-MM-dd"
        ></vitamui-datepicker>
        <vitamui-datepicker
          formControlName="endDate"
          [label]="'AUDIT.HOME.END_DATE' | translate"
          [min]="dateRangeFilterForm.get('startDate')?.value"
          outputType="Date"
          format="yyyy-MM-dd"
        ></vitamui-datepicker>
      </form>
    </div>

    <div class="vitamui-content">
      <app-audit-list (auditClick)="showAudit($event)" [search]="search" [filters]="filters"></app-audit-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
