{% if gateway.enabled | default(False) %}

db = db.getSiblingDB("cas");

print("START 004_TRV-400_enable_oidc_code_grant_type_on_identity_service_ref.js");

db.services.updateOne(
    { "_id" :  NumberInt(2) },
    {
        "$set" : {
            "_class": "org.apereo.cas.services.OidcRegisteredService",
            "clientId": "identity",
            "serviceId" : "{{ vitamui.identity.serviceId | default('^' + vitamui.identity.base_url + '/.*') }}",
            "name": "Identity Access Management Application",
            "bypassApprovalPrompt": true,
            "supportedGrantTypes": ["authorization_code"],
            "supportedResponseTypes": ["code", "token"],
            "attributeReleasePolicy": {
                "_class": "org.apereo.cas.services.ReturnAllAttributeReleasePolicy",
                allowedAttributes: ["authtoken"],
            },
            jsonFormat: true,
        },
        "$setOnInsert": {
            "_id" :  NumberInt(2)
        }
    },
    { "upsert":true }
);

db.services.updateOne(
    { "_id" :  NumberInt(3) },
    {
        "$set" : {
            "_class": "org.apereo.cas.services.OidcRegisteredService",
            "clientId": "identity-admin",
            "serviceId" : "{{ vitamui.identity_admin.serviceId | default('^' + vitamui.identity_admin.base_url + '/.*') }}",
            "name": "Identity Admin Access Management Application",
            "bypassApprovalPrompt": true,
            "supportedGrantTypes": ["authorization_code"],
            "supportedResponseTypes": ["code", "token"],
            "attributeReleasePolicy": {
                "_class": "org.apereo.cas.services.ReturnAllAttributeReleasePolicy",
                allowedAttributes: ["authtoken"],
            },
            jsonFormat: true,
        },
        "$setOnInsert": {
            "_id" :  NumberInt(3)
        }
    },
    { "upsert":true }
);

print("END 004_TRV-400_enable_oidc_code_grant_type_on_identity_service_ref.js");

{% endif %}
