@import '../../../../../sass/variables/colors';

$input-height: 60px;
$input-small-height: 34px;
$anim-timing: 150ms ease-out;

:host {
    display: inline-block;

    &.ng-valid.ng-touched .vitamui-input {
        border: 1px solid $green;
    }

    &.ng-invalid.ng-touched .vitamui-input {
        border: 1px solid $red;
    }
}

.vitamui-input {
    height: $input-height !important;
}

:host.ng-pending {
    .vitamui-input mat-spinner {
        display: block;
    }
}

input {
    text-transform: uppercase;
    background: none;
    border: none;
    transition: margin $anim-timing;
    outline: none;
    width: 100%;
}
