@import '../../../../../sass/variables/colors';

$input-height: 50px;
$input-small-height: 34px;
$anim-timing: 150ms ease-out;

:host {
    display: inline-block;

    &.vitamui-focused .vitamui-input {
        border-color: var(--vitamui-primary);
    }

    &.vitamui-focused .vitamui-input,
    &.vitamui-float .vitamui-input {
        label {
            transform: scale(0.7) translateY(-15px);
        }

        input {
            margin-top: 15px;
        }
    }

    &.ng-valid.ng-touched .vitamui-input {
        border-color: #43ea2a;
    }

    &.ng-invalid.ng-touched .vitamui-input {
        border-color: $red;
    }
}

.vitamui-input {
    transition: border-color $anim-timing;
    border: solid 1px var(--vitamui-grey-300);
    border-radius: $input-height / 2;
    height: $input-height;
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
    background-color: $white;
    padding: 7px 45px 7px 25px;
    vertical-align: top;
}

input {
    text-transform: uppercase;
}

.vitamui-input.disabled {
    opacity: 0.4;
}

:host.ng-pending {
    .vitamui-input mat-spinner {
        display: block;
    }
}

.vitamui-input-errors {
    min-height: 30px;
}

input {
    
    background: none;
    border: none;
    transition: margin $anim-timing;
    outline: none;
    width: 100%;
}

label {
    color: var(--vitamui-grey-700);
    font-size: 14px;
    position: absolute;
    line-height: 48px;
    left: 25px;
    transform-origin: left;
    transition: transform $anim-timing;
    pointer-events: none;

    .required-marker {
        color: $red;
    }
}