<div class="d-flex align-items-center">
  <div>
      <vitamui-common-vitamui-autocomplete [options]="applications" [formControl]="appSelect"
        [placeholder]="'GROUP.PROFILE.MODAL.APP' | translate">
        <vitamui-common-input-error *ngIf="appSelect.touched && appSelect.hasError('required')">{{
          'COMMON.ERROR.REQUIRED' | translate
        }}</vitamui-common-input-error>
        <vitamui-common-input-error *ngIf="appSelect.touched && appSelect.hasError('match')">{{
          'COMMON.INCORRECT_VALUE' | translate
        }}</vitamui-common-input-error>
      </vitamui-common-vitamui-autocomplete>
    <ng-container *ngIf="!tenantIdentifier" >
      <vitamui-common-vitamui-autocomplete [options]="filteredTenants" [formControl]="tenantSelect"
        #tenantInput [placeholder]="'GROUP.PROFILE.MODAL.SAFE' | translate">
        <vitamui-common-input-error *ngIf="tenantSelect.touched && tenantSelect.hasError('required')">{{
          'COMMON.ERROR.REQUIRED' | translate
        }}</vitamui-common-input-error>
        <vitamui-common-input-error *ngIf="tenantSelect.touched && tenantSelect.hasError('match')">{{
          'COMMON.INCORRECT_VALUE' | translate
        }}</vitamui-common-input-error>
      </vitamui-common-vitamui-autocomplete>
    </ng-container >
    <vitamui-common-vitamui-autocomplete [options]="filteredProfiles" [formControl]="profileSelect"
        [placeholder]="'GROUP.PROFILE.MODAL.PROFILE' | translate" #profileInput>
        <vitamui-common-input-error *ngIf="profileSelect.touched && profileSelect.hasError('required')">{{
          'COMMON.ERROR.REQUIRED' | translate
        }}</vitamui-common-input-error>
        <vitamui-common-input-error *ngIf="profileSelect.touched && profileSelect.hasError('match')">{{
          'COMMON.INCORRECT_VALUE' | translate
        }}</vitamui-common-input-error>
      </vitamui-common-vitamui-autocomplete>
  </div>

  <div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <button type="button" class="btn primary" (click)="add()" [disabled]="!canAddProfile" #addButton>{{'COMMON.ADD' | translate}}</button>
      <button type="button" class="btn link" (click)="resetTree()">
        <i class="material-icons">replay</i>
      </button>
    </div>
  </div>
</div>

<div class="vitamui-table mt-2">
  <div class="vitamui-table-head">
    <div class="col-3">{{'GROUP.PROFILE.MODAL.APP' | translate}}</div>
    <div *ngIf="!tenantIdentifier" class="col-3">{{'GROUP.PROFILE.MODAL.SAFE' | translate}}</div>
    <div class="col-5">{{'GROUP.PROFILE.MODAL.PROFILE' | translate}}</div>
  </div>
  <div *ngIf="!loading" class="vitamui-table-body">
    <div class="vitamui-table-rows" *ngFor="let id of profileIds; let index=index">
      <div class="vitamui-row d-flex align-items-center">
        <div class="col-3" vitamuiCommonEllipsis>{{ getApplicationFromId(id)?.name }}</div>
        <div *ngIf="!tenantIdentifier" class="col-3" vitamuiCommonEllipsis>{{ getProfileFromId(id)?.tenantName }}</div>
        <div class="col-5" vitamuiCommonEllipsis>{{ getProfileFromId(id)?.name }}</div>
        <div class="d-flex justify-content-end" [ngClass]="{'col-1': !tenantIdentifier, 'col-4': tenantIdentifier}">
          <button class="btn link" (click)="remove(index)">
            <i class="material-icons">clear</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading" class="vitamui-min-content">
  <mat-spinner class="vitamui-spinner medium"></mat-spinner>
</div>
