.vitamui-row {
  &:hover {
    .hide {
      visibility: visible;
      .btn-link {
        transform: rotate(0deg);
      }
    }
  }
}
.vitamui-table-rows i {
  color: var(--vitamui-primary);
}

.hide {
  white-space: nowrap;
  visibility: hidden;
  text-align: right;
}

.btn-link {
  background: none;
  border: none;
  color: var(--vitamui-primary);
  cursor: pointer;
  &.i {
    transform: rotate(-60deg);
  }
}
