# TECHNICAL PROPERTIES / DON'T put environment properties
# This property can be override by a config file give at run time with spring.config.location

spring:
  application:
    name: collect-internal
  api:
    name: API Collect
    description: This API is used to collect archives
    version: v1
  mvc:
    favicon:
      enabled: false
  jackson:
    serialization:
      write-dates-as-timestamps: false

management:
  endpoints:
    jmx:
      domain: collect-internal
      unique-names: true
    web.exposure.include: info,health,prometheus
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true

metrics:
  reporterInterval: 1
  reporterIntervalUnit: MINUTES
  index: metrics-vitam-jvm
