@import '../../../../../../sass/variables/colors';
@import '../../../../../../sass/mixins/elevation';

:host {
  color: var(--vitamui-grey-600) !important;

  .app-icon {
    border-radius: 50%;
    border: 2px solid var(--vitamui-primary);
    width: 35px;
    height: 35px;
    padding: 5px;
    @include elevation-0;
  }

  .tooltip {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mandatory {
    max-width: 100%;
  }
}

a {
  color: var(--vitamui-grey-600);
  text-decoration: none;
  padding: 0 24px;
  height: 100%;
}
