div {
    padding-top: 72px;
    min-height: calc(100vh - 100px);
    background-color: var(--vitamui-background);
    /* position: relative; */
    // width: 70%;
    // margin: 6rem auto;
}
/*
@media screen and (min-width: 1501px) and (max-width: 1750px) {
  div {
    width: 75%;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1500px) {
  div {
    width: 83%;
  }
}

@media screen and (max-width: 1300px) {
  div {
    width: 94%;
  }
}

@media screen and (max-width: 500px) {
  div {
    width: 98%;
  }
}
*/