<button  #trigger="matMenuTrigger" [matMenuTriggerFor]="moreMenu" class="btn outline outline-primary"
  [ngClass]="{'btn-circle large' : icon && !label}" [class.hidden]="trigger.menuOpen">
    <i *ngIf="icon" class="material-icons" [class.mr-3]="label">{{icon}}</i>
    {{label}}
</button>

<mat-menu #moreMenu="matMenu" xPosition="before" [overlapTrigger]="true" class="more-action-menu {{overlayPos}}">
  <button mat-menu-item disableRipple class="menu-cancel-button"><i class="material-icons">clear</i></button>
  <ng-content></ng-content>
</mat-menu>