::ng-deep {
    .more-action-menu.mat-menu-panel {
        background: none;
        box-shadow: none;

        .mat-menu-content {
            align-items: flex-end;
            border-top: none;
            min-width: 152px;
        }

        &.start {
            .mat-menu-content {
                align-items: flex-start;
            }

            .mat-menu-item:nth-of-type(2) {
                border-radius: 0 5px 0 0;
            }
        }

        .btn-circle.large > i {
            font-size: xx-large;
        }

        .mat-menu-item {
            border-left: 1px solid var(--vitamui-primary);
            border-right: 1px solid var(--vitamui-primary);
            border-top: 1px solid var(--vitamui-grey-300);
            border-bottom: none;
            background-color: white;
            font-size: 16px;

            &:nth-of-type(2) {
                border-top: 1px solid var(--vitamui-primary);
                border-radius: 5px 0 0 0;
            }

            &:last-of-type {
                border-bottom: 1px solid var(--vitamui-primary);
                border-radius: 0 0 5px 5px;
            }
        }

        .mat-menu-item.menu-cancel-button {
            border: 1px solid var(--vitamui-primary);
            border-bottom: none;
            border-radius: 5px 5px 0 0;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            > i {
                font-size: 14px;
                color: var(--vitamui-primary);
            }
        }

        .mat-menu-item:hover:not([disabled]):not(.menu-cancel-button) {
            background-color: var(--vitamui-grey-300);
        }

        .mat-menu-item[disabled] {
            background-color: var(--vitamui-grey-400);
        }
    }
}
