<div class="archive-search-section">
  <form [formGroup]="form">
  <div class="row">
    <h2 i18n="Recherche @@hierarchyRecherche">Recherche: </h2>
  </div>
  <div class="row justify-content-around">
    <div class="col-9 form-control">
      <vitamui-common-input formControlName="archiveCriteria"  maxlength="200"
        class="search-input-criteria"  i18n-placeholder="Rechercher une archive"
        placeholder="Rechercher une archive">
      </vitamui-common-input>
    </div>
    <div class="col-3 form-control">
      <button type="button" class="btn secondary launch-search-btn" [disabled]="searchCriterias.size === 0" (click)="submit()">Lancer une recherche</button>
    </div>
  </div>

<div class="row">
        <div class="btn-group criteria-group" role="group" *ngFor="let criteria of searchCriterias | keyvalue  ">
            <ng-container *ngFor="let criteriaValue of criteria.value.values; let index = index; let isFirst = first; let isLast = last">
                <button type="button" [vitamuiCommonTooltip]="criteria.value.label + ' : ' + criteriaValue.value"   [ngClass]="[isFirst ? 'left-arround':'left-not-arround' , criteriaValue.status === 'INCLUDED' ? 'after-search-launched-button':'before-search-launched-button' ]"  class="  button-content right-not-arround btn"  >{{getButtonLabel(criteria.value.label + ' : ' + criteriaValue.value)}}</button>
                <button type="button" *ngIf="criteriaValue.status !== 'IN_PROGRESS'" [vitamuiCommonTooltip]="criteria.value.label +  ' : ' + criteriaValue.value"  [ngClass]="[isLast ? 'right-arround':'right-not-arround',  criteriaValue.status === 'INCLUDED' ? 'after-search-launched-button':'before-search-launched-button' ]"  class="before-search-launched-button button-remove left-not-arround btn" (click)="removeCriteria(criteria.key, criteriaValue.value)">
                  <i class="vitamui-icon vitamui-icon-cross vitamui-row-icon"></i>
                </button>
                <button type="button" *ngIf="criteriaValue.status === 'IN_PROGRESS'" [ngClass]="[isLast ? 'right-arround':'right-not-arround',  criteriaValue.status === 'INCLUDED' ? 'after-search-launched-button':'before-search-launched-button' ]"  class="before-search-launched-button button-remove left-not-arround btn">
                  <i class="vitamui-icon vitamui-icon-loop2 vitamui-row-icon"></i>
                </button>
                <button type="button" *ngIf="!isLast"  [ngClass]="[criteriaValue.status === 'INCLUDED' ? 'after-search-launched-button':'before-search-launched-button' ]" class="button-or left-not-arround  right-not-arround btn">OU</button>
            </ng-container>
        </div>

</div>

<div class="row justify-content-around" >
    <div class="col-6">
      <a class="hide-ink" *ngIf="!showCriteriaPanel" (click)="showHidePanel()">Afficher les filtres de recherche</a>
    </div>
    <div class="col-6 text-right">
      <a class="hide-ink" >Afficher à l’historique des recherches</a>
    </div>
</div>

<div class="card-criteria" *ngIf="showCriteriaPanel">
  <div class="row">
    <div class="col-11">

     <div class="row justify-content-around">
      <div class="col-11 form-control">
        <h3 i18n="Group searchFilter@@hierarchysearchFilter">Filtre de recherche</h3>
       </div>
     </div>
    <div class="row justify-content-around">
        <div class="col-6 form-control">
          <vitamui-common-editable-input formControlName="title"  [validator]="form?.get('title')?.validator" label="Title"
            i18n-label="user info tab title@@UserInfoTabtitle">
          </vitamui-common-editable-input>
        </div>
        <div class="col-4 form-control">
          <vitamui-common-editable-input formControlName="beginDt"   [validator]="form?.get('beginDt')?.validator" label="Date de début"
            i18n-label="user info tab beginDt@@UserInfoTabeginDt">
          </vitamui-common-editable-input>
        </div>
      </div>

      <div class="row justify-content-around">
        <div class="col-6 form-control">
          <vitamui-common-editable-input formControlName="description"   [validator]="form?.get('description')?.validator" label="Description"
            i18n-label="user info tab description@@UserInfoTabDescription">
          </vitamui-common-editable-input>
        </div>
        <div class="col-4 form-control">
          <vitamui-common-editable-input formControlName="endDt"   [validator]="form?.get('endDt')?.validator" label="Date de fin"
            i18n-label="user info tab endDt@@UserInfoTabendDt">
          </vitamui-common-editable-input>
        </div>
      </div>
      <div class="row justify-content-around">
        <div class="col-6 form-control">
          <vitamui-common-editable-input formControlName="guid"   [validator]="form?.get('guid')?.validator" label="Guid du versement"
            i18n-label="user info tab guid@@UserInfoTabguid">
          </vitamui-common-editable-input>
        </div>

        <div class="col-4 form-control"></div>
      </div>

      <div class="row justify-content-around">
        <div class="col-6 form-control">
        <h3 i18n="Group productorService@@hierarchyproductorService">Service producteur: </h3>
      </div>
      <div class="col-4 form-control">
        <h3 i18n="Group otherCriteria@@hierarchyotherCriteria">Autre critère: </h3>
      </div>
    </div>

    <div class="row justify-content-around">
      <div class="col-6 form-control">
        <vitamui-common-editable-input formControlName="serviceProdLabel"   [validator]="form?.get('serviceProdLabel')?.validator" label="Libellé"
          i18n-label="user info tab serviceProdLabel@@UserInfoTabserviceProdLabel">
        </vitamui-common-editable-input>
        </div>

        <div class="col-4 form-control">
          <mat-form-field class="vitamui-mat-select">
            <mat-select
              formControlName="otherCriteria"
              panelClass="vitamui-mat-select"
              placeholder="otherCriteria"   (valueChange)="onSelectOtherCriteria()">
              <mat-option value="">Sélection d'un autre critère</mat-option>
              <mat-option value="{{ontology.Identifier}}" *ngFor="let ontology of this.ontologies">{{ontology.ShortName}}</mat-option>
            </mat-select>
            <div class="select-arrow">
              <i class="vitamui-icon vitamui-icon-search vitamui-row-icon"></i>
            </div>
            <div class="select-arrow">
              <i class="material-icons">keyboard_arrow_up</i>
              <i class="material-icons">keyboard_arrow_down</i>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="row justify-content-around">
        <div class="col-3 form-control">
          <vitamui-common-editable-input formControlName="serviceProdCode" [validator]="form?.get('serviceProdCode')?.validator" label="Code"   class=" "
          i18n-label="user info tab serviceProdCode@@UserInfoTabserviceProdCode">
        </vitamui-common-editable-input>
        </div>
        <div class="col-2 form-control">
        </div>
        <div class="col-4 form-control">
          <vitamui-common-editable-input formControlName="otherCriteriaValue"    *ngIf="otherCriteriaValueEnabled"  [validator]="form?.get('otherCriteriaValue')?.validator"
          label="Valeur du critère : {{selectedValueOntolonogy}}"
              i18n-label="user info tab otherCriteriaValue@@UserInfoTabotherCriteriaValue">
          </vitamui-common-editable-input>
        </div>

      </div>

      <div class="row justify-content-center">
        <div class="col-7 form-control">

        </div>
        <div class="col-4 form-control">
          <a class="hide-ink" (click)="showHidePanel()">Masquer les filtres de recherche</a>
        </div>
       </div>

       <div class="row justify-content-center">

       </div>

</div>
</div>


  </div>
</form>
</div>
