<p>archive-search works!</p>
<div class="row">
    <div class="col-4" *ngFor="let criteria of searchCriterias | keyvalue  ">
        <div class="btn-group" role="group">
            <ng-container *ngFor="let criteriaValue of criteria.value.values; let index = index; let isFirst = first; let isOdd = odd; let isLast = last">
                <button type="button" [ngClass]="isFirst ? 'left-arround':'left-not-arround'"   class="button-content right-not-arround btn secondary">{{criteria.value.label}} : {{criteriaValue.value}}</button>
                <button type="button" [ngClass]="isLast ? 'right-arround':'right-not-arround' "  class="button-remove left-not-arround btn secondary" (click)="removeCriteria(criteria.key, criteriaValue.value)"> X</button>
                <button type="button" *ngIf="!isLast" class="button-or left-not-arround  right-not-arround btn secondary">OU</button>
            </ng-container>

</div>
</div>
</div>
