section {
    display: table;
  }

.criteria-button {
    font-size: 14px;
    margin-left: 8px;
    color: white;
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
}

.button-middle {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.button-content {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}


.button-remove {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
