<form [formGroup]="form" class="side-form" (ngSubmit)="onSubmit()">
  <div class="d-flex">
    <mat-form-field class="vitamui-mat-select w-100">
      <mat-select formControlName="ruleType" [placeholder]="'RULES_APP.TAB.INFORMATION.TYPE' | translate" required>
        <mat-option *ngFor="let ruleType of ruleTypes" [value]="ruleType.key">{{ ruleType.label }}</mat-option>
      </mat-select>
      <div class="select-arrow"><i class="material-icons">keyboard_arrow_down</i></div>
    </mat-form-field>
  </div>

  <div class="d-flex mt-4">
    <vitamui-common-input
      class="w-100"
      formControlName="ruleValue"
      minlength="2"
      required
      [placeholder]="'RULES_APP.TAB.INFORMATION.NAME' | translate"
    >
      <ng-container *ngIf="form.get('ruleValue')?.touched">
        <vitamui-common-input-error *ngIf="!!form.get('ruleValue')?.errors?.required">
          {{ 'COMMON.REQUIRED' | translate }}
        </vitamui-common-input-error>
      </ng-container>
    </vitamui-common-input>
  </div>

  <div class="d-flex">
    <vitamui-common-input
      class="w-100"
      formControlName="ruleDuration"
      pattern="[0-9]*"
      required
      [placeholder]="'RULES_APP.TAB.INFORMATION.PERIOD' | translate"
    >
      <ng-container *ngIf="form.get('ruleDuration')?.touched">
        <vitamui-common-input-error *ngIf="!!form.get('ruleDuration')?.errors?.required">
          {{ 'COMMON.REQUIRED' | translate }}
        </vitamui-common-input-error>
        <vitamui-common-input-error *ngIf="!!form.get('ruleDuration')?.errors?.pattern">
          {{ 'RULES_APP.TAB.ERROR.INTEGER_REQUIRED' | translate }}
        </vitamui-common-input-error>
      </ng-container>
    </vitamui-common-input>
  </div>

  <div class="d-flex">
    <mat-form-field class="vitamui-mat-select w-100">
      <mat-select formControlName="ruleMeasurement" [placeholder]="'RULES_APP.TAB.INFORMATION.UNIT_MEASURE' | translate" required>
        <mat-option *ngFor="let ruleMeasurement of ruleMeasurements" [value]="ruleMeasurement.key">
          {{ ruleMeasurement.label }}
        </mat-option>
      </mat-select>
      <div class="select-arrow"><i class="material-icons">keyboard_arrow_down</i></div>
    </mat-form-field>
  </div>

  <div class="d-flex mt-4">
    <vitamui-common-textarea
      class="w-100"
      required
      formControlName="ruleDescription"
      [placeholder]="'RULES_APP.TAB.INFORMATION.DESCRIPTION' | translate"
      [rows]="2"
    >
      <ng-container *ngIf="form.get('ruleDescription')?.touched">
        <vitamui-common-input-error *ngIf="!!form.get('ruleDescription')?.errors?.required">
          {{ 'COMMON.REQUIRED' | translate }}
        </vitamui-common-input-error>
      </ng-container>
    </vitamui-common-textarea>
  </div>

  <div class="actions mt-5">
    <button type="submit" class="btn primary" [disabled]="isInvalid() || unchanged() || submited || (hasUpdateRuleRole$ | async) !== true">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</form>
