<div class="container">
  <form [formGroup]="form" class="p-4">
    <div class="hgap-4 align-items-start pb-4">
      @if (titleSearchTypes) {
        @if (titleSearchTypes?.length) {
          <vitamui-form-field-value-wrapper formControlName="title" class="w-100">
            <vitamui-search-with-type-selector
              [placeholder]="'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.TITLE' | translate"
              [types]="titleSearchTypes"
              [(selectedType)]="titleSelectedType"
            ></vitamui-search-with-type-selector>
          </vitamui-form-field-value-wrapper>
        } @else {
          <vitamui-common-editable-input
            formControlName="title"
            [validator]="title?.validator"
            [label]="'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.TITLE' | translate"
            class="w-100"
          >
          </vitamui-common-editable-input>
        }
      } @else {
        <div class="d-flex justify-content-center w-100">
          <mat-spinner class="vitamui-spinner medium m-auto"></mat-spinner>
        </div>
      }
      <vitamui-common-editable-input
        formControlName="description"
        label="{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.DESCRIPTION' | translate }}"
        class="w-100"
      >
      </vitamui-common-editable-input>
    </div>

    <div class="hgap-4 align-items-start pb-4">
      <vitamui-common-editable-input
        formControlName="guidopi"
        label="{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.GUID_OPI' | translate }}"
        class="w-100"
      >
      </vitamui-common-editable-input>

      <vitamui-common-editable-input
        formControlName="guid"
        [validator]="guid?.validator"
        label="{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.UAID' | translate }}"
        class="w-100"
      >
      </vitamui-common-editable-input>
    </div>

    <div class="hgap-4 align-items-start pb-4">
      <vitamui-select
        [multiple]="true"
        [enableSelectAll]="false"
        formControlName="agencies"
        [options]="selectOptions.agency"
        [placeholder]="'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.SP' | translate"
        [searchBarPlaceHolder]="'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.SP_PLACEHOLDER' | translate"
        class="w-100"
      >
      </vitamui-select>
      <vitamui-select
        [multiple]="true"
        [enableSelectAll]="false"
        formControlName="archiveUnitProfiles"
        [options]="selectOptions.archiveUnitProfile"
        [placeholder]="'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.AUP' | translate"
        [searchBarPlaceHolder]="'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.AUP_PLACEHOLDER' | translate"
        class="w-100"
      >
      </vitamui-select>
    </div>

    <div class="hgap-4 align-items-start">
      <p class="title-text text uppercase">{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.DATES' | translate }}</p>
    </div>
    <div class="hgap-4 align-items-start pb-4">
      <div class="vitamui-input" (click)="pickerBegin.open()">
        <span *ngIf="!beginDt.value; else showBeginDt" (click)="pickerBegin.open()" class="search-date-label">{{
          'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.START_DATE_SEARCH' | translate
        }}</span>
        <ng-template #showBeginDt
          ><span (click)="pickerBegin.open()">{{ beginDt.value | dateTime: 'dd/MM/yyyy' }} </span>
        </ng-template>
        <input class="hidden" size="0" [matDatepicker]="pickerBegin" formControlName="beginDt" />
        <mat-datepicker #pickerBegin></mat-datepicker>
      </div>
      <div class="vitamui-input" (click)="pickerEnd.open()">
        <span *ngIf="!endDt.value; else showEndDt" (click)="pickerEnd.open()" class="search-date-label">{{
          'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_SEARCH' | translate
        }}</span>
        <ng-template #showEndDt
          ><span (click)="pickerEnd.open()">{{ endDt.value | dateTime: 'dd/MM/yyyy' }} </span>
        </ng-template>
        <input class="hidden" size="0" [matDatepicker]="pickerEnd" formControlName="endDt" />
        <mat-datepicker #pickerEnd></mat-datepicker>
      </div>
    </div>
    <div class="hgap-4 align-items-start">
      <p class="title-text text uppercase">{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.UA_TYPE' | translate }}</p>
    </div>
    <ng-template #archiveUnitType let-archiveUnitType let-icon="icon">
      <div class="d-flex align-items-center w-100">
        <label class="criteria-checkbox-choice">
          <input
            type="checkbox"
            (click)="toggleArchiveUnitCriteria(archiveUnitType, $event)"
            [checked]="archiveUnitTypesCriteria.get(archiveUnitType)"
          />
          <span>{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.UNIT_TYPE.' + archiveUnitType | translate }}</span>
        </label>
        <i class="vitamui-icon vitamui-row-icon status-badge icon-large ml-1" [class]="icon"></i>
      </div>
    </ng-template>
    <div class="hgap-4 align-items-start pb-2 w-50">
      <ng-container
        *ngTemplateOutlet="archiveUnitType; context: { $implicit: 'ARCHIVE_UNIT_WITH_OBJECTS', icon: 'vitamui-icon-file' }"
      ></ng-container>
      <ng-container
        *ngTemplateOutlet="archiveUnitType; context: { $implicit: 'ARCHIVE_UNIT_HOLDING_UNIT', icon: 'vitamui-icon-ic24-arborescence' }"
      ></ng-container>
    </div>
    <div class="hgap-4 align-items-start pb-4 w-50">
      <ng-container
        *ngTemplateOutlet="archiveUnitType; context: { $implicit: 'ARCHIVE_UNIT_WITHOUT_OBJECTS', icon: 'vitamui-icon-folder' }"
      ></ng-container>
      <ng-container
        *ngTemplateOutlet="archiveUnitType; context: { $implicit: 'ARCHIVE_UNIT_FILING_UNIT', icon: 'vitamui-icon-plan-classement' }"
      ></ng-container>
    </div>
    <div class="hgap-4 align-items-start">
      <p class="title-text text uppercase">{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.OTHER_FIELDS' | translate }}</p>
    </div>
    @if (otherCriteriaOptions) {
      <div class="hgap-4 align-items-start align-items-start pb-4">
        <vitamui-select-with-tree
          formControlName="otherCriteriaList"
          class="w-100"
          [multiple]="true"
          [options]="otherCriteriaOptions"
          [getDisplayValue]="getOtherCriteriaDisplayValue"
          [placeholder]="'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.OTHER_FIELDS' | translate"
          [searchBarPlaceHolder]="'Entrer les premières lettres de votre recherche' | translate"
        >
        </vitamui-select-with-tree>
        <div class="gap-4 w-100" formArrayName="otherCriteria">
          @for (otherCriteria of otherCriteriaList.value; track otherCriteria.ApiPath) {
            @if (['Title'].includes(otherCriteria.ApiPath) && titleSearchTypes?.length) {
              <vitamui-form-field-value-wrapper [formControlName]="otherCriteria.Path" class="w-100">
                <vitamui-search-with-type-selector
                  [placeholder]="getCriteriaName(otherCriteria)"
                  [types]="titleSearchTypes"
                  [(selectedType)]="titleSelectedType"
                ></vitamui-search-with-type-selector>
              </vitamui-form-field-value-wrapper>
            } @else if (['TEXT', 'KEYWORD', 'BOOLEAN', 'LONG'].includes(otherCriteria.Type)) {
              <vitamui-common-editable-input [label]="getCriteriaName(otherCriteria)" [formControlName]="otherCriteria.Path" class="w-100">
              </vitamui-common-editable-input>
            } @else if (['DATE'].includes(otherCriteria.Type)) {
              <vitamui-datepicker
                [label]="getCriteriaName(otherCriteria)"
                [formControlName]="otherCriteria.Path"
                class="w-100"
              ></vitamui-datepicker>
            } @else {
              <!--FIXME: what do we do with OBJECT type?-->
            }
          }
        </div>
      </div>
    } @else {
      <div class="d-flex justify-content-center w-100">
        <mat-spinner class="vitamui-spinner medium col-6 m-auto"></mat-spinner>
      </div>
    }
  </form>
</div>
