.row {
  margin: 0;
}

.separator {
  margin-top: 60px;
}

p {
  margin: 20px 0;
}

.criteria-checkbox-choice {
  display: flex;
  margin-bottom: 10px;

  label {
    cursor: pointer;
    display: flex;
    align-items: center;

    input {
      margin: 4px;
      cursor: pointer;
      accent-color: var(--vitamui-primary);
      height: 20px;
      width: 20px;
      border-radius: 4px;
      transition-duration: 0.3s;
    }

    &.disabled {
      cursor: default;

      input:disabled {
        cursor: default;
        // background-color: var(--vitamui-grey-300); not working..
      }
    }
  }

  span {
    font-family: Mulish;
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px;
  }
}
