@import 'variables/colors';

$field-spacing: 15px;
$dark-red: #ea0101;

h2 {
  font-size: 23px;
  line-height: 46px;
  margin-top: 10px;
}

h4 {
  font-size: 19px;
  line-height: 26px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.margin-btn {
  margin-right: 300px;
}

.text-title {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: #757575;
}
.input-file {
  display: none;
}

.inline-label {
  padding-top: 5px;
}

button.primary {
  margin-right: 20px;
}

button.back {
  margin-top: 60px;
}

button > small {
  display: block;
  font-size: 12px;
  font-weight: 400;
}

.hint {
  color: #a5a5a5;
  font-size: 15px;
}

.url-select {
  cursor: pointer;
  font-size: 30px;
  color: var(--vitamui-primary);
  letter-spacing: 0.1px;
  white-space: nowrap;
  transform-origin: left;
  transition: transform 150ms ease-out;
}

.on-over {
  border: 2px solid var(--vitamui-secondary);

  p {
    color: $white;
  }

  .drop-area {
    background: #5cbaa9;
    opacity: 0.9;
    color: $white;
  }
}

.drag-container {
  width: 100%;
  height: 160px;
  vertical-align: middle;
  text-align: center;
}

.drop-area {
  text-align: center;
  height: 156px;
}

.upload-text {
  padding-top: 5%;
  font-size: 15px;
  line-height: 18px;
  color: #a5a5a5;
  text-align: center;
  .upload {
    color: var(--vitamui-secondary);
  }
}

.atr-drop {
  font-size: 19px;
  line-height: 26px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.atr-drop-small {
  text-align: center;
  margin-top: 190px;
  margin-bottom: 10px;
  color: var(--vitamui-primary);
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 10px;
}
.error-message {
  color: $red;
  font-size: 16px;
  margin-top: 80px;
}

.message-success {
  padding-bottom: 50%;
  padding: 34px 0px 34px 34px;
}
.success-icon {
  color: #27740a;
  font-size: 50px;
}

.error-icon {
  color: $dark-red;
  font-size: 50px;
}

.file-info-container {
  padding: 34px 0px 34px 34px;
  display: flex;
  flex-direction: row;
  max-width: 50%;
}

.file-info-class {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;

  small {
    color: #a5a5a5;
  }
}

.font-class-file {
  font-size: 13px;
}

.drag-and-drop-area {
  width: 100%;
  height: 300px;
  border: 2px dashed var(--vitamui-primary);
  border-radius: 6px;
  box-shadow: 0 0 80px rgba(255, 255, 249, 0.3);
  background: $white;
  overflow: hidden;

  p {
    padding-top: 20px;
  }
}

.text-size {
  font-size: 15px;
  font-family: Mulish;
  font-weight: bold;
}

.detail-text {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: var(--vitamui-primary) !important;
}
.btn-up {
  margin-top: 0px;
}

.text-red {
  color: #c10000;
}

.text-grey {
  color: #9d9d9d;
  font-size: 13px;
}
