@mixin shadow-0 {
  box-shadow: none !important;
}

@function is-important($important) {
  @return #{if($important == '!important', '!important', '')};
}

@mixin shadow-accessible($important: null) {
  box-shadow:
    0 0 1px rgba(var(--vitamui-grey-600-rgb), 1),
    0 1px 2px rgba(var(--vitamui-grey-900-rgb), 0.4) is-important($important);
}

@mixin shadow-2dp-dark($important: null) {
  box-shadow:
    0 0 2px rgba(var(--vitamui-grey-900-rgb), 0.2),
    0 1px 4px rgba(var(--vitamui-grey-900-rgb), 0.05) is-important($important);
}
@mixin shadow-2dp-primary($important: null) {
  box-shadow:
    0 0 2px rgba(var(--vitamui-primary-rgb), 0.4),
    0 1px 4px rgba(var(--vitamui-primary-rgb), 0.2) is-important($important);
}
@mixin shadow-2dp-secondary($important: null) {
  box-shadow:
    0 0 2px rgba(var(--vitamui-secondary-rgb), 0.4),
    0 1px 4px rgba(var(--vitamui-secondary-rgb), 0.2) is-important($important);
}
@mixin shadow-2dp-tertiary($important: null) {
  box-shadow:
    0 0 2px rgba(var(--vitamui-tertiary-rgb), 0.4),
    0 1px 4px rgba(var(--vitamui-tertiary-rgb), 0.2) is-important($important);
}

@mixin shadow-4dp-dark($important: null) {
  box-shadow:
    0 1px 4px rgba(var(--vitamui-grey-900-rgb), 0.2),
    0 2px 8px rgba(var(--vitamui-grey-900-rgb), 0.05) is-important($important);
}
@mixin shadow-4dp-primary($important: null) {
  box-shadow:
    0 1px 4px rgba(var(--vitamui-primary-rgb), 0.4),
    0 2px 8px rgba(var(--vitamui-primary-rgb), 0.2) is-important($important);
}
@mixin shadow-4dp-secondary($important: null) {
  box-shadow:
    0 1px 4px rgba(var(--vitamui-secondary-rgb), 0.4),
    0 2px 8px rgba(var(--vitamui-secondary-rgb), 0.2) is-important($important);
}
@mixin shadow-4dp-tertiary($important: null) {
  box-shadow:
    0 1px 4px rgba(var(--vitamui-tertiary-rgb), 0.4),
    0 2px 8px rgba(var(--vitamui-tertiary-rgb), 0.2) is-important($important);
}

@mixin shadow-8dp-dark($important: null) {
  box-shadow:
    0 2px 8px rgba(var(--vitamui-grey-900-rgb), 0.2),
    0 4px 16px rgba(var(--vitamui-grey-900-rgb), 0.05) is-important($important);
}
@mixin shadow-8dp-primary($important: null) {
  box-shadow:
    0 2px 8px rgba(var(--vitamui-primary-rgb), 0.4),
    0 4px 16px rgba(var(--vitamui-primary-rgb), 0.2) is-important($important);
}
@mixin shadow-8dp-secondary($important: null) {
  box-shadow:
    0 2px 8px rgba(var(--vitamui-secondary-rgb), 0.4),
    0 4px 16px rgba(var(--vitamui-secondary-rgb), 0.2) is-important($important);
}
@mixin shadow-8dp-tertiary($important: null) {
  box-shadow:
    0 2px 8px rgba(var(--vitamui-tertiary-rgb), 0.4),
    0 4px 16px rgba(var(--vitamui-tertiary-rgb), 0.2) is-important($important);
}

@mixin shadow-16dp-dark($important: null) {
  box-shadow:
    0 4px 16px rgba(var(--vitamui-grey-900-rgb), 0.2),
    0 8px 32px rgba(var(--vitamui-grey-900-rgb), 0.05) is-important($important);
}
@mixin shadow-16dp-primary($important: null) {
  box-shadow:
    0 4px 16px rgba(var(--vitamui-primary-rgb), 0.4),
    0 8px 32px rgba(var(--vitamui-primary-rgb), 0.2) is-important($important);
}
@mixin shadow-16dp-secondary($important: null) {
  box-shadow:
    0 4px 16px rgba(var(--vitamui-secondary-rgb), 0.4),
    0 8px 32px rgba(var(--vitamui-secondary-rgb), 0.2) is-important($important);
}
@mixin shadow-16dp-tertiary($important: null) {
  box-shadow:
    0 4px 16px rgba(var(--vitamui-tertiary-rgb), 0.4),
    0 8px 32px rgba(var(--vitamui-tertiary-rgb), 0.2) is-important($important);
}

@mixin shadow-32dp-dark($important: null) {
  box-shadow:
    0 6px 24px rgba(var(--vitamui-grey-900-rgb), 0.2),
    0 12px 48px rgba(var(--vitamui-grey-900-rgb), 0.05) is-important($important);
}
@mixin shadow-32dp-primary($important: null) {
  box-shadow:
    0 6px 24px rgba(var(--vitamui-primary-rgb), 0.4),
    0 12px 48px rgba(var(--vitamui-primary-rgb), 0.2) is-important($important);
}
@mixin shadow-32dp-secondary($important: null) {
  box-shadow:
    0 6px 24px rgba(var(--vitamui-secondary-rgb), 0.4),
    0 12px 48px rgba(var(--vitamui-secondary-rgb), 0.2) is-important($important);
}
@mixin shadow-32dp-tertiary($important: null) {
  box-shadow:
    0 6px 24px rgba(var(--vitamui-tertiary-rgb), 0.4),
    0 12px 48px rgba(var(--vitamui-tertiary-rgb), 0.2) is-important($important);
}

@mixin shadow-64dp-dark($important: null) {
  box-shadow:
    0 8px 32px rgba(var(--vitamui-grey-900-rgb), 0.2),
    0 16px 64px rgba(var(--vitamui-grey-900-rgb), 0.05) is-important($important);
}
@mixin shadow-64dp-primary($important: null) {
  box-shadow:
    0 8px 32px rgba(var(--vitamui-primary-rgb), 0.4),
    0 16px 64px rgba(var(--vitamui-primary-rgb), 0.2) is-important($important);
}
@mixin shadow-64dp-secondary($important: null) {
  box-shadow:
    0 8px 32px rgba(var(--vitamui-secondary-rgb), 0.4),
    0 16px 64px rgba(var(--vitamui-secondary-rgb), 0.2) is-important($important);
}
@mixin shadow-64dp-tertiary($important: null) {
  box-shadow:
    0 8px 32px rgba(var(--vitamui-tertiary-rgb), 0.4),
    0 16px 64px rgba(var(--vitamui-tertiary-rgb), 0.2) is-important($important);
}

@mixin shadow-128dp-dark($important: null) {
  box-shadow:
    0 10px 40px rgba(var(--vitamui-grey-900-rgb), 0.2),
    0 20px 80px rgba(var(--vitamui-grey-900-rgb), 0.05) is-important($important);
}
@mixin shadow-128dp-primary($important: null) {
  box-shadow:
    0 10px 40px rgba(var(--vitamui-primary-rgb), 0.4),
    0 20px 80px rgba(var(--vitamui-primary-rgb), 0.2) is-important($important);
}
@mixin shadow-128dp-secondary($important: null) {
  box-shadow:
    0 10px 40px rgba(var(--vitamui-secondary-rgb), 0.4),
    0 20px 80px rgba(var(--vitamui-secondary-rgb), 0.2) is-important($important);
}
@mixin shadow-128dp-tertiary($important: null) {
  box-shadow:
    0 10px 40px rgba(var(--vitamui-tertiary-rgb), 0.4),
    0 20px 80px rgba(var(--vitamui-tertiary-rgb), 0.2) is-important($important);
}

@mixin input-elevation-dark {
  @include shadow-accessible;
  &:not(:has(.focus-within-zone)):focus-within,
  &:has(.focus-within-zone:focus-within),
  .focused &,
  &.focused,
  .vitamui-focused &,
  .ng-invalid.ng-touched:not(form) &,
  &.ng-invalid.ng-touched:not(form) {
    @include shadow-0;
  }
}

@mixin btn-elevation-dark {
  &:not(.disabled):not(:disabled) {
    @include shadow-8dp-dark;

    &:hover {
      @include shadow-16dp-dark;
    }

    &:focus,
    .active {
      @include shadow-4dp-dark;
    }
  }
  &.disabled,
  &:disabled {
    @include shadow-0;
  }
}

@mixin btn-elevation-primary {
  &:not(.disabled):not(:disabled) {
    @include shadow-8dp-primary;

    &:hover {
      @include shadow-16dp-primary;
    }

    &:focus,
    .active {
      @include shadow-4dp-primary;
    }
  }
  &.disabled,
  &:disabled {
    @include shadow-0;
  }
}

@mixin btn-elevation-secondary {
  &:not(.disabled):not(:disabled) {
    @include shadow-8dp-secondary;

    &:hover {
      @include shadow-16dp-secondary;
    }

    &:focus,
    .active {
      @include shadow-4dp-secondary;
    }
  }
  &.disabled,
  &:disabled {
    @include shadow-0;
  }
}

@mixin dialog-elevation-dark {
  &:not(.disabled):not(:disabled) {
    @include shadow-2dp-dark;

    &:hover {
      @include shadow-4dp-dark;
    }
  }
  &.disabled,
  &:disabled {
    @include shadow-0;
  }
}

@mixin dialog-elevation-primary {
  &:not(.disabled):not(:disabled) {
    @include shadow-2dp-primary;

    &:hover {
      @include shadow-4dp-primary;
    }
  }
  &.disabled,
  &:disabled {
    @include shadow-0;
  }
}

@mixin dialog-elevation-secondary {
  &:not(.disabled):not(:disabled) {
    @include shadow-2dp-secondary;

    &:hover {
      @include shadow-4dp-secondary;
    }
  }
  &.disabled,
  &:disabled {
    @include shadow-0;
  }
}

@mixin btn-dialog-elevation-dark {
  @include dialog-elevation-dark;

  &:not(.disabled):not(:disabled) {
    &:focus,
    .active {
      @include shadow-0;
    }
  }
}

@mixin btn-dialog-elevation-primary {
  @include dialog-elevation-primary;

  &:not(.disabled):not(:disabled) {
    &:focus,
    .active {
      @include shadow-0;
    }
  }
}

@mixin btn-dialog-elevation-secondary {
  @include dialog-elevation-secondary;

  &:not(.disabled):not(:disabled) {
    &:focus,
    .active {
      @include shadow-0;
    }
  }
}
