@import '../../../../sass/variables/colors';

:host {
  width: 100%;
  max-height: 275px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .arrow {
    display: flex;
    justify-content: center;
  }

  .node-label {
    flex-grow: 1;
    padding: 10px 0;
  }

  .hover-btn {
    margin-right: 8px;
  }

  .pad {
    margin-right: 5px;
  }
}
