/* You can add global styles to this file, and also import other style files */

@import 'icons/vitamui-icons';
@import 'theme';
@import 'bootstrap/scss/bootstrap-grid';
@import 'fonts/font-styles';

.demo-block {
  margin: 20px 0;
}

.demo-layout {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  // padding: 20px;
}
