<vitamui-dialog-header
  [stepper]="stepper"
  [subhead]="'RECLASSIFICATION.COMMON.TITLE' | translate"
  [title]="['RECLASSIFICATION.FIRST_STEP.SUBTITLE' | translate, 'RECLASSIFICATION.' + actionChosen + '_STEP.TITLE' | translate]"
></vitamui-dialog-header>

<form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
  <mat-dialog-content>
    <vitamui-common-stepper #stepper (selectionChange)="stepIndex = $event.selectedIndex">
      <cdk-step>
        {{ itemSelected }}
        {{ itemSelected | i18nPlural: selectedUnitMap | translate }}
        <div *ngIf="totalChilds !== null && totalChilds === 10000 && !waitingForLoadExactTotalTrackHits && !precided" class="mb-4">
          <a
            class="link-without-underline"
            (click)="loadExactCount()"
            [vitamuiTooltip]="'ARCHIVE_SEARCH.RETRIEVE_EXACT_COUNT' | translate"
            [vitamuiTooltipShowDelay]="300"
          >
            <vitamui-badge *ngIf="!pendingGetChilds" [text]="badgeMessageMoreThan" color="red" decoration="filled"></vitamui-badge>
          </a>
        </div>
        <mat-spinner
          *ngIf="waitingForLoadExactTotalTrackHits || pendingGetChilds"
          diameter="20"
          color="accent"
          class="spinner-wrapper"
        ></mat-spinner>

        <div class="col-8" *ngIf="waitingForLoadExactTotalTrackHits">
          <ng-container *ngIf="!pendingGetFixedCount && !pending" class="mb-4">
            <a
              class="link-without-underline"
              (click)="loadExactCount()"
              [vitamuiTooltip]="'ARCHIVE_SEARCH.RETRIEVE_EXACT_COUNT' | translate"
              [vitamuiTooltipShowDelay]="300"
            >
              <vitamui-badge *ngIf="!pendingGetChilds" [text]="badgeMessageMoreThan" color="red" decoration="filled"></vitamui-badge>
            </a>
          </ng-container>
        </div>

        <div *ngIf="precided || 1000 > totalChilds" class="mb-4">
          <vitamui-badge *ngIf="!pendingGetChilds" [text]="badgeMessageIncluding" color="red" decoration="filled"></vitamui-badge>
        </div>

        <div class="text medium mb-2">
          @if (archiveUnitFetchedParents.length >= 1 && archiveUnitFetchedParents.length <= 5) {
            {{
              archiveUnitFetchedParents.length
                | i18nPlural: currentParentFolderMap
                | translate: { nbParents: archiveUnitFetchedParents.length }
            }}
          } @else if (archiveUnitFetchedParents.length > 5) {
            {{ 'RECLASSIFICATION.FIRST_STEP.MORE_THAN_FIVE_CURRENT_PARENTS_FOLDERS' | translate }}
          } @else if (!hasParents) {
            <div class="light">{{ 'RECLASSIFICATION.COMMON.ARCHIVE_WITH_NO_PARENTS' | translate }}</div>
          }
        </div>

        <div *ngIf="archiveUnitFetchedParents.length <= 5">
          <div *ngFor="let parent of archiveUnitFetchedParents">
            <div class="text normal ml-3 mb-2">{{ parent.title }}</div>
          </div>
        </div>

        <p class="text bold primary">{{ 'RECLASSIFICATION.FIRST_STEP.SELECT_ACTION_MESSAGE_1' | translate }}</p>
        <div class="form-group select-group-info">
          <vitamui-select
            [formControl]="actionToFilterSelect"
            formControlName="actionToFilter"
            [options]="actionToFilterOptions"
            [placeholder]="'RECLASSIFICATION.FIRST_STEP.SELECT_ACTION_MESSAGE_2' | translate"
            [enableSearch]="false"
          ></vitamui-select>
        </div>

        <div *ngIf="actionChosen === 'REPLACE'" class="text danger">
          {{ 'RECLASSIFICATION.FIRST_STEP.ALERT_REMOVED_CURRENT_PARENTS_FOLDERS' | translate }}
        </div>
        <div *ngIf="actionChosen === 'PULL'" class="text danger">
          {{ 'RECLASSIFICATION.FIRST_STEP.ALERT_NO_ATTACHMENT_CURRENT_PARENTS_FOLDERS' | translate }}
        </div>
      </cdk-step>

      <cdk-step *ngIf="this.actionChosen !== 'PULL'">
        <div [ngSwitch]="actionChosen">
          <ng-container *ngSwitchCase="'REPLACE'">
            <div class="text danger mt-3">
              {{ 'RECLASSIFICATION.FIRST_STEP.ALERT_REMOVED_CURRENT_PARENTS_FOLDERS' | translate }}
            </div>
            <div class="mt-3 mb-3">
              <mat-button-toggle-group formControlName="toggleOption" class="vitamui-button-toggle-group">
                <mat-button-toggle *ngFor="let option of getReclassificationToggleOptions()" [value]="option">
                  <span>{{ 'RECLASSIFICATION.COMMON.' + option | translate }}</span>
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div class="gap-3 align-items-stretch">
              @switch (form.get('toggleOption').value) {
                @case (ReclassificationToggle.RECLASSIFICATION_TOGGLE_TREE_PLAN) {
                  <vitamui-library-filing-plan
                    [mode]="FilingPlanMode.SOLO"
                    [tenantIdentifier]="data.tenantIdentifier"
                    [formControl]="targetGuidFiling"
                  ></vitamui-library-filing-plan>
                }
                @case (ReclassificationToggle.RECLASSIFICATION_TOGGLE_UA_ID) {
                  <vitamui-common-input
                    formControlName="targetGuid"
                    required
                    placeholder="{{ 'RECLASSIFICATION.COMMON.ATTACHMENT_GUID_LABEL' | translate }}"
                    class="col-12 px-0"
                  >
                    <ng-container *ngIf="form.get('targetGuid')?.touched">
                      <vitamui-common-input-error *ngIf="!!form.get('targetGuid')?.errors?.required"
                        >{{ 'COMMON.REQUIRED' | translate }}
                      </vitamui-common-input-error>
                      <vitamui-common-input-error *ngIf="!!form?.get('targetGuid')?.errors?.targetGuid">
                        {{ 'RECLASSIFICATION.COMMON.GUID_ALREADY_EXISTS' | translate }}
                      </vitamui-common-input-error>
                      <vitamui-common-input-error *ngIf="!!form?.get('targetGuid')?.errors?.alreadyExistParents"
                        >{{ 'RECLASSIFICATION.COMMON.ATTACHMENT_ALREADY_EXISTS' | translate }}
                      </vitamui-common-input-error>
                    </ng-container>
                  </vitamui-common-input>
                  <vitamui-common-input
                    class="col-12 px-0"
                    formControlName="targetAuTitle"
                    required
                    placeholder="{{ 'RECLASSIFICATION.COMMON.TARGET_GUID_TITLE_LABEL' | translate }}"
                  ></vitamui-common-input>
                }
              }
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'ADD'">
            <div class="mt-3 mb-3">
              <mat-button-toggle-group formControlName="toggleOption" class="vitamui-button-toggle-group">
                <mat-button-toggle *ngFor="let option of getReclassificationToggleOptions()" [value]="option">
                  <span>{{ 'RECLASSIFICATION.COMMON.' + option | translate }}</span>
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            @switch (form.get('toggleOption').value) {
              @case (ReclassificationToggle.RECLASSIFICATION_TOGGLE_TREE_PLAN) {
                <vitamui-library-filing-plan
                  [mode]="FilingPlanMode.SOLO"
                  [tenantIdentifier]="data.tenantIdentifier"
                  [formControl]="targetGuidFiling"
                ></vitamui-library-filing-plan>
              }
              @case (ReclassificationToggle.RECLASSIFICATION_TOGGLE_UA_ID) {
                <div class="form-group">
                  <div class="form-control">
                    <vitamui-common-input
                      formControlName="targetGuid"
                      required
                      placeholder="{{ 'RECLASSIFICATION.COMMON.ATTACHMENT_GUID_LABEL' | translate }}"
                      class="col-12 px-0"
                    >
                      <ng-container *ngIf="form.get('targetGuid')?.touched">
                        <vitamui-common-input-error *ngIf="!!form.get('targetGuid')?.errors?.required"
                          >{{ 'COMMON.REQUIRED' | translate }}
                        </vitamui-common-input-error>
                        <vitamui-common-input-error *ngIf="!!form?.get('targetGuid')?.errors?.targetGuid">
                          {{ 'RECLASSIFICATION.COMMON.GUID_ALREADY_EXISTS' | translate }}
                        </vitamui-common-input-error>
                        <vitamui-common-input-error *ngIf="!!form?.get('targetGuid')?.errors?.alreadyExistParents"
                          >{{ 'RECLASSIFICATION.COMMON.ATTACHMENT_ALREADY_EXISTS' | translate }}
                        </vitamui-common-input-error>
                      </ng-container>
                    </vitamui-common-input>
                  </div>
                  <div class="form-control">
                    <vitamui-common-input
                      class="col-12 px-0"
                      formControlName="targetAuTitle"
                      required
                      placeholder="{{ 'RECLASSIFICATION.COMMON.TARGET_GUID_TITLE_LABEL' | translate }}"
                    ></vitamui-common-input>
                  </div>
                </div>
              }
            }
          </ng-container>
        </div>
      </cdk-step>
    </vitamui-common-stepper>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div>
      <button
        *ngIf="stepper.selectedIndex === stepper.steps.length - 1"
        type="submit"
        class="btn primary"
        [disabled]="stepInvalid() || isDisabledButton"
      >
        {{ 'COMMON.CONFIRM' | translate }}
      </button>
      <vitamui-next-step [stepper]="stepper" [disabled]="stepInvalid()"></vitamui-next-step>

      <button type="button" class="btn link cancel" (click)="onCancel()">{{ 'COMMON.UNDO' | translate }}</button>
    </div>
    <vitamui-previous-step [stepper]="stepper"></vitamui-previous-step>
  </mat-dialog-actions>
</form>
