@import 'variables/colors';
.container {
  margin-top: 40px;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-left: 0 !important;
}
.color {
  width: auto;
  height: 150px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shade {
  width: 90px;
  height: 90px;
  border-radius: 4px;
}

.shade-text {
  text-align: center;
  margin-top: 0.5rem;
}

.red {
  background-color: $red;
}

.orange {
  background-color: $orange;
}

.green {
  background-color: $green;
}
