@for (colorInfo of colors; track colorInfo.key) {
  <div class="container">
    <div>
      <h2>{{ 'COLORS.' + colorInfo.key | translate }}</h2>
    </div>
    <div>
      <div #color class="color" [ngClass]="colorInfo.className" style="background-color: var({{ colorInfo.varName }})">
        <div class="shade-text">
          <div class="text medium">{{ colorToHex(color) }}</div>
          <div class="text medium" *ngFor="let kv of colorToHsl(color) | keyvalue">{{ kv.key }} : {{ kv.value }}</div>
        </div>
      </div>

      @if (colorInfo.hueIds) {
        <ul>
          @for (hueId of colorInfo.hueIds; track hueId) {
            <li>
              <div #hue class="shade" style="background-color: var({{ colorInfo.varName }}{{ hueId === 500 ? '' : '-' + hueId }})"></div>
              <div class="shade-text">
                <div class="text medium">{{ hueId === 500 ? '(' + hueId + ')' : hueId }}</div>
                <div class="text medium">{{ colorToHex(hue) }}</div>
                <div class="text medium" *ngFor="let kv of colorToHsl(hue) | keyvalue">{{ kv.key }} : {{ kv.value }}</div>
              </div>
            </li>
          }
        </ul>
      }
    </div>
  </div>
}
