<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-common-title-breadcrumb> {{ 'ARCHIVE_SEARCH.RULES_ACTION.UPDATE_RULE' | translate }} </vitamui-common-title-breadcrumb>
    </div>

    <div class="vitamui-content">
      <div class="row">
        <div class="col-4 radio-btn-area">
          <br/>
          <label class="title-text"> {{ 'RULES.SELECT_RULE_CATEGORY' | translate }} *</label>
          <div class="radio-group" *ngFor="let ruleCategory of rulesCatygories">
            <div class="radio-btn-list">
              <mat-radio-button
                class="radio-button"
                (change)="selectRule(ruleCategory)"
                [disabled]="ruleCategory.isDisabled"
                [value]="ruleCategory.id"
              >
                {{ ruleCategory.name }}
              </mat-radio-button>
            </div>
          </div>
          <br/>
          <label class="title-text">{{ 'RULES.SELECT_RULE_ACTION' | translate }} *</label>
          <br/>
          <div>
            <mat-form-field class="vitamui-mat-select select-style">
              <mat-select
                placeholder="{{ 'RULES.ACTION_ON_RULES' | translate }} "
                [disabled]="!isRuleCategorySelected || !isAllActionsValid()"
                [(value)]="actionSelected"
              >
                <mat-option
                  value="ADD_RULES"
                  [disabled]="!isRuleCategorySelected || isAddValidActions"
                  (click)="onSelectAction(actionSelected)"
                  matTooltip="{{ isAddValidActions ? messageNotAdd : '' }}"
                  matTooltipClass="vitamui-tooltip-rules"
                >
                  {{ 'RULES.ACTIONS.ADD_RULE' | translate }}
                </mat-option>
                <mat-option
                  value="UPDATE_RULES"
                  [disabled]="!isRuleCategorySelected || isUpdateValidActions || isUpdateValidActionsWithProperty"
                  (click)="onSelectAction(actionSelected)"
                  matTooltip="{{ isUpdateValidActions || isUpdateValidActionsWithProperty ? messageNotUpdate : '' }}"
                  matTooltipClass="vitamui-tooltip-rules"
                >
                  {{ 'RULES.ACTIONS.UPDATE_RULE' | translate }}</mat-option
                >
                <mat-option
                  value="DELETE_RULES"
                  [disabled]="!isRuleCategorySelected || isDeleteValidActions || isDeleteValidActionsWithProperty"
                  matTooltip="{{ isDeleteValidActions || isDeleteValidActionsWithProperty ? messageNotDelete : '' }}"
                  matTooltipClass="vitamui-tooltip-rules"
                  (click)="onSelectAction(actionSelected)"
                >
                  {{ 'RULES.ACTIONS.DELETE_RULE' | translate }}</mat-option
                >
                <mat-option value="BlockRuleInheritance" [disabled]="true" (click)="onSelectAction(actionSelected)">
                  {{ 'RULES.ACTIONS.BLOCK_RULE_INHERITANCE' | translate }}</mat-option
                >
                <mat-option value="deleteBlockRuleInheritance" [disabled]="true"
                            (click)="onSelectAction(actionSelected)">
                  {{ 'RULES.ACTIONS.DELETE_BLOCK_RULE_INHERITANCE' | translate }}</mat-option
                >
              </mat-select>
              <div class="select-arrow">
                <i class="vitamui-icon vitamui-row-icon"></i>
              </div>
              <div class="select-arrow">
                <i class="material-icons">keyboard_arrow_up</i>
                <i class="material-icons">keyboard_arrow_down</i>
              </div>
            </mat-form-field>
          </div>

          <mat-form-field class="vitamui-mat-select select-more-actions">
            <mat-select
              placeholder=" {{ 'RULES.OTHER_ACTIONS' | translate }}"
              [disabled]="!isRuleCategorySelected || !isAllActionsValid()"
              [(value)]="actionSelected"
            >
              <mat-option
                value="UPDATE_PROPERTY"
                [disabled]="!isRuleCategorySelected || isAddPropertyValidActions || isAddValidActions || isUpdateValidActionsWithProperty"
                (click)="onSelectAction(actionSelected)"
                matTooltip="{{ isAddPropertyValidActions ? messageNotAddProperty : isAddValidActions ? messageNotAdd : '' }}"
                matTooltipClass="vitamui-tooltip-rules"
              >
                {{ 'RULES.MORE_ACTIONS.UPDATE_PROPERTY' | translate }}</mat-option
              >
              <mat-option
                value="DELETE_PROPERTY"
                [disabled]="isDeletePropertyDisabled"
                matTooltip="{{ isDeletePropertyDisabled ? messageNotToDeleteProperty : '' }}"
                matTooltipClass="vitamui-tooltip-rules"
              >
                {{ 'RULES.MORE_ACTIONS.DELETE_PROPERTY' | translate }}</mat-option
              >
              <mat-option value="BlockPropertyInheritance" [disabled]="true">
                {{ 'RULES.MORE_ACTIONS.BLOCK_PROPERTY_INHERITANCE' | translate }}</mat-option
              >
              <mat-option value="deleteBlockPropertyInheritance" [disabled]="true">
                {{ 'RULES.MORE_ACTIONS.DELETE_BLOCK_PROPERTY_INHERITANCE' | translate }}</mat-option
              >
            </mat-select>

            <div class="select-arrow">
              <i class="vitamui-icon vitamui-row-icon"></i>
            </div>
            <div class="select-arrow">
              <i class="material-icons">keyboard_arrow_up</i>
              <i class="material-icons">keyboard_arrow_down</i>
            </div>
          </mat-form-field>
        </div>
        <div class="col-8 row-padding">
          <div class="update-rules-table-head row">
            <div class="col-2 clickable" (click)="returnToArchiveSearchPage()">
              <span class="text-return"> {{ 'RULES.BACK' | translate }}</span>
            </div>
            <div class="col-10">
              <div class="row">
                <div class="col-7">
                  <span class="details-ua">
                    {{ 'RULES.UA_SELECTED' | translate: {ua_selected: selectedItem} }}
                  </span>
                </div>
                <div class="col-5">
                  <button class="btn primary" [disabled]="!isAllActionsValid() || ruleActions.length === 0"
                          (click)="submitUpdates()">
                    {{ 'RULES.EXECUTE_RULE_UPDATE' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <mat-tab-group [selectedIndex]="indexOfSelectedCategory">
                <div *ngFor="let item of rulesCatygoriesToShow">
                  <mat-tab label="{{ item.name }}">
                    <app-archive-unit-rules
                      [selectedItem]="selectedItem"
                      [ruleCategory]="item.id"
                    ></app-archive-unit-rules>
                  </mat-tab>
                </div>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #confirmRuleActionsDialog>
  <mat-dialog-content>
    <br/>
    <div class="text-title">{{ 'RULES.DIALOG_MESSAGE.UPDATE_CONFIRM_TITLE_MESSAGE' | translate }}</div>
    <div class="text large bold">
      {{ 'RULES.DIALOG_MESSAGE.UPDATE_CONFIRM_MESSAGE' | translate: {ua_selected: selectedItem} }}
    </div>
  </mat-dialog-content>
  <br/>
  <mat-dialog-actions>
    <button matDialogClose
            class="btn primary btn-confirm-dialog margin-btn">{{ 'RULES.COMMON.UNDO' | translate }}</button>

    <button [matDialogClose]="true" class="btn cancel">{{ 'RULES.COMMON.CONFIRM' | translate }}</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #confirmLeaveRuleActionsDialog>
  <mat-dialog-content>
    <br/>

    <div class="text large bold">
      {{ 'RULES.DIALOG_MESSAGE.EXIT_CONFIRM_MESSAGE' | translate: {ua_selected: selectedItem} }}
    </div>
  </mat-dialog-content>
  <br/>
  <mat-dialog-actions>
    <button [matDialogClose]="true"
            class="btn primary btn-confirm-dialog margin-btn">{{ 'RULES.COMMON.CONFIRM' | translate }}</button>

    <button matDialogClose class="btn cancel">{{ 'RULES.COMMON.UNDO' | translate }}</button>
  </mat-dialog-actions>
</ng-template>
