.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
  margin-top: 15px;
}
.radio-btn-area {
  background: #eeeeee;
}

.radio-btn-list {
  background: #ffffff;
  height: 50px;
}

.title-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #9c31b5;
}

.select-style {
  border-radius: 10px;
  width: 100%;
  padding-top: 15px;
}

.select-more-actions {
  border-radius: 10px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 30px;
}

.update-rules-table-head {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: var(--vitamui-grey-900);
  margin-bottom: 0.3rem;
  border-bottom: 2px solid var(--vitamui-grey-300);
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
  padding: 1.5rem;
}

.row-padding {
  padding-left: 20px;
}

.text-return {
  color: #9c31b5;
}

.details-ua {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.margin-btn {
  margin-right: 300px;
}

.text-title {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: #757575;
}

:host ::ng-deep .mat-tab-body-content {
  height: 100%;
  overflow: hidden;
}
