---
keystores_server_cas_server: changeme
keystores_server_iam_external: changeme
keystores_server_referential_external: changeme
keystores_server_ingest_internal: changeme
keystores_server_iam_internal: changeme
keystores_server_referential_internal: changeme
keystores_server_ingest_external: changeme
keystores_server_reverse: changeme
keystores_server_security_internal: changeme
keystores_server_ui_identity: changeme
keystores_server_ui_identity_admin: changeme
keystores_server_ui_portal: changeme
keystores_server_ui_referential: changeme
keystores_server_ui_ingest: changeme
keystores_client_external_customer_x: changeme
truststores_client_external: changeme
keystores_client_vitam_vitamui: changeme
truststores_client_vitam: changeme
truststores_server: changeme
