<vitamui-dialog-header
  [stepper]="stepper"
  [subhead]="'COLLECT.MODAL.TITLE' | translate"
  [title]="[
    'COLLECT.MODAL.WORKFLOW_CHOICE' | translate,
    'COLLECT.PROJECT_REFERENTIAL_CONNECTION_SUB_TITLE' | translate,
    'COLLECT.PROJECT_DESCRIPTION_SUB_TITLE' | translate,
    'COLLECT.PROJECT_CONTEXT_SUB_TITLE' | translate,
    (selectedWorkflow === Workflow.MANUAL ? 'COLLECT.MODAL.UPLOAD_SUB_TITLE' : 'COLLECT.MODAL.FLOW_WORKFLOW_TYPE_CHOICE') | translate,
    (selectedWorkflow === Workflow.MANUAL || selectedFlowType === FlowType.FIX
      ? 'COLLECT.MODAL.ARCHIVE_POSITION_SUB_TITLE'
      : 'COLLECT.MODAL.RULES_TITLE'
    ) | translate,
    (selectedWorkflow === Workflow.MANUAL ? 'COLLECT.MODAL.UPLOAD_FILES' : 'COLLECT.MODAL.UPLOAD_CONF_FILES') | translate,
    (selectedWorkflow === Workflow.FLOW
      ? hasError
        ? 'COLLECT.MODAL.PROJECT_CREATION_ERROR'
        : 'COLLECT.MODAL.PROJECT_CREATED'
      : 'UNKNOWN STEP!!'
    ) | translate,
  ]"
></vitamui-dialog-header>

<!-- workflow 1 projet de versement manuel -->
<!-- workflow 2 projet de versement de flux + position de rattachement fixe -->
<!-- workflow 3 projet de versement de flux + parametrage des regles de rattachement -->

<form [formGroup]="projectForm">
  <vitamui-stepper #stepper [(selectedIndex)]="stepIndex">
    <!-- ########## stepIndex 1 : workflow 1-2-3 , step 1/8 : Choix du type de projet ########## -->
    <cdk-step>
      <mat-dialog-content>
        <div class="main-content">
          <mat-button-toggle-group class="vitamui-button-toggle-group">
            <mat-button-toggle value="{{ Workflow.MANUAL }}" (click)="setWorkflow(Workflow.MANUAL)" [checked]="true">
              {{ 'COLLECT.MODAL.MANUAL_WORKFLOW' | translate }}
            </mat-button-toggle>
            <mat-button-toggle value="{{ Workflow.FLOW }}" (click)="setWorkflow(Workflow.FLOW)">
              {{ 'COLLECT.MODAL.FLOW_WORKFLOW' | translate }}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <vitamui-next-step></vitamui-next-step>
        <button (click)="onClose()" class="btn cancel link" type="button">
          {{ 'COMMON.UNDO' | translate }}
        </button>
      </mat-dialog-actions>
    </cdk-step>

    <!-- ########## stepIndex 2 : workflow 1-2-3 , step 2/8 : Connexion aux référentiels ########## -->
    <cdk-step>
      <mat-dialog-content>
        <div class="main-content">
          <div class="toggle-right">
            <vitamui-slide-toggle
              class="fields-padding d-flex"
              [checked]="true"
              formControlName="connectedToArchivingSystem"
              (change)="onConnectedToArchivingSystemChangeValue()"
            >
              {{
                easOptions.length > 1
                  ? ('COLLECT.PROJECT_REFERENTIAL_CONNECTION_BUTTON' | translate)
                  : ('COLLECT.PROJECT_REFERENTIAL_CONNECTION_LOCALLY_BUTTON' | translate)
              }}
            </vitamui-slide-toggle>
          </div>
          <vitamui-select
            formControlName="archivingSystem"
            [placeholder]="'COLLECT.PROJECT_REFERENTIAL_EAS' | translate"
            [searchBarPlaceHolder]="'COLLECT.PROJECT_REFERENTIAL_EAS' | translate"
            (change)="onArchivingSystemChangeValue()"
            [options]="easOptions"
            [multiple]="false"
            [required]="true"
            [enableSearch]="true"
            *ngIf="connectedToArchivingSystem && easOptions.length > 1"
          ></vitamui-select>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <div>
          <vitamui-next-step [disabled]="stepConnectingToRefEASIsInvalid()"></vitamui-next-step>
          <button (click)="onClose()" class="btn cancel link" type="button">
            {{ 'COMMON.UNDO' | translate }}
          </button>
        </div>
        <vitamui-previous-step></vitamui-previous-step>
      </mat-dialog-actions>
    </cdk-step>

    <!-- ########## stepIndex 3 : workflow 1-2-3 , step 3/8 :  Description du versement ########## -->
    <cdk-step>
      <mat-dialog-content>
        <div class="gap-3 align-items-stretch">
          <div class="row">
            <vitamui-input
              class="col"
              formControlName="messageIdentifier"
              [placeholder]="'COLLECT.PROJECT_DESCRIPTION_LABEL' | translate"
              required
            >
            </vitamui-input>
          </div>
          <div class="row">
            <vitamui-input
              [textarea]="true"
              class="col"
              formControlName="comment"
              [placeholder]="'COLLECT.PROJECT_DESCRIPTION_DESC' | translate"
            >
            </vitamui-input>
          </div>

          <div class="row" *ngIf="connectedToArchivingSystem">
            <vitamui-select
              class="col-6 w-100"
              formControlName="originatingAgencyIdentifier"
              [placeholder]="'COLLECT.PROJECT_DESCRIPTION_ORIGINATING_AGENCY' | translate"
              [searchBarPlaceHolder]="'COLLECT.PROJECT_DESCRIPTION_ORIGINATING_AGENCY' | translate"
              [options]="agenciesOptions"
              [multiple]="false"
              [required]="true"
              [enableSearch]="true"
            ></vitamui-select>

            <vitamui-select
              class="col-6 w-100"
              formControlName="submissionAgencyIdentifier"
              [placeholder]="'COLLECT.PROJECT_DESCRIPTION_SUBMISSION_AGENCY' | translate"
              [searchBarPlaceHolder]="'COLLECT.PROJECT_DESCRIPTION_SUBMISSION_AGENCY' | translate"
              [options]="agenciesOptions"
              [multiple]="false"
              [required]="true"
              [enableSearch]="true"
            ></vitamui-select>
          </div>

          <div class="row" *ngIf="!connectedToArchivingSystem">
            <vitamui-input
              class="col-6 w-100"
              formControlName="originatingAgencyIdentifier"
              placeholder="{{ 'COLLECT.PROJECT_DESCRIPTION_ORIGINATING_AGENCY_ID' | translate }}"
              required
            >
            </vitamui-input>
            <vitamui-input
              class="col-6 w-100"
              formControlName="submissionAgencyIdentifier"
              placeholder="{{ 'COLLECT.PROJECT_DESCRIPTION_SUBMISSION_AGENCY_ID' | translate }}"
              required
            >
            </vitamui-input>
          </div>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <div>
          <vitamui-next-step [disabled]="stepDescriptionIsInvalid()"></vitamui-next-step>
          <button (click)="onClose()" class="btn cancel link" type="button">
            {{ 'COMMON.UNDO' | translate }}
          </button>
        </div>
        <vitamui-previous-step></vitamui-previous-step>
      </mat-dialog-actions>
    </cdk-step>

    <!-- ########## stepIndex 4 : workflow 1-2-4 , step 4/8 : Contexte du versement ########## -->
    <cdk-step>
      <mat-dialog-content>
        <div class="gap-3 align-items-stretch" *ngIf="connectedToArchivingSystem">
          <div class="row">
            <vitamui-select
              class="col-6 w-100"
              formControlName="archivalAgencyIdentifier"
              [placeholder]="'COLLECT.PROJECT_CONTEXT_ARCHIVAL_AGENCY' | translate"
              [searchBarPlaceHolder]="'COLLECT.PROJECT_CONTEXT_ARCHIVAL_AGENCY' | translate"
              [options]="agenciesOptions"
              [multiple]="false"
              [required]="true"
              [enableSearch]="true"
            ></vitamui-select>
            <vitamui-select
              class="col-6 w-100"
              formControlName="transferringAgencyIdentifier"
              [placeholder]="'COLLECT.PROJECT_CONTEXT_TRANSFERRING_AGENCY' | translate"
              [searchBarPlaceHolder]="'COLLECT.PROJECT_CONTEXT_TRANSFERRING_AGENCY' | translate"
              [options]="agenciesOptions"
              [multiple]="false"
              [required]="true"
              [enableSearch]="true"
            ></vitamui-select>
          </div>
          <div class="row">
            <vitamui-select
              class="col-6 w-100"
              formControlName="archivalAgreement"
              [placeholder]="'COLLECT.PROJECT_CONTEXT_ARCHIVAL_AGREEMENT' | translate"
              [searchBarPlaceHolder]="'COLLECT.PROJECT_CONTEXT_ARCHIVAL_AGREEMENT' | translate"
              [options]="archivalAgreementOptions"
              [multiple]="false"
              [required]="true"
              [enableSearch]="true"
            ></vitamui-select>
            <vitamui-select
              class="col-6 w-100"
              formControlName="archiveProfile"
              [placeholder]="'COLLECT.PROJECT_CONTEXT_ARCHIVE_PROFILE' | translate"
              [options]="archiveProfileOptions"
              [multiple]="false"
              [enableSearch]="false"
            ></vitamui-select>
          </div>
          <div class="row">
            <vitamui-select
              class="col-6 w-100"
              formControlName="acquisitionInformation"
              [placeholder]="'COLLECT.PROJECT_CONTEXT_ACQUISITION_INFORMATION' | translate"
              [options]="acquisitionInformationsList"
              [multiple]="false"
              [enableSearch]="false"
            ></vitamui-select>
            <vitamui-select
              class="col-6 w-100"
              formControlName="legalStatus"
              [placeholder]="'COLLECT.PROJECT_CONTEXT_LEGAL_STATUS' | translate"
              [options]="legalStatusList"
              [multiple]="false"
              [enableSearch]="false"
            ></vitamui-select>
          </div>
        </div>
        <div class="gap-3 align-items-stretch" *ngIf="!connectedToArchivingSystem">
          <div class="row">
            <vitamui-input
              class="col-6"
              formControlName="archivalAgencyIdentifier"
              placeholder="{{ 'COLLECT.PROJECT_CONTEXT_ARCHIVAL_AGENCY_ID' | translate }}"
              required
            >
            </vitamui-input>
            <vitamui-input
              class="col-6"
              formControlName="transferringAgencyIdentifier"
              placeholder="{{ 'COLLECT.PROJECT_CONTEXT_TRANSFERRING_AGENCY_ID' | translate }}"
              required
            >
            </vitamui-input>
          </div>
          <div class="row">
            <vitamui-input
              class="col-6"
              formControlName="archivalAgreement"
              placeholder="{{ 'COLLECT.PROJECT_CONTEXT_ARCHIVAL_AGREEMENT_ID' | translate }}"
              required
            >
            </vitamui-input>
            <vitamui-input
              class="col-6"
              formControlName="archiveProfile"
              placeholder="{{ 'COLLECT.PROJECT_CONTEXT_ARCHIVE_PROFILE_ID' | translate }}"
            >
            </vitamui-input>
          </div>
          <div class="row">
            <vitamui-select
              class="col-6 w-100"
              formControlName="acquisitionInformation"
              [placeholder]="'COLLECT.PROJECT_CONTEXT_ACQUISITION_INFORMATION' | translate"
              [options]="acquisitionInformationsList"
              [multiple]="false"
              [enableSearch]="false"
            ></vitamui-select>
            <vitamui-select
              class="col-6 w-100"
              formControlName="legalStatus"
              [placeholder]="'COLLECT.PROJECT_CONTEXT_LEGAL_STATUS' | translate"
              [options]="legalStatusList"
              [multiple]="false"
              [enableSearch]="false"
            ></vitamui-select>
          </div>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <div>
          <vitamui-next-step [disabled]="stepContextIsInvalid()"></vitamui-next-step>
          <button (click)="onClose()" class="btn cancel link" type="button">
            {{ 'COMMON.UNDO' | translate }}
          </button>
        </div>
        <vitamui-previous-step></vitamui-previous-step>
      </mat-dialog-actions>
    </cdk-step>

    <!-- ########## stepIndex 5 : workflow 1     , step 5/8 : Choix des fichiers à upload ########## -->
    <cdk-step *ngIf="selectedWorkflow === Workflow.MANUAL">
      <mat-dialog-content>
        <div class="main-content">
          <div class="gap-6">
            <vitamui-select
              class="w-100"
              [placeholder]="'COLLECT.MODAL.IMPORT_TYPE_PLACEHOLDER' | translate"
              formControlName="importType"
              [options]="[
                { key: 'DIRECTORIES_FILES', label: 'COLLECT.MODAL.IMPORT_TYPE_DIRECTORIES_FILES' | translate },
                { key: 'COMPRESSED', label: 'COLLECT.MODAL.IMPORT_TYPE_COMPRESSED' | translate },
                { key: 'SIP', label: 'COLLECT.MODAL.IMPORT_SIP_ARCHIVES_PACKAGE' | translate },
              ]"
              [enableSearch]="false"
              (change)="resetFilesToImportList()"
              required
            >
            </vitamui-select>
            @if (importType === ImportType.DIRECTORIES_FILES) {
              <vitamui-file-selector
                class="w-100"
                [directoryMode]="true"
                [maxSizeInBytes]="uploadMaxSizeInBytes"
                [multiple]="true"
                [formControl]="filesToUploadControl"
              >
              </vitamui-file-selector>
            }
            @if (importType === ImportType.COMPRESSED || importType === ImportType.SIP) {
              <vitamui-file-selector class="w-100" [extensions]="['.zip']" [formControl]="filesToUploadControl"> </vitamui-file-selector>
            }
          </div>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <div>
          <vitamui-next-step [disabled]="importTypeIsInvalid() || filesToUploadControl.invalid"></vitamui-next-step>
          <button (click)="onClose()" class="btn cancel link" type="button">
            {{ 'COMMON.UNDO' | translate }}
          </button>
        </div>
        <vitamui-previous-step></vitamui-previous-step>
      </mat-dialog-actions>
    </cdk-step>

    <!-- stepIndex 6 : workflow 2-3   , step 6/8 : Choisir le type de rattachement -->
    <cdk-step *ngIf="selectedWorkflow === Workflow.FLOW">
      <mat-dialog-content>
        <div class="main-content gap-4">
          <mat-button-toggle-group class="vitamui-button-toggle-group">
            <mat-button-toggle value="{{ FlowType.FIX }}" (click)="setFlowType(FlowType.FIX)" [checked]="true">
              {{ 'COLLECT.MODAL.FIX_FLOW_WORKFLOW' | translate }}
            </mat-button-toggle>
            <mat-button-toggle value="{{ FlowType.RULES }}" (click)="setFlowType(FlowType.RULES)">
              {{ 'COLLECT.MODAL.RULES_FLOW_WORKFLOW' | translate }}
            </mat-button-toggle>
          </mat-button-toggle-group>
          <div class="hgap-2">
            <span>{{ 'COLLECT.MODAL.AUTO_INGEST' | translate }}</span>
            <mat-button-toggle-group formControlName="automaticIngest" class="vitamui-button-toggle-group">
              <mat-button-toggle [value]="true">
                {{ 'COLLECT.MODAL.AUTO_INGEST_TRUE' | translate }}
              </mat-button-toggle>
              <mat-button-toggle [value]="false">
                {{ 'COLLECT.MODAL.AUTO_INGEST_FALSE' | translate }}
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <div>
          <button (click)="prepareRulesAndMoveToNextStep()" class="btn primary" type="button">
            {{ 'COMMON.NEXT' | translate }}
          </button>
          <button (click)="onClose()" class="btn cancel link" type="button">
            {{ 'COMMON.UNDO' | translate }}
          </button>
        </div>
        <vitamui-previous-step (click)="rulesParams.clear()"></vitamui-previous-step>
      </mat-dialog-actions>
    </cdk-step>

    <!-- stepIndex 7 : workflow 1-2   , step 7/8 : Définir la position fixe de rattachement -->
    <cdk-step *ngIf="selectedWorkflow === Workflow.MANUAL || selectedFlowType === FlowType.FIX">
      <mat-dialog-content>
        <div class="main-content">
          <div class="form-group">
            <vitamui-library-filing-plan
              *ngIf="units && connectedToArchivingSystem && connectedToLocalEasWithCurrentTenant"
              [dataSource]="units"
              [formControl]="linkParentIdControl"
              [mode]="FilingPlanMode.SOLO"
            >
            </vitamui-library-filing-plan>
            <vitamui-input
              class="w-100"
              *ngIf="!connectedToLocalEasWithCurrentTenant"
              [required]="connectedToArchivingSystem"
              [placeholder]="'COLLECT.ARCHIVAL_UNIT_IDENTIFIER' | translate"
              formControlName="unitUp"
            >
            </vitamui-input>
          </div>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <div>
          <button
            (click)="selectedWorkflow === Workflow.MANUAL ? validateAndCreateProject() : moveToNextStep()"
            class="btn primary"
            type="button"
          >
            {{ (selectedWorkflow === Workflow.MANUAL ? 'COMMON.SUBMIT' : 'COMMON.NEXT') | translate }}
          </button>
          <button (click)="onClose()" class="btn cancel link" type="button">
            {{ 'COMMON.UNDO' | translate }}
          </button>
        </div>
        <vitamui-previous-step></vitamui-previous-step>
      </mat-dialog-actions>
    </cdk-step>

    <!-- stepIndex 7 : workflow 3     , step 5/8 : Parametrer les regles de rattachement -->
    <cdk-step *ngIf="selectedWorkflow === Workflow.FLOW && selectedFlowType === FlowType.RULES">
      <mat-dialog-content>
        <ng-container formArrayName="rulesParams">
          <div class="gap-4 align-items-stretch">
            @for (ruleParamForm of rulesParams.controls; track ruleParamForm; let i = $index; let isFirst = $first) {
              <ng-container [formGroup]="ruleParamForm">
                <vitamui-common-accordion [opened]="isFirst">
                  <div class="title">
                    {{ ('COLLECT.MODAL.RULE_PARAMETER_PREFIX' | translate) + (i + 1) + getNodeTitle(ruleParamForm.value) }}
                  </div>
                  <div class="title-extra" style="margin-left: auto">
                    <button
                      type="button"
                      class="btn btn-circle outline outline-primary small"
                      (click)="deleteRuleParam(i)"
                      [vitamuiTooltip]="'COLLECT.MODAL.REMOVE_PARAM' | translate"
                    >
                      <i class="vitamui-icon vitamui-icon-delete"></i>
                    </button>
                  </div>
                  <div class="content">
                    <div class="gap-5 align-items-stretch">
                      <div class="gap-3 align-items-stretch">
                        <label class="medium text bold primary">{{ 'COLLECT.MODAL.SELECT_METADATA_LABEL' | translate }}</label>
                        <div class="hgap-4 align-items-start">
                          <vitamui-select-with-tree
                            class="w-50"
                            formControlName="ontologyList"
                            [options]="schemaOptions"
                            [getDisplayValue]="getSchemaElementDisplayValue"
                            [placeholder]="'COLLECT.MODAL.SELECT_METADATA' | translate"
                            [searchBarPlaceHolder]="'COLLECT.MODAL.SELECT_METADATA_SEARCH_BAR_PLACE_HOLDER' | translate"
                          >
                          </vitamui-select-with-tree>
                          @if (['TEXT', 'KEYWORD', 'BOOLEAN', 'LONG'].includes(ruleParamForm.value.ontologyList?.Type)) {
                            <vitamui-input
                              class="w-50"
                              formControlName="metadataValue"
                              [placeholder]="getName(ruleParamForm.value.ontologyList)"
                            >
                            </vitamui-input>
                          } @else if (['DATE'].includes(ruleParamForm.value.ontologyList?.Type)) {
                            <vitamui-datepicker
                              class="w-50"
                              formControlName="metadataValue"
                              [label]="getName(ruleParamForm.value.ontologyList)"
                              format="yyyy-MM-dd"
                            ></vitamui-datepicker>
                          }
                        </div>
                      </div>
                      <div class="gap-3 align-items-stretch">
                        <label class="medium text bold primary">
                          {{ 'COLLECT.MODAL.ATTACH_POSITION' | translate }}
                          @if (connectedToArchivingSystem) {
                            <span class="required-marker">*</span>
                          }
                        </label>
                        @if (connectedToArchivingSystem && connectedToLocalEasWithCurrentTenant) {
                          <vitamui-library-filing-plan formControlName="unitUp" [dataSource]="units" [mode]="FilingPlanMode.SOLO">
                          </vitamui-library-filing-plan>
                        } @else {
                          <vitamui-input formControlName="unitUp" [placeholder]="'COLLECT.ARCHIVAL_UNIT_IDENTIFIER' | translate">
                          </vitamui-input>
                        }
                      </div>
                    </div>
                  </div>
                </vitamui-common-accordion>
              </ng-container>
            }
          </div>
        </ng-container>
        <div>
          <button type="button" class="btn link back" (click)="addRuleParam()">
            <i class="vitamui-icon vitamui-icon-chevron-right"></i>
            <span>{{ 'COLLECT.MODAL.RULES_PARAMS_ADD' | translate }}</span>
          </button>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <div>
          <vitamui-next-step [disabled]="stepRulesParamsIsInvalid()"></vitamui-next-step>
          <button (click)="onClose()" class="btn cancel link" type="button">
            {{ 'COMMON.UNDO' | translate }}
          </button>
        </div>
        <vitamui-previous-step></vitamui-previous-step>
      </mat-dialog-actions>
    </cdk-step>

    <!-- ########## stepIndex 6 : workflow 2     , step 6/8 : Choix des fichiers à upload ########## -->
    <cdk-step *ngIf="selectedWorkflow === Workflow.FLOW">
      <mat-dialog-content>
        <div class="w-100">
          <vitamui-file-selector
            [multiple]="false"
            [maxSizeInBytes]="10 * 1024"
            [directoryMode]="false"
            [extensions]="['.jslt']"
            (filesChanged)="handleJsltFile($event)"
          >
          </vitamui-file-selector>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <div>
          <button (click)="validateAndCreateProject()" class="btn primary" type="button">
            {{ 'COMMON.SUBMIT' | translate }}
          </button>
          <button (click)="onClose()" class="btn cancel link" type="button">
            {{ 'COMMON.UNDO' | translate }}
          </button>
        </div>
        <vitamui-previous-step></vitamui-previous-step>
      </mat-dialog-actions>
    </cdk-step>

    <!-- stepIndex 8 : workflow 1     , step 8/8     : Zip des fichiers et upload -->
    <cdk-step *ngIf="selectedWorkflow === Workflow.MANUAL">
      <mat-dialog-content>
        <div class="main-content">
          <table>
            <thead>
              <tr>
                <th>{{ 'COLLECT.UPLOAD.ZIP_NAME' | translate }}</th>
                <th>{{ 'COLLECT.UPLOAD.WEIGHT' | translate }}</th>
                <th>{{ 'COLLECT.UPLOAD.ZIP_TRACKING_TITLE' | translate }}</th>
                <th>{{ 'COLLECT.UPLOAD.STATUS' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="zipFileStatus$ | async as zippedFile">
                <td>{{ zippedFile?.name }}</td>
                <td>{{ zippedFile?.size | fileSize }}</td>
                <td>
                  <vitamui-common-progress-bar [percent]="zippedFile?.currentFileUploadedSize"></vitamui-common-progress-bar>
                </td>
                <td>
                  <vitamui-common-progress-bar [percent]="zippedFile?.uploadedSize"></vitamui-common-progress-bar>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button (click)="close()" [disabled]="isLoading" class="btn primary" type="button">
          {{ 'COMMON.CLOSE' | translate }}
        </button>
      </mat-dialog-actions>
    </cdk-step>

    <!-- workflow 2-3 step 8/8   : Projet de versement cree -->
    <cdk-step *ngIf="selectedWorkflow === Workflow.FLOW">
      <mat-dialog-content>
        <div class="main-content">
          {{ errorMessage ? errorMessage : '' }}
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button (click)="close()" [disabled]="isLoading" class="btn primary" type="button">
          {{ 'COMMON.CLOSE' | translate }}
        </button>
      </mat-dialog-actions>
    </cdk-step>
  </vitamui-stepper>
</form>
