<div vitamuiCommonInfiniteScroll (vitamuiScroll)="onScroll()">
  <div class="vitamui-table">
    <div class="vitamui-table-head">
      <div class="col-1 d-flex align-items-center">
        <i class="vitamui-icon vitamui-icon-releve"></i>
      </div>

      <div class="col-3 d-flex align-items-center justify-content-between">
        <div>{{ 'PROBATIVE_VALUE.HOME.ARRAY.IDENTIFIER' | translate }}</div>
        <vitamui-order-by-button
          orderByKey="evId"
          [(orderBy)]="orderBy"
          [(direction)]="direction"
          (orderChange)="emitOrderChange()"
        ></vitamui-order-by-button>
      </div>

      <div class="col-2 d-flex align-items-center justify-content-between">
        <div>{{ 'PROBATIVE_VALUE.HOME.ARRAY.CREATION_DATE' | translate }}</div>
        <vitamui-order-by-button
          orderByKey="evDateTime"
          [(orderBy)]="orderBy"
          [(direction)]="direction"
          (orderChange)="emitOrderChange()"
        ></vitamui-order-by-button>
      </div>

      <div class="col-2">
        <div>{{ 'PROBATIVE_VALUE.HOME.ARRAY.STATUS' | translate }}</div>
      </div>

      <div class="col-4">
        <div>{{ 'PROBATIVE_VALUE.HOME.ARRAY.MESSAGE' | translate }}</div>
      </div>
    </div>

    <div class="vitamui-table-body">
      @for (value of dataSource; track value) {
        <div class="vitamui-table-rows" (click)="probativeValueClick.emit(value)">
          <div class="vitamui-row d-flex align-items-center clickable">
            <div class="col-1">
              <i class="vitamui-icon vitamui-icon-releve" [ngClass]="value | eventTypeBadgeClass"></i>
            </div>
            <div class="col-3" vitamuiCommonEllipsis>{{ value.id }}</div>
            <div class="col-2" vitamuiCommonEllipsis>{{ value.dateTime | dateTime: 'dd/MM/yyyy' }}</div>
            <div class="col-2" vitamuiCommonEllipsis [ngClass]="value | eventTypeColorClass">
              {{ (value | lastEvent).outcome }}
            </div>
            <div class="col-4" vitamuiCommonEllipsis>{{ (value | lastEvent).outMessage }}</div>
          </div>
        </div>
      }
    </div>

    @if (!dataSource || pending) {
      <div class="vitamui-min-content">
        <mat-spinner class="vitamui-spinner medium"></mat-spinner>
      </div>
    }
    @if (!pending && dataSource?.length === 0) {
      <div class="vitamui-min-content vitamui-table-message">{{ 'COMMON.NO_RESULT' | translate }}</div>
    }
    @if (infiniteScrollDisabled && probativeValueService.canLoadMore && !pending) {
      <div class="vitamui-min-content vitamui-table-message" (click)="probativeValueService.loadMore()">
        <span class="clickable">{{ 'COMMON.SHOW_MORE_RESULTS' | translate }}</span>
      </div>
    }
  </div>
</div>
