#jinja2: lstrip_blocks: True
spring:
  cloud:
    consul:
      enabled: true
      host: {{ hostvars[inventory_hostname][consul.network] if (inventory_hostname in groups['hosts_vitamui_consul_server'] or inventory_hostname in groups['hosts_consul_server']) else 'localhost' }}
      discovery:
        serviceName: vitamui-{{ vitamui_struct.vitamui_component }}
        preferIpAddress: true
        healthCheckUrl: http://${management.server.address}:${management.server.port}/actuator/health
        tags: {{ consul_tags }}
        instanceId: {{ vitamui_struct.vitamui_component }}-${server.port}-${spring.cloud.client.hostname}
  data:
    mongodb:
      uri: "mongodb://{{ mongodb.security.user }}:{{ mongodb.security.password }}@{{ mongod_uri }}/{{ mongodb.security.db }}?replicaSet={{ mongod_replicaset_name }}&connectTimeoutMS={{ mongod_client_connect_timeout_ms }}"

logging:
  config: {{ vitamui_folder_conf }}/logback.xml

server:
  address: {{ ip_service }}
  port: {{ vitamui_struct.port_service }}
{% if vitamui_struct.secure | default(secure) | bool == true %}
  ssl:
    key-store: {{ vitamui_folder_conf }}/keystore_{{ vitamui_struct.service_name | default(service_name) }}.jks
    key-store-password: {{ password_keystore }}
    key-password: {{ password_keystore }}
    trust-store: {{ vitamui_folder_conf }}/truststore_{{ vitamui_certificate_type }}.jks
    trust-store-password: {{ password_truststore }}
{% endif %}
  max-http-header-size: {{ vitamui_struct.server_max_http_header_size | default('10KB') }}
  tomcat:
    accesslog:
      enabled: "{{ vitamui_struct.accesslogs | default('true') }}"
      max-days: {{ vitamui_struct.access_retention_days | default(access_retention_days) }}
      directory: "{{ vitamui_folder_log }}"
      prefix: "accesslog-{{ vitamui_struct.vitamui_component}}"
      file-date-format: ".yyyy-MM-dd"
      suffix: ".log"

management:
  server:
    address: {{ ip_admin }}
    port: {{ vitamui_struct.port_admin }}
    ssl:
      enabled: false

{% if opentracing.jaeger.enabled | default(false) | bool %}
opentracing:
  jaeger:
    enabled: {{ opentracing.jaeger.enabled }}
    logSpans: {{ opentracing.jaeger.log_spans }}
    expandExceptionLogs: {{ opentracing.jaeger.expand_exception_logs }}
    udp-sender:
      host: {{ opentracing.jaeger.udp_sender.host }}
      port: {{ opentracing.jaeger.udp_sender.port }}
{% endif %}
