<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title th:text="#{screen.accountbadconfiguration.heading}">Account bad configuration View</title>
</head>
<body>


<div layout:fragment="content" class="col">
  <div class="Text-large-bold" th:text="#{screen.accountbadconfiguration.heading}">
    This account has not properly configured.
  </div>
  <div class="Text-medium margin-top-10"
       th:text="#{screen.accountbadconfiguration.message(${@environment.getProperty('theme.vitamui-platform-name')})}">
    Please contact the system administrator to regain access.
  </div>
</div>


</body>
</html>
