<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta charset="UTF-8"/>
    <title th:text="${@environment.getProperty('theme.vitamui-platform-name')}">VITAM-UI</title>

    <link rel="icon" type="image/x-icon" th:href="${vitamuiFavicon} ? 'data:image/png;base64,' + ${vitamuiFavicon} : @{/images/favicon.ico}">
    <link th:href="@{/css/cas.css}" rel="stylesheet"/>

    <script type="text/javascript" th:src="@{#{webjars.jquerymin.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.jqueryui.js}}"></script>
    <script src="//www.google.com/recaptcha/api.js" async defer th:if="${recaptchaSiteKey}"></script>
</head>
<body th:styleappend="${@environment.getProperty('theme.body.style')}">

	<div class="login">
    </div>
    <div class="centered">
        <div class="flex-justify-end-margin">
            <img th:src="${vitamLogo} ? 'data:image/png;base64,' + ${vitamLogo} : @{/images/vitam-logo.png}">
        </div>
        <div class="login-box login-padding  step-email">
        <div>
            <img th:src="${vitamuiLargeLogo} ? 'data:image/png;base64,' + ${vitamuiLargeLogo} : @{/images/vitamui-logo-large.png}">
        </div>

        <div class="alert alert-success">
            <h4 th:utext="#{screen.logout.header}">Logout successful</h4>
            <div class="text large medium" th:utext="#{screen.logout.success}">You have successfully logged out of the Central Authentication
                Service. You may <a th:href="@{/login}">log in</a> again.</div>
            <div class="text large medium" th:utext="#{screen.logout.security}">For security reasons, exit your web browser.</div>
        </div>
        </div>
    </div>

</body>
</html>
