<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta charset="UTF-8"/>
    <title>Vitam-UI</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link th:href="@{/css/cas.css}" rel="stylesheet"/>

    <script type="text/javascript" th:src="@{#{webjars.zxcvbn.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.jquerymin.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.jqueryui.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.jquerycookie.js}}"></script>
    <script src="//www.google.com/recaptcha/api.js" async defer th:if="${recaptchaSiteKey}"></script>
    <script th:src="@{#{webjars.bootstrapmin.js}}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/

        var trackGeoLocation = /*[[${trackGeoLocation}]]*/ === "true";

        var googleAnalyticsTrackingId = /*[[${googleAnalyticsTrackingId}]]*/;

        if (googleAnalyticsTrackingId != null && googleAnalyticsTrackingId != '') {
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', googleAnalyticsTrackingId, 'auto');
            ga('send', 'pageview');
        }

        /*]]>*/
    </script>
</head>
<body th:styleappend="${@environment.getProperty('theme.body.style')}">

    <div class="login">
    </div>

    <div class="login-box step-password">
        <header>
            <img class="vitam-logo" th:src=" ${vitamLogo} ? 'data:image/png;base64,' + ${vitamLogo} : @{/images/vitam-logo.png} ">
            <h1><img th:src="${vitamuiLargeLogo} ? 'data:image/png;base64,' + ${vitamuiLargeLogo} : @{/images/vitamui-logo-large.png}"></h1>
	        <p>
	        	<span th:if="${!#strings.isEmpty(superUser)}">
	            Bon retour parmi nous [[${superUser}]] !<br>
                </span>
	        	<span th:if="${#strings.isEmpty(superUser)}">
	            Bon retour parmi nous [[${credential.username}]] !<br>
                </span>
	            <br>
	            Veuillez saisir votre <strong>mot de passe *</strong>
	            <form th:if="${passwordManagementEnabled}" method="post" id="passwordManagementForm">
			        <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
			        <input type="hidden" name="_eventId" value="resetPassword"/>
			        <span class="fa fa-unlock"></span>
	            	<small>Vous avez oubliez votre <strong>mot de passe</strong> ? Demandez moi de vous <a href="javascript:void(0)" onclick="$('#passwordManagementForm').submit();">créer un nouveau mot de passe</a>.</small>
			    </form>
	        </p>
        </header>

    	<form method="post" id="fm1" th:object="${credential}" action="login">
            <div class="form-control">

                <input class="required"
                    type="password"
                    name="password" placeholder="Mot de passe *"
                       autofocus
                    id="password"
                    size="25"
                    tabindex="2"
                    th:accesskey="#{screen.welcome.label.password.accesskey}"
                    th:field="*{password}"
                    autocomplete="off"/>
                <span id="capslock-on" style="display:none;">
                    <p>
                        <i class="fa fa-exclamation-circle"></i>
                        <span th:utext="#{screen.capslock.on}"/>
                    </p>
                </span>

                <input th:if="${param.doChangePassword != null}" type="hidden" name="doChangePassword" id="doChangePassword" value="true" />

                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                <input type="hidden" name="_eventId" value="submit"/>

            </div>
            <button type="submit" class="vitamui-primary" accesskey="l" th:value="#{screen.welcome.button.login}" tabindex="6">
            	OK
            </button>
        </form>

		<button class="back" type="button" th:onclick="|location.href = '@{/login(service=${serviceUrl})}';|">
			<i class="material-icons">arrow_back</i> Retour
	    </button>
    </div>

</body>
</html>
