<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta charset="UTF-8"/>
    <title th:text="${@environment.getProperty('theme.vitamui-platform-name')}">VITAM-UI</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon"
          th:href="${application.vitamuiFavicon} ? 'data:image/png;base64,' + ${application.vitamuiFavicon} : @{/images/favicon.ico}"/>
    <link th:href="@{/css/cas.css}" rel="stylesheet"/>

    <script type="text/javascript" th:src="@{#{webjars.zxcvbn.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.jquerymin.js}}"></script>
    <script type="text/javascript" th:src="@{#{webjars.jqueryui.js}}"></script>
    <script src="//www.google.com/recaptcha/api.js" async defer th:if="${recaptchaSiteKey}"></script>
</head>
<body th:styleappend="${@environment.getProperty('theme.body.style')}">

<div class="login">
</div>

<div class="centered">
    <div class="flex-justify-content-center">
        <img
            th:src="${application.vitamuiLargeLogo} ? 'data:image/png;base64,' + ${application.vitamuiLargeLogo} : @{/images/vitamui-logo-large.png}">
    </div>
    <div class="login-box login-padding step-password">
        <div>
            <h5 th:if="${!#strings.isEmpty(superUser)}">
                Bon retour parmi nous [[${superUser}]] !
            </h5>

            <h5 th:if="${#strings.isEmpty(superUser)}"
                th:text="#{cas.authentication.welcomeback.msg (${credential.username})}">
                Bon retour parmi nous [[${credential.username}]] !<br>
            </h5>
        </div>
        <div class="marging-top-form line-height-medium">
            <div class="text medium bold" th:text="#{cas.authentication.password.input}"> Veuillez saisir votre mot de
                passe <span class="text-red">*</span></div>
            <div>
                <form th:if="${passwordManagementEnabled}" method="post" id="passwordManagementForm">
                    <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                    <input type="hidden" name="_eventId" value="resetPassword"/>
                    <span class="fa fa-unlock"></span>
                    <div>
                        <div class="text medium" th:text="#{cas.authentication.password.forgot}">Vous avez oublié votre
                            mot de passe ?
                        </div>
                        <a class="flex-justify-content-center" href="javascript:void(0)"
                           onclick="$('#passwordManagementForm').submit();"
                           th:text="#{cas.authentication.password.create}">
                            CRÉER UN NOUVEAU MOT DE PASSE.</a>
                    </div>
                </form>
            </div>
        </div>

        <form class="marging-top-form" method="post" id="fm1" th:object="${credential}" action="login">
            <div class="form-control">

                <input class="required"
                       type="password"
                       name="password"
                       th:placeholder="#{cas.authentication.password.placeholder}"
                       autofocus
                       id="password"
                       size="25"
                       tabindex="2"
                       th:accesskey="#{screen.welcome.label.password.accesskey}"
                       th:field="*{password}"
                       autocomplete="off"/>
                <span id="capslock-on" style="display:none;">
                    <p>
                        <i class="fa fa-exclamation-circle"></i>
                        <span th:text="#{screen.capslock.on}"/>
                    </p>
                </span>

                <input th:if="${param.doChangePassword != null}" type="hidden" name="doChangePassword"
                       id="doChangePassword" value="true"/>

                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                <input type="hidden" name="_eventId" value="submit"/>

            </div>
            <button type="submit" class="vitamui-primary" accesskey="l" th:value="#{screen.welcome.button.login}"
                    tabindex="6">
                OK
            </button>
        </form>

        <button class="back" type="button" th:urlToUse="@{/login(service=${serviceUrl})}"
                th:onclick="window.location.href=sanitizeUrl(this.getAttribute('urlToUse'))"
        >
            <i class="material-icons">chevron_left</i> <span th:text="#{cas.welcome.button.back}">RETOUR</span>
        </button>
    </div>
</div>


<script>
    function sanitizeUrl(inputUrl) {
        let ESC_MAP = {
            '&': '&amp;',
            '<': '&lt;',
            '>': '&gt;',
            '"': '&quot;',
            "'": '&#39;'
        };
        return inputUrl.replace(true ? /[&<>'"]/g : /[&<>]/g, function (c) {
            return ESC_MAP[c];
        });
    }
</script>
</body>
</html>
