<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title th:text="#{screen.mfa.sms.missingphone.pagetitle}"></title>
</head>

<body id="cas" th:styleappend="${@environment.getProperty('theme.body.style')}">
<div layout:fragment="content">

    <div class="mfa-missing-phone">

        <h4 th:utext="#{screen.mfa.sms.missingphone.title}"></h4>

        <div class="text large" th:utext="#{screen.mfa.sms.missingphone.text1(${firstname})}"></div>

        <div class="text2 text medium marging-top-form margin-bottom-form" th:utext="#{screen.mfa.sms.missingphone.text2}"></div>

    </div>

</div>
</body>
</html>
