<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title th:text="${@environment.getProperty('theme.vitamui-platform-name')}">VITAM-UI</title>
</head>
<body>


<div layout:fragment="content" class="col">

    <div class="step-subrogation col" th:if="${!#strings.isEmpty(surrogateEmail)}">
      <div class="Text-large-bold">
        Subrogation
      </div>
      <!--suppress XmlDuplicatedId -->
      <form id="main-form" class="margin-top-10" method="post" th:object="${credential}" action="login">
        <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
        <input type="hidden" name="_eventId" value="submit"/>
          <!--suppress XmlDuplicatedId -->
          <input type="hidden" id="username" name="username" th:value="_ignored"/>

          <div class="form-line">
          <div class="Text-medium-bold" th:text="#{screen.welcome.label.surrogate}">Subrogé :</div>&nbsp;
          <div class="Text-medium" th:text="${surrogateEmail + ' (' + surrogateCustomerCode + ' - ' + surrogateCustomerName + ')' }">admin@programmevitam.fr (code - nom d'orga)</div>
        </div>
        <div class="form-line">
          <div class="Text-medium-bold" th:text="#{screen.welcome.label.superuser}">Super utilisateur :</div>&nbsp;
          <div class="Text-medium" th:text="${loginEmail}">superadmin@programmevitam.fr</div>
        </div>
      </form>
    </div>


    <div class="step-email col" th:if="${#strings.isEmpty(surrogateEmail)}">
      <div class="Headline-3" th:text="#{cas.welcome.header.msg}">
        Bienvenue
      </div>
      <div class="Text-large-bold margin-top-20"
           th:text="#{cas.authentication.email.input}">
        Veuillez saisir votre adresse e-mail
      </div>
      <div class="Text-medium Grey-600 row margin-top-5"
           th:text="#{cas.authentication.email.forgot}">
        Vous avez oublié votre identifiant ?&nbsp;Contactez votre administrateur.
      </div>
      <!--suppress XmlDuplicatedId -->
      <form id="main-form" class="margin-top-10" method="post" th:object="${credential}" action="login">
        <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
        <input type="hidden" name="_eventId" value="submit"/>
        <div class="form-line">
          <!--suppress XmlDuplicatedId -->
          <input id="username"
                 type="text"
                 name="email"
                 autofocus
                 size="25"
                 tabindex="1"
                 autocomplete="off"
                 required
                 th:disabled="${guaEnabled}"
                 th:accesskey="#{screen.welcome.label.netid.accesskey}"
                 th:field="*{username}"
          />
          <label for="username" th:text="#{cas.authentication.email.placeholder}">
            Adresse e-mail *
          </label>
        </div>
        <div class="warning Caption" th:if="${#fields.hasErrors('*')}">
          <i class="vitamui-icon vitamui-icon-anomalie"></i>
          <div class="col">
            <div class="element" th:each="err : ${#fields.errors('*')}" th:text="${err}">
              Exemple d'erreur
            </div>
          </div>
        </div>
        <input th:if="${param.doChangePassword != null}" type="hidden" name="doChangePassword" id="doChangePassword"
               value="true"/>
      </form>
    </div>

  <div th:if="${logoutUrls}">
    <div th:each="entry : ${logoutUrls}">
      <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $.ajax({
          url: [[${entry.key.logoutUrl.toExternalForm()}]],
          dataType: 'jsonp',
          async: true,
          contentType: [[${entry.value.contentType}]]
          , data: [[${entry.value.message}]]
          , success: function (data) {
          },
          error: function (err, textStatus, errorThrown) {
          }
        });
        /*]]>*/
      </script>
    </div>
  </div>

  <!--/*-->
  Special syntax to inject "providedUserName" variable.
  See https://stackoverflow.com/a/25688291/106971
  <!--*/-->
  <script th:inline="javascript" th:if="${!#strings.isEmpty(providedUsername)}">
    var providedUsername = /*[[${providedUsername}]]*/ "";
    $(document).ready(function() {
      $('#username').val(providedUsername);
    });
  </script>
  <script>
    hiddeMainFormReturnButton();
    displayMainFormSubmitButton();
    $('#main-form').submit(function () {
      $(this).find('#username').each(function () {
        $(this).val($.trim($(this).val()));
      });
    });
  </script>
</div>


</body>
</html>
