<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title th:text="${@environment.getProperty('theme.vitamui-platform-name')}">VITAM-UI</title>
</head>
<body>


<div layout:fragment="content" class="step-password">
  <div class="Text-large-bold"
       th:text="#{cas.authentication.password.input}">
    Veuillez saisir votre mot de passe
  </div>
  <div class="message">
    <div class="Text-medium Grey-600 row margin-top-5"
         th:text="#{cas.authentication.password.forgot}">
      Vous avez oublié votre mot de passe ?&nbsp;
    </div>
    <form th:if="${passwordManagementEnabled}" method="post" id="passwordManagementForm">
      <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
      <input type="hidden" name="_eventId" value="resetPassword"/>
      <a href="javascript:void(0)"
         onclick="$('#passwordManagementForm').submit();"
         th:text="#{cas.authentication.password.create}">
        Créez un nouveau mot de passe
      </a>
    </form>
  </div>

  <form id="main-form" method="post" th:object="${credential}" action="login" class="margin-top-20">
    <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
    <input type="hidden" name="_eventId" value="submit"/>
    <div class="form-line">
      <input id="password"
             type="password"
             name="password"
             autofocus
             size="25"
             tabindex="1"
             autocomplete="off"
             required
             th:accesskey="#{screen.welcome.label.password.accesskey}"
             th:field="*{password}"
      />
      <label for="password" th:text="#{cas.authentication.password.placeholder}">
        Mot de passe *
      </label>
      <input th:if="${param.doChangePassword != null}"
             type="hidden" name="doChangePassword" id="doChangePassword" value="true"/>
    </div>
    <div id="capslock-on" class="warning Text-normal-bold" style="display: none;">
      <i class="vitamui-icon vitamui-icon-anomalie"></i>
      <span th:text="#{screen.capslock.on}">CAPSLOCK ON</span>
    </div>
  </form>
  <script>
    resourceLoadedSuccessfully();
    displayMainFormSubmitButton();
  </script>
</div>


</body>
</html>
