<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    @if (openedItem) {
      <app-probative-value-preview [probativeValue]="openedItem" (previewClose)="closePanel()"></app-probative-value-preview>
    }
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-title-breadcrumb>
        <h5>{{ 'PROBATIVE_VALUE.HOME.TITLE' | translate }}</h5>
      </vitamui-title-breadcrumb>

      <vitamui-banner [searchbarPlaceholder]="'PROBATIVE_VALUE.HOME.SEARCH_PLACEHOLDER' | translate" (search)="onSearchSubmit($event)">
        <button class="btn primary mr-3" (click)="openCreateProbativeValueDialog()">
          <span>{{ 'PROBATIVE_VALUE.HOME.GENERATE_VALUE' | translate }}</span>
        </button>
      </vitamui-banner>

      <form [formGroup]="dateRangeFilterForm" class="d-flex align-items-center mt-4 px-2 hgap-3">
        <vitamui-datepicker
          formControlName="startDate"
          [label]="'PROBATIVE_VALUE.HOME.START_DATE' | translate"
          [max]="dateRangeFilterForm.get('endDate')?.value"
          outputType="Date"
          format="yyyy-MM-dd"
        ></vitamui-datepicker>
        <vitamui-datepicker
          formControlName="endDate"
          [label]="'PROBATIVE_VALUE.HOME.END_DATE' | translate"
          [min]="dateRangeFilterForm.get('startDate')?.value"
          outputType="Date"
          format="yyyy-MM-dd"
        ></vitamui-datepicker>
      </form>
    </div>

    <div class="vitamui-content">
      <app-probative-value-list
        (probativeValueClick)="showProbativeValue($event)"
        [search]="search"
        [filters]="filters"
      ></app-probative-value-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
