<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    <app-logbook-management-operation-preview
      *ngIf="openedItem"
      (previewClose)="closePanel()"
      [operation]="openedItem"
      [tenantIdentifier]="tenantIdentifier"
      [tenant]="tenant"
    ></app-logbook-management-operation-preview>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-common-title-breadcrumb>
        {{ 'LOGBOOK_OPERATION_PAGE.TITLE' | translate }}
      </vitamui-common-title-breadcrumb>
      <vitamui-common-banner [searchbarPlaceholder]="'LOGBOOK_OPERATION_PAGE.SEARCH' | translate" (search)="onSearchSubmit($event)">
        <button
          class="btn secondary"
          (click)="refresh()"
          matTooltip="{{ 'LOGBOOK_OPERATION_PAGE.ToolTip_Refresh' | translate }}"
          matTooltipClass="vitamui-tooltip"
        >
          <i class="vitamui-icon vitamui-icon-refresh"></i>
          <span>{{ 'LOGBOOK_OPERATION_PAGE.REFRESH' | translate }}</span>
        </button>
      </vitamui-common-banner>

      <form [formGroup]="dateRangeFilterForm" [ngStyle]="{ padding: '10px' }">
        <div class="row row-data">
          <div class="col-10">
            <div class="row">
              <div class="col-2 filter-text">
                <span>{{ 'LOGBOOK_OPERATION_PAGE.FILTER_BY_DATE' | translate }}</span>
              </div>

              <div class="col-2">
                <div class="date-filter">
                  <span *ngIf="!dateRangeFilterForm.get('startDateMin').value; else showStartDateMin" (click)="pickerStart.open()">{{
                    'LOGBOOK_OPERATION_PAGE.OPERATION_DATE' | translate
                  }}</span>
                  <ng-template #showStartDateMin>
                    <span (click)="pickerStart.open()">
                      {{ dateRangeFilterForm.get('startDateMin').value | appendZIfNoTimezone | date: 'dd/MM/yyyy' }}</span
                    >
                    <i class="material-icons clear-date-icon clickable" (click)="clearDate('startDateMin')">clear</i>
                  </ng-template>
                  <input
                    class="hidden"
                    size="0"
                    [matDatepicker]="pickerStart"
                    formControlName="startDateMin"
                    [max]="dateRangeFilterForm.get('startDateMax').value"
                  />
                  <mat-datepicker #pickerStart></mat-datepicker>
                </div>
              </div>

              <div class="col-1 filter-text" *ngIf="showStartDateMax" [ngStyle]="{ flex: '0 5%' }">
                <span>{{ 'LOGBOOK_OPERATION_PAGE.AND' | translate }}</span>
              </div>

              <div class="col-2 filter-text" *ngIf="!showStartDateMax" (click)="showIntervalDate(true)">
                <span class="clickable" [ngStyle]="{ color: '#9c31b5' }">{{ 'LOGBOOK_OPERATION_PAGE.ADD_INTREVAL' | translate }} </span>
              </div>

              <div class="col-2" *ngIf="showStartDateMax">
                <div class="date-filter">
                  <span *ngIf="!dateRangeFilterForm.get('startDateMax').value; else showstartDateMax" (click)="pickerEnd.open()">{{
                    'LOGBOOK_OPERATION_PAGE.OPERATION_DATE' | translate
                  }}</span>
                  <ng-template #showstartDateMax
                    ><span (click)="pickerEnd.open()"
                      >{{ dateRangeFilterForm.get('startDateMax').value | appendZIfNoTimezone | date: 'dd/MM/yyyy' }}
                    </span>
                    <i class="material-icons clear-date-icon clickable" (click)="clearDate('startDateMax')">clear</i>
                  </ng-template>
                  <input
                    class="hidden"
                    size="0"
                    [matDatepicker]="pickerEnd"
                    formControlName="startDateMax"
                    [min]="dateRangeFilterForm.get('startDateMin').value"
                  />
                  <mat-datepicker #pickerEnd></mat-datepicker>
                </div>
              </div>

              <div class="col-2 filter-text" *ngIf="showStartDateMax" (click)="showIntervalDate(false)">
                <span class="clickable" [ngStyle]="{ color: '#9c31b5' }">{{ 'LOGBOOK_OPERATION_PAGE.DELETE_INTERVAL' | translate }}</span>
              </div>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </form>
    </div>

    <div class="vitamui-content logbook-list">
      <app-logbook-management-operation-list (operationClick)="showOperation($event)"></app-logbook-management-operation-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
