.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.display-block {
  display: block;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}
