.flex-align-center {
    display: flex;
    align-items: center;
}
.flex-justify-end-margin {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
}

.login-padding {
    padding: 48px 80px;
}
.login-marging {
    margin: 120px auto;
}

.marging-top-form {
    margin-top: 2rem;
}
.text-red {
    color: $red;
}

.centered {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-box {
position: relative;
display: block;
box-sizing: border-box;
width: 800px;
@include vitamui-modal;




h1 {
    @include login-title;
}

header p {
    margin-bottom: 0px;
}

p {
    @include login-text-1;
    line-height: 30px;

    small {
        @include login-text-2;
        font-weight: 400;
    }
}

strong {
    font-weight: 500;
}

a {
    @include login-link;
    text-decoration: underline;
}

input[type=text],
input[type=email],
input[type=password] {
    border: none;
    outline: none;
    border-radius: 25px;
    box-shadow: 0 0 20px 0 rgba(169, 169, 169, 0.3);
    transition: border-color 200ms ease-out;
    height: 50px;
    padding: 0 30px;
    border: 1px solid transparent;

    &:focus {
        border-color: $greyish-two;
    }

    &.ng-valid.ng-touched {
        border-color: $green;
    }

    &.ng-invalid.ng-touched {
        border-color: $red;
    }

    &[disabled] {
        opacity: 0.4;
    }
}

.form-error {
    @include login-error;

    i {
        font-size: 36px;
        vertical-align: middle;
        margin-right: 10px;
    }
}

button.vitamui-primary {
    @include button-primary;
    border: none;
    height: 50px;
    border-radius: 25px;
    background-color: var(--vitamui-primary);
    box-shadow: 20px 20px 40px 0 rgba(214, 208, 208, 0.5);
    padding: 0 30px;
    transition: opacity 200ms ease-in-out;
    border: 1px solid var(--vitamui-primary);



    &:focus:not([disabled]),
    &:hover:not([disabled]) {
        cursor: pointer;
        opacity: 85%;
        outline: none;
    }

    &[disabled] {
        opacity: 0.4;
    }
}

.helper {
    @include login-helper;
    text-align: right;
    transition: opacity 200ms ease-in-out;
    margin: 0;

    &.hidden {
        opacity: 0;
    }
}

button.back {
    display: flex;
    align-items: center;
    background: transparent;
    color: var(--vitamui-primary);
    font-size: 14px;
    font-weight: normal;
    border: none;
    padding: 0;
    margin-top: 40px;
    cursor: pointer;

    i {
        display: block;
        font-size: 18px;
        color: white;
        background-color: var(--vitamui-primary);
        width: 30px;
        height: 30px;
        border-radius: 15px;
        line-height: 30px;
        margin-right: 10px;
    }
}

.error {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.error-field {
  color : red;
  margin-left: 20px;
}
}

.login {

position: fixed;
height: 100%;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: var(--vitamui-background);

.success {
    padding: 0;
    height: 440px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: $white url('../images/success.jpg') no-repeat left center;

    .content {
        width: 60%;
        padding: 0 15%;
        text-align: center;

        i.check-icon {
            color: var(--vitamui-primary);
            font-size: 110px;
        }
    }

    h1 {
        line-height: 36px;
    }

    img.logo {
        position: absolute;
        width: 88px;
        right: 30px;
        bottom: 30px;
    }
}

.bg-success {
    background-image: url('../images/success-bg.jpg');
}

.bg-portal {
    background-image: url('./images/portal-bg.jpg');
}
}
