.mfa-login {

    .error {
        width: 280px;
    }

    .text1 {
        font-size: 20px;
        font-weight: 300;
    }

    .text2 {
        width: 456px;
        font-size: 15px;
        font-weight: normal;
        color: $greyish-two;
        line-height: 1.33;
    }

    #loginForm {
        clear: both;
    }
    #resendCodeForm {
        clear: both;
    }
    .missingphone {
        clear: both;
    }

    .textfield {
        float: left;

        #token {
            width: 300px;
            height: 87px;
            border-radius: 10px;
            box-shadow: 0 0 20px 0 rgba(169, 169, 169, 0.3);
            background-color: $white;
            border: solid 1px #f0f0f0;
        }
    }
    .information {
        margin-bottom: 33px;

        .bckicon {
            float: left;
            margin-right: 10px;
            margin-top: 7px;

            .icon {
                width: 30px;
                height: 30px;
                font-size: 18px;
                color: var(--vitamui-primary);
                background-color: $white;
                border-color: var(--vitamui-primary);
                border-radius: 15px;
                border-style: solid;
                border-width: 1px;
                padding: 0 10px;
            }
        }
    }
    .formfields {
        width: 100%;
    }
    .buttonbckgrnd {

        width: 80px;
        height: 50px;
        float: left;
        margin-left: 30px;
        margin-top: 36px;
        margin-right: 20px;

        .submittoken {
            width: 80px;
            height: 50px;
            border-radius: 50px;
            background-color: var(--vitamui-secondary);
            box-shadow: 20px 20px 40px 0 rgba(214, 208, 208, 0.5);
            text-align: center;
            padding: 15px 30px;
            transition: opacity 200ms ease-in-out;
            border: 1px solid var(--vitamui-secondary);

            font-size: 15px;
            font-weight: 500;
            color: $white;
            text-decoration: none;

            &:focus:not([disabled]),
            &:hover:not([disabled]) {
                cursor: pointer;
                opacity: 85%;
                outline: none;
            }

            &[disabled] {
                opacity: 0.4;
            }
        }

    }
    .countdown {
        font-size: 15px;
        font-weight: normal;
        color: $cool-grey;
        margin-top: 18px;
        width: 150px;
        float: left;
    }
    .text3 {
        font-size: 15px;
        font-weight: normal;
        color: $cool-grey;
    }
    .reset1 {
        font-size: 15px;
        font-weight: normal;
        color: $greyish-two
    }
    .reset2 {
        margin-left: 5px;
        font-size: 15px;
        font-weight: normal;
    }
}

.mfa-expired {

    .text1 {
        font-size: 20px;
        font-weight: 300;
    }

    #resendCodeForm {
        font-size: 15px;
        font-weight: 500;

        .button {

            height: 50px;

            border-radius: 50px;
            background-color: var(--vitamui-secondary);
            box-shadow: 20px 20px 40px 0 rgba(214, 208, 208, 0.5);
            padding: 15px 30px;
            transition: opacity 200ms ease-in-out;
            border: 1px solid var(--vitamui-secondary);
            font-size: 15px;
            font-weight: 500;
            color: $white;
            text-decoration: none;

            &:focus:not([disabled]),
            &:hover:not([disabled]) {
                cursor: pointer;
                opacity: 85%;
                outline: none;
            }

            &[disabled] {
                opacity: 0.4;
            }
        }
    }
}

.mfa-missing-phone {

    .title {
        font-size: 20px;
        font-weight: 500;
    }

    .text1 {
        font-size: 20px;
        font-weight: 300;
    }

    .text2 {
        font-size: 15px;
        font-weight: normal;
        color: $greyish-two;
    }
}
