.password-init {

    display: block !important;
}

.w85 {

    width: 84%;
}

.flex {

    display: flex;
}

.password-recovery {

    display: flex;

    form {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        .form-control {
            flex-grow: 1;

            input {
                width: 100%;
            }
        }
    }

    .instructions {
		width: 80%;
    }

    i.check-icon {
        color: var(--vitamui-secondary);
        font-size: 110px;
    }

    .cancel-link {
        @include login-helper;
        text-decoration: underline;
        margin-left: 40px;
    }

    button[type=submit] {
        margin-left: 30px;
    }
}

.helper.password-helper {
    text-align: left;
    margin-top: 5px;

    ul {
        padding-left: 1em;

        li {
            i {
                opacity: 0;
                transition: opacity 100ms ease-out;
                vertical-align: middle;
            }

            &.valid {
                color: var(--vitamui-secondary);

                i {
                    opacity: 1;
                }
            }
        }
    }
}
