.step-password {

    h1 {
        margin-bottom: 40px;
    }

    h1 img {
        vertical-align: middle;
    }

    .vitam-logo {
        position: absolute;
        top: 30px;
        right: 30px;
    }

    form {
        display: flex;

        .form-control {
            flex-grow: 1;

            input {
                width: 100%;
                margin-bottom: 30px;
            }
        }

        button[type=submit] {
            margin-left: 20px;
        }
    }

    i.check-icon {
        float: right;
        color: var(--vitamui-primary);
        font-size: 110px;
        margin-left: 60px;
    }
}
