.step-password-reset {
  flex-direction: column;

  .password-helper {
    flex-direction: column;

    .password-helper-line {
      flex-direction: row;

      i {
        display: none;
      }

      &.valid {
        color: $green;

        i {
          display: flex;
        }
      }
    }

    ul {
      padding: 0 0 0 10px;
      margin: 0 0 0 20px;
      list-style-type: disc;

      li {
        padding-left: 10px;

        i {
          opacity: 0;
          transition: opacity 100ms ease-out;
          vertical-align: middle;
        }

      }
    }
  }
}
