.step-email {
  flex-direction: column;

  .vitam-logo {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  form {
    margin-bottom: 15px;

    button[type=submit] {
      margin-left: 20px;
    }
  }
}
