
h1, h2, h3, h4, h5 {
  color: $grey-900;
  margin: 10px 0;

  &.light {
    color: $grey-600;
  }
}

h1, .Headline-1 {
  font-size: 96px;
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  line-height: 112px
}

h2, .Headline-2 {
  font-size: 60px;
  font-family: 'Mulish', sans-serif;
  font-weight: 900;
  line-height: 72px
}

h3, .Headline-3 {
  font-size: 42px;
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  line-height: 56px
}

h4, .Headline-4 {
  font-size: 30px;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  line-height: 36px
}

h5, .Headline-5 {
  font-size: 24px;
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  line-height: 32px
}

.Text-large {
  font-size: 20px;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  line-height: 28px
}

.Text-large {
  font-size: 20px;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  line-height: 28px
}

.Text-large-bold {
  font-size: 20px;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  line-height: 28px
}

.Text-medium {
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  line-height: 24px
}

.Text-medium-bold {
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  line-height: 24px
}

.Text-normal {
  font-size: 14px;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  line-height: 22px
}

.Text-normal-bold {
  font-size: 14px;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  line-height: 22px
}

.Caption {
  font-size: 12px;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  line-height: 16px
}

.Caption-bold {
  font-size: 12px;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  line-height: 16px
}

.Subcaption {
  font-size: 9px;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  line-height: 13px
}
