<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <vitamui-slide-toggle formControlName="masterMandatory" class="w-100 p-0">
    <span>{{ 'INGEST_CONTRACT.TAB.OBJECTS.BINARY_MANDATORY' | translate }}</span>
  </vitamui-slide-toggle>

  <vitamui-slide-toggle formControlName="everyDataObjectVersion" class="w-100 p-0">
    <span>{{ 'INGEST_CONTRACT.TAB.OBJECTS.ALL_USAGES' | translate }}</span>
  </vitamui-slide-toggle>

  @if (!form?.controls.everyDataObjectVersion?.value) {
    <div class="py-3">
      @if (!form?.controls.everyDataObjectVersion?.value) {
        <vitamui-select
          [multiple]="true"
          formControlName="dataObjectVersion"
          [placeholder]="'INGEST_CONTRACT.TAB.OBJECTS.SELECT_FORMAT' | translate"
          [options]="usages"
          [enableSearch]="false"
          [enableSelectAll]="false"
          [enableDisplaySelected]="false"
        >
        </vitamui-select>
      }
    </div>
  }

  <button type="submit" class="btn primary mt-4" [disabled]="isInvalid() || unchanged() || submited">
    {{ 'COMMON.SAVE' | translate }}
  </button>
</form>
