@use 'spacing';

:host {
  @extend .gap-6;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0 !important;
  @extend .hgap-3;
}
.color {
  width: auto;
  height: 150px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.border {
    border: 1px solid black;
  }
}
.shade {
  width: 80px;
  height: 80px;
  border-radius: 4px;
}

.shade-text {
  text-align: center;
  margin-top: 0.5rem;
}

p ::ng-deep code {
  white-space: nowrap;
  background: var(--vitamui-grey-300);
}
