.header {
    padding: 20px 50px 0;
}

.content {
    padding: 0px 40px 30px 40px;
}

h2 {
    margin-bottom: 30px;
}

label {
    color: var(--vitamui-grey-800);
    font-size: 15px;
    line-height: normal;
    margin-bottom: 10px;
    display: block;

    .required-marker {
        color: var(--vitamui-primary);
    }

    small {
        color: var(--vitamui-grey-300);
        font-size: inherit;
    }
}

.vitamui-mat-select {
    width: 240px;
}

.font-weight-bold {
    font-weight: bold;
}