<vitamui-dialog-header
  [stepper]="stepper"
  [subhead]="stepper.selectedIndex === 0 ? '' : ('CUSTOMER.HOME.CREATE_TITLE' | translate)"
  [title]="[
    'CUSTOMER.HOME.CREATE_TITLE' | translate,
    'CUSTOMER.INFORMATIONS.MODAL.ACCESS_TITLE' | translate,
    '',
    '',
    'CUSTOMER.OWNER.CREATE.TITLE' | translate: { name: customerInfo.name },
    'CUSTOMER.OWNER.MODAL.SAFE_TITLE' | translate: { name: getOwnerName() },
  ]"
></vitamui-dialog-header>

<form [formGroup]="form" (ngSubmit)="onSubmit()" id="formCreateCustomer">
  <vitamui-stepper #stepper (selectionChange)="stepIndex = $event.selectedIndex">
    <cdk-step>
      <mat-dialog-content class="gap-3 align-items-stretch">
        <vitamui-input
          class="col-6 pl-0"
          formControlName="code"
          [placeholder]="'CUSTOMER.INFORMATIONS.CODE' | translate"
          [errorMessageMap]="{
            pattern: 'COMMON.ERROR.WRONG_FORMAT' | translate,
            uniqueCode: 'CUSTOMER.INFORMATIONS.MODAL.CODE_ALREADY_EXIST' | translate,
          }"
        >
        </vitamui-input>

        <div class="d-flex">
          <vitamui-input class="col-6 pl-0" formControlName="name" [placeholder]="'CUSTOMER.INFORMATIONS.NAME' | translate">
          </vitamui-input>
          <vitamui-input class="col-6" formControlName="companyName" [placeholder]="'CUSTOMER.INFORMATIONS.SOCIAL_REASON' | translate">
          </vitamui-input>
        </div>

        <ng-container formGroupName="address">
          <vitamui-input class="col-12 pl-0" formControlName="street" [placeholder]="'COMMON.ADRESS.STREET' | translate"> </vitamui-input>

          <div class="d-flex">
            <vitamui-input class="col-4 pl-0" formControlName="zipCode" [placeholder]="'COMMON.ADRESS.ZIPCODE' | translate">
            </vitamui-input>

            <vitamui-input class="col-4" formControlName="city" [placeholder]="'COMMON.ADRESS.CITY' | translate"> </vitamui-input>

            <vitamui-select
              class="col-4"
              formControlName="country"
              [placeholder]="'COMMON.ADRESS.COUNTRY' | translate"
              [options]="countries"
              [enableSearch]="false"
            ></vitamui-select>
          </div>
        </ng-container>

        <vitamui-input class="col-12 pl-0" formControlName="internalCode" [placeholder]="'CUSTOMER.INFORMATIONS.INTERNAL_CODE' | translate">
        </vitamui-input>

        <div class="d-flex">
          <label for="alerte" class="inline-label label-alerte">
            Alerte pour les utilisateurs inactifs <span class="required-marker">*</span><br />
          </label>
          <vitamui-slide-toggle formControlName="gdprAlert" [disabled]="gdprReadOnlyStatus"></vitamui-slide-toggle>
          <label for="duréealerte" class="inline-label label-alertDelay">
            Durée d'alerte sur les utilisateurs inactifs (par mois) <span class="required-marker">*</span>
          </label>
          <vitamui-input
            [disabled]="gdprReadOnlyStatus || !form.get('gdprAlert').value"
            formControlName="gdprAlertDelay"
            placeholder="Durée d'alerte"
          >
          </vitamui-input>
        </div>

        <div class="col-12 d-flex align-items-center">
          <label for="language" class="mr-4 mb-0">
            <div class="font-weight-bold">
              {{ 'CUSTOMER.INFORMATIONS.DEFAULT_LANGUAGE_1' | translate }} <span class="required-marker">*</span>
            </div>
            <div class="font-weight-bold">
              <small>{{ 'CUSTOMER.INFORMATIONS.DEFAULT_LANGUAGE_2' | translate }}</small>
            </div>
          </label>

          <vitamui-select
            formControlName="language"
            [placeholder]="'COMMON.ADRESS.COUNTRY' | translate"
            [options]="[
              { key: 'ENGLISH', label: 'COMMON.LANGUAGE.ENGLISH' | translate },
              { key: 'FRENCH', label: 'COMMON.LANGUAGE.FRENCH' | translate },
            ]"
            [enableSearch]="false"
          ></vitamui-select>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <vitamui-next-step [disabled]="firstStepInvalid()"></vitamui-next-step>
        <ng-container *ngTemplateOutlet="cancel"></ng-container>
      </mat-dialog-actions>
    </cdk-step>

    <cdk-step>
      <mat-dialog-content>
        <div class="row p-0 d-flex align-items-center">
          <div class="col">
            <div class="text medium bold">
              {{ 'CUSTOMER.INFORMATIONS.PASSWORD_DURATION_1' | translate }}
            </div>
            <div class="text normal bold light">
              <small>{{ 'CUSTOMER.INFORMATIONS.PASSWORD_DURATION_2' | translate }}</small>
            </div>
          </div>

          <vitamui-select
            class="col"
            formControlName="passwordRevocationDelay"
            [placeholder]="'CUSTOMER.INFORMATIONS.PASSWORDS_DURATION' | translate"
            [options]="[
              { key: 3, label: 'CUSTOMER.INFORMATIONS.MODAL.PWD_REVOCATION_THREE' | translate },
              { key: 6, label: 'CUSTOMER.INFORMATIONS.MODAL.PWD_REVOCATION_SIX' | translate },
              { key: 9, label: 'CUSTOMER.INFORMATIONS.MODAL.PWD_REVOCATION_NINE' | translate },
              { key: 12, label: 'CUSTOMER.INFORMATIONS.MODAL.PWD_REVOCATION_TWELVE' | translate },
            ]"
            [multiple]="false"
            [enableSearch]="false"
          ></vitamui-select>
        </div>

        <div class="col-12 p-0 mt-3">
          <div class="text medium bold">{{ 'CUSTOMER.INFORMATIONS.VALIDATIONS' | translate }} <span class="text danger">*</span></div>
          <mat-button-toggle-group formControlName="otp" #group="matButtonToggleGroup" class="vitamui-button-toggle-group mt-2">
            <mat-button-toggle value="DISABLED">{{ 'CUSTOMER.INFORMATIONS.MODAL.OTP_DISABLED' | translate }} </mat-button-toggle>
            <mat-button-toggle value="OPTIONAL">{{ 'CUSTOMER.INFORMATIONS.MODAL.OTP_OPTIONAL' | translate }} </mat-button-toggle>
            <mat-button-toggle value="MANDATORY">
              {{ 'CUSTOMER.INFORMATIONS.MODAL.OTP_MANDATORY' | translate }}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="col-12 p-0 mt-4 mb-3">
          <div class="text medium bold">
            {{ 'CUSTOMER.INFORMATIONS.MODAL.DOMAINS_RESTRICTION' | translate }}
          </div>
          <div class="mb-4 text normal bold light">{{ 'CUSTOMER.INFORMATIONS.MODAL.DOMAINS_RESTRICTION_DESC' | translate }}</div>

          <app-domains-input
            formControlName="emailDomains"
            [placeholder]="'CUSTOMER.INFORMATIONS.MODAL.DOMAINS_PLACEHOLDER' | translate"
            [selected]="form.get('defaultEmailDomain').value"
            (selectedChange)="form.get('defaultEmailDomain').setValue($event)"
          ></app-domains-input>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <div>
          <vitamui-next-step [disabled]="secondStepInvalid()"></vitamui-next-step>
          <ng-container *ngTemplateOutlet="cancel"></ng-container>
        </div>
        <vitamui-previous-step></vitamui-previous-step>
      </mat-dialog-actions>
    </cdk-step>

    <cdk-step>
      <div id="toOverride">
        <mat-dialog-content>
          <app-graphic-identity
            [customer]="customer"
            (formToSend)="customerForm = $event.form; logos = $event.logos"
          ></app-graphic-identity>
        </mat-dialog-content>
        <mat-dialog-actions>
          <div>
            <vitamui-next-step [disabled]="!thirdStepValid()"></vitamui-next-step>
            <ng-container *ngTemplateOutlet="cancel"></ng-container>
          </div>
          <vitamui-previous-step></vitamui-previous-step>
        </mat-dialog-actions>
      </div>
    </cdk-step>

    <cdk-step>
      <app-homepage-message
        [customer]="getCustomerFromForm()"
        (formToSend)="homepageMessageForm = $event.form; portalTitles = $event.portalTitles; portalMessages = $event.portalMessages"
      ></app-homepage-message>
      <mat-dialog-actions>
        <div>
          <vitamui-next-step [disabled]="!fourthStepValid()"></vitamui-next-step>
          <ng-container *ngTemplateOutlet="cancel"></ng-container>
        </div>
        <vitamui-previous-step></vitamui-previous-step>
      </mat-dialog-actions>
    </cdk-step>

    <cdk-step>
      <mat-dialog-content>
        <app-owner-form [formControl]="form.get(['owners', 0])" [customerInfo]="customerInfo"></app-owner-form>
        <p class="hint">
          {{ 'CUSTOMER.OWNER.CREATE.PROOF_ELEMENTS' | translate }}
        </p>
      </mat-dialog-content>
      <mat-dialog-actions>
        <div>
          <button
            type="button"
            class="btn primary"
            cdkStepperNext
            [disabled]="form.get(['owners', 0]).pending || form.get(['owners', 0]).invalid"
          >
            {{ 'CUSTOMER.OWNER.MODAL.ACTION_BUTTON' | translate }}
          </button>
          <ng-container *ngTemplateOutlet="cancel"></ng-container>
        </div>
        <vitamui-previous-step></vitamui-previous-step>
      </mat-dialog-actions>
    </cdk-step>

    <cdk-step>
      <mat-dialog-content class="gap-3 align-items-stretch">
        <vitamui-input
          formControlName="tenantName"
          [placeholder]="'CUSTOMER.OWNER.SAFE_NAME' | translate"
          [errorMessageMap]="{ uniqueName: 'CUSTOMER.OWNER.MODAL.NAME_ALREADY_EXIST' | translate }"
        >
        </vitamui-input>

        <vitamui-select
          formControlName="tenantId"
          [placeholder]="'CUSTOMER.OWNER.TENANT_ID' | translate"
          [options]="availableTenants"
          [multiple]="false"
          [enableSearch]="false"
        ></vitamui-select>
      </mat-dialog-content>
      <mat-dialog-actions>
        <div>
          <button type="submit" class="btn primary" [disabled]="form.pending || form.invalid || isLoading">
            {{ 'COMMON.SUBMIT' | translate }}
          </button>
          <ng-container *ngTemplateOutlet="cancel"></ng-container>
        </div>
        <vitamui-previous-step></vitamui-previous-step>
      </mat-dialog-actions>
    </cdk-step>

    <ng-template #cancel>
      <button type="button" class="btn cancel link" (click)="onCancel()">{{ 'COMMON.UNDO' | translate }}</button>
    </ng-template>
  </vitamui-stepper>
</form>
