@import "~ui-frontend-common/sass/variables/colors";

.header {
    padding: 20px 50px 0;
}

.content {
    padding: 0px 40px 30px 40px;
}

h2 {
    margin-bottom: 30px;
    color: var(--vitamui-grey-900);
}

p {
    color: var(--vitamui-grey-900);
}

label {
    color: var(--vitamui-grey-900);
    font-size: 16px;
    line-height: 24px;
    display: block;

    .required-marker {
        color: $red;
    }

    small {
        color: var(--vitamui-grey-600);
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        letter-spacing: 0.1px;
    }
}

.vitamui-mat-select {
    width: 240px;
}

.font-weight-bold {
    font-weight: bold;
}
