<div class="row no-gutters">
  <!-- Active Filters -->
  <div class="col-4 rectangle pt-4 pl-5">
    <span class="row large text bold p-5">
      {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_SAVER.ACTIVE_FILTERS' | translate }} ({{ nbCriterias }})
    </span>

    <div class="filtre-list-container">
      @for (criteria of displaySearchCriterias; track $index) {
        <vitamui-chip
          class="btn secondary text-transform-none mb-4 pl-2 rd-2"
          [text]="criteria.label + ' : ' + criteria.value | truncate: 30"
          [vitamuiTooltip]="criteria.label + ' : ' + criteria.value"
          [vitamuiTooltipShowDelay]="300"
        ></vitamui-chip>
      }
    </div>
  </div>

  <!-- Create New Criteria -->
  <div class="col-7" *ngIf="ToUpdate === false">
    <div class="row triangle"></div>

    <form [formGroup]="searchCriteriaForm" class="pl-5">
      <span class="large text bold pb-4">
        {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_SAVER.NEW_SAVE_IN_POPUP' | translate }}
      </span>
      <div class="row mt-3">
        <vitamui-input
          [(ngModel)]="nameControl"
          formControlName="name"
          class="w-75 ml-5"
          [placeholder]="'ARCHIVE_SEARCH.SEARCH_CRITERIA_SAVER.NAME' | translate"
        ></vitamui-input>

        <button type="submit" class="btn primary ml-2" (click)="onSubmit()" [disabled]="searchCriteriaForm.invalid">OK</button>
      </div>
    </form>
  </div>

  <!-- Update Existing Criteria -->
  <div class="col-7" *ngIf="ToUpdate">
    <div class="row triangle"></div>

    <span class="large text bold ml-7">
      {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_SAVER.NEW_SAVE_LABEL' | translate }}
    </span>
    <br /><br />

    <span class="normal text bold ml-7">
      {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_SAVER.NEW_SAVE_REPLACE_LABEL' | translate }}
    </span>

    <div class="filtre-list-container mt-2 ml-7">
      @for (criteria of searchCriteriaHistories; track $index) {
        @if (criteria !== searchCriteriaHistory) {
          <div class="mb-2 w-400">
            <vitamui-elements
              [icon]="'vitamui-icon-save'"
              [title]="criteria.name"
              [number]="getNbFilters(criteria)"
              [unit]="'filtres'"
              [hasToolTipOnTitle]="true"
              [toolTipTitleText]="criteria.name"
              [toolTipTitleDuration]="300"
              (elementClick)="preUpdate(criteria, $event)"
            ></vitamui-elements>
          </div>
        }
      }
    </div>

    <div class="justify-content-center gap-2 m-7">
      <button class="btn primary" (click)="createNewCriteria()" [disabled]="criteriaId !== '' || searchCriteriaHistories.length === 10">
        {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_SAVER.NEW_SAVE_BUTTON' | translate }}
      </button>

      <ng-container *ngIf="searchCriteriaHistories.length === 10">
        <div class="text danger">
          <i class="material-icons">report_problem</i>
          <span>{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_SAVER.SAVE_NOT_POSSIBLE_ALERT' | translate }}</span>
        </div>
        <div class="text caption">{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_SAVER.SAVE_NOT_POSSIBLE_MESSAGE' | translate }}</div>
      </ng-container>
    </div>
  </div>

  <!-- Update Confirmation -->
  <div class="col-7" *ngIf="criteriaToUpdate && updateConfirm">
    <div class="row triangle"></div>

    <div class="large text bold pl-7">
      {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_SAVER.SAVE_REPLACE_CONFIRM_MESSAGE' | translate }}
    </div>

    <div class="no-scroll-results mt-4 pl-7">
      <div class="vitamui-elements-selected w-400">
        <vitamui-elements
          [icon]="'vitamui-icon-save'"
          [title]="criteriaToUpdate.name"
          [number]="getNbFilters(criteriaToUpdate)"
          [unit]="'filtres'"
          [hasToolTipOnTitle]="true"
          [toolTipTitleText]="criteriaToUpdate.name"
          [toolTipTitleDuration]="300"
          (elementClick)="preUpdate(criteriaToUpdate, $event)"
        ></vitamui-elements>
      </div>
    </div>

    <div *ngIf="searchCriteriaHistories.length === 0" class="no-results-center search-criterias" (click)="onCancel()">
      {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_SAVER.NO_RESULTS' | translate }}
    </div>

    <div class="justify-content-center m-7">
      <button class="btn primary" (click)="update()">
        {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_SAVER.SAVE_REPLACE_CONFIRM_BUTTON' | translate }}
      </button>

      <button type="button" class="btn cancel link ml-3" (click)="cancel()">
        {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_SAVER.SAVE_REPLACE_CANCEL_BUTTON' | translate }}
      </button>
    </div>
  </div>

  <!-- Close Button -->
  <button class="col btn link cancel close-button">
    <i class="vitamui-icon vitamui-icon-close" (click)="closeSaveCriteriaForm()"></i>
  </button>
</div>
