.rd-2 {
  border-radius: 10px;
}

.no-results-center {
  text-align: center;
}

.triangle {
  position: relative;
  color: white;
  max-width: 10%;
  top: 100px;
  left: 15px;
  border: 28px solid transparent;
  border-left-color: var(--vitamui-grey-200);
}

.rectangle {
  background: var(--vitamui-grey-200);
}

.border-results {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid var(--vitamui-grey-400);
  box-sizing: border-box;
  border-radius: 10px;
}

.btn .vitamui-icon {
  color: var(--vitamui-grey-600) !important;
  width: 40px !important;
  height: 40px !important;
}

.hover-div:hover {
  background: var(--vitamui-grey-200);
  border-radius: 10px;
}

.no-scroll-results {
  height: 283px;
  padding-left: 25px;
  overflow-y: hidden;
}

.filtre-list-container {
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
}

.vitamui-elements-selected {
  background: var(--vitamui-primary-50);

  &:hover {
    background: var(--vitamui-primary-50);
  }
}

.w-400 {
  width: 400px;
}

.close-button {
  right: 20px;
  top: 20px;
}
