<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <vitamui-common-input
    [disabled]="!(checkUpdateRole | async)"
    class="w-100"
    formControlName="name"
    placeholder="{{ 'AGENCY.TAB.NAME' | translate }}"
  >
    <ng-container *ngIf="form.get('name')?.touched">
      <vitamui-common-input-error *ngIf="!!form.get('name')?.errors?.required">
        {{ 'COMMON.REQUIRED' | translate }}
      </vitamui-common-input-error>
    </ng-container>
  </vitamui-common-input>

  <vitamui-common-input
    [disabled]="!(checkUpdateRole | async)"
    class="w-100"
    formControlName="description"
    placeholder="{{ 'AGENCY.TAB.DESCRIPTION' | translate }}"
  >
    <ng-container *ngIf="form.get('description')?.touched">
      <vitamui-common-input-error *ngIf="!!form.get('description')?.errors?.required">
        {{ 'COMMON.REQUIRED' | translate }}
      </vitamui-common-input-error>
    </ng-container>
  </vitamui-common-input>

  <button
    *ngIf="checkUpdateRole | async"
    type="submit"
    class="btn primary mt-3"
    [disabled]="isInvalid() || unchanged() || submited || (checkUpdateRole | async) !== true"
  >
    <span>{{ 'COMMON.SAVE' | translate }} </span>
  </button>
</form>
