<div 
    class="container p-0"
    [@opacityAnimation]="state"
    >
    <div class="px-3 d-flex justify-content-end align-items-center header">
        <vitamui-common-search-bar
            class="col-6 p-0 mr-auto"
            name="category-search"
            (search)="onSearch($event)"
            placeholder="Saisir le nom de l'application" 
            i18n-placeholder="@@categorySearchPlaceholder"
        ></vitamui-common-search-bar>
        <span class="pr-2" i18n="menuComponent@@myApplications">Mes applications</span>
        <button (click)="onClose()" mat-icon-button class="apps-button">
            <i class="vitamui-icon vitamui-icon-apps-colored"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span></i>
        </button>
    </div>

    <div class="pt-4">
        <ng-container *ngIf="filteredApplications; else displayMats">
            <span class="px-3" i18n="menuComponent@@results">Résultat : </span>
            <hr class="mb-0">
            <mat-selection-list id="searchResults"
                class="py-3 overflow"
                (selectionChange)="openApplication($event.option.value)">
                <mat-list-option [value]="app" @slideLeftRight *ngFor="let app of filteredApplications">
                    <vitamui-common-menu-application-tile [application]="app" [hlCriteria]="criteria"></vitamui-common-menu-application-tile>
                </mat-list-option>
            </mat-selection-list>
        </ng-container>
        <ng-template #displayMats>
                <mat-tab-group animationDuration="300ms" mat-align-tabs="start" [selectedIndex]="tabSelectedIndex" (selectedTabChange)="changeTabFocus($event)">
                    <mat-tab *ngFor="let cat of getCategory()" [label]="cat.name">
                        <mat-selection-list
                            class="py-3"
                            (selectionChange)="openApplication($event.option.value)">
                            <mat-list-option cdkTrapFocus cdkTrapFocusAutoChange [value]="app" *ngFor="let app of applicationsGroupBy[cat.identifier]">
                                <vitamui-common-menu-application-tile [application]="app"></vitamui-common-menu-application-tile>
                            </mat-list-option>
                        </mat-selection-list>
                    </mat-tab>
                </mat-tab-group>
        </ng-template>
    </div>
</div>