@import '../../../../../sass/variables/colors';
@import '../../../../../sass/mixins/elevation';

:host::ng-deep {
  --width: 900px;
  color: #747272;
  --headerHeight: 72px;
  font-weight: 400;
  font-size: 16px;

  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background: var(--vitamui-primary);
  }

  .mat-tab-header-pagination.mat-tab-header-pagination-disabled {
    display: none !important;
  }

  .mat-list-text {
    height: 100%;
    padding: 0 !important;
  }

  mat-pseudo-checkbox.mat-pseudo-checkbox {
    display: none;
  }

  mat-list-option:focus,
  mat-list-option:hover {
    background-color: var(--vitamui-grey-300);
  }

  .mat-tab-body-content {
    overflow: hidden;
  }

  .mat-list-single-selected-option {
    background-color: $white;
  }

  .mat-tab-label.mat-tab-label-active {
    color: var(--vitamui-primary);
    opacity: 1;
    font-weight: bold;
  }

  vitamui-common-menu-application-tile {
    height: 100%;
  }

  mat-list-option vitamui-common-menu-application-tile * {
    .hover-focus {
      visibility: hidden;
    }

    .focus {
      display: none !important;
    }
  }

  .overflow {
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  mat-list-option .mat-list-item-content {
    padding: 0 !important;
  }

  mat-list-option:focus {
    vitamui-common-menu-application-tile * {
      .appName {
        font-weight: bold;
      }

      .mandatory {
        max-width: 65%;
      }

      .hover-focus {
        visibility: visible;
      }

      .focus {
        display: flex !important;
      }
    }
  }

  mat-list-option:hover {
    vitamui-common-menu-application-tile * {
      .appName {
        font-weight: bold;
      }

      .hover-focus {
        visibility: visible;
      }
    }
  }

  .mat-tab-body-wrapper {
    height: 100%;
  }

  *:focus {
    outline-color: transparent;
    outline-width: 0;
  }

  .container {
    background: $white;
    width: var(--width);
    height: auto;
    @include elevation-7-dark;
  }

  .header {
    height: var(--headerHeight);
    align-items: center;
    padding: 0 1rem;
  }

  .apps-button {
    font-size: 24px;
  }

  .apps-container {
    text-align: right;
    cursor: pointer;
  }
}
