@import '../../../../../sass/variables/colors';

:host::ng-deep  {
  --width: 900px;
  --boxShadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
  color: #747272;
  --headerHeight: 72px;
  font-weight: 400;
  font-size: 16px;


  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: var(--vitamui-primary);
  }

  .mat-tab-header-pagination.mat-tab-header-pagination-disabled {
    display: none!important;
  }

  .mat-list-item-content {
    padding: 24px!important;
  }

  mat-pseudo-checkbox.mat-pseudo-checkbox {
    display: none;
  }

  mat-list-option:focus, mat-list-option:hover {
    background-color: #E8E8E8;
  }

  .mat-tab-body-content  {
    overflow: hidden;
  }

  .mat-list-single-selected-option {
    background-color: $white;
  }

  .mat-tab-label.mat-tab-label-active {
    color: var(--vitamui-primary);
    opacity: 1;
    font-weight: bold;
  }

  mat-list-option vitamui-common-menu-application-tile * {
    .hover-focus {
      visibility: hidden;
    }

    .focus {
      display: none!important;
    }
  }

  .overflow {
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  mat-list-option:focus{
    vitamui-common-menu-application-tile *  {
  
      .appName {
        font-weight: bold;
      }
  
      .mandatory {
        max-width: 65%;
      }

      .hover-focus {
        visibility: visible;
      }

      .focus {
        display: flex!important;
      }
    }
  }

  mat-list-option:hover {
    vitamui-common-menu-application-tile *  {
  
      .appName {
        font-weight: bold;
      }
  
      .hover-focus {
        visibility: visible;
      }
    }
  }
  
  .mat-tab-body-wrapper {
    height: 100%;
  }

  *:focus {
    outline-color: transparent;
    outline-width: 0;
  }
  
  .container {
    background: $white;
    width: var(--width);
    height: auto;
    box-shadow: var(--boxShadow);
  }

  .header {
    height: var(--headerHeight);
    align-items: center;
    padding: 0 1rem;
  }

  .apps-button {
    font-size: 24px;
  }

  .apps-container {
    text-align: right;
    cursor: pointer;
  }
}