<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    @if (openedItem) {
      <app-ingest-preview (previewClose)="closePanel()" (ingestHasChanged)="ingestChangedStatus($event)" [ingestFromParent]="openedItem">
      </app-ingest-preview>
    }
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-title-breadcrumb>
        <h5>{{ 'APPLICATION.INGEST_MANAGEMENT_APP.NAME' | translate }}</h5>
      </vitamui-title-breadcrumb>
      <vitamui-banner [searchbarPlaceholder]="'INGEST_ACTION.SEARCH' | translate" (search)="onSearchSubmit($event)">
        <button
          class="btn secondary"
          (click)="refresh()"
          [vitamuiTooltip]="'INGEST_ACTION.ToolTip_Refresh' | translate"
          [ngStyle]="{ 'margin-right': '10px' }"
        >
          <i class="vitamui-icon vitamui-icon-refresh"></i>
          <span>{{ 'INGEST_ACTION.REFRESH' | translate }}</span>
        </button>

        <button
          class="btn primary"
          (click)="openImportSipDialog(IngestType.DEFAULT_WORKFLOW)"
          [vitamuiTooltip]="'INGEST_ACTION.ToolTip_New_Ingest' | translate"
          [ngStyle]="{ 'margin-right': '10px' }"
        >
          <i class="vitamui-icon vitamui-icon-archive-ingest"></i>
          <span>{{ 'INGEST_ACTION.NEW_INGEST' | translate }}</span>
        </button>

        <vitamui-menu-button [overlayPos]="'end'" [icon]="'vitamui-icon-more-horiz'">
          <button mat-menu-item (click)="openImportSipDialog(IngestType.BLANK_TEST)">
            {{ 'INGEST_ACTION.NEW_INGEST_BLANK' | translate }}
          </button>
        </vitamui-menu-button>
      </vitamui-banner>

      <div class="actions">
        <form [formGroup]="dateRangeFilterForm">
          <div class="hgap-4">
            <vitamui-datepicker
              [label]="'INGEST_ACTION.START_DATE' | translate"
              formControlName="startDate"
              [max]="dateRangeFilterForm.get('endDate').value"
              outputType="Date"
              format="dd/MM/yyyy"
            ></vitamui-datepicker>
            <vitamui-datepicker
              [label]="'INGEST_ACTION.END_DATE' | translate"
              formControlName="endDate"
              [min]="dateRangeFilterForm.get('startDate').value"
              outputType="Date"
              format="dd/MM/yyyy"
            ></vitamui-datepicker>
          </div>
        </form>
      </div>
    </div>
    <div class="vitamui-content">
      <app-upload-tracking></app-upload-tracking>
    </div>
    <br />

    <div class="vitamui-content">
      <h5 class="mt-0 mb-4">{{ 'INGEST_LIST.TABLE_NAME' | translate }}</h5>
      <app-ingest-list
        (ingestClick)="showIngest($event)"
        [ingestThatHasChanged]="ingestThatHasChanged"
        [searchText]="search"
        [filters]="filters"
      >
      </app-ingest-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
