<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    <app-ingest-preview *ngIf="openedItem" (previewClose)="closePanel()" [ingest]="openedItem"></app-ingest-preview>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-common-title-breadcrumb>
        {{'INGEST_PAGE.TITLE' | translate}}
      </vitamui-common-title-breadcrumb>
      <vitamui-common-banner [searchbarPlaceholder]="'INGEST_ACTION.SEARCH' | translate"
        i18n-placeholder="@@ingestSearchPlaceholder" (search)="onSearchSubmit($event)">
        <button class="btn secondary" (click)="refresh()" matTooltip="{{'INGEST_ACTION.ToolTip_Refresh' | translate}}"
          i18n-matTooltip="Proof safe info hint@@proofSafeInfo" matTooltipClass="vitamui-tooltip"
          [ngStyle]="{'margin-right' : '10px'}">
          <i class="vitamui-icon vitamui-icon-refresh"></i>
          <span>{{'INGEST_ACTION.REFRESH' | translate}}</span>
        </button>

        <button class="btn primary" (click)="openImportSipDialog('DEFAULT_WORKFLOW')"
          matTooltip="{{'INGEST_ACTION.ToolTip_New_Ingest' | translate}}"
          i18n-matTooltip="Proof safe info hint@@proofSafeInfo" matTooltipClass="vitamui-tooltip">
          <i class="vitamui-icon vitamui-icon-archive-ingest"></i>
          <span>{{'INGEST_ACTION.NEW_INGEST' | translate}}</span>
        </button>
      </vitamui-common-banner>

      <div class="actions">
        <form [formGroup]="dateRangeFilterForm">
          <div class="date-filter-container">
            <div class="date-filter">
              <span *ngIf="!dateRangeFilterForm.get('startDate').value;else showStartDate" (click)="pickerStart.open()"
                i18n="@@apiSupervisionStartDate">{{'INGEST_ACTION.START_DATE' | translate}}</span>
              <ng-template #showStartDate>
                <span (click)="pickerStart.open()">{{ dateRangeFilterForm.get('startDate').value |
                                            date:'dd/MM/yyyy' }}</span>
                <i class="material-icons clear-date-icon clickable" (click)="clearDate('startDate')">clear</i>
              </ng-template>
              <input class="hidden" size="0" [matDatepicker]="pickerStart" formControlName="startDate"
                [max]="dateRangeFilterForm.get('endDate').value">
              <mat-datepicker #pickerStart></mat-datepicker>
            </div>
            <div class="date-filter">
              <span *ngIf="!dateRangeFilterForm.get('endDate').value; else showEndDate" (click)="pickerEnd.open()"
                i18n="@@apiSupervisionEndDate">{{'INGEST_ACTION.END_DATE' | translate}}</span>
              <ng-template #showEndDate><span (click)="pickerEnd.open()">{{
                                            dateRangeFilterForm.get('endDate').value | date:'dd/MM/yyyy' }}
                </span> <i class="material-icons clear-date-icon clickable" (click)="clearDate('endDate')">clear</i>
              </ng-template>
              <input class="hidden" size="0" [matDatepicker]="pickerEnd" formControlName="endDate"
                [min]="dateRangeFilterForm.get('startDate').value">
              <mat-datepicker #pickerEnd></mat-datepicker>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="vitamui-content">
      <app-upload-tracking></app-upload-tracking>
    </div> <br>

    <div class="vitamui-content">
      <h5 class="mt-0 mb-4">{{'INGEST_LIST.TABLE_NAME' | translate}}</h5>
      <app-ingest-list (ingestClick)="showIngest($event)" [search]="search" [filters]="filters"></app-ingest-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>