<div [formGroup]="form">
  <div class="row">
    <div class="col">
      <mat-form-field class="vitamui-mat-select mr-2" style="display: none">
        <mat-label>{{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.IDENTIFIER_TYPE' | translate }}</mat-label>
        <mat-select
          formControlName="policyTypeOption"
          placeholder="{{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.CHOOSE_IDENTIFIER_TYPE' | translate }}"
          panelclass="vitamui-mat-select"
          disabled
        >
          <mat-option *ngFor="let policyTypeOption of policyTypeOptions" [value]="policyTypeOption.value">{{
            policyTypeOption.label | translate
          }}</mat-option>
        </mat-select>
        <mat-placeholder>{{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.CHOOSE_IDENTIFIER_TYPE' | translate }}</mat-placeholder>
        <div class="select-arrow">
          <i class="material-icons">keyboard_arrow_up</i>
          <i class="material-icons">keyboard_arrow_down</i>
        </div>
      </mat-form-field>
      <vitamui-common-input
        *ngIf="isExistingTypeOption"
        formControlName="authority"
        placeholder="{{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.NAMING_AUTHORITY' | translate }}"
        class="mt-2 w-100"
      >
        <vitamui-common-input-error *ngIf="form.get('authority').hasError(INVALID_AUTHORITY)" class="error">
          {{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.ERROR_MESSAGES.INVALID_AUTHORITY' | translate }}
        </vitamui-common-input-error>
      </vitamui-common-input>
    </div>
  </div>
  <ng-container *ngIf="isExistingTypeOption">
    <h5 class="primary">{{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.POSITIONING_TITLE' | translate }}</h5>
    <div class="header row">
      <div class="col">
        <mat-checkbox formControlName="shouldConcernArchiveUnits">
          <span>{{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.ARCHIVAL_UNIT' | translate }}</span>
        </mat-checkbox>
      </div>
    </div>
    <div class="header row" [ngClass]="{ opened: objectUsagePoliciesToggle }" (click)="toggle($event)">
      <div class="col">
        <mat-checkbox formControlName="shouldConcernObjects">
          <div class="d-flex align-items-center">
            <i
              class="vitamui-icon icon primary"
              [ngClass]="{
                'vitamui-icon-chevron-down': objectUsagePoliciesToggle,
                'vitamui-icon-chevron-right': !objectUsagePoliciesToggle
              }"
            ></i>
            <span>{{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.TECHNICAL_OBJECT' | translate }}</span>
          </div>
        </mat-checkbox>
      </div>
    </div>
    <div class="content" [ngStyle]="{ display: objectUsagePoliciesToggle ? 'block' : 'none' }">
      <div class="container" formArrayName="objectUsagePolicies">
        <ng-container *ngFor="let objectUsagePolicy of getObjectUsagePolicies(); index as i">
          <div class="row" [formGroupName]="i">
            <div class="col">
              <div class="row">
                <div class="col-10">
                  <mat-form-field class="vitamui-mat-select w-100">
                    <div class="select-area-custom">
                      <mat-label>{{ ('CONTRACT_MANAGEMENT.FORM_UPDATE.TARGET_USAGE' | translate) + (i + 1) }}</mat-label>
                      <mat-select placeholder="{{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.FORMAT' | translate }}" formControlName="objectUsage">
                        <mat-option
                          *ngFor="let objectUsageOption of objectUsageOptions"
                          [value]="objectUsageOption.value"
                          [disabled]="isObjectUsageOptionDisabled(objectUsageOption.value)"
                          panelclass="vitamui-mat-select"
                        >
                          {{ objectUsageOption.label | translate }}
                        </mat-option>
                      </mat-select>
                    </div>
                    <div class="select-arrow">
                      <i class="material-icons">keyboard_arrow_up</i>
                      <i class="material-icons">keyboard_arrow_down</i>
                    </div>
                  </mat-form-field>
                </div>
                <div class="col-2 d-flex align-items-center justify-content-center">
                  <button
                    class="mat-icon-button delete-button d-flex justify-content-center align-items-center"
                    (click)="removeObjectUsagePolicy(i)"
                    matTooltip="{{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.REMOVE_USAGE' | translate }}"
                    matTooltipClass="vitamui-tooltip"
                  >
                    <i class="vitamui-icon vitamui-icon-delete icon primary"></i>
                  </button>
                </div>
              </div>
              <div class="row p-3">
                <div class="col col-4">
                  <label> {{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.INITIAL_VERSION' | translate }}</label>
                  <div class="radio-button-group-wrapper">
                    <mat-radio-group formControlName="initialVersion">
                      <mat-radio-button class="mr-2" [value]="true">{{
                        'CONTRACT_MANAGEMENT.FORM_UPDATE.YES' | translate
                      }}</mat-radio-button>
                      <mat-radio-button
                        class="mr-2"
                        [value]="false"
                        [disabled]="form.get('objectUsagePolicies').at(i).get('intermediaryVersion').value === 'NONE'"
                        >{{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.NO' | translate }}</mat-radio-button
                      >
                    </mat-radio-group>
                  </div>
                </div>
                <div class="col col-8">
                  <label> {{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.LATER_VERSIONS' | translate }}</label>
                  <div class="radio-button-group-wrapper">
                    <mat-radio-group formControlName="intermediaryVersion">
                      <mat-radio-button class="mr-2" value="ALL">{{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.ALL' | translate }}</mat-radio-button>
                      <mat-radio-button class="mr-2" value="LAST">{{
                        'CONTRACT_MANAGEMENT.FORM_UPDATE.LAST' | translate
                      }}</mat-radio-button>
                      <mat-radio-button
                        class="mr-2"
                        value="NONE"
                        [disabled]="!form.get('objectUsagePolicies').at(i).get('initialVersion').value"
                        >{{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.NONE' | translate }}</mat-radio-button
                      >
                    </mat-radio-group>
                  </div>
                </div>
              </div>
              <vitamui-common-input-error
                *ngIf="form.get('objectUsagePolicies').at(i).hasError('invalidObjectUsagePolicy')"
                class="vitamui-input-errors"
              >
                {{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.ERROR_MESSAGES.INVALID_OBJECT_USAGE_POLICY' | translate }}
              </vitamui-common-input-error>
            </div>
          </div>
        </ng-container>
        <div class="row">
          <div class="col">
            <button
              type="button"
              class="col btn link back justify-content-start"
              matTooltip="{{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.ADD_USAGE' | translate }}"
              matTooltipClass="vitamui-tooltip"
              [disabled]="addButtonDisabled"
              (click)="addObjectUsagePolicy()"
            >
              <i class="vitamui-icon vitamui-icon-plus"></i>
              <span>{{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.ADD_USAGE' | translate }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <vitamui-common-input-error *ngIf="form.hasError('invalidPersistentIdentifierPolicyTarget')" class="vitamui-input-errors">
      {{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.ERROR_MESSAGES.INVALID_PERSISTENT_IDENTIFIER_POLICY_TARGET' | translate }}
    </vitamui-common-input-error>
  </ng-container>
</div>
