<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title th:text="${@environment.getProperty('theme.vitamui-platform-name')}">VITAM-UI</title>
</head>
<body>


<div layout:fragment="content" class="col">
  <div class="Text-large-bold"
       th:text="#{screen.logout.header}">
    Logout successful
  </div>
  <p class="Text-medium margin-top-10"
     th:utext="#{screen.logout.success}">
    You have successfully logged out of the Central Authentication Service. You may <a th:href="@{/login}">log in</a>
    again.
  </p>
  <div class="Text-medium"
       th:text="#{screen.logout.security}">
    For security reasons, exit your web browser.
  </div>
</div>


</body>
</html>
