<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title th:text="#{screen.logout.header}">Propagate Logout View</title>
</head>
<body>


<div layout:fragment="content" class="col">
  <div class="Text-large-bold" th:text="#{screen.logout.header}">
    Logout successful
  </div>
  <p class="Text-medium margin-top-10 display-block" th:utext="#{screen.logout.fc.success}">You have successfully
    logged out of the Central Authentication
    Service. Given single logout is enabled with CAS, \
    the following list of applications are <strong> only notified</strong> to log you out and destroy your
    user session. Remember that this \
    is just a notification, not a guarantee. It is up the application itself to honor these notifications
    and properly take action to log you \
    out.
  </p>

  <div th:text="#{screen.logout.security}">
    For security reasons, exit your web browser.
  </div>

  <div class="margin-top-20">
    <button type="button" class="Button" th:if="${logoutRedirectUrl}" name="submit"
            accesskey="l"
            onclick="redirectToApp();">
      [[${'Go to ' + logoutRedirectUrl}]]
    </button>
  </div>
</div>


<div>
  <ol style="list-style: none" start="a">
    <li th:each="entry,iterStat : ${logoutUrls}">
      <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $.ajax({
          url: [[${entry.key.logoutUrl.toExternalForm()}]],
          dataType: 'jsonp',
          async: true,
          contentType: [[${entry.value.contentType}]]
          , data: [[${entry.value.message}]]
          , success: function (data) {
            var index = [[${iterStat.index}]];
            handleCallback(index, 200);
          },
          error: function (err, textStatus, errorThrown) {
            var index = [[${iterStat.index}]];
            handleCallback(index, err.status);
          }
        });
        handleDisplay();
        /*]]>*/
      </script>
      <!--
      <p>
          <i data-toggle="tooltip" data-placement="top" class="fa fa-question" th:id="${'service'+iterStat.index}" title="Logout request pending..."> </i>
          <kbd th:text="${entry.key.service.id}"/>
      </p>
       -->
    </li>
  </ol>
</div>

</body>

<script th:inline="javascript">
  /*<![CDATA[*/
  function redirectToApp() {
    window.location = encodeURI([[${logoutRedirectUrl}]]);
  }

  function handleCallback(index, status) {

  }

  /**
   For Surrogation purposes, do not show logout page information.
   Redirect straight to service.
   */
  function handleDisplay() {
    var _this = this;
    var logoutRedirectUrl = [[${logoutRedirectUrl}]];

    if (logoutRedirectUrl && logoutRedirectUrl.indexOf('username=') > 0) {
      window.setTimeout(function () {
        _this.redirectToApp();
      }, 200);
    } else {
      $('body')[0].style.display = '';
    }
  }

  /*]]>*/
</script>
</html>
