@import '../../../../../sass/variables/colors';
@import '../../../../../sass/mixins/elevation';

$animation-time: 150ms;

.left-link {
  margin-left: 10px;
}

.right-link {
  margin-left: auto;
  margin-right: 10px;
}

.search-bar {
  margin: 10px;
}

.vitamui-mat-select-options {
  max-height: 50vh;
  overflow-y: auto;

  > mat-divider {
    margin: 0 10px;
  }
}

.vitamui-input-errors {
  min-height: 23px;
}

:host::ng-deep {
  .mat-select-trigger {
    transform: translateY(10px);
  }

  .mat-form-field-label {
    display: block !important;

    & > mat-label {
      display: block !important;
      position: relative;
      font-size: 14px;
      font-weight: 700;
      color: var(--vitamui-primary) !important;
      letter-spacing: 0.1px;
      white-space: nowrap;
      transform-origin: left;
      transition: transform $animation-time ease-out;
    }

    .required-marker {
      padding-left: 5px;
      color: $red;
    }
  }

  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: scale(calc(12 / 14)) translateY(-12px) !important;
    letter-spacing: 0.4px;
  }
}

::ng-deep .cdk-overlay-pane:has(.vitamui-common-autocomplete-multi-select-tree) {
  transform: translateX(-25px) translateY(30px) !important;
}

::ng-deep .vitamui-common-autocomplete-multi-select-tree {
  max-height: none !important;
  @include elevation-1-dark;
  border-radius: 10px !important;
  border: 1px solid var(--vitamui-grey-300);

  vitamui-common-search-bar {
    .search {
      max-width: none;
    }
  }

  mat-tree {
    padding: 0 10px;
  }

  mat-tree-node {
    display: block;

    .mat-pseudo-checkbox {
      width: 16px;
      height: 16px;
      border: 1px solid;
      margin: 4px;
    }

    &[matTreeNodeToggle] {
      cursor: pointer;
    }

    &:hover,
    &:focus {
      background: #0000000a;
    }

    .mat-option:hover,
    .mat-option:focus {
      background: transparent;
    }

    mat-option {
      flex-grow: 1;
      justify-content: flex-start;
      height: 50px !important;

      &:not(.fake-option) mat-pseudo-checkbox + span {
        padding-left: 11px !important;
      }

      i + span {
        padding-left: 5px !important;
      }
    }

    .fake-option {
      mat-pseudo-checkbox {
        display: none;
      }

      .mat-option-text {
        //@extend .text-text-normal-bold;
        font-weight: 700;
        letter-spacing: 0.1px;

        color: var(--vitamui-grey-900);
        display: flex;
        align-items: center;

        &.expanded {
          color: var(--vitamui-primary);
        }

        i {
          font-size: 24px;
        }
      }
    }
  }
}
