<form [formGroup]="form" class="side-form" (ngSubmit)="onSubmit()">
  <div class="mt-3" *ngIf="form.value.fullAccess">{{ 'SECURITY_PROFILE_APP.TAB.PERMISSIONS.ACCESS' | translate }}</div>

  <div *ngIf="!form.value.fullAccess">
    <app-security-profile-edit-permission formControlName="permissions"></app-security-profile-edit-permission>
  </div>

  <div class="actions mt-3">
    <button type="submit" class="btn primary" [disabled]="isInvalid() || unchanged() || submited">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</form>
