<!-- Pastis dialog title qnd subtitle-->
<h2 class="pastis-dialog-config-title" matDialogTitle>
  <i (click)="onNoClick()" class="vitamui-icon vitamui-icon-close icon-close"></i>
  <p class="pastis-dialog-subtitle"><b>{{data.subTitleDialog}}</b></p>
  <P class="pastis-dialog-title">{{data.titleDialog}}</P>
</h2>

<div class="conteneur">

  <div class="gauche"><pastis-generic-popup [firstChoice]="firstChoiceEnregistrement" [secondChoice]="secondChoiceEnregistrement" [title]="titleEnregistrement" (changeStatusEvent)="changeStatus($event)">
  </pastis-generic-popup>
  </div>

  <div *ngIf="valueSelected && !editProfile">
    <div class="gauche"><pastis-generic-popup [secondPopup]="true" [firstChoice]="firstChoiceGestionNotice" [secondChoice]="secondChoiceGestionNotice" [title]="titleGestionNotice" (changeStatusEvent)="changeStatusGestionNoticeProfil($event)">
    </pastis-generic-popup>
    </div>

  </div>
</div>


<div class="btn-container">
  <mat-dialog-actions align="right" class="pastis-dialog-confirm-buttons">
    <button type="submit" class="pastis-btn-oui-dialog-confirm" (click)="onYesClick()">{{data.okLabel}}
    </button>
    <button type="button" class="pastis-btn-non-dialog-confirm" (click)="onCancel()">{{data.cancelLabel}}</button>
  </mat-dialog-actions>
</div>



