<form [formGroup]="form" class="gap-5" (ngSubmit)="onSubmit()">
  <div class="gap-3 w-100">
    <vitamui-common-input class="w-100" formControlName="identifier" [placeholder]="'ONTOLOGY.TAB.INFORMATION.IDENTIFIER' | translate">
    </vitamui-common-input>

    <vitamui-common-input
      class="w-100"
      formControlName="shortName"
      [placeholder]="'ONTOLOGY.TAB.INFORMATION.NAME' | translate"
      [required]="true"
    >
    </vitamui-common-input>

    <vitamui-select
      class="w-100"
      formControlName="type"
      [placeholder]="'ONTOLOGY.TAB.INFORMATION.TYPE' | translate"
      [options]="types"
      [multiple]="false"
      [enableSearch]="false"
    ></vitamui-select>

    <vitamui-select
      [hidden]="!sizeFieldVisible"
      class="w-100"
      formControlName="stringSize"
      [placeholder]="'ONTOLOGY.TAB.INFORMATION.FIELD_SIZE' | translate"
      [options]="sizes"
      [multiple]="false"
      [enableSearch]="false"
    ></vitamui-select>

    <vitamui-select
      class="w-100"
      formControlName="collections"
      [placeholder]="'ONTOLOGY.TAB.INFORMATION.COLLECTION' | translate"
      [options]="collections"
      [multiple]="true"
      [enableSearch]="false"
      [enableDisplaySelected]="false"
      [enableSelectAll]="false"
    ></vitamui-select>

    <vitamui-common-textarea
      class="w-100"
      formControlName="description"
      [placeholder]="'ONTOLOGY.TAB.INFORMATION.DESCRIPTION' | translate"
      [rows]="3"
    >
      <ng-container *ngIf="form.get('description')?.touched">
        <vitamui-common-input-error *ngIf="!!form.get('description')?.errors?.required">
          {{ 'COMMON.REQUIRED' | translate }}
        </vitamui-common-input-error>
      </ng-container>
    </vitamui-common-textarea>

    <vitamui-common-input
      class="w-100"
      [value]="form.get('creationDate').value | dateTime: 'dd/MM/yyyy'"
      [placeholder]="'ONTOLOGY.TAB.INFORMATION.CREATION_DATE' | translate"
      [disabled]="true"
    >
    </vitamui-common-input>
  </div>

  <button type="submit" class="btn primary" [disabled]="unchanged() || form.invalid || submitted">
    {{ 'COMMON.SAVE' | translate }}
  </button>
</form>
