@use './mixins/badge' as mixins;

.status-badge-green {
  @include mixins.status-badge;

  &:after {
    background-color: var(--vitamui-green);
    border: solid 2px var(--vitamui-white);
  }

  &.status-badge-mini {
    @include mixins.status-badge-mini;
  }
}

.status-badge-red {
  @include mixins.status-badge;

  &:after {
    background-color: var(--vitamui-red);
    border: solid 2px var(--vitamui-white);
  }

  &.status-badge-mini {
    @include mixins.status-badge-mini;
  }
}

.status-badge-orange {
  @include mixins.status-badge;

  &:after {
    background-color: var(--vitamui-orange);
    border: solid 2px var(--vitamui-white);
  }

  &.status-badge-mini {
    @include mixins.status-badge-mini;
  }
}

.status-badge-grey {
  @include mixins.status-badge;

  &:after {
    background-color: var(--vitamui-grey);
    border: solid 2px var(--vitamui-white);
  }

  &.status-badge-mini {
    @include mixins.status-badge-mini;
  }
}

.status-badge-dark-grey {
  @include mixins.status-badge;

  &:after {
    background-color: var(--vitamui-grey-300);
    border: solid 2px var(--vitamui-white);
  }

  &.status-badge-mini {
    @include mixins.status-badge-mini;
  }
}

.status-badge-black {
  @include mixins.status-badge;

  &:after {
    background-color: black;
    border: solid 2px var(--vitamui-white);
  }

  &.status-badge-mini {
    @include mixins.status-badge-mini;
  }
}

.status-badge-icon-cross {
  &:after {
    border: none;
    font-family: 'vitamui-icon';
    content: '\ea0f';
    font-size: 8px;
    line-height: 8px;
    color: var(--vitamui-white);
  }
}
