@use './mixins/elevation' as elevation;
@use './mixins/fonts' as fonts;
@use './base/typography';

@mixin disabled($background-color: var(--vitamui-grey-300), $color: var(--vitamui-grey-700), $border-color: var(--vitamui-grey-300)) {
  cursor: no-drop;
  background-color: $background-color;
  border: 1px solid $border-color;
  color: $color;

  @include elevation.shadow-0;

  i {
    display: flex !important;
    justify-content: center;
    color: $color;
    inline-size: 0;
    font-size: medium;
  }
}

@mixin btn(
  $background-color: transparent,
  $background-color-hover: $background-color,
  $background-color-active: $background-color-hover,
  $border-color: transparent,
  $border-color-hover: $border-color,
  $border-color-active: $border-color-hover,
  $button-color: var(--vitamui-white),
  $button-color-hover: $button-color,
  $button-color-active: $button-color-hover
) {
  &.link,
  &:disabled,
  &.btn-search {
    @include elevation.shadow-0;
  }

  &:not(:disabled) {
    background-color: $background-color;
    color: $button-color;
    border: 1px solid $border-color;

    i {
      display: flex !important;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      height: 100%;
      font-size: large;
      inline-size: 0;
      color: $button-color;
    }

    &:focus-visible,
    &:hover,
    &.hover {
      background-color: $background-color-hover;
      border: 1px solid $border-color-hover;
      color: $button-color-hover;

      i {
        color: $button-color-hover;
      }
    }

    &:active,
    &.active {
      background-color: $background-color-active;
      border: 1px solid $border-color-active;
      color: $button-color-active;

      i {
        color: $button-color-active;
      }
    }
  }
}

.btn span + i,
.btn i + span {
  padding-left: 1rem;
}

.btn {
  @extend .text, .normal, .bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  border-radius: 50px;
  padding: 0 30px 0 30px;
  outline: none;
  white-space: nowrap;

  text-decoration: none; // To make sure a <a> styled as a button doesn't have an underline

  flex-shrink: 0;

  &.text-transform-none {
    text-transform: none;
    letter-spacing: 0;
  }

  &:disabled {
    @include disabled();
  }
}

.btn.contrast {
  @include btn($background-color: var(--vitamui-white), $border-color: var(--vitamui-white), $button-color: var(--vitamui-white));

  &.contrast-primary {
    @include btn(
      $background-color: var(--vitamui-white),
      $border-color: var(--vitamui-white),
      $button-color: var(--vitamui-primary),
      $button-color-hover: var(--vitamui-primary-700)
    );
  }

  &.contrast-secondary {
    @include btn(
      $background-color: var(--vitamui-white),
      $border-color: var(--vitamui-white),
      $button-color: var(--vitamui-secondary),
      $button-color-hover: var(--vitamui-secondary-700)
    );
  }

  &:disabled {
    @include disabled(var(--vitamui-white));
    opacity: 0.4;
  }
}

.btn.contrast-outline {
  @include btn($background-color: transparent, $border-color: var(--vitamui-white), $button-color: var(--vitamui-white));

  &.contrast-outline-primary {
    @include btn(
      $background-color: transparent,
      $background-color-hover: var(--vitamui-primary-400),
      $border-color: var(--vitamui-white),
      $button-color: var(--vitamui-white)
    );
  }

  &.contrast-outline-secondary {
    @include btn(
      $background-color: transparent,
      $background-color-hover: var(--vitamui-secondary-400),
      $border-color: var(--vitamui-white),
      $button-color: var(--vitamui-white)
    );
  }

  &:disabled {
    @include disabled(transparent, var(--vitamui-white), var(--vitamui-white));
    opacity: 0.4;
  }
}

.btn-circle {
  border-radius: 50%;
  padding: 0 !important;
  width: 40px;
  height: 40px;

  i {
    font-size: medium;

    &.large {
      font-size: small !important;
    }
  }

  &.large {
    width: 50px;
    height: 50px;

    > i {
      font-size: x-large !important;
    }
  }

  &.small {
    width: 30px;
    height: 30px;
  }

  &.xsmall {
    width: 24px;
    height: 24px;

    &.btn {
      &.primary {
        @include btn(
          $background-color: transparent,
          $background-color-hover: var(--vitamui-primary-50),
          $background-color-active: var(--vitamui-primary),
          $border-color: transparent,
          $button-color: var(--vitamui-grey),
          $button-color-hover: var(--vitamui-primary),
          $button-color-active: var(--vitamui-primary-50)
        );
      }
      &.secondary {
        @include btn(
          $background-color: transparent,
          $background-color-hover: var(--vitamui-secondary-50),
          $background-color-active: var(--vitamui-secondary),
          $border-color: transparent,
          $button-color: var(--vitamui-grey),
          $button-color-hover: var(--vitamui-secondary),
          $button-color-active: var(--vitamui-secondary-50)
        );
      }
    }

    &:disabled {
      i {
        color: var(--vitamui-grey-300);
      }
    }
  }
}

.btn.primary {
  @include btn(
    $background-color: var(--vitamui-primary),
    $background-color-hover: var(--vitamui-primary-800),
    $border-color: var(--vitamui-primary),
    $border-color-hover: var(--vitamui-primary-800),
    $button-color: var(--vitamui-primary-font)
  );
}

.btn.secondary {
  @include btn(
    $background-color: var(--vitamui-secondary),
    $background-color-hover: var(--vitamui-secondary-700),
    $border-color: var(--vitamui-secondary),
    $border-color-hover: var(--vitamui-secondary-700),
    $button-color: var(--vitamui-secondary-font)
  );
}

.btn.link {
  padding: 0;

  &:not(.cancel) {
    @include btn($background-color: transparent, $border-color: transparent, $button-color: var(--vitamui-primary));
  }

  &.cancel {
    @include btn($background-color: transparent, $border-color: transparent, $button-color: var(--vitamui-grey-900));
  }

  i {
    inline-size: initial !important;
  }

  &.xx-large {
    font-size: xx-large;

    > i {
      font-size: xx-large !important;
    }
  }

  &.small {
    font-size: 12px;

    > i {
      font-size: 12px;
    }
  }

  &:hover:not(.cancel) {
    span {
      text-decoration: none;
    }
  }

  &:disabled {
    @include disabled(transparent, var(--vitamui-grey), transparent);
  }

  @include fonts.text-colors;
}

.btn.outline {
  &:disabled {
    @include disabled(transparent);
  }
}

.btn.outline-primary {
  @include btn(
    $background-color: transparent,
    $border-color: var(--vitamui-primary),
    $border-color-hover: var(--vitamui-primary-800),
    $button-color: var(--vitamui-primary),
    $button-color-hover: var(--vitamui-primary-800)
  );
}

.btn.outline-secondary {
  @include btn(
    $background-color: transparent,
    $border-color: var(--vitamui-secondary),
    $border-color-hover: var(--vitamui-secondary-700),
    $button-color: var(--vitamui-secondary),
    $button-color-hover: var(--vitamui-secondary-700)
  );
}

.btn.tertiary {
  @include btn($background-color: transparent, $border-color: var(--vitamui-white), $button-color: var(--vitamui-grey-600));
  &:disabled {
    @include disabled(transparent, var(--vitamui-grey-300), var(--vitamui-white));
  }
}

.mat-drawer,
.mat-mdc-dialog-container {
  .btn.contrast,
  .btn.contrast-outline {
    @include elevation.btn-dialog-elevation-dark;

    &.contrast-primary,
    &.contrast-outline-primary {
      @include elevation.btn-dialog-elevation-primary;
    }

    &.contrast-secondary,
    &.contrast-outline-secondary {
      @include elevation.btn-dialog-elevation-secondary;
    }
  }

  .btn.primary,
  .btn.outline-primary {
    @include elevation.btn-dialog-elevation-primary;
  }

  .btn.secondary,
  .btn.outline-secondary {
    @include elevation.btn-dialog-elevation-secondary;
  }
}

.btn.primary,
.btn.outline-primary {
  @include elevation.btn-elevation-primary;
}

.btn.secondary,
.btn.outline-secondary {
  @include elevation.btn-elevation-secondary;
}

.btn.contrast,
.btn.contrast-outline {
  @include elevation.btn-elevation-dark;

  &.contrast-primary,
  &.contrast-outline-primary {
    @include elevation.btn-elevation-primary;
  }

  &.contrast-secondary,
  &.contrast-outline-secondary {
    @include elevation.btn-elevation-secondary;
  }
}

.btn-double-icons {
  position: relative;

  i:first-child {
    font-size: 18px;
    position: absolute;
    top: 4px;
    left: 6px;
  }

  i:last-child {
    font-size: 18px;
    position: absolute;
    bottom: 6px;
    right: 6px;
  }
}
