@use './base/utilities';
@use './bootstrap';

:root {
  $checkboxSize: 24px;
  $boxSize: 16px;
  .mat-mdc-checkbox {
    --mat-checkbox-state-layer-size: $checkboxSize;

    &.mat-primary {
      --mat-checkbox-selected-checkmark-color: var(--vitamui-white);

      --mat-checkbox-unselected-icon-color: var(--vitamui-grey-700);

      --mat-checkbox-label-text-color: var(--vitamui-grey-900);

      --mat-checkbox-disabled-label-color: var(--vitamui-grey-700);
      --mat-checkbox-disabled-selected-checkmark-color: var(--vitamui-grey-700);
    }
  }
  .mat-mdc-checkbox-touch-target {
    width: $checkboxSize;
    height: $checkboxSize;
  }
  .mdc-checkbox {
    flex: 0 0 $boxSize;
    width: $boxSize;
    height: $boxSize;
    padding: calc(($checkboxSize - $boxSize) / 2);
  }
  .mdc-checkbox__background {
    width: $boxSize;
    height: $boxSize;
    border-width: 1px;
    border-radius: 3px;

    border-color: var(--vitamui-grey-700) !important;
  }
  input:checked:not(:disabled),
  input:indeterminate:not(:disabled) {
    ~ .mdc-checkbox__background {
      border-color: var(--vitamui-primary) !important;
    }
  }
  .mat-mdc-checkbox {
    label {
      padding-left: 10px;
    }
    .mdc-checkbox__ripple {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      position: absolute;
      top: calc(50% - 15px);
      left: calc(50% - 15px);
      background-color: var(--vitamui-primary-50) !important;
      opacity: 0 !important;
    }
    &:hover,
    &.hover {
      .mdc-checkbox__ripple {
        opacity: 1 !important;
      }
    }
  }
  .mdc-checkbox__checkmark {
    padding: 2px;
  }
  .mdc-checkbox__checkmark-path {
    stroke-width: 6px;
  }
  .mdc-checkbox__mixedmark {
    width: 8px;
  }
  .mdc-checkbox--disabled .mdc-checkbox__background {
    background-color: var(--vitamui-grey-200) !important;
  }
}

/* change .criteria-checkbox-choice into .vitamui-checkbox */
input[type='checkbox'].vitamui-checkbox {
  &:not([disabled]) {
    @extend .clickable;
  }

  margin: 0;
  height: 16px;
  width: 16px;
  accent-color: var(--vitamui-primary);
}

label.vitamui-checkbox {
  input[type='checkbox'] {
    @extend .vitamui-checkbox;
  }
  &:has(input:not([disabled])) {
    @extend .clickable;
  }

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  min-width: 24px;
  min-height: 24px;
  padding: 4px;

  &.wide {
    min-width: 46px;
    min-height: 46px;
    padding: 15px;
  }

  span {
    @extend .ml-2;
  }
}
