.filter-controls {
  margin-top: 22px;
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: space-between;

  .filter-controls-group {
    display: flex;
    align-items: center;
  }

  .btn {
    margin-left: 20px;
  }

  .actions {
    display: flex;
  }
}
