@use './mixins/elevation' as elevation;

.vitamui-input {
  $anim-timing: 150ms ease-out;

  @include elevation.input-elevation-dark;
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  padding: 10px 15px;
  vertical-align: top;

  &:not(.editable-field) {
    height: 60px;
  }

  &.disabled {
    border: none !important;
    background-color: var(--vitamui-grey-200);

    label {
      color: var(--vitamui-grey-700) !important;
    }

    mat-datepicker-toggle {
      mat-icon {
        color: var(--vitamui-grey) !important;
      }
      button {
        background: var(--vitamui-grey-200);
      }
    }

    button {
      background: var(--vitamui-grey-300);
      cursor: initial;
    }
  }

  label {
    position: absolute;
    font-size: 14px;
    font-weight: 700;
    color: var(--vitamui-primary) !important;
    letter-spacing: 0.1px;
    line-height: 10px;
    white-space: nowrap;
    transform-origin: left;
    transition: transform $anim-timing;

    .required-marker {
      color: var(--vitamui-red);
    }
  }

  input,
  textarea {
    font-size: 16px;
    font-weight: 400;
    color: var(--vitamui-grey-900);
    background: none;
    border: none;
    outline: none;
    line-height: 24px;
  }

  input {
    line-height: 18px;
    transform-origin: left;
    transition: margin $anim-timing;
    width: 100%;
  }

  &.vitamui-date {
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    .mat-form-field-underline {
      display: none;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    .mat-form-field-label {
      .mat-placeholder-required {
        color: var(--vitamui-red);
      }
    }
    .mat-mdc-icon-button {
      font-size: 25px !important;
      .mat-icon {
        font-size: 25px !important;
      }
    }
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    .mat-form-field-label span {
      line-height: 15px;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    .mat-form-field-flex {
      background-color: unset;
    }

    &.mat-form-field-disabled {
      background-color: var(--vitamui-grey-300);
      border: none !important;
      @include elevation.shadow-0;
    }

    .mat-mdc-input-element {
      color: unset;
    }
  }

  textarea {
    resize: none;
    width: 100%;
    height: 80%;
  }

  &.disabled > * {
    color: var(--vitamui-grey-700);

    input {
      color: var(--vitamui-grey-900);
    }
  }

  &:not(:has(.focus-within-zone)):focus-within,
  &:has(.focus-within-zone:focus-within),
  .focused &,
  &.focused,
  .vitamui-focused & {
    border: 1px solid var(--vitamui-primary);
  }

  .ng-invalid.ng-touched:not(form) &,
  &.ng-invalid.ng-touched:not(form) {
    border: 1px solid var(--vitamui-red);
  }
}

.vitamui-focused .vitamui-input,
.vitamui-input:not(:has(.focus-within-zone)):focus-within,
.vitamui-input:has(.focus-within-zone:focus-within),
.vitamui-float .vitamui-input,
.vitamui-float.vitamui-input {
  label:first-of-type {
    transform: scale((12 / 14)) translateY(-12px);
  }

  input {
    padding: 0;
    padding-top: 15px !important;
  }
  textarea {
    margin-top: 25px;
    padding: 0;
  }
}
