.vitamui-sidepanel {
  background: white;
  margin-top: 72px; // header height
  width: 584px;
}

.extended-vitamui-sidepanel {
  background: white;
  margin-top: 72px; // header height
  width: 100%;
}

.vitamui-sidepanel-body {
  font-size: 16px;
  background-color: var(--vitamui-background);
  color: var(--vitamui-grey-900);
  position: absolute;
  right: 0;
  left: 0;
  overflow: auto;
  .mat-mdc-tab-body-wrapper {
    height: 100%;
  }
}

.mat-drawer-content {
  background-color: var(--vitamui-background);
}

.overflow-none.mat-drawer-content {
  overflow: visible;
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}
