@use './variables/bootstrap-variables' as bootstrap;

@mixin gap($gap) {
  display: flex;
  gap: $gap;
  flex-direction: column;
  align-items: flex-start;
}

@mixin hgap($gap) {
  display: flex;
  gap: $gap;
  flex-direction: row;
  align-items: center;
}

@each $size, $length in bootstrap.$spacers {
  .gap-#{$size}:not(.row) {
    @include gap($length);
  }
  .hgap-#{$size}:not(.row) {
    @include hgap($length);
  }

  .gap-#{$size}.row {
    row-gap: $length;
  }
}

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $length in bootstrap.$spacers {
    .#{$abbrev}-#{$size} {
      #{$prop}: $length !important;
    }
    .#{$abbrev}t-#{$size},
    .#{$abbrev}y-#{$size} {
      #{$prop}-top: $length !important;
    }
    .#{$abbrev}r-#{$size},
    .#{$abbrev}x-#{$size} {
      #{$prop}-right: $length !important;
    }
    .#{$abbrev}b-#{$size},
    .#{$abbrev}y-#{$size} {
      #{$prop}-bottom: $length !important;
    }
    .#{$abbrev}l-#{$size},
    .#{$abbrev}x-#{$size} {
      #{$prop}-left: $length !important;
    }
  }
}
