print("START 01_archive.js");

// +++++++++++++++++++++++++++++++++++++++ IAM DATABASE +++++++++++++++++++++++++++++++++++++++

print("INFO 01_archive.js : START iam database update");

db = db.getSiblingDB('{{ mongodb.iam.db }}')

// ========================================= PROFILES =========================================

// ----------------------------------------- LEVEL "0" -----------------------------------------

db.profiles.update(
    { "_id" : "system_archive_profile" },
    {
        "$set" : {
            "identifier" : NumberInt(22),
              "name": "Archive Profile",
              "description": "Archive Profile",
              "tenantIdentifier": NumberInt({{ vitamui_platform_informations.proof_tenant }}),
              "applicationName": "ARCHIVE_MANAGEMENT_APP",
              "level": "",
              "enabled": true,
              "readonly": false,
              "customerId": "system_customer",
              "roles": [
              {"name": "ROLE_CREATE_ARCHIVE"},
              {"name": "ROLE_GET_ARCHIVE"},
              {"name": "ROLE_GET_ALL_ARCHIVE"}
               ]
        },
        "$setOnInsert": {
            "_id" : "system_archive_profile"
        }
    },
    { "upsert":true }
);

// ========================================= GROUPS =========================================

// ----------------------------------------- LEVEL "0" -----------------------------------------

db.groups.updateOne(
	{
		"_id": "admin_group",
		"profileIds": { $nin: ["system_archive_profile"] }
	},
	{
		$addToSet: {"profileIds": "system_archive_profile" }
	},
	{
		"upsert": false
	}
);

db.groups.updateOne(
	{
		"_id": "super_admin_group",
		"profileIds": { $nin: ["system_archive_profile"] }
	},
	{
		$addToSet: {"profileIds": "system_archive_profile" }
	},
	{
		"upsert": false
	}
);

// ====================================== APPLICATIONS ======================================


db.applications.update(
    { "identifier" : "ARCHIVE_MANAGEMENT_APP" },
    {
        "$set" : {
{% if vitamui.archive.base_url is defined %}
        	"url": "{{ vitamui.archive.base_url }}/archive",
{% else %}
            "url" : "{{ url_prefix }}/archive/archive",
{% endif %}
            "icon": "vitamui-icon vitamui-icon-archive-archive",
             "name": "Dépôt et suivi des versements",
             "category": "ingests",
             "position": NumberInt(1),
             "hasCustomerList": false,
             "hasTenantList": false,
             "hasHighlight": false,
             "tooltip": "Consultation des versements ou création d'un nouveau versement",
             "target": "_self"
        },
        "$setOnInsert": {
            "identifier" : "ARCHIVE_MANAGEMENT_APP"
        }
    },
    { "upsert":true }
);

print("INFO 01_archive.js : END iam database update");

// +++++++++++++++++++++++++++++++++++++++ SECURITY DATABASE ++++++++++++++++++++++++++++++++++

db = db.getSiblingDB('{{ mongodb.security.db }}')

print("INFO 01_archive.js : START security update");

db.contexts.update(
    { "_id" : "ui_archive_context" },
    {
        "$set" : {
            "name": "Contexte UI Archive",
             "fullAccess" : true,
             "tenants" : [NumberInt({{ vitamui_platform_informations.proof_tenant }}), NumberInt({{ vitamui_platform_informations.cas_tenant }})],
             "roleNames" : [
                 "ROLE_CREATE_ARCHIVE", "ROLE_GET_ARCHIVE", "ROLE_GET_ALL_ARCHIVE"
                ]
        },
        "$setOnInsert": {
            "_id" : "ui_archive_context"
        }
    },
    { "upsert":true }
);


{% macro insertCertififcate(pemFile, contextId) -%}
db.certificates.remove(
    {"_id" : "{{ pemFile | basename | replace('.pem','_cert')}}"},
    { justOne: true }
)
db.certificates.insert({
    "_id": "{{ pemFile | basename | replace('.pem','_cert')}}",
    "contextId": "{{ contextId }}",
    "subjectDN": "subjectDN",
    "issuerDN": "issuerDN",
    "serialNumber": "serialNumberAdmin",
    "data": "{{ lookup('file', pemFile) | cert_to_str() }}"
})

{%- endmacro %}

{{ insertCertififcate('{{ inventory_dir }}/certs/server/hosts/{{ groups["hosts_ui_archive"]|first }}/ui-archive.pem', 'ui_archive_context') }}

print("INFO 01_archive.js : END security update");

// +++++++++++++++++++++++++++++++++++++++ CAS DATABASE +++++++++++++++++++++++++++++++++++++++

print("INFO 01_archive.js : START cas database update");
db = db.getSiblingDB('{{ mongodb.cas.db }}')


db.services.update(
    { "_id" :  NumberInt(4) },
    {
        "$set" : {
            "_class": "org.apereo.cas.services.RegexRegisteredService",
        	"serviceId": "^{{ vitamui.archive.base_url | default(url_prefix) }}/archive/.*",
            "name": "Archive Application",
            "logoutType" : "FRONT_CHANNEL",
            "logoutUrl": "{{ vitamui.archive.base_url | default(url_prefix) }}/archive/logout",
            "attributeReleasePolicy": {
                "_class": "org.apereo.cas.services.ReturnAllAttributeReleasePolicy"
            }
        },
        "$setOnInsert": {
            "_id" :  NumberInt(4)
        }
    },
    { "upsert":true }
);

print("INFO 01_archive.js : END cas database update");


print("END 01_archive.js");
