<div vitamuiCommonInfiniteScroll (vitamuiScroll)="onScroll()">
  <div class="vitamui-table">
    <div class="vitamui-table-head">
      <div class="col-1 d-flex align-items-center">
        <i class="vitamui-icon vitamui-icon-agent vitamui-row-icon"></i>
      </div>

      <div class="col-3 d-flex align-items-center justify-content-between">
        <span>{{ 'AGENCY.HOME.ARRAY.IDENTIFIER' | translate }}</span>
        <vitamui-common-order-by-button
          orderByKey="Identifier"
          [(orderBy)]="orderBy"
          [(direction)]="direction"
          (orderChange)="orderChange.next()"
        >
        </vitamui-common-order-by-button>
      </div>

      <div class="col-3 d-flex align-items-center">
        <span>{{ 'AGENCY.HOME.ARRAY.NAME' | translate }}</span>
      </div>

      <div class="col-5 d-flex align-items-center">
        <span>{{ 'AGENCY.HOME.ARRAY.DESCRIPTION' | translate }}</span>
      </div>
    </div>

    <div class="vitamui-table-body">
      <div class="vitamui-table-rows" *ngFor="let agency of dataSource" (click)="agencyClick.emit(agency)">
        <div class="vitamui-row d-flex align-items-center clickable">
          <div class="col-1 d-flex align-items-center">
            <i class="vitamui-icon vitamui-icon-agent"></i>
          </div>
          <div class="col-3" vitamuiCommonEllipsis>{{ agency.identifier }}</div>
          <div class="col-3" vitamuiCommonEllipsis>{{ agency.name }}</div>
          <div class="col-5 actions">
            <span vitamuiCommonEllipsis>{{ agency.description }}</span>
            <div>
              <button
                class="btn btn-circle primary"
                [disabled]="!hasDeleteRole"
                (click)="$event.stopPropagation(); deleteAgencyDialog(agency)"
              >
                <i class="vitamui-icon vitamui-icon-delete btn-icon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!dataSource || pending; then loadingSpinner"></div>
  <div *ngIf="!pending && dataSource?.length ===  0 then noResults"></div>
</div>

<ng-template #loadingSpinner>
  <div class="vitamui-min-content">
    <mat-spinner class="vitamui-spinner medium"></mat-spinner>
  </div>
</ng-template>

<ng-template #noResults>
  <div class="vitamui-min-content vitamui-table-message">{{'COMMON.NO_RESULT' | translate}}</div>
 </ng-template>

<ng-template #confirmDeleteDialog>
  <vitamui-common-confirm-dialog
    dialogTitle="{{ 'AGENCY.HOME.DELETE_CONFIM_DIALOG.TITLE' | translate }}"
    confirmLabel="{{ 'COMMON.CONFIRM' | translate }}"
    cancelLabel="{{ 'COMMON.CANCEL' | translate }}"
  >
    {{ 'AGENCY.HOME.DELETE_CONFIM_DIALOG.MESSAGE' | translate: {name: agencyToDelete?.name} }}
  </vitamui-common-confirm-dialog>
</ng-template>
