ssl_certificate {{ nginx_ssl_dir }}/reverse.crt;
ssl_certificate_key {{ nginx_ssl_dir }}/reverse.key;
# Password file for ssl cert
ssl_password_file {{ nginx_ssl_dir }}/reverse.key_pass;

# proxy_ssl_verify on;
# proxy_ssl_verify_depth 2;
# proxy_ssl_trusted_certificate {{ nginx_ssl_dir }}/vitamui-ca-bundle.pem;

ssl_prefer_server_ciphers on;
ssl_session_cache shared:SSL:10m;

ssl_protocols TLSv1.2 TLSv1.3;
ssl_ciphers ECDHE-RSA-AES256-GCM-SHA512:DHE-RSA-AES256-GCM-SHA512:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384;

ssl_dhparam {{ nginx_ssl_dir }}/dhparam.pem;
ssl_ecdh_curve secp384r1;
