<vitamui-dialog-header
  [stepper]="stepper"
  [subhead]="'COLLECT.ADD_UNITS.TITLE' | translate"
  [title]="['COLLECT.ADD_UNITS.UPLOAD_FILES_TITLE' | translate, 'COLLECT.ADD_UNITS.ATTACHMENT_POSITION_TITLE' | translate]"
></vitamui-dialog-header>

<vitamui-common-stepper #stepper>
  <!-- stepIndex 1 : upload de fichier -->
  <cdk-step>
    <mat-dialog-content>
      @if (isLoading) {
        <div class="vitamui-min-content">
          <mat-spinner class="vitamui-spinner large"></mat-spinner>
        </div>
      } @else {
        <vitamui-file-selector
          [multiple]="true"
          [maxSizeInBytes]="maxSizeInBytes"
          [directoryMode]="true"
          (filesChanged)="setFilesToUpload($event)"
        >
        </vitamui-file-selector>
      }
    </mat-dialog-content>

    <mat-dialog-actions>
      <vitamui-next-step [disabled]="filesToUpload.length < 1"></vitamui-next-step>
      <button (click)="cancel()" class="btn cancel link" type="button">
        {{ 'COMMON.UNDO' | translate }}
      </button>
    </mat-dialog-actions>
  </cdk-step>

  <!-- stepIndex 2 : Définir la position fixe de rattachement -->
  <cdk-step>
    <mat-dialog-content>
      <div class="main-content">
        <div class="form-group">
          @if (projectUnits) {
            <vitamui-library-filing-plan [mode]="FilingPlanMode.SOLO" [formControl]="linkParentIdControl" [dataSource]="projectUnits">
            </vitamui-library-filing-plan>
          }
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div>
        <button (click)="validateAndUpload()" [disabled]="isLoading" class="btn primary" type="button">
          {{ 'COMMON.SUBMIT' | translate }}
        </button>
        <button (click)="cancel()" [disabled]="isLoading" class="btn cancel link" type="button">
          {{ 'COMMON.UNDO' | translate }}
        </button>
      </div>
      <vitamui-previous-step></vitamui-previous-step>
    </mat-dialog-actions>
  </cdk-step>
</vitamui-common-stepper>

<ng-template #confirmCancelDialog>
  <vitamui-dialog-header [title]="'COLLECT.UPDATE_UNITS_METADATA.CANCEL_UPDATE_TO_CONFIRM' | translate"></vitamui-dialog-header>
  <mat-dialog-actions>
    <button (click)="close(false)" class="btn primary btn-confirm-dialog">
      {{ 'COLLECT.UPDATE_UNITS_METADATA.CONFIRM' | translate }}
    </button>
    <button type="button" (click)="closeConfirmDialog()" class="btn cancel link">
      {{ 'COLLECT.UPDATE_UNITS_METADATA.UPDATE_CANCEL' | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>
