<vitamui-dialog-header
  [stepper]="stepper"
  [subhead]="'COLLECT.ADD_UNITS.TITLE' | translate"
  [title]="[
    'COLLECT.ADD_UNITS.UPLOAD_FILES_TITLE' | translate,
    'COLLECT.ADD_UNITS.ATTACHMENT_POSITION_TITLE' | translate,
    'COLLECT.MODAL.UPLOAD_FILES' | translate,
  ]"
></vitamui-dialog-header>

<vitamui-stepper #stepper [(selectedIndex)]="stepIndex">
  <!-- stepIndex 1 : upload de fichier -->
  <cdk-step>
    <mat-dialog-content>
      @if (isLoading) {
        <div class="vitamui-min-content">
          <mat-spinner class="vitamui-spinner large"></mat-spinner>
        </div>
      } @else {
        <div class="main-content">
          <div class="gap-6">
            <vitamui-select
              class="w-100"
              [placeholder]="'COLLECT.MODAL.IMPORT_TYPE_PLACEHOLDER' | translate"
              [formControl]="importTypeControl"
              [options]="[
                { key: 'DIRECTORIES_FILES', label: 'COLLECT.MODAL.IMPORT_TYPE_DIRECTORIES_FILES_V0' | translate },
                { key: 'COMPRESSED', label: 'COLLECT.MODAL.IMPORT_TYPE_COMPRESSED' | translate },
                { key: 'SIP', label: 'COLLECT.MODAL.IMPORT_SIP_ARCHIVES_PACKAGE' | translate },
              ]"
              [enableSearch]="false"
              (change)="resetFilesToImportList()"
              required
            >
            </vitamui-select>
            @if (importType === ImportType.DIRECTORIES_FILES) {
              <vitamui-file-selector
                class="w-100"
                [directoryMode]="true"
                [maxSizeInBytes]="uploadMaxSizeInBytes"
                [multiple]="true"
                [formControl]="filesToUploadControl"
              >
              </vitamui-file-selector>
            }
            @if (importType === ImportType.COMPRESSED || importType === ImportType.SIP) {
              <vitamui-file-selector class="w-100" [extensions]="['.zip']" [formControl]="filesToUploadControl"> </vitamui-file-selector>
            }
          </div>
        </div>
      }
    </mat-dialog-content>

    <mat-dialog-actions>
      <vitamui-next-step [disabled]="filesToUploadControl.invalid"></vitamui-next-step>
      <button (click)="cancel()" class="btn cancel link" type="button">
        {{ 'COMMON.UNDO' | translate }}
      </button>
    </mat-dialog-actions>
  </cdk-step>

  <!-- stepIndex 2 : Définir la position fixe de rattachement -->
  <cdk-step>
    <mat-dialog-content>
      <div class="main-content">
        <div class="form-group">
          @if (projectUnits && (importType === ImportType.DIRECTORIES_FILES || importType === ImportType.COMPRESSED)) {
            <vitamui-library-filing-plan [mode]="FilingPlanMode.SOLO" [formControl]="linkParentIdControl" [dataSource]="projectUnits">
            </vitamui-library-filing-plan>
          } @else if (importType === ImportType.SIP) {
            <span class="text meduim">
              {{ 'COLLECT.MODAL.ARCHIVE_POSITION_MSG_FOR_SIP' | translate }}
            </span>
          }
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div>
        <button (click)="validateAndUpload()" [disabled]="isLoading" class="btn primary" type="button">
          {{ 'COMMON.SUBMIT' | translate }}
        </button>
        <button (click)="cancel()" [disabled]="isLoading" class="btn cancel link" type="button">
          {{ 'COMMON.UNDO' | translate }}
        </button>
      </div>
      <vitamui-previous-step></vitamui-previous-step>
    </mat-dialog-actions>
  </cdk-step>

  <!-- stepIndex 3 : Zip des fichiers et upload -->
  <cdk-step>
    <mat-dialog-content>
      <div class="main-content">
        <table>
          <thead>
            <tr>
              <th>{{ 'COLLECT.UPLOAD.ZIP_NAME' | translate }}</th>
              <th>{{ 'COLLECT.UPLOAD.WEIGHT' | translate }}</th>
              <th>{{ 'COLLECT.UPLOAD.ZIP_TRACKING_TITLE' | translate }}</th>
              <th>{{ 'COLLECT.UPLOAD.STATUS' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="zipFileStatus$ | async as zippedFile">
              <td>{{ zippedFile?.name }}</td>
              <td>{{ zippedFile?.size | fileSize }}</td>
              <td>
                <vitamui-common-progress-bar [percent]="zippedFile?.currentFileUploadedSize"></vitamui-common-progress-bar>
              </td>
              <td>
                <vitamui-common-progress-bar [percent]="zippedFile?.uploadedSize"></vitamui-common-progress-bar>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button (click)="close(true)" [disabled]="isLoading" class="btn primary" type="button">
        {{ 'COMMON.CLOSE' | translate }}
      </button>
    </mat-dialog-actions>
  </cdk-step>
</vitamui-stepper>

<ng-template #confirmCancelDialog>
  <vitamui-dialog-header [title]="'COLLECT.UPDATE_UNITS_METADATA.CANCEL_UPDATE_TO_CONFIRM' | translate"></vitamui-dialog-header>
  <mat-dialog-actions>
    <button (click)="close(false)" class="btn primary btn-confirm-dialog">
      {{ 'COLLECT.UPDATE_UNITS_METADATA.CONFIRM' | translate }}
    </button>
    <button type="button" (click)="closeConfirmDialog()" class="btn cancel link">
      {{ 'COLLECT.UPDATE_UNITS_METADATA.UPDATE_CANCEL' | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>
