.download-link {
  padding-top: 30px;
  padding-left: 60px;
  color: var(--vitamui-primary);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-decoration-line: underline;
  cursor: pointer;
}
