<div class="vitamui-dialog-subtable">
  <div class="vitamui-dialog-subtable-header d-flex">
    <div class="col-4">Description</div>
    <div class="col-3">Niveau</div>
    <div class="col-5">Profils</div>
  </div>

  <div class="vitamui-dialog-subtable-body">
    <div class="vitamui-dialog-subtable-rows">
      <div class="vitamui-dialog-subtable-row d-flex">
        <div class="col-4">{{ displayedGroup?.description }}</div>
        <div class="col-3">{{ displayedGroup?.level }}</div>
        <div class="col-5">
          <div class="d-flex justify-content-between align-items-center py-1 px-2 mb-2 vitamui-profile-list" *ngFor="let profile of displayedGroup?.profiles">
            <div>
              <div class="profile-value">{{ profile?.name | titlecase }}</div>
            </div>
            <div>
              <div class="material-icons clickable text-primary" [matTooltip]="profile?.description" matTooltipClass="vitamui-tooltip">
                info_outline
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
