
.vitamui-dialog-subtable {
    .vitamui-dialog-subtable-header {
        font-size: 14px;
        font-weight: bold;
        height: 30px;
    }
  
    .vitamui-dialog-subtable-rows {
      .vitamui-dialog-subtable-row {
        font-size: 14px;
        font-weight: normal;
      }
    }
}
