<div class="pb-4" [ngClass]="extended ? 'extended-vitamui-sidepanel' : 'vitamui-sidepanel'">
  <div class="vitamui-sidepanel-header">
    <div class="toolbar">
      <button class="btn link cancel" (click)="onclose.emit()">
        <i class="vitamui-icon vitamui-icon-close"></i>
      </button>
    </div>

    @if (loading) {
      <div class="d-flex justify-content-center">
        <mat-spinner class="vitamui-spinner medium"></mat-spinner>
      </div>
    } @else {
      <div
        class="main-wrapper hgap-2"
        [vitamuiTooltip]="hasToolTipOnTitle && toolTipTitleText ? toolTipTitleText : null"
        [vitamuiTooltipPosition]="hasToolTipOnTitle && toolTipTitleText ? TooltipPosition.BOTTOM : null"
      >
        <i
          class="vitamui-icon {{ icon }}"
          [ngClass]="{
            'status-badge-red': badge === 'red',
            'status-badge-green': badge === 'green',
            'status-badge-grey': badge === 'grey',
            'status-badge-orange': badge === 'orange',
            'status-badge-black': badge === 'black',
          }"
        >
        </i>

        <div class="title-wrapper">
          <h5 class="title" [ngClass]="{ 'text-primary': hasToolTipOnTitle && toolTipTitleText }">
            {{ title }}
          </h5>

          <div
            class="subtitle"
            [ngClass]="{
              'text large light': hasToolTipOnTitle && toolTipTitleText,
              'text medium': !(hasToolTipOnTitle && toolTipTitleText),
            }"
          >
            {{ subtitle }}
          </div>
        </div>

        @if (!actionsBelowTitle) {
          <div class="title-actions">
            <ng-container *ngTemplateOutlet="actionButtons"></ng-container>
          </div>
        }
      </div>

      @if (actionsBelowTitle) {
        <div class="actions-container">
          <ng-container *ngTemplateOutlet="actionButtons"></ng-container>
        </div>
      }
    }
  </div>
</div>

<ng-template #actionButtons>
  <ng-content></ng-content>
</ng-template>
