@import '../../../assets/css/mixins';

.vitamui-mat-select {
  width: 100%;
}

.icon-close {
  text-align: right;
  margin-top: 6px;
  margin-right: 2%;
  float: right;
}

.btn-container{
  margin-top: 15px;
  margin-left: -40px;
}

.text-enregistrement{
  position: static;
  height: 22px;
  left: 0;
  top: 0;

  /* Text/Text-normal */
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  /* identical to box height, or 157% */
  letter-spacing: 0.1px;

  /* Secondary/Secondary-900 */
  color: #050C15;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0;
}

.pastis-form{
  margin-left:30px;
}

.pastis-dialog-config-title {
  bottom: 10px;
  position: relative;
}

.pastis-dialog-title {
  @extend .pastis-font-popup-title;
  /* Positioning */
  position: relative;
  margin-left: 5%;
  margin-right: 40px;
  margin-top: 10px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: var(--vitamui-grey-900);
}

.pastis-dialog-content {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: var(--vitamui-grey-900);
}

.pastis-dialog-subtitle {
  @extend .pastis-font-popup-subtitle;
  position: relative;
  margin-left: 5%;
  margin-right: 40px;
  margin-bottom: 0;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--vitamui-grey-600);
}


.pastis-dialog-confirm-buttons {
  position: relative;
  margin-left: 5%;
  margin-bottom: 10px;
}

.pastis-btn-oui-dialog-confirm {
  font-family: Mulish !important;
  border-radius: 100px;
  padding-left: 30px;
  padding-right: 30px;
  min-width: 92px;
  height: 50px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  @extend .pastis-btn-primary-enabled;
}

.pastis-btn-oui-dialog-confirm:hover:not([disabled]) {
  @extend .pastis-btn-primary-hover;
}

.pastis-btn-oui-dialog-confirm:active {
  @extend .pastis-btn-primary-focus;
}

.pastis-btn-oui-dialog-confirm:disabled {
  @extend .pastis-btn-primary-disabled;
}

.pastis-btn-non-dialog-confirm {
  padding-left: 30px;
  padding-right: 30px;
  min-width: 92px;
  height: 50px;
  margin-left: 24px;
  border: 0;
  background-color: transparent;
  color: var(--vitamui-grey-900);
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.pastis-btn-non-dialog-confirm:active {
  border: 0;
}
