@font-face {
  font-family: 'vitamui-icon';
  src:  url('fonts/vitamui-icon.eot?r1fmvv');
  src:  url('fonts/vitamui-icon.eot?r1fmvv#iefix') format('embedded-opentype'),
    url('fonts/vitamui-icon.ttf?r1fmvv') format('truetype'),
    url('fonts/vitamui-icon.woff?r1fmvv') format('woff'),
    url('fonts/vitamui-icon.svg?r1fmvv#vitamui-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i.vitamui-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vitamui-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vitamui-icon-filing-plan:before {
  content: "\ea7a";
}
.vitamui-icon-add-basket:before {
  content: "\ea74";
}
.vitamui-icon-export-result:before {
  content: "\ea75";
}
.vitamui-icon-download-basic:before {
  content: "\ea76";
}
.vitamui-icon-mobile:before {
  content: "\ea78";
}
.vitamui-icon-gestion-de-profil:before {
  content: "\ea79";
}
.vitamui-icon-app_unknown .path1:before {
  content: "\ea4d";
  color: rgb(226, 226, 225);
}
.vitamui-icon-app_unknown .path2:before {
  content: "\ea56";
  margin-left: -1.3505859375em;
  color: rgb(154, 154, 154);
}
.vitamui-icon-app_unknown .path3:before {
  content: "\ea57";
  margin-left: -1.3505859375em;
  color: rgb(197, 197, 197);
}
.vitamui-icon-app_unknown .path4:before {
  content: "\ea58";
  margin-left: -1.3505859375em;
  color: rgb(239, 239, 239);
}
.vitamui-icon-app_unknown .path5:before {
  content: "\ea5a";
  margin-left: -1.3505859375em;
  color: rgb(197, 197, 197);
}
.vitamui-icon-app_unknown .path6:before {
  content: "\ea5b";
  margin-left: -1.3505859375em;
  color: rgb(154, 154, 154);
}
.vitamui-icon-app_unknown .path7:before {
  content: "\ea5c";
  margin-left: -1.3505859375em;
  color: rgb(197, 197, 197);
}
.vitamui-icon-app_unknown .path8:before {
  content: "\ea5d";
  margin-left: -1.3505859375em;
  color: rgb(197, 197, 197);
}
.vitamui-icon-app_unknown .path9:before {
  content: "\ea5e";
  margin-left: -1.3505859375em;
  color: rgb(197, 197, 197);
}
.vitamui-icon-app_unknown .path10:before {
  content: "\ea5f";
  margin-left: -1.3505859375em;
  color: rgb(239, 239, 239);
}
.vitamui-icon-app_unknown .path11:before {
  content: "\ea60";
  margin-left: -1.3505859375em;
  color: rgb(197, 197, 197);
}
.vitamui-icon-app_unknown .path12:before {
  content: "\ea61";
  margin-left: -1.3505859375em;
  color: rgb(154, 154, 154);
}
.vitamui-icon-app_unknown .path13:before {
  content: "\ea62";
  margin-left: -1.3505859375em;
  color: rgb(133, 133, 133);
}
.vitamui-icon-app_unknown .path14:before {
  content: "\ea63";
  margin-left: -1.3505859375em;
  color: rgb(133, 133, 133);
}
.vitamui-icon-app_unknown .path15:before {
  content: "\ea64";
  margin-left: -1.3505859375em;
  color: rgb(18, 123, 102);
}
.vitamui-icon-app_unknown .path16:before {
  content: "\ea65";
  margin-left: -1.3505859375em;
  color: rgb(18, 123, 102);
}
.vitamui-icon-app_unknown .path17:before {
  content: "\ea66";
  margin-left: -1.3505859375em;
  color: rgb(18, 123, 102);
}
.vitamui-icon-app_unknown .path18:before {
  content: "\ea67";
  margin-left: -1.3505859375em;
  color: rgb(18, 123, 102);
}
.vitamui-icon-app_unknown .path19:before {
  content: "\ea68";
  margin-left: -1.3505859375em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app_unknown .path20:before {
  content: "\ea69";
  margin-left: -1.3505859375em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_unknown .path21:before {
  content: "\ea6a";
  margin-left: -1.3505859375em;
  color: rgb(156, 210, 206);
}
.vitamui-icon-app_unknown .path22:before {
  content: "\ea6b";
  margin-left: -1.3505859375em;
  color: rgb(18, 123, 102);
}
.vitamui-icon-app_unknown .path23:before {
  content: "\ea6c";
  margin-left: -1.3505859375em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_unknown .path24:before {
  content: "\ea6d";
  margin-left: -1.3505859375em;
  color: rgb(18, 123, 102);
}
.vitamui-icon-app_unknown .path25:before {
  content: "\ea6f";
  margin-left: -1.3505859375em;
  color: rgb(240, 240, 240);
}
.vitamui-icon-app_unknown .path26:before {
  content: "\ea70";
  margin-left: -1.3505859375em;
  color: rgb(240, 240, 240);
}
.vitamui-icon-app_unknown .path27:before {
  content: "\ea71";
  margin-left: -1.3505859375em;
  color: rgb(255, 255, 255);
}
.vitamui-icon-add:before {
  content: "\ea4b";
}
.vitamui-icon-anomalie:before {
  content: "\ea4c";
}
.vitamui-icon-arrow-back:before {
  content: "\ea4e";
  color: #757575;
}
.vitamui-icon-attribution-liste .path1:before {
  content: "\ea4f";
  color: none;
}
.vitamui-icon-attribution-liste .path2:before {
  content: "\ea50";
  margin-left: -1em;
  color: none;
}
.vitamui-icon-attribution-liste .path3:before {
  content: "\ea51";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.vitamui-icon-attribution-liste .path4:before {
  content: "\ea52";
  margin-left: -1em;
  color: rgb(117, 117, 117);
}
.vitamui-icon-attribution-liste .path5:before {
  content: "\ea53";
  margin-left: -1em;
  color: rgb(117, 117, 117);
}
.vitamui-icon-attribution-liste .path6:before {
  content: "\ea54";
  margin-left: -1em;
  color: rgb(117, 117, 117);
}
.vitamui-icon-attribution-liste .path7:before {
  content: "\ea55";
  margin-left: -1em;
  color: rgb(117, 117, 117);
}
.vitamui-icon-bordereau:before {
  content: "\ea59";
}
.vitamui-icon-calendar:before {
  content: "\ea6e";
}
.vitamui-icon-chevron-down:before {
  content: "\ea7b";
}
.vitamui-icon-chevron-down-1:before {
  content: "\ea7c";
}
.vitamui-icon-chevron-left:before {
  content: "\ea7d";
}
.vitamui-icon-chevron-up:before {
  content: "\ea7e";
}
.vitamui-icon-chevron-up-1:before {
  content: "\ea7f";
}
.vitamui-icon-client-proprietaire:before {
  content: "\ea82";
}
.vitamui-icon-close:before {
  content: "\ea83";
  color: #757575;
}
.vitamui-icon-comment:before {
  content: "\ea86";
}
.vitamui-icon-consultation-produit:before {
  content: "\ea87";
}
.vitamui-icon-content-copy:before {
  content: "\ea88";
}
.vitamui-icon-delete:before {
  content: "\ea8a";
}
.vitamui-icon-desktop:before {
  content: "\ea8c";
}
.vitamui-icon-document-seriel:before {
  content: "\ea8d";
}
.vitamui-icon-done:before {
  content: "\ea95";
}
.vitamui-icon-dossier-fichier:before {
  content: "\ea98";
}
.vitamui-icon-dossier-solidaire:before {
  content: "\ea9e";
}
.vitamui-icon-edit:before {
  content: "\ea9f";
}
.vitamui-icon-Edition:before {
  content: "\eaa0";
}
.vitamui-icon-edit-off:before {
  content: "\eaa1";
}
.vitamui-icon-entree:before {
  content: "\eaa2";
}
.vitamui-icon-filter-list:before {
  content: "\eaa6";
}
.vitamui-icon-flux-industriel-refus .path1:before {
  content: "\eab0";
  color: rgb(117, 117, 117);
}
.vitamui-icon-flux-industriel-refus .path2:before {
  content: "\eab1";
  margin-left: -1em;
  color: rgb(117, 117, 117);
}
.vitamui-icon-flux-industriel-refus .path3:before {
  content: "\eab2";
  margin-left: -1em;
  color: rgb(97, 97, 97);
}
.vitamui-icon-flux-industriel-refus .path4:before {
  content: "\eab3";
  margin-left: -1em;
  color: none;
}
.vitamui-icon-flux-industriel-refus .path5:before {
  content: "\eab4";
  margin-left: -1em;
  color: none;
}
.vitamui-icon-flux-manuel-refus .path1:before {
  content: "\eaba";
  color: rgb(117, 117, 117);
}
.vitamui-icon-flux-manuel-refus .path2:before {
  content: "\eabb";
  margin-left: -1em;
  color: rgb(117, 117, 117);
}
.vitamui-icon-flux-manuel-refus .path3:before {
  content: "\eabc";
  margin-left: -1em;
  color: rgb(117, 117, 117);
}
.vitamui-icon-flux-manuel-refus .path4:before {
  content: "\eabd";
  margin-left: -1em;
  color: rgb(97, 97, 97);
}
.vitamui-icon-flux-manuel-refus .path5:before {
  content: "\eabe";
  margin-left: -1em;
  color: none;
}
.vitamui-icon-flux-manuel-refus .path6:before {
  content: "\eabf";
  margin-left: -1em;
  color: none;
}
.vitamui-icon-gele:before {
  content: "\eac1";
}
.vitamui-icon-gestion-profil:before {
  content: "\eac2";
}
.vitamui-icon-home:before {
  content: "\eac4";
}
.vitamui-icon-home-add:before {
  content: "\eac5";
}
.vitamui-icon-import-export:before {
  content: "\eaca";
}
.vitamui-icon-info:before {
  content: "\eacb";
}
.vitamui-icon-lock-open:before {
  content: "\eacc";
}
.vitamui-icon-more-horiz:before {
  content: "\eacd";
}
.vitamui-icon-more-vert:before {
  content: "\eace";
}
.vitamui-icon-notifications:before {
  content: "\eacf";
}
.vitamui-icon-pause:before {
  content: "\ead1";
}
.vitamui-icon-phone:before {
  content: "\ead8";
}
.vitamui-icon-picking:before {
  content: "\ead9";
}
.vitamui-icon-plan-classement:before {
  content: "\eada";
}
.vitamui-icon-position:before {
  content: "\eadc";
}
.vitamui-icon-print:before {
  content: "\eadf";
}
.vitamui-icon-Rangement-Dplacement:before {
  content: "\eae3";
}
.vitamui-icon-recherche-postee:before {
  content: "\eae4";
}
.vitamui-icon-Regroupement:before {
  content: "\eae5";
}
.vitamui-icon-remove:before {
  content: "\eae6";
}
.vitamui-icon-repeat:before {
  content: "\eae7";
  color: #757575;
}
.vitamui-icon-salle:before {
  content: "\eae8";
}
.vitamui-icon-scanner:before {
  content: "\eaec";
}
.vitamui-icon-search1:before {
  content: "\eaed";
}
.vitamui-icon-serie:before {
  content: "\eaee";
}
.vitamui-icon-settings:before {
  content: "\eaf2";
}
.vitamui-icon-share:before {
  content: "\eaf3";
}
.vitamui-icon-site:before {
  content: "\eaf4";
}
.vitamui-icon-Sortie-massive:before {
  content: "\eaf5";
}
.vitamui-icon-telecharger:before {
  content: "\eaf9";
}
.vitamui-icon-tenant-add:before {
  content: "\eafb";
}
.vitamui-icon-tenant-proprietaire:before {
  content: "\eb02";
}
.vitamui-icon-transfert:before {
  content: "\eb03";
}
.vitamui-icon-Transfert-intersite:before {
  content: "\eb04";
}
.vitamui-icon-type-archives:before {
  content: "\eb09";
}
.vitamui-icon-unfold-more:before {
  content: "\eb19";
}
.vitamui-icon-Utilisateur-attribuer:before {
  content: "\eb1a";
}
.vitamui-icon-Vrification-de-contenu:before {
  content: "\eb1f";
}
.vitamui-icon-versement:before {
  content: "\eb20";
  color: #757575;
}
.vitamui-icon-visibility:before {
  content: "\eb24";
}
.vitamui-icon-workflow:before {
  content: "\eb25";
}
.vitamui-icon-app_sip_seda .path1:before {
  content: "\e95e";
  color: rgb(226, 226, 225);
}
.vitamui-icon-app_sip_seda .path2:before {
  content: "\e95f";
  margin-left: -1.3525390625em;
  color: rgb(198, 198, 198);
  opacity: 0.6;
}
.vitamui-icon-app_sip_seda .path3:before {
  content: "\e960";
  margin-left: -1.3525390625em;
  color: rgb(198, 198, 198);
  opacity: 0.6;
}
.vitamui-icon-app_sip_seda .path4:before {
  content: "\e961";
  margin-left: -1.3525390625em;
  color: rgb(135, 135, 135);
}
.vitamui-icon-app_sip_seda .path5:before {
  content: "\e962";
  margin-left: -1.3525390625em;
  color: rgb(181, 181, 181);
}
.vitamui-icon-app_sip_seda .path6:before {
  content: "\e963";
  margin-left: -1.3525390625em;
  color: rgb(135, 135, 135);
}
.vitamui-icon-app_sip_seda .path7:before {
  content: "\e964";
  margin-left: -1.3525390625em;
  color: rgb(181, 181, 181);
}
.vitamui-icon-app_sip_seda .path8:before {
  content: "\e965";
  margin-left: -1.3525390625em;
  color: rgb(100, 100, 99);
}
.vitamui-icon-app_sip_seda .path9:before {
  content: "\e966";
  margin-left: -1.3525390625em;
  color: rgb(239, 239, 239);
}
.vitamui-icon-app_sip_seda .path10:before {
  content: "\e967";
  margin-left: -1.3525390625em;
  color: rgb(239, 239, 239);
}
.vitamui-icon-app_sip_seda .path11:before {
  content: "\e968";
  margin-left: -1.3525390625em;
  color: rgb(239, 239, 239);
}
.vitamui-icon-app_sip_seda .path12:before {
  content: "\e969";
  margin-left: -1.3525390625em;
  color: rgb(239, 239, 239);
}
.vitamui-icon-app_sip_seda .path13:before {
  content: "\e96a";
  margin-left: -1.3525390625em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app_sip_seda .path14:before {
  content: "\e96b";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path15:before {
  content: "\e96c";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path16:before {
  content: "\e96d";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path17:before {
  content: "\e96e";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path18:before {
  content: "\e96f";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path19:before {
  content: "\e970";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path20:before {
  content: "\e971";
  margin-left: -1.3525390625em;
  color: rgb(195, 26, 26);
}
.vitamui-icon-app_sip_seda .path21:before {
  content: "\e972";
  margin-left: -1.3525390625em;
  color: rgb(240, 128, 68);
}
.vitamui-icon-app_sip_seda .path22:before {
  content: "\e973";
  margin-left: -1.3525390625em;
  color: rgb(142, 24, 25);
}
.vitamui-icon-app_sip_seda .path23:before {
  content: "\e974";
  margin-left: -1.3525390625em;
  color: rgb(248, 186, 162);
}
.vitamui-icon-app_sip_seda .path24:before {
  content: "\e975";
  margin-left: -1.3525390625em;
  color: rgb(248, 186, 162);
}
.vitamui-icon-app_sip_seda .path25:before {
  content: "\e976";
  margin-left: -1.3525390625em;
  color: rgb(248, 186, 162);
}
.vitamui-icon-app_sip_seda .path26:before {
  content: "\e977";
  margin-left: -1.3525390625em;
  color: rgb(248, 186, 162);
}
.vitamui-icon-app_sip_seda .path27:before {
  content: "\e978";
  margin-left: -1.3525390625em;
  color: rgb(248, 186, 162);
}
.vitamui-icon-app_sip_seda .path28:before {
  content: "\e979";
  margin-left: -1.3525390625em;
  color: rgb(248, 186, 162);
}
.vitamui-icon-app_sip_seda .path29:before {
  content: "\e97a";
  margin-left: -1.3525390625em;
  color: rgb(248, 186, 162);
}
.vitamui-icon-app_sip_seda .path30:before {
  content: "\e97b";
  margin-left: -1.3525390625em;
  color: rgb(248, 186, 162);
}
.vitamui-icon-app_sip_seda .path31:before {
  content: "\e97c";
  margin-left: -1.3525390625em;
  color: rgb(195, 26, 26);
}
.vitamui-icon-app_sip_seda .path32:before {
  content: "\e97d";
  margin-left: -1.3525390625em;
  color: rgb(1, 86, 66);
}
.vitamui-icon-app_sip_seda .path33:before {
  content: "\e97e";
  margin-left: -1.3525390625em;
  color: rgb(1, 86, 66);
}
.vitamui-icon-app_sip_seda .path34:before {
  content: "\e97f";
  margin-left: -1.3525390625em;
  color: rgb(37, 139, 123);
}
.vitamui-icon-app_sip_seda .path35:before {
  content: "\e980";
  margin-left: -1.3525390625em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app_sip_seda .path36:before {
  content: "\e981";
  margin-left: -1.3525390625em;
  color: rgb(156, 210, 206);
}
.vitamui-icon-app_sip_seda .path37:before {
  content: "\e982";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path38:before {
  content: "\e983";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path39:before {
  content: "\e984";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path40:before {
  content: "\e985";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path41:before {
  content: "\e987";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path42:before {
  content: "\e988";
  margin-left: -1.3525390625em;
  color: rgb(37, 139, 123);
}
.vitamui-icon-app_sip_seda .path43:before {
  content: "\e989";
  margin-left: -1.3525390625em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app_sip_seda .path44:before {
  content: "\e98a";
  margin-left: -1.3525390625em;
  color: rgb(156, 210, 206);
}
.vitamui-icon-app_sip_seda .path45:before {
  content: "\e98b";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path46:before {
  content: "\e98c";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path47:before {
  content: "\e98d";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path48:before {
  content: "\e98e";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path49:before {
  content: "\e98f";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path50:before {
  content: "\e9bf";
  margin-left: -1.3525390625em;
  color: rgb(37, 139, 123);
}
.vitamui-icon-app_sip_seda .path51:before {
  content: "\e9c0";
  margin-left: -1.3525390625em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app_sip_seda .path52:before {
  content: "\e9c1";
  margin-left: -1.3525390625em;
  color: rgb(156, 210, 206);
}
.vitamui-icon-app_sip_seda .path53:before {
  content: "\e9c2";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path54:before {
  content: "\e9c3";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path55:before {
  content: "\e9c4";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path56:before {
  content: "\e9c5";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path57:before {
  content: "\e9c6";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path58:before {
  content: "\e9c7";
  margin-left: -1.3525390625em;
  color: rgb(37, 139, 123);
}
.vitamui-icon-app_sip_seda .path59:before {
  content: "\e9c8";
  margin-left: -1.3525390625em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app_sip_seda .path60:before {
  content: "\e9c9";
  margin-left: -1.3525390625em;
  color: rgb(156, 210, 206);
}
.vitamui-icon-app_sip_seda .path61:before {
  content: "\e9ca";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path62:before {
  content: "\e9cb";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path63:before {
  content: "\e9cc";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path64:before {
  content: "\e9cd";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path65:before {
  content: "\e9ce";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path66:before {
  content: "\e9cf";
  margin-left: -1.3525390625em;
  color: rgb(37, 139, 123);
}
.vitamui-icon-app_sip_seda .path67:before {
  content: "\e9d0";
  margin-left: -1.3525390625em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app_sip_seda .path68:before {
  content: "\e9d1";
  margin-left: -1.3525390625em;
  color: rgb(156, 210, 206);
}
.vitamui-icon-app_sip_seda .path69:before {
  content: "\e9d2";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path70:before {
  content: "\e9d3";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path71:before {
  content: "\e9d4";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path72:before {
  content: "\e9d5";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path73:before {
  content: "\e9d6";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path74:before {
  content: "\e9d7";
  margin-left: -1.3525390625em;
  color: rgb(37, 139, 123);
}
.vitamui-icon-app_sip_seda .path75:before {
  content: "\e9d8";
  margin-left: -1.3525390625em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app_sip_seda .path76:before {
  content: "\e9d9";
  margin-left: -1.3525390625em;
  color: rgb(156, 210, 206);
}
.vitamui-icon-app_sip_seda .path77:before {
  content: "\e9da";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path78:before {
  content: "\e9db";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path79:before {
  content: "\e9dc";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path80:before {
  content: "\e9dd";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path81:before {
  content: "\e9de";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path82:before {
  content: "\e9df";
  margin-left: -1.3525390625em;
  color: rgb(37, 139, 123);
}
.vitamui-icon-app_sip_seda .path83:before {
  content: "\e9e0";
  margin-left: -1.3525390625em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app_sip_seda .path84:before {
  content: "\e9e1";
  margin-left: -1.3525390625em;
  color: rgb(156, 210, 206);
}
.vitamui-icon-app_sip_seda .path85:before {
  content: "\e9e2";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path86:before {
  content: "\e9e3";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path87:before {
  content: "\e9e4";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path88:before {
  content: "\e9e5";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path89:before {
  content: "\e9e6";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path90:before {
  content: "\e9e7";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path91:before {
  content: "\e9e8";
  margin-left: -1.3525390625em;
  color: rgb(195, 26, 26);
}
.vitamui-icon-app_sip_seda .path92:before {
  content: "\e9e9";
  margin-left: -1.3525390625em;
  color: rgb(1, 86, 66);
}
.vitamui-icon-app_sip_seda .path93:before {
  content: "\e9ea";
  margin-left: -1.3525390625em;
  color: rgb(142, 24, 25);
  opacity: 0.35;
}
.vitamui-icon-app_sip_seda .path94:before {
  content: "\e9eb";
  margin-left: -1.3525390625em;
  color: rgb(142, 24, 25);
  opacity: 0.35;
}
.vitamui-icon-app_sip_seda .path95:before {
  content: "\e9ec";
  margin-left: -1.3525390625em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app_sip_seda .path96:before {
  content: "\e9ed";
  margin-left: -1.3525390625em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app_sip_seda .path97:before {
  content: "\e9ee";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path98:before {
  content: "\e9ef";
  margin-left: -1.3525390625em;
  color: rgb(156, 210, 206);
}
.vitamui-icon-app_sip_seda .path99:before {
  content: "\e9f0";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path100:before {
  content: "\e9f1";
  margin-left: -1.3525390625em;
  color: rgb(156, 210, 206);
}
.vitamui-icon-app_sip_seda .path101:before {
  content: "\e9f2";
  margin-left: -1.3525390625em;
  color: rgb(1, 86, 66);
}
.vitamui-icon-app_sip_seda .path102:before {
  content: "\e9f3";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path103:before {
  content: "\e9f4";
  margin-left: -1.3525390625em;
  color: rgb(37, 139, 123);
}
.vitamui-icon-app_sip_seda .path104:before {
  content: "\e9f5";
  margin-left: -1.3525390625em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app_sip_seda .path105:before {
  content: "\e9f6";
  margin-left: -1.3525390625em;
  color: rgb(156, 210, 206);
}
.vitamui-icon-app_sip_seda .path106:before {
  content: "\e9f7";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path107:before {
  content: "\e9f8";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path108:before {
  content: "\e9f9";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path109:before {
  content: "\e9fa";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path110:before {
  content: "\e9fb";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path111:before {
  content: "\e9fc";
  margin-left: -1.3525390625em;
  color: rgb(1, 86, 66);
  opacity: 0.18;
}
.vitamui-icon-app_sip_seda .path112:before {
  content: "\e9fd";
  margin-left: -1.3525390625em;
  color: rgb(37, 139, 123);
}
.vitamui-icon-app_sip_seda .path113:before {
  content: "\e9fe";
  margin-left: -1.3525390625em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app_sip_seda .path114:before {
  content: "\e9ff";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path115:before {
  content: "\ea00";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path116:before {
  content: "\ea01";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path117:before {
  content: "\ea02";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path118:before {
  content: "\ea03";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path119:before {
  content: "\ea04";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path120:before {
  content: "\ea05";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path121:before {
  content: "\ea06";
  margin-left: -1.3525390625em;
  color: rgb(1, 86, 66);
}
.vitamui-icon-app_sip_seda .path122:before {
  content: "\ea07";
  margin-left: -1.3525390625em;
  color: rgb(37, 139, 123);
}
.vitamui-icon-app_sip_seda .path123:before {
  content: "\ea08";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path124:before {
  content: "\ea09";
  margin-left: -1.3525390625em;
  color: rgb(37, 139, 123);
}
.vitamui-icon-app_sip_seda .path125:before {
  content: "\ea0a";
  margin-left: -1.3525390625em;
  color: rgb(1, 86, 66);
}
.vitamui-icon-app_sip_seda .path126:before {
  content: "\ea0b";
  margin-left: -1.3525390625em;
  color: rgb(37, 139, 123);
}
.vitamui-icon-app_sip_seda .path127:before {
  content: "\ea0c";
  margin-left: -1.3525390625em;
  color: rgb(1, 86, 66);
}
.vitamui-icon-app_sip_seda .path128:before {
  content: "\ea0d";
  margin-left: -1.3525390625em;
  color: rgb(37, 139, 123);
}
.vitamui-icon-app_sip_seda .path129:before {
  content: "\ea0e";
  margin-left: -1.3525390625em;
  color: rgb(1, 86, 66);
}
.vitamui-icon-app_sip_seda .path130:before {
  content: "\ea10";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path131:before {
  content: "\ea11";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path132:before {
  content: "\ea12";
  margin-left: -1.3525390625em;
  color: rgb(156, 210, 206);
}
.vitamui-icon-app_sip_seda .path133:before {
  content: "\ea13";
  margin-left: -1.3525390625em;
  color: rgb(156, 210, 206);
}
.vitamui-icon-app_sip_seda .path134:before {
  content: "\ea14";
  margin-left: -1.3525390625em;
  color: rgb(1, 86, 66);
}
.vitamui-icon-app_sip_seda .path135:before {
  content: "\ea15";
  margin-left: -1.3525390625em;
  color: rgb(1, 86, 66);
}
.vitamui-icon-app_sip_seda .path136:before {
  content: "\ea16";
  margin-left: -1.3525390625em;
  color: rgb(37, 139, 123);
}
.vitamui-icon-app_sip_seda .path137:before {
  content: "\ea17";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path138:before {
  content: "\ea18";
  margin-left: -1.3525390625em;
  color: rgb(37, 139, 123);
}
.vitamui-icon-app_sip_seda .path139:before {
  content: "\ea19";
  margin-left: -1.3525390625em;
  color: rgb(37, 139, 123);
}
.vitamui-icon-app_sip_seda .path140:before {
  content: "\ea1a";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path141:before {
  content: "\ea1b";
  margin-left: -1.3525390625em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app_sip_seda .path142:before {
  content: "\ea1c";
  margin-left: -1.3525390625em;
  color: rgb(156, 210, 206);
}
.vitamui-icon-app_sip_seda .path143:before {
  content: "\ea1d";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path144:before {
  content: "\ea1e";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path145:before {
  content: "\ea1f";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path146:before {
  content: "\ea20";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path147:before {
  content: "\ea21";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path148:before {
  content: "\ea22";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path149:before {
  content: "\ea23";
  margin-left: -1.3525390625em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app_sip_seda .path150:before {
  content: "\ea24";
  margin-left: -1.3525390625em;
  color: rgb(156, 210, 206);
}
.vitamui-icon-app_sip_seda .path151:before {
  content: "\ea25";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path152:before {
  content: "\ea26";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path153:before {
  content: "\ea27";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path154:before {
  content: "\ea28";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path155:before {
  content: "\ea29";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path156:before {
  content: "\ea2a";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path157:before {
  content: "\ea2b";
  margin-left: -1.3525390625em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app_sip_seda .path158:before {
  content: "\ea2c";
  margin-left: -1.3525390625em;
  color: rgb(156, 210, 206);
}
.vitamui-icon-app_sip_seda .path159:before {
  content: "\ea2d";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path160:before {
  content: "\ea2f";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path161:before {
  content: "\ea30";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path162:before {
  content: "\ea31";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path163:before {
  content: "\ea32";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path164:before {
  content: "\ea33";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path165:before {
  content: "\ea34";
  margin-left: -1.3525390625em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app_sip_seda .path166:before {
  content: "\ea35";
  margin-left: -1.3525390625em;
  color: rgb(156, 210, 206);
}
.vitamui-icon-app_sip_seda .path167:before {
  content: "\ea36";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path168:before {
  content: "\ea37";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path169:before {
  content: "\ea38";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path170:before {
  content: "\ea39";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path171:before {
  content: "\ea3a";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path172:before {
  content: "\ea3b";
  margin-left: -1.3525390625em;
  color: rgb(37, 139, 123);
}
.vitamui-icon-app_sip_seda .path173:before {
  content: "\ea3c";
  margin-left: -1.3525390625em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app_sip_seda .path174:before {
  content: "\ea3d";
  margin-left: -1.3525390625em;
  color: rgb(156, 210, 206);
}
.vitamui-icon-app_sip_seda .path175:before {
  content: "\ea3e";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path176:before {
  content: "\ea3f";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path177:before {
  content: "\ea40";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path178:before {
  content: "\ea42";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path179:before {
  content: "\ea44";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path180:before {
  content: "\ea45";
  margin-left: -1.3525390625em;
  color: rgb(37, 139, 123);
}
.vitamui-icon-app_sip_seda .path181:before {
  content: "\ea46";
  margin-left: -1.3525390625em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app_sip_seda .path182:before {
  content: "\ea47";
  margin-left: -1.3525390625em;
  color: rgb(156, 210, 206);
}
.vitamui-icon-app_sip_seda .path183:before {
  content: "\ea48";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path184:before {
  content: "\ea49";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path185:before {
  content: "\ea4a";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path186:before {
  content: "\ea72";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path187:before {
  content: "\ea73";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_sip_seda .path188:before {
  content: "\ea77";
  margin-left: -1.3525390625em;
  color: rgb(37, 139, 123);
}
.vitamui-icon-app_archive .path1:before {
  content: "\e990";
  color: rgb(226, 226, 225);
}
.vitamui-icon-app_archive .path2:before {
  content: "\e991";
  margin-left: -1.3525390625em;
  color: rgb(198, 198, 198);
  opacity: 0.6;
}
.vitamui-icon-app_archive .path3:before {
  content: "\e992";
  margin-left: -1.3525390625em;
  color: rgb(198, 198, 198);
  opacity: 0.6;
}
.vitamui-icon-app_archive .path4:before {
  content: "\e993";
  margin-left: -1.3525390625em;
  color: rgb(156, 155, 155);
}
.vitamui-icon-app_archive .path5:before {
  content: "\e994";
  margin-left: -1.3525390625em;
  color: rgb(198, 198, 198);
}
.vitamui-icon-app_archive .path6:before {
  content: "\e995";
  margin-left: -1.3525390625em;
  color: rgb(239, 239, 239);
}
.vitamui-icon-app_archive .path7:before {
  content: "\e996";
  margin-left: -1.3525390625em;
  color: rgb(198, 198, 198);
}
.vitamui-icon-app_archive .path8:before {
  content: "\e997";
  margin-left: -1.3525390625em;
  color: rgb(156, 155, 155);
}
.vitamui-icon-app_archive .path9:before {
  content: "\e998";
  margin-left: -1.3525390625em;
  color: rgb(198, 198, 198);
}
.vitamui-icon-app_archive .path10:before {
  content: "\e999";
  margin-left: -1.3525390625em;
  color: rgb(198, 198, 198);
}
.vitamui-icon-app_archive .path11:before {
  content: "\e99a";
  margin-left: -1.3525390625em;
  color: rgb(198, 198, 198);
  opacity: 0.6;
}
.vitamui-icon-app_archive .path12:before {
  content: "\e99b";
  margin-left: -1.3525390625em;
  color: rgb(198, 198, 198);
}
.vitamui-icon-app_archive .path13:before {
  content: "\e99c";
  margin-left: -1.3525390625em;
  color: rgb(239, 239, 239);
}
.vitamui-icon-app_archive .path14:before {
  content: "\e99d";
  margin-left: -1.3525390625em;
  color: rgb(198, 198, 198);
}
.vitamui-icon-app_archive .path15:before {
  content: "\e99e";
  margin-left: -1.3525390625em;
  color: rgb(156, 155, 155);
}
.vitamui-icon-app_archive .path16:before {
  content: "\e99f";
  margin-left: -1.3525390625em;
  color: rgb(135, 135, 135);
}
.vitamui-icon-app_archive .path17:before {
  content: "\e9a0";
  margin-left: -1.3525390625em;
  color: rgb(135, 135, 135);
}
.vitamui-icon-app_archive .path18:before {
  content: "\e9a1";
  margin-left: -1.3525390625em;
  color: rgb(37, 139, 123);
}
.vitamui-icon-app_archive .path19:before {
  content: "\e9a2";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_archive .path20:before {
  content: "\e9a3";
  margin-left: -1.3525390625em;
  color: rgb(37, 139, 123);
}
.vitamui-icon-app_archive .path21:before {
  content: "\e9a4";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_archive .path22:before {
  content: "\e9a5";
  margin-left: -1.3525390625em;
  color: rgb(1, 86, 66);
}
.vitamui-icon-app_archive .path23:before {
  content: "\e9a6";
  margin-left: -1.3525390625em;
  color: rgb(156, 210, 206);
}
.vitamui-icon-app_archive .path24:before {
  content: "\e9a7";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_archive .path25:before {
  content: "\e9a8";
  margin-left: -1.3525390625em;
  color: rgb(156, 210, 206);
}
.vitamui-icon-app_archive .path26:before {
  content: "\e9a9";
  margin-left: -1.3525390625em;
  color: rgb(156, 210, 206);
}
.vitamui-icon-app_archive .path27:before {
  content: "\e9aa";
  margin-left: -1.3525390625em;
  color: rgb(1, 86, 66);
  opacity: 0.22;
}
.vitamui-icon-app_archive .path28:before {
  content: "\e9ab";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_archive .path29:before {
  content: "\e9ad";
  margin-left: -1.3525390625em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app_archive .path30:before {
  content: "\e9ae";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_archive .path31:before {
  content: "\e9af";
  margin-left: -1.3525390625em;
  color: rgb(37, 139, 123);
  opacity: 0.5;
}
.vitamui-icon-app_archive .path32:before {
  content: "\e9b0";
  margin-left: -1.3525390625em;
  color: rgb(255, 255, 255);
  opacity: 0.47;
}
.vitamui-icon-app_archive .path33:before {
  content: "\e9b1";
  margin-left: -1.3525390625em;
  color: rgb(255, 255, 255);
  opacity: 0.47;
}
.vitamui-icon-app_archive .path34:before {
  content: "\e9b2";
  margin-left: -1.3525390625em;
  color: rgb(195, 26, 26);
}
.vitamui-icon-app_archive .path35:before {
  content: "\e9b4";
  margin-left: -1.3525390625em;
  color: rgb(142, 24, 25);
}
.vitamui-icon-app_archive .path36:before {
  content: "\e9b5";
  margin-left: -1.3525390625em;
  color: rgb(240, 128, 68);
}
.vitamui-icon-app_archive .path37:before {
  content: "\e9b6";
  margin-left: -1.3525390625em;
  color: rgb(37, 139, 123);
}
.vitamui-icon-app_archive .path38:before {
  content: "\e9b7";
  margin-left: -1.3525390625em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app_archive .path39:before {
  content: "\e9b8";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_archive .path40:before {
  content: "\e9b9";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_archive .path41:before {
  content: "\e9ba";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_archive .path42:before {
  content: "\e9bb";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_archive .path43:before {
  content: "\e9bc";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_archive .path44:before {
  content: "\e9bd";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_archive .path45:before {
  content: "\e9be";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_archive .path46:before {
  content: "\ea80";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_archive .path47:before {
  content: "\ea81";
  margin-left: -1.3525390625em;
  color: rgb(51, 176, 153);
}
.vitamui-icon-app_archive .path48:before {
  content: "\ea84";
  margin-left: -1.3525390625em;
  color: rgb(156, 210, 206);
}
.vitamui-icon-apps-colored .path1:before {
  content: "\e955";
  color: rgb(0, 0, 0);
}
.vitamui-icon-apps-colored .path2:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-apps-colored .path3:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-apps-colored .path4:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(255, 0, 0);
}
.vitamui-icon-apps-colored .path5:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(255, 0, 0);
}
.vitamui-icon-apps-colored .path6:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(255, 0, 0);
}
.vitamui-icon-apps-colored .path7:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(255, 192, 203);
}
.vitamui-icon-apps-colored .path8:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(255, 192, 203);
}
.vitamui-icon-apps-colored .path9:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(255, 192, 203);
}
.vitamui-icon-barcode:before {
  content: "\e954";
}
.vitamui-icon-rack:before {
  content: "\e952";
}
.vitamui-icon-room:before {
  content: "\e953";
}
.vitamui-icon-folder-full:before {
  content: "\e94f";
}
.vitamui-icon-folder-with-file:before {
  content: "\e950";
}
.vitamui-icon-document-layers:before {
  content: "\e94c";
}
.vitamui-icon-file-cog-middle:before {
  content: "\e94d";
}
.vitamui-icon-file-cog-up:before {
  content: "\e94e";
}
.vitamui-icon-api-supervision:before {
  content: "\e94b";
}
.vitamui-icon-truck:before {
  content: "\e94a";
}
.vitamui-icon-physical-big-box:before {
  content: "\e948";
}
.vitamui-icon-physical-big-box-content:before {
  content: "\e947";
}
.vitamui-icon-physical-small-box:before {
  content: "\e949";
}
.vitamui-icon-physical-small-box-content:before {
  content: "\e940";
}
.vitamui-icon-folder:before {
  content: "\e925";
}
.vitamui-icon-folder-content:before {
  content: "\e946";
}
.vitamui-icon-archive-ingest:before {
  content: "\e945";
}
.vitamui-icon-tree-arrow:before {
  content: "\e944";
}
.vitamui-icon-tree-plus:before {
  content: "\e942";
}
.vitamui-icon-tree-minus:before {
  content: "\e943";
}
.vitamui-icon-item:before {
  content: "\e941";
}
.vitamui-icon-circle-chevron:before {
  content: "\e93f";
}
.vitamui-icon-checklist-pen:before {
  content: "\e93e";
}
.vitamui-icon-gear:before {
  content: "\e93d";
}
.vitamui-icon-electronic-folder:before {
  content: "\e93c";
}
.vitamui-icon-electronic-file:before {
  content: "\e93b";
}
.vitamui-icon-support-check-list:before {
  content: "\e938";
}
.vitamui-icon-admin-check-list:before {
  content: "\e939";
}
.vitamui-icon-user-board:before {
  content: "\e93a";
}
.vitamui-icon-layer:before {
  content: "\e935";
}
.vitamui-icon-layers:before {
  content: "\e936";
}
.vitamui-icon-info-circle:before {
  content: "\e937";
}
.vitamui-icon-danger:before {
  content: "\e932";
}
.vitamui-icon-lock:before {
  content: "\e933";
  color: #757575;
}
.vitamui-icon-refresh:before {
  content: "\e934";
  color: #757575;
}
.vitamui-icon-cycle-gear:before {
  content: "\e931";
}
.vitamui-icon-docuware-logo:before {
  content: "\e92f";
}
.vitamui-icon-alfresco-logo:before {
  content: "\e930";
}
.vitamui-icon-plus:before {
  content: "\e92e";
}
.vitamui-icon-chevron-right:before {
  content: "\e92c";
  color: #757575;
}
.vitamui-icon-chevron-right-plus:before {
  content: "\e92d";
}
.vitamui-icon-user-key-plus:before {
  content: "\e92a";
}
.vitamui-icon-user-key:before {
  content: "\e92b";
}
.vitamui-icon-exclamation-point:before {
  content: "\e922";
}
.vitamui-icon-file:before {
  content: "\e926";
}
.vitamui-icon-safe-key-plus:before {
  content: "\e905";
}
.vitamui-icon-admin-key-plus:before {
  content: "\e91b";
}
.vitamui-icon-keys-plus:before {
  content: "\e921";
}
.vitamui-icon-filing:before {
  content: "\e923";
}
.vitamui-icon-basket:before {
  content: "\e924";
}
.vitamui-icon-support-box:before {
  content: "\e927";
}
.vitamui-icon-admin-box:before {
  content: "\e928";
}
.vitamui-icon-triangle:before {
  content: "\e920";
}
.vitamui-icon-box:before {
  content: "\e91f";
}
.vitamui-icon-box-arrow:before {
  content: "\e91a";
}
.vitamui-icon-box-hand:before {
  content: "\e91d";
}
.vitamui-icon-box-plus:before {
  content: "\e91e";
}
.vitamui-icon-user:before {
  content: "\e90b";
}
.vitamui-icon-user-plus:before {
  content: "\e919";
}
.vitamui-icon-pin:before {
  content: "\e90f";
}
.vitamui-icon-bank-plus:before {
  content: "\e911";
}
.vitamui-icon-key-plus:before {
  content: "\e918";
}
.vitamui-icon-safe-plus:before {
  content: "\e913";
}
.vitamui-icon-key:before {
  content: "\e914";
}
.vitamui-icon-safe:before {
  content: "\e915";
}
.vitamui-icon-safe-gear:before {
  content: "\e917";
}
.vitamui-icon-light-bulb:before {
  content: "\e90e";
}
.vitamui-icon-link:before {
  content: "\e901";
}
.vitamui-icon-box-gear:before {
  content: "\e902";
}
.vitamui-icon-safe-key:before {
  content: "\e906";
}
.vitamui-icon-board:before {
  content: "\e907";
}
.vitamui-icon-deposit:before {
  content: "\e908";
}
.vitamui-icon-box-check:before {
  content: "\e90a";
}
.vitamui-icon-question-mark:before {
  content: "\e90c";
}
.vitamui-icon-user-keys:before {
  content: "\e900";
}
.vitamui-icon-admin-key:before {
  content: "\e903";
}
.vitamui-icon-bank:before {
  content: "\e904";
}
.vitamui-icon-keys:before {
  content: "\e909";
}
.vitamui-icon-link-key:before {
  content: "\e90d";
}
.vitamui-icon-return-box:before {
  content: "\e910";
}
.vitamui-icon-safe-search:before {
  content: "\e912";
}
.vitamui-icon-search-safe:before {
  content: "\e916";
}
.vitamui-icon-support-keys:before {
  content: "\e91c";
}
.vitamui-icon-cross:before {
  content: "\ea0f";
}
.vitamui-icon-archive-room:before {
  content: "\e951";
}
.vitamui-icon-circle-up:before {
  content: "\ea41";
}
.vitamui-icon-circle-down:before {
  content: "\ea43";
}
.vitamui-icon-bin:before {
  content: "\e9ac";
}
.vitamui-icon-search:before {
  content: "\e986";
}
.vitamui-icon-loop2:before {
  content: "\ea2e";
}
.vitamui-icon-target:before {
  content: "\e9b3";
}
