:host {
  padding-bottom: 10px;
}

.v-col {
  display: flex;
  flex: 1;
}

.v-col:not(:last-child) {
  margin-right: 10px;
}

.v-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.align-items-center {
  align-items: center;
}

.display-none {
  display: none;
}

.object-details-group {
  .title {
    padding: 5px 14px;
    font-size: 12px;
    font-weight: 700;
    color: var(--vitamui-primary);
  }

  .no-title {
    height: 10px;
  }

  .read-only-field {
    min-height: 51px;
    margin-bottom: 0px;

    .button-copy {
      padding: 0 10px;
      cursor: pointer;

      :hover {
        color: var(--vitamui-secondary);
      }

      :active {
        color: var(--vitamui-primary-100);
      }

      :focus {
        color: var(--vitamui-primary);
      }
    }

    div {
      display: flex;
      flex-direction: row;
    }
  }

  .row-separator {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.object-menu {
  min-height: 50px;
  margin-top: 20px;
  padding: 0 5px;
  border-radius: 5px;
  display: flex;
  background-color: #ffffff;
  flex-direction: row;
  font-size: 16px;
  font-weight: 700;
  line-height: 13px;
  cursor: pointer;
  border: solid black 1px;

  &.opened {
    border-left: 5px solid var(--vitamui-primary);
    padding-left: 0;
    color: var(--vitamui-primary);
  }
}

.object-details {
  padding: 8px 15px;
  background-color: #ffffff;
}

.container {
  padding-left: 15px;
}

.icon {
  font-size: 24px;
  margin-left: 5px;
  margin-right: 5px;
}

.field {
  font-weight: 400;

  label {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    color: var(--vitamui-primary);
    padding-bottom: 5px;
    overflow-wrap: anywhere;
  }
}

li {
  overflow-wrap: anywhere;
}
