<vitamui-common-sidenav-header
  [title]="archiveUnit?.Title ? archiveUnit?.Title : archiveUnit.Title_.fr ? archiveUnit.Title_.fr : archiveUnit.Title_.en "
  [icon]="archiveUnit?.DescriptionLevel === 'RecordGrp' ?  'vitamui-icon-folder' : 'vitamui-icon-file'"
  (onclose)="emitClose()">
</vitamui-common-sidenav-header>

<div class="vitamui-sidepanel-body">
  <mat-tab-group class="preview-tab-group">
    <mat-tab label="{{'ARCHIVE_SEARCH.ARCHIVE_UNIT_PREVIEW.TABS.INFORMATIONS' | translate}}">
      <div class="row">
        <div class="col-12">
          <div class="read-only-field">
            <label>{{'ARCHIVE_SEARCH.ARCHIVE_UNIT_PREVIEW.FIELDS.NAME' | translate}} :</label>
            <div>
              <ng-container *ngIf="archiveUnit?.Title ;else subTitleFr">
                {{ archiveUnit?.Title }}
              </ng-container>
              <ng-template #subTitleFr>
                <ng-container *ngIf="archiveUnit.Title_.fr ;else subTitleEn">
                  {{ archiveUnit.Title_.fr }}
                </ng-container>
              </ng-template>
              <ng-template #subTitleEn>
                <ng-container *ngIf="archiveUnit.Title_.en">
                  {{ archiveUnit.Title_.en }}
                </ng-container>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="read-only-field">
            <label>{{'ARCHIVE_SEARCH.ARCHIVE_UNIT_PREVIEW.FIELDS.GUID' | translate}} :</label>
            <div>
              {{archiveUnit['#opi']}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="read-only-field">
            <label>{{'ARCHIVE_SEARCH.ARCHIVE_UNIT_PREVIEW.FIELDS.UAID' | translate}} :</label>
            <div>
              {{archiveUnit['#id']}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="read-only-field text-justify">
            <label>{{'ARCHIVE_SEARCH.ARCHIVE_UNIT_PREVIEW.FIELDS.DESCRIPTION' | translate}} :</label>
            <div>
              <p class="text-justify">
                {{archiveUnit.Description}}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="read-only-field">
            <label>{{'ARCHIVE_SEARCH.ARCHIVE_UNIT_PREVIEW.FIELDS.SP' | translate}} :</label><br/>
            <label>{{'ARCHIVE_SEARCH.ARCHIVE_UNIT_PREVIEW.FIELDS.SP_CODE' | translate}} :</label>
            <div>
              {{ archiveUnit['#originating_agencies']}}
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="read-only-field">
            <label></label><br/>
            <label>{{'ARCHIVE_SEARCH.ARCHIVE_UNIT_PREVIEW.FIELDS.SP_LABEL' | translate}} :</label>
            <div>
              {{ archiveUnit['originating_agencyName']}}
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-12">
          <div class="read-only-field">
            <label>{{'ARCHIVE_SEARCH.ARCHIVE_UNIT_PREVIEW.FIELDS.PATH' | translate}} :</label>
            <div>
              {{archiveUnit.DescriptionLevel}}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="read-only-field">
            <label>{{'ARCHIVE_SEARCH.ARCHIVE_UNIT_PREVIEW.FIELDS.START_DATE' | translate}} :</label>
            <div>
              {{archiveUnit?.StartDate | date: 'dd/MM/yyyy'}}
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="read-only-field">
            <label>{{'ARCHIVE_SEARCH.ARCHIVE_UNIT_PREVIEW.FIELDS.END_DATE' | translate}} :</label>
            <div>
              {{archiveUnit?.EndDate | date: 'dd/MM/yyyy'}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <button class="btn secondary download-btn" [disabled]="archiveUnit['#object'] == null"
                    (click)="onDownloadObjectFromUnit(archiveUnit)">
              <i class="vitamui-icon vitamui-icon-deposit"></i> <span>{{'ARCHIVE_SEARCH.ARCHIVE_UNIT_PREVIEW.FIELDS.DOWNLOAD_DOC' | translate}}</span>
            </button>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
