<div class="vitamui-sidepanel">
    <div class="vitamui-sidepanel-header">
        <div class="row">
            <div class="col-10">
                <div class="title">
                    <h2>
                        <mat-icon>info</mat-icon>
                        <ng-container *ngIf="archiveUnit?.Title ;else subTitleFr">
                            {{ archiveUnit?.Title }}
                        </ng-container>
                        <ng-template #subTitleFr>
                            <ng-container *ngIf="archiveUnit.Title_.fr ;else subTitleEn">
                                {{ archiveUnit.Title_.fr }}
                            </ng-container>
                        </ng-template>
                        <ng-template #subTitleEn>
                            <ng-container *ngIf="archiveUnit.Title_.en">
                                {{ archiveUnit.Title_.en }}
                            </ng-container>
                        </ng-template>
                    </h2>
                </div>
            </div>
            <div class="col-2">
                <button class="btn-close" role="button" (click)="emitClose()"><i
                        class="material-icons">close</i></button>
                <br />
            </div>
        </div>
    </div>
    <div class="vitamui-sidepanel-body">
        <mat-tab-group class="preview-tab-group">
            <mat-tab label="Informations">
                <div class="row">
                    <div class="col-12">
                        <div class="read-only-field">
                            <label>Nom:</label>
                            <div>
                                <ng-container *ngIf="archiveUnit?.Title ;else subTitleFr">
                                    {{ archiveUnit?.Title }}
                                </ng-container>
                                <ng-template #subTitleFr>
                                    <ng-container *ngIf="archiveUnit.Title_.fr ;else subTitleEn">
                                        {{ archiveUnit.Title_.fr }}
                                    </ng-container>
                                </ng-template>
                                <ng-template #subTitleEn>
                                    <ng-container *ngIf="archiveUnit.Title_.en">
                                        {{ archiveUnit.Title_.en }}
                                    </ng-container>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="read-only-field">
                            <label>Identifiant technique du versement:</label>
                            <div>
                                {{archiveUnit['#opi']}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="read-only-field">
                            <label>Identifiant technique de l'unité archivistique:</label>
                            <div>
                                {{archiveUnit['#id']}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="read-only-field">
                            <label>Description:</label>
                            <div>
                                {{archiveUnit.Description}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="read-only-field">
                            <label>Service Producteur:</label>
                            <div matTooltip="{{ archiveUnit['originating_agencyName']}}   ({{archiveUnit['#originating_agencies']}})" matTooltipClass="vitamui-tooltip" [matTooltipShowDelay]="300" >
                                {{ archiveUnit['originating_agencyName']}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="read-only-field">
                            <label>Chemin:</label>
                            <div>
                                {{archiveUnit.DescriptionLevel}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="read-only-field">
                            <label>Date de début:</label>
                            <div>
                                {{archiveUnit?.StartDate | date: 'dd/MM/yyyy'}}
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="read-only-field">
                            <label>Date de fin:</label>
                            <div>
                                {{archiveUnit?.EndDate | date: 'dd/MM/yyyy'}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <button class="btn secondary download-btn" (click)="onDownloadArchive(archiveUnit)">
                                <i class="vitamui-icon vitamui-icon-download"></i> <span>Télécharger le document</span>
                            </button>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>
