<vitamui-common-sidenav-header
  [extended]="isPanelextended"
  [title]="(archiveUnit?.Title ? archiveUnit?.Title : archiveUnit.Title_.fr ? archiveUnit.Title_.fr : archiveUnit.Title_.en) | truncate: 29"
  [icon]="getArchiveUnitIcone(archiveUnit)"
  [hasToolTipOnTitle]="true"
  [toolTipTitleText]="archiveUnit?.Title ? archiveUnit?.Title : archiveUnit.Title_.fr ? archiveUnit.Title_.fr : archiveUnit.Title_.en"
  [toolTipTitleDuration]="300"
  (onclose)="emitClose()"
>
  <vitamui-common-menu-button [overlayPos]="'end'" [icon]="'vitamui-icon-more-horiz'">
    <button mat-menu-item *ngIf="!isPanelextended" (click)="showExtendedPanel()">
      {{ 'ARCHIVE_SEARCH.ARCHIVE_UNIT_PREVIEW.ACTIONS.SHOW_MORE_DETAILS' | translate }}
    </button>
    <button mat-menu-item *ngIf="isPanelextended" (click)="showNormalPanel()">
      {{ 'ARCHIVE_SEARCH.ARCHIVE_UNIT_PREVIEW.ACTIONS.SHOW_ONLY_INFORMATION_DETAILS' | translate }}
    </button>
    <button
      mat-menu-item
      matTooltip="{{ !accessContractAllowUpdating ? hasAccessContractManagementPermissionsMessage : '' }}"
      matTooltipClass="vitamui-tooltip"
      [matTooltipShowDelay]="300"
      (click)="updateMetadataDesc()"
      [disabled]="updateStarted || !accessContractAllowUpdating || !hasUpdateDescriptiveUnitMetadataRole"
    >
      {{ 'UNIT_UPDATE.UPDATE_DESC_METADATA' | translate }}
    </button>
  </vitamui-common-menu-button>
</vitamui-common-sidenav-header>

<div class="vitamui-sidepanel-body">
  <mat-tab-group
    [selectedIndex]="selectedIndex"
    [ngClass]="isPanelextended ? 'extended-preview-tab-group' : 'preview-tab-group'"
    (selectedTabChange)="selectedTabChangeEvent($event)"
  >
    <mat-tab label="{{ 'ARCHIVE_SEARCH.ARCHIVE_UNIT_PREVIEW.TABS.INFORMATIONS' | translate }}">
      <app-archive-unit-information-tab
        [archiveUnit]="archiveUnit"
        [accessContract]="accessContract"
        [tenantIdentifier]="tenantIdentifier"
        [updateStarted]="updateStarted"
        (showNormalPanel)="showNormalPanel()"
      ></app-archive-unit-information-tab>
    </mat-tab>

    <mat-tab label="{{ 'ARCHIVE_SEARCH.ARCHIVE_UNIT_PREVIEW.TABS.RULES' | translate }}">
      <app-archive-unit-rules-details-tab [archiveUnit]="archiveUnit" [accessContract]="accessContract">
      </app-archive-unit-rules-details-tab>
    </mat-tab>

    <mat-tab label="{{ 'ARCHIVE_SEARCH.ARCHIVE_UNIT_PREVIEW.TABS.OBJECTS' | translate }}">
      <app-archive-unit-objects-details-tab
        [archiveUnit]="archiveUnit"
        [accessContract]="accessContract"
        [tenantIdentifier]="tenantIdentifier"
      >
      </app-archive-unit-objects-details-tab>
    </mat-tab>
  </mat-tab-group>
</div>
