<div vitamuiCommonInfiniteScroll (vitamuiScroll)="onScroll()">
  <div class="vitamui-table">
    <div class="vitamui-table-head">
      <div class="col-2 d-flex align-items-center">
        <button class="vitamui-filter-button" [vitamuiCommonTableFilter]="statusFilterTemplate">
          <i class="material-icons vitamui-row-icon">filter_list</i>
        </button>

        <ng-template #statusFilterTemplate>
          <vitamui-common-table-filter [(filter)]="this.filterMap['status']" (filterChange)="onFilterChange('status', $event)">
            <vitamui-common-table-filter-option value="ENABLED">
              <div class="table-filter-icon" i18n="@@groupStatusEnabled">
                <i class="vitamui-icon vitamui-icon-user status-badge status-badge-green" [style.fontSize.px]="25"></i>
                <span class="badge-state">Actif</span>
              </div>
            </vitamui-common-table-filter-option>
            <vitamui-common-table-filter-option value="DISABLED">
              <div class="table-filter-icon" i18n="@@groupStatusDisabled">
                <i class="vitamui-icon vitamui-icon-user status-badge status-badge-grey" [style.fontSize.px]="25"></i>
                <span class="badge-state">Désactivé</span>
              </div>
            </vitamui-common-table-filter-option>
          </vitamui-common-table-filter>
        </ng-template>

        <i class="vitamui-icon vitamui-icon-keys vitamui-row-icon"></i>
        <vitamui-common-order-by-button orderByKey="status" [(orderBy)]="orderBy" [(direction)]="direction" (orderChange)="emitOrderChange()"></vitamui-common-order-by-button>
      </div>

      <div class="col-3 d-flex align-items-center">
        <span i18n="Group name@@profileGroupListHeaderName">Nom du groupe</span>
        <vitamui-common-order-by-button orderByKey="name" [(orderBy)]="orderBy" [(direction)]="direction" (orderChange)="emitOrderChange()"></vitamui-common-order-by-button>
      </div>

      <div class="col-2 d-flex align-items-center">
        <span i18n="Group ID@@profileGroupListHeaderID">Identifiant</span>
        <vitamui-common-order-by-button orderByKey="identifier" [(orderBy)]="orderBy" [(direction)]="direction" (orderChange)="emitOrderChange()"></vitamui-common-order-by-button>
      </div>

      <div class="col-3 d-flex align-items-center">
        <span i18n="Description@@profileGroupListHeaderDescription">Description</span>
        <vitamui-common-order-by-button orderByKey="description" [(orderBy)]="orderBy" [(direction)]="direction" (orderChange)="emitOrderChange()"></vitamui-common-order-by-button>
      </div>

      <div class="col-2 d-flex align-items-center">
        <button class="vitamui-filter-button" [vitamuiCommonTableFilter]="levelFilterTemplate" [class.active]="filterMap['level'] && filterMap['level'].length > 0" #levelFilterTrigger="vitamuiCommonTableFilter">
          <i class="material-icons vitamui-row-icon">filter_list</i>
        </button>

        <ng-template #levelFilterTemplate>
          <vitamui-common-table-filter-search
            [(filter)]="filterMap['level']"
            [options]="levelFilterOptions"
            (filterChange)="onFilterChange('level', $event)"
            (filterClose)="levelFilterTrigger?.close()"
            emptyValueOption="-Niveau vide-"
            i18n-emptyValueOption="@@groupsListLevelFilterEmpty">
          </vitamui-common-table-filter-search>
        </ng-template>

        <span i18n="Description@@profileGroupListHeaderLevel">Niveau</span>
        <vitamui-common-order-by-button orderByKey="level" [(orderBy)]="orderBy" [(direction)]="direction" (orderChange)="emitOrderChange()"></vitamui-common-order-by-button>
      </div>
    </div>

    <div class="vitamui-table-body">
      <div class="vitamui-table-rows" *ngFor="let group of dataSource" (click)="groupClick.emit(group)">
        <div class="vitamui-row d-flex align-items-center clickable">
          <div class="col-2 d-flex align-items-center">
            <i class="vitamui-icon vitamui-icon-keys"
              [ngClass]=" group?.enabled ? 'status-badge-green' :'status-badge-grey'">
            </i>
          </div>
          <div class="col-3">{{ group.name }}</div>
          <div class="col-2">{{ group.identifier }}</div>
          <div class="col-3">{{ group.description | truncate:50 }}</div>
          <div class="col-2">{{ group.level }}</div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!dataSource || pending then loadingSpinner"></div>
  <div *ngIf="!pending && dataSource?.length ===  0 then noResults"></div>
  <div *ngIf="infiniteScrollDisabled && groupService.canLoadMore && !pending then loadMore"></div>
</div>

<ng-template #noResults>
  <div class="vitamui-min-content vitamui-table-message">Aucun resultat</div>
 </ng-template>

 <ng-template #loadMore>
  <div class="vitamui-min-content vitamui-table-message" (click)="groupService.loadMore()">
    <span class="clickable">Afficher plus de résultats...</span>
  </div>
</ng-template>

<ng-template #loadingSpinner>
  <div class="vitamui-min-content">
    <mat-spinner class="vitamui-spinner medium"></mat-spinner>
  </div>
  </ng-template>
