dbSecurity = db.getSiblingDB('{{ mongodb.security.db | default('security') }}')

print("START v9.1.0-00_security.populate_certificates.js");

dbSecurity.certificates.deleteMany({});

{% macro insertCertificate(pemFile, contextId, groupName) -%}
  {% if groups[groupName] | default([]) | length > 0 %}
    dbSecurity.certificates.insertOne({
      "_id": "{{ pemFile | basename | replace('.pem','_cert') }}",
      "contextId": "{{ contextId }}",
      "subjectDN": "subjectDN",
      "issuerDN": "issuerDN",
      "serialNumber": "serialNumberAdmin",
      "data": "{{ lookup('file', pemFile) | cert_to_str() }}"
    })
  {% endif %}
{%- endmacro %}

{{ insertCertificate(pki_dir + '/vitamui-services/clients/cas-server/cas-server.pem', 'cas_context', 'hosts_cas_server') }}

{{ insertCertificate(pki_dir + '/vitamui-services/clients/ui-portal/ui-portal.pem', 'ui_portal_context', 'hosts_ui_portal') }}
{{ insertCertificate(pki_dir + '/vitamui-services/clients/ui-identity/ui-identity.pem', 'ui_identity_context', 'hosts_ui_identity') }}
{{ insertCertificate(pki_dir + '/vitamui-services/clients/ui-identity-admin/ui-identity-admin.pem', 'ui_admin_identity_context', 'hosts_ui_identity_admin') }}
{{ insertCertificate(pki_dir + '/vitamui-services/clients/ui-referential/ui-referential.pem', 'ui_referential_context', 'hosts_ui_referential') }}
{{ insertCertificate(pki_dir + '/vitamui-services/clients/ui-archive-search/ui-archive-search.pem', 'ui_archive_search_context', 'hosts_ui_archive_search') }}
{{ insertCertificate(pki_dir + '/vitamui-services/clients/ui-ingest/ui-ingest.pem', 'ui_ingest_context', 'hosts_ui_ingest') }}
{{ insertCertificate(pki_dir + '/vitamui-services/clients/ui-pastis/ui-pastis.pem', 'ui_pastis_context', 'hosts_ui_pastis') }}
{{ insertCertificate(pki_dir + '/vitamui-services/clients/ui-collect/ui-collect.pem', 'ui_collect_context', 'hosts_ui_collect') }}

print("END v9.1.0-00_security.populate_certificates.js");
