---
client_client_external_customer_x_key: changeme
client_client_vitam_vitamui_key: changeme
server_ui_identity_key: changeme
server_security_internal_key: changeme
server_iam_internal_key: changeme
server_referential_internal_key: changeme
server_ingest_internal_key: changeme
server_archive_search_internal_key: changeme
server_iam_external_key: changeme
server_referential_external_key: changeme
server_cas_server_key: changeme
server_ingest_external_key: changeme
server_archive_search_external_key: changeme
server_ui_portal_key: changeme
server_ui_identity_admin_key: changeme
server_ui_referential_key: changeme
server_ui_ingest_key: changeme
server_ui_archive_search_key: changeme
server_reverse_key: changeme
client_client_external_customer_x_key: changeme
