<vitamui-dialog-header
  [subhead]="'RULES_APP.CREATE_DIALOG.TITLE' | translate"
  [title]="'RULES_APP.CREATE_DIALOG.SUBTITLE' | translate"
></vitamui-dialog-header>

<form [formGroup]="form" (ngSubmit)="onSubmit()" cdkFocusInitial>
  <mat-dialog-content class="gap-4">
    <div class="w-100 d-flex align-items-center">
      <vitamui-input
        class="w-100"
        formControlName="ruleId"
        [placeholder]="'RULES_APP.CREATE_DIALOG.IDENTIFIER' | translate"
        [errorMessageMap]="{
          ruleIdExists: 'RULES_APP.CREATE_DIALOG.IDENTIFIER_ALREADY_EXISTS' | translate,
        }"
      >
      </vitamui-input>
      <i class="vitamui-icon primary vitamui-icon-info ml-3" [vitamuiTooltip]="'RULES_APP.CREATE_DIALOG.IDENTIFIER_TOOLTIP' | translate">
      </i>
    </div>

    <div class="w-100 d-flex align-items-center">
      <vitamui-select
        class="d-block w-100"
        formControlName="ruleType"
        [placeholder]="'RULES_APP.CREATE_DIALOG.TYPE' | translate"
        [options]="ruleTypes"
        [multiple]="false"
        [enableSearch]="false"
      ></vitamui-select>
      <i class="vitamui-icon primary vitamui-icon-info ml-3" vitamuiTooltip="{{ 'RULES_APP.CREATE_DIALOG.TYPE_TOOLTIP' | translate }}"> </i>
    </div>

    <vitamui-input class="w-100" formControlName="ruleValue" [placeholder]="'RULES_APP.CREATE_DIALOG.NAME' | translate"> </vitamui-input>

    <vitamui-input
      [textarea]="true"
      formControlName="ruleDescription"
      class="w-100"
      [placeholder]="'RULES_APP.CREATE_DIALOG.DESCRIPTION' | translate"
    >
    </vitamui-input>

    <div class="w-100 hgap-2 align-items-start">
      <vitamui-input
        class="w-50"
        formControlName="ruleDuration"
        [placeholder]="'RULES_APP.CREATE_DIALOG.PERIOD' | translate"
        [errorMessageMap]="{
          pattern: 'RULES_APP.TAB.ERROR.INTEGER_REQUIRED' | translate,
        }"
      >
      </vitamui-input>

      <vitamui-select
        class="w-50"
        formControlName="ruleMeasurement"
        [placeholder]="'RULES_APP.CREATE_DIALOG.UNIT_MEASURE' | translate"
        [options]="ruleMeasurements"
        [multiple]="false"
        [enableSearch]="false"
      ></vitamui-select>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button type="submit" class="btn primary" [disabled]="form.pending || form.invalid || isDisabledButton">
      {{ 'COMMON.TERMINATE' | translate }}
    </button>
    <button type="button" class="btn cancel link" (click)="onCancel()">
      {{ 'COMMON.UNDO' | translate }}
    </button>
  </mat-dialog-actions>
</form>
