<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
    <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="vitamui-heading">
            <div class="d-flex align-items-center">
                <vitamui-common-select-language [displayMode]="'button'"></vitamui-common-select-language>
            </div>
            <vitamui-common-title-breadcrumb>
               {{'FILLING_HOLDING_SCHEME.TITLE' | translate }}
            </vitamui-common-title-breadcrumb>

            <vitamui-common-banner [searchbarPlaceholder]="'FILLING_HOLDING_SCHEME.SEARCH' | translate" i18n-placeholder="@@treePlanSearchPlaceholder">
                <button class="btn primary elt-spaced " (click)="openImportTreePlanPopup('HOLDING_SCHEME')">
                    <span>{{'FILLING_HOLDING_SCHEME.IMPORT_HOLDING' | translate }}</span>
                </button>
                <button class="btn primary elt-spaced" (click)="openImportTreePlanPopup('FILING_SCHEME')">
                    <span>{{'FILLING_HOLDING_SCHEME.IMPORT_FILLING' | translate }}</span>
                </button>
            </vitamui-common-banner>

        </div>
    </mat-sidenav-content>

</mat-sidenav-container>