.profile-tag {
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $charcoal-grey-two;
    background-color: #f8f8f8;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    white-space: nowrap;

    i {
        color: var(--vitamui-secondary);
        margin-left: 5px;
    }
}
