@import 'icons/vitamui-icons';
@import 'theme';
@import 'bootstrap/scss/bootstrap-grid';

@import 'fonts/font-styles';

@import 'form';
@import 'login';
@import 'sidepanel';
@import 'profile-tag';
@import 'vitamui-tab-group';
@import 'tooltip';
@import 'tooltip-rules';
@import 'common-archive';

.mat-drawer-container {
  background-color: var(--vitamui-background);
}

.input-criteria {
  border: 1px solid var(--vitamui-secondary);
}
.archive-search-section {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.search-input-criteria {
  width: 100%;
}
.search-select-access-contract {
  width: 100%;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  color: var(--vitamui-primary);
  letter-spacing: 0.1px;
  line-height: 10px;
  white-space: nowrap;
  transform-origin: left;
  transition: transform 150ms ease-out;
}
.search-date-filter {
  height: 50px;
  border: solid 1px var(--vitamui-secondary);
  border-radius: 25px;
  text-align: center;
  color: var(--vitamui-secondary);
  border-radius: 25px;
  border: solid 1px #f0f0f0;
  background-color: #ffffff;
  padding: 7px 45px 7px 25px;
  transition: border-color 150ms ease-out;
  vertical-align: top;
  cursor: pointer;
  outline: none;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.2),
    0px 2px 2px rgba(0, 0, 0, 0.12),
    0px 0px 2px rgba(0, 0, 0, 0.14);
}

.mat-select-content {
  font-size: 14px;
  font-weight: 700;
  color: var(--vitamui-primary);
  letter-spacing: 0.1px;
  line-height: 10px;
  white-space: nowrap;
  transform-origin: left;
  transition: transform 150ms ease-out;
}

.search-date-label {
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  color: var(--vitamui-primary);
  letter-spacing: 0.1px;
  line-height: 10px;
  white-space: nowrap;
  transform-origin: left;
  transition: transform 150ms ease-out;
}
.card-criteria {
  background: #ffffff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-top: 15px;
  margin-top: 10px;
  margin-right: 9px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.after-search-launched-button {
  color: #fff;
  background-color: #2c76c9;
  border: 1px solid #9d9d9d;
  box-sizing: border-box;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.before-search-launched-button {
  border: 1px solid #9d9d9d;
  box-sizing: border-box;
  border: 1px solid #9d9d9d;
  border-left: 0px;
}
.criteria-group {
  padding: 10px;
}
.left-arround {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #9d9d9d;
}

.left-not-arround {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid #9d9d9d;
}

.right-arround {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid #9d9d9d;
  border-left: 0px;
}

.right-button {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid #9d9d9d;
  border-left: 0px;
}

.button-or {
  padding-left: 10px;
  padding-right: 10px;
  border-right-width: 0px;
  border-left-width: 0px;
  height: 60px;
  font-weight: bold;
  padding-top: 18px;
}

.button-content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 18px;
  border-right-width: 0px;
  max-width: 400px;
  font-weight: bold;
  height: 60px;
  border: 1px solid #9d9d9d;
}

.vitamui-chip-list .button-criteria {
  background: #ffffff !important;
  border: px solid #bdbdbd !important;
}
.button-remove {
  padding-left: 4px;
  padding-right: 0px;
  border-left-width: 1px;
  height: 60px;
  font-weight: bold;
  border: 1px solid #9d9d9d;
}

.hide-ink {
  cursor: pointer;
  color: #702382;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
}

.launch-search-btn {
  width: 218px;
  height: 50px;
  background: #702382;
  border-radius: 100px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1px;
  text-decoration-line: underline;
}

.button-remove {
  border-left-width: 0px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 400px;
  font-weight: bold;
  height: 60px;
}

.hide-area-search {
  margin-bottom: 10px;
}

.area-criteria {
  padding-top: 0px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.area-download {
  text-align: right;
  right: 5px;
}

.icon-download {
  color: var(--vitamui-primary);
  padding-right: 10px;
  padding-left: 10px;
  font-size: 22px;
}

.search-criterias {
  font-size: large;
  font-weight: bold;
  margin-top: 50px;
}

.left-margin {
  margin-left: 30%;
}
.show-panel {
  display: none;
}
.hide-panel {
  display: block;
}

::ng-deep .my-menu {
  max-width: 380px;
}

.circle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px;
  position: static;
  width: 50px;
  height: 50px;
  left: 0px;
  top: 0px;

  background: var(--vitamui-secondary);
  border-radius: 50px;

  flex: none;
  order: 0;
  flex-grow: 0;
  border: none;
}

.circle:focus {
  border: none;
  outline: -webkit-focus-ring-color auto 0px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px;
}

.primary-save-icon {
  color: white;
}

.mat-boutton {
  border: none;
  background: #f5f7fc;
}
.mat-boutton:hover .mat-boutton:focus {
  background: #f5f7fc;
  border: none;
}

.mat-boutton:focus {
  background: #f5f7fc;
  border: none;
  outline: -webkit-focus-ring-color auto 0px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px;
}

.mat-boutton:active {
  background: #f5f7fc;
  border: none;
}
.div-btn-delete {
  width: 78px;
}

.btn-add {
  color: #757575;
  font-size: 37x;
}

.btn-new-save {
  font-size: 16px;
}
.button-space {
  margin-left: -20px;
  padding-left: 30px;
  padding-top: 20px;
}

.criteria-choice {
  font-family: Mulish;
  font-size: 14px;
  font-weight: 500;
  padding-top: 6px;
}

.criteria-choice-input {
  background-color: black;
  height: 18px;
  width: 18px;
}

.padding-bottom-medium {
  padding-bottom: 10px;
}

.text-clicable-uppercase {
  text-transform: uppercase;
  cursor: pointer;
}

.text-on-right-side {
  padding-right: 20px;
}

.criteria-checkbox-choice {
  display: inline-flex;
  position: relative;
}

.criteria-checkbox-choice > span {
  font-family: Mulish;
  font-size: 14px;
  font-weight: 500;
  padding: 0.5rem 0.25rem;
  padding-top: 4px;
}

.criteria-checkbox-choice > input {
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #34495e;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: white;
  cursor: pointer;
}

.criteria-checkbox-choice > input:checked {
  border: 1px solid var(--vitamui-primary);
  background-color: var(--vitamui-primary);
}

.criteria-checkbox-choice > input:checked + span::before {
  content: '\2713';
  font-size: 20px;
  color: white;
  position: absolute;
  left: 0.4rem;
  bottom: 0.15rem;
  cursor: pointer;
  display: flex;
  height: 100%;
  align-items: center;
  font-weight: bolder;

  transform-origin: center center;
}

.extended-lateral-panel {
  width: 60%;
}

.normal-lateral-panel {
  width: 574px;
}

.validate-date-small-button {
  background-color: 'green';
  width: 30px;
  height: 30px;
}

.padding-btm-style {
  padding-bottom: 15px;
}
