@import '~ui-frontend-common/sass/mixins/elevation';

mat-toolbar {
  @include elevation-4-primary;
  z-index: 10;
}

.header {
  background-color: var(--vitamui-primary);
  height: 72px;
  position: fixed;
  top: 0;
  display: flex;
}
.separator{
  margin-top: 100px;
}
