<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title th:text="#{screen.error.page.title.requestunsupported}">Error - Unsupported Request</title>
</head>
<body>


<div layout:fragment="content" class="col">
  <div class="Text-large-bold" th:utext="#{screen.mfa.sms.login.text1}">
    Vérification de votre identité
  </div>

  <div class="Text-medium margin-top-15 display-block" th:utext="#{screen.mfa.sms.login.text2(${mobile})}">
    Pour sécuriser vos données, votre administrateur a demandé la validation en deux étapes. Veuillez saisir le code
    envoyé par SMS au <strong>06 XX XX XX 52</strong>.
  </div>

  <div class="Text-medium row margin-top-5 Grey-600">
    <div th:text="#{screen.mfa.sms.login.resetcode1}">
      Rien reçu ?
    </div>
    &nbsp;
    <form id="resendCodeForm" method="post">
      <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
      <input type="hidden" name="_eventId" value="resend"/>
      <input type="hidden" name="token" value="ignored"/>
      <a href="javascript:void(0)"
         onclick="$('#resendCodeForm').submit();"
         th:text="#{screen.mfa.sms.login.resetcode2}">
        Envoyer un nouveau code
      </a>
    </form>
  </div>

  <form method="post" id="main-form" th:object="${credential}" class="margin-top-20">
    <div class="form-line">
      <input id="token"
             type="text"
             name="token"
             required
             autofocus
             autocomplete="off"
             tabindex="1"
             th:size="${@environment.getProperty('cas.authn.mfa.simple.token.core.token-length')}"
             th:maxlength="${@environment.getProperty('cas.authn.mfa.simple.token.core.token-length')}"/>
      <label for="token" th:text="#{screen.mfa.sms.login.placeholder}">
        Code de vérification *
      </label>
    </div>
    <div class="Text-medium Grey-600 margin-top-5">
              <span
                th:utext="#{screen.mfa.sms.login.countdown(${@environment.getProperty('cas.authn.mfa.simple.token.core.time-to-kill-in-seconds')})}">
                Votre code est encore valide&nbsp;<strong>{0} secondes...</strong>
              </span>
    </div>
    <div class="warning Caption" th:if="${#fields.hasErrors('*')}">
      <i class="vitamui-icon vitamui-icon-anomalie"></i>
      <div class="col">
        <div class="element" th:each="err : ${#fields.errors('*')}" th:text="${err}">
          Exemple d'erreur
        </div>
      </div>
    </div>
    <div>
      <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
      <input type="hidden" name="geolocation"/>
      <input type="hidden" name="_eventId" value="submit"/>
    </div>
  </form>
  <script>
    displayMainFormSubmitButton();
  </script>
</div>


</body>
</html>
