<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{cas.mfa.simple.pagetitle}"></title>
</head>

<body id="cas" th:styleappend="${@environment.getProperty('theme.body.style')}">
<div layout:fragment="content">

    <div class="mfa-login">

        <h4  th:utext="#{screen.mfa.sms.login.text1(${mobile})}"></h4>
        <div>
            <div class="text large"  th:text="#{screen.mfa.sms.login.text2}"/>
        </div>

        <form method="post" id="loginForm" th:object="${credential}">
            <div class="formfields flex-align-center marging-top-form">
                <div class="textfield">
                    <input type="text" autofocus class="required" id="token" name="token" th:size="${@environment.getProperty('cas.authn.mfa.simple.token.core.token-length')}" tabindex="1"
                       autocomplete="off" th:maxlength="${@environment.getProperty('cas.authn.mfa.simple.token.core.token-length')}"/>
                    <div class="error" th:if="${#fields.hasErrors('*')}">
                        <div>
                            <img class="picto-attention" th:src="@{/images/picto-attention.svg}">
                        </div>
                        <div>
                            <div class="error-field" th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
                        </div>
                    </div>
                </div>
                <div class="buttonbckgrnd flex-justify-content-center">
                    <a class="submittoken" th:text="#{screen.mfa.sms.login.ok}" href="javascript:void(0)" onclick="$('#loginForm').submit();"/>
                </div>
                <div class="countdown">
                    <span th:text="#{screen.mfa.sms.login.countdown(${@environment.getProperty('cas.authn.mfa.simple.token.core.time-to-kill-in-seconds')})}"/>
                </div>
            </div>
            <div>
                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                <input type="hidden" name="geolocation"/>
                <input type="hidden" name="_eventId" value="submit"/>
            </div>
        </form>

        <div class="missingphone">
            <p class="text3" th:text="#{screen.mfa.sms.login.text3}"/>
        </div>

        <form method="post" id="resendCodeForm">
            <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
            <input type="hidden" name="_eventId" value="resend"/>
            <input type="hidden" name="token" value="ignored"/>
            <span class="reset1" th:text="#{screen.mfa.sms.login.resetcode1}" /> <a class="reset2" th:text="#{screen.mfa.sms.login.resetcode2(${mobile})}" href="javascript:void(0)" onclick="$('#resendCodeForm').submit();"/>
        </form>

    </div>
</div>
</body>
</html>
