status = error
name = LogstashPropertiesConfig

appender.rolling.type = RollingFile
appender.rolling.name = plain_rolling
appender.rolling.fileName = ${sys:ls.logs}/logstash-${sys:ls.log.format}.log
appender.rolling.layout.type = PatternLayout
appender.rolling.layout.pattern = [%d{ISO8601}][%-5p][%-25c] %-.10000m%n
appender.rolling.filePattern = ${sys:ls.logs}/logstash-${sys:ls.log.format}-%d{yyyy-MM-dd}-%i.log.gz
appender.rolling.policies.type = Policies
appender.rolling.policies.time.type = TimeBasedTriggeringPolicy
appender.rolling.policies.time.interval = 1
appender.rolling.policies.time.modulate = true
appender.rolling.policies.size.type = SizeBasedTriggeringPolicy
appender.rolling.policies.size.size = {{ logstash.log_appenders.rolling.max_log_file_size | default('10MB') }}
appender.rolling.strategy.type = DefaultRolloverStrategy
appender.rolling.strategy.fileIndex = nomax
appender.rolling.strategy.action.type = Delete
appender.rolling.strategy.action.basepath = ${sys:ls.logs}
appender.rolling.strategy.action.condition.type = IfFileName
appender.rolling.strategy.action.condition.glob = logstash-${sys:ls.log.format}-*
appender.rolling.strategy.action.condition.nested_condition.type = {{ logstash.log_appenders.rolling.condition_type | default('IfAccumulatedFileSize') }}
appender.rolling.strategy.action.condition.nested_condition.exceeds = {{ logstash.log_appenders.rolling.max_total_log_size | default('2GB') }}

appender.json_rolling.type = RollingFile
appender.json_rolling.name = json_rolling
appender.json_rolling.fileName = ${sys:ls.logs}/logstash-${sys:ls.log.format}.log
appender.json_rolling.filePattern = ${sys:ls.logs}/logstash-${sys:ls.log.format}-%d{yyyy-MM-dd}-%i.log.gz
appender.json_rolling.policies.type = Policies
appender.json_rolling.policies.time.type = TimeBasedTriggeringPolicy
appender.json_rolling.policies.time.interval = 1
appender.json_rolling.policies.time.modulate = true
appender.json_rolling.layout.type = JSONLayout
appender.json_rolling.layout.compact = true
appender.json_rolling.layout.eventEol = true
appender.json_rolling.policies.size.type = SizeBasedTriggeringPolicy
appender.json_rolling.policies.size.size = {{ logstash.log_appenders.json_rolling.max_log_file_size | default('10MB') }}
appender.json_rolling.strategy.type = DefaultRolloverStrategy
appender.json_rolling.strategy.fileIndex = nomax
appender.json_rolling.strategy.action.type = Delete
appender.json_rolling.strategy.action.basepath = ${sys:ls.logs}
appender.json_rolling.strategy.action.condition.type = IfFileName
appender.json_rolling.strategy.action.condition.glob = logstash-${sys:ls.log.format}-*
appender.json_rolling.strategy.action.condition.nested_condition.type = {{ logstash.log_appenders.json_rolling.condition_type | default('IfAccumulatedFileSize') }}
appender.json_rolling.strategy.action.condition.nested_condition.exceeds = {{ logstash.log_appenders.json_rolling.max_total_log_size | default('2GB') }}

rootLogger.level = ${sys:ls.log.level}
rootLogger.appenderRef.rolling.ref = ${sys:ls.log.format}_rolling

# Slowlog

appender.rolling_slowlog.type = RollingFile
appender.rolling_slowlog.name = plain_rolling_slowlog
appender.rolling_slowlog.fileName = ${sys:ls.logs}/logstash-slowlog-${sys:ls.log.format}.log
appender.rolling_slowlog.filePattern = ${sys:ls.logs}/logstash-slowlog-${sys:ls.log.format}-%d{yyyy-MM-dd}-%i.log.gz
appender.rolling_slowlog.policies.type = Policies
appender.rolling_slowlog.policies.time.type = TimeBasedTriggeringPolicy
appender.rolling_slowlog.policies.time.interval = 1
appender.rolling_slowlog.policies.time.modulate = true
appender.rolling_slowlog.layout.type = PatternLayout
appender.rolling_slowlog.layout.pattern = [%d{ISO8601}][%-5p][%-25c] %.10000m%n
appender.rolling_slowlog.policies.size.type = SizeBasedTriggeringPolicy
appender.rolling_slowlog.policies.size.size = {{ logstash.log_appenders.rolling_slowlog.max_log_file_size | default('10MB') }}
appender.rolling_slowlog.strategy.action.condition.nested_condition.exceeds = {{ logstash.log_appenders.rolling_slowlog.max_total_log_size | default('2GB') }}
appender.rolling_slowlog.strategy.type = DefaultRolloverStrategy
appender.rolling_slowlog.strategy.fileIndex = nomax
appender.rolling_slowlog.strategy.action.type = Delete
appender.rolling_slowlog.strategy.action.basepath = ${sys:ls.logs}
appender.rolling_slowlog.strategy.action.condition.type = IfFileName
appender.rolling_slowlog.strategy.action.condition.glob = logstash-${sys:ls.log.format}-*
appender.rolling_slowlog.strategy.action.condition.nested_condition.type = {{ logstash.log_appenders.rolling_slowlog.condition_type | default('IfAccumulatedFileSize') }}
appender.rolling_slowlog.strategy.action.condition.nested_condition.exceeds = {{ logstash.log_appenders.rolling_slowlog.max_total_log_size | default('2GB') }}

appender.json_rolling_slowlog.type = RollingFile
appender.json_rolling_slowlog.name = json_rolling_slowlog
appender.json_rolling_slowlog.fileName = ${sys:ls.logs}/logstash-slowlog-${sys:ls.log.format}.log
appender.json_rolling_slowlog.filePattern = ${sys:ls.logs}/logstash-slowlog-${sys:ls.log.format}-%d{yyyy-MM-dd}-%i.log.gz
appender.json_rolling_slowlog.policies.type = Policies
appender.json_rolling_slowlog.policies.time.type = TimeBasedTriggeringPolicy
appender.json_rolling_slowlog.policies.time.interval = 1
appender.json_rolling_slowlog.policies.time.modulate = true
appender.json_rolling_slowlog.layout.type = JSONLayout
appender.json_rolling_slowlog.layout.compact = true
appender.json_rolling_slowlog.layout.eventEol = true
appender.json_rolling_slowlog.policies.size.type = SizeBasedTriggeringPolicy
appender.json_rolling_slowlog.policies.size.size = {{ logstash.log_appenders.json_rolling_slowlog.max_log_file_size | default('10MB') }}
appender.json_rolling_slowlog.strategy.type = DefaultRolloverStrategy
appender.json_rolling_slowlog.strategy.fileIndex = nomax
appender.json_rolling_slowlog.strategy.action.type = Delete
appender.json_rolling_slowlog.strategy.action.basepath = ${sys:ls.logs}
appender.json_rolling_slowlog.strategy.action.condition.type = IfFileName
appender.json_rolling_slowlog.strategy.action.condition.glob = logstash-${sys:ls.log.format}-*
appender.json_rolling_slowlog.strategy.action.condition.nested_condition.type = {{ logstash.log_appenders.json_rolling_slowlog.condition_type | default('IfAccumulatedFileSize') }}
appender.json_rolling_slowlog.strategy.action.condition.nested_condition.exceeds = {{ logstash.log_appenders.json_rolling_slowlog.max_total_log_size | default('2GB') }}

logger.slowlog.name = slowlog
logger.slowlog.level = trace
logger.slowlog.appenderRef.rolling_slowlog.ref = ${sys:ls.log.format}_rolling_slowlog
logger.slowlog.additivity = false
