{
  "service": {
    "name": "vitamui-logstash",
    "port": {{ logstash.port }},
    "address": "{{ ip_admin }}",
    "enable_tag_override": false,
    "tags": ["logstash"],
    "checks": [
      {
        "notes": "Logstash Input TCP port opened",
        "tcp": "{{ ip_admin }}:{{ logstash.port | default(10514) }}",
        "interval": "{{ logstash.check_consul | default('10') }}s"
      }
    ]
  }
}
