<div class="vitamui-snack-bar-container">
  <span class="vitamui-snack-bar-content" [ngSwitch]="data?.type">
    <ng-container *ngSwitchCase="'customerCreate'">
      <i class="vitamui-icon vitamui-icon-bank"></i> {{ 'SHARED.SNACKBAR.CUSTOMER_CREATE' | translate: { param1: data?.code } }}
    </ng-container>

    <ng-container *ngSwitchCase="'customerCreateError'">
      <i class="vitamui-icon vitamui-icon-danger"></i> {{ 'SHARED.SNACKBAR.CUSTOMER_CREATE_ERROR' | translate }}
    </ng-container>

    <ng-container *ngSwitchCase="'customerUpdate'">
      <i class="vitamui-icon vitamui-icon-bank"></i> {{ 'SHARED.SNACKBAR.CUSTOMER_UPDATE' | translate: { param1: data?.code } }}
    </ng-container>

    <ng-container *ngSwitchCase="'providerCreate'">
      <i class="material-icons">lock_outline</i> {{ 'SHARED.SNACKBAR.PROVIDER_CREATE' | translate: { param1: data?.name } }}
    </ng-container>

    <ng-container *ngSwitchCase="'providerUpdate'">
      <i class="material-icons">lock_outline</i> {{ 'SHARED.SNACKBAR.PROVIDER_UPDATE' | translate: { param1: data?.name } }}
    </ng-container>

    <ng-container *ngSwitchCase="'ownerCreate'">
      <i class="vitamui-icon vitamui-icon-key"></i> {{ 'SHARED.SNACKBAR.OWNER_CREATE' | translate: { param1: data?.name } }}
    </ng-container>

    <ng-container *ngSwitchCase="'ownerUpdate'">
      <i class="vitamui-icon vitamui-icon-key"></i> {{ 'SHARED.SNACKBAR.OWNER_UPDATE' | translate: { param1: data?.name } }}
    </ng-container>

    <ng-container *ngSwitchCase="'tenantCreate'">
      <i class="vitamui-icon vitamui-icon-safe"></i>
      {{ 'SHARED.SNACKBAR.SAFE_CREATE' | translate: { param1: data?.tenantName, param2: data?.ownerName } }}
    </ng-container>

    <ng-container *ngSwitchCase="'tenantCreateError'">
      <i class="vitamui-icon vitamui-icon-danger"></i> {{ 'SHARED.SNACKBAR.SAFE_CREATE_ERROR' | translate }}
    </ng-container>

    <ng-container *ngSwitchCase="'tenantUpdate'">
      <i class="vitamui-icon vitamui-icon-safe"></i>
      {{ 'SHARED.SNACKBAR.SAFE_UPDATE' | translate: { param1: data?.tenantName, param2: data?.ownerName } }}
    </ng-container>

    <ng-container *ngSwitchCase="'groupCreate'">
      <i class="vitamui-icon vitamui-icon-keys"></i> {{ 'SHARED.SNACKBAR.GROUP_CREATE' | translate: { param1: data?.name } }}
    </ng-container>

    <ng-container *ngSwitchCase="'groupUpdate'">
      <i class="vitamui-icon vitamui-icon-keys"></i> {{ 'SHARED.SNACKBAR.GROUP_UPDATE' | translate: { param1: data?.name } }}
    </ng-container>

    <ng-container *ngSwitchCase="'userCreate'">
      <i class="vitamui-icon vitamui-icon-key"></i>
      {{ 'SHARED.SNACKBAR.USER_CREATE' | translate: { param1: data?.firstname, param2: data?.lastname } }}
    </ng-container>

    <ng-container *ngSwitchCase="'userUpdate'">
      <i class="vitamui-icon vitamui-icon-key"></i>
      {{ 'SHARED.SNACKBAR.USER_UPDATE' | translate: { param1: data?.firstname, param2: data?.lastname } }}
    </ng-container>

    <ng-container *ngSwitchCase="'userDelete'" i18n="@@notificationUserDelete">
      <i class="vitamui-icon vitamui-icon-key"></i> L'utilisateur {{ data?.firstname }} {{ data?.lastname }} a bien été supprimé
    </ng-container>

    <ng-container *ngSwitchCase="'profileUpdate'">
      <i class="vitamui-icon vitamui-icon-admin-key"></i> {{ 'SHARED.SNACKBAR.PROFILE_UPDATE' | translate: { param1: data?.name } }}
    </ng-container>
    <ng-container *ngSwitchCase="'profileAdminCreate'">
      <i class="vitamui-icon vitamui-icon-admin-key"></i> {{ 'SHARED.SNACKBAR.PROFILE_CREATE_ERROR' | translate: { param1: data?.name } }}
    </ng-container>
    <ng-container *ngSwitchCase="'profileCreate'">
      <i class="vitamui-icon vitamui-icon-admin-key"></i> {{ 'SHARED.SNACKBAR.PROFILE_CREATE' | translate: { param1: data?.name } }}
    </ng-container>
    <ng-container *ngSwitchCase="'subrogationAccept'">
      <i class="vitamui-icon vitamui-icon-link"></i> {{ 'SHARED.SNACKBAR.SUBROGATION_ACCEPT' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="'subrogationCancel'">
      <i class="vitamui-icon vitamui-icon-link"></i> {{ 'SHARED.SNACKBAR.SUBROGATION_CANCEL' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="'subrogationDenied'">
      <i class="vitamui-icon vitamui-icon-link"></i> {{ 'SHARED.SNACKBAR.SUBROGATION_DENIED' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="'subrogationUnavailable'">
      <i class="vitamui-icon vitamui-icon-link"></i> {{ 'SHARED.SNACKBAR.SUBROGATION_UNAVAILABLE' | translate }}
    </ng-container>

    <ng-container *ngSwitchCase="'accountUpdate'">
      <i class="vitamui-icon vitamui-icon-user"></i> {{ 'SHARED.SNACKBAR.ACCOUNT_UPDATE' | translate }}
    </ng-container>

    <ng-container *ngSwitchCase="'useralreadyDeleted'" i18n="@@notificationUserAlreadyDelete">
      <i class="vitamui-icon vitamui-icon-key"></i> L'utilisateur que vous cherchez est déja supprimé
    </ng-container>

    <ng-container *ngSwitchCase="'usersToDelete'" i18n="@@notificationUsersToDelete">
      <i class="vitamui-icon vitamui-icon-key"></i> Un ou plusieurs utilisateur(s) inactif(s) de votre organisation nécessitent l'effacement
      de leurs données personnelles
    </ng-container>

    <ng-container *ngSwitchCase="'externalParamProfileCreate'">
      <i class="vitamui-icon vitamui-icon-admin-key"></i>
      {{ 'EXTERNAL_PARAM_PROFILE.NOTIF_EXTERNAL_PARAM_PROFILE_CREATED' | translate: { name: data?.name } }}
    </ng-container>

    <ng-container *ngSwitchCase="'externalParamProfileUpdate'">
      <i class="vitamui-icon vitamui-icon-admin-key"></i>
      {{ 'EXTERNAL_PARAM_PROFILE.NOTIF_EXTERNAL_PARAM_PROFILE_UPDATED' | translate: { name: data?.name } }}
    </ng-container>
  </span>

  <button class="close-btn" (click)="close()"><i class="material-icons">clear</i></button>
</div>
