@import '~ui-frontend-common/sass/variables/colors';

.side-form {
  height: 100%;
  display: flex;
  flex-flow: column;

  .bottom {
    margin-top: auto;
  }
}

.error-message {
  color: $red;
  font-size: 14px;
  margin-bottom: 30px;
}
