<form [formGroup]="form" class="gap-3" (ngSubmit)="onSubmit()">
  <vitamui-slide-toggle class="w-100" formControlName="status"
    >{{ 'CONTRACT_MANAGEMENT.PREVIEW.INFORMATION.CONTRACT_ACTIVE_STATUS' | translate }}
  </vitamui-slide-toggle>

  <vitamui-input
    class="w-100"
    formControlName="identifier"
    [placeholder]="'CONTRACT_MANAGEMENT.PREVIEW.INFORMATION.IDENTIFIER' | translate"
  >
  </vitamui-input>

  <vitamui-input class="w-100" formControlName="name" [placeholder]="'CONTRACT_MANAGEMENT.PREVIEW.INFORMATION.NAME' | translate">
  </vitamui-input>

  <vitamui-input
    [textarea]="true"
    class="w-100"
    formControlName="description"
    [placeholder]="'CONTRACT_MANAGEMENT.PREVIEW.INFORMATION.DESCRIPTION' | translate"
  >
  </vitamui-input>

  <div>
    <label>{{ 'CONTRACT_MANAGEMENT.PREVIEW.INFORMATION.CREATION_DATE' | translate }}</label>
    <div>
      {{ inputManagementContract?.creationDate | dateTime: 'dd/MM/yyyy' }}
      <span class="date-hms">{{ inputManagementContract?.creationDate | dateTime: 'HH:mm:ss' }}</span>
    </div>
  </div>

  <div>
    <label>{{ 'CONTRACT_MANAGEMENT.PREVIEW.INFORMATION.LAST_UPDATE_DATE' | translate }}</label>
    <div>
      {{ inputManagementContract?.lastUpdate | dateTime: 'dd/MM/yyyy' }}
      <span class="date-hms">{{ inputManagementContract?.lastUpdate | dateTime: 'HH:mm:ss' }}</span>
    </div>
  </div>

  @if (submitting) {
    <div class="vitamui-min-content">
      <mat-spinner class="vitamui-spinner medium"></mat-spinner>
    </div>
  } @else {
    <div class="form-group bottom">
      <button type="submit" class="btn secondary" [disabled]="form.invalid || unchanged() || submitting">
        {{ 'CONTRACT_MANAGEMENT.PREVIEW.INFORMATION.SAVE' | translate }}
      </button>
    </div>
  }
</form>
