:host {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.v-col {
  display: flex;
  flex: 1;
}

.v-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}
