:host {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.v-col {
  display: flex;
  flex: 1;
}

.v-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.margin-btn {
  margin-right: 2rem;
}
