.vitamui-heading {
  margin-bottom: 1rem !important;
}

.mat-boutton {
  border: none;
  background-color: transparent;
}

.hide-panel {
  position: absolute;
  top: -1000px;
}

.extended-lateral-panel {
  width: 60%;
}

.mat-sidenav {
  overflow: auto;
}

.mat-drawer-inner-container {
  display: flex;
}
