<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true"> </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-common-title-breadcrumb>{{ 'ACCESSION_REGISTER.ACCESSION_REGISTER' | translate }}</vitamui-common-title-breadcrumb>
      <search-bar-with-sibling-button
        buttonLabel="{{ 'ACCESSION_REGISTER.SEARCH_BAR_BUTTON_LABEL' | translate }}"
        placeholder="{{ 'ACCESSION_REGISTER.SEARCH_BAR_PLACEHOLDER' | translate }}"
        (search)="onSearchSubmit($event)"
      >
      </search-bar-with-sibling-button>
    </div>
    <div class="vitamui-content">
      <div class="mt-3">
        <app-accession-register-list [search]="search" (accessionRegisterClick)="openPanel($event)"> </app-accession-register-list>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
