div:first-of-type {
    position: relative;
    left: -3.4rem;
}

    h2{
        font-family: 'Mulish', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.5px;
        color: var(--vitamui-grey-900);
    }

