@import '../../../../../sass/mixins/elevation';

:host::ng-deep {
  .btn-circle {
    &.small {
      width: 24px;
      height: 24px;

      i {
        font-size: 14px;
      }
    }
  }
}

button {
  position: relative;
  left: -2rem;
  @include elevation-0;
}

vitamui-common-breadcrumb {
  position: relative;
  left: -1rem;
}
