<div *ngIf="loading; else elseBlock"><mat-spinner class="vitamui-spinner medium"></mat-spinner></div>
<ng-template #elseBlock>
  <div *ngIf="!events?.length; else elseBlock" class="no-result" i18n="@@noHistoryMessage">Aucun historique</div>
  <ng-template #elseBlock>
    <vitamui-common-collapse collapseTitle="Journal des opérations" i18n-collapseTitle="@@historySectionTitleUnit">
      <vitamui-common-history-events [events]="events" ></vitamui-common-history-events>
    </vitamui-common-collapse>
  </ng-template>
</ng-template>
