.category {
    margin: 0.5rem auto;
}

mat-card {
    cursor: pointer;
    box-shadow: none!important;
    background-color: transparent;
}

mat-card > img, .appIcon {
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}

mat-card-header {
    background-color: transparent;
}

mat-card-title {
    color: var(--vitamui-grey-900);
    font-weight: 600;
    font-size: 18px!important;
}

mat-card-subtitle {
    color: var(--vitamui-grey-700);
    font-size: 14px;
}


.appIcon {
    width: 100%;
    overflow: hidden;
    text-align: center;
    max-width: 16.8vw;
    max-height: 12vw;
}

.appIcon i {
    font-size: 10vw;
}

a {
    text-decoration: none;
}

:host::ng-deep {

    .mat-card-image:first-child {
        margin: 0;
    }

    .mat-card-header-text {
        max-width: 16.8vw;
        margin: 1rem 0;
    }

    .mat-tab-header {
        margin: 3rem 0 1.5rem 0;
    }

    .mat-tab-label.mat-tab-label-active {
        color: var(--vitamui-primary);
        opacity: 1;
        font-weight: bold;
    }

    .mat-tab-labels {
        justify-content: center;
    }

    .mat-ink-bar {
        background-color: var(--vitamui-primary)!important;
    }

    .mat-tab-header-pagination.mat-tab-header-pagination-disabled {
        display: none!important;
    }
}
