<div class="content">
  <mat-tab-group>
    <div *ngFor="let category of appMap | keyvalue">
      <mat-tab label="{{category.key.name}}">
        <div class="row category">
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let application of category.value">
            <mat-card (click)="applicationClick.emit(application)">
              
              <img mat-card-image alt="application illustration" src="../../../assets/app1.png">
              
              <mat-card-header>
                <mat-card-title>{{application.name}}</mat-card-title>
                <mat-card-subtitle>{{application.tooltip}}</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          </div>
        </div>
      </mat-tab>
    </div>
  </mat-tab-group>
</div>