<mat-tab-group>
  <div *ngFor="let category of appMap | keyvalue">
    <mat-tab label="{{ 'MENU.' + category.key.identifier | translate }}">
      <ng-template matTabContent>
        <div class="row category">
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let application of category.value">
            <mat-card>
              <a href="{{ getApplicationUrl(application) }}" (click)="openApplication(application)">
                <div mat-card-image class="appIcon">
                  <svg-icon src="{{ application.identifier }}" [svgStyle]="{ 'width.%': 60 }"></svg-icon>
                </div>
                <mat-card-header>
                  <mat-card-title>{{
                    'APPLICATION.' + application.identifier + '.NAME' | translate: { default: application.name }
                  }}</mat-card-title>
                  <mat-card-subtitle>{{
                    'APPLICATION.' + application.identifier + '.TOOLTIP' | translate: { default: application.tooltip }
                  }}</mat-card-subtitle>
                </mat-card-header>
              </a>
            </mat-card>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </div>
</mat-tab-group>
