
<div class="header">
  <vitamui-common-progress-bar [index]="stepIndex" [count]="stepCount"></vitamui-common-progress-bar>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <vitamui-common-stepper (selectionChange)="stepIndex=$event.selectedIndex">
    <cdk-step>
      <div class="content">
        <div class="text large bold" i18n="Profile Group Creation@@profileGroupCreateTitle">Création d'un groupe de profils</div>
          <vitamui-common-slide-toggle formControlName="enabled">Groupe de profils <span *ngIf="!form.get('enabled').value">in</span>actif</vitamui-common-slide-toggle>
          <div class="mt-3">
            <vitamui-common-input class="col-5 p-0" formControlName="name" minlength="2" maxlength="100"
              required placeholder="Nom" i18n-placeholder="Name@@profileGroupCreateNamePlaceholder">
              <ng-container *ngIf="form.get('name')?.touched">
                <vitamui-common-input-error *ngIf="!!form.get('name')?.errors?.required" i18n="Required field error hint@@formErrorRequiredField">Champ requis</vitamui-common-input-error>
                <vitamui-common-input-error *ngIf="!!form?.get('name')?.errors?.nameExists" i18n="Name exists error hint@@formErrorNameExists">Nom déjà utilisé</vitamui-common-input-error>
              </ng-container>
            </vitamui-common-input>
          </div>

          <div>
            <vitamui-common-input class="col-10 p-0" formControlName="description" minlength="4" maxlength="100" required
              placeholder="Description" i18n-placeholder="Description@@profileGroupCreateDescriptionPlaceholder">
              <vitamui-common-input-error *ngIf="form.get('description')?.touched && form.get('description')?.hasError('required')" i18n="Required field error hint@@formErrorRequiredField">Champ requis</vitamui-common-input-error>
            </vitamui-common-input>
          </div>

          <div class="d-flex">
            <div class="mr-4 p-2">
              <div class="text normal light">Niveau</div>
              <div class="text medium bold">{{authService.user.level}}</div>
            </div>

            <div class="col-3 p-0">
              <vitamui-common-level-input [prefix]="authService.user.level" formControlName="level">
                <ng-container *ngIf="form.get('level')?.touched">
                  <vitamui-common-input-error *ngIf="form?.get('level')?.hasError('required')" i18n="Required field error hint@@formErrorRequiredField">Champ
                    requis</vitamui-common-input-error>
                  <vitamui-common-input-error *ngIf="form?.get('level')?.touched && form?.get('level')?.hasError('pattern')" i18n="Pattern field error hint@@formErrorPatternField">Format
                    incorrect (caractères alphanumériques séparés par le caractères .)
                  </vitamui-common-input-error>
                </ng-container>
              </vitamui-common-level-input>
            </div>
          </div>
        
          <div class="actions">
            <button type="button" class="btn primary" cdkStepperNext [disabled]="firstStepInvalid()" i18n="Next@@profileGroupCreateNextButton">Suivant</button>
            <button type="button" class="btn cancel link" (click)="onCancel()" i18n="Cancel customer creation@@profileGroupCreateCancelButton">Annuler</button>
          </div>
        </div>
      </cdk-step>

    <cdk-step>
      <div class="content">
        <div class="text large bold" [ngClass]="{'mb-0': form.get('level').value}" i18n="Group Provisioning@@profileGroupCreateTitle2">Provisionnement du groupe “{{ form.get('name').value }}”</div>
        <div class="text medium bold mb-4" *ngIf="form.get('level').value" i18n="@@groupLevel">Niveau : {{ form.get('level').value }}</div>
        
        <app-profiles-form formControlName="profileIds" [level]="form.get('level').value"></app-profiles-form>

        <div class="actions">
          <button type="submit" class="btn primary" [disabled]="formValid()" i18n="Done@@profileGroupCreateSubmitButton">Terminer</button>
          <button type="button" class="btn cancel link" (click)="onCancel()" i18n="Cancel@@profileGroupCreateCancelButton">Annuler</button>
        </div>

        <button type="button" class="btn link" cdkStepperPrevious>
          <i class="vitamui-icon vitamui-icon-chevron-left"></i>
           <ng-container i18n="Previous step button label@@profileGroupCreateBackButton"><span class="underline">Retour</span></ng-container>
        </button>
      </div>
    </cdk-step>
  </vitamui-common-stepper>
</form>
