<vitamui-dialog-header
  [stepper]="stepper"
  [subhead]="stepper.selectedIndex > 0 ? ('GROUP.INFORMATIONS.MODAL.TITLE' | translate) : ''"
  [title]="[
    'GROUP.INFORMATIONS.MODAL.TITLE' | translate,
    'GROUP.INFORMATIONS.MODAL.PROVISIONNING_GROUP' | translate: { name: form.get('name').value },
    'GROUP.INFORMATIONS.MODAL.UNITS_INFORMATION' | translate,
  ]"
></vitamui-dialog-header>

<form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
  <vitamui-stepper #stepper>
    <cdk-step>
      <mat-dialog-content class="gap-3 align-items-stretch">
        <vitamui-slide-toggle formControlName="enabled">
          @if (!form?.get('enabled').value) {
            <span>{{ 'GROUP.INFORMATIONS.INACTIVE_SWITCH' | translate }}</span>
          }
          @if (form?.get('enabled').value) {
            <span>{{ 'GROUP.INFORMATIONS.ACTIVE_SWITCH' | translate }}</span>
          }
        </vitamui-slide-toggle>

        <vitamui-input
          formControlName="name"
          [placeholder]="'GROUP.INFORMATIONS.NAME' | translate"
          [errorMessageMap]="{ nameExists: 'GROUP.INFORMATIONS.MODAL.EXISTING_NAME' | translate }"
        >
        </vitamui-input>

        <vitamui-input formControlName="description" [placeholder]="'GROUP.INFORMATIONS.DESCRIPTION' | translate"> </vitamui-input>

        <div class="d-flex">
          <div class="mr-4 p-2">
            <div class="text normal light">{{ 'GROUP.INFORMATIONS.LEVEL' | translate }}</div>
            <div class="text medium bold">{{ authService.user.level }}</div>
          </div>

          <div class="col-3 p-0">
            <vitamui-common-level-input [prefix]="authService.user.level" formControlName="level">
              @if (form.get('level')?.touched) {
                @if (form?.get('level')?.hasError('required')) {
                  <vitamui-common-input-error>{{ 'COMMON.ERROR.REQUIRED' | translate }}</vitamui-common-input-error>
                }
                @if (form?.get('level')?.touched && form?.get('level')?.hasError('pattern')) {
                  <vitamui-common-input-error>{{ 'GROUP.INFORMATIONS.MODAL.WRONG_FORMAT' | translate }} </vitamui-common-input-error>
                }
              }
            </vitamui-common-level-input>
          </div>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <vitamui-next-step [disabled]="firstStepInvalid()"></vitamui-next-step>
        <button type="button" class="btn cancel link" (click)="onCancel()">{{ 'COMMON.UNDO' | translate }}</button>
      </mat-dialog-actions>
    </cdk-step>

    <cdk-step>
      <mat-dialog-content>
        @if (form.get('level').value) {
          <div class="text medium bold mb-4">{{ 'GROUP.INFORMATIONS.LEVEL' | translate }} : {{ form.get('level').value }}</div>
        }

        <app-profiles-form formControlName="profileIds" [level]="form.get('level').value"></app-profiles-form>
      </mat-dialog-content>
      <mat-dialog-actions>
        <div>
          <vitamui-next-step [disabled]="secondStepInvalid()"></vitamui-next-step>
          <button type="button" class="btn cancel link" (click)="onCancel()">{{ 'COMMON.UNDO' | translate }}</button>
        </div>
        <vitamui-previous-step></vitamui-previous-step>
      </mat-dialog-actions>
    </cdk-step>

    <cdk-step>
      <mat-dialog-content>
        <app-units-form [customer]="authService.user.customerId" formControlName="units"></app-units-form>
      </mat-dialog-content>
      <mat-dialog-actions>
        <div>
          <button type="submit" class="btn primary" [disabled]="formValid()">{{ 'COMMON.SUBMIT' | translate }}</button>
          <button type="button" class="btn cancel link" (click)="onCancel()">{{ 'COMMON.UNDO' | translate }}</button>
        </div>
        <vitamui-previous-step></vitamui-previous-step>
      </mat-dialog-actions>
    </cdk-step>
  </vitamui-stepper>
</form>
