@import '../../../../../sass/mixins/elevation';

:host::ng-deep {
  .selected-item-label,
  .unselected-item-label {
    color: var(--vitamui-primary);
    font-size: 16px;
    font-weight: 700;
  }
}
