@use '../mixins/fonts' as fonts;

h1,
h2,
h3,
h4,
h5 {
  color: var(--vitamui-grey-900);
  margin: 10px 0;

  @include fonts.text-colors;
}

h1 {
  font-size: 96px;
  line-height: 112px;
  font-weight: 800;
  letter-spacing: -1px;
}

h2 {
  font-size: 60px;
  line-height: 72px;
  font-weight: 900;
  letter-spacing: -1px;
}

h3 {
  font-size: 42px;
  line-height: 56px;
  font-weight: 800;
  letter-spacing: -0.5px;
}

h4 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

h5 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
  letter-spacing: -0.5px;
}

.text {
  font-family: 'Mulish', sans-serif;
  color: var(--vitamui-grey-900);
  font-weight: 400;
  font-style: inherit;

  &.large {
    font-size: 20px;
    line-height: 28px;
  }

  &.medium {
    font-size: 16px;
    line-height: 24px;
  }

  &.normal {
    font-size: 14px;
    line-height: 22px;
  }

  &.caption {
    font-size: 12px;
    line-height: 16px;
  }

  &.subcaption {
    font-size: 9px;
    line-height: 13px;
  }

  &.bold {
    font-weight: bold;
  }

  &.link:not(.btn) {
    text-decoration: underline;
    cursor: pointer;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.break {
    overflow-wrap: break-word;
  }

  @include fonts.text-colors;
}

.no-wrap {
  white-space: nowrap !important;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-word;
  white-space: normal;

  &.break-all {
    word-break: break-all;
  }
}
