.clickable {
  cursor: pointer !important;
}

.hidden {
  visibility: hidden !important;
}

.overflow-hidden {
  overflow: hidden;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.text-nowrap {
  text-wrap: nowrap;
}

.bg-primary {
  background-color: var(--vitamui-primary) !important;
}

.bg-secondary {
  background-color: var(--vitamui-secondary) !important;
}

.no-hover {
  &:hover {
    background-color: transparent !important;
  }
}

.w-100 {
  width: 100% !important;
}

.w-50 {
  width: 50% !important;
}

$vitamui-colors: vitamui-grey, vitamui-primary, vitamui-secondary;
$vitamui-color-variations: 50, 100, 200, 300, 400, 600, 700, 800, 900;
@each $color in $vitamui-colors {
  .#{$color},
  .#{$color}-500 {
    color: var(--#{$color});
  }
  @each $i in $vitamui-color-variations {
    .#{$color}-#{$i} {
      color: var(--#{$color}-#{$i});
    }
  }
}

.align-middle {
  vertical-align: middle;
}
