@import '~ui-frontend-common/sass/variables/colors';

.clickable-icon {
  cursor: pointer;
}

.form-group {
  margin-bottom: 30px;
}

.field-tooltip {
  cursor: default;
  margin-left: 10px;
  color: var(--vitamui-secondary);
}

.select-tooltip {
  top: 15px;
  position: relative;
}

.radio-tooltip {
  top: -10px;
  position: relative;
}

.selectorPosition {
  position: relative;
}

.contractsSelect {
  max-width: 150px;
}

.delete {
  padding-left: 0px !important;
  padding-right: 10px;
}

.customers {
  max-width: 150px;
}

.tenants {
  max-width: 150px;
}

.ingestContracts {
  padding-right: 0px;
}

.editMode {
  max-width: 100px;
  margin-left: 5px;
}

.editContract {
  margin-left: 25px;
}

.editTd {
  padding-left: 0;
  padding-right: 0;
}
td{
  mat-form-field{
    padding-bottom: 0;
  }
}

.defaultTd {
  padding-left: 0 !important;
}
