<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <vitamui-common-slide-toggle class="w-100" formControlName="everyOriginatingAgency">
    <span>{{ 'ACCESS_CONTRACT.TAB.USAGE.ALL_AGENCIES' | translate }}</span>
  </vitamui-common-slide-toggle>

  <ng-container *ngIf="!form?.get('everyOriginatingAgency')?.value && originatingAgenciesOptions">
    <vitamui-common-autocomplete-multi-select
      formControlName="originatingAgencies"
      [placeholder]="'ACCESS_CONTRACT.TAB.USAGE.SELECT_AGENCY' | translate"
      [searchBarPlaceHolder]="'ACCESS_CONTRACT.TAB.USAGE.SELECT_AGENCY_SEARCH' | translate"
      [multiSelectOptions]="originatingAgenciesOptions"
      required
    >
      <vitamui-common-input-error *ngIf="form.get('originatingAgencies').errors?.required">
        {{ 'ACCESS_CONTRACT.TAB.USAGE.NO_AGENCY_SELECTED' | translate }}
      </vitamui-common-input-error>
    </vitamui-common-autocomplete-multi-select>
  </ng-container>

  <button type="submit" class="btn primary mt-4" [disabled]="unChanged() || isInvalid() || submitted">
    {{ 'COMMON.SAVE' | translate }}
  </button>
</form>
