<vitamui-common-sidenav-header
  [title]="operation?.operationId | truncate: 30"
  [icon]="'vitamui-icon-info'"
  [hasToolTipOnTitle]="true"
  [toolTipTitleText]="operation?.operationId"
  [toolTipTitleDuration]="600"
  (onclose)="emitClose()"
>
  <vitamui-common-menu-button [overlayPos]="'end'" [icon]="'vitamui-icon-more-horiz'">
    <button
      mat-menu-item
      (click)="updateOperationStatus(operation, 'PAUSE')"
      [disabled]="operation?.globalState === 'COMPLETED' || operation?.globalState === 'PAUSE'"
    >
      {{ 'LOGBOOK_OPERATION_INFORMATIONS.PAUSE_STEP' | translate }}
    </button>
    <button
      mat-menu-item
      (click)="updateOperationStatus(operation, 'RESUME')"
      [disabled]="operation?.globalState === 'COMPLETED' || !(operation?.globalState === 'PAUSE' || operation?.stepStatus === 'FATAL')"
    >
      {{ 'LOGBOOK_OPERATION_INFORMATIONS.RESUME_OPERATION' | translate }}
    </button>
    <button
      mat-menu-item
      (click)="updateOperationStatus(operation, 'NEXT')"
      [disabled]="operation?.globalState === 'COMPLETED' || !(operation?.globalState === 'PAUSE' || operation?.stepStatus === 'FATAL')"
    >
      {{ 'LOGBOOK_OPERATION_INFORMATIONS.NEXT_STEP' | translate }}
    </button>
    <button
      mat-menu-item
      (click)="updateOperationStatus(operation, 'REPLAY')"
      [disabled]="operation?.globalState === 'COMPLETED' || !(operation?.globalState === 'PAUSE' || operation?.stepStatus === 'FATAL')"
    >
      {{ 'LOGBOOK_OPERATION_INFORMATIONS.REPLAY_STEP' | translate }}
    </button>
    <button
      mat-menu-item
      (click)="cancelOperation(operation)"
      [disabled]="operation?.globalState === 'COMPLETED' || !(operation?.globalState === 'PAUSE' || operation?.stepStatus === 'FATAL')"
    >
      {{ 'LOGBOOK_OPERATION_INFORMATIONS.CANCEL_OPERATION' | translate }}
    </button>
  </vitamui-common-menu-button>
</vitamui-common-sidenav-header>

<div class="vitamui-sidepanel-body">
  <mat-tab-group class="preview-tab-group">
    <mat-tab label="{{ 'LOGBOOK_OPERATION_INFORMATIONS.INFORMATIONS' | translate }}">
      <app-logbook-management-operation-information-tab
        [operation]="operation"
        [tenantIdentifier]="tenantIdentifier"
        [tenant]="tenant"
      ></app-logbook-management-operation-information-tab>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #confirmUpdateOperationDialog>
  <vitamui-dialog-header
    [subhead]="'LOGBOOK_MANAGEMENT_OPERATION_ACTIONS.POP_UP_' + actionId + '_MESSAGE' | translate"
    [title]="
      (operation?.globalState === 'PAUSE' && operation?.stepStatus === 'FATAL'
        ? 'LOGBOOK_MANAGEMENT_OPERATION_ACTIONS.POP_UP_' + actionId + '_SECOND_MESSAGE'
        : 'LOGBOOK_MANAGEMENT_OPERATION_ACTIONS.POP_UP_SECOND_TITLE'
      ) | translate
    "
  ></vitamui-dialog-header>

  <mat-dialog-content class="gap-3 align-items-stretch">
    <div>
      {{ 'LOGBOOK_MANAGEMENT_OPERATION_ACTIONS.POP_UP_' + actionId + '_MESSAGE' | translate }} :
      <strong>{{ operation?.operationId }}</strong>
    </div>
    <div class="row row-data">
      <div class="col-3">
        <div class="vitamui-cell-content">
          <vitamui-common-event-type-label [key]="operation.processType"></vitamui-common-event-type-label>
        </div>
      </div>
      <div class="col-3">
        <div>{{ operation?.processDate | dateTime: 'dd/MM/yyyy' }}</div>
        <span class="date">
          {{ operation?.processDate | dateTime: 'HH:mm:ss' }}
        </span>
      </div>
      <div class="col-6">
        <div>{{ 'STATE_VALUE.' + operation?.globalState | translate }}</div>
        <div
          class="text bold"
          [ngClass]="{
            success: operationStatus(operation) === 'OK',
            danger: ['KO', 'FATAL'].includes(operationStatus(operation)),
            warning: operationStatus(operation) === 'WARNING',
          }"
        >
          <strong>{{ 'STATUS_VALUE.' + operation?.stepStatus | translate }}</strong>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-action">
    <button [matDialogClose]="true" class="btn primary btn-confirm-dialog">{{ 'COMMON.SUBMIT' | translate }}</button>
    <button matDialogClose class="btn cancel link">{{ 'COMMON.CANCEL' | translate }}</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #confirmCancelOperationDialog>
  <vitamui-dialog-header
    [subhead]="'LOGBOOK_MANAGEMENT_OPERATION_ACTIONS.POP_UP_' + actionId + '_TITLE' | translate"
    [title]="
      'LOGBOOK_MANAGEMENT_OPERATION_ACTIONS.POP_UP_' +
        actionId +
        '_' +
        (operation?.stepCancellable ? 'FORCED' : 'NON_FORCED') +
        '_MODE_MESSAGE' | translate
    "
  ></vitamui-dialog-header>

  <mat-dialog-content>
    <div *ngIf="operation?.stepCancellable">
      <p>
        {{ 'LOGBOOK_MANAGEMENT_OPERATION_ACTIONS.POP_UP_' + actionId + '_FORCED_MODE_REASON' | translate }}
      </p>
      <vitamui-input
        [textarea]="true"
        class="w-100"
        [formControl]="reason"
        [placeholder]="'LOGBOOK_MANAGEMENT_OPERATION_ACTIONS.POP_UP_CANCEL_FORCED_MODE_REASON_PLACEHOLDER' | translate"
      >
      </vitamui-input>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-action">
    <button [matDialogClose]="true" [disabled]="!reason.valid" class="btn primary btn-confirm-dialog">
      {{ 'LOGBOOK_MANAGEMENT_OPERATION_ACTIONS.POP_UP_CANCEL_ACTION' | translate }}
    </button>
    <button matDialogClose class="btn cancel link">{{ 'COMMON.CANCEL' | translate }}</button>
  </mat-dialog-actions>
</ng-template>
