.dialog-action {
  justify-content: space-between;
}
.dialog-content {
  padding-bottom: 15px;
}
.text-title {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--vitamui-grey-600);
}
.text-action {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: var(--vitamui-grey-900);
}
