<form [formGroup]="form" class="gap-5">
  <div class="gap-3 w-100 align-items-stretch">
    <vitamui-input formControlName="Path" [placeholder]="'ONTOLOGY.SCHEMA.TAB.INFORMATION.PATH' | translate"> </vitamui-input>

    <vitamui-input formControlName="ApiPath" [placeholder]="'ONTOLOGY.SCHEMA.TAB.INFORMATION.API_PATH' | translate"> </vitamui-input>

    <vitamui-input formControlName="ShortName" [placeholder]="'ONTOLOGY.SCHEMA.TAB.INFORMATION.SHORT_NAME' | translate"> </vitamui-input>

    <vitamui-input formControlName="FieldName" [placeholder]="'ONTOLOGY.SCHEMA.TAB.INFORMATION.FIELD_NAME' | translate"> </vitamui-input>

    <vitamui-input formControlName="SedaField" [placeholder]="'ONTOLOGY.SCHEMA.TAB.INFORMATION.SEDA_FIELD' | translate"> </vitamui-input>

    <vitamui-input formControlName="ApiField" [placeholder]="'ONTOLOGY.SCHEMA.TAB.INFORMATION.API_FIELD' | translate"> </vitamui-input>

    <vitamui-input formControlName="Description" [placeholder]="'ONTOLOGY.SCHEMA.TAB.INFORMATION.DESCRIPTION' | translate"> </vitamui-input>

    <vitamui-select
      formControlName="Type"
      [placeholder]="'ONTOLOGY.SCHEMA.TAB.INFORMATION.TYPE' | translate"
      [options]="types"
      [enableSearch]="false"
      [enableDisplaySelected]="false"
      [enableSelectAll]="false"
    ></vitamui-select>

    <vitamui-input
      *ngIf="stringSizeVisible"
      formControlName="StringSize"
      [placeholder]="'ONTOLOGY.SCHEMA.TAB.INFORMATION.STRING_SIZE' | translate"
    ></vitamui-input>

    <vitamui-select
      formControlName="DataType"
      [placeholder]="'ONTOLOGY.SCHEMA.TAB.INFORMATION.TYPE_DETAIL' | translate"
      [options]="dataTypes"
      [enableSearch]="false"
      [enableDisplaySelected]="false"
      [enableSelectAll]="false"
    ></vitamui-select>

    <vitamui-input
      *ngIf="showCustomSearchTypes"
      formControlName="CustomSearchTypes"
      [placeholder]="'ONTOLOGY.SCHEMA.TAB.INFORMATION.CUSTOM_SEARCH_TYPES' | translate"
    ></vitamui-input>

    <vitamui-select
      formControlName="Collection"
      [placeholder]="'ONTOLOGY.SCHEMA.TAB.INFORMATION.COLLECTION' | translate"
      [options]="collections"
      [enableSearch]="false"
      [enableDisplaySelected]="false"
      [enableSelectAll]="false"
    ></vitamui-select>

    <vitamui-select
      formControlName="Origin"
      [placeholder]="'ONTOLOGY.SCHEMA.TAB.INFORMATION.ORIGIN' | translate"
      [options]="origins"
      [enableSearch]="false"
      [enableDisplaySelected]="false"
      [enableSelectAll]="false"
    ></vitamui-select>

    <vitamui-select
      formControlName="Category"
      [placeholder]="'ONTOLOGY.SCHEMA.TAB.INFORMATION.CATEGORY' | translate"
      [options]="categories"
      [enableSearch]="false"
      [enableDisplaySelected]="false"
      [enableSelectAll]="false"
    ></vitamui-select>

    <vitamui-select
      formControlName="Cardinality"
      [placeholder]="'ONTOLOGY.SCHEMA.TAB.INFORMATION.CARDINALITY' | translate"
      [options]="cardinalities"
      [enableSearch]="false"
      [enableDisplaySelected]="false"
      [enableSelectAll]="false"
    ></vitamui-select>

    <vitamui-input
      *ngIf="!isExternal"
      formControlName="SedaVersions"
      [placeholder]="'ONTOLOGY.SCHEMA.TAB.INFORMATION.SEDA_VERSIONS' | translate"
    ></vitamui-input>

    <vitamui-input
      *ngIf="isExternal"
      formControlName="CreationDate"
      [placeholder]="'ONTOLOGY.SCHEMA.TAB.INFORMATION.CREATION_DATE' | translate"
      [disabled]="true"
    >
    </vitamui-input>

    <vitamui-input
      *ngIf="isExternal"
      formControlName="LastUpdate"
      [placeholder]="'ONTOLOGY.SCHEMA.TAB.INFORMATION.MODIFICATION_DATE' | translate"
      [disabled]="true"
    >
    </vitamui-input>
  </div>

  <button type="submit" class="btn primary" [disabled]="true">
    {{ 'COMMON.SAVE' | translate }}
  </button>
</form>
