$field-spacing: 15px;

.field-code {
    width: 300px + $field-spacing / 2;
}

.field-name {
    width: 300px + $field-spacing / 2;
    margin-right: $field-spacing;
}

.field-company-name {
    width: 300px + $field-spacing / 2;
}

.field-street {
    width: 615px + $field-spacing;
}

.field-zip-code {
    width: 160px;
    margin-right: $field-spacing;
}

.field-city {
    width: 260px;
    margin-right: $field-spacing;
}

.field-country {
    width: 180px;
    margin-right: $field-spacing;
}
