.vitamui-date {
  width: 250px;

  .vitamui-icon-close {
    position: absolute;
    right: 0px;
    font-size: 14px;
    bottom: 9px;
    color: var(--vitamui-grey-600);
    cursor: pointer;
  }
}

.asterix {
  color: var(--vitamui-red);
  font-weight: bold;
}
