.text-green {
  color: $green;
}

.text-red {
  color: $red;
}

.text-orange {
  color: $mustard-yellow;
}

.text-grey {
  color: $light-grey;
}

.text-dark-grey {
  color: var(--vitamui-grey-900);
}
