@import '~ui-frontend-common/sass/icons/vitamui-icons.css';
@import '~ui-frontend-common/sass/theme';
@import '~bootstrap/scss/bootstrap-grid';

@import '~ui-frontend-common/sass/fonts/font-styles.css';

@import 'form';
@import 'login';
@import 'profile-tag';
@import 'vitamui-tab-group';
@import 'tooltip';
@import 'text';

/** DEPREACATED : CLEAR AT THE END OF THE REDESIGN **/
vitamui-common-slide-toggle {
  padding-bottom: 15px;
}

.form-control {
  > vitamui-common-input,
  > vitamui-library-input,
  > vitamui-common-textarea,
  > mat-form-field {
    width: 100% !important;
  }
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}

.preview-tab-group {
  height: 100%;
}
.btn.more-actions {
  background-color: transparent;
  color: var(--vitamui-secondary);
  border-color: var(--vitamui-secondary) !important;

  &:disabled {
    @include disabled(transparent, var(--vitamui-grey), transparent);
  }
}

.btn-container {
  display: flex;
}

.custom-flex-controls {
  .btn {
    background-color: transparent;
    color: var(--vitamui-secondary);
    border-color: var(--vitamui-secondary) !important;
  }
}

.btn.cancel {
  background-color: transparent;
  color: var(--vitamui-grey-900);
  border: 1px solid transparent;
}

.btn.back {
  background-color: transparent;
  color: var(--vitamui-primary);
  border: transparent;
}

.vitamui-container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.title-text {
  font-family: Mulish;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: var(--vitamui-primary);
}

.head-title {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 22px;
  display: flex;
  justify-content: flex-end;
  letter-spacing: 0.1px;
  color: var(--vitamui-secondary);
  cursor: pointer;
}

.card-criteria {
  background: #ffffff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 40px 50px;
}

.circle {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px;
  position: static;
  width: 50px;
  height: 50px;
  left: 0;
  top: 0;

  background: var(--vitamui-secondary);
  border-radius: 50px;

  flex: none;
  order: 0;
  flex-grow: 0;
  border: none;
}

.circle:focus {
  border: none;
  outline: -webkit-focus-ring-color auto 0;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
}

.sub-title-text {
  font-family: Mulish;
  font-style: normal;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.1px;
  color: var(--vitamui-grey-900);
}
