<div class="header">
  <vitamui-common-progress-bar [index]="stepIndex" [count]="stepCount"></vitamui-common-progress-bar>
</div>

<form [formGroup]="externalParamProfileForm" (ngSubmit)="onSubmit()">
  <vitamui-common-stepper (selectionChange)="stepIndex = $event.selectedIndex">
    <cdk-step>
      <div class="content">
        <div class="vitamui-form">
          <div class="text large bold">{{ 'EXTERNAL_PARAM_PROFILE.CREATE_EXTERNAL_PARAM_PROFILE_POPUP' | translate }}</div>

          <div class="mb-2">
            <vitamui-common-slide-toggle formControlName="enabled"
              >{{ 'EXTERNAL_PARAM_PROFILE.PROFILE' | translate }} <span *ngIf="!externalParamProfileForm.get('enabled').value">in</span
              >{{ 'COMMON.ACTIVE' | translate }}</vitamui-common-slide-toggle
            >
          </div>

    <vitamui-common-input
      class="col-9 px-0"
      formControlName="name"
      minlength="2"
      maxlength="100"
      required
      placeholder="{{ 'EXTERNAL_PARAM_PROFILE.EXTERNAL_PARAM_PROFILE_NAME_POPUP' | translate }}"
    >
      <vitamui-common-input-error
        *ngIf="externalParamProfileForm?.get('name')?.touched && !!externalParamProfileForm?.get('name')?.errors?.required"
        >{{ 'COMMON.ERROR.REQUIRED' | translate }}</vitamui-common-input-error>
      <vitamui-common-input-error
        *ngIf="externalParamProfileForm?.get('name')?.touched && !!externalParamProfileForm?.get('name')?.errors?.nameExists"
        >{{ 'COMMON.ERROR.NAME_ALREADY_EXISTS' | translate }}</vitamui-common-input-error
      >
    </vitamui-common-input>

    <vitamui-common-input
      class="col-9 px-0"
      formControlName="description"
      minlength="2"
      maxlength="250"
      required
      placeholder="{{ 'EXTERNAL_PARAM_PROFILE.DESCRIPTION_ADMIN_PROFILE' | translate }}"
    >
      <vitamui-common-input-error
        *ngIf="externalParamProfileForm?.get('description')?.touched && !!externalParamProfileForm?.get('description')?.errors?.required"
        >{{ 'COMMON.ERROR.REQUIRED' | translate }}</vitamui-common-input-error>
    </vitamui-common-input>

          <mat-form-field class="vitamui-mat-select">
            <mat-select
              formControlName="accessContract"
              placeholder="{{ 'EXTERNAL_PARAM_PROFILE.SELECT_ACCESS_CONTRACT' | translate }}"
              required="required"
              panelclass="vitamui-mat-select"
              class="w-100"
            >
              <mat-option *ngFor="let accessContract of activeAccessContracts$ | async" [value]="accessContract.identifier"
                >{{ accessContract.identifier }}
              </mat-option>
            </mat-select>
            <div class="select-arrow">
              <i class="material-icons">keyboard_arrow_down</i>
            </div>
          </mat-form-field>
        </div>
        <div class="actions">
          <button type="button" class="btn primary" cdkStepperNext [disabled]="firstStepInvalid()">{{ 'COMMON.NEXT' | translate }}</button>
          <button type="button" class="btn link cancel" (click)="onCancel()">
            {{ 'COMMON.CANCEL' | translate }}
          </button>
        </div>
      </div>
    </cdk-step>

    <cdk-step>
      <div class="content">
        <div class="vitamui-form">
          <div class="text large bold">{{ 'EXTERNAL_PARAM_PROFILE.MAX_BULK_OPERATIONS_THRESHOLD_TITLE' | translate }}</div>

          <div class="mb-2">
            <vitamui-common-slide-toggle formControlName="usePlatformThreshold">
              {{ 'EXTERNAL_PARAM_PROFILE.USE_PLATFORM_BULK_OPERATIONS_THRESHOLD_TITLE' | translate }}
            </vitamui-common-slide-toggle>
          </div>

          <mat-form-field class="vitamui-mat-select" *ngIf="!externalParamProfileForm.get('usePlatformThreshold').value">
            <mat-select
              formControlName="bulkOperationsThreshold"
              placeholder="{{ 'EXTERNAL_PARAM_PROFILE.USE_PLATFORM_BULK_OPERATIONS_THRESHOLD_TITLE' | translate }}"
              required="required"
              panelclass="vitamui-mat-select"
              [(value)]="selectedThreshold"
              class="w-100"
            >
              <mat-option *ngFor="let thresholdValue of thresholdValues" [value]="thresholdValue">
                {{ 'EXTERNAL_PARAM_PROFILE.MAX_BULK_OPERATIONS_THRESHOLD_VALUES' | translate: { threshold: thresholdValue | number } }}
              </mat-option>
            </mat-select>
            <div class="select-arrow">
              <i class="material-icons">keyboard_arrow_down</i>
            </div>
          </mat-form-field>
        </div>
        <div class="actions">
          <button type="submit" class="btn primary mr-4" [disabled]="onValidate()">
            {{ 'COMMON.SUBMIT' | translate }}
          </button>
          <button type="button" class="btn link cancel" (click)="onCancel()">
            {{ 'COMMON.CANCEL' | translate }}
          </button>
        </div>
        <button type="button" class="btn link" cdkStepperPrevious>
          <i class="vitamui-icon vitamui-icon-chevron-left"></i>
          <ng-container
            ><span class="underline">{{ 'COMMON.BACK' | translate }}</span></ng-container
          >
        </button>
      </div>
    </cdk-step>
  </vitamui-common-stepper>
</form>
