#jinja2: lstrip_blocks: True
#
# Consul
#
{% if filebeat.cots.consul.enable_log | bool %}
- type: filestream
  id: {{ vitam_site_name }}-consul
  enabled: true
  paths:
    - "{{ vitam_defaults.folder.root_path }}/log/consul/consul*.log"
  fields_under_root: true
  fields:
    kind: log
    vitam_component: consul
    source: vitamui
    type: cots
  processors:
    - dissect:
        tokenizer: '%{date_time} [%{log_level}]%{*}%{logger}: %{log_message}'
        target_prefix: ""
        trim_values: all
    - drop_fields:
        fields: ["date_time"]
  parsers:
    - multiline:
        type: pattern
        pattern: '^[[:space:]]'
        negate: false
        match: after
{% endif %}
