#jinja2: lstrip_blocks: True

#
# REVERSE {{ reverse }}
#

- type: filestream
  id: "{{ vitam_site_name }}-{{ reverse }}-access"
  paths:
{% if reverse == "nginx" %}
    - "{{ filebeat.nginx_access_path | default(nginx_log_path + '/access_log') }}"
{% else %}
    - "{{ filebeat.apache_access_path | default(apache_log_path + '/access_log') }}"
{% endif %}
  fields:
    kind: access
    vitam_component: "{{ reverse }}"
    source: reverse

- type: filestream
  id: "{{ vitam_site_name }}-{{ reverse }}-error"
  paths:
{% if reverse == "nginx" %}
    - "{{ filebeat.nginx_error_path | default(nginx_log_path + '/error_log') }}"
{% else %}
    - "{{ filebeat.apache_error_path | default(apache_log_path + '/error_log') }}"
{% endif %}
  fields:
    kind: error
    vitam_component: "{{ reverse }}"
    source: reverse

