db = db.getSiblingDB('{{ mongodb.security.db }}')

print("START security.populate_certificates.js");

db.certificates.deleteMany({});

{% macro insertCertificate(pemFile, contextId, host) -%}
db.certificates.insertOne({
    "_id": "{{ host+'_' if (host is defined and host != '') else '' }}{{ pemFile | basename | replace('.pem','_cert') }}",
    "contextId": "{{ contextId }}",
    "subjectDN": "subjectDN",
    "issuerDN": "issuerDN",
    "serialNumber": "serialNumberAdmin",
    "data": "{{ lookup('file', pemFile) | cert_to_str() }}"
})
{%- endmacro %}

{% macro process(keyPath, contextId, groupName) -%}
    {% if groupName is defined and groupName != '' %}
        {% for host in groups[groupName] %}
            {{ insertCertificate(keyPath | replace('%host%', host), contextId, host) }}
        {% endfor %}
    {% else %}
        {{ insertCertificate(keyPath, contextId) }}
    {% endif %}
{%- endmacro %}

{{ process('{{ pki_dir }}/server/hosts/%host%/cas-server.pem', 'cas_context', 'hosts_cas_server') }}
{{ process('{{ pki_dir }}/server/hosts/%host%/iam-internal.pem', 'iam_internal_context', 'hosts_vitamui_iam_internal') }}

{{ process('{{ pki_dir }}/server/hosts/%host%/ui-portal.pem', 'ui_portal_context', 'hosts_ui_portal') }}
{{ process('{{ pki_dir }}/server/hosts/%host%/ui-identity.pem', 'ui_identity_context', 'hosts_ui_identity') }}
{{ process('{{ pki_dir }}/server/hosts/%host%/ui-identity-admin.pem', 'ui_admin_identity_context', 'hosts_ui_identity_admin') }}
{{ process('{{ pki_dir }}/server/hosts/%host%/ui-referential.pem', 'ui_referential_context', 'hosts_ui_referential') }}
{{ process('{{ pki_dir }}/server/hosts/%host%/ui-archive-search.pem', 'ui_archive_search_context', 'hosts_ui_archive_search') }}
{{ process('{{ pki_dir }}/server/hosts/%host%/ui-ingest.pem', 'ui_ingest_context', 'hosts_ui_ingest') }}
{{ process('{{ pki_dir }}/server/hosts/%host%/ui-pastis.pem', 'ui_pastis_context', 'hosts_ui_pastis') }}
{{ process('{{ pki_dir }}/server/hosts/%host%/ui-collect.pem', 'ui_collect_context', 'hosts_ui_collect') }}

print("END security.populate_certificates.js");
