{% if gateway.enabled | default(False) %}

db = db.getSiblingDB("cas");

print("START 004_TRV-400_enable_oidc_code_grant_type_on_identity_service_ref.js");

var serviceWithMaxId = db.services.aggregate([
    { $sort: { _id: -1 } },
    { $limit: 1 }
]).toArray();
var maxId = serviceWithMaxId.length > 0 ? serviceWithMaxId[0]._id : 0;

db.services.insertOne({
  _id: NumberInt(++maxId),
  _class: "org.apereo.cas.services.OidcRegisteredService",
  clientId: "{{ vitamui.identity.clientId | default('identity') }}",
  serviceId: "{{ vitamui.identity.serviceId | default('^' + vitamui.identity.base_url | default(url_prefix+'/identity') + '/.*') }}",
  name: "{{ vitamui.identity.name | default('Identity Access Management Application') }}",
  bypassApprovalPrompt: true,
  supportedGrantTypes: ["authorization_code"],
  supportedResponseTypes: ["code", "token"],
  attributeReleasePolicy: {
    _class: "org.apereo.cas.services.ReturnAllowedAttributeReleasePolicy",
    allowedAttributes: ["authtoken"],
  },
  jsonFormat: true,
});

db.services.insertOne({
  _id: NumberInt(++maxId),
  _class: "org.apereo.cas.services.OidcRegisteredService",
  clientId: "{{ vitamui.identity_admin.clientId | default('identity-admin') }}",
  serviceId: "{{ vitamui.identity_admin.serviceId | default('^' + vitamui.identity_admin.base_url | default(url_prefix+'/identity_admin') + '/.*') }}",
  name: "{{ vitamui.identity_admin.name | default('Identity Admin Access Management Application') }}",
  bypassApprovalPrompt: true,
  supportedGrantTypes: ["authorization_code"],
  supportedResponseTypes: ["code", "token"],
  attributeReleasePolicy: {
    _class: "org.apereo.cas.services.ReturnAllowedAttributeReleasePolicy",
    allowedAttributes: ["authtoken"],
  },
  jsonFormat: true,
});

print("END 004_TRV-400_enable_oidc_code_grant_type_on_identity_service_ref.js");

{% endif %}
