
dbCas.services.deleteOne({ "_id": NumberInt(4) });

dbCas.services.insertOne({
    _id: NumberInt(4),
    _class: "org.apereo.cas.services.OidcRegisteredService",
    clientId: "{{ vitamui.ui_referential.clientId | default('referential') }}",
    serviceId: "{{ vitamui.ui_referential.serviceId | default('^' + vitamui.ui_referential.base_url | default(url_prefix+'/referential') + '/.*') }}",
    name: "{{ vitamui.ui_referential.name | default('Referential Application') }}",
    bypassApprovalPrompt: true,
    supportedGrantTypes: ["authorization_code"],
    supportedResponseTypes: ["code", "token"],
    attributeReleasePolicy: {
        _class: "org.apereo.cas.services.ReturnAllowedAttributeReleasePolicy",
        allowedAttributes: ["authtoken"],
    },
    jsonFormat: true
});
