dbCas.services.deleteOne({ "_id": NumberInt(6) });

dbCas.services.insertOne({
    _id: NumberInt(6),
    _class: "org.apereo.cas.services.OidcRegisteredService",
    clientId: "{{ vitamui.ui_archive_search.clientId | default('archive-search') }}",
    serviceId: "{{ vitamui.ui_archive_search.serviceId | default('^' + vitamui.ui_archive_search.base_url | default(url_prefix+'/archive-search') + '/.*') }}",
    name: "{{ vitamui.ui_archive_search.name | default('Archive Search Application') }}",
    bypassApprovalPrompt: true,
    supportedGrantTypes: ["authorization_code"],
    supportedResponseTypes: ["code", "token"],
    attributeReleasePolicy: {
        _class: "org.apereo.cas.services.ReturnAllowedAttributeReleasePolicy",
        allowedAttributes: ["authtoken"],
    },
    jsonFormat: true
});
