{% if gateway.enabled | default(False) is sameas true %}

db = db.getSiblingDB("cas");

print("START 042_enable_oidc_code_grant_type_on_collect_service_ref.js.j2");

db.services.deleteOne({ "_id": NumberInt(7) });

db.services.insertOne({
  _id: NumberInt(7),
  _class: "org.apereo.cas.services.OidcRegisteredService",
  clientId: "{{ vitamui.collect.clientId | default('collect') }}",
  serviceId: "{{ vitamui.collect.serviceId | default('^' + vitamui.collect.base_url | default(url_prefix+'/collect') + '/.*') }}",
  name: "{{ vitamui.collect.name | default('Collect Application') }}",
  bypassApprovalPrompt: true,
  supportedGrantTypes: ["authorization_code"],
  supportedResponseTypes: ["code", "token"],
  attributeReleasePolicy: {
    _class: "org.apereo.cas.services.ReturnAllowedAttributeReleasePolicy",
    allowedAttributes: ["authtoken"],
  },
  jsonFormat: true,
});

print("END 042_enable_oidc_code_grant_type_on_collect_service_ref.js.j2");

{% endif %}
