<ng-container *ngIf="!disabled">
  <div cdkOverlayOrigin #origin="cdkOverlayOrigin">
    <div class="vitamui-input editable-field" [class.edit-mode]="editMode" (click)="enterEditMode()">
      <div class="editable-field-content">
        <label>{{ 'CUSTOMER.SSO.KEYSTORE' | translate }}</label>
        <span class="editable-field-text-content">{{ originValue?.name }}</span>
        <div class="editable-field-control">
          <div class="vitamui-input-file">
            <label for="vitamui-input-keystore">
              <span class="text primary underline">{{ 'SHARED.EDITABLE_FIELD.UPLOAD_FILE' | translate }}</span>
              <div class="vitamui-input-file-filename">{{ file?.name }}</div>
            </label>
            <input id="vitamui-input-keystore" type="file" (change)="setFile($event.target.files)" accept=".jks" #fileInput />
          </div>
          <div>
            <input
              class="vitamui-input vitamui-small"
              type="password"
              [formControl]="control"
              required
              maxlength="50"
              [placeholder]="'SHARED.EDITABLE_FIELD.PASSWORD_PLACEHOLDER' | translate"
            />
            <div class="vitamui-input-errors">
              <vitamui-common-input-error *ngIf="control?.hasError('badPassword')">{{
                'SHARED.EDITABLE_FIELD.WRONG_PASSWORD' | translate
              }}</vitamui-common-input-error>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="vitamui-input-errors">
    <ng-content select="vitamui-field-error"></ng-content>
  </div>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOpen]="editMode"
    [cdkConnectedOverlayOrigin]="origin"
    [cdkConnectedOverlayPositions]="positions"
  >
    <div class="editable-field-actions">
      <button type="button" class="editable-field-confirm" (click)="confirm()" [disabled]="!canConfirm">
        <i class="material-icons">check</i>
      </button>
      <button type="button" class="editable-field-cancel" (click)="cancel()"><i class="material-icons">clear</i></button>
    </div>
  </ng-template>
</ng-container>

<div *ngIf="disabled" class="read-only-field">
  <label>{{ 'CUSTOMER.SSO.KEYSTORE' | translate }}</label>
  <div>{{ originValue?.name }}</div>
</div>
