.editable-field-control {
    flex-direction: column;
}

.vitamui-input-file {
    margin-top: 5px;
    margin-bottom: 10px;
}

input.vitamui-input {
    width: 100%;
    padding: 0px 17px;
}

.vitamui-input-errors {
    padding: 4px 17px;
}
