<ng-container *ngIf="!disabled">

  <div cdkOverlayOrigin #origin="cdkOverlayOrigin">
    <div class="vitamui-input editable-field" [class.edit-mode]="editMode" (click)="enterEditMode()">
      <div class="editable-field-content">
          <label i18n="Keystore@@idpFormLabelKeystore">Keystore de CAS</label>
          <span class="editable-field-text-content">{{ originValue?.name }}</span>
          <div class="editable-field-control">
            <div class="vitamui-input-file">
              <label for="vitamui-input-keystore">
                <span class="text-primary underline" i18n="Upload the file@@editableFieldFileLabel">Uploader le fichier</span>
                <div class="vitamui-input-file-filename">{{file?.name}}</div>
              </label>
              <input id="vitamui-input-keystore" type="file" (change)="setFile($event.target.files)" accept=".jks" #fileInput>
            </div>
            <div>
              <input
                class="vitamui-input vitamui-small"
                type="password"
                [formControl]="control"
                required
                maxlength="50"
                placeholder="Mot de passe" i18n-placeholder="Keystore password@@editableFieldKeystorePasswordLabel"
              >
              <div class="vitamui-input-errors">
                <vitamui-common-input-error *ngIf="control?.hasError('badPassword')" i18n="Wrong password error message@@editableFieldKeystoreWrongPassworderror">Mot de passe incorrect</vitamui-common-input-error>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="vitamui-input-errors">
    <ng-content select="vitamui-field-error"></ng-content>
  </div>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOpen]="editMode"
    [cdkConnectedOverlayOrigin]="origin"
    [cdkConnectedOverlayPositions]="positions"
  >
    <div class="editable-field-actions">
      <button type="button" class="editable-field-confirm" (click)="confirm()" [disabled]="!canConfirm"><i class="material-icons">check</i></button>
      <button type="button" class="editable-field-cancel" (click)="cancel()"><i class="material-icons">clear</i></button>
    </div>
  </ng-template>

</ng-container>

<div *ngIf="disabled" class="read-only-field">
  <label i18n="Keystore@@idpFormLabelKeystore">Keystore de CAS</label>
  <div>{{ originValue?.name }}</div>
</div>
