<vitamui-common-sidenav-header
  [title]="profile?.name"
  [icon]="'vitamui-icon-gestion-de-profil'"
  [badge]="profile?.enabled ? 'green' : 'grey'"
  (onclose)="emitClose()">
</vitamui-common-sidenav-header>

<div class="vitamui-sidepanel-body">
  <mat-tab-group class="preview-tab-group">
    <mat-tab label="Informations" i18n-label="Information tab@@profileDetailTabInformation">
      <app-information-tab [profile]="profile" [readOnly]="isPopup || profile?.readonly || levelNotAllowed()"></app-information-tab>
    </mat-tab>
    
    <mat-tab label="Historique" i18n-label="History tab@@profileDetailTabHistory">
      <vitamui-common-operation-history-tab [id]="profile?.id" [identifier]="profile?.identifier"
        collectionName="profiles" [filter]="filterEvents"></vitamui-common-operation-history-tab>
    </mat-tab>
  </mat-tab-group>
</div>