h1,
h2,
h3,
h4,
h5 {
    color: var(--vitamui-grey-900);
    margin: 10px 0;

    @include text-colors;
}

h1 {
    font-size: 96px;
    font-weight: 800;
}

h2 {
    font-size: 60px;
    font-weight: 900;
}

h3 {
    font-size: 42px;
    font-weight: 800;
}

h4 {
    font-size: 30px;
    font-weight: 600;
}

h5 {
    font-size: 24px;
    font-weight: 800;
}

.text {
    color: var(--vitamui-grey-900);
    font-weight: 400;
    font-style: inherit;

    &.large {
        font-size: 20px;
    }

    &.medium {
        font-size: 16px;
    }

    &.normal {
        font-size: 14px;
    }

    &.caption {
        font-size: 12px;
    }

    &.bold {
        font-weight: bold;
    }

    &.link {
        text-decoration: underline;
        cursor: pointer;
    }

    &.spaced {
        letter-spacing: 0.8px;
    }

    &.uppercase {
        text-transform: uppercase;
    }

    &.break {
        overflow-wrap: break-word;
    }

    @include text-colors;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-word;
    white-space: normal;
}
