<div class="header">
  <mat-progress-bar
    mode="determinate"
    value="100"
    class="stepper-progress-bar"
  ></mat-progress-bar>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="content">
    <div
      class="text large bold"
    >
    {{'CUSTOMER.SSO.MODAL.TITLE' | translate}} "{{ data?.customer?.name }}"
    </div>

    <div>
      <vitamui-common-slide-toggle
        class="col-4 p-0"
        formControlName="enabled"
        >{{'CUSTOMER.SSO.ACTIVE_SWITCH' | translate}}</vitamui-common-slide-toggle
      >
    </div>

    <div class="mt-4">
      <vitamui-common-input
        class="col-4 p-0"
        formControlName="name"
        maxlength="100"
        required
        [placeholder]="'CUSTOMER.SSO.NAME' | translate"
      >
        <ng-container *ngIf="form.get('name')?.touched">
          <vitamui-common-input-error
            *ngIf="!!form?.get('name')?.errors?.required"
            >{{ 'COMMON.REQUIRED' | translate }}</vitamui-common-input-error
          >
        </ng-container>
      </vitamui-common-input>
    </div>

    <div>
      <vitamui-common-input
        class="col-4 p-0"
        formControlName="keystorePassword"
        type="password"
        required
        maxlength="50"
        [placeholder]="'CUSTOMER.SSO.MODAL.KEYSTORE_PWD' | translate"
      >
        <ng-container *ngIf="form.get('keystorePassword')?.touched">
          <vitamui-common-input-error
            *ngIf="!!form?.get('keystorePassword')?.errors?.required"
            >{{ 'COMMON.REQUIRED' | translate }}</vitamui-common-input-error
          >
          <vitamui-common-input-error
            *ngIf="!!form?.get('keystorePassword')?.errors?.badPassword"
            >{{'CUSTOMER.SSO.MODAL.WRONG_PASSWORD' | translate}}</vitamui-common-input-error
          >
        </ng-container>
      </vitamui-common-input>
    </div>

    <div class="col-5 p-0 mt-3 vitamui-input-file">
      <label for="keystore">
        <span
          class="text link bold primary"
          >{{'CUSTOMER.SSO.MODAL.UPLOAD_KEYSTORE' | translate}}</span
        >
        <div class="vitamui-input-file-filename">{{ keystore?.name }}</div>
      </label>
      <input
        id="keystore"
        type="file"
        accept=".jks"
        (change)="setKeystore($event.target.files)"
      />
    </div>

    <div class="col-5 p-0 mt-4 vitamui-input-file">
      <label for="idpMetadata">
        <span
          class="text link bold primary"
          >{{'CUSTOMER.SSO.MODAL.UPLOAD_METADATA' | translate}}</span
        >
        <div class="vitamui-input-file-filename">{{ idpMetadata?.name }}</div>
      </label>
      <input
        id="idpMetadata"
        type="file"
        accept=".xml"
        (change)="setIdpMetadata($event.target.files)"
      />
    </div>

    <div class="mt-4">
      <vitamui-common-input
        class="col-5 p-0"
        formControlName="mailAttribute"
        [placeholder]="'CUSTOMER.SSO.MAIL_ATTRIBUTE' | translate"
      >
      </vitamui-common-input>
    </div>

    <div class="mt-2">
      <div class="form-group">
        <label
          class="text medium bold mb-3"
          for="authnRequestBinding"
        >
          Authentication Request Binding <span class="text danger">*</span>
        </label>
        <div class="my-2">
          <mat-button-toggle-group
            formControlName="authnRequestBinding"
            #group="matButtonToggleGroup"
            class="vitamui-button-toggle-group"
          >
            <mat-button-toggle
              value="GET"
              >GET
            </mat-button-toggle>
            <mat-button-toggle
              value="POST"
              >POST
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>

      <div class="form-group">
        <label
          class="text medium bold mb-3"
          for="patterns"
          >{{'CUSTOMER.SSO.PATTERNS' | translate}}</label
        >
        <app-pattern
          formControlName="patterns"
          [options]="data?.domains"
        ></app-pattern>
      </div>

      <div>
        <vitamui-common-slide-toggle
          class="p-0"
          formControlName="autoProvisioningEnabled"
          >{{'CUSTOMER.SSO.AUTO_PROVISIONING' | translate}}</vitamui-common-slide-toggle
        >
      </div>

      <div class="actions mt-4">
        <button type="submit" class="btn primary" [disabled]="!isFormValid">
          {{ "COMMON.SUBMIT" | translate }}
        </button>
        <button type="button" class="btn cancel link" (click)="onCancel()">
          {{ "COMMON.UNDO" | translate }}
        </button>
      </div>
    </div>
  </div>
</form>
