.form-group {
    padding-bottom: 30px;

    label {
        display: block;
        margin-bottom: 7px;
    }
}

.field-keystore-password {
    width: 400px;
}

.form-group-flex {
    display: flex;
    align-items: flex-end;
}

.field-type {
    margin-left: 30px;
}

:host ::ng-deep app-pattern .vitamui-mat-select {
    max-width: 300px;
}
