.form-group {
    padding-bottom: 30px;
}

// STEP 1
.field-name {
    width: 300px;
}

.field-description {
    width: 630px;
}
label {
    color: var(--vitamui-grey-600);
    font-size: 14px;
    font-weight: bold;
}

.level-label {
    margin-right: 20px;
}
