<div class="content">
  <div class="category" *ngFor="let category of appMap | keyvalue">
    <h1>{{category.key.name}}</h1>
    
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let application of category.value">
        <mat-card>
          
          <img mat-card-image src="https://drive.google.com/uc?export=download&id=1zIvwb-iuwpH-4EqV10DSwBEHit5pDR4j">
          
          <mat-card-header>
            <mat-card-title>{{application.name}}</mat-card-title>
            <mat-card-subtitle>{{application.tooltip}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
</div>
