.permissionTable {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 24vw;
  display: block;
}

.permissionHeader {
  display: block;
}

.smallServiceCol {
  min-width: 200px;  max-width: 200px;
}
.smallToggleCol {
  min-width: 75px;  max-width: 75px;
}

.serviceCol {
  min-width: 400px;  max-width: 400px;
}
.toggleCol {
  min-width: 100px;  max-width: 100px;
}
