@import 'variables/colors';
.vitamui-table-head {
  > div {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.date-filter-container {
  display: flex;
}

.date-filter {
  width: 100%;
  height: 70px;
  background-color: $white;
  border: solid 1px var(--vitamui-secondary);
  border-radius: 5px;
  font-family: 'Mulish', sans-serif;
  font-size: 15px;
  text-align: center;
  color: var(--vitamui-secondary);
  padding: 25px 12px 25px 13px;

  position: relative;

  > span {
    vertical-align: middle;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #9c31b5;
  }

  .clear-date-icon {
    font-size: 15px;
    font-weight: bold;
    margin-left: 4px;
  }
}

.clickable {
  cursor: pointer;
}

.refresh_text {
  color: black;
}

.filter-text {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;

  display: flex;
  align-items: center;
  letter-spacing: 0.1px;

  color: #000000;
}

.row-data {
  margin-top: 10px;
}

.result-layout {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 60px;
  background: #ffffff;
  box-shadow:
    0px 2px 8px rgba(33, 33, 33, 0.2),
    0px 4px 16px rgba(33, 33, 33, 0.05);
  border-radius: 5px;
}

.result-number {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;

  display: flex;
  align-items: center;

  color: #212121;
  margin-left: 20px;
  margin-top: 15px;
}

.date {
  font-size: 14px;
  text-align: left;
  font-weight: normal;
  color: var(--vitamui-grey-600);
}

.w3-right {
  position: static;
  float: right !important;
}
.w3-left {
  float: left !important;
}

.text-orange {
  color: orange;
}
.text-green {
  color: #27740a;
}
.text-red {
  color: red;
}
.text-red-fatal {
  color: #c10000;
}
.text-center {
  text-align: center;
}

.table-margin {
  margin-top: 10px;
}
