<div class="row row-data">
  <div class="col">
    <app-logbook-operation-facet
      [facetDetails]="stateFacetDetails"
      [facetTitle]="stateFacetTitle"
      (filter)="getOperationsByGlobalState($event)"
    ></app-logbook-operation-facet>
  </div>
  <div class="col">
    <app-logbook-operation-facet
      [facetDetails]="statusFacetDetails"
      [facetTitle]="statusFacetTitle"
      (filter)="getOperationsByStatus($event)"
    ></app-logbook-operation-facet>
  </div>
</div>

<div>
  <div class="row row-data">
    <div class="col-12 title-text">
      <div class="result-layout">
        <span class="result-number" *ngIf="totalResults > 1 || totalResults === 0"
          >{{ totalResults }} {{ 'LOGBOOK_OPERATION_LIST.RESULTS' | translate }}</span
        >
        <span class="result-number" *ngIf="totalResults === 1"
          >{{ totalResults }} {{ 'LOGBOOK_OPERATION_LIST.ONE_RESULT' | translate }}</span
        >
      </div>
    </div>
  </div>
  <div vitamuiCommonInfiniteScroll (vitamuiScroll)="onScroll()">
    <div class="vitamui-table table-margin">
      <div class="vitamui-table-head">
        <div class="col-3">
          <span>{{ 'LOGBOOK_OPERATION_LIST.OPERATION_ID' | translate }}</span>
          <i class="material-icons mat-icon-rtl-mirror clickable" (click)="orderByParam('operationId', 'Identifier')">{{
            filtredByIdentifier ? 'expand_less' : 'expand_more'
          }}</i>
        </div>
        <div class="col-2">
          <span>{{ 'LOGBOOK_OPERATION_LIST.OPERATION_CATEGORY' | translate }}</span>
          <button
            class="vitamui-filter-button"
            [vitamuiCommonTableFilter]="categoriesFilterTemplate"
            [class.active]="filterMap['categories'] && filterMap['categories'].length > 0"
          >
            <i class="material-icons vitamui-row-icon">filter_list</i>
          </button>
          <ng-template #categoriesFilterTemplate>
            <vitamui-common-table-filter [(filter)]="filterMap['categories']">
              <vitamui-common-table-filter-option value="{{ getProcessTypeByValue('Entrée') }}" (click)="filterByOerationCategory()">
                <div class="table-filter-icon">{{ 'LOGBOOK_OPERATION_PAGE.OPERATION_CATEGORY.INGEST' | translate }}</div>
              </vitamui-common-table-filter-option>
              <vitamui-common-table-filter-option value="{{ getProcessTypeByValue('Sécurisation') }}" (click)="filterByOerationCategory()">
                <div class="table-filter-icon">{{ 'LOGBOOK_OPERATION_PAGE.OPERATION_CATEGORY.TRACEABILITY' | translate }}</div>
              </vitamui-common-table-filter-option>
              <vitamui-common-table-filter-option
                value="{{ getProcessTypeByValue('Sauvegarde des journaux des écritures') }}"
                (click)="filterByOerationCategory()"
              >
                <div class="table-filter-icon">{{ 'LOGBOOK_OPERATION_PAGE.OPERATION_CATEGORY.STORAGE_BACKUP' | translate }}</div>
              </vitamui-common-table-filter-option>
              <vitamui-common-table-filter-option value="{{ getProcessTypeByValue('Audit') }}" (click)="filterByOerationCategory()">
                <div class="table-filter-icon">{{ 'LOGBOOK_OPERATION_PAGE.OPERATION_CATEGORY.AUDIT' | translate }}</div>
              </vitamui-common-table-filter-option>
              <vitamui-common-table-filter-option
                value="{{ getProcessTypeByValue('Données de base') }}"
                (click)="filterByOerationCategory()"
              >
                <div class="table-filter-icon">{{ 'LOGBOOK_OPERATION_PAGE.OPERATION_CATEGORY.MASTERDATA' | translate }}</div>
              </vitamui-common-table-filter-option>
              <vitamui-common-table-filter-option
                value="{{ getProcessTypeByValue('Élimination des unités archivistiques') }}"
                (click)="filterByOerationCategory()"
              >
                <div class="table-filter-icon">{{ 'LOGBOOK_OPERATION_PAGE.OPERATION_CATEGORY.ELIMINATION' | translate }}</div>
              </vitamui-common-table-filter-option>
              <vitamui-common-table-filter-option
                value="{{ getProcessTypeByValue('Vérification des journaux sécurisés') }}"
                (click)="filterByOerationCategory()"
              >
                <div class="table-filter-icon">{{ 'LOGBOOK_OPERATION_PAGE.OPERATION_CATEGORY.CHECK' | translate }}</div>
              </vitamui-common-table-filter-option>
              <vitamui-common-table-filter-option value="{{ getProcessTypeByValue('Mise à jour') }}" (click)="filterByOerationCategory()">
                <div class="table-filter-icon">{{ 'LOGBOOK_OPERATION_PAGE.OPERATION_CATEGORY.UPDATE' | translate }}</div>
              </vitamui-common-table-filter-option>
              <vitamui-common-table-filter-option value="{{ getProcessTypeByValue('Export du DIP') }}" (click)="filterByOerationCategory()">
                <div class="table-filter-icon">{{ 'LOGBOOK_OPERATION_PAGE.OPERATION_CATEGORY.EXPORT_DIP' | translate }}</div>
              </vitamui-common-table-filter-option>
              <vitamui-common-table-filter-option
                value="{{ getProcessTypeByValue('Modification d&#8217;arborescence des unités archivistiques') }}"
                (click)="filterByOerationCategory()"
              >
                <div class="table-filter-icon">{{ 'LOGBOOK_OPERATION_PAGE.OPERATION_CATEGORY.RECLASSIFICATION' | translate }}</div>
              </vitamui-common-table-filter-option>
              <vitamui-common-table-filter-option
                value="{{ getProcessTypeByValue('Processus global de préservation') }}"
                (click)="filterByOerationCategory()"
              >
                <div class="table-filter-icon">{{ 'LOGBOOK_OPERATION_PAGE.OPERATION_CATEGORY.PRESERVATION' | translate }}</div>
              </vitamui-common-table-filter-option>
              <vitamui-common-table-filter-option
                value="{{ getProcessTypeByValue('Journalisation d&#8217;événements externes') }}"
                (click)="filterByOerationCategory()"
              >
                <div class="table-filter-icon">{{ 'LOGBOOK_OPERATION_PAGE.OPERATION_CATEGORY.EXTERNAL_LOGBOOK' | translate }}</div>
              </vitamui-common-table-filter-option>
            </vitamui-common-table-filter>
          </ng-template>
        </div>
        <div class="col-2">
          <div>
            <span>{{ 'LOGBOOK_OPERATION_LIST.START_DATE' | translate }}</span>

            <br />
            <span class="date">{{ 'LOGBOOK_OPERATION_LIST.HOUR' | translate }}</span>
          </div>

          <i class="material-icons mat-icon-rtl-mirror clickable" (click)="orderByParam('processDate', 'Date')">{{
            filtredByDate ? 'expand_less' : 'expand_more'
          }}</i>
        </div>
        <div class="col-2">
          <div>
            <span>{{ 'LOGBOOK_OPERATION_LIST.STEP_STATUS' | translate }}</span>

            <br />
            <span class="date">{{ 'LOGBOOK_OPERATION_LIST.STATE' | translate }}</span>
          </div>
          <i class="material-icons mat-icon-rtl-mirror clickable" (click)="orderByStatus()">{{
            filtredByStatus ? 'expand_less' : 'expand_more'
          }}</i>
        </div>
        <div class="col-3">
          <span>{{ 'LOGBOOK_OPERATION_LIST.LAST_STEP' | translate }}</span>
        </div>
      </div>

      <div class="vitamui-table-body">
        <div class="vitamui-table-rows" *ngFor="let operation of results" (click)="operationClick.emit(operation)">
          <div class="vitamui-row d-flex align-items-center clickable">
            <div class="col-3">
              <span matTooltip="{{ operation.operationId }}" matTooltipClass="vitamui-tooltip" [matTooltipShowDelay]="300">
                {{ operation?.operationId | truncate: 30 }}
              </span>
            </div>
            <div class="col-2">
              <div class="vitamui-cell-content">
                <vitamui-common-event-type-label [key]="operation.processType"> </vitamui-common-event-type-label>
              </div>
            </div>
            <div class="col-2">
              <div>{{ operation?.processDate | appendZIfNoTimezone | date: 'dd/MM/yyyy' }}</div>
              <span class="date">
                {{ operation?.processDate | appendZIfNoTimezone | date: 'HH:mm:ss' }}
              </span>
            </div>

            <div class="col-2">
              <span
                [ngClass]="
                  operationStatus(operation) === 'OK'
                    ? 'text-green'
                    : operationStatus(operation) === 'KO'
                      ? 'text-red'
                      : operationStatus(operation) === 'WARNING'
                        ? 'text-orange'
                        : 'text-red-fatal'
                "
                >{{ 'STATUS_VALUE.' + operation?.stepStatus | translate }}</span
              >
              <br />
              <span>{{ 'STATE_VALUE.' + operation?.globalState | translate }}</span>
            </div>
            <div class="col-3">
              <div class="vitamui-cell-content">
                <vitamui-common-event-type-label [key]="operation.previousStep"> </vitamui-common-event-type-label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="show; then noResultFound; else loadingSpinner"></div>
    </div>
  </div>
</div>
<ng-template #loadingSpinner>
  <div class="vitamui-min-content">
    <mat-spinner class="vitamui-spinner medium"></mat-spinner>
  </div>
</ng-template>
<ng-template #noResultFound>
  <div class="text-center">{{ 'LOGBOOK_OPERATION_LIST.NO_RESULTS' | translate }}</div>
</ng-template>
