@import '../../../../sass/variables/colors';
@import '../../../../sass/mixins/elevation';

.mat-drawer,
.mat-mdc-dialog-container {
  .mat-mdc-form-field:not(.mat-form-field-disabled) {
    @include dialog-elevation-dark;
  }
}

:host::ng-deep {
  .selected-label,
  .unselected-label {
    color: var(--vitamui-primary);
    font-size: 16px;
    font-weight: 700;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-underline {
    display: none;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
  .mat-select-value-text {
    color: var(--vitamui-grey-900);
    font-size: 16px;
    font-weight: 700;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
  .mat-select-arrow {
    color: var(--vitamui-primary);
  }
  /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
  .mat-mdc-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: var(--vitamui-primary);
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  mat-form-field {
    display: inline-flex;
    align-items: center;
    position: relative;
    height: 60px;
    width: 100%;
    border-radius: 4px;
    border: none;
    background-color: white;
    padding: 8px 30px;
    transition: border-color 150ms ease-out;
    vertical-align: top;
  }

  .mat-mdc-form-field {
    font-weight: 700;
    width: 100%;
  }

  .mat-mdc-form-field.mat-form-field-disabled {
    background-color: var(--vitamui-grey-300);
    border: none;
    color: var(--vitamui-grey-300);
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    .mat-form-field-flex {
      background-color: var(--vitamui-grey-300);
    }
  }

  .mat-mdc-form-field:not(.mat-form-field-disabled) {
    @include input-elevation-dark;
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    .mat-form-field-label {
      color: var(--vitamui-grey-600);
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
      .mat-form-field-required-marker {
        color: var(--vitamui-red);
      }
    }

    &.mat-focused {
      border: solid 1px var(--vitamui-primary);
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
      .mat-form-field-label {
        color: var(--vitamui-grey-600);
      }
    }
    /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
    .mat-mdc-select .mat-select-value {
      color: var(--vitamui-grey-900);
      font-size: 16px;
      font-weight: 700;
    }

    .select-arrow {
      i {
        color: var(--vitamui-primary);
      }
    }
    color: var(--vitamui-grey-900);
    font-size: 16px;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
  .mat-option-text {
    color: var(--vitamui-grey-900);
  }

  .mat-mdc-option {
    color: var(--vitamui-grey-900);
  }
  /* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
  .mat-mdc-option.mat-selected:not(.mat-option-disabled) {
    color: var(--vitamui-primary);
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-infix {
    padding: 0;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
  .mat-select-arrow-wrapper {
    vertical-align: inherit;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
  span.mat-select-placeholder {
    margin-top: 0.4rem;
  }
}
