[defaults]
hash_behaviour = merge
roles_path     = ./roles/
filter_plugins = ./filter_plugins/
callback_whitelist = timer, profile_tasks
gathering = smart
fact_caching_connection = environments/.facts_cache
fact_caching = jsonfile
forks = 20

# Mitogen
host_key_checking = False
strategy_plugins = ./lib/mitogen-0.2.9/ansible_mitogen/plugins/strategy
strategy = mitogen_linear
