[defaults]
roles_path                  = ./roles/
retry_files_enabled         = False
hash_behaviour              = merge
filter_plugins              = ./filter_plugins/
command_warnings            = False

### Mitogen (optional)
host_key_checking = False
# strategy_plugins = ./lib/mitogen-0.2.7/ansible_mitogen/plugins/strategy
# strategy = mitogen_linear
# ### <<<Mitogen

[privilege_escalation]
become                      = True
become_method               = sudo
