
[defaults]
hash_behaviour = merge
roles_path     = ./roles/
filter_plugins =  ./filter_plugins/
#fact_caching_connection = ./tmp/facts_cache
#fact_caching = jsonfile
# The timeout is defined in seconds
# This is 2 hours
fact_caching_timeout = 7200

# Mitogen
host_key_checking = False
strategy_plugins = ./lib/mitogen-0.2.9/ansible_mitogen/plugins/strategy
strategy = mitogen_linear

[ssh_connection]
pipelining = True
