@import '../../../../sass/variables/colors';
@import '../../../../sass/mixins/elevation';

$input-height: 90px;

:host {
  display: inline-block;
  height: $input-height;

  &.ng-valid.ng-touched .vitamui-input {
    border: 1px solid var(--vitamui-green);
  }

  &.ng-invalid.ng-touched .vitamui-input {
    border: 1px solid var(--vitamui-red);
  }
}

.vitamui-input {
  height: 100% !important;
  min-height: $input-height !important;
}

:host.ng-pending {
  .vitamui-input mat-spinner {
    display: block;
  }
}

label {
  top: 15px;
  pointer-events: none;
}

.message-area {
  min-height: 23px;
}
