@use '../../../../sass/mixins/elevation' as elevation;

:host {
  display: inline-block;

  &.ng-invalid:not(.ng-untouched) .vitamui-input {
    border: 1px solid var(--vitamui-red);
  }

  &.ng-pending .vitamui-input mat-spinner {
    display: block;
  }
}
