@import '../../../../sass/variables/colors';
@import '../../../../sass/mixins/elevation';

:host {
  display: inline-block;

  &.ng-valid.ng-touched .vitamui-input {
    border: 1px solid var(--vitamui-green);
  }

  &.ng-invalid.ng-touched .vitamui-input {
    border: 1px solid var(--vitamui-red);
  }
}

:host.ng-pending {
  .vitamui-input mat-spinner {
    display: block;
  }
}

.vitamui-input-errors {
  min-height: 30px;
}
