{
  "GATEWAY_ENABLED": {{ gateway.enabled | default(False) | lower }},
  "REFERENTIAL_URL": "{{ ui_referential.base_url }}",
  "VERSION_RELEASE": "{{ app_version }}",
  "PLATFORM_NAME": "{{ ui_identity.platform_name }}",
  "INGEST_URL": null,
  "PORTAL_TITLE": "{{ portal.title }}",
  "MAX_STREET_LENGTH": {{ address.max_street_length }},
  "THEME_COLORS": {
    "vitamui-primary": "{{ theme.vitamui_primary }}",
    "vitamui-secondary": "{{ theme.vitamui_secondary }}",
    "vitamui-tertiary": "{{ theme.vitamui_tertiary }}",
    "vitamui-header-footer": "{{ theme.vitamui_header_footer }}",
    "vitamui-background": "{{ theme.vitamui_background }}"
  },
  "PORTAL_MESSAGE": "{{ portal.message }}",
  "UI_URL": "{{ ui_identity.base_url }}",
  "ARCHIVES_SEARCH_URL": null,
  "PORTAL_URL": "{{ ui_portal.base_url }}",
  "ALLOWED_URLS": ["/identity-api"],
  "OIDC_CONFIG": {
    "issuer": "{{ cas_server.base_url }}/oidc",
    "redirectUri": "?",
    "postLogoutRedirectUri": "{{ ui_portal.base_url }}/",
    "clientId": "identity",
    "responseType": "code",
    "scope": "openid",
    "showDebugInformation": false
  },
  "PORTAL_LOGO": "{{ ui_identity.portal_logo | default(ui_portal.portal_logo) }}",
  "HEADER_LOGO": "{{ ui_identity.header_logo | default(ui_portal.header_logo) }}",
  "FOOTER_LOGO": "{{ ui_identity.footer_logo | default(ui_portal.footer_logo) }}",
  "USER_LOGO": "{{ ui_identity.user_logo | default(ui_portal.user_logo) }}",
  {%- if vitam.enabled is defined +%}
    "VITAM": {
      "enabled": {{ "true" if vitam.enabled else "false" }}
    },
  {%- endif +%}
  "CATEGORY_CONFIGURATION": [
    {%- for id, category in portal_categories.items() +%}
    {
      "displayTitle": {{ category.displayTitle | lower }},
      "identifier": "{{ id }}",
      "title": "{{ category.title }}",
      "order": {{ category.order }}
    }{{ ", " if not loop.last else "" }}
    {%- endfor +%}
  ]
}