<vitamui-common-sidenav-header [title]="title" subtitle="({{ identifier }})" (onclose)="emitClose()"> </vitamui-common-sidenav-header>

<div class="vitamui-sidepanel-body">
  <mat-tab-group class="preview-tab-group">
    <mat-tab [label]="'ONTOLOGY.TAB.INFORMATION.TITLE' | translate">
      @if (isOntology(selectedElement)) {
        <app-ontology-information-tab [inputOntology]="selectedElement" #infoTab (updated)="updatedChange($event, 0)">
        </app-ontology-information-tab>
      } @else {
        <app-schema-information-tab [inputSchema]="selectedElement"> </app-schema-information-tab>
      }
    </mat-tab>

    <mat-tab [label]="'ONTOLOGY.TAB.HISTORY.TITLE' | translate">
      <vitamui-common-operation-history-tab [id]="identifier" [identifier]="identifier" collectionName="ontology" />
    </mat-tab>
  </mat-tab-group>
</div>
