[hosts]

[hosts:children]
vitamui
nginx
hosts-consul-server # either this way or include another inventory...

[hosts-consul-server]
# put here vitam consul servers, if this way...

[nginx]
# put list

[vitamui:children]
zone-data
zone-admin
zone-internal
zone-external
zone-front

[zone-data: children]
mongod

[zone-internal:children]
iam_internal
referential_internal
ingest_internal

[zone-external:children]
iam_external
referential_external
ingest_external

[zone-admin:children]
mongo-express
logstash

[zone-front:children]
portal

[mongod]
# put list here

[mongo-express]
# put list here

[logstash]
# put list here

[iam_external]
# put list here

[referential_external]
# put list here

[ingest_external]
# put list here

[iam_internal]
# put list here

[referential_internal]
# put list here

[ingest_internal]
# put list here


[portal]
# put list here


[hosts:vars]
dns_servers=["1.1.1.1","2.2.2.2"] # defines list of DNS recursors for consul
ansible_ssh_user=centos # for ansible
ansible_become=true
vitam_site_name=tobedefined # defines name in consul
consul_domain=consul # should not be changed
url_prefix="https://{{ vitam_site_name }}.env.programmevitam.fr" # front URL from internet

# Reverse configuration
vitam_reverse_external_dns="{{ vitam_site_name }}.env.programmevitam.fr" # ServerName in reverse proxy
vitam_reverse_external_protocol=http # protocol
reverse_proxy_port=80 # associated port
http_proxy_environnement="http://vitam-factory-relay.vitam-env:3128" # if need to access internet, please provide proxy URL
