<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav-content>
    <div class="vitamui-content">
      <div></div>
      <div class="mt-3">
        <div class="title-design">{{ 'GETORIX_DEPOSIT.ARCHIVE_SPACE' | translate }}</div>
        <div class="subTitle-design">
          <p>
            {{ 'GETORIX_DEPOSIT.DEPOSIT_QUESTION' | translate }}
          </p>
        </div>

        <button class="btn primary" (click)="startDepositCreation()">
          <span>{{ 'GETORIX_DEPOSIT.CREATE_DEPOSIT' | translate }}</span>
        </button>
        <div class="guide-design">
          <span class="vertical-line"></span>
          <div class="steps">{{ 'GETORIX_DEPOSIT.STEPS_TO_FOLLOW' | translate }}</div>
          <div class="subTitle-design more-css" [ngStyle]="{ 'padding-top': '10px', 'padding-bottom': '20px' }">
            <span>{{ 'GETORIX_DEPOSIT.GUIDE_TO_SHOW' | translate }}</span>
            <div></div>

            <br />
            <button class="btn second-confirm" (click)="showGuide()">
              <span>{{ 'GETORIX_DEPOSIT.GUIDE' | translate }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
