.title-design {
  font-family: Mulish;
  font-size: 42px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.5px;
  text-align: left;
  padding-top: 44px;
}

.subTitle-design {
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 44px;
  padding-bottom: 30px;
}

.guide-design {
  width: 100%;
  height: 200px;
  top: 426px;
  left: 120px;
  border-radius: 5px;
  gap: 10px;
  background: #f7ebfa;
  box-shadow: 0px 1px 4px 0px #2121210d;
  box-shadow: 0px 0px 2px 0px #21212133;
  padding-left: 20px;
  margin-top: 60.5px;
}
.steps {
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.5px;
  text-align: left;
  position: absolute;
  top: 370px;
  padding-left: 40px;
}
.vertical-line {
  border-left: 4px solid;
  display: block;
  height: 200px;
  margin: 0 -20px;
  border-radius: 5px;
  color: var(--primary-primary-300, #c672d9);
}

.second-confirm {
  color: var(--primary-primary-500, #9c31b5);
  background-color: #f7ebfa;
  border-color: var(--primary-primary-500, #9c31b5);
}
.more-css {
  position: absolute;
  top: 420px;
  padding-left: 40px;
}
