:host {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
  }

  .violet {
    flex-direction: column;
    background-color: var(--vitamui-background);
  }

  .row {
    padding: 15px 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 0;

    .read-only-field {
      flex-direction: column;
    }
  }

  .btn-circle {
    border: 0;
    background-color: var(--vitamui-primary);

    .material-icons {
      color: white;
      vertical-align: middle;
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      text-transform: none;
      letter-spacing: normal;
      white-space: nowrap;
      direction: ltr;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      font-feature-settings: 'liga';
    }
  }

  .comment {
    p {
      white-space: pre-wrap;
    }
  }
}
