<vitamui-dialog-header
  [subhead]="'AGENCY.CREATE_DIALOG.SUBTITLE' | translate"
  [title]="'AGENCY.CREATE_DIALOG.TITLE' | translate"
></vitamui-dialog-header>

<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" cdkFocusInitial class="gap-3 align-items-stretch">
    @if (!isLoading) {
      <vitamui-input
        formControlName="identifier"
        [placeholder]="'AGENCY.CREATE_DIALOG.IDENTIFIER' | translate"
        [errorMessageMap]="{
          identifierExists: 'AGENCY.CREATE_DIALOG.IDENTIFIER_ALREADY_EXISTS' | translate,
          onlyWhitespaces: 'AGENCY.CREATE_DIALOG.INVALID_FIELD' | translate,
        }"
      >
      </vitamui-input>
      <vitamui-input
        formControlName="name"
        [placeholder]="'AGENCY.CREATE_DIALOG.NAME' | translate"
        [errorMessageMap]="{
          nameExists: 'AGENCY.CREATE_DIALOG.NAME_ALREADY_EXISTS' | translate,
          onlyWhitespaces: 'AGENCY.CREATE_DIALOG.INVALID_FIELD' | translate,
        }"
      >
      </vitamui-input>
      <vitamui-input formControlName="description" [placeholder]="'AGENCY.CREATE_DIALOG.DESCRIPTION' | translate" [textarea]="true">
      </vitamui-input>
    } @else {
      <div class="loader">
        @if (isLoading) {
          <mat-spinner class="vitamui-spinner medium"></mat-spinner>
        }
      </div>
    }
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button type="submit" (click)="onSubmit()" class="btn primary" [disabled]="form.invalid || form.pending || isLoading">
    <span>{{ 'COMMON.TERMINATE' | translate }}</span>
  </button>

  <button
    type="button"
    class="btn outline outline-primary"
    [disabled]="form.invalid || form.pending || isLoading"
    (click)="submitAndEdit()"
  >
    <span>{{ 'AGENCY.CREATE_DIALOG.VALIDATE_AND_EDIT' | translate }}</span>
  </button>

  <button type="button" class="btn cancel link" (click)="onCancel()">{{ 'COMMON.CANCEL' | translate }}</button>
</mat-dialog-actions>
