<div class="header">
  <mat-progress-bar mode="determinate" [value]="stepProgress" class="stepper-progress-bar"></mat-progress-bar>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <vitamui-common-stepper (selectionChange)="stepIndex=$event.selectedIndex">

    <cdk-step>
      <div class="content">
        <h4 i18n="Create agency title@@agencyCreateTitle1">Création d'un service agent</h4>
        <h5 i18n="Create agency title@@agencyCreateTitle2">Informations</h5>

        <div class="d-flex">
          <!-- Must we validate Min / max length ? -->
          <vitamui-common-input
            class="field-identifier"
            formControlName="identifier"
            minlength="2" maxlength="100"
            required
            placeholder="Identifiant" i18n-placeholder="Identifier@@agencyCreateIdentifierPlaceholder"
          >
            <ng-container *ngIf="form.get('identifier')?.touched">
              <vitamui-common-input-error *ngIf="!!form.get('identifier')?.errors?.required" i18n="Required field error hint@@formErrorRequiredField">Champ requis</vitamui-common-input-error>
              <!-- FIXME: Must we validate existance ? -->
              <vitamui-common-input-error *ngIf="!!form?.get('identifier')?.errors?.identifierExists" i18n="Identfier exists error hint@@formErrorIdentifierExists">Identifiant déjà utilisé</vitamui-common-input-error>
            </ng-container>
          </vitamui-common-input>
        </div>

        <div class="d-flex">
          <!-- Must we validate Min / max length ? -->
          <vitamui-common-input
            class="field-name"
            formControlName="name"
            minlength="2" maxlength="100"
            required
            placeholder="Nom" i18n-placeholder="Name@@agencyCreateNamePlaceholder"
          >
            <ng-container *ngIf="form.get('name')?.touched">
              <vitamui-common-input-error *ngIf="!!form.get('name')?.errors?.required" i18n="Required field error hint@@formErrorRequiredField">Champ requis</vitamui-common-input-error>
              <!-- FIXME: Must we validate existance ? -->
              <vitamui-common-input-error *ngIf="!!form?.get('name')?.errors?.nameExists" i18n="Name exists error hint@@formErrorNameExists">Nom déjà utilisé</vitamui-common-input-error>
            </ng-container>
          </vitamui-common-input>
        </div>

        <div class="d-flex">
          <!-- Must we validate Min / max length ? -->
          <vitamui-common-input
            class="field-description"
            formControlName="description"
            minlength="4" maxlength="100"
            placeholder="Description" i18n-placeholder="Description@@agencyCreateDescriptionPlaceholder"
          >
            <vitamui-common-input-error *ngIf="form.get('description')?.touched && form.get('description')?.hasError('required')" i18n="Required field error hint@@formErrorRequiredField">Champ requis</vitamui-common-input-error>
          </vitamui-common-input>
        </div>
        <div class="btn-container">
          <button type="submit" class="btn primary" [disabled]="form.pending || form.invalid" i18n="Finish agency creation button@@agencyCreateFinishButton">Terminer</button>
          <button type="button" class="btn primary" [disabled]="form.pending || form.invalid" (click)="onSubmitAndCreate()" i18n="Finish agency creation button@@agencyCreateFinishButton">Terminer et créer un nouveau service agent</button>
          <button type="button" class="btn cancel" (click)="onCancel()" i18n="Cancel agency creation@@agencyCreateCancelButton">Annuler</button>
        </div>
      </div>
    </cdk-step>
  </vitamui-common-stepper>
</form>
