<div class="content mt-3">
    <div class="text medium light">{{ 'AGENCY.CREATE_DIALOG.SUBTITLE' | translate }}</div>
    <div class="text large bold">{{ 'AGENCY.CREATE_DIALOG.TITLE' | translate }}</div>

  <form class="mt-4" [formGroup]="form" (ngSubmit)="onSubmit()" cdkFocusInitial>
    <ng-container *ngIf="!isLoading; else loading">
      <vitamui-common-input
        class="w-100"
        formControlName="identifier"
        placeholder="{{ 'AGENCY.CREATE_DIALOG.IDENTIFIER' | translate }}"
        required
      >
        <ng-container *ngIf="form.get('identifier')?.touched">
          <vitamui-common-input-error *ngIf="!!form.get('identifier')?.errors?.required">
            {{ 'COMMON.REQUIRED' | translate }}
          </vitamui-common-input-error>
          <vitamui-common-input-error *ngIf="!!form?.get('identifier')?.errors?.identifierExists">
            {{ 'AGENCY.CREATE_DIALOG.IDENTIFIER_ALREADY_EXISTS' | translate }}
          </vitamui-common-input-error>
        </ng-container>
      </vitamui-common-input>

      <vitamui-common-input class="w-100" formControlName="name" placeholder="{{ 'AGENCY.CREATE_DIALOG.NAME' | translate }}" required
          >
            <ng-container *ngIf="form.get('name')?.touched">
              <vitamui-common-input-error *ngIf="!!form.get('name')?.errors?.required" >{{'COMMON.REQUIRED' | translate}}</vitamui-common-input-error>
              <vitamui-common-input-error *ngIf="!!form?.get('name')?.errors?.nameExists" >
            {{ 'AGENCY.CREATE_DIALOG.NAME_ALREADY_EXISTS' | translate }}
          </vitamui-common-input-error>
        </ng-container>
      </vitamui-common-input>

      <vitamui-common-textarea
        class="w-100"
        formControlName="description"
        placeholder="{{ 'AGENCY.CREATE_DIALOG.DESCRIPTION' | translate }}"
      >
      </vitamui-common-textarea>
    </ng-container>

    <div class="actions">
      <button type="submit" class="btn primary" [disabled]="form.invalid || form.pending || isLoading">
        <span>{{ 'COMMON.TERMINATE' | translate }}</span>
      </button>

      <button type="button" class="btn primary" [disabled]="form.invalid || form.pending || isLoading" (click)="onSubmitAndCreate()">
        <span>{{ 'AGENCY.CREATE_DIALOG.VALIDATE_AND_CREATE' | translate }}</span>
      </button>

      <button type="button" class="btn cancel link" (click)="cancel()">{{ 'COMMON.CANCEL' | translate }}</button>
    </div>
  </form>
</div>

<ng-template #loading>
  <div class="loader">
    <mat-spinner *ngIf="isLoading" class="vitamui-spinner medium"></mat-spinner>
  </div>
</ng-template>
