@for (config of configs; track config.name) {
  <h3>{{ config.name }}</h3>
  @for (entry of config.entries; track entry.type) {
    <div class="container-fluid p-0">
      <div class="row">
        @for (state of entry.states; track state.id) {
          <div class="col">
            <h4>{{ state.id + ' (' + entry.type + ')' }}</h4>
            <vitamui-common-repeatable-input
              [class.focused]="state.id === 'Active'"
              [formControl]="state.control"
              placeholder="Input"
              [multiple]="config.multiple"
              [textarea]="config.textarea"
              [errorMessageMap]="{
                pattern: 'ERRORS.CONTAINS_GB',
              }"
            ></vitamui-common-repeatable-input>
          </div>
        }
      </div>
    </div>
  }
}
