.pastis-edit-profile-header {
  position: fixed;
  width: 480px;
  top: 70px;
  height: 180px;
  display: block;
  background-color: var(--vitamui-white);
  border-bottom: solid var(--vitamui-grey-200);
}
.mat-mdc-table {
  background-color: var(--vitamui-background);
  position: fixed;
  top: 220px;
  height: calc(100% - 220px);
  width: 480px;
  min-width: unset;
}
.pastis-edit-profile-header-name {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: var(--vitamui-white);
}

.pastis-edit-profile-header-id {
  position: relative;
  left: 40px;
  top: 25px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: var(--vitamui-white);
}

// The tabs containers
:host ::ng-deep .mat-mdc-tab-header {
  left: 40px;
  right: 40px;
  bottom: 48px;
  height: 48px;
  max-width: fit-content;
  border: none;
}

// The tab
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
:host ::ng-deep .mat-tab-label {
  @extend .pastis-font-label-historique !optional;
  margin-right: 3px !important;
  height: 37px !important;
  padding: 0 !important;
  min-width: fit-content !important;
  opacity: unset !important;
}

//The tab hover
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
:host ::ng-deep .mat-tab-label:hover {
  background: var(--vitamui-white) !important;
}

// Tab hover and tab text hover
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
:host ::ng-deep .mat-tab-label:hover .mat-tab-label-content {
  color: var(--vitamui-grey-800) !important;
}

// The active tab (Black and bold)
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
:host ::ng-deep .mat-tab-label-active {
  background: var(--vitamui-white) !important;
  border-bottom: solid var(--vitamui-primary) 3px;
}

// The tab content
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
:host ::ng-deep .mat-tab-label-content {
  margin: 8px;
  display: flex;
  align-items: center;
  color: var(--vitamui-grey-400);
}

// The content of the active tab
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
:host ::ng-deep .mat-tab-label-active .mat-tab-label-content {
  color: var(--vitamui-primary) !important;
  padding-top: 3px !important;
}

// The automatic tab pagination chevron
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
:host ::ng-deep .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
  display: none !important;
}

:host ::ng-deep .mat-mdc-tab-group.mat-primary .mat-ink-bar,
:host ::ng-deep .mat-mdc-tab-nav-bar.mat-primary .mat-ink-bar .pastis-ink-bar {
  height: 0;
}

.mat-mdc-tab-group {
  height: 100%;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
:host ::ng-deep .mat-mdc-tab-body .mat-tab-body-active {
  overflow-x: auto !important;
  overflow-y: auto !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
:host ::ng-deep .mat-tab-body-content {
  overflow-x: auto !important;
  overflow-y: auto !important;
}

.pastis-ico-close-sidenav {
  position: absolute;
  left: 90%;
  top: 31px;
  color: var(--vitamui-grey-600);
  cursor: pointer;
  font-size: 24px;
}

.vitamui-icon-close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: var(--vitamui-grey-900);
  font-size: 20px;
}
