.editable-fields-container {
    max-width: 350px;
}

.demo-stepper {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.demo-step-content {
    padding: 20px;
    border-radius: 3px;
}

.tooltip-demo-block {
    min-width: 800px;
}
