// Switch to admin database
db = db.getSiblingDB('{{ mongodb.localadmin.db }}')

// Create localadmin user

if (! db.getUser("{{ mongodb.localadmin.user }}")) {
    db.createUser(
        {
            user: "{{ mongodb.localadmin.user }}",
            pwd: "{{ mongodb.localadmin.password }}",
            roles: {{ mongodb.localadmin.roles }}
        }
    )
}
else {
    db.updateUser(
        "{{ mongodb.localadmin.user }}",
        {
            pwd: "{{ mongodb.localadmin.password }}",
            roles: {{ mongodb.localadmin.roles }}
        }
    )
}
