<vitamui-dialog-header [subhead]="data.subTitleDialog" [title]="data.titleDialog"></vitamui-dialog-header>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="row">
      <div class="col-10 form-control" *ngIf="externalIdentifierEnabled">
        <vitamui-common-input
          [disabled]="editNotice"
          (ngModelChange)="checkIdentifier(modePUA)"
          [(ngModel)]="notice.identifier"
          class="col-9 px-0"
          placeholder="{{ 'PROFILE.POP_UP_CREATION_NOTICE.IDENTIFIER' | translate }}"
          formControlName="identifier"
        >
        </vitamui-common-input>
      </div>
    </div>

    <div class="row">
      <div class="col-10 form-control">
        <vitamui-common-input
          [(ngModel)]="notice.name"
          (ngModelChange)="checkIntitule()"
          class="col-9 px-0"
          formControlName="intitule"
          placeholder="{{ 'PROFILE.POP_UP_CREATION_NOTICE.INTITULE' | translate }} "
        >
        </vitamui-common-input>
      </div>
    </div>

    <div class="row">
      <div class="col-10 form-control">
        <vitamui-common-textarea
          [(ngModel)]="notice.description"
          formControlName="description"
          placeholder="{{ 'PROFILE.POP_UP_CREATION_NOTICE.DESCRIPTION' | translate }} "
          [rows]="4"
          style="width: 100%"
        >
        </vitamui-common-textarea>
      </div>
    </div>

    <div *ngIf="modePUA" class="row">
      <div class="col-10 form-control">
        <div class="d-flex justify-content-between align-items-center py-1 px-2 mb-2">
          <vitamui-common-slide-toggle [formControl]="presenceNonDeclareMetadonneesPUAControl">
            {{ 'PROFILE.POP_UP_CREATION_NOTICE.AUTORISER_PRESENCE_METADONNEES' | translate }}
          </vitamui-common-slide-toggle>
          <div>
            <i class="vitamui-icon vitamui-icon-info primary clickable" [vitamuiTooltip]="information"></i>
          </div>
        </div>
      </div>
    </div>

    <vitamui-select
      class="d-block mt-4"
      formControlName="selectedStatus"
      [placeholder]="'PROFILE.POP_UP_CREATION_NOTICE.ENREGISTRER_ACTIF_INACTIF' | translate"
      [(ngModel)]="notice.status"
      [options]="statusOptions"
      [enableSearch]="false"
    ></vitamui-select>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button type="submit" [disabled]="!validate" class="btn primary">
      {{ data.okLabel }}
    </button>
    <button type="button" class="btn cancel link" (click)="onCancel()">{{ data.cancelLabel }}</button>
  </mat-dialog-actions>
</form>
