@import '../../../../../sass/variables/colors';

.tenant-selector {
  font-size: 14px;
  border-radius: 50px;
  padding: 0 25px;
  height: 45px;
  background-color: $white;
  color: $charcoal-grey;
}

.selected-tenant-label, .unselected-tenant-label {
  color: $warm-grey;
  font-size: 16px;
}

.selected-tenant-label {
  display: block;
  padding-top: 0.3rem;
}

:host::ng-deep {
  .mat-form-field-underline {
    display: none;
  }
  
  .mat-select-value-text {
    font-weight: bold;
  }
  
  .mat-select-arrow {
    color: var(--vitamui-primary);
  }
}