<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title th:text="#{screen.success.header}">Password Update Success View</title>
</head>
<body>


<div layout:fragment="content" class="col">
  <div class="Text-large-bold" th:text="#{screen.pm.success.header}">
    Changement de mot de passe
  </div>
  <div class="Text-medium margin-top-10" th:text="#{screen.pm.success.message}">
    Le mot de passe de votre compte a été mis à jour avec succès.
  </div>
  <form method="post" id="main-form" class="fm-v clearfix align-center" th:action="@{/login}">
    <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
    <input type="hidden" name="_eventId" value="proceed"/>
  </form>
  <script>
    displayMainFormSubmitButton();
  </script>
</div>


</body>
</html>
