<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title th:text="#{screen.pm.reset.title}">Reset Password Sent Instructions View</title>
</head>
<body>


<div layout:fragment="content" class="col">
  <div class="Text-large-bold" th:text="#{screen.pm.reset.title}">
    Réinitialisation du mot de passe
  </div>
  <div class="Text-medium margin-top-15"
       th:utext="#{screen.pm.reset.sentInstructions}">
    Nous vous avons envoyé un e-mail pour créer un nouveau mot de passe. Veuillez cliquer sur le lien contenu dans l'e-mail.
  </div>
</div>


</body>
</html>
