<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta charset="UTF-8"/>
    <title th:text="${@environment.getProperty('theme.vitamui-platform-name')}">VITAM-UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../../static/images/favicon.ico"
          th:href="${application.vitamuiFavicon} ? 'data:image/png;base64,' + ${application.vitamuiFavicon} : @{/images/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/cas.css"
          th:href="@{/css/cas.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/icons/vitamui-icons.css"
          th:href="@{/icons/vitamui-icons.css}"/>
    <script type="text/javascript" src="../../../../../../deployment/roles/reverse/files/apache/page/js/jquery.min.js"
            th:src="@{#{webjars.jquery.js}}"></script>
    <script type="text/javascript"
            th:src="@{#{webjars.jqueryui.js}}"></script>
    <script type="text/javascript" src="../static/js/cas.js"
            th:src="@{#{/js/cas.js}}"></script>
</head>

<body style="--vitamui-primary:#9C31B5;--vitamui-secondary:#7FA1D4;--vitamui-background:#F6F3FB;"
      th:st="${@environment.getProperty('theme.body.style')}">
<div class="centered">
    <div class="logo">
        <img src="../../static/images/logo-vitam-colored.svg" alt="logo"
             th:src="${application.vitamuiLargeLogo} ? 'data:image/png;base64,' + ${application.vitamuiLargeLogo} : @{/images/logo-vitam-colored.svg}">
    </div>
    <div class="vitamui-card">
        <div class="step-password">
            <div class="Text-large-bold" th:text="#{screen.pm.reset.title}">
                Réinitialisation du mot de passe
            </div>
            <p class="Text-medium margin-top-10"
               th:text="#{screen.pm.reset.instructions}">
                Afin de recevoir les instructions de réinitialisation de votre mot de passe, veuillez confirmer l'adresse e-mail de votre compte :
            </p>
            <p class="Text-medium margin-top-10 Text-normal-bold"
               th:text="${credential.username}">
                your@email.com
            </p>
            <form id="main-form" method="post" style="display: none;">
                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                <input type="hidden" name="_eventId" value="findAccount"/>
                <div class="form-line">
                    <input id="username"
                           type="hidden"
                           name="username"
                           size="45"
                           readonly="readonly"
                           required
                           autocomplete="off"
                           tabindex="1"
                           th:value="${credential.username}"/>
                    &nbsp;
                </div>
            </form>
        </div>
        <div class="button-footer">
            <button class="Text-button" type="button" th:urlToUse="@{/login(service=${serviceUrl})}"
                    th:onclick="window.location.href=sanitizeUrl(this.getAttribute('urlToUse'))">
                <i class="vitamui-icon vitamui-icon-chevron-left"></i>
                <span th:text="#{cas.welcome.button.back}">RETOUR</span>
            </button>
            <button id="submit-main-form" class="Button" type="submit" form="main-form">VALIDER</button>
        </div>
    </div>
</div>
</div>


<script>
    resourceLoadedSuccessfully();

    function sanitizeUrl(inputUrl) {
        let ESC_MAP = {
            '&': '&amp;',
            '<': '&lt;',
            '>': '&gt;',
            '"': '&quot;',
            "'": '&#39;'
        };
        return inputUrl.replace(true ? /[&<>'"]/g : /[&<>]/g, function (c) {
            return ESC_MAP[c];
        });
    }
</script>

</body>
</html>
