<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.pm.reset.title}">Reset Password Send Instructions View</title>
    <script>
    var i = '[[#{screen.welcome.button.loginwip}]]';
    $(document).ready(function(){
        $('#fm1').submit(function () {
            $(this).find('#username').each(function(){
               $(this).val($.trim($(this).val()));
            });
            $(':submit').attr('disabled', true);
            $(':submit').attr('value', i);
            return true;
        });
    });
    </script>
</head>

<body id="cas" th:styleappend="${@environment.getProperty('theme.body.style')}">
<div layout:fragment="content" id="reset">
    <h4 th:utext="#{screen.pm.reset.title}">Reset your password</h4>
    <span class="text large normal" th:utext="#{screen.pm.reset.instructions}">Please provide your username. You will receive an email with follow-up instructions on how to reset your password.</span>
    <br><br>
    <form method="post" id="fm1" class="fm-v clearfix">
        <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
        <input type="hidden" name="_eventId" value="findAccount"/>
        <br>
        <div class="form-group form-control">
            <input type="text" id="username" name="username" placeholder="Adresse e-mail *"
                   size="45" tabindex="1" required autocomplete="off" th:value="${credential.username}"/>
        </div>

        <button type="submit" class="vitamui-primary" name="submit" accesskey="s" th:value="Suivant" tabindex="2">OK</button>
        &nbsp;

    </form>
    <p/>

</div>

</body>

</html>
