<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <title th:text="#{screen.pm.reset.title}">Reset Password Send Instructions View</title>

</head>
<body id="cas" th:styleappend="${@environment.getProperty('theme.body.style')}">


<div layout:fragment="content" class="col">
  <div class="Text-large-bold" th:text="#{screen.pm.reset.title}">
    Reset your password
  </div>
  <p class="Text-medium margin-top-10"
     th:text="#{screen.pm.reset.instructions}">
    Please provide your username. You will receive an email with follow-up instructions on how to reset your password.
  </p>
  <form id="main-form" method="post" class="margin-top-10">
    <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
    <input type="hidden" name="_eventId" value="findAccount"/>
    <div class="form-line">
      <input id="username"
             type="text"
             name="username"
             size="45"
             required
             autocomplete="off"
             tabindex="1"
             th:value="${credential.username}"/>
      <label for="username" th:text="#{cas.authentication.email.placeholder}">
        Adresse e-mail *
      </label>
    </div>
  </form>
</div>

<script>
  var i = '[[#{screen.welcome.button.loginwip}]]';
  $(document).ready(function () {
    $("#submit-main-form").css("display", "flex");
    $('#main-form').submit(function () {
      $(this).find('#username').each(function () {
        $(this).val($.trim($(this).val()));
      });
      $(':submit').attr('disabled', true);
      $(':submit').attr('value', i);
      return true;
    });
  });
</script>

</body>
</html>
