<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <title th:text="#{screen.pm.reset.title}">Password Reset Error View</title>
</head>
<body id="cas" th:styleappend="${@environment.getProperty('theme.body.style')}">


<div layout:fragment="content" class="col">
  <div class="Text-large-bold" th:text="#{screen.pm.reset.heading}">
    Password Reset Failed
  </div>
  <p class="Text-medium margin-top-10" th:text="#{screen.pm.reset.message}">
    We were unable to process your password reset request at this time.
  </p>
</div>


</body>
</html>
