  <div class="pastis-vitamui-language-seda-title">{{title}}
  </div>
  <div class="pastis-vitamui-language-seda-choice">
    <button [ngStyle]="{'width': secondPopup ? 'fit-content' : '' }"
      (click)="changeStatus(firstChoice)"
      [ngClass]="{'pastis-vitamui-language-seda-button-selected':status, 'pastis-vitamui-language-seda-button': !status}">{{firstChoice}}
    </button>
    <button [ngStyle]="{'width': secondPopup ? 'fit-content' : '' }"
      (click)="changeStatus(secondChoice)"
      [ngClass]="{'pastis-vitamui-language-fr-button-selected':!status, 'pastis-vitamui-language-fr-button': status}">{{secondChoice}}
    </button>
  </div>
