<table>
  <thead>
    <tr>
      <th>
        <span>
          {{ 'PRESERVATION.SCENARIO.TABLE.HEADER.IDENTIFIER' | translate }}
          <vitamui-order-by-button
            [orderByKey]="identifierKey"
            [(direction)]="direction"
            [(orderBy)]="orderByKey"
            (orderChange)="sort()"
          ></vitamui-order-by-button>
        </span>
      </th>

      <th>
        <span>
          {{ 'PRESERVATION.SCENARIO.TABLE.HEADER.NAME' | translate }}
          <vitamui-order-by-button
            [orderByKey]="nameKey"
            [(direction)]="direction"
            [(orderBy)]="orderByKey"
            (orderChange)="sort()"
          ></vitamui-order-by-button>
        </span>
      </th>

      <th>
        <span class="no-wrap">
          {{ 'PRESERVATION.SCENARIO.TABLE.HEADER.POSSIBLE_ACTIONS' | translate }}
          <vitamui-order-by-button
            [orderByKey]="nameKey"
            [(direction)]="direction"
            [(orderBy)]="orderByKey"
            (orderChange)="sort()"
          ></vitamui-order-by-button>
        </span>
      </th>

      <th>
        <span class="no-wrap">
          {{ 'PRESERVATION.SCENARIO.TABLE.HEADER.CREATION_DATE' | translate }}
          <vitamui-order-by-button
            [orderByKey]="creationDateKey"
            [(direction)]="direction"
            [(orderBy)]="orderByKey"
            (orderChange)="sort()"
          ></vitamui-order-by-button>
        </span>
      </th>

      <th>
        <!-- Actions column -->
      </th>
    </tr>
  </thead>

  <tbody>
    @for (preservationScenario of preservationScenarios(); track preservationScenario.Identifier) {
      <tr class="clickable" [class.selected]="selectedPreservationScenario()?.Identifier === preservationScenario.Identifier">
        <td>{{ preservationScenario.Identifier }}</td>
        <td>{{ preservationScenario.Name }}</td>
        <td>{{ formatPossibleActions(preservationScenario.ActionList) }}</td>
        <td>{{ preservationScenario.CreationDate | dateTime: 'dd/MM/yyyy' | empty }}</td>
        <td class="delete-button">
          <button class="btn btn-circle primary" (click)="$event.stopPropagation(); deletePreservationScenarioDialog(preservationScenario)">
            <i class="vitamui-icon vitamui-icon-delete btn-icon"></i>
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>

@if (loading()) {
  <div class="vitamui-min-content">
    <mat-spinner class="vitamui-spinner medium"></mat-spinner>
  </div>
} @else if (preservationScenarios().length === 0) {
  <div class="vitamui-min-content vitamui-table-message">{{ 'COMMON.NO_RESULT' | translate }}</div>
}
