<h2>CSS</h2>

<div id="badge">

  <h3>Badge</h3>

  <div class="demo-block">
    <i class="material-icons status-badge-green">person</i>
  </div>

  <div class="demo-block">
    <i class="material-icons status-badge-orange">person</i>
  </div>

  <div class="demo-block">
    <i class="material-icons status-badge-grey">person</i>
  </div>

  <div class="demo-block">
    <i class="material-icons status-badge-dark-grey status-badge-icon-cross">person</i>
  </div>

</div>

<div id="button">

  <h3>Button</h3>

  <div class="demo-block">
    <button class="btn">Basic</button>
  </div>

  <div class="demo-block">
    <button class="btn primary">Primary</button>
  </div>

  <div class="demo-block">
    <button class="btn secondary">Secondary</button>
  </div>

  <div class="demo-block">
    <button class="btn cancel">Cancel</button>
  </div>

  <div class="demo-block">
    <button class="btn" disabled>Disabled</button>
  </div>

  <div class="demo-block">
    <button class="btn-circle"><i class="material-icons">favorite_border</i></button>
  </div>

  <div class="demo-block">
    <button class="btn-circle primary"><i class="material-icons">favorite</i></button>
  </div>

  <div class="demo-block">
    <button class="btn-link">Link</button>
  </div>

  <div class="demo-block">
    <button class="back"><i class="vitamui-icon vitamui-icon-chevron-left"></i> Back Button</button>
  </div>

</div>

<div id="chip">

  <h3>Chip</h3>

  <div class="demo-block">
    <ul class="vitamui-chip-list">

      <li class="vitamui-chip">
        <div class="vitamui-chip-content">Chip</div>
        <div class="vitamui-remove-chip">
          <i class="material-icons">clear</i>
        </div>
      </li>

      <li class="vitamui-chip active">
        <div class="vitamui-chip-content">Active Chip</div>
        <div class="vitamui-remove-chip">
          <i class="material-icons">clear</i>
        </div>
      </li>

    </ul>
  </div>

</div>

<div id="layout">

  <h3>Layout</h3>

  <div class="demo-block">

    <!-- Page layout example -->
    <div class="vitamui-header">
      <div class="vitamui-container">
        <div class="demo-layout">
          <nav class="vitamui-navbar">
            <span class="logo">LOGO</span>
            <ul class="menu">
              <li>
                <button class="vitamui-menu-button">
                  <i class="material-icons vitamui-menu-icon">apps</i>
                  Menu Button
                  <i class="material-icons vitamui-menu-caret">keyboard_arrow_down</i>
                </button>
              </li>
            </ul>
          </nav>
          <h2>Page Header</h2>
        </div>
      </div>
    </div>

    <div class="vitamui-body">
      <div class="vitamui-container">
        <div class="demo-layout">Page Body</div>
      </div>
    </div>

  </div>

</div>

<div id="navbar">

  <h3>Navbar</h3>

  <div class="demo-block demo-layout">
    <nav class="vitamui-navbar">
      <span class="logo">LOGO</span>
      <ul class="menu">
        <li>
          <button class="vitamui-menu-button">
            <i class="material-icons vitamui-menu-icon">apps</i>
            Menu Button
            <i class="material-icons vitamui-menu-caret">keyboard_arrow_down</i>
          </button>
        </li>
      </ul>
    </nav>
  </div>

</div>

<div id="preview-panel">

  <h3>Preview Panel</h3>

  <!-- <div class="demo-block">

    <div class="vitamui-preview">
      <div class="header">
        <button class="btn-popup"><i class="material-icons">favorite</i></button>
        <button class="btn-close"><i class="material-icons">clear</i></button>
        <div class="title">
          <i class="material-icons">person</i>
          <h2>Title</h2>
        </div>
      </div>
      <div class="content">
      </div>
    </div>

  </div> -->

</div>

<div id="search-bar">

  <h3>Search Bar</h3>

  <div class="demo-block">
    <div class="search">
      <input type="text" placeholder="Placeholder">
      <button type="submit" class="btn-circle primary btn-search"><i class="material-icons">search</i></button>
    </div>
  </div>

</div>

<div id="table">

  <h3>Table</h3>

  <div class="demo-block">
    <table class="vitamui-table">
      <thead>
        <tr>
          <th><i class="material-icons">person</i></th>
          <th>Username</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Age</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr class="vitamui-table-row">
          <td><i class="material-icons vitamui-row-icon">person</i></td>
          <td>jondo42</td>
          <td>John</td>
          <td>Doe</td>
          <td>42</td>
          <td>
            <div class="actions">
              <button>HOVER ACTIONS</button>
            </div>
          </td>
        </tr>
        <tr class="vitamui-table-row">
          <td><i class="material-icons vitamui-row-icon">person</i></td>
          <td>xXAliceXx</td>
          <td>Alice</td>
          <td>Martin</td>
          <td>38</td>
          <td>
            <div class="actions">
              <button>HOVER ACTIONS</button>
            </div>
          </td>
        </tr>
        <tr class="vitamui-table-row">
          <td><i class="material-icons vitamui-row-icon">person</i></td>
          <td>Bob</td>
          <td>Robert</td>
          <td>Smith</td>
          <td>55</td>
          <td>
            <div class="actions">
              <button>HOVER ACTIONS</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="vitamui-table-footer">
      <i class="material-icons">autorenew</i>
    </div>
  </div>

</div>

<div id="autocomplete">

  <h3>Autocomplete</h3>

  <div class="demo-block">
    <!-- TODO material components examples -->
  </div>

</div>
