<form [formGroup]="form" (ngSubmit)="onSubmit()" class="gap-5">
  <div class="gap-3 align-items-stretch w-100">
    <vitamui-slide-toggle [formControl]="statusControl" class="w-100">
      <span>{{ 'INGEST_CONTRACT.TAB.INFORMATION.' + (statusControl.value ? 'ACTIVE_CONTRACT' : 'INACTIVE_CONTRACT') | translate }}</span>
    </vitamui-slide-toggle>

    <vitamui-input
      formControlName="name"
      [placeholder]="'COMMON.NAME' | translate"
      class="w-100"
      [errorMessageMap]="{ nameExists: 'COMMON.NAME_ALREADY_EXISTS' | translate }"
    >
    </vitamui-input>

    <vitamui-input [textarea]="true" formControlName="description" [placeholder]="'COMMON.DESCRIPTION' | translate"> </vitamui-input>

    <vitamui-select
      formControlName="archiveProfiles"
      [placeholder]="'INGEST_CONTRACT.TAB.INFORMATION.ARCHIVE_PROFILE' | translate"
      [options]="archiveProfiles"
      [multiple]="true"
      [enableSearch]="false"
      [enableSelectAll]="false"
      [enableDisplaySelected]="false"
    >
    </vitamui-select>

    <vitamui-select
      formControlName="managementContractId"
      [placeholder]="'INGEST_CONTRACT.TAB.INFORMATION.MANAGEMENT_CONTRACT' | translate"
      [options]="managementContracts"
      [multiple]="false"
      [enableSearch]="false"
      [enableSelectAll]="false"
      [enableDisplaySelected]="false"
    >
    </vitamui-select>

    <vitamui-input
      [placeholder]="'INGEST_CONTRACT.TAB.INFORMATION.CREATION_DATE' | translate"
      [ngModel]="ingestContract.creationDate ? (ingestContract.creationDate | dateTime: 'dd/MM/yyyy') : '-'"
      [ngModelOptions]="{ standalone: true }"
      disabled
    ></vitamui-input>

    <vitamui-input
      [placeholder]="'INGEST_CONTRACT.TAB.INFORMATION.LAST_MODIFICATION_DATE' | translate"
      [ngModel]="ingestContract.lastUpdate ? (ingestContract.lastUpdate | dateTime: 'dd/MM/yyyy') : '-'"
      [ngModelOptions]="{ standalone: true }"
      disabled
    ></vitamui-input>

    <vitamui-input
      [placeholder]="'INGEST_CONTRACT.TAB.INFORMATION.ACTIVATION_DATE' | translate"
      [ngModel]="
        ingestContract?.status === 'ACTIVE' && ingestContract?.activationDate
          ? (ingestContract.activationDate | dateTime: 'dd/MM/yyyy')
          : '-'
      "
      [ngModelOptions]="{ standalone: true }"
      disabled
    ></vitamui-input>

    <vitamui-input
      [placeholder]="'INGEST_CONTRACT.TAB.INFORMATION.DEACTIVATION_DATE' | translate"
      [ngModel]="ingestContract?.deactivationDate ? (ingestContract.deactivationDate | dateTime: 'dd/MM/yyyy') : '-'"
      [ngModelOptions]="{ standalone: true }"
      disabled
    ></vitamui-input>
  </div>

  <button type="submit" class="btn primary" [disabled]="isInvalid() || unchanged() || submitted">
    {{ 'COMMON.SAVE' | translate }}
  </button>
</form>
