<form [formGroup]="form" class="side-form" (ngSubmit)="onSubmit()">

    <div class="row">
        <div class="col-10 form-control">
            <vitamui-common-slide-toggle [formControl]="statusControl" i18n="status@@ingestContractPreviewLabelName">
                Compte actif
            </vitamui-common-slide-toggle>
        </div>
    </div>

    <div class="row">
        <div class="col-10 form-control">
            <vitamui-library-input formControlName="name" placeholder="Nom"
                i18n-placeholder="Name@@profileGroupCreateNamePlaceholder">
                <ng-container *ngIf="form.get('name')?.touched">
                    <vitamui-common-input-error *ngIf="!!form.get('name')?.errors?.required"
                        i18n="Required field error hint@@formErrorRequiredField">Champ requis
                    </vitamui-common-input-error>
                    <!-- FIXME: Must we validate existance ? -->
                    <vitamui-common-input-error *ngIf="!!form?.get('name')?.errors?.nameExists"
                        i18n="Name exists error hint@@formErrorNameExists">Nom déjà utilisé</vitamui-common-input-error>
                </ng-container>
            </vitamui-library-input>
        </div>

        <div class="col-10 form-control">
            <vitamui-common-textarea formControlName="description" placeholder="Description"
                i18n-placeholder="description@@ingestContractPreviewLabelName" [rows]="3">
                <ng-container *ngIf="form.get('description')?.touched">
                    <vitamui-common-input-error *ngIf="!!form.get('description')?.errors?.required"
                        i18n="Required field error hint@@formErrorRequiredField">Champ requis
                    </vitamui-common-input-error>
                </ng-container>
            </vitamui-common-textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-10 form-control">
            <mat-form-field class="vitamui-mat-select">
                <mat-select formControlName="archiveProfiles" placeholder="Profil d'archivage"
                    i18n-placeholder="Application@@profilesFormApplicationPlaceholder" panelclass="vitamui-mat-select"
                    multiple>
                  <mat-option *ngFor='let profiles of archiveProfiles' [value]="profiles.identifier">{{profiles.name}}</mat-option>
                </mat-select>
                <div class="select-arrow">
                    <i class="material-icons">keyboard_arrow_up</i>
                    <i class="material-icons">keyboard_arrow_down</i>
                </div>
            </mat-form-field>
        </div>

        <div class="col-10 form-control">
            <mat-form-field class="vitamui-mat-select">
                <mat-select formControlName="managementContractId" placeholder="Contrat de gestion"
                    i18n-placeholder="Application@@profilesFormApplicationPlaceholder" panelclass="vitamui-mat-select">
                    <mat-option *ngFor='let managementContract of managementContracts' [value]="managementContract.identifier">{{managementContract.name}}</mat-option>
                </mat-select>
                <div class="select-arrow">
                    <i class="material-icons">keyboard_arrow_up</i>
                    <i class="material-icons">keyboard_arrow_down</i>
                </div>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-10 form-control">
            <vitamui-library-input placeholder="Date de création"
                i18n-placeholder="creationDate@@ingestContractPreviewLabelCreationDate"
                [value]="ingestContract?.creationDate | date: 'dd/MM/yyyy'" disabled>
            </vitamui-library-input>
        </div>

        <div class="col-10 form-control">
            <vitamui-library-input placeholder="Date de derniere modification"
                i18n-placeholder="lastUpdate@@ingestContractPreviewLabelLastUpdate"
                [value]="ingestContract?.lastUpdate | date: 'dd/MM/yyyy'" disabled>
            </vitamui-library-input>
        </div>

        <div class="col-10 form-control">
            <vitamui-library-input placeholder="Date d'activation" 
                *ngIf="ingestContract?.status === 'ACTIVE' && ingestContract?.activationDate"
                i18n-placeholder="activationDate@@ingestContractPreviewLabelActivationDate"
                [value]="ingestContract?.activationDate | date: 'dd/MM/yyyy'" disabled>
            </vitamui-library-input>
            <vitamui-library-input placeholder="Date d'activation" 
                *ngIf="ingestContract?.status !== 'ACTIVE' || !ingestContract?.activationDate"
                i18n-placeholder="activationDate@@ingestContractPreviewLabelActivationDate"
                [value]="" disabled>
            </vitamui-library-input>
        </div>

        <div class="col-10 form-control">
            <vitamui-library-input placeholder="Date de désactivation" *ngIf="ingestContract?.deactivationDate"
                i18n-placeholder="deactivationDate@@ingestContractPreviewLabelDeactivationDate"
                [value]="ingestContract?.deactivationDate | date: 'dd/MM/yyyy'" disabled>
            </vitamui-library-input>
            <vitamui-library-input placeholder="Date d'activation" *ngIf="!ingestContract?.deactivationDate"
                i18n-placeholder="deactivationDate@@ingestContractPreviewLabelDeactivationDate"
                [value]="" disabled>
            </vitamui-library-input>
        </div>
    </div>

    <div class="row bottom">
        <button type="submit" class="btn secondary"
            [disabled]="isInvalid() || unchanged() || submited">Enregistrer</button>
    </div>
</form>
