<button class="btn primary mb-20" (click)="openAttributionGroupe()" *ngIf="showUpdateButton" [disabled]="userInfo.type === 'NONE'">
    <div i18n="user group tab edit@@userGroupTabEditButton">
        Modifier
    </div>
</button>

<div *ngIf="userGroup">
    <div class="d-flex align-items-center mb-3">
        <h3 class="m-0">Groupe attribué :</h3>
        <span class="ml-3">{{ userGroup?.name }}</span>
    </div>

    <h3 class="mb-1" i18n="user group tab level@@userGroupTabLevel">Niveau</h3>
    <p class="m-0">{{ userGroup.level }}</p>

    <h3 class="mb-1" i18n="user group tab description@@userGroupTabDescription">Description</h3>
    <p class="m-0">{{ userGroup.description }}</p>
</div>

<h3 i18n="user group tab profiles@@userGroupTabProfiles">Profils du groupe</h3>
<div class="d-flex justify-content-between align-items-center p-3 mb-2 vitamui-profile-list" *ngFor="let profile of userGroup?.profiles">
    <div>
        <div class="profile-value">{{ profile?.name }}</div>
    </div>
    <div>
        <div class="material-icons clickable text-primary" [matTooltip]="profile?.description" matTooltipClass="vitamui-tooltip">
        info_outline
        </div>
    </div>
</div>