<button class="btn secondary mb-20" (click)="openAttributionGroupe()" *ngIf="showUpdateButton" [disabled]="userInfo.type === 'NONE'">
    <div i18n="user group tab edit@@userGroupTabEditButton">
        Modifier
    </div>
</button>

<div *ngIf="userGroup">

    <div class="group-name">
        <h3>Groupe attribué :</h3>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ userGroup?.name }}</span>
    </div>

    <h3 i18n="user group tab level@@userGroupTabLevel">Niveau</h3>
    <p>{{ userGroup.level }}</p>

    <h3 i18n="user group tab description@@userGroupTabDescription">Description</h3>

    <p>{{ userGroup.description }}</p>

</div>

<h3 i18n="user group tab profiles@@userGroupTabProfiles">Profils du groupe</h3>

<div class="row">
    <ul class="profile-list">
        <li *ngFor="let profile of userGroup?.profiles">
            <div class="profile-details">
                <span>{{ profile?.name }}</span>
                <i class="material-icons" matTooltip="{{ profile?.description }}" matTooltipClass="vitamui-tooltip">info</i>
            </div>
        </li>
    </ul>
</div>
