@import '~ui-frontend-common/sass/variables/colors';
@import '~ui-frontend-common/sass/mixins/fonts';
@import '~ui-frontend-common/sass/mixins/elevation';

button.primary {
    margin-right: 20px;
}

.controls {
    display: flex;
    align-items: center;
    text-align: right;
    margin-bottom: 20px;
    justify-content: space-between;

    .btn {
        margin-left: 20px;
    }
}

.header-informations {
    margin-bottom: 20px;
    height: 140px;
}

.search {
    @include elevation-1;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 50px;
    flex-grow: 1;
    border-radius: 87px;
    background-color: $white;
    background-color: var(--white);

    &.disabled {
        opacity: 0.3;
    }

    input[type=search] {
        @include elevation-1;
        border: none;
        width: 100%;
        height: 50px;
        border-radius: 50px * 0.5;
        background-color: $white;
        border: none;
        padding: 10px 50px 10px 28.5px;
        display: flex;
        outline: none;

        &::placeholder {
            @include vitamui-input-placeholder;
            font-weight: normal;
        }
    }

    i {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: var(--vitamui-primary);
        color: $white;
        line-height: 30px;
        text-align: center;
        font-size: 18px;
    }

}

.actions {
    display: flex;
    margin-top: 15px;
    margin-right: 60px;
    padding-left: 10px;

    div {
        color: #474d4a;
        font-size: 14px;
        font-weight: bold;
    }
}

.table-container {
    overflow: auto;
    max-height: 30vh;
}

table {
    color: var(--vitamui-grey-900);
    font-size: 14px;
    width: 95%;
    border-collapse: collapse;
    margin-bottom: 60px;

    th {
        text-align: left;
        height: 60px;
        padding-bottom: 15px;
        padding-left: 10px;

        &:last-child {
            width: 15%;
        }
    }

    td {
        padding: 5px 10px;
        vertical-align: middle;
        font-weight: 300;

        &:last-child {
            padding-right: 0px;
        }
    }

    .text-center {
        text-align: center;
    }

    tbody {
        tr:nth-child(odd) {
            border-top: 1px solid $white-three;
        }

    }
}

.collapsable {
    display: block;
    overflow: hidden;
}

.bg-white {
    background: $white;
}

.profileGroup-row {
    .actions {
        white-space: nowrap;
        visibility: hidden;
        text-align: right;
    }

    .actions {
        padding-right: 40px;

        button {
            box-shadow: 25px 25px 80px 0 rgba(121, 121, 121, 0.1);
            opacity: 0;
            transform: translateX(20%);
            transition: all 150ms ease-in;
        }
    }

    &:hover .actions {
        visibility: visible;

        button {
            opacity: 1;
            transform: translateX(0);
            transition-timing-function: ease-out;
        }
    }

}

input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.radio-label {
    color: var(--vitamui-primary);
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
}

input[type=radio]:checked + label{
    color: $white;
    background: var(--vitamui-primary);
}

.radio-group {
    border: solid 1px var(--vitamui-primary);
    display: inline-block;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
}