<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
    <mat-form-field class="vitamui-mat-select select-width">
      <mat-select formControlName="accessContract" (selectionChange)="initContractSelected($event)"
                  placeholder="{{'ARCHIVE_SEARCH.ACCESS_CONTRACT_SELECT' | translate}}" required="required"
                  i18n-placeholder="Application@@accessContractFormApplicationPlaceholder" panelclass="vitamui-mat-select"
                  style="width: 100%">
        <mat-option *ngFor='let accessContract of accessContracts' [value]="accessContract.key">{{accessContract.label}}
        </mat-option>
      </mat-select>
      <div class="select-arrow">
        <i class="material-icons">keyboard_arrow_down</i>
      </div>
    </mat-form-field>
  </form>
  