@import '../../../../sass/variables/colors';
@import '../../../../sass/mixins/elevation';

.mat-drawer,
.mat-dialog-container {
  .vitamui-duration-input {
    @include dialog-elevation-dark;
  }
}

.vitamui-duration-input {
  @include input-elevation-dark;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  border-radius: 4px;
  background-color: var(--vitamui-white);
  border: none;
}

input {
  border: none;
}

.days {
  width: 40px;
  margin-left: 30px;
  outline: none;
}

.hours {
  width: 40px;
  margin-left: 30px;
  outline: none;
}

.minutes {
  width: 40px;
  margin-left: 30px;
  outline: none;
}
