<div>
  <h4>Dark tooltip</h4>
  <div class="d-flex">
    <button class="btn primary" vitamuiCommonToolTip="TOP" type="TOP">Tooltip TOP DARK</button>
    <button class="btn primary" vitamuiCommonToolTip="BOTTOM" type="BOTTOM">Tooltip BOTTOM DARK</button>
    <button class="btn primary" vitamuiCommonToolTip="LEFT" type="LEFT">Tooltip LEFT DARK</button>
    <button class="btn primary" vitamuiCommonToolTip="RIGHT" type="RIGHT">Tooltip RIGHT DARK</button>
    <button class="btn primary" vitamuiCommonToolTip="DEFAULT">DEFAULT DARK</button>
  </div>
</div>

<div>
  <h4>Outline Tooltip : </h4>
  <div class="d-flex">
    <button class="btn secondary" vitamuiCommonToolTip="TOP" type="TOP" outline="true">Tooltip TOP LIGHT</button>
    <button class="btn secondary" vitamuiCommonToolTip="BOTTOM" type="BOTTOM"outline="true">Tooltip BOTTOM LIGHT</button>
    <button class="btn secondary" vitamuiCommonToolTip="LEFT" type="LEFT"outline="true">Tooltip LEFT LIGHT</button>
    <button class="btn secondary" vitamuiCommonToolTip="RIGHT" type="RIGHT"outline="true">Tooltip RIGHT LIGHT</button>
    <button class="btn secondary" vitamuiCommonToolTip="DEFAULT"outline="true">DEFAULT LIGHT</button>
  </div>
</div>
