<div>
  <h1>Dark tooltip</h1>
  <button  vitamuiCommonToolTip="TOP" type="TOP">Tooltip TOP DARK</button>
  <button  vitamuiCommonToolTip="BOTTOM" type="BOTTOM">Tooltip BOTTOM DARK</button>
  <button  vitamuiCommonToolTip="LEFT" type="LEFT">Tooltip LEFT DARK</button>
  <button  vitamuiCommonToolTip="RIGHT" type="RIGHT">Tooltip RIGHT DARK</button>
  <button  vitamuiCommonToolTip="DEFAULT">DEFAULT DARK</button>
</div>


<div>
  <h1>Outline Tooltip : </h1>
  <button  vitamuiCommonToolTip="TOP" type="TOP" outline="true">Tooltip TOP LIGHT</button>
  <button  vitamuiCommonToolTip="BOTTOM" type="BOTTOM"outline="true">Tooltip BOTTOM LIGHT</button>
  <button  vitamuiCommonToolTip="LEFT" type="LEFT"outline="true">Tooltip LEFT LIGHT</button>
  <button  vitamuiCommonToolTip="RIGHT" type="RIGHT"outline="true">Tooltip RIGHT LIGHT</button>
  <button  vitamuiCommonToolTip="DEFAULT"outline="true">DEFAULT LIGHT</button>
</div>
