<div class="vitamui-sidepanel">
    <div class="vitamui-sidepanel-header">
        <button class="btn-close" role="button" (click)="emitClose()"><i class="material-icons">close</i></button>

        <div class="title">
            <h2>{{rule?.ruleValue.substr(0,33)}} <small>({{rule?.ruleId}})</small></h2>
        </div>
    </div>
    <div class="vitamui-sidepanel-body">
        <mat-tab-group class="preview-tab-group" #tabs>

            <mat-tab label="Informations" i18n-label="Information tab@@rulePreviewTabInformation">
                <app-rule-information-tab [rule]="rule" (updated)="updatedChange($event, 0)" #infoTab>
                </app-rule-information-tab>
            </mat-tab>

            <mat-tab label="Historique" i18n-label="History tab@@rulePreviewTabHistory">
                <vitamui-common-operation-history-tab [id]="rule?.id" [identifier]="rule?.id" collectionName="rule"
                    [filter]="filterEvents">
                </vitamui-common-operation-history-tab>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
