<div class="vitamui-sidepanel">
  <div class="vitamui-sidepanel-header">
    <ng-container *ngIf="!isPopup">
      <button class="btn-popup" role="button" (click)="openPopup()"><i class="vitamui-icon vitamui-icon-pin"></i></button>
    </ng-container>
    <button class="btn-close" role="button" (click)="emitClose()"><i class="material-icons">close</i></button>

    <div class="header-container">
      <div class="title">
        <div class="status-badge-mini" [ngClass]="event | eventTypeBadgeClass">
          <i class="vitamui-icon vitamui-icon-logbook-operations vitamui-row-icon status-badge"></i>
        </div>
        <h2>{{ event?.id }}</h2>
      </div>
      <ng-container *ngIf="!hideDownload || canDownload">
        <button mat-button class="btn btn-primary button-maring" (click)="downloadReports()" [disabled]="couldDownload && !canDownload">Télécharger le rapport</button>
      </ng-container>
    </div>
  </div>
  <div class="vitamui-sidepanel-body">
    <mat-tab-group class="preview-tab-group">
      <mat-tab label="Informations" i18n-label="Information tab@@eventDetailTabInformation">

        <div class="read-only-field">
          <label i18n="Operation category@@logbookOperationCategory">Catégorie d'opération</label>
          <div class="word-break">{{ event?.typeProc }}</div>
        </div>

        <div class="panel-row">
          <div class="read-only-field">
            <label i18n="External Agencies Identifiers@@logbookOperationAgIdExt">Identifiants des agents externes</label>
            <div class="word-break">{{ event?.agIdExt }}</div>
          </div>
          <div class="read-only-field">
            <label i18n="Associated Contract@@logbookOperationContract">Contrat associé</label>
            <div class="word-break">{{ event?.rightsStatementIdentifier }}</div>
          </div>
        </div>

        <div class="panel-row">
          <div class="read-only-field">
            <label i18n="Application Identifier@@logbookOperationApplicationId">Identifiant de l'application</label>
            <div class="word-break">{{ event?.agIdApp }}</div>
          </div>
          <div class="read-only-field">
            <label i18n="Transaction number@@logbookOperationTransactionNumber">Numéro de transaction</label>
            <div class="word-break">{{ event?.idRequest }}</div>
          </div>
        </div>

        <div class="panel-row">
          <div class="read-only-field">
            <label i18n="Operation Identifier@@logbookOperationOPI">Identification de l'opération</label>
            <div class="word-break">{{ event?.objectId }}</div>
          </div>
          <div class="read-only-field">
            <label i18n="Agency identifier@@logbookOperationAgId">Acteur(s) interne(s)</label>
            <div class="word-break">{{ event?.agId }}</div>
          </div>
        </div>

        <div class="read-only-field">
          <label i18n="Report@@logbookOperationReport">Rapport</label>
          <div>{{ reportFileName }}</div>
        </div>

        <div class="read-only-field">
          <label i18n="Additionnal Infos@@logbookOperationAddInfos">Informations complémentaires sur l'opération</label>
          <div class="word-break">{{ event?.data }}</div>
        </div>

        <div class="read-only-field">
          <label i18n="Message@@logbookOperationMessage">Message</label>
          <div>{{ (event | lastEvent)?.outMessage }}</div>
        </div>

      </mat-tab>
      <mat-tab label="Détails" i18n-label="Details tab@@eventDetailTabDetails">
          <vitamui-common-history-events [events]="event?.events"></vitamui-common-history-events>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="vitamui-sidepanel-loading-overlay" *ngIf="loading" @fadeInOutAnimation>
    <mat-spinner color="accent" diameter="40"></mat-spinner>
  </div>
</div>
