<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">

    <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
        <app-ingest-contract-preview *ngIf="openedItem" (previewClose)="closePanel()" [ingestContract]="openedItem" [tenantIdentifier]="tenantId">
        </app-ingest-contract-preview>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="vitamui-header">
            <div class="vitamui-container">
                <vitamui-common-navbar [appId]="appId" (tenantSelect)="changeTenant($event)" [hideCustomerMenu]="true">
                </vitamui-common-navbar>

                <h2 i18n="Search an ingest contract, owner or tenant@@IngestContractSearchHeader">
                  <img src="assets/mini-logo-vitam.png"> Paramétrer mes <strong>Contrats d’entrée</strong>
                </h2>

                <div class="controls">

                    <vitamui-common-search-bar name="ingest-contract-search" (search)="onSearchSubmit($event)"
                        placeholder="Nom, Identifiant, ..." i18n-placeholder="@@IngestContractSearchPlaceholder">
                    </vitamui-common-search-bar>

                    <div class="actions">
                        <button class="btn secondary" (click)="openCreateIngestcontractDialog()">
                            <i class="vitamui-icon vitamui-icon-contrat"></i> <span
                                i18n="Create an ingest contract button label@@IngestContractListCreateButton">Créer un
                                contrat d'entrée</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <div class="vitamui-body vitamui-container">
            <app-ingest-contract-list (ingestContractClick)="showIngestContract($event)" [search]="search">
            </app-ingest-contract-list>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>
