<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    <app-ingest-contract-preview
      *ngIf="openedItem"
      (previewClose)="closePanel()"
      [ingestContract]="openedItem"
      [tenantIdentifier]="tenantId"
      [readOnly]="!(hasUpdateIngestRole$ | async)"
    >
    </app-ingest-contract-preview>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-common-title-breadcrumb>
        {{ 'INGEST_CONTRACT.HOME.TITLE' | translate }}
      </vitamui-common-title-breadcrumb>

      <vitamui-common-banner
        [searchbarPlaceholder]="'INGEST_CONTRACT.HOME.SEARCH_PLACEHOLDER' | translate"
        (search)="onSearchSubmit($event)"
      >
        <button class="btn primary mr-3" (click)="openCreateIngestcontractDialog()" [disabled]="!(hasUpdateIngestRole$ | async)">
          <span>{{ 'INGEST_CONTRACT.HOME.CREATE_INGEST_CONTRACT' | translate }}</span>
        </button>

        <vitamui-common-menu-button [overlayPos]="'end'" [icon]="'vitamui-icon-more-horiz'">
          <button mat-menu-item (click)="openImport()" [disabled]="!(hasUpdateIngestRole$ | async)">{{ 'INGEST_CONTRACT.HOME.IMPORT' | translate }}</button>
          <button mat-menu-item (click)="export()">{{ 'INGEST_CONTRACT.HOME.EXPORT' | translate }}</button>
          <button mat-menu-item (click)="downloadModel()">{{ 'INGEST_CONTRACT.HOME.DOWNLOAD_MODEL' | translate }}</button>
        </vitamui-common-menu-button>

      </vitamui-common-banner>
    </div>

    <div class="vitamui-content">
      <app-ingest-contract-list (ingestContractClick)="showIngestContract($event)" [search]="search"></app-ingest-contract-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
