@import '~ui-frontend-common/sass/variables/colors';

.level-label {
    margin-left: 33px;
    & label {
        color: $greyish-two;
        font-size: 15px;
    }
}

:host::ng-deep {
  .read-only-field{
    padding: 7px 20px 7px 0px;
  }
}

