<div class="row">
  <div class="col mb-2">
    <h5>{{ 'COLLECT.INGEST_LIST_TITLE' | translate }}</h5>
  </div>
</div>

<div class="row">
  <div class="col">
    <div vitamuiCommonInfiniteScroll>
      <vitamui-sup-header>
        <ng-container title>
          {{
            (dataSource?.length <= 1 ? 'COLLECT.SINGLE_TRANSACTION' : 'COLLECT.NB_ENTRIES_TRANSACTIONS')
              | translate: { nb: dataSource?.length }
          }}
        </ng-container>
      </vitamui-sup-header>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>
              <div class="row flex-nowrap">
                <span class="no-wrap">{{ 'COLLECT.FIELD_MESSAGE_IDENTIFIER' | translate }}</span>
                <vitamui-order-by-button
                  (orderChange)="emitOrderChange($event)"
                  [(direction)]="direction"
                  [(orderBy)]="orderBy"
                  orderByKey="messageIdentifier"
                ></vitamui-order-by-button>
              </div>
            </th>
            <th>
              <div class="row flex-nowrap">
                <span class="no-wrap">{{ 'COLLECT.FIELD_OPERATION_ID' | translate }}</span>
                <vitamui-order-by-button
                  (orderChange)="emitOrderChange($event)"
                  [(direction)]="direction"
                  [(orderBy)]="orderBy"
                  orderByKey="id"
                ></vitamui-order-by-button>
              </div>
            </th>
            <th>
              <div class="row flex-nowrap">
                <span class="no-wrap">{{ 'COLLECT.FIELD_STATUS_TRANSACTION' | translate }}</span>
                <vitamui-order-by-button
                  (orderChange)="emitOrderChange($event)"
                  [(direction)]="direction"
                  [(orderBy)]="orderBy"
                  orderByKey="submissionAgencyIdentifier"
                ></vitamui-order-by-button>
              </div>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of dataSource" class="vitamui-table-rows">
            <td>
              <i class="vitamui-icon vitamui-icon-flux-manuel-refus">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
                <span class="path4"></span>
              </i>
            </td>
            <td>{{ transaction.messageIdentifier }}</td>
            <td>{{ transaction.id }}</td>
            <td>
              <div>{{ 'COLLECT.PROJECT_TRANSACTION_PREVIEW.STATUS.' + transaction.status | translate }}</div>
              @if (shouldShowBatchError(transaction)) {
                <div class="text normal danger">{{ 'COLLECT.BATCH_ERROR_RECORDED' | translate }}</div>
              }
            </td>
            <td>
              <div class="hgap-2 justify-content-end">
                @if (transactionIsDownloadable(transaction)) {
                  <button
                    mat-icon-button
                    class="action-icon-btn btn btn-circle outline outline-primary"
                    [disabled]="!hasDownloadTransactionRole"
                    (click)="downloadSipTransaction(transaction)"
                  >
                    <i class="vitamui-icon vitamui-icon-download"></i>
                  </button>
                }
                <vitamui-menu-button [icon]="'vitamui-icon-more-horiz'" [overlayPos]="'end'" menuButtonSize="medium">
                  <button mat-menu-item (click)="searchArchiveUnitsByTransaction(transaction)">
                    {{ 'COLLECT.PROJECT_UNIT_PREVIEW.ACTIONS.SHOW_PROJECT_ARCHIVE_UNITS' | translate }}
                  </button>
                  <button
                    mat-menu-item
                    [disabled]="!transactionIsOpen(transaction) || !hasCloseTransactionRole"
                    (click)="validateTransaction(transaction)"
                  >
                    {{ 'COLLECT.VALIDATE_ACTION' | translate }}
                  </button>
                  <button mat-menu-item [disabled]="!canSend(transaction)" (click)="sendTransaction(transaction)">
                    {{ 'COLLECT.INGEST_ACTION' | translate }}
                  </button>
                  <button
                    mat-menu-item
                    [disabled]="!transactionIsEditable(transaction) || !hasEditTransactionRole"
                    (click)="editTransaction(transaction)"
                  >
                    {{ 'COLLECT.EDIT_ACTION' | translate }}
                  </button>
                  <button
                    mat-menu-item
                    [disabled]="!transactionIsAbortable(transaction) || !hasAbortTransactionRole"
                    (click)="abortTransaction(transaction)"
                  >
                    {{ 'COLLECT.ABORT_ACTION' | translate }}
                  </button>
                </vitamui-menu-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
