<div class="row">
  <div class="col mb-2">
    <h5>{{ 'COLLECT.INGEST_LIST_TITLE' | translate }}</h5>
  </div>
</div>

<div class="row">
  <div class="col">
    <div vitamuiCommonInfiniteScroll>
      <div class="vitamui-table">
        <div class="vitamui-table-head title-text result-layout">
          <div class="col-13">
            <ng-container *ngIf="dataSource?.length <= 1">
              {{ 'COLLECT.SINGLE_TRANSACTION' | translate: { nb: dataSource?.length } }}
            </ng-container>
            <ng-container *ngIf="dataSource?.length > 1">
              {{ 'COLLECT.NB_ENTRIES_TRANSACTIONS' | translate: { nb: dataSource?.length } }}
            </ng-container>
          </div>
        </div>
        <div class="vitamui-table-head">
          <div class="col-1"></div>
          <div class="col-3">
            <span>{{ 'COLLECT.FIELD_MESSAGE_IDENTIFIER' | translate }}</span>
            <vitamui-common-order-by-button
              (orderChange)="emitOrderChange($event)"
              [(direction)]="direction"
              [(orderBy)]="orderBy"
              orderByKey="messageIdentifier"
            ></vitamui-common-order-by-button>
          </div>
          <div class="col-3">
            <span>{{ 'COLLECT.FIELD_OPERATION_ID' | translate }}</span>
            <vitamui-common-order-by-button
              (orderChange)="emitOrderChange($event)"
              [(direction)]="direction"
              [(orderBy)]="orderBy"
              orderByKey="id"
            ></vitamui-common-order-by-button>
          </div>
          <div class="col-4">
            <span>{{ 'COLLECT.FIELD_STATUS_TRANSACTION' | translate }}</span>
            <vitamui-common-order-by-button
              (orderChange)="emitOrderChange($event)"
              [(direction)]="direction"
              [(orderBy)]="orderBy"
              orderByKey="submissionAgencyIdentifier"
            ></vitamui-common-order-by-button>
          </div>
          <div class="col-1"></div>
        </div>

        <div class="vitamui-table-body">
          <div *ngFor="let transaction of dataSource" class="vitamui-table-rows">
            <div class="vitamui-row d-flex align-items-center">
              <div class="col-1">
                <i class="vitamui-icon vitamui-icon-flux-manuel-refus">
                  <span class="path1"></span>
                  <span class="path2"></span>
                  <span class="path3"></span>
                  <span class="path4"></span>
                </i>
              </div>
              <div class="col-3">{{ transaction.messageIdentifier }}</div>
              <div class="col-3">{{ transaction.id }}</div>
              <div class="col-4">{{ 'COLLECT.PROJECT_TRANSACTION_PREVIEW.STATUS.' + transaction.status | translate }}</div>
              <div class="col-1">
                <vitamui-common-menu-button [icon]="'vitamui-icon-more-horiz'" [overlayPos]="'end'" menuButtonSize="medium">
                  <button mat-menu-item (click)="searchArchiveUnitsByTransaction(transaction)">
                    {{ 'COLLECT.PROJECT_UNIT_PREVIEW.ACTIONS.SHOW_PROJECT_ARCHIVE_UNITS' | translate }}
                  </button>
                  <button
                    mat-menu-item
                    [disabled]="!transactionIsOpen(transaction) || !hasCloseTransactionRole"
                    (click)="validateTransaction(transaction)"
                  >
                    {{ 'COLLECT.VALIDATE_ACTION' | translate }}
                  </button>
                  <button
                    mat-menu-item
                    [disabled]="!transactionIsReady(transaction) || !hasSendTransactionRole"
                    (click)="sendTransaction(transaction)"
                  >
                    {{ 'COLLECT.INGEST_ACTION' | translate }}
                  </button>
                  <button
                    mat-menu-item
                    [disabled]="!transactionIsEditable(transaction) || !hasEditTransactionRole"
                    (click)="editTransaction(transaction)"
                  >
                    {{ 'COLLECT.EDIT_ACTION' | translate }}
                  </button>
                  <button
                    mat-menu-item
                    [disabled]="!transactionIsAbortable(transaction) || !hasAbortTransactionRole"
                    (click)="abortTransaction(transaction)"
                  >
                    {{ 'COLLECT.ABORT_ACTION' | translate }}
                  </button>
                </vitamui-common-menu-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #noResults>
      <div class="vitamui-min-content vitamui-table-message">{{ 'COLLECT.NO_RESULT' | translate }}</div>
    </ng-template>

    <ng-template #loadMore>
      <div (click)="transactionService.loadMore()" class="vitamui-min-content vitamui-table-message">
        <span class="clickable">{{ 'COLLECT.LOAD_MORE_RESULTS' | translate }}</span>
      </div>
    </ng-template>

    <ng-template #loadingSpinner>
      <div class="vitamui-min-content">
        <mat-spinner class="vitamui-spinner medium"></mat-spinner>
      </div>
    </ng-template>
  </div>
</div>
