<div class="vitamui-sidepanel">
  <div class="vitamui-sidepanel-header">

       <button class="btn-close" role="button" (click)="emitClose()"><i class="material-icons">close</i></button> <br />

    <div class="title">
      <i class="vitamui-icon vitamui-icon-box vitamui-row-icon status-badge"
          [ngClass]="{'status-badge-green': ingestStatus(ingest) == 'OK',
                      'status-badge-grey':ingestStatus(ingest) == 'En cours',
                      'status-badge-orange': ingestStatus(ingest) == 'WARNING',
                      'status-badge-red': ingestStatus(ingest) == 'KO' || ingestStatus(ingest) == 'FATAL' }"></i>
      <h2>{{ ingest?.evDetData?.EvDetailReq ? ingest?.evDetData?.EvDetailReq : ingest?.id }}</h2>

      <ng-container *ngIf="ingestStatus(ingest) !== 'FATAL' && ingestStatus(ingest) !== 'En cours' ">
        <button class="btn-circle" [matMenuTriggerFor]="moreMenu"><i class="material-icons">more_horiz</i></button>
        <mat-menu #moreMenu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item i18n="Ingest Download Mnifest@@ingestPreviewDownloadManifest"
            (click)="downloadManifest()" *ngIf="ingestStatus(ingest) !== 'KO'">Télécharger le manifest</button>
          <button mat-menu-item i18n="Ingest Download ATR@@ingestPreviewDownloadATR"
            (click)="downloadATR()">Télécharger l'ATR</button>
          <button mat-menu-item i18n="Ingest Generate DocX@@ingestPreviewGenerateDocX"
            (click)="generateDocX()" *ngIf="ingestStatus(ingest) === 'OK' || ingestStatus(ingest) === 'WARNING'">Télécharger le bordereau de versement</button>
        </mat-menu>
      </ng-container>
    </div>

    </div>
    <div class="vitamui-sidepanel-body">
        <mat-tab-group class="preview-tab-group">
            <mat-tab label="Informations">
                <app-ingest-information-tab [ingest]="ingest"></app-ingest-information-tab>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
