<div class="list-div">
  @for (criteria of searchCriteriaHistory; track criteria) {
    <button
      mat-menu-item
      (click)="storedSearchCriteriaHistory.emit(criteria)"
      [vitamuiTooltip]="criteria.name"
      [vitamuiTooltipShowDelay]="300"
    >
      <div class="grid-container">
        <div class="criteria-name-date">
          <span class="criteria-name">{{ criteria.name | truncate: 30 }}</span> -
          <span class="criteria-date">{{ criteria.savingDate | dateTime: 'dd/MM/yyyy' }}</span>
        </div>
        <div>
          <i class="material-icons btn-delete" (click)="deleteSearchCriteriaHistory(criteria)">delete</i>
        </div>
      </div>
    </button>
  }

  @if (searchCriteriaHistory !== undefined && searchCriteriaHistory.length === 0) {
    <button mat-menu-item>
      {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_SAVER.NO_RESULTS' | translate }}
    </button>
  }

  @if (pending) {
    <div class="center-spinner">
      <mat-spinner diameter="50" color="accent"></mat-spinner>
    </div>
  }
</div>
