.center-spinner {
    text-align: -webkit-center;
}

.btn-delete {
    color: #BDBDBD;
    float: right;
    padding-top: 9px;
    font-size: 30px;
}

.btn-delete:hover {
    color: #9C31B5;
}
.list-div{
    max-width: 380px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
}
.criteria-name-date {
    width: 320px;
}
.criteria-date {
font-size: 13px;
line-height: 16px;
align-items: center;
letter-spacing: -0.2px;

color: #757575;
}
.criteria-name {
    font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
align-items: center;
letter-spacing: 0.1px;
color: #212121;
}