body {
  text-align: center;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
h1 {
  font-size: 40px;
  text-align: center;
}
body {
  font:
    20px Mulish,
    sans-serif;
  color: var(--vitamui-grey-800);
  background: cornsilk;
}
article {
  display: block;
  text-align: left;
  margin: 0 auto;
}
a {
  color: var(--vitamui-orange);
  text-decoration: none;
}
a:hover {
  color: var(--vitamui-grey-800);
  text-decoration: none;
}
