<h5>Titles</h5>
<div class="mb-5">
  <h1>H1 Headline (96)</h1>
  <h2>H2 Headline (60)</h2>
  <h3>H3 Headline (48)</h3>
  <h4>H4 Headline (30)</h4>
  <h5>H5 Headline (24)</h5>
</div>

<h5>Text</h5>
<div class="d-flex mb-5">
  <div>
    <p class="text large">Large Text Regular (20)</p>
    <p class="text medium">Medium Text (16)</p>
    <p class="text normal">Normal Text (14)</p>
    <p class="text caption">Caption (12)</p>
  </div>

  <div class="ml-5">
    <p class="text large bold">Large Text Bold (20)</p>
    <p class="text medium bold">Medium Text Bold (16)</p>
    <p class="text normal bold">Normal Text Bold (14)</p>
    <p class="text caption bold">Caption Bold (12)</p>
  </div>

  <div class="ml-5">
    <p class="text link medium">Link Bold large (16)</p>
    <p class="text link normal">Link Bold Medium (14)</p>
    <p class="text link caption">Link Bold normal (12)</p>
  </div>
</div>

<h5>Colors</h5>
<div class="d-flex mb-5">
  <div>
    <p class="text large light">Large Text Regular Light (20)</p>
    <p class="text medium light">Medium Text Light (16)</p>
    <p class="text normal light">Normal Text Light (14)</p>
    <p class="text caption light">Caption Light (12)</p>
  </div>

  <div>
    <p class="text large text-primary">Large Text Regular Primary (20)</p>
    <p class="text medium text-primary">Medium Text Primary (16)</p>
    <p class="text normal text-primary">Normal Text Primary (14)</p>
    <p class="text caption text-primary">Caption Primary (12)</p>
  </div>

  <div>
    <p class="text large text-secondary">Large Text Regular Secondary (20)</p>
    <p class="text medium text-secondary">Medium Text Secondary (16)</p>
    <p class="text normal text-secondary">Normal Text Secondary (14)</p>
    <p class="text caption text-secondary">Caption Secondary (12)</p>
  </div>

  <div>
    <p class="text large text-red">Large Text Regular Red (20)</p>
    <p class="text medium text-red">Medium Text Red (16)</p>
    <p class="text normal text-red">Normal Text Red (14)</p>
    <p class="text caption text-red">Caption Red (12)</p>
  </div>
</div>

<h5>Others</h5>
<div class="d-flex mb-5">
  <div>
    <p class="text large light spaced">Large Text Regular Light spaced (20)</p>
    <p class="text medium light spaced">Medium Text Light spaced (16)</p>
    <p class="text normal light spaced">Normal Text Light spaced (14)</p>
    <p class="text caption light spaced">Caption Light spaced (12)</p>
  </div>
</div>