---
certKey_server_vitamui_services_security: changeme
certKey_server_vitamui_services_iam: changeme
certKey_client_vitamui_services_iam: changeme
certKey_server_vitamui_services_cas_server: changeme
certKey_client_vitamui_services_cas_server: changeme
certKey_server_vitamui_services_referential: changeme
certKey_client_vitamui_services_referential: changeme
certKey_server_vitamui_services_ingest: changeme
certKey_client_vitamui_services_ingest: changeme
certKey_server_vitamui_services_archive_search: changeme
certKey_client_vitamui_services_archive_search: changeme
certKey_server_vitamui_services_collect: changeme
certKey_client_vitamui_services_collect: changeme
certKey_server_vitamui_services_pastis: changeme
certKey_client_vitamui_services_pastis: changeme
certKey_server_vitamui_services_api_gateway: changeme
certKey_client_vitamui_services_api_gateway: changeme
certKey_server_vitamui_services_ui_portal: changeme
certKey_client_vitamui_services_ui_portal: changeme
certKey_server_vitamui_services_ui_identity: changeme
certKey_client_vitamui_services_ui_identity: changeme
certKey_server_vitamui_services_ui_identity_admin: changeme
certKey_client_vitamui_services_ui_identity_admin: changeme
certKey_server_vitamui_services_ui_referential: changeme
certKey_client_vitamui_services_ui_referential: changeme
certKey_server_vitamui_services_ui_ingest: changeme
certKey_client_vitamui_services_ui_ingest: changeme
certKey_server_vitamui_services_ui_archive_search: changeme
certKey_client_vitamui_services_ui_archive_search: changeme
certKey_server_vitamui_services_ui_pastis: changeme
certKey_client_vitamui_services_ui_pastis: changeme
certKey_server_vitamui_services_ui_collect: changeme
certKey_client_vitamui_services_ui_collect: changeme
certKey_server_vitamui_services_ui_design_system: changeme
certKey_server_vitamui_services_reverse: changeme
certKey_client_client_external_customer_x: changeme
certKey_client_client_vitam_vitamui: changeme
