---
certKey_vitamui_services_servers_security: changeme
certKey_vitamui_services_servers_iam: changeme
certKey_vitamui_services_clients_iam: changeme
certKey_vitamui_services_servers_cas_server: changeme
certKey_vitamui_services_clients_cas_server: changeme
certKey_vitamui_services_servers_referential: changeme
certKey_vitamui_services_clients_referential: changeme
certKey_vitamui_services_servers_ingest: changeme
certKey_vitamui_services_clients_ingest: changeme
certKey_vitamui_services_servers_archive_search: changeme
certKey_vitamui_services_clients_archive_search: changeme
certKey_vitamui_services_servers_collect: changeme
certKey_vitamui_services_clients_collect: changeme
certKey_vitamui_services_servers_pastis: changeme
certKey_vitamui_services_clients_pastis: changeme
certKey_vitamui_services_servers_api_gateway: changeme
certKey_vitamui_services_clients_api_gateway: changeme
certKey_vitamui_services_clients_ui_portal: changeme
certKey_vitamui_services_clients_ui_identity: changeme
certKey_vitamui_services_clients_ui_identity_admin: changeme
certKey_vitamui_services_clients_ui_referential: changeme
certKey_vitamui_services_clients_ui_ingest: changeme
certKey_vitamui_services_clients_ui_archive_search: changeme
certKey_vitamui_services_clients_ui_pastis: changeme
certKey_vitamui_services_clients_ui_collect: changeme
certKey_vitamui_services_servers_reverse: changeme
certKey_client_external_clients_customer_x: changeme
certKey_client_vitam_clients_vitamui: changeme
