---
server_vitamui_services_security_key: changeme
server_vitamui_services_iam_key: changeme
client_vitamui_services_iam_key: changeme
server_vitamui_services_cas_server_key: changeme
client_vitamui_services_cas_server_key: changeme
server_vitamui_services_referential_key: changeme
client_vitamui_services_referential_key: changeme
server_vitamui_services_ingest_key: changeme
client_vitamui_services_ingest_key: changeme
server_vitamui_services_archive_search_key: changeme
client_vitamui_services_archive_search_key: changeme
server_vitamui_services_collect_key: changeme
client_vitamui_services_collect_key: changeme
server_vitamui_services_pastis_key: changeme
client_vitamui_services_pastis_key: changeme
server_vitamui_services_api_gateway_key: changeme
client_vitamui_services_api_gateway_key: changeme
server_vitamui_services_ui_portal_key: changeme
client_vitamui_services_ui_portal_key: changeme
server_vitamui_services_ui_identity_key: changeme
client_vitamui_services_ui_identity_key: changeme
server_vitamui_services_ui_identity_admin_key: changeme
client_vitamui_services_ui_identity_admin_key: changeme
server_vitamui_services_ui_referential_key: changeme
client_vitamui_services_ui_referential_key: changeme
server_vitamui_services_ui_ingest_key: changeme
client_vitamui_services_ui_ingest_key: changeme
server_vitamui_services_ui_archive_search_key: changeme
client_vitamui_services_ui_archive_search_key: changeme
server_vitamui_services_ui_pastis_key: changeme
client_vitamui_services_ui_pastis_key: changeme
server_vitamui_services_ui_collect_key: changeme
client_vitamui_services_ui_collect_key: changeme
server_vitamui_services_ui_design_system_key: changeme
server_vitamui_services_reverse_key: changeme
client_client_external_customer_x_key: changeme
client_client_vitam_vitamui_key: changeme
