---
certKey_ca_root_vitamui_services: changeme
certKey_ca_intermediate_vitamui_services: changeme
certKey_ca_root_client_external: changeme
certKey_ca_intermediate_client_external: changeme
certKey_ca_root_client_vitam: changeme
certKey_ca_intermediate_client_vitam: changeme
