<vitamui-dialog-header [subhead]="config.title" [title]="config.subTitle"></vitamui-dialog-header>

<mat-dialog-content>
  <vitamui-file-selector class="d-flex" [formControl]="files" [extensions]="config.extensions" [multiple]="config.multipleFiles">
  </vitamui-file-selector>
</mat-dialog-content>

<mat-dialog-actions>
  <button type="button" class="btn primary" [disabled]="isEmpty$ | async" [matDialogClose]="files.value">{{ config.okLabel }}</button>
  <button type="button" class="btn cancel link" matDialogClose>{{ config.cancelLabel }}</button>
</mat-dialog-actions>
