<vitamui-dialog-header [subhead]="config.title" [title]="config.subTitle"></vitamui-dialog-header>

<mat-dialog-content>
  <vitamui-file-selector #fs class="d-flex" [extensions]="config.extensions" [multipleFiles]="config.multipleFiles">
  </vitamui-file-selector>
</mat-dialog-content>

<mat-dialog-actions>
  <button type="button" class="btn primary" [disabled]="!fs.files?.length" [matDialogClose]="fs.files">{{ config.okLabel }}</button>
  <button type="button" class="btn cancel link" matDialogClose>{{ config.cancelLabel }}</button>
</mat-dialog-actions>
