spring:
  profiles:
    active: dev,swagger

  cloud:
    consul: #disable for dev
      enabled: false
      discovery:
        enabled: false
        register: false

server:
  host: dev.vitamui.com
  port: 9009
  scheme: https
  ssl:
    key-store: src/main/config/ui-archive-search.jks
    key-store-password: jkspasswd
    key-password: jkspasswd
management:
  server:
    address: localhost
    port: 9109
    ssl:
      enabled: false

ui-archive-search:
  iam-external-client:
    server-host: localhost
    server-port: 8083
    secure: true
    ssl-configuration:
      keystore:
        key-path: src/main/config/ui-archive-search.jks
        key-password: jkspasswd
        type: JKS
      truststore:
        key-path: src/main/config/truststore.jks
        key-password: jkspasswd
      hostname-verification: false
  base-url:
    portal: "https://dev.vitamui.com"


  portal-categories:
    ingest_and_consultation:
      title: "Versement & consultation"
      displayTitle: true
      order: 1
    referential:
      title: "Référentiels"
      displayTitle: true
      order: 2
    supervision_and_audits:
      title: "Supervision & Audits"
      displayTitle: true
      order: 3
    security_and_application_rights:
      title: "Sécurité & droits applicatifs"
      displayTitle: true
      order: 4
    organization_and_user_rights:
      title: "Organisation & droits utilisateurs"
      displayTitle: true
      order: 5

ui:
  url: "https://dev.vitamui.com"
  redirect-url: ${ui.url}

cas:
  internal-url: https://dev.vitamui.com:8080/cas
  external-url: https://dev.vitamui.com/cas
  callback-url: ${ui.url}/archive-search-api/callback
  ssl:
    trust-store: src/main/config/truststore.jks
    trust-store-password: jkspasswd

debug: false
logging:
  level:
    fr.gouv.vitamui: DEBUG
    org.springframework.web: INFO
# Uncomment if you want to use you specific logback config.
#logging:
#  config: src/main/config/logback.xml
