<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    @if (previewType === 'CUSTOMER') {
      <app-customer-preview
        (previewClose)="closePanel()"
        [customer]="openedItem"
        [gdprReadOnlyStatus]="gdprReadOnlySettingStatus"
      ></app-customer-preview>
    }
    @if (previewType === 'OWNER') {
      <app-owner-preview (previewClose)="closePanel()" [owner]="openedItem"></app-owner-preview>
    }
    @if (previewType === 'TENANT') {
      <app-owner-preview (previewClose)="closePanel()" [owner]="owner" [tenant]="openedItem"></app-owner-preview>
    }
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-title-breadcrumb>
        <h5>{{ 'CUSTOMER.HOME.TITLE' | translate }}</h5>
      </vitamui-title-breadcrumb>

      <vitamui-banner [searchbarPlaceholder]="'CUSTOMER.INFORMATIONS.CODE' | translate" [disableSearchBar]="true">
        <button class="btn primary ml-5" (click)="openCreateCustomerDialog()">
          <span>{{ 'CUSTOMER.HOME.CREATE_TITLE' | translate }}</span>
        </button>
      </vitamui-banner>
    </div>

    <div class="vitamui-content">
      <app-customer-list
        (customerClick)="openCustomerPanel($event)"
        (ownerClick)="openOwnerPanel($event)"
        (tenantClick)="openTenantPanel($event)"
      >
      </app-customer-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
