<div class="login-background">
  <div class="login-box">
    <header>
      <img class="vitam-logo" src="assets/vitam-logo.png">
      <h1><img src="assets/vitamui-logo.png"></h1>
    </header>

    <div id="content">
      <div>
        <h2>Authentification requise</h2>
        <p>
          Vous allez être redirigé vers l'écran de login dans quelques secondes.
          <br>
          <a [href]="redirectUrl">Aller directement à l'ecran de login.</a>
        </p>
      </div>
    </div>

  </div>
</div>
