@use 'icons/vitamui-icons' as icons;
.pastis-vitamui-option-container {
  width: fit-content;
  height: 150px;
  position: absolute;
  background: var(--vitamui-white);
  border: 1px solid var(--vitamui-grey-400);
  box-sizing: border-box;
  border-radius: 10px;
}

.pastis-vitamui-option-button {
  margin-left: 100px;
}
