@import '~ui-frontend-common/sass/icons/vitamui-icons';
.pastis-vitamui-option-container{
  width: 280px;
  height: 150px;
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 10px;
}

.pastis-vitamui-option-button{
    margin-left: 100px;
}
