:host {
  width: 100%;
  max-height: 275px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .arrow {
    display: flex;
    justify-content: center;
  }

  .node-label {
    flex-grow: 1;
    padding: 10px 0;
    color: var(--Grey-Grey-900, #212121);
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.1px;
  }

  .hover-btn {
    margin-right: 8px;
  }

  .pad {
    margin-right: 5px;
  }
}

::ng-deep .custom-checkbox .mat-checkbox-inner-container {
  display: none;
}

.icon-css {
  font-size: 26px;
  color: var(--Grey-Grey-900, #212121);
}

.clickable {
  cursor: pointer;
}

.not-clickable {
  cursor: auto;
}

::ng-deep .getorix-node-tooltip.mat-tooltip {
  background: #fff;
  padding: 5px 8px;
  position: relative;
  overflow: visible;
  white-space: pre-line;
  border-radius: 5px;
  border: 1px solid var(--vitamui-primary);
  color: var(--vitamui-primary);
  text-align: center;
  font-family: Mulish;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.2px;
}
