<div class="container">
  <form [formGroup]="accessRuleCriteriaForm" class="gap-4 align-items-stretch">
    <div class="hgap-4">
      <vitamui-select
        class="w-100"
        formControlName="accessRuleIdentifier"
        [options]="accessRuleOptions"
        [multiple]="true"
        [placeholder]="'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.PLACEHOLDER_ACCESS' | translate"
        [searchBarPlaceHolder]="'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.PLACEHOLDER_SEARCHBAR_DUC' | translate"
      >
      </vitamui-select>
      <div class="w-100"></div>
    </div>

    <div class="gap-2 align-items-stretch">
      <div class="text medium bold primary uppercase">
        {{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_ACCESS' | translate }}
      </div>

      <div class="hgap-4">
        <vitamui-datepicker
          class="w-100"
          [label]="
            (endDateInterval
              ? 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_ACCESS_BEGIN'
              : 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_ACCESS_EQUAL'
            ) | translate
          "
          formControlName="accessRuleStartDate"
          [max]="accessRuleCriteriaForm.get('accessRuleEndDate').value"
          outputType="Date"
          format="dd/MM/yyyy"
        ></vitamui-datepicker>
        <div class="w-100 hgap-2">
          @if (!endDateInterval) {
            @if (accessRuleCriteriaForm.get('accessRuleStartDate').value) {
              <button class="validate-date-small-button" type="button" mat-mini-fab (click)="addBeginDtAccessRuleCriteria()">
                <i class="material-icons">check</i>
              </button>
            }
            <button class="btn link" (click)="updateEndDateInterval(true)">
              {{ 'COLLECT.SEARCH_CRITERIA_FILTER.ACCESS_RULE.CREATE_INTERVAL' | translate }}
            </button>
          } @else {
            <vitamui-datepicker
              [label]="'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_ACCESS_END' | translate"
              formControlName="accessRuleEndDate"
              [min]="accessRuleCriteriaForm.get('accessRuleStartDate').value"
              outputType="Date"
              format="dd/MM/yyyy"
              class="w-100"
            ></vitamui-datepicker>
            @if (accessRuleCriteriaForm.get('accessRuleStartDate').value && accessRuleCriteriaForm.get('accessRuleEndDate').value) {
              <button class="validate-date-small-button" type="button" mat-mini-fab (click)="addIntervalDtAccessRuleCriteria()">
                <i class="material-icons">check</i>
              </button>
            }
            <button class="btn link" (click)="updateEndDateInterval(false)">
              {{ 'COLLECT.SEARCH_CRITERIA_FILTER.ACCESS_RULE.DELETE_INTERVAL' | translate }}
            </button>
          }
        </div>
      </div>
    </div>

    <div class="gap-2">
      <div class="text medium bold primary uppercase">
        {{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.TITLE' | translate }}
      </div>
      <mat-checkbox
        (click)="checkBoxChange('ORIGIN_HAS_AT_LEAST_ONE', $event)"
        [checked]="accessAdditionalCriteria.get('ORIGIN_HAS_AT_LEAST_ONE')"
      >
        {{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.HAS_AT_LEAST_ONE_ACCESS_RULE' | translate }}
      </mat-checkbox>
      <mat-checkbox (click)="checkBoxChange('ORIGIN_HAS_NO_ONE', $event)" [checked]="accessAdditionalCriteria.get('ORIGIN_HAS_NO_ONE')">
        {{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.HAS_NO_ACCESS_RULE' | translate }}
      </mat-checkbox>
      <mat-checkbox
        (click)="checkBoxChange('ORIGIN_WAITING_RECALCULATE', $event)"
        [checked]="accessAdditionalCriteria.get('ORIGIN_WAITING_RECALCULATE')"
      >
        {{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.WAITING_TO_RE_CALCULATE_ACCESS_RULE' | translate }}
      </mat-checkbox>
    </div>
  </form>
</div>
