<div class="container">
  <form [formGroup]="disseminationRuleCriteriaForm">
    <div class="row justify-content-start">
      <div class="form-control">
        <p class="title-text">{{ 'COLLECT.SEARCH_CRITERIA_FILTER.DISSEMINATION_TITLE' | translate }}</p>
      </div>
    </div>

    <div class="row justify-content-start">
      <div class="col-5 form-control">
        <vitamui-common-editable-input
          formControlName="disseminationRuleIdentifier"
          [validator]="disseminationRuleCriteriaForm?.get('disseminationRuleIdentifier')?.validator"
          [asyncValidator]="disseminationRuleCriteriaForm?.get('disseminationRuleIdentifier')?.asyncValidator"
          label="{{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.ID_DISSEMINATION' | translate }}"
          minlength="1"
        >
          <vitamui-common-field-error errorKey="required">{{ 'COMMON.REQUIRED' | translate }} </vitamui-common-field-error>
          <vitamui-common-field-error errorKey="ruleIdPattern">{{ 'COLLECT.RULE.WRONG_FORMAT' | translate }} </vitamui-common-field-error>

          <vitamui-common-field-error errorKey="ruleIdExists">{{ 'COLLECT.RULE.CODE_NOT_EXIST' | translate }} </vitamui-common-field-error>
        </vitamui-common-editable-input>
      </div>
      <div class="col-1 form-control"></div>
      <div class="col-5 form-control">
        <vitamui-common-editable-input
          formControlName="disseminationRuleTitle"
          [validator]="disseminationRuleCriteriaForm?.get('disseminationRuleTitle')?.validator"
          label="{{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.TITLE_DISSEMINATION' | translate }}"
        >
        </vitamui-common-editable-input>
      </div>
      <div class="col-1 form-control"></div>
    </div>

    <div class="row justify-content-start">
      <div class="col-11 form-control">
        <p class="title-text">{{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_DISSEMINATION' | translate }}</p>
      </div>
    </div>

    <div class="row justify-content-start">
      <div class="col-5 form-control">
        <div class="vitamui-input" (click)="pickerBeginDisseminationRule.open()">
          <span
            *ngIf="!disseminationRuleCriteriaForm.get('disseminationRuleStartDate').value; else showBeginDtDisseminationRule"
            (click)="pickerBeginDisseminationRule.open()"
            class="search-date-label"
            >{{
              (endDateInterval
                ? 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_DISSEMINATION_BEGIN'
                : 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_DISSEMINATION_EQUAL'
              ) | translate
            }}</span
          >
          <ng-template #showBeginDtDisseminationRule
            ><span (click)="pickerBeginDisseminationRule.open()"
              >{{ disseminationRuleCriteriaForm.get('disseminationRuleStartDate').value | appendZIfNoTimezone | date: 'dd/MM/yyyy' }}
            </span>
          </ng-template>
          <input
            class="hidden"
            size="0"
            [matDatepicker]="pickerBeginDisseminationRule"
            formControlName="disseminationRuleStartDate"
            [max]="disseminationRuleCriteriaForm.get('disseminationRuleEndDate').value"
          />
          <mat-datepicker #pickerBeginDisseminationRule></mat-datepicker>
        </div>
      </div>
      <div class="col-1 form-control">
        <button
          class="validate-date-small-button"
          *ngIf="!endDateInterval && disseminationRuleCriteriaForm.get('disseminationRuleStartDate').value"
          type="button"
          mat-mini-fab
          (click)="addBeginDtDisseminationRuleCriteria()"
        >
          <i class="material-icons">check</i>
        </button>
      </div>

      <div class="col-4 form-control">
        <p *ngIf="!endDateInterval" class="title-text text-clicable-uppercase" (click)="updateEndDateInterval(true)">
          {{ 'COLLECT.SEARCH_CRITERIA_FILTER.DISSEMINATION_RULE.CREATE_INTERVAL' | translate }}
        </p>

        <div class="vitamui-input" (click)="pickerEndDisseminationRule.open()" *ngIf="endDateInterval">
          <span
            *ngIf="!disseminationRuleCriteriaForm.get('disseminationRuleEndDate').value; else showEndDtDisseminationRule"
            (click)="pickerEndDisseminationRule.open()"
            class="search-date-label"
            >{{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_DISSEMINATION_END' | translate }}</span
          >
          <ng-template #showEndDtDisseminationRule
            ><span (click)="pickerEndDisseminationRule.open()"
              >{{ disseminationRuleCriteriaForm.get('disseminationRuleEndDate').value | appendZIfNoTimezone | date: 'dd/MM/yyyy' }}
            </span>
          </ng-template>
          <input
            class="hidden"
            size="0"
            [matDatepicker]="pickerEndDisseminationRule"
            formControlName="disseminationRuleEndDate"
            [min]="disseminationRuleCriteriaForm.get('disseminationRuleStartDate').value"
          />
          <mat-datepicker #pickerEndDisseminationRule></mat-datepicker>
        </div>
      </div>
      <div class="col-1 form-control">
        <button
          class="validate-date-small-button"
          *ngIf="
            endDateInterval &&
            disseminationRuleCriteriaForm.get('disseminationRuleStartDate').value &&
            disseminationRuleCriteriaForm.get('disseminationRuleEndDate').value
          "
          type="button"
          mat-mini-fab
          (click)="addIntervalDtDisseminationRuleCriteria()"
        >
          <i class="material-icons">check</i>
        </button>
      </div>
      <div class="col-1 form-control">
        <p *ngIf="endDateInterval" class="title-text text-clicable-uppercase" (click)="updateEndDateInterval(false)">
          {{ 'COLLECT.SEARCH_CRITERIA_FILTER.DISSEMINATION_RULE.DELETE_INTERVAL' | translate }}
        </p>
      </div>
    </div>

    <div class="row justify-content-around">
      <div class="col-4 form-control">
        <div class="row criteria-choice">
          <p class="title-text">
            {{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.TITLE' | translate }}
          </p>
        </div>
        <div class="row">
          <label class="criteria-checkbox-choice">
            <input
              type="checkbox"
              (click)="checkBoxChange('ORIGIN_HAS_AT_LEAST_ONE', $event)"
              id="HAS_AT_LEAST_ONE_DISSEMINATION_RULE_ORIGIN"
              [checked]="disseminationAdditionalCriteria.get('ORIGIN_HAS_AT_LEAST_ONE')"
            />
            <span>{{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.HAS_AT_LEAST_ONE_DISSEMINATION_RULE' | translate }}</span>
          </label>
        </div>

        <div class="row">
          <label class="criteria-checkbox-choice">
            <input
              id="HAS_NO_DISSEMINATION_RULE_ORIGIN"
              type="checkbox"
              (click)="checkBoxChange('ORIGIN_HAS_NO_ONE', $event)"
              [checked]="disseminationAdditionalCriteria.get('ORIGIN_HAS_NO_ONE')"
            />
            <span>{{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.HAS_NO_DISSEMINATION_RULE' | translate }}</span>
          </label>
        </div>
        <div class="row">
          <label class="criteria-checkbox-choice">
            <input
              id="WAITING_TO_RE_CALCULATE_DISSEMINATION_RULE_ORIGIN"
              type="checkbox"
              (click)="checkBoxChange('ORIGIN_WAITING_RECALCULATE', $event)"
              [checked]="disseminationAdditionalCriteria.get('ORIGIN_WAITING_RECALCULATE')"
            />
            <span>{{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.WAITING_TO_RE_CALCULATE_DISSEMINATION_RULE' | translate }}</span>
          </label>
        </div>
      </div>
      <div class="col-4 form-control"></div>
      <div class="col-3 form-control"></div>
    </div>
  </form>
</div>
