@import '~ui-frontend-common/sass/variables/colors';

h4 {
  font-size: 19px;
  line-height: 26px;
  margin-top: 7px;
  margin-bottom: 7px;
}

h5 {
  font-size: 23px;
  line-height: 46px;
  margin-top: 10px;
}
