.title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--vitamui-grey-600);
}

.subtitle {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;

  .icon {
    transform: scale(1.2) translate(0.6rem);
    color: var(--vitamui-primary);
  }
}

.vitamui-mat-select {
  padding-bottom: 0;
}
