<div class="header">
  <vitamui-common-progress-bar [count]="stepCount" [index]="stepIndex"></vitamui-common-progress-bar>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
  <vitamui-common-stepper [selectedIndex]="stepIndex" (selectionChange)="stepIndex = $event.selectedIndex">
    <!-- Step 1 -->
    <cdk-step>
      <div class="content">
        <h5>{{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.CREATION_ACTION' | translate }}</h5>
        <h4>{{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.INFORMATIONS' | translate }}</h4>

        <div class="form-group">
          <div class="row">
            <div class="col">
              <vitamui-common-slide-toggle [formControl]="statusControl">{{
                'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.CONTRACT_STATUS' | translate
                }}</vitamui-common-slide-toggle>
            </div>
          </div>
          <div class="row">
            <div class="col-10 form-control">
              <vitamui-common-input
                formControlName="name"
                minlength="3"
                maxlength="100"
                required
                placeholder="{{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.NAME' | translate }}"
              >
                <ng-container *ngIf="form.get('name')?.touched">
                  <vitamui-common-input-error *ngIf="!!form.get('name')?.errors?.required">{{
                    'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.MANDATORY_FIELD' | translate
                    }}</vitamui-common-input-error>

                  <vitamui-common-input-error *ngIf="!!form?.get('name')?.errors?.nameExists">
                    {{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.NAME_ALREADY_EXIST' | translate }}
                  </vitamui-common-input-error>
                </ng-container>
              </vitamui-common-input>
            </div>

            <div class="col-10 form-control" *ngIf="isSlaveMode">
              <vitamui-common-input
                formControlName="identifier"
                minlength="3"
                maxlength="100"
                required
                placeholder="{{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.IDENTIFIER' | translate }}"
              >
                <ng-container *ngIf="form.get('identifier')?.touched">
                  <vitamui-common-input-error *ngIf="!!form.get('identifier')?.errors?.required">
                    {{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.MANDATORY_FIELD' | translate }}
                  </vitamui-common-input-error>
                  <vitamui-common-input-error *ngIf="!!form?.get('identifier')?.errors?.identifierExists">
                    {{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.IDENTIFIER_ALREADY_EXIST' | translate }}
                  </vitamui-common-input-error>
                </ng-container>
              </vitamui-common-input>
            </div>

            <div class="col-12 form-control">
              <vitamui-common-textarea
                formControlName="description"
                placeholder="{{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.DESCRIPTION' | translate }}"
                [rows]="4"
                required="required"
              >
                <ng-container *ngIf="form.get('description')?.touched">
                  <vitamui-common-input-error *ngIf="!!form.get('description')?.errors?.required">
                    {{ 'COMMON.REQUIRED' | translate }}
                  </vitamui-common-input-error>
                </ng-container>
              </vitamui-common-textarea>
            </div>
          </div>
        </div>
        <div class="actions">
          <button type="button" class="btn primary" cdkStepperNext
                  [disabled]="firstStepInvalid()">{{ 'COMMON.NEXT' | translate }}</button>
          <button type="button" class="btn cancel" (click)="onCancel()">{{ 'COMMON.UNDO' | translate }}</button>
        </div>
      </div>
    </cdk-step>
    <!-- Step 2 -->
    <cdk-step>
      <div class="content">
        <h5>{{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.CREATION_ACTION' | translate }}</h5>
        <h4>
          {{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.STORAGE_POLICIES' | translate }}
          <i
            class="vitamui-icon vitamui-icon-info"
            matTooltip=" {{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.STORAGE_POLICIES_TOOLTIP' | translate }}"
            matTooltipClass="vitamui-tooltip"
          ></i>
        </h4>

        <div class="form-group">
          <div class="row">
            <div formGroupName="storage" style="width: 100%">
              <div class="col-12 form-control">
                <vitamui-common-input
                  formControlName="unitStrategy"
                  placeholder="{{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.UNIT_STRATEGY' | translate }}"
                >
                </vitamui-common-input>
              </div>
              <div class="col-12 form-control">
                <vitamui-common-input
                  formControlName="objectGroupStrategy"
                  placeholder=" {{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.OBJECT_GROUP_STRATEGY' | translate }}"
                >
                </vitamui-common-input>
              </div>
              <div class="col-12 form-control">
                <vitamui-common-input
                  formControlName="objectStrategy"
                  placeholder="{{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.OBJECT_STRATEGY' | translate }}"
                >
                </vitamui-common-input>
              </div>
            </div>
          </div>
        </div>
        <div class="actions">
          <button type="button" class="btn primary" cdkStepperPrevious [disabled]="isDisabledButton">
            {{ 'COMMON.BACK' | translate }}
          </button>
          <button type="button" class="btn primary" cdkStepperNext
                  [disabled]="secondStepInvalid() || isDisabledButton">{{ 'COMMON.NEXT' | translate }}</button>
          <button type="button" class="btn cancel" [disabled]="isDisabledButton" (click)="onCancel()">
            {{ 'COMMON.UNDO' | translate }}
          </button>
        </div>
      </div>
    </cdk-step>

    <!-- Step 3 -->
    <cdk-step>

      <div class="content">

        <h5>{{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.CREATION_ACTION' | translate }}</h5>
        <h4>
          {{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.PARAMETRAGE_IDENTIFICATION_PERENNE' | translate }}
          <i
            class="vitamui-icon vitamui-icon-info"
            matTooltip=" {{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.PARAMETRAGE_IDENTIFICATION_PERENNE_TOOLTIP' | translate }}"
            matTooltipClass="vitamui-tooltip"
          ></i>
        </h4>


        <div formGroupName="persistentIdentifierPolicy" class="form-group form-persistent-identifier">

          <div class="row">
            <div class="col-12 form-control">
              <mat-form-field class="vitamui-mat-select">
                <mat-label>{{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.IDENTIFIER_TYPE' | translate }}</mat-label>
                <mat-select formControlName="persistentIdentifierPolicyType"
                            placeholder="Type d'identifiant'"
                            panelclass="vitamui-mat-select"
                            required="required"
                            i18n-placeholder="Identifier@@ruleCreateRuleTypePlaceholder"
                >

                  <mat-option *ngFor="let persistentIdentifierPolicyType of persistentIdentifierPolicyTypes"
                              [value]="persistentIdentifierPolicyType"
                  >{{ persistentIdentifierPolicyType }}
                  </mat-option>
                </mat-select>
                <mat-placeholder>{{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.CHOOSE_IDENTIFIER_TYPE' | translate }}</mat-placeholder>
                <div class="select-arrow">
                  <i class="material-icons">keyboard_arrow_up</i>
                  <i class="material-icons">keyboard_arrow_down</i>
                </div>
              </mat-form-field>
            </div>

          </div>
          <div class="row">
            <div class="col-12 form-control">
              <vitamui-common-input
                formControlName="persistentIdentifierAuthority"
                placeholder="{{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.NAMING_AUTORITY' | translate }}"
              >
              </vitamui-common-input>
            </div>

          </div>


          <div class="object-menu row pt-3 pb-3">
            <div class="line shrink object-name col-11">
              <mat-checkbox matTooltipClass="vitamui-tooltip" formControlName="persistentIdentifierUnit">
                <label class="node-label">
                  {{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.ARCHIVAL_UNIT' | translate }}
                </label>
              </mat-checkbox>
            </div>


          </div>


          <div class="object-menu row mt-2 pt-3 pb-3" [ngClass]="{'opened': gotOpened}" >
            <div class="line shrink object-name col-1">
              <mat-checkbox matTooltipClass="vitamui-tooltip" [(ngModel)]="technicalObjectActivated">
                <label class="node-label ">
                  {{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.TECHNICAL_OBJECT' | translate }}
                </label>
              </mat-checkbox>

            </div>

            <div class="col-11 line open-close-icon" (click)="openClose()">
              <i class="vitamui-icon  d-flex justify-content-end"
                 [ngClass]=" gotOpened ? 'vitamui-icon-chevron-down' : 'vitamui-icon-chevron-right'"></i>
            </div>
          </div>


          <div formArrayName="persistentIdentifierUsages" class="object-details row pt-2 mt-2" *ngIf="gotOpened">

            <ng-container *ngFor="let usage of persistentIdentifierUsagesControls(); let i = index">
              <div [formGroupName]="i" class="row col-12  ml-0 mr-0">


                <div class="col-4">
                  <mat-form-field class="vitamui-mat-select">
                    <mat-select
                      placeholder="{{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.SELECT_FILE_FORMATS' | translate }}"
                      panelclass="vitamui-mat-select"
                      formControlName="usageName"
                    >

                      <mat-option *ngFor="let usage of usages" [value]="usage.key"> {{ usage.label }}</mat-option>
                    </mat-select>
                    <div class="select-arrow">
                      <i class="material-icons">keyboard_arrow_down</i>
                    </div>
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <label> {{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.INITIAL_VERSION' | translate }}</label>
                  <div>
                    <mat-radio-group aria-label="Version Initiale" formControlName="initialVersion">
                      <mat-radio-button class="mr-2"
                                        value="true">{{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.YES' | translate }}</mat-radio-button>
                      <mat-radio-button class="mr-2"
                                        value="false">{{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.NO' | translate }}</mat-radio-button>
                    </mat-radio-group>
                  </div>

                </div>
                <div class="col-4">

                  <label> {{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.LATER_VERSIONS' | translate }}</label>
                  <div>
                    <mat-radio-group aria-label="Version ultérieures" formControlName="intermediaryVersion">
                      <mat-radio-button class="mr-2"
                                        value="ALL">{{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.LATER_VERSIONS' | translate }}</mat-radio-button>
                      <mat-radio-button class="mr-2"
                                        value="LAST">{{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.LAST' | translate }}</mat-radio-button>
                      <mat-radio-button class="mr-2"
                                        value="NONE">{{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.NONE' | translate }}</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>

                <div class="line split col-1">
                  <div class="line shrink object-type">
                  </div>
                  <button class="delete-button" (click)="deleteUsage(i)" [disabled]="deleteDisabled "
                          matTooltip="{{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.REMOVE_USAGE' | translate }}"
                          matTooltipClass="vitamui-tooltip">
                    <i class="vitamui-icon vitamui-icon-delete"></i>
                  </button>
                </div>
              </div>


            </ng-container>
            <div class="row col-12 ml-0 mr-0 bt-2 " *ngIf="gotOpened">

              <button type="button" class="col btn link back justify-content-start" (click)="addUsage()">
                <i class="vitamui-icon vitamui-icon-chevron-right"></i>
                <span>{{ 'CONTRACT_MANAGEMENT.CONTRACTS_CREATION.ADD_LINE' | translate }}</span>
              </button>

            </div>


          </div>

        </div>


        <div class="actions">
          <button type="button" class="btn primary" cdkStepperPrevious [disabled]="isDisabledButton">
            {{ 'COMMON.BACK' | translate }}
          </button>
          <button type="submit" class="btn primary" [disabled]="!thirdStepValid() || isDisabledButton">
            {{ 'COMMON.SUBMIT' | translate }}
          </button>
          <button type="button" class="btn cancel" [disabled]="isDisabledButton" (click)="onCancel()">
            {{ 'COMMON.UNDO' | translate }}
          </button>
        </div>
      </div>

    </cdk-step>
  </vitamui-common-stepper>
</form>
