@import '~ui-frontend-common/sass/variables/colors';

h4 {
  font-size: 16px;
  line-height: 26px;
  color: var(--vitamui-grey-600);
}

h5 {
  font-size: 22px;
  line-height: 46px;
}

.btn {
  min-width: 152.22px;
}

.form-persistent-identifier {
  .object-menu {
    padding: 0 5px;
    border-radius: 5px;
    margin-left: 0;
    margin-right: 0;

    background-color: var(--vitamui-background);

    cursor: pointer;

    color: var(--vitamui-primary) !important;

    &.opened {
      border-left: 5px solid var(--vitamui-primary);
    }

    .mat-checkbox {
      .span {
        color: var(--vitamui-primary) !important;
        background-color: #00b1d5;
      }
    }
  }

  .object-details {
    padding: 15px 15px;
    margin-top: 5px;
    background-color: var(--vitamui-background);
    font-size: 14px;

    .vitamui-mat-select.mat-form-field {
      font-size: 14px;
    }

    .delete-button {
      border: 1px solid var(--vitamui-primary);
      border-radius: 50%;
      background-color: #ffffff;
      width: 30px;
      height: 30px;
      font-size: medium;
      color: var(--vitamui-primary);
      cursor: pointer;
    }

    label {
      color: var(--vitamui-primary);
    }
  }
}
