<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">

  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    <app-file-format-preview *ngIf="openedItem" (previewClose)="closePanel()" [fileFormat]="openedItem"></app-file-format-preview>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-common-title-breadcrumb>
        {{'FILE_FORMATS.HOME.TITLE' | translate}}
      </vitamui-common-title-breadcrumb>

      <vitamui-common-banner [searchbarPlaceholder]="'FILE_FORMATS.HOME.SEARCH_PLACEHOLDER' | translate" (search)="onSearchSubmit($event)">
        <button class="btn primary ml-3 mr-3" (click)="openCreateFileFormatDialog()" [disabled]="!(hasCreateRole | async)">
          <span>{{'FILE_FORMATS.HOME.CREATE_FILE_FORMATS' | translate}}</span>
        </button>

        <button class="btn secondary" (click)="openFileFormatImportDialog()" [disabled]="!(hasImportRole | async)">
          <span>{{'FILE_FORMATS.HOME.IMPORT' | translate}}</span>
        </button>
      </vitamui-common-banner>
    </div>

    <div class="vitamui-content">
      <app-file-format-list (fileFormatClick)="showFileFormat($event)" [search]="search"></app-file-format-list>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
