@import '~ui-frontend-common/sass/variables/colors';

:host {

    display: flex;

  .row {
    padding: 0;
    margin: 0;
  }

  .col {
    padding: 5px;
  }

  .inverted-background {
    background-color: var(--vitamui-primary-600);
  }
}
