<?xml version="1.0" encoding="UTF-8"?>
<configuration>

{% if (vitamui_struct.vitamui_component == "api-gateway") and (vitamui_struct.accesslogs | default(accesslogs) | bool ) %}
  <!-- api-gateway access-logs configuration -->
  <appender name="accessLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>{{ vitamui_folder_log }}/accesslog-{{ vitamui_struct.vitamui_component }}.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
      <maxHistory>{{ vitamui_struct.access_retention_days | default(access_retention_days) }}</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>
  <appender name="async-accessLog" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="accessLog" />
  </appender>
  <logger name="reactor.netty.http.server.AccessLog" level="INFO" additivity="false">
    <appender-ref ref="async-accessLog"/>
  </logger>
  <!-- end of api-gateway access-logs configuration -->
{% endif %}

  <!-- <appender name="FILE" class="ch.qos.logback.core.FileAppender"> -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>{{ vitamui_folder_log }}/{{ vitamui_struct.vitamui_component }}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <maxFileSize>{{ vitamui_struct.log.logback_max_file_size | default(log.logback_max_file_size) }}</maxFileSize>
      <maxHistory>{{ vitamui_struct.log.logback_max_history | default(log.logback_max_history) }}</maxHistory>
      <totalSizeCap>{{ vitamui_struct.log.logback_total_size_cap | default(log.logback_total_size_cap) }}</totalSizeCap>
    </rollingPolicy>

    <encoder>
      <pattern>%d{ISO8601} [[%thread]] [%X{X-Request-Id}] %-5level %logger - %replace(%caller{1..2}){'Caller\+1     at |\n',''} : %msg %rootException%n</pattern>
    </encoder>
  </appender>

  <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
    <syslogHost>localhost</syslogHost>
    <facility>local0</facility>
    <port>514</port>
    <suffixPattern>vitamui-{{ vitamui_struct.vitamui_component }}: %d{ISO8601} [[%thread]] [%X{X-Request-Id}] %-5level %logger - %replace(%caller{1..2}){'Caller\+1     at |\n',''} : %msg %rootException%n</suffixPattern>
  </appender>

  <root level="{{ vitamui_struct.log.root_log_level | default(log.root_log_level) }}">
    <appender-ref ref="FILE" />
    <appender-ref ref="SYSLOG" />
  </root>

  <logger name="fr.gouv.vitamui" level="{{ vitamui_struct.log.vitamui_level | default(log.vitamui_level) }}"/>

</configuration>
