.pattern-select {
    button {
        margin-left: 15px;
    }
}

.btn-small {
    height: 34px;
    border-radius: 17px;
}

.pattern-mini {
    margin-bottom: 20px;
}

.display-flex {
    display: flex;
}
