:host::ng-deep {
    mat-form-field {
        width: 50%;
    }

    .mat-form-field-wrapper {
        width: 83%;
    }

    .mat-form-field-flex {
        height: 100%;
    }

    .mat-form-field-infix {
        padding: 0.5rem 0rem!important;
    }
}
