---


# - name: Install java (prerequisite for other components)
#   yum:
#     name: java-1.8.0
#     state: latest
#   register: result
#   retries: "{{ packages_install_retries_number }}"
#   until: result is succeeded
#   delay: "{{ packages_install_retries_delay }}"
#   when: ansible_os_family == "RedHat"

# - name: "install openjdk from {{ ansible_distribution_release }}-backports only when Debian"
#   apt:
#     name: openjdk-8-jre-headless
#     state: latest
#     default_release: "{{ ansible_distribution_release }}-backports"
#   register: result
#   retries: "{{ packages_install_retries_number }}"
#   until: result is succeeded
#   delay: "{{ packages_install_retries_delay }}"
#   when:
#     - ansible_os_family == "Debian"
#     - disable_internet_repositories_install == false

# - name: "install openjdk only when Debian"
#   apt:
#     name: openjdk-8-jre-headless
#     state: latest
#   register: result
#   retries: "{{ packages_install_retries_number }}"
#   until: result is succeeded
#   delay: "{{ packages_install_retries_delay }}"
#   when:
#     - ansible_os_family == "Debian"
#     - disable_internet_repositories_install == true

- name: Install logstash package from repo
  package:
    name: "{{ logstash.package_name }}"
    state: latest
  register: result
  retries: "{{ packages_install_retries_number }}"
  until: result is succeeded
  delay: "{{ packages_install_retries_delay }}"
  notify:
    - restart logstash

- name: Enable logstash
  service:
    name: "{{ logstash.service_name }}"
    enabled: yes
  notify:
    - restart logstash

## Logstash configuration

- name: Ensure logstash directories exist
  file:
    path: "{{ vitamui_defaults.folder.root_path }}/{{ item }}/logstash"
    owner: "{{ vitamui_defaults.users.vitamuidb }}"
    group: "{{ vitamui_defaults.users.group }}"
    state: directory
    mode: "{{ vitamui_defaults.folder.folder_permission }}"
  with_items:
    - data
    - log
    - conf
    - lib
    - tmp
  notify:
    - restart logstash

- name: ensure json conf extra  directory exists
  file:
    path: "{{ logstash_confextra_dir }}"
    owner: "{{ vitamui_defaults.users.vitamuidb }}"
    group: "{{ vitamui_defaults.users.group }}"
    state: directory
    mode: "{{ vitamui_defaults.folder.folder_permission }}"
  notify:
    - restart logstash

- name: apply configuration files
  template:
    src: "{{ item }}.j2"
    dest: "/{{ vitamui_defaults.folder.root_path}}/conf/logstash/{{ item }}"
    owner: "{{ vitamui_defaults.users.vitamuidb }}"
    mode: "{{ vitamui_defaults.folder.conf_permission }}"
  with_items:
    - "jvm.options"
    - "log4j2.properties"
    # - "startup.options"
    - "logstash.yml"
  notify:
    - restart logstash

- name: Ensure conf.d subdir exists
  file:
    path: "{{ logstash_conf_dir }}/conf.d/"
    owner: "{{ vitamui_defaults.users.vitamuidb }}"
    group: "{{ vitamui_defaults.users.group }}"
    state: directory
    mode: "{{ vitamui_defaults.folder.folder_permission }}"

- name: configure logstash parser
  template:
    src: "conf.d/{{ item }}.j2"
    dest: "{{ logstash_conf_dir }}/conf.d/{{ item }}"
    owner: "{{ vitamui_defaults.users.vitamuidb }}"
    group: "{{ vitamui_defaults.users.group }}"
    mode: "{{ vitamui_defaults.folder.script_permission }}"
  with_items:
    - "01-logstash-vitam-filter.conf"
    - "02-logstash-vitam-filter.conf"
    - "03-logstash-vitam-filter.conf"
  notify:
    - restart logstash

# - name: add vitam patterns conf
#   template:
#     src: "vitam-patterns.j2"
#     dest: "/usr/share/logstash/vendor/bundle/jruby/2.5.0/gems/logstash-patterns-core-4.1.2/patterns/vitam"
#     owner: "{{ logstash.user }}"
#   notify:
#     - restart logstash

- name: Ensure conf.d subdir exists
  file:
    path: "{{ logstash_conf_dir }}/conf.d/extra"
    owner: "{{ vitamui_defaults.users.vitamuidb }}"
    group: "{{ vitamui_defaults.users.group }}"
    state: directory
    mode: "{{ vitamui_defaults.folder.folder_permission }}"

- name: configure extra parser configuration
  template:
    src: "conf.d/extra/{{ item }}.j2"
    dest: "{{ logstash_conf_dir }}/conf.d/extra/{{ item }}"
    owner: "{{ vitamui_defaults.users.vitamuidb }}"
    group: "{{ vitamui_defaults.users.group }}"
    mode: "{{ vitam_defaults.folder.conf_permission }}"
  with_items:
    - "elasticsearch-template.json"
  notify:
    - restart logstash

#### Consul configuration ####

- name: Ensure consul config dir is OK
  file:
    path: "{{ consul.conf_folder }}"
    state: directory
    owner: "{{ vitam_defaults.users.vitam }}"
    group: "{{ vitam_defaults.users.group }}"

- name: Deploy consul agent service declaration
  template:
    src: "service-{{ item }}.json.j2"
    dest: "{{ consul.conf_folder }}/service-{{ item }}.json"
    owner: "{{ vitam_defaults.users.vitam }}"
    group: "{{ vitam_defaults.users.group }}"
    mode: "{{ vitam_defaults.folder.conf_permission }}"
  with_items:
    - logstash
  tags:
    - consul_conf
  notify:
   - reload consul configuration

- name: Ensure consul service is started
  service:
    name: "vitam-consul"
    state: started

- name: Ensure logstash service is started
  service:
    name: "{{ logstash.service_name }}"
    state: started

- name: Wait for logstash to be available
  wait_for:
    sleep: 1
    connect_timeout: 1
    port: "{{ logstash.port }}"
    delay: 5
    timeout: 240
    host: "{{ ip_admin }}"
  tags:
    - start

