<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    <app-profile-detail (profileClose)="closePanel()" [profile]="openedItem"></app-profile-detail>
  </mat-sidenav>

  <mat-sidenav-content>
    <vitamui-common-title-breadcrumb [data]="breadCrumbData">
      Paramétrer les profils de droits des administrateurs
    </vitamui-common-title-breadcrumb>

    <vitamui-common-banner
      [searchbarPlaceholder]="'Nom de Profil Administrateur'"
      (search)="onSearchSubmit($event)">
      <button class="btn secondary ml-5" (click)="openProfilAdminCreateDialog()">
        <span>Créer un Profil Administrateur</span>
      </button>
    </vitamui-common-banner>

    <app-profile-list [search]="search" (profileClick)="openPanel($event)"></app-profile-list>
  </mat-sidenav-content>
</mat-sidenav-container>
