<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    @if (openedItem) {
      <app-management-contract-preview (previewClose)="closePanel()" [inputManagementContract]="openedItem">
      </app-management-contract-preview>
    }
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-title-breadcrumb>
        <h5>{{ 'APPLICATION.MANAGEMENT_CONTRACT_APP.TITLE' | translate }}</h5>
      </vitamui-title-breadcrumb>

      <vitamui-banner
        [searchbarPlaceholder]="'CONTRACT_MANAGEMENT.CONTRACT_PAGE.SEARCH_CRITERIA' | translate"
        (search)="onSearchSubmit($event)"
      >
        <button
          class="btn secondary"
          (click)="openCreateManagementContractDialog()"
          [vitamuiTooltip]="'CONTRACT_MANAGEMENT.CONTRACT_PAGE.CREATE_MANAGEMENT_CONTRACT' | translate"
        >
          <span> {{ 'CONTRACT_MANAGEMENT.CONTRACT_PAGE.CREATE_MANAGEMENT_CONTRACT' | translate }}</span>
        </button>
      </vitamui-banner>
    </div>

    <div class="vitamui-content">
      <h5 class="mt-0 mb-4">{{ 'CONTRACT_MANAGEMENT.CONTRACT_PAGE.CONTRACTS_LIST' | translate }}</h5>
      <app-management-contract-list (managementContractClick)="showManagementContract($event)" [searchText]="search">
      </app-management-contract-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
