<div class="vitamui-sidepanel">
    <div class="vitamui-sidepanel-header">
        <ng-container *ngIf="!isPopup">
            <button class="btn-popup" role="button" (click)="openPopup()"><i
                    class="vitamui-icon vitamui-icon-pin"></i></button>
        </ng-container>
        <button class="btn-close" role="button" (click)="emitClose()"><i class="material-icons">close</i></button>

        <div class="title">
            <h2>{{agency?.name}} <small>({{agency?.identifier}})</small></h2>
        </div>
    </div>
    <div class="vitamui-sidepanel-body">
        <mat-tab-group class="preview-tab-group" #tabs>

            <mat-tab label="Informations" i18n-label="Information tab@@agencyPreviewTabInformation">
                <app-agency-information-tab [agency]="agency" [readOnly]="isPopup" (updated)="updatedChange($event, 0)" #infoTab></app-agency-information-tab>
            </mat-tab>

            <mat-tab label="Historique" i18n-label="History tab@@agencyPreviewTabHistory">
                <vitamui-common-operation-history-tab [id]="agency?.identifier"
                                                      [identifier]="agency?.identifier" collectionName="agency" [filter]="filterEvents">
                </vitamui-common-operation-history-tab>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
