db = db.getSiblingDB('{{ mongodb.cas.db }}')

print("START cas_services_ref.js");

db.services.insert({
	"_id": NumberInt(1),
	"_class": "org.apereo.cas.services.RegexRegisteredService",
	"serviceId": "^{{ url_prefix }}/.*",
	"name": "Portal Application",
	"logoutType" : "FRONT_CHANNEL",
	"logoutUrl": "{{ url_prefix }}/logout",
	"attributeReleasePolicy": {
  		"_class": "org.apereo.cas.services.ReturnAllAttributeReleasePolicy"
	}
});

db.services.insert({
	"_id" : NumberInt(2),
	"_class": "org.apereo.cas.services.RegexRegisteredService",
	"serviceId": "^{{ url_prefix }}/identity/.*",
	"name": "Identity Access Management Application",
	"logoutType" : "FRONT_CHANNEL",
	"logoutUrl": "{{ url_prefix }}/identity/logout",
	"attributeReleasePolicy": {
  		"_class": "org.apereo.cas.services.ReturnAllAttributeReleasePolicy"
	}
});

db.services.insert({
	"_id" : NumberInt(3),
	"_class": "org.apereo.cas.services.RegexRegisteredService",
	"serviceId": "^{{ url_prefix }}/identity-admin/.*",
	"name": "Identity Admin Access Management Application",
	"logoutType" : "FRONT_CHANNEL",
	"logoutUrl": "{{ url_prefix }}/identity-admin/logout",
	"attributeReleasePolicy": {
  		"_class": "org.apereo.cas.services.ReturnAllAttributeReleasePolicy"
	}
});

print("END cas_services_ref.js");
