@use 'bootstrap/scss/bootstrap-grid';

:host {
  display: flex;
  flex-direction: column;

  .result-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: white;
    padding: 0 15px;
    border: 1px solid var(--vitamui-grey-400);
    border-radius: 5px;
    margin-bottom: 8px;
  }
}

.vitamui-icon {
  @extend .mr-2;
  color: var(--vitamui-grey-700);
  font-size: 30px;
}
