@import '../../../../../sass/variables/colors';

:host::ng-deep .mat-form-field {
    padding: 0.5rem 2rem;
}

.dialog {
    padding: 2rem;
}

h1 {
    margin: 0;
    font-weight: 500;
}

h2 {
    margin: 1rem auto 2.5rem auto;
}

p:last-of-type {
    margin: 2rem auto 0 auto;
}

vitamui-common-select-tenant {
    margin: 1rem auto 4rem auto;
}

.asterix {
    color: $red;
    font-weight: bold;
}