##################################################################
# UPSTREAM DEFINITION == PER 'HOSTS-*' ZONE + PER APPLICATION PORT
##################################################################
upstream ui_portal {
    ip_hash;
{% for h in groups['hosts-ui-portal'] %}
    server {{ hostvars[h].ip_service }}:{{ vitamui_services.ui_portal.port }};
{% endfor %}
}

upstream ui_identity {
    ip_hash;
{% for h in groups['hosts-ui-identity'] %}
    server {{ hostvars[h].ip_service }}:{{ vitamui_services.ui_identity.port }};
{% endfor %}
}

# upstream cas:
upstream cas  {
    ip_hash;
{% for h in groups['hosts-cas-server'] %}
    server {{ hostvars[h].ip_service }}:{{ vitamui_services.cas_server.port }};
{% endfor %}
}

# upstream admin
upstream ui_identity_admin  {
    ip_hash;
{% for h in groups['hosts-ui-identity-admin'] %}
    server {{ hostvars[h].ip_service }}:{{ vitamui_services.ui_identity_admin.port }};
{% endfor %}
}


###############################################################
# VITRUAL_HOSTS DEFINITIONS
###############################################################
server {

    listen 443 ssl;
    include {{ vitamui_nginx_proxy_conf_dir }}/ssl/ssl.conf;

    server_name {{ vitamui_services.ui_portal.server_name }};

    location / {
        proxy_pass https://ui_portal;

        proxy_set_header Host            $host;
    	proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header Authorization $http_authorization;

        proxy_hide_header X-Frame-Options;
        proxy_set_header  X-Forwarded-Ssl on;
        proxy_set_header  X-Real-IP $remote_addr;
        proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header  X-Forwarded-Proto $scheme;
    }
}

server {

    listen 443 ssl;
    include {{ vitamui_nginx_proxy_conf_dir }}/ssl/ssl.conf;

    server_name {{ vitamui_services.ui_identity.server_name }};

    location / {
        proxy_pass https://ui_identity;
        proxy_set_header Host            $host;
    	proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header Authorization $http_authorization;

        proxy_hide_header X-Frame-Options;
        proxy_set_header  X-Forwarded-Ssl on;
        proxy_set_header  X-Real-IP $remote_addr;
        proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header  X-Forwarded-Proto $scheme;
    }
}

server {

    listen 443 ssl;
    include {{ vitamui_nginx_proxy_conf_dir }}/ssl/ssl.conf;

    server_name {{ vitamui_services.cas_server.server_name }};

    # Redirect home to login page
    location = / {
        return 302 $scheme://$host/login;
    }

    location ~ ^/(login|logout|extras|webjars|css|favicon|images|js|serviceValidate|oauth2.0) {
        proxy_pass https://cas;
        proxy_set_header Host            $host;
    	proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header Authorization $http_authorization;

        proxy_hide_header X-Frame-Options;
        proxy_set_header  X-Forwarded-Ssl on;
        proxy_set_header  X-Real-IP $remote_addr;
        proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header  X-Forwarded-Proto $scheme;
    }
}

server {

    listen 443 ssl;
    include {{ vitamui_nginx_proxy_conf_dir }}/ssl/ssl.conf;

    server_name {{ vitamui_services.ui_identity_admin.server_name }};

    location / {
        proxy_pass https://ui_identity_admin;
        proxy_set_header Host            $host;
    	proxy_set_header X-Forwarded-For $remote_addr;
    }
}
