{% if vitam_ihm_demo_proxy  is defined and vitam_ihm_demo_proxy|bool  %}
# upstream_portal
upstream vitam_ihm_demo {
    ip_hash;
{% for h in groups['hosts-ihm-demo'] %}
    server {{ hostvars[h].ip_service }}:{{ vitam_vars.ihm_demo.port_service }};
{% endfor %}
}
{% endif %}

{# Adding consul ui proxy -----------------------------------------------  #}
{% if consul_ui_proxy  is defined and consul_ui_proxy|bool  %}
# upstream_portal
upstream consul_ui {
    ip_hash;
{% for h in groups['hosts-consul-server'] %}
    server {{ hostvars[h].ip_admin | default(hostvars[h].ip_admin) }}:{{ consul_ui_port }};
{% endfor %}
}
{% endif %}

{# Vitam and consul_vhosts -----------------------------------------------  #}
server {

    listen 443 ssl;
    include {{ vitamui_nginx_proxy_conf_dir }}/ssl/ssl.conf;
    server_name  {{ vitamui_env_name }}-vitam.vitamui.com;

{% if vitam_ihm_demo_proxy  is defined and vitam_ihm_demo_proxy|bool  %}
    # Vitam backend
    location / {
        proxy_pass http://vitam_ihm_demo;
    }
{% endif %}

{% if consul_ui_proxy is defined and consul_ui_proxy|bool  %}
    # Consul ui
    location /ui/ {
        proxy_pass http://consul_ui;
    }

    location /v1/ {
        proxy_pass http://consul_ui;
    }
{% endif %}
}


