<div [formGroup]="form">
  <vitamui-select
    style="display: none"
    formControlName="policyTypeOption"
    [placeholder]="'CONTRACT_MANAGEMENT.FORM_UPDATE.CHOOSE_IDENTIFIER_TYPE' | translate"
    [options]="policyTypeOptions"
    [multiple]="false"
    [enableSearch]="false"
  ></vitamui-select>
  @if (isExistingTypeOption) {
    <vitamui-input
      formControlName="authority"
      [placeholder]="'CONTRACT_MANAGEMENT.FORM_UPDATE.NAMING_AUTHORITY' | translate"
      class="w-100 mt-2"
      [errorMessageMap]="authorityErrorMap"
    >
    </vitamui-input>
    <h5 class="primary title">{{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.POSITIONING_TITLE' | translate }}</h5>
    <div class="r-header row dark-background">
      <div class="col">
        <mat-checkbox formControlName="shouldConcernArchiveUnits">
          <span>{{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.ARCHIVAL_UNIT' | translate }}</span>
        </mat-checkbox>
      </div>
    </div>
    <div class="r-header row dark-background" [ngClass]="{ opened: objectUsagePoliciesToggle }" (click)="toggle($event)">
      <div class="col">
        <mat-checkbox formControlName="shouldConcernObjects">
          <div class="d-flex align-items-center">
            <i
              class="vitamui-icon icon primary"
              [ngClass]="{
                'vitamui-icon-chevron-down': objectUsagePoliciesToggle,
                'vitamui-icon-chevron-right': !objectUsagePoliciesToggle,
              }"
            ></i>
            <span>{{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.TECHNICAL_OBJECT' | translate }}</span>
          </div>
        </mat-checkbox>
      </div>
    </div>
    <div class="p-3 dark-background" [ngStyle]="{ display: objectUsagePoliciesToggle ? 'block' : 'none' }">
      <div class="container" formArrayName="objectUsagePolicies">
        @for (objectUsagePolicy of getObjectUsagePolicies(); track objectUsagePolicy; let i = $index) {
          <div class="row" [formGroupName]="i">
            <div class="col">
              <div class="row">
                <div class="col-4">
                  <vitamui-select
                    formControlName="objectUsage"
                    [placeholder]="('CONTRACT_MANAGEMENT.FORM_UPDATE.TARGET_USAGE' | translate) + (i + 1)"
                    [options]="objectUsageOptions"
                    [multiple]="false"
                    [enableSearch]="false"
                  ></vitamui-select>
                </div>
                <div class="col-3">
                  <label> {{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.INITIAL_VERSION' | translate }}</label>
                  <div class="radio-button-group-wrapper">
                    <mat-radio-group formControlName="initialVersion">
                      <mat-radio-button class="mr-2" [value]="true">{{
                        'CONTRACT_MANAGEMENT.FORM_UPDATE.YES' | translate
                      }}</mat-radio-button>
                      <mat-radio-button
                        class="mr-2"
                        [value]="false"
                        [disabled]="form.get('objectUsagePolicies').at(i).get('intermediaryVersion').value === 'NONE'"
                        >{{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.NO' | translate }}</mat-radio-button
                      >
                    </mat-radio-group>
                  </div>
                </div>
                <div class="col-4">
                  <label> {{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.LATER_VERSIONS' | translate }}</label>
                  <div class="radio-button-group-wrapper">
                    <mat-radio-group formControlName="intermediaryVersion">
                      <mat-radio-button class="mr-2" value="ALL">{{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.ALL' | translate }}</mat-radio-button>
                      <mat-radio-button class="mr-2" value="LAST">{{
                        'CONTRACT_MANAGEMENT.FORM_UPDATE.LAST' | translate
                      }}</mat-radio-button>
                      <mat-radio-button
                        class="mr-2"
                        value="NONE"
                        [disabled]="!form.get('objectUsagePolicies').at(i).get('initialVersion').value"
                        >{{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.NONE' | translate }}</mat-radio-button
                      >
                    </mat-radio-group>
                  </div>
                </div>
                <div class="col-1 d-flex align-items-center justify-content-center p-0">
                  <button
                    class="mat-icon-button delete-button d-flex justify-content-center align-items-center"
                    (click)="removeObjectUsagePolicy(i)"
                    [vitamuiTooltip]="'CONTRACT_MANAGEMENT.FORM_UPDATE.REMOVE_USAGE' | translate"
                  >
                    <i class="vitamui-icon vitamui-icon-delete icon primary"></i>
                  </button>
                </div>
              </div>
              @if (form.get('objectUsagePolicies').at(i).hasError('invalidObjectUsagePolicy')) {
                <vitamui-common-input-error>
                  {{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.ERROR_MESSAGES.INVALID_OBJECT_USAGE_POLICY' | translate }}
                </vitamui-common-input-error>
              }
            </div>
          </div>
        }
        <div class="row">
          <div class="col">
            <button
              type="button"
              class="col btn link back justify-content-start"
              [vitamuiTooltip]="'CONTRACT_MANAGEMENT.FORM_UPDATE.ADD_USAGE' | translate"
              [disabled]="addButtonDisabled"
              (click)="addObjectUsagePolicy()"
            >
              <i class="vitamui-icon vitamui-icon-plus"></i>
              <span>{{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.ADD_USAGE' | translate }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    @if (form.hasError('invalidPersistentIdentifierPolicyTarget')) {
      <vitamui-common-input-error class="vitamui-input-errors">
        {{ 'CONTRACT_MANAGEMENT.FORM_UPDATE.ERROR_MESSAGES.INVALID_PERSISTENT_IDENTIFIER_POLICY_TARGET' | translate }}
      </vitamui-common-input-error>
    }
  }
</div>
