<div class="domain-input-control">
  <span>@ </span>
  <div class="domain-input-wrapper">
    <input class="vitamui-input" type="text" size="10" [formControl]="control" [attr.placeholder]="placeholder" (blur)="onTouched()" (keydown.enter)="add()">
    <mat-spinner *ngIf="control.pending" [diameter]="spinnerDiameter" color="accent"></mat-spinner>
  </div>
  <button type="button" class="btn secondary" (click)="add()" [disabled]="buttonAddDisabled()" i18n="Email domains input add button@@domainsInputAddButton">Ajouter</button>
</div>
<div class="vitamui-input-errors">
    <div *ngIf="control?.hasError('pattern')" i18n="Wrong format (domain.xyz)@@domainInputErrorFormat">Format incorrect (domaine.xyz)</div>
    <div *ngIf="domainExists" i18n="Domain already entered@@domainInputErrorDomainExists">Domaine déjà saisi</div>
    <div *ngIf="!domainExists && control?.hasError('uniqueDomain')" i18n="Domain used by another customer@@domainInputErrorUniqueDomain">Domaine utilisé par un autre client</div>
</div>
<div class="vitamui-chip-list">
  <div *ngFor="let domain of domains" class="vitamui-chip" (click)="setSelected(domain)" [class.active]="domain===selected">
    <div class="vitamui-chip-content">{{domain}}</div>
    <div class="vitamui-remove-chip" (click)="remove(domain)">
      <i class="material-icons">clear</i>
    </div>
  </div>
</div>
