<div>
  <img alt="compagny logo" src="/assets/footer-logo.svg" class="logo"/>
</div>

<div>
  <a [href]="sanitizedCustomerWebsiteUrl" target="_blank" i18n="Site footer|footer help@@help" class="plain">Aide</a>
</div>

<div class="separator"></div>

<div i18n="Site footer|footer technical referent@@technicalReferent">
  Référent technique :
  <a [href]="'mailto:' + customerTechnicalReferentEmail">{{customerTechnicalReferentEmail}}</a>
</div>

<div class="separator"></div>

<div>
  <a [href]="sanitizedCustomerWebsiteUrl" target="_blank">{{customerWebsiteUrlTitle}}</a>
</div>

<div class="separator"></div>

<div>
  <a [href]="sanitizedCustomerWebsiteUrl" target="_blank" i18n="Site footer|footer legal notice@@legalNotice"
    class="plain">Mentions légales</a>
</div>
