@import '../../../../sass/variables/colors';

$text-color: $white;

:host {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  background-color: var(--vitamui-secondary);
  align-items: center;
  justify-content: center;
  color: $text-color;
}

a {
  color: $text-color;
}

.logo {
  padding-right: 4em;
}

.separator::before {
  content: "|";
  margin: 0 1.5em;
  color: $text-color;
}

.plain {
  text-decoration: none;
}
