<div class="row">
  <div class="col-12">
    <div class="read-only-field">
      <label>{{ 'COLLECT.ARCHIVE_UNIT_PREVIEW.FIELDS.NAME' | translate }} :</label>
      <div>
        {{ archiveUnit | unitI18n: 'Title' }}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="read-only-field">
      <label>{{ 'COLLECT.ARCHIVE_UNIT_PREVIEW.FIELDS.GUID' | translate }} :</label>
      <div>
        {{ archiveUnit['#opi'] }}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="read-only-field">
      <label>{{ 'COLLECT.ARCHIVE_UNIT_PREVIEW.FIELDS.UAID' | translate }} :</label>
      <div>
        {{ archiveUnit['#id'] }}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="read-only-field text-justify">
      <label>{{ 'COLLECT.ARCHIVE_UNIT_PREVIEW.FIELDS.DESCRIPTION' | translate }} :</label>
      <div>
        {{ archiveUnit | unitI18n: 'Description' }}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="read-only-field">
      <label>{{ 'COLLECT.ARCHIVE_UNIT_PREVIEW.FIELDS.SP' | translate }} :</label><br />
      <label>{{ 'COLLECT.ARCHIVE_UNIT_PREVIEW.FIELDS.SP_CODE' | translate }} :</label>
      <div>
        {{ archiveUnit['#originating_agency'] }}
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="read-only-field">
      <label></label><br />
      <label>{{ 'COLLECT.ARCHIVE_UNIT_PREVIEW.FIELDS.SP_LABEL' | translate }} :</label>
      <div>
        {{ archiveUnit?.originating_agencyName }}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="read-only-field">
      <label
        >{{ 'COLLECT.ARCHIVE_UNIT_PREVIEW.FIELDS.PATH' | translate }} :
        <button class="ml-2 btn-show-full-path" type="button" (click)="showArchiveUniteFullPath()">
          {{ 'COLLECT.ARCHIVE_UNIT_PREVIEW.FIELDS.BTN_SHOW_COMPLETE_PATH' | translate }}
        </button>
      </label>
      <div>
        <span *ngIf="!fullPath">{{ (uaPath$ | async)?.resumePath }}</span>
        <span *ngIf="fullPath">{{ (uaPath$ | async)?.fullPath }}</span>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="read-only-field">
      <label>{{ 'COLLECT.ARCHIVE_UNIT_PREVIEW.FIELDS.DESCRIPTION_LEVEL' | translate }} :</label>
      <div>
        {{ 'UNIT_UPDATE.' + archiveUnit.DescriptionLevel.toUpperCase() | translate }}
      </div>
    </div>
  </div>
</div>

<div class="row content vitamui-form margin_right">
  <div class="col-6">
    <div class="read-only-field">
      <label>{{ 'COLLECT.ARCHIVE_UNIT_PREVIEW.FIELDS.START_DATE' | translate }} :</label>
      <div>
        {{ archiveUnit?.StartDate | dateTime: 'dd/MM/yyyy' }}
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="read-only-field">
      <label>{{ 'COLLECT.ARCHIVE_UNIT_PREVIEW.FIELDS.END_DATE' | translate }} :</label>
      <div>
        {{ archiveUnit?.EndDate | dateTime: 'dd/MM/yyyy' }}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <button class="btn primary download-btn" [disabled]="archiveUnit['#object'] === null" (click)="onDownloadObjectFromUnit(archiveUnit)">
      <span>{{ 'COLLECT.ARCHIVE_UNIT_PREVIEW.FIELDS.DOWNLOAD_DOC' | translate }}</span>
      <i class="vitamui-icon vitamui-icon-deposit"></i>
    </button>
  </div>
</div>
