/* styles applied directly to the ap-root element only */
:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

  div,
  mat-tree,
  mat-tree-node,
  mat-nested-tree-node {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  .tree-text {
    flex: 1;
    min-width: 0; /* or some value */
    p,
    a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .mat-tree-node {
    //hidde empty node
    flex: 1 1 auto;
    min-height: 0;
  }

  mat-nested-tree-node .childs {
    padding-left: 15px;
  }

  .vitamui-sidepanel-resize-sidebar {
    border-top: 4px solid var(--vitamui-primary);
    height: 0;
    padding: 0;
    margin: 0;
    cursor: ns-resize;
    flex: 0 0 auto;
  }

  .vitamui-sidepanel-header {
    flex-grow: 1;
    overflow: auto;
    position: relative;
  }

  .tree-filing-scheme {
    flex: 1;
    flex-direction: column;

    mat-tree-node,
    mat-nested-tree-node {
      flex-direction: column;
    }
  }

  .load-more-ua {
    cursor: pointer;
    color: var(--vitamui-primary);
    text-decoration: underline;
  }

  .tree-title {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.filing-holding-scheme-tree-invisible {
  display: none;
}

.filing-holding-scheme-tree-node,
.filing-holding-scheme-tree-node-selected {
  position: relative;
  border-bottom: 1px solid var(--vitamui-grey-300);
  cursor: pointer;

  &:hover {
    background-color: var(--vitamui-primary-50);
  }
}

.filing-holding-scheme-tree-node-selected {
  background-color: var(--vitamui-primary-50);
}

.selected-node {
  border-left: 2px solid var(--vitamui-primary);
  margin-left: -2px;
}

.icon-greeny-blue {
  color: var(--vitamui-secondary);
}

.tree-show-link {
  cursor: pointer;
  color: var(--vitamui-primary);
  text-decoration: underline;
}

.badge {
  display: inline-block;
  padding: 0.25em 0;
  font-size: 100%;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  top: 11px;
  right: 2px;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 1.25rem;
  width: 54px;
  text-align: center;
}

.badge-primary {
  color: var(--vitamui-primary);
  background-color: var(--vitamui-primary-100);
}

.badge-secondary {
  color: var(--vitamui-secondary);
  background-color: var(--vitamui-secondary-100);
}

.area-show-tree {
  padding-top: 20px;
}

.badge-parent {
  position: relative;
}
