db = db.getSiblingDB('iam')

print("START 207_iam_ref.js");

// ========================================= PROFILES =========================================

// ----------------------------------------- LEVEL "0" -----------------------------------------

var maxIdProfile = db.getCollection('sequences').findOne({'_id': 'profile_identifier'}).sequence;
db.profiles.insert({
	"_id" : "system_access_contract",
	"identifier" : NumberInt(maxIdProfile++),
	"name" : "Access Profile",
	"description" : "Access Profile",
	"tenantIdentifier": NumberInt({{ vitamui_platform_informations.proof_tenant }}),
	"applicationName" : "ACCESS_APP",
	"enabled" : true,
	"readonly" : true,
	"level" : "",
	"customerId" : "system_customer",
	"roles" : [
        {
            "name": "ROLE_GET_ACCESS_CONTRACTS"
        },
        {
            "name": "ROLE_CREATE_ACCESS_CONTRACTS"
        },
        {
            "name": "ROLE_UPDATE_ACCESS_CONTRACTS"
        }
	 ]
});

db.profiles.insert({
	"_id" : "system_ingest_contract",
	"identifier" : NumberInt(maxIdProfile++),
	"name" : "Ingest Profile",
	"description" : "Ingest Profile",
    "tenantIdentifier": NumberInt({{ vitamui_platform_informations.proof_tenant }}),
	"applicationName" : "INGEST_APP",
	"enabled" : true,
	"readonly" : true,
	"level" : "",
	"customerId" : "system_customer",
	"roles" : [
        {
            "name": "ROLE_GET_INGEST_CONTRACTS"
        },
        {
            "name": "ROLE_CREATE_INGEST_CONTRACTS"
        },
        {
            "name": "ROLE_UPDATE_INGEST_CONTRACTS"
        },
        {
            "name": "ROLE_GET_MANAGEMENT_CONTRACTS"
        }
	 ]
});

db.profiles.insert({
	"_id" : "system_ontology",
	"identifier" : NumberInt(maxIdProfile++),
	"name" : "Ontology Profile",
	"description" : "Ontology Profile",
    "tenantIdentifier": NumberInt({{ vitamui_platform_informations.proof_tenant }}),
	"applicationName" : "ONTOLOGY_APP",
	"enabled" : true,
	"readonly" : true,
	"level" : "",
	"customerId" : "system_customer",
	"roles" : [
        {
            "name": "ROLE_GET_ONTOLOGIES"
        },
        {
            "name": "ROLE_CREATE_ONTOLOGIES"
        },
        {
            "name": "ROLE_DELETE_ONTOLOGIES"
         }
	 ]
});

db.profiles.insert({
	"_id" : "system_agencies",
	"identifier" : NumberInt(maxIdProfile++),
	"name" : "Agencies Profile",
	"description" : "Agencies Profile",
    "tenantIdentifier": NumberInt({{ vitamui_platform_informations.proof_tenant }}),
	"applicationName" : "AGENCIES_APP",
	"enabled" : true,
	"readonly" : true,
	"level" : "",
	"customerId" : "system_customer",
	"roles" : [
        {
            "name": "ROLE_GET_AGENCIES"
        },
        {
            "name": "ROLE_CREATE_AGENCIES"
        },
        {
            "name": "ROLE_UPDATE_AGENCIES"
        },
        {
            "name": "ROLE_DELETE_AGENCIES"
        },
        {
            "name": "ROLE_EXPORT_AGENCIES"
        }
	 ]
});

db.profiles.insert({
	"_id" : "system_file_format",
	"identifier" : NumberInt(maxIdProfile++),
	"name" : "File Formats Profile",
	"description" : "File Formats Profile",
    "tenantIdentifier": NumberInt({{ vitamui_platform_informations.proof_tenant }}),
	"applicationName" : "FILE_FORMATS_APP",
	"enabled" : true,
	"readonly" : true,
	"level" : "",
	"customerId" : "system_customer",
	"roles" : [
        {
            "name": "ROLE_GET_FILE_FORMATS"
        },
        {
            "name": "ROLE_CREATE_FILE_FORMATS"
        },
        {
            "name": "ROLE_UPDATE_FILE_FORMATS"
        },
        {
            "name": "ROLE_IMPORT_FILE_FORMATS"
        },
        {
            "name": "ROLE_DELETE_FILE_FORMATS"
        }
	 ]
});

db.profiles.insert({
	"_id" : "system_context",
	"identifier" : NumberInt(maxIdProfile++),
	"name" : "Context Profile",
	"description" : "Contexts Profile",
    "tenantIdentifier": NumberInt({{ vitamui_platform_informations.proof_tenant }}),
	"applicationName" : "CONTEXTS_APP",
	"enabled" : true,
	"readonly" : true,
	"level" : "",
	"customerId" : "system_customer",
	"roles" : [
        {
            "name": "ROLE_GET_CONTEXTS"
        },
        {
            "name": "ROLE_CREATE_CONTEXTS"
        },
        {
            "name": "ROLE_UPDATE_CONTEXTS"
        }
	 ]
});

db.profiles.insert({
	"_id" : "system_security_profile",
	"identifier" : NumberInt(maxIdProfile++),
	"name" : "Security Profiles Profile",
	"description" : "Security Profiles Profile",
    "tenantIdentifier": NumberInt({{ vitamui_platform_informations.proof_tenant }}),
	"applicationName" : "SECURITY_PROFILES_APP",
	"enabled" : true,
	"readonly" : true,
	"level" : "",
	"customerId" : "system_customer",
	"roles" : [
        {
            "name": "ROLE_GET_SECURITY_PROFILES"
        },
        {
            "name": "ROLE_CREATE_SECURITY_PROFILES"
        },
        {
            "name": "ROLE_UPDATE_SECURITY_PROFILES"
        },
        {
            "name": "ROLE_DELETE_SECURITY_PROFILES"
        }
	 ]
});

db.profiles.insert({
	"_id" : "system_audit",
	"identifier" : NumberInt(maxIdProfile++),
	"name" : "Audit Profile",
	"description" : "Audit Profile",
	"tenantIdentifier" : NumberInt({{ vitamui_platform_informations.proof_tenant }}),
	"applicationName" : "AUDIT_APP",
	"enabled" : true,
	"readonly" : true,
	"level" : "",
	"customerId" : "system_customer",
	"roles" : [
	    {
            "name": "ROLE_GET_OPERATIONS"
        },
        {
            "name": "ROLE_RUN_AUDITS"
        }
	 ]
});

db.profiles.insert({
	"_id" : "system_secure",
	"identifier" : NumberInt(maxIdProfile++),
	"name" : "Secure Profile",
	"description" : "Secure Profile",
	"tenantIdentifier" : NumberInt({{ vitamui_platform_informations.proof_tenant }}),
	"applicationName" : "SECURE_APP",
	"enabled" : true,
	"readonly" : true,
	"level" : "",
	"customerId" : "system_customer",
	"roles" : [
	    {
            "name": "ROLE_GET_OPERATIONS"
        }
	]
});

db.profiles.insert({
	"_id" : "system_dsl",
	"identifier" : NumberInt(maxIdProfile++),
	"name" : "Requêtes DSL",
	"description" : "Lancement de recherches par DSL",
	"tenantIdentifier" : NumberInt({{ vitamui_platform_informations.proof_tenant }}),
	"applicationName" : "DSL_APP",
	"enabled" : true,
	"readonly" : true,
	"level" : "",
	"customerId" : "system_customer",
	"roles" : [
        {
            "name": "ROLE_GET_UNITS"
        }
	]
});

db.profiles.insert({
	"_id" : "system_probative_value",
	"identifier" : NumberInt(maxIdProfile++),
	"name" : "Probative Value Profile",
	"description" : "Probative Value Profile",
	"tenantIdentifier" : NumberInt({{ vitamui_platform_informations.proof_tenant }}),
	"applicationName" : "PROBATIVE_VALUE_APP",
	"enabled" : true,
	"readonly" : true,
	"level" : "",
	"customerId" : "system_customer",
	"roles" : [
	    {
            "name": "ROLE_GET_OPERATIONS"
        },
        {
            "name": "ROLE_RUN_PROBATIVE_VALUE"
        }
	 ]
});

db.profiles.insert({
  "_id": "system_logbook_operation",
  "identifier" : NumberInt(maxIdProfile++),
  "name": "Journal des Opérations",
  "description": "Logbook Operation Profile",
  "tenantIdentifier": NumberInt({{ vitamui_platform_informations.proof_tenant }}),
  "applicationName": "LOGBOOK_OPERATION_APP",
  "level": "",
  "enabled": true,
  "readonly": false,
  "customerId": "system_customer",
  "roles": [
  {
       "name": "ROLE_LOGBOOKS"
  }
   ]
});

db.profiles.insert({
  "_id": "system_holding_filling_scheme_profile",
  "identifier" : NumberInt(maxIdProfile++),
  "name": "Arbres et Plans",
  "description": "Arbres et Plans",
  "tenantIdentifier": NumberInt({{ vitamui_platform_informations.proof_tenant }}),
  "applicationName": "HOLDING_FILLING_SCHEME_APP",
  "level": "",
  "enabled": true,
  "readonly": false,
  "customerId": "system_customer",
  "roles": [
  {
    "name": "ROLE_CREATE_HOLDING_FILLING_SCHEME"
  },
  {
    "name": "ROLE_GET_HOLDING_FILLING_SCHEME"
  },
  {
    "name": "ROLE_GET_ALL_HOLDING_FILLING_SCHEME"
  }
   ]
});

db.sequences.updateOne({
    "_id": "profile_identifier"
}, {
	$set: {
		"sequence": NumberInt(maxIdProfile)
	}
});

// ========================================= GROUPS =========================================

// ----------------------------------------- LEVEL "0" -----------------------------------------
db.groups.updateOne( {
	"_id": "admin_group"
}, {
    $addToSet: {
        "profileIds":  {
            $each: [
            	"system_access_contract",
                "system_ingest_contract",
                "system_agencies",
                "system_context",
                "system_security_profile",
                "system_ontology",
                "system_audit",
                "system_secure",
                "system_dsl",
                "system_probative_value",
                "system_logbook_operation",
                "system_holding_filling_scheme_profile",
                "system_file_format"
        	]
        }
    }
});

print("END 207_iam_ref.js");
