db = db.getSiblingDB('iam')

print("START 208_application_ref.js");

// -------- VITAM ADMINISTRATION -----

db.applications.insert({
    "identifier" : "INGEST_APP",
{% if vitamui.referential.base_url is defined %}
    "url": "{{ vitamui.referential.base_url }}/ingest-contract",
{% else %}
    "url": "{{ url_prefix }}/referential/ingest-contract",
{% endif %}
    "icon" : "vitamui-icon vitamui-icon-contrat",
    "name" : "Contrats d'entrée",
    "category" : "referential",
    "position" : NumberInt(2),
    "hasCustomerList" : false,
    "hasTenantList" : true,
    "hasHighlight" : false,
    "tooltip" : "Accéder, créer et modifier les contrats d'entrée",
    "target" : "_self"
});

db.applications.insert({
    "identifier" : "ACCESS_APP",
{% if vitamui.referential.base_url is defined %}
    "url": "{{ vitamui.referential.base_url }}/access-contract",
{% else %}
    "url": "{{ url_prefix }}/referential/access-contract",
{% endif %}
    "icon" : "vitamui-icon vitamui-icon-contrat",
    "name" : "Contrats d'accès",
    "category" : "referential",
    "position" : NumberInt(1),
    "hasCustomerList" : false,
    "hasTenantList" : true,
    "hasHighlight" : false,
    "tooltip" : "Accéder, créer et modifier les contrats d'accès",
    "target" : "_self"
});

db.applications.insert({
    "identifier" : "AGENCIES_APP",
{% if vitamui.referential.base_url is defined %}
    "url": "{{ vitamui.referential.base_url }}/agency",
{% else %}
    "url": "{{ url_prefix }}/referential/agency",
{% endif %}
    "icon" : "vitamui-icon vitamui-icon-agent",
    "name" : "Services Agent",
    "category" : "referential",
    "position" : NumberInt(3),
    "hasCustomerList" : false,
    "hasTenantList" : false,
    "hasHighlight" : false,
    "tooltip" : "Accéder, Créer, Modifier ou Supprimer les services agents",
    "target" : "_self"
});

db.applications.insert({
    "identifier" : "FILE_FORMATS_APP",
{% if vitamui.referential.base_url is defined %}
    "url": "{{ vitamui.referential.base_url }}/file-format",
{% else %}
    "url": "{{ url_prefix }}/referential/file-format",
{% endif %}
    "icon" : "vitamui-icon vitamui-icon-fichiers",
    "name" : "Formats de fichiers",
    "category" : "referential",
    "position" : NumberInt(12),
    "hasCustomerList" : false,
    "hasTenantList" : false,
    "hasHighlight" : false,
    "tooltip" : "Accéder, Créer, Modifier ou Supprimer les formats de fichiers",
    "target" : "_self"
});

db.applications.insert({
    "identifier" : "CONTEXTS_APP",
{% if vitamui.referential.base_url is defined %}
    "url": "{{ vitamui.referential.base_url }}/context",
{% else %}
    "url": "{{ url_prefix }}/referential/context",
{% endif %}
    "icon" : "vitamui-icon vitamui-icon-securite",
    "name" : "Contextes applicatifs",
    "category" : "referential",
    "position" : NumberInt(4),
    "hasCustomerList" : false,
    "hasTenantList" : false,
    "hasHighlight" : false,
    "tooltip" : "Accéder, Créer, Modifier ou Supprimer les contextes applicatifs",
    "target" : "_self"
});

db.applications.insert({
    "identifier" : "SECURITY_PROFILES_APP",
{% if vitamui.referential.base_url is defined %}
    "url": "{{ vitamui.referential.base_url }}/security-profile",
{% else %}
    "url": "{{ url_prefix }}/referential/security-profile",
{% endif %}
    "icon" : "vitamui-icon vitamui-icon-securite",
    "name" : "Profils de sécurité",
    "category" : "referential",
    "position" : NumberInt(5),
    "hasCustomerList" : false,
    "hasTenantList" : false,
    "hasHighlight" : false,
    "tooltip" : "Accéder, Créer, Modifier ou Supprimer les profils de sécurité",
    "target" : "_self"
});

db.applications.insert({
    "identifier" : "ONTOLOGY_APP",
{% if vitamui.referential.base_url is defined %}
    "url": "{{ vitamui.referential.base_url }}/ontology",
{% else %}
    "url": "{{ url_prefix }}/referential/ontology",
{% endif %}
    "icon" : "vitamui-icon vitamui-icon-ontologie",
    "name" : "Ontologie",
    "category" : "referential",
    "position" : NumberInt(20),
    "hasCustomerList" : false,
    "hasTenantList" : false,
    "hasHighlight" : false,
    "tooltip" : "Accéder, Créer ou Supprimer les ontologies",
    "target" : "_self"
});

db.applications.insert({
    "identifier" : "AUDIT_APP",
{% if vitamui.referential.base_url is defined %}
    "url": "{{ vitamui.referential.base_url }}/audit",
{% else %}
    "url": "{{ url_prefix }}/referential/audit",
{% endif %}
    "icon" : "vitamui-icon vitamui-icon-audit",
    "name" : "Audits",
    "category" : "opaudit",
    "position" : NumberInt(13),
    "hasCustomerList" : false,
    "hasTenantList" : true,
    "hasHighlight" : false,
    "tooltip" : "Lancer des audits",
    "target" : "_self"
});

db.applications.insert({
    "identifier" : "SECURE_APP",
{% if vitamui.referential.base_url is defined %}
    "url": "{{ vitamui.referential.base_url }}/securisation",
{% else %}
    "url": "{{ url_prefix }}/referential/securisation",
{% endif %}
    "icon" : "vitamui-icon vitamui-icon-operation",
    "name" : "Opération de sécurisations",
    "category" : "opaudit",
    "position" : NumberInt(14),
    "hasCustomerList" : false,
    "hasTenantList" : false,
    "hasHighlight" : false,
    "tooltip" : "Opération de sécurisations",
    "target" : "_self"
});

db.applications.insert({
    "identifier" : "DSL_APP",
{% if vitamui.referential.base_url is defined %}
    "url": "{{ vitamui.referential.base_url }}/dsl",
{% else %}
    "url": "{{ url_prefix }}/referential/dsl",
{% endif %}
    "icon" : "vitamui-icon vitamui-icon-dsl",
    "name" : "Requêtes DSL",
    "category" : "techadmin",
    "position" : NumberInt(15),
    "hasCustomerList" : false,
    "hasTenantList" : false,
    "hasHighlight" : false,
    "tooltip" : "Rechercher des UA à partir d'une requête DSL personnalisée",
    "target" : "_self"
});

db.applications.insert({
    "identifier" : "PROBATIVE_VALUE_APP",
{% if vitamui.referential.base_url is defined %}
    "url": "{{ vitamui.referential.base_url }}/probative-value",
{% else %}
    "url": "{{ url_prefix }}/referential/probative-value",
{% endif %}
    "icon" : "vitamui-icon vitamui-icon-releve",
    "name" : "Relevé de valeur probante",
    "category" : "opaudit",
    "position" : NumberInt(13),
    "hasCustomerList" : false,
    "hasTenantList" : true,
    "hasHighlight" : false,
    "tooltip" : "Exporter un relevé de valeur probante",
    "target" : "_self"
});

db.applications.insert({
    "identifier" : "LOGBOOK_OPERATION_APP",
{% if vitamui.referential.base_url is defined %}
    "url": "{{ vitamui.referential.base_url }}/logbook-operation",
{% else %}
    "url": "{{ url_prefix }}/referential/logbook-operation",
{% endif %}
    "icon": "vitamui-icon vitamui-icon-logbook-operations",
    "name": "Journal des Opérations",
    "category": "referential",
    "position": NumberInt(16),
    "hasCustomerList": false,
    "hasTenantList": true,
    "hasHighlight": false,
    "tooltip": "Consultation des journaux des opérations d'entrées, de bases, d'éliminations",
    "target": "_self"
});

db.applications.insert({
    "identifier" : "HOLDING_FILLING_SCHEME_APP",
{% if vitamui.referential.base_url is defined %}
    "url": "{{ vitamui.ingest.base_url }}/holding-filling-scheme",
{% else %}
    "url": "{{ url_prefix }}/ingest/holding-filling-scheme",
{% endif %}
    "icon" : "vitamui-icon vitamui-icon-filing",
    "name" : "Arbres et Plans",
    "category" : "referential",
    "position" : NumberInt(16),
    "hasCustomerList" : false,
    "hasTenantList" : true,
    "hasHighlight" : false,
    "tooltip" : "Importer un arbre de positionnement ou un plan de classement",
    "target" : "_self"
});
print("END 208_application_ref.js");
