db = db.getSiblingDB('iam')

print("START 212_application_ref.js");

// -------- VITAM ADMINISTRATION -----

db.applications.insert({
    "identifier" : "INGEST_MANAGEMENT_APP",
{% if vitamui.ingest.base_url is defined %}
    "url": "{{ vitamui.ingest.base_url }}/ingest",
{% else %}
    "url": "{{ url_prefix }}/ingest/ingest",
{% endif %}
    "icon": "vitamui-icon vitamui-icon-archive-ingest",
    "name": "Dépôt et suivi des versements",
    "category": "ingests",
    "position": NumberInt(1),
    "hasCustomerList": false,
    "hasTenantList": false,
    "hasHighlight": false,
    "tooltip": "Consulter des versements ou créer un nouveau versement",
    "target": "_self"
});

db.profiles.insert({
  "_id": "system_ingest_profile",
  "identifier" : NumberInt(22),
  "name": "Ingest Profile",
  "description": "Ingest Profile",
  "tenantIdentifier": NumberInt({{ vitamui_platform_informations.proof_tenant }}),
  "applicationName": "INGEST_MANAGEMENT_APP",
  "level": "",
  "enabled": true,
  "readonly": false,
  "customerId": "system_customer",
  "roles": [
  {
    "name": "ROLE_CREATE_INGEST"
  },
  {
    "name": "ROLE_GET_INGEST"
  },
  {
    "name": "ROLE_GET_ALL_INGEST"
  },
  {
  "name" : "ROLE_LOGBOOKS"
  }
   ]
});

db.groups.updateOne(
	{
		"_id": "admin_group",
		"profileIds": { $nin: ["system_ingest_profile"] }
	},
	{
		$addToSet: {"profileIds": "system_ingest_profile" }
	},
	{
		"upsert": false
	}
);

db.groups.updateOne(
	{
		"_id": "super_admin_group",
		"profileIds": { $nin: ["system_ingest_profile"] }
	},
	{
		$addToSet: {"profileIds": "system_ingest_profile" }
	},
	{
		"upsert": false
	}
);

print("END 212_application_ref.js");
