db = db.getSiblingDB('iam')

print("START 216_application_collect_ref.js");

// -------- VITAM ADMINISTRATION  -----

db.applications.insert({
    "identifier" : "COLLECT_APP",
{% if vitamui.collect.base_url is defined %}
    "url": "{{ vitamui.collect.base_url }}/collect",
{% else %}
    "url": "{{ url_prefix }}/collect/collect",
{% endif %}
    "icon": "vitamui-icon vitamui-icon-collect",
    "name": "Collecte, tri et empaquetage d'archives",
    "category": "referential",
    "position": NumberInt(1),
    "hasCustomerList": false,
    "hasTenantList": false,
    "hasHighlight": false,
    "tooltip": "Collecter, trier et empaqueter des archives",
    "target": "_self"
});
print("END 216_application_collect_ref.js");
