db = db.getSiblingDB('iam')

print("START 221_pastis_application_ref.js");

// -------- VITAM ADMINISTRATION -----

db.applications.insert({
    "identifier" : "PASTIS_APP",
{% if vitamui.pastis.base_url is defined %}
    "url": "{{ vitamui.pastis.base_url }}/pastis",
    "serviceId": "^{{ vitamui.pastis.base_url }}/.*",
{% else %}
    "url": "{{ url_prefix }}/pastis/pastis",
    "serviceId": "^{{ url_prefix }}/pastis/.*",
{% endif %}
    "icon" : "vitamui-icon vitamui-icon-ontologie",
    "name" : "Profils Documentaires",
    "category" : "referential",
    "position": NumberInt(1),
    "hasCustomerList" : false,
    "hasTenantList" : true,
    "hasHighlight" : false,
    "tooltip" : "Accéder, Créer, Modifier ou Supprimer les profils d'archivage et les profils d'unité archivistique",
    "target" : "_self",
});

print("END 221_pastis_application_ref.js");
