db = db.getSiblingDB('security')

print("START 223_security_pastis_ref.js");

db.contexts.insert({
    "_id" : "ui_pastis_context",
    "name": "Contexte UI Pastis",
    "fullAccess" : true,
    "tenants" : [NumberInt({{ vitamui_platform_informations.proof_tenant }}), NumberInt({{ vitamui_platform_informations.cas_tenant }})],
    "roleNames" : [
      "ROLE_CREATE_USERS","ROLE_UPDATE_USERS","ROLE_UPDATE_STANDARD_USERS","ROLE_GENERIC_USERS","ROLE_MFA_USERS", "ROLE_ANONYMIZATION_USERS", "ROLE_CREATE_TENANTS",
      "ROLE_CREATE_TENANTS_ALL_CUSTOMERS","ROLE_UPDATE_TENANTS", "ROLE_UPDATE_TENANTS_ALL_CUSTOMERS", "ROLE_GET_CUSTOMERS", "ROLE_GET_USERS",
      "ROLE_GET_PROFILES", "ROLE_GET_GROUPS", "ROLE_GET_PROFILES_ALL_TENANTS", "ROLE_GET_TENANTS", "ROLE_GET_ALL_TENANTS", "ROLE_GET_ACCESS_CONTRACTS",
      "ROLE_CREATE_ACCESS_CONTRACTS", "ROLE_UPDATE_ACCESS_CONTRACTS", "ROLE_GET_INGEST_CONTRACTS", "ROLE_CREATE_INGEST_CONTRACTS", "ROLE_UPDATE_INGEST_CONTRACTS",
      "ROLE_GET_MANAGEMENT_CONTRACTS", "ROLE_GET_ARCHIVE_PROFILES", "ROLE_GET_ONTOLOGIES", "ROLE_CREATE_ONTOLOGIES", "ROLE_DELETE_ONTOLOGIES", "ROLE_GET_AGENCIES",
      "ROLE_UPDATE_AGENCIES", "ROLE_CREATE_AGENCIES", "ROLE_DELETE_AGENCIES", "ROLE_EXPORT_AGENCIES", "ROLE_GET_FILE_FORMATS", "ROLE_UPDATE_FILE_FORMATS",
      "ROLE_CREATE_FILE_FORMATS", "ROLE_DELETE_FILE_FORMATS", "ROLE_GET_CONTEXTS", "ROLE_UPDATE_CONTEXTS",  "ROLE_CREATE_CONTEXTS", "ROLE_GET_SECURITY_PROFILES",
      "ROLE_UPDATE_SECURITY_PROFILES", "ROLE_CREATE_SECURITY_PROFILES", "ROLE_DELETE_SECURITY_PROFILES", "ROLE_GET_OPERATIONS", "ROLE_RUN_AUDITS",
      "ROLE_RUN_PROBATIVE_VALUE", "ROLE_LOGBOOKS", "ROLE_GET_PASTIS", "ROLE_CREATE_PASTIS", "ROLE_UPDATE_PASTIS", "ROLE_DELETE_PASTIS", "ROLE_GET_RULES",
      "ROLE_CREATE_RULES", "ROLE_UPDATE_RULES", "ROLE_DELETE_RULES", "ROLE_IMPORT_AGENCIES", "ROLE_IMPORT_FILE_FORMATS", "ROLE_IMPORT_ONTOLOGIES",
      "ROLE_GET_UNITS", "ROLE_GET_EXTERNAL_PARAMS", "ROLE_GET_ACCESSION_REGISTER_DETAIL", "ROLE_UPDATE_LOGBOOK_OPERATION", "ROLE_GET_ALL_LOGBOOK_OPERATION",
      "ROLE_GET_LOGBOOK_OPERATION", "ROLE_UPDATE_ME_USERS", "ROLE_IMPORT_RULES", "ROLE_GET_FILLING_PLAN_ACCESS", "ROLE_GET_PROFILES", "ROLE_CREATE_PROFILES",
      "ROLE_UPDATE_PROFILES", "ROLE_DELETE_PROFILES", "ROLE_GET_ARCHIVE_PROFILES", "ROLE_UPDATE_ARCHIVE_PROFILES", "ROLE_CREATE_ARCHIVE_PROFILES",
      "ROLE_IMPORT_ARCHIVE_PROFILES", "ROLE_GET_ARCHIVE_PROFILES_UNIT", "ROLE_UPDATE_ARCHIVE_PROFILES_UNIT", "ROLE_CREATE_ARCHIVE_PROFILES_UNIT",
      "ROLE_IMPORT_ARCHIVE_PROFILES_UNIT","ROLE_DELETE_ARCHIVE_PROFILES_UNIT"
    ]
});

print("END 223_security_pastis_ref.js");
