var maxIdProfile = dbIam.getCollection('sequences').findOne({'_id': 'profile_identifier'}).sequence;

dbIam.profiles.insertOne(
    {
        "_id": "system_rules",
        "identifier": NumberInt(maxIdProfile++),
        "name": "Rules Profile",
        "description": "Rules Profile",
        "tenantIdentifier": NumberInt({{ vitamui_platform_informations.proof_tenant }}),
        "applicationName": "RULES_APP",
        "enabled": true,
        "readonly": true,
        "level": "",
        "customerId": "system_customer",
        "roles": [
            { "name": "ROLE_GET_RULES" },
            { "name": "ROLE_CREATE_RULES" },
            { "name": "ROLE_UPDATE_RULES" },
            { "name": "ROLE_DELETE_RULES" }
        ]
    }
);

dbIam.sequences.updateOne(
    { "_id": "profile_identifier" },
    {
        $set: {
            "sequence": NumberInt(maxIdProfile)
        }
    }
);

dbIam.groups.updateOne(
    { "_id": "admin_group" },
    {
        $addToSet: {
            "profileIds": {
                $each: [
                    "system_rules"
                ]
            }
        }
    }
);
