db = db.getSiblingDB('security')

print("START 310_security_ref.js");

db.contexts.updateOne( {
	"_id": "ui_referential_context"
}, {
    $addToSet: {
        "roleNames":  {
            $each: [
            	"ROLE_GET_RULES", "ROLE_CREATE_RULES", "ROLE_UPDATE_RULES", "ROLE_DELETE_RULES"
        	]
        }
    }
});

print("END 310_security_ref.js");