db = db.getSiblingDB('iam')

print("START 321_iam_groups_pastis_ref.js");

// ========================================= GROUPS =========================================

// ----------------------------------------- LEVEL "0" -----------------------------------------
db.groups.updateOne( {
	"_id": "admin_group"
}, {
    $addToSet: {
        "profileIds":  {
            "system_pastis"
        }
    }
});

print("END 321_iam_groups_pastis_ref.js");


