db = db.getSiblingDB('iam')

print("START 322_application_ref.js");

// -------- VITAM ADMINISTRATION -----

db.applications.insert({
    "identifier" : "MANAGEMENT_CONTRACT_APP",
{% if vitamui.referential.base_url is defined %}
 "url": "{{ vitamui.referential.base_url }}/management_contract",
{% endif %}
    "icon" : "vitamui-icon vitamui-icon-ontologie",
    "name" : "Contrats de Gestion",
    "category" : "referential",
    "position" : 22,
    "hasCustomerList" : false,
    "hasTenantList" : false,
    "hasHighlight" : false,
    "tooltip" : "Accéder à l'application des Contrats de gestion",
    "target" : "_self",
    "serviceId": "^https://dev.vitamui.com:4202/.*"
});


print("END 322_application_ref.js");
