<vitamui-common-accordion *ngIf="editObject?.key && editObject?.kind === 'object-array'; else content" [opened]="editObject.open">
  <span class="title">{{ editObject.displayRule.ui.label | translate | empty }}</span>
  <div *ngIf="favoriteEntry" class="title-extra v-col align-items-center favorite-entry">
    <span>{{ favoritePath | translate }}: {{ favoriteEntry[1] | empty }}</span>
  </div>
  <div *ngIf="editObject.actions.add" class="title-extra v-col align-items-center justify-content-end">
    <button
      type="button"
      class="btn link back"
      matTooltip="{{ 'Add an item to ' + editObject.key + ' list' | translate }}"
      matTooltipClass="vitamui-tooltip"
      (click)="add($event)"
    >
      <i class="vitamui-icon vitamui-icon-plus"></i>
    </button>
  </div>
  <div class="content">
    <div *ngTemplateOutlet="content"></div>
  </div>
</vitamui-common-accordion>

<ng-template #content>
  <ng-container *ngIf="editObject?.kind === 'object-array'">
    <div *ngFor="let child of editObject.children; index as i" class="row">
      <div class="col">
        <vitamui-common-group-editor *ngIf="child.type === DisplayObjectType.GROUP" [editObject]="child"></vitamui-common-group-editor>
        <vitamui-common-list-editor *ngIf="child.type === DisplayObjectType.LIST" [editObject]="child"></vitamui-common-list-editor>
        <vitamui-common-primitive-editor
          *ngIf="child.type === DisplayObjectType.PRIMITIVE"
          [editObject]="child"
        ></vitamui-common-primitive-editor>
      </div>
      <div *ngIf="editObject.actions.removeAt" class="col-1">
        <button
          class="mat-icon-button delete-button d-flex justify-content-center align-items-center"
          (click)="removeAt($event, i)"
          matTooltip="{{ 'Remove ' + child.key | translate }}"
          matTooltipClass="vitamui-tooltip"
        >
          <i class="vitamui-icon vitamui-icon-delete icon primary"></i>
        </button>
      </div>
    </div>
  </ng-container>
  <vitamui-common-list-input
    *ngIf="editObject?.kind === 'primitive-array'"
    [placeholder]="editObject.displayRule.ui.label | empty"
    [formControl]="editObject.control"
  ></vitamui-common-list-input>
</ng-template>
