<div class="d-flex">
    <button class="btn primary mb-20" (click)="openUpdateHomepageMessage()" [disabled]="readonly">
      <div>
        {{'COMMON.UPDATE' | translate}}
      </div>
    </button>
</div>

<div class="col-12 d-flex flex-column mt-4">
  <label class="text normal light">{{'CUSTOMER.HOMEPAGE_MESSAGE.PORTAL_TITLE' | translate}}</label>
  <span>{{portalTitle}}</span>
</div>

<div class="col-12 d-flex flex-column mt-4">
  <label class="text normal light">{{'CUSTOMER.HOMEPAGE_MESSAGE.PORTAL_MESSAGE' | translate}}</label>
  {{portalMessage}}
</div>