<div>
  <h1>Banner with searchbar & button</h1>
  <vitamui-common-banner [searchbarPlaceholder]="'Nom, raison sociale, code client, adresse...'" [disableSearchBar]="true">
    <button class="btn primary ml-5">
      <span>Action1</span>
    </button>
  </vitamui-common-banner>
</div>

<div>
  <h1>Banner with searchbar & buttons</h1>
  <vitamui-common-banner [searchbarPlaceholder]="'Nom, raison sociale, code client, adresse...'" [disableSearchBar]="true">
    <button class="btn primary ml-5">
      <span>Action1</span>
    </button>
    <button class="btn primary ml-5">
      <span>Action2</span>
    </button>
    <button class="btn primary ml-5">
      <span>Action3</span>
    </button>
  </vitamui-common-banner>
</div>

<div>
  <h1>Banner with searchbar only</h1>
  <vitamui-common-banner [searchbarPlaceholder]="'Nom, raison sociale, code client, adresse...'" [disableSearchBar]="true"></vitamui-common-banner>
</div>

<div>
  <h1>User photo with default picture</h1>
  <vitamui-common-user-photo></vitamui-common-user-photo>
</div>