.container {
    border-radius: 10px;
    background-color: var(--vitamui-white);
    font-style: Mulish;
    font-weight: 800;
    line-height: 32px;
    margin-bottom: 10px;
}

.margin-btn {
    margin-right: 300px;
}

.message-text-ko {
    color: var(--vitamui-orange);
}

.message-text-ok {
    color: var(--vitamui-green);
}
