.icon-information {
    margin-left: 15px;
    width: 30px;
    height: 31px;
    font-size: 26px;
    font-weight: bold;
    color: var(--vitamui-secondary);
}

.vitamui-mat-select {
    width: 70%;
}

.select-threshold {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
