<div>
  <form [formGroup]="form" class="gap-5">
    <div class="gap-3 w-100 align-items-stretch">
      <vitamui-slide-toggle formControlName="usePlatformThreshold">
        {{ 'EXTERNAL_PARAM_PROFILE.USE_PLATFORM_BULK_OPERATIONS_THRESHOLD_TITLE' | translate }}
      </vitamui-slide-toggle>

      @if (!form.get('usePlatformThreshold').value) {
        <div class="select-threshold">
          <vitamui-select
            class="w-100"
            formControlName="bulkOperationsThreshold"
            [placeholder]="'EXTERNAL_PARAM_PROFILE.MAX_BULK_OPERATIONS_THRESHOLD_TITLE_SIDE_PANEL' | translate"
            [options]="thresholdValues"
            [multiple]="false"
            [enableSearch]="false"
          ></vitamui-select>
          <i
            class="vitamui-icon vitamui-icon-info-circle vitamui-row-icon icon-information"
            [vitamuiTooltip]="'EXTERNAL_PARAM_PROFILE.MAX_BULK_OPERATIONS_THRESHOLD_HELPER' | translate"
            [vitamuiTooltipShowDelay]="300"
          ></i>
        </div>
      }
    </div>

    <button
      type="submit"
      class="btn primary mr-4"
      (click)="submitModification()"
      [disabled]="!isUpdated || form.get('bulkOperationsThreshold').invalid"
    >
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </form>
</div>
