<mat-sidenav-container>
    <mat-sidenav
      mode="side"
      opened
      fixedInViewport
      >
      <mat-list>
        <mat-list-item class="d-flex justify-content-center">
            <vitamui-common-select-language></vitamui-common-select-language>
        </mat-list-item>
        <mat-list-item class="mt-3" routerLink="/arrays">Arrays</mat-list-item>
        <mat-list-item routerLink="/buttons">Buttons</mat-list-item>
        <mat-list-item routerLink="/inputs">Inputs</mat-list-item>
        <mat-list-item routerLink="/breadcrumbs">Breadcrumb</mat-list-item>
        <mat-list-item routerLink="/progress-bar">Progress Bar</mat-list-item>
        <mat-list-item routerLink="/tooltip">Tooltip</mat-list-item>
        <mat-list-item routerLink="/miscellaneous">Miscellaneous</mat-list-item>
        <mat-list-item routerLink="/typography">Typography</mat-list-item>
        <mat-list-item routerLink="/colors">Colors</mat-list-item>
        <mat-list-item routerLink="/icons">Icons</mat-list-item>
        <mat-list-item routerLink=""><i class="material-icons">help</i></mat-list-item>
    </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
