<div class="header"></div>

<div class="content">
  <div class="text medium light">{{ 'PERSISTENT_IDENTIFIER_SEARCH.MODAL.SEARCH_BY_ID' | translate }}</div>
  <span class="text large bold">
    {{ messageKey | translate: { ark: data.ark, date: data.purgedPersistentIdentifier.operationLastPersistentDate | date: 'dd/MM/yyyy' }
    }}<br />
  </span>

  <div class="actions">
    <button (click)="closeDialog()" class="btn primary" type="button">
      {{ 'COMMON.CLOSE' | translate }}
    </button>
  </div>
</div>
