<h2>Icon Library</h2>

<ul>
  <li>
    <i class="vitamui-icon vitamui-icon-user-keys"></i>
    <pre>vitamui-icon-user-keys</pre>
  </li>

  <li>
    <i class="vitamui-icon vitamui-icon-admin-key"></i>
    <pre>vitamui-icon-admin-key</pre>
  </li>

  <li>
    <i class="vitamui-icon vitamui-icon-bank"></i>
    <pre>vitamui-icon-bank</pre>
  </li>

  <li>
    <i class="vitamui-icon vitamui-icon-admin-box"></i>
    <pre>vitamui-icon-admin-box</pre>
  </li>

  <li>
    <i class="vitamui-icon vitamui-icon-keys"></i>
    <pre>vitamui-icon-keys</pre>
  </li>

  <li>
    <i class="vitamui-icon vitamui-icon-link"></i>
    <pre>vitamui-icon-link</pre>
  </li>

  <li>
    <i class="vitamui-icon vitamui-icon-link-key"></i>
    <pre>vitamui-icon-link-key</pre>
  </li>

  <li>
    <i class="vitamui-icon vitamui-icon-return-box"></i>
    <pre>vitamui-icon-return-box</pre>
  </li>

  <li>
    <i class="vitamui-icon vitamui-icon-safe-gear"></i>
    <pre>vitamui-icon-safe-gear</pre>
  </li>

  <li>
    <i class="vitamui-icon vitamui-icon-safe-search"></i>
    <pre>vitamui-icon-safe-search</pre>
  </li>

  <li>
    <i class="vitamui-icon vitamui-icon-search-safe"></i>
    <pre>vitamui-icon-search-safe</pre>
  </li>

  <li>
    <i class="vitamui-icon vitamui-icon-support-box"></i>
    <pre>vitamui-icon-support-box</pre>
  </li>

  <li>
    <i class="vitamui-icon vitamui-icon-support-keys"></i>
    <pre>vitamui-icon-support-keys</pre>
  </li>

</ul>
