<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    <app-context-preview *ngIf="openedItem" (previewClose)="closePanel()" [context]="openedItem"></app-context-preview>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-common-title-breadcrumb>
        {{'CONTEXTS_APP.HOME.TITLE' | translate}}
      </vitamui-common-title-breadcrumb>

      <vitamui-common-banner [searchbarPlaceholder]="'CONTEXTS_APP.HOME.SEARCH_PLACEHOLDER' | translate" (search)="onSearchSubmit($event)">
        <button class="btn primary ml-3" (click)="openCreateContextDialog()">
          <span>{{'CONTEXTS_APP.HOME.CREATE_CONTEXT'  | translate}}</span>
        </button>
      </vitamui-common-banner>
    </div>

    <div class="vitamui-content">
      <app-context-list (contextClick)="showContext($event)" [search]="search"></app-context-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
