<vitamui-dialog-header
  [subhead]="'ONTOLOGY.CREATE_DIALOG.TITLE' | translate"
  [title]="'ONTOLOGY.CREATE_DIALOG.SUBTITLE' | translate"
></vitamui-dialog-header>

<form [formGroup]="form" (ngSubmit)="onSubmit()" cdkFocusInitial>
  <mat-dialog-content class="gap-3">
    <div class="w-100 d-flex align-items-center">
      <vitamui-input
        class="w-100"
        formControlName="identifier"
        [placeholder]="'ONTOLOGY.CREATE_DIALOG.IDENTIFIER' | translate"
        [errorMessageMap]="{
          idExists: 'ONTOLOGY.CREATE_DIALOG.IDENTIFIER_ALREADY_EXISTS' | translate,
          idPattern: 'ONTOLOGY.CREATE_DIALOG.IDENTIFIER_NO_COMPLIANT' | translate,
        }"
      >
      </vitamui-input>
      <i
        class="vitamui-icon vitamui-icon-info align-middle primary ml-3"
        [vitamuiTooltip]="'ONTOLOGY.CREATE_DIALOG.IDENTIFIER_TOOLTIP' | translate"
      ></i>
    </div>

    <div class="w-100 d-flex align-items-center">
      <vitamui-input
        class="w-100"
        formControlName="shortName"
        [placeholder]="'ONTOLOGY.CREATE_DIALOG.NAME' | translate"
        [errorMessageMap]="{
          nameExists: 'ONTOLOGY.CREATE_DIALOG.NAME_ALREADY_EXISTS' | translate,
        }"
      >
      </vitamui-input>
      <i
        class="vitamui-icon vitamui-icon-info align-middle primary ml-3"
        [vitamuiTooltip]="'ONTOLOGY.CREATE_DIALOG.NAME_TOOLTIP' | translate"
      ></i>
    </div>

    <div class="w-100 d-flex align-items-center">
      <vitamui-select
        class="w-100"
        formControlName="type"
        [placeholder]="'ONTOLOGY.CREATE_DIALOG.INDEXING_MODE' | translate"
        [options]="types"
        [multiple]="false"
        [enableSearch]="false"
      ></vitamui-select>
      <i
        class="vitamui-icon vitamui-icon-info align-middle primary ml-3"
        [vitamuiTooltip]="'ONTOLOGY.CREATE_DIALOG.INDEXING_MODE_TOOLTIP' | translate"
      >
      </i>
    </div>

    @if (sizeFieldVisible) {
      <div class="w-100 d-flex align-items-center">
        <vitamui-select
          class="w-100"
          formControlName="stringSize"
          [placeholder]="'ONTOLOGY.CREATE_DIALOG.FIELD_SIZE' | translate"
          [options]="sizes"
          [multiple]="false"
          [enableSearch]="false"
        ></vitamui-select>
        <i
          class="vitamui-icon vitamui-icon-info align-middle primary ml-3"
          [vitamuiTooltip]="'ONTOLOGY.CREATE_DIALOG.SIZE_TOOLTIP' | translate"
        ></i>
      </div>
    }

    <div class="w-100 d-flex align-items-center">
      <vitamui-select
        class="w-100"
        formControlName="collections"
        [placeholder]="'ONTOLOGY.CREATE_DIALOG.COLLECTION' | translate"
        [options]="collections"
        [multiple]="true"
        [enableSearch]="false"
        [enableSelectAll]="false"
        [enableDisplaySelected]="false"
      ></vitamui-select>
      <i
        class="vitamui-icon vitamui-icon-info align-middle primary ml-3"
        [vitamuiTooltip]="'ONTOLOGY.CREATE_DIALOG.COLLECTION_TOOLTIP' | translate"
      >
      </i>
    </div>

    <div class="w-100 d-flex">
      <vitamui-input
        [textarea]="true"
        formControlName="description"
        class="w-100"
        [placeholder]="'ONTOLOGY.CREATE_DIALOG.DESCRIPTION' | translate"
      >
      </vitamui-input>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button type="submit" class="btn primary" [disabled]="form.pending || form.invalid || isDisabledButton">
      {{ 'COMMON.TERMINATE' | translate }}
    </button>
    <button type="button" class="btn cancel link" (click)="onCancel()">
      {{ 'COMMON.UNDO' | translate }}
    </button>
  </mat-dialog-actions>
</form>
