.filing-holding-scheme-tree-invisible {
  display: none;
}

.filing-holding-scheme-tree ul,
.filing-holding-scheme-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.icon-greeny-blue {
  color: var(--vitamui-secondary);
}

.marge {
  margin: 0px;
  margin-left: 30%;
}

.validate-date-small-button {
  background-color: 'green';
  width: 30px;
  height: 30px;
}

.color-background-hack {
  background-color: var(--mat-app-background-color);
}
