@use '../../../../sass/base/typography';

:host {
  @extend .text;
  @extend .normal;
  @extend .bold;

  &.secondary {
    --color: var(--vitamui-secondary);
  }

  &.orange {
    --color: var(--vitamui-orange);
  }

  &.red {
    --color: var(--vitamui-red-900);
  }

  color: var(--color);

  .badge {
    border-radius: 20px;
    padding: 1px 10px;

    &.bordered,
    &.filled {
      border: 2px solid var(--color);
    }

    &.filled {
      color: var(--vitamui-white);
      background-color: var(--color);
    }
  }
}
