:host {
  .row {
    width: fit-content;
    text-align: center;

    .col {
      align-content: center;
    }
  }

  .contrast-container {
    background-color: var(--vitamui-primary-600);
    color: var(--vitamui-white);
  }
}
