<h2>Checkboxes</h2>
<div class="row m-0">
  <div class="col m-0">
    <h3>Default</h3>
    <div class="col mt-4">
      <input type="checkbox" class="vitamui-checkbox" />
      <input type="checkbox" class="vitamui-checkbox" disabled />
      <input type="checkbox" class="vitamui-checkbox" checked disabled />
    </div>
  </div>

  <div class="col m-0">
    <h3>Label</h3>
    <div class="col mt-4">
      <label class="vitamui-checkbox">
        <input type="checkbox" />
      </label>
      <label class="vitamui-checkbox">
        <input type="checkbox" disabled />
      </label>
      <label class="vitamui-checkbox">
        <input type="checkbox" checked disabled />
      </label>
    </div>
  </div>

  <div class="col m-0">
    <h3>Wide label</h3>
    <div class="col mt-4">
      <label class="vitamui-checkbox wide">
        <input type="checkbox" />
      </label>
      <label class="vitamui-checkbox wide">
        <input type="checkbox" disabled />
      </label>
      <label class="vitamui-checkbox wide">
        <input type="checkbox" checked disabled />
      </label>
    </div>
  </div>
</div>
<div class="row m-0">
  <div class="col m-0">
    <h3>Text label</h3>
    <div class="col mt-4">
      <label class="vitamui-checkbox">
        <input type="checkbox" />
        <span>clic me</span>
      </label>
      <label class="vitamui-checkbox">
        <input type="checkbox" disabled />
        <span>clic me</span>
      </label>
      <label class="vitamui-checkbox">
        <input type="checkbox" checked disabled />
        <span>clic me</span>
      </label>
    </div>
  </div>

  <div class="col m-0">
    <h3>Wide text label</h3>
    <div class="col mt-4">
      <label class="vitamui-checkbox wide">
        <input type="checkbox" />
        <span>clic me</span>
      </label>
      <label class="vitamui-checkbox wide">
        <input type="checkbox" disabled />
        <span>clic me</span>
      </label>
      <label class="vitamui-checkbox wide">
        <input type="checkbox" checked disabled />
        <span>clic me</span>
      </label>
    </div>
  </div>
</div>
