.result-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background: white;
  padding: 0 15px;
  border: 1px solid var(--vitamui-grey-400);
  border-radius: 5px;
}

.area-download {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  right: 5px;
}

.disabled-div {
  pointer-events: none;
}
.enabled-div {
  pointer-events: painted;
}
