.ok{
  flex-flow: row;
}

.pastis-button {
  background-color: transparent;
  border-width: 0px;
  color: var(--vitamui-primary-600);
}

.other-icon {
  padding: 6px;
}

.editable-field-actions {
  display: inline;
}

.editable-field-confirm {
  margin-right: 2px;
}

.pastis-input-edit {
  padding: 10px;
  border: 1px solid var(--buttons-border);
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(33, 33, 33, 0.2), 0px 1px 4px rgba(33, 33, 33, 0.05);
}