@use 'mixins/elevation' as elevation;

.ok {
  flex-flow: row;
}

.pastis-button {
  background-color: transparent;
  border-width: 0px;
  color: var(--vitamui-primary-600);
}

.other-icon {
  padding: 6px;
}

.editable-field-actions {
  display: inline;
}

.editable-field-confirm {
  margin-right: 2px;
}

.pastis-input-edit {
  padding: 10px;
  border: 1px solid var(--buttons-border);
  border-radius: 5px;
  @include elevation.shadow-accessible;
}
