.ok{
  z-index: 999;
}

.pastis-button {
  border: var(--buttons-border);
  
  background-color: var(--vitamui-primary-600);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition-property: all;
	transition-duration: .5s;
  border-radius: 10% ;
  font-family: Mulish;
  color: white;
  padding: 10px;
}

.pastis-input-edit {
  padding: 10px;
  border-radius: 10% ;
  border: var(--buttons-border);
}