@if (editmode) {
  <span>
    <input (click)="$event.stopPropagation()" class="pastis-input-edit" [(ngModel)]="editText" type="text" />
  </span>
} @else {
  <span class="mr-3">{{ node.editName ? node.editName : node.name }}</span>
}
<span class="ml-1">
  @if (!editmode) {
    <button class="pastis-button" (click)="$event.stopPropagation()" (click)="edit()">
      <i class="material-icons edit-icon">edit</i>
    </button>
  }

  @if (editmode) {
    <div class="editable-field-actions">
      <button type="button" class="editable-field-confirm" (click)="$event.stopPropagation(); save()">
        <i class="material-icons other-icon">check</i>
      </button>
      <button type="button" class="editable-field-cancel" (click)="$event.stopPropagation(); cancel()">
        <i class="material-icons other-icon">clear</i>
      </button>
    </div>
  }
</span>
