<div class="container">
  <form [formGroup]="storageRuleCriteriaForm">
    <div class="row justify-content-start">
      <div class="form-control">
        <p class="title-text">{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.STORAGE_TITLE' | translate }}</p>
      </div>
    </div>

    <div class="row justify-content-start">
      <div class="col-5 form-control">
        <vitamui-common-editable-input
          formControlName="storageRuleIdentifier"
          [validator]="storageRuleCriteriaForm?.get('storageRuleIdentifier')?.validator"
          [asyncValidator]="storageRuleCriteriaForm?.get('storageRuleIdentifier')?.asyncValidator"
          label="{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.ID_DUA' | translate }}"
          minlength="1"
        >
          <vitamui-common-field-error errorKey="required">{{ 'COMMON.REQUIRED' | translate }} </vitamui-common-field-error>
          <vitamui-common-field-error errorKey="ruleIdPattern"
            >{{ 'ARCHIVE_SEARCH.RULE.WRONG_FORMAT' | translate }}
          </vitamui-common-field-error>

          <vitamui-common-field-error errorKey="ruleIdExists"
            >{{ 'ARCHIVE_SEARCH.RULE.CODE_NOT_EXIST' | translate }}
          </vitamui-common-field-error>
        </vitamui-common-editable-input>
      </div>
      <div class="col-1 form-control"></div>
      <div class="col-5 form-control">
        <vitamui-common-editable-input
          formControlName="storageRuleTitle"
          [validator]="storageRuleCriteriaForm?.get('storageRuleTitle')?.validator"
          label="{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.TITLE_DUA' | translate }}"
        >
        </vitamui-common-editable-input>
      </div>
      <div class="col-1 form-control"></div>
    </div>

    <div class="row justify-content-start">
      <div class="col-11 form-control">
        <p class="title-text">{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_DUA' | translate }}</p>
      </div>
    </div>

    <div class="row justify-content-start">
      <div class="col-5 form-control">
        <div class="vitamui-input" (click)="pickerBeginDua.open()">
          <span
            *ngIf="!storageRuleCriteriaForm.get('storageRuleStartDate').value; else showBeginDtDua"
            (click)="pickerBeginDua.open()"
            class="search-date-label"
            >{{
              (endDateInterval
                ? 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_DUA_BEGIN'
                : 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_DUA_EQUAL'
              ) | translate
            }}</span
          >
          <ng-template #showBeginDtDua
            ><span (click)="pickerBeginDua.open()"
              >{{ storageRuleCriteriaForm.get('storageRuleStartDate').value | dateTime: 'dd/MM/yyyy' }}
            </span>
          </ng-template>
          <input
            class="hidden"
            size="0"
            [matDatepicker]="pickerBeginDua"
            formControlName="storageRuleStartDate"
            [max]="storageRuleCriteriaForm.get('storageRuleEndDate').value"
          />
          <mat-datepicker #pickerBeginDua></mat-datepicker>
        </div>
      </div>
      <div class="col-1 form-control">
        <button
          class="validate-action-button"
          *ngIf="!endDateInterval && storageRuleCriteriaForm.get('storageRuleStartDate').value"
          type="button"
          mat-mini-fab
          (click)="addBeginDtDuaCriteria()"
        >
          <i class="material-icons">check</i>
        </button>
      </div>

      <div class="col-4 form-control">
        <p *ngIf="!endDateInterval" class="title-text text-clicable-uppercase" (click)="updateEndDateInterval(true)">
          {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.STORAGE_RULE.CREATE_INTERVAL' | translate }}
        </p>

        <div class="vitamui-input" (click)="pickerEndDua.open()" *ngIf="endDateInterval">
          <span
            *ngIf="!storageRuleCriteriaForm.get('storageRuleEndDate').value; else showEndDtDua"
            (click)="pickerEndDua.open()"
            class="search-date-label"
            >{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_DUA_END' | translate }}</span
          >
          <ng-template #showEndDtDua
            ><span (click)="pickerEndDua.open()"
              >{{ storageRuleCriteriaForm.get('storageRuleEndDate').value | dateTime: 'dd/MM/yyyy' }}
            </span>
          </ng-template>
          <input
            class="hidden"
            size="0"
            [matDatepicker]="pickerEndDua"
            formControlName="storageRuleEndDate"
            [min]="storageRuleCriteriaForm.get('storageRuleStartDate').value"
          />
          <mat-datepicker #pickerEndDua></mat-datepicker>
        </div>
      </div>
      <div class="col-1 form-control">
        <button
          class="validate-date-small-button"
          *ngIf="
            endDateInterval &&
            storageRuleCriteriaForm.get('storageRuleStartDate').value &&
            storageRuleCriteriaForm.get('storageRuleEndDate').value
          "
          type="button"
          mat-mini-fab
          (click)="addIntervalDtDuaCriteria()"
        >
          <i class="material-icons">check</i>
        </button>
      </div>
      <div class="col-1 form-control">
        <p *ngIf="endDateInterval" class="title-text text-clicable-uppercase" (click)="updateEndDateInterval(false)">
          {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.STORAGE_RULE.DELETE_INTERVAL' | translate }}
        </p>
      </div>
    </div>

    <div class="row justify-content-around">
      <div class="col-4 form-control">
        <div class="row criteria-choice">
          <p class="title-text">
            {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.TITLE' | translate }}
          </p>
        </div>
        <div class="row">
          <label class="criteria-checkbox-choice">
            <input
              type="checkbox"
              (click)="checkBoxChange('ORIGIN_HAS_AT_LEAST_ONE', $event)"
              id="HAS_AT_LEAST_ONE_RULE_ORIGIN"
              [checked]="storageAdditionalCriteria.get('ORIGIN_HAS_AT_LEAST_ONE')"
            />
            <span>{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.HAS_AT_LEAST_ONE_STORAGE_RULE' | translate }}</span>
          </label>
        </div>
        <div class="row">
          <label class="criteria-checkbox-choice">
            <input
              type="checkbox"
              (click)="checkBoxChange('ORIGIN_INHERITE_AT_LEAST_ONE', $event)"
              id="INHERITE_AT_LEAST_ONE_RULE_ORIGIN"
              [checked]="storageAdditionalCriteria.get('ORIGIN_INHERITE_AT_LEAST_ONE')"
            />
            <span>{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.INHERITE_AT_LEAST_ONE_STORAGE_RULE' | translate }}</span>
          </label>
        </div>

        <div class="row">
          <label class="criteria-checkbox-choice">
            <input
              id="HAS_NO_RULE_ORIGIN"
              type="checkbox"
              (click)="checkBoxChange('ORIGIN_HAS_NO_ONE', $event)"
              [checked]="storageAdditionalCriteria.get('ORIGIN_HAS_NO_ONE')"
            />
            <span>{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.HAS_NO_STORAGE_RULE' | translate }}</span>
          </label>
        </div>
        <div class="row">
          <label class="criteria-checkbox-choice">
            <input
              id="WAITING_TO_RE_CALCULATE_RULE_ORIGIN"
              type="checkbox"
              (click)="checkBoxChange('ORIGIN_WAITING_RECALCULATE', $event)"
              [checked]="storageAdditionalCriteria.get('ORIGIN_WAITING_RECALCULATE')"
            />
            <span>{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.WAITING_TO_RE_CALCULATE_STORAGE_RULE' | translate }}</span>
          </label>
        </div>
      </div>
      <div class="col-4 form-control">
        <div class="row criteria-choice">
          <p class="title-text">
            {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.FINAL_ACTION_TYPE.TITLE' | translate }}
          </p>
        </div>

        <div class="row">
          <label class="criteria-checkbox-choice">
            <input
              id="HAS_FINAL_ACTION_TYPE"
              type="checkbox"
              (click)="checkBoxChange('FINAL_ACTION_HAS_FINAL_ACTION', $event)"
              [checked]="storageAdditionalCriteria.get('FINAL_ACTION_HAS_FINAL_ACTION')"
            />
            <span>{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.FINAL_ACTION_TYPE.HAS_STORAGE_RULE' | translate }}</span>
          </label>
        </div>
        <div class="row">
          <label class="criteria-checkbox-choice">
            <input
              type="checkbox"
              id="INHERITE_FINAL_ACTION_TYPE"
              (click)="checkBoxChange('FINAL_ACTION_INHERITE_FINAL_ACTION', $event)"
              [checked]="storageAdditionalCriteria.get('FINAL_ACTION_INHERITE_FINAL_ACTION')"
            />
            <span>{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.FINAL_ACTION_TYPE.INHERITE_STORAGE_RULE' | translate }}</span>
          </label>
        </div>
      </div>
      <div class="col-3 form-control">
        <div class="row criteria-choice">
          <p class="title-text">
            {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.FINAL_ACTION.TITLE' | translate }}
          </p>
        </div>

        <div class="row">
          <label class="criteria-checkbox-choice">
            <input
              type="checkbox"
              (click)="checkBoxChange('FINAL_ACTION_TYPE_COPY', $event)"
              id="COPY_FINAL_ACTION"
              [checked]="storageAdditionalCriteria.get('FINAL_ACTION_TYPE_COPY')"
            />
            <span>{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.FINAL_ACTION.COPY_STORAGE_RULE' | translate }}</span>
          </label>
        </div>

        <div class="row">
          <label class="criteria-checkbox-choice">
            <input
              type="checkbox"
              id="TRANSFER_FINAL_ACTION"
              (click)="checkBoxChange('FINAL_ACTION_TYPE_TRANSFER', $event)"
              [checked]="storageAdditionalCriteria.get('FINAL_ACTION_TYPE_TRANSFER')"
            />
            <span>{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.FINAL_ACTION.TRANSFER_STORAGE_RULE' | translate }}</span>
          </label>
        </div>
        <div class="row">
          <label class="criteria-checkbox-choice">
            <input
              type="checkbox"
              id="RESTRICT_ACCESS_FINAL_ACTION"
              (click)="checkBoxChange('FINAL_ACTION_TYPE_RESTRICT_ACCESS', $event)"
              [checked]="storageAdditionalCriteria.get('FINAL_ACTION_TYPE_RESTRICT_ACCESS')"
            />
            <span>{{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.FINAL_ACTION.RESTRICT_ACCESS_STORAGE_RULE' | translate }}</span>
          </label>
        </div>
      </div>
    </div>
  </form>
</div>
