@import '../../../../sass/variables/colors';

:host {
    display: flex;
    flex-direction: column;

    .drag-and-drop-area {
        border: 2px dashed var(--vitamui-grey-600);
        border-radius: 6px;
    }
    
    .on-over {
        border: 2px solid var(--vitamui-grey-600);
    
        .drop-area {
            background: var(--vitamui-grey-900);
            opacity: 0.9;
            color: white;
        }
    }
    
    .pj {
        transform: rotate(45deg);
    }
    
    .small {
        color: var(--vitamui-grey-700);
    }

    .pointer {
        cursor: pointer;
    }
    
    img {
        max-width: 100%;
        max-height: 100%;
    }

    .drop-area {
        height: 100%;
    }

    .error-message {
        color: $red;
    }

    .disabled {
        pointer-events:none;
        opacity: .4;
    }

    .contents {
        display: contents;
    }

    .delete {
        position: relative;
        top: 3px;
        right: -212px;
        height: 0;
    }
}