<script th:inline="javascript">
    /*<![CDATA[*/

    var policyPattern = /*[[${policyPattern}]]*/;
      var passwordStrengthI18n = {
          0: /*[[#{screen.pm.password.strength.0}]]*/,
          1: /*[[#{screen.pm.password.strength.1}]]*/,
          2: /*[[#{screen.pm.password.strength.2}]]*/,
          3: /*[[#{screen.pm.password.strength.3}]]*/,
          4: /*[[#{screen.pm.password.strength.4}]]*/
      };

    /*]]>*/
</script>

	<header>
		<p th:utext="${expiredPass} ? #{screen.expiredpass.heading} : #{screen.mustchangepass.heading}">
			Change Password Heading
		</p><br>
	</header>
	<form id="passwordManagementForm" th:if="${passwordManagementEnabled}" method="post" th:object="${password}" class="password-init">

       <div class="form-control w85">

           <input required class="required"
               type="password"
               name="password" th:placeholder="#{cas.authentication.password.new}"
               id="password"
               size="25"
               tabindex="2" oninput="checkRules();"
               th:accesskey="#{screen.welcome.label.password.accesskey}"
               th:field="*{password}">
       </div>
       <br>
       <div class="form-control flex">

           <input required class="required"
               type="password"
               name="confirmedPassword" th:placeholder="#{cas.authentication.password.confirm}"
               id="confirmedPassword"
               size="25"
               tabindex="2" oninput="checkRules();"
               th:accesskey="#{screen.welcome.label.password.accesskey}"
               th:field="*{confirmedPassword}"/>
           <span id="capslock-on" style="display:none;">
               <p>
                   <i class="fa fa-exclamation-circle"></i>
                   <span th:utext="#{screen.capslock.on}"/>
               </p>
           </span>
	       <button type="submit" class="vitamui-primary" name="submit" id="submit" accesskey="s" th:value="#{screen.pm.button.submit}" disabled="true">
	       OK
	       </button>
		</div>

        <br>
        <div id="password-policy-text" class="error-field" hidden>
            <span th:utext="#{screen.pm.init.security.policy}"></span>
        </div>
        <div th:if="${#fields.hasErrors('*')}" class="error-field">
			<span th:each="err : ${#fields.errors('*')}" th:utext="${err}">Error text</span>
        </div>
		<input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
		<input type="hidden" name="_eventId" value="submit"/>


		<p th:unless="${passwordManagementEnabled}" th:utext="${expiredPass} ? #{screen.expiredpass.message} : #{screen.mustchangepass.message}">
 			Expired/Must Change Password text
	    </p>

	</form>

<div class="helper password-helper">
    <span th:utext="#{screen.pm.init.security.title}">For security reasons, your should have :</span>
    <ul>
        <li id="security-valid-password">
            <span th:utext="#{screen.pm.init.security.valid.password}"></span>
            <i class="material-icons">check</i>
        </li>
        <li id="security-four">
            <span th:utext="#{screen.pm.init.security.four}"></span>
            <i class="material-icons">check</i>
        </li>
    </ul>
</div>

<span class="collapsible" style="color: #aab0b3;">
    <span th:utext="#{screen.pm.init.security.password.constraints}" class="collapsible">Password constraints validity</span>
    <i class="material-icons " style="font-size: 14px;">remove</i>
</span>

<div class="content" style="display: none">
    <ul id="collapsible" style="color:#aab0b3">
        <div th:if="${application.passwodAnssiConstraints != null}">

            <li th:if="${application.passwodAnssiConstraints.messages != null}"
                th:each="message : ${application.passwodAnssiConstraints.messages}" th:text="${message}">
            </li>

            <li th:if="${application.passwodAnssiConstraints != null && application.passwodAnssiConstraints.specialChars != null && application.passwodAnssiConstraints.specialChars.title != null}"
                th:utext="${application.passwodAnssiConstraints.specialChars.title}">
            </li>

            <ul>
                <li th:if="${application.passwodAnssiConstraints != null && application.passwodAnssiConstraints.specialChars != null && application.passwodAnssiConstraints.specialChars.messages != null}"
                    th:each="specials : ${application.passwodAnssiConstraints.specialChars.messages}" th:text="${specials}">
                </li>
            </ul>

        </div>

        <div th:if="${application.passwodCustomConstraints != null}">
            <ul>
                <li th:if="${application.passwodCustomConstraints != null && application.passwodCustomConstraints.messages != null}"
                    th:each="message : ${application.passwodCustomConstraints.messages}" th:text="${message}"></li>
            </ul>

        </div>
    </ul>
</div>
<br/>
<br/>

<script>
        function checkRules() {

        	var password = $("#password").val();
        	var confirmPassword = $("#confirmedPassword").val();

            checkValidity(password);
			checkPasswordAndConfirmPasswordMatches(password,confirmPassword);
        }

        function checkValidity(password) {
            var policyPatternRegex = new RegExp(policyPattern);
        	var valid = policyPatternRegex.test(password);
        	checkRule(valid, "#security-valid-password");
        }

        function checkPasswordAndConfirmPasswordMatches(password, confirmPassword) {
        	checkRule(password == confirmPassword && password.length > 0,"#security-four");
        }

        function checkRule(valid, liToVerify) {
        	if(valid) {
        		$(liToVerify).addClass("valid");
        	} else {
        		$(liToVerify).removeClass("valid");
        	}
        }

        var coll = document.getElementsByClassName("collapsible");
          coll[0].addEventListener("click", function() {
            this.classList.toggle("active");
            var i = this.lastElementChild;
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
              i.innerHTML='add'
            } else {
              content.style.display = "block";
              i.innerHTML='remove'
            }
          });
</script>
