.explorer-banner {
    border-radius: 5px;
    background-color: white;
    margin-top: 80px;
    display: flex;

    .back-button {
        padding: 30px;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-right: 1px solid #f7f8fb;

        > i {
            font-size: 18px;
            color: $greeny-blue;
            background: #e7f5f2;
            border-radius: 15px;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            transition: color .2s ease-out,background-color .2s ease-out;
        }

        &:hover > i {
            background-color: $greeny-blue;
            color: #fff;
        }
    }

    .explorer-banner-container {
        display: flex;
        flex-grow: 1;

        .explorer-banner-content {
            padding: 30px;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .explorer-banner-header {
                display: flex;
                align-items: center;

                .explorer-banner-icon {
                    padding-right: 10px;

                    i.vitamui-icon {
                        font-size: 30px;
                        color: #666666;
                    }
                }

                .explorer-banner-date,
                .explorer-banner-title-bold {
                    font-size: 20px;
                    font-weight: 500;
                    padding: 0 10px;
                }

                .explorer-banner-title {
                    font-size: 20px;
                    font-weight: 300;
                    flex-grow: 1;
                    padding: 0 10px;
                }

            }

        }

        .explorer-banner-actions {
            padding: 30px 50px;
            display: flex;
            align-items: center;

            .btn-download {
                margin-right: 20px;
                display: flex;
                align-items: center;
                text-decoration: none;

                > i {
                    margin-right: 10px;
                }

                &.disabled {
                    opacity: 0.4;
                }
            }

            .btn-circle-large {
                width: 50px;
                height: 50px;

                > i {
                    font-size: 34px;
                }
            }
        }
    }
}
