$anim-timing: 150ms ease-out;

.vitamui-input {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;
    border-radius: 4px;
    border: none;
    background-color: white;
    padding: 8px 30px;
    transition: border-color $anim-timing;
    vertical-align: top;

    &:not(.editable-field) {
        height: 60px;
    }

    &:not(.disabled) {
        box-shadow: 0px 4px 24px rgba(var(--vitamui-grey-rgb), 0.6);
    }

    &:focus {
        @include elevation-0;

        &:not(.disabled) {
            border: 1px solid var(--vitamui-primary);
        }
    }

    label {
        position: absolute;
        font-size: 14px;
        font-weight: 700;
        color: var(--vitamui-primary);
        letter-spacing: 0.1px;
        line-height: 10px;
        white-space: nowrap;
        transform-origin: left;
        transition: transform $anim-timing;

        .required-marker {
            color: $red;
        }
    }


    input, textarea {
        font-size: 16px;
        font-weight: 700;
        color: var(--vitamui-grey-900);
        background: none;
        border: none;
        outline: none;
    }

    input{
        line-height: 18px;
        transform-origin: left;
        transition: margin $anim-timing;
        width: 100%;
    }

    textarea {
        resize: none;
        width: 100%;
        height: 80%;
    }

    &.disabled {
        background-color: var(--vitamui-grey-300);
        border: none;
    }
    
    &.disabled > * {
        cursor: no-drop;
    
        input {
            color: var(--vitamui-grey-900);
        }
    }
}

.vitamui-focused .vitamui-input {
    border: solid 1px var(--vitamui-primary);
}

.vitamui-focused .vitamui-input,
.vitamui-float .vitamui-input {
    label:first-of-type {
        transform: scale((12 / 14)) translateY(-12px);
        letter-spacing: 0.4px;
        line-height: 10px;
    }

    input {
        margin-top: 15px;
        padding: 0px;
    }
    textarea {
        margin-top: 25px;
        padding: 0px;
    }
}

