@import './mixins/breakpoints';

$header-height: 72px !default;
$footer-height: 100px !default;

.vitamui-heading {
    margin-bottom: 3rem;
}

// Defaut supported screen width is 1920px
.vitamui-content, .vitamui-heading {
    max-width: $large-widh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @include breakpoint(mediumScreen) {
        max-width: $medium-widh;
    }

    @include breakpoint(smallScreen) {
        max-width: $small-widh;
    }
}

/**** DEPRECATED : REMOVE AT THE END OF THE REDESIGN **/
.vitamui-header {
    background-size: cover;
    background-position: center;
    padding-top: 1rem;

    .vitamui-container {
        padding-bottom: 62px;
    }

    .controls {
        display: flex;
        align-items: center;
        text-align: right;
        justify-content: space-between;

        .btn {
            margin-left: 20px;
        }

        .actions {
            display: flex;
        }
    }

    > h2 {
        // TODO Rename this variable in angular-commons
        @include login-title;
        margin-top: 67.5px;

        img {
            width: 37px;
            vertical-align: middle;
            margin-right: 17px;
        }
    }
}

.vitamui-header > .vitamui-container > h2 {
    // TODO Rename this variable in angular-commons
    @include login-title;
    margin-top: 67.5px;
    color: $charcoal-grey;
    font-weight: 500;

    img {
        width: 37px;
        vertical-align: middle;
        margin-right: 17px;
    }
}

.vitamui-body {
    min-height: calc(100vh - #{$header-height + $footer-height});
}