$header-height: 72px !default;
$footer-height: 100px !default;

.vitamui-heading {
    margin-bottom: 3rem;
    max-width: 1440px;
    margin: 0 240px;
}

.vitamui-content {
    max-width: 1440px;
    margin: 0 240px;
}

/** RESPONSIVE MANAGEMENT */
@media screen and (max-width: 1440px) {
    .vitamui-heading, .vitamui-content {
        max-width: 1200px;
        margin: 0 120px;
    }
}
  
@media screen and (max-width: 1200px) {
    .vitamui-heading, .vitamui-content {
        max-width: 1060px;
        margin: 0 70px;
    }
}

.vitamui-body {
    min-height: calc(100vh - #{$header-height + $footer-height});
}

/**** DEPRECATED : REMOVE AT THE END OF THE REDESIGN **/
.vitamui-header {
    background-image: url('/assets/background.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 1rem;

    .vitamui-container {
        padding-bottom: 62px;
    }

    .controls {
        display: flex;
        align-items: center;
        text-align: right;
        justify-content: space-between;

        .btn {
            margin-left: 20px;
        }

        .actions {
            display: flex;
        }
    }

    > h2 {
        // TODO Rename this variable in angular-commons
        @include login-title;
        margin-top: 67.5px;

        img {
            width: 37px;
            vertical-align: middle;
            margin-right: 17px;
        }
    }
}


.bg-fingerprint {
    z-index: -2;
    position: fixed;
    bottom: -70px;
    right: -20px;
    width: 700px;
}

.vitamui-header > .vitamui-container > h2 {
    // TODO Rename this variable in angular-commons
    @include login-title;
    margin-top: 67.5px;
    color: $charcoal-grey;
    font-weight: 500;

    img {
        width: 37px;
        vertical-align: middle;
        margin-right: 17px;
    }
}
