.vitamui-sidepanel {
    background: white;
    margin-top: 72px; // header height
    width: 584px;
    height: 100vh;
}

.vitamui-sidepanel-header {
    background-color: white;
    padding: 5px 15px 10px 10px;
    height: 142px;

    .title {
        display: flex;
        align-items: center;
        padding: 0 30px;

        > i {
            color: var(--vitamui-grey-900);
            font-size: 45px;
        }

        // DEPREACTED : REMOVE THIS H2 CSS AT THE END OF THE REDESIGN
        > h2 {
            color: var(--vitamui-grey-900);
            padding-left: 1.5rem;
            line-height: 24px;
            margin: 0;
            width: 71%;
        }

        > div:first-of-type {
            width: 66%;
            padding-left: 1.5rem;

            > p {
                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
            }
        }

        > .actions {
            width: 25%;
        }
    }
}

.vitamui-sidepanel-body {
    font-size: 16px;
    
    color: var(--vitamui-grey-900);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 214px;
    overflow: auto;
}

.mat-drawer-content {
    background-color: var(--vitamui-background);
}

.overflow-none.mat-drawer-content {
    overflow: visible;
}

.mat-drawer-inner-container {
    overflow: hidden!important;
}