table.vitamui-table {
    color: $charcoal-grey-two;
    font-size: 15px;
    width: 100%;
    border-collapse: collapse;

    &.fixed-layout {
        table-layout: fixed;

        td {
            width: 100%;
            word-break: break-word;
        }

        th {
            width: 100%;
            white-space: normal;
        }
    }

    tr {
        transition: background-color 200ms ease-out;

        &:hover td .row-expand-btn {
            display: inline-flex;
        }

    }

    th {
        text-align: left;
        padding: 10px 18px;
        color: #666666;
        white-space: nowrap;

        &:first-child:not(.no-first-cell-padding) {
            padding-left: 40px;
        }

        .vitamui-table-header {
            display: flex;
            align-items: center;
        }
    }

    td {
        padding: 10px 18px;
        vertical-align: middle;
        font-weight: normal;

        &:first-child:not(.no-first-cell-padding) {
            padding-left: 40px;
        }

        &:last-child {
            padding-right: 0px;
        }
    }

    td.no-padding {
        padding: 0;
    }

    td.align-top {
        vertical-align: top;
    }

    td .row-expand-btn {
        display: none;
        color: white;
        min-height: 60px;
        height: 100%;
        width: 60px;
        background-color: #B6E1D9;
        border: none;
        padding: 0;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        outline: none;
    }

    .text-center {
        text-align: center;
    }

    tr {
        td, th {
            position: relative;
            height: 60px;

            &:not(.no-border):before {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                border-top: 1px solid $white-three;
            }
        }
    }

    tr.row-expanded {
        background: white;

        &:not(.no-hover):hover {
            background-color: #e7f5f2;
        }
    }

    tr.sub-table {
        background: white;

        table.vitamui-table {
            margin-bottom: 10px;

            td {
                padding: 5px 18px;
                height: 36px;
            }

            tr:last-child > td:before {
                border-top: none;
            }
        }

        > td {
            padding: 0;
            height: auto;
        }
    }

    .caret {
        color: $white-four;
    }

    .vitamui-row-icon {
        font-size: 24px;
        vertical-align: middle;
    }

    td .vitamui-row-icon {
        color: #b7b7b7;
    }

    tbody > tr:not(.no-hover):hover {
        background-color: rgba(92, 186, 169, 0.15);
    }

    tr.clickable, td.clickable {
        cursor: pointer;
    }

    .vitamui-table-row {
        .actions {
            white-space: nowrap;
            visibility: hidden;
            text-align: right;
        }

        .actions {
            padding-right: 20px;

            > button {
                opacity: 0;
                transform: translateX(20%);
                transition: all 150ms ease-in;
            }
        }

        &:hover .actions {
            visibility: visible;

            > button {
                opacity: 1;
                transform: translateX(0);
                transition-timing-function: ease-out;
            }
        }

    }
}

.vitamui-table-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    height: 50px;
    color: $charcoal-grey-two;
}

.btn-orderby {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: #d8d8d8;
    transition: color 200ms ease-out;

    &.active {
        color: var(--vitamui-secondary);
    }

    > i {
        transition: transform 200ms ease-out;
    }

    &.upside-down > i {
        transform: rotate(180deg);
    }
}

.vitamui-filter-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-right: 10px;
    color: $greyish;

    &.active {
        color: var(--vitamui-secondary);
    }
}
