@import "variables";
@import "mixins";

@import "material";
@import "app-loader";
@import "badge";
@import "button";
@import "chip";
@import "editable-field";
@import "file";
@import "form";
@import "icon";
@import "layout";
@import "modal";
@import "navbar";
@import "preview";
@import "search-bar";
@import "sidepanel";
@import "table";
@import "title";
@import "tooltip";
@import "explorer-banner";

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: $pale-grey;
}

* {
    box-sizing: border-box;
}
