<ng-container *ngIf="criteriaKey && criteriaVal">
  <ng-container *ngIf="criteriaKey !== 'NODE'">
    <div id="chip">
      <ul class="vitamui-search-criteria-list">
        <li class="vitamui-search-criteria">
          <ng-container *ngFor="let criteriaValue of criteriaVal.values; let index = index; let isFirst = first; let isLast = last">
            <div
              class="vitamui-search-criteria-content"
              matTooltip="{{
                (criteriaValue.keyTranslated
                  ? ('ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.' + getCategoryName(criteriaVal.category) + '.' + criteriaVal.label | translate)
                  : criteriaVal.label) +
                  ' : ' +
                  criteriaValue.label
              }}"
              matTooltipClass="vitamui-tooltip"
              [matTooltipShowDelay]="300"
              [ngClass]="[
                isFirst ? 'left-arround' : 'left-not-arround',
                criteriaValue.status === 'INCLUDED' ? 'after-search-launched-button' : 'before-search-launched-button'
              ]"
              class="button-content right-button"
            >
              <ng-container *ngIf="isFirst">
                {{
                  (criteriaValue.keyTranslated
                    ? ('ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.' + getCategoryName(criteriaVal.category) + '.' + criteriaVal.label
                      | translate)
                    : criteriaVal.label) +
                    ' : ' +
                    (criteriaValue.valueTranslated
                      ? ('ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.' + getCategoryName(criteriaVal.category) + '.' + criteriaValue.label
                        | translate)
                      : (criteriaValue.label | truncate: 45))
                }}
              </ng-container>
              <ng-container *ngIf="!isFirst">
                {{
                  criteriaValue.valueTranslated
                    ? ('ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.' + getCategoryName(criteriaVal.category) + '.' + criteriaValue.label
                      | translate)
                    : (criteriaValue.label | truncate: 45)
                }}
              </ng-container>
            </div>
            <div
              class="vitamui-remove-search-criteria"
              *ngIf="criteriaValue.status !== 'IN_PROGRESS'"
              (click)="removeCriteria(criteriaKey, criteriaValue.value)"
              [ngClass]="[
                isLast ? 'right-arround' : 'right-button',
                criteriaValue.status === 'INCLUDED' ? 'after-search-launched-button' : 'before-search-launched-button'
              ]"
            >
              <i class="vitamui-icon vitamui-icon-cross vitamui-row-icon"></i>
            </div>

            <div
              *ngIf="criteriaValue.status === 'IN_PROGRESS'"
              class="vitamui-remove-search-criteria"
              [ngClass]="[
                isLast ? 'right-arround' : 'right-button',
                criteriaValue.status === 'INCLUDED' ? 'after-search-launched-button' : 'before-search-launched-button'
              ]"
            >
              <i class="vitamui-icon vitamui-icon-loop2 vitamui-row-icon"></i>
            </div>

            <div
              class="vitamui-or-criteria-content"
              *ngIf="!isLast"
              [ngClass]="[criteriaValue.status === 'INCLUDED' ? 'after-search-launched-button' : 'before-search-launched-button']"
              class="button-or left-not-arround right-button"
            >
              {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_OR' | translate }}
            </div>
          </ng-container>
        </li>
      </ul>
    </div>
  </ng-container>
  <ng-container *ngIf="criteriaKey === 'NODE'">
    <div id="chip">
      <ul class="vitamui-search-criteria-list">
        <li class="vitamui-search-criteria">
          <ng-container *ngFor="let criteriaValue of criteriaVal.values; let index = index; let isFirst = first; let isLast = last">
            <div
              class="vitamui-search-criteria-content"
              matTooltip="{{
                (criteriaValue.keyTranslated
                  ? ('ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.' + criteriaVal.label | translate)
                  : criteriaVal.label) +
                  ' : ' +
                  criteriaValue.label
              }}"
              matTooltipClass="vitamui-tooltip"
              [matTooltipShowDelay]="300"
              [ngClass]="[
                isFirst ? 'left-arround' : 'left-not-arround',
                criteriaValue.status === 'INCLUDED' ? 'after-search-launched-button' : 'before-search-launched-button'
              ]"
              class="button-content right-button"
            >
              <ng-container *ngIf="isFirst">
                <i class="vitamui-icon vitamui-icon-target vitamui-row-icon"></i>
                {{
                  (criteriaValue.keyTranslated
                    ? ('ARCHIVE_SEARCH.SEARCH_CRITERIA_FILTER.FIELDS.' + criteriaVal.label | translate)
                    : criteriaVal.label) +
                    ' : ' +
                    criteriaValue.label | truncate: 45
                }}
              </ng-container>
              <ng-container *ngIf="!isFirst">
                {{ criteriaValue.label | truncate: 45 }}
              </ng-container>
            </div>
            <div
              class="vitamui-remove-search-criteria"
              *ngIf="criteriaValue.status !== 'IN_PROGRESS'"
              (click)="removeCriteria(criteriaKey, criteriaValue.value)"
              [ngClass]="[
                isLast ? 'right-arround' : 'right-button',
                criteriaValue.status === 'INCLUDED' ? 'after-search-launched-button' : 'before-search-launched-button'
              ]"
            >
              <i class="vitamui-icon vitamui-icon-cross vitamui-row-icon"></i>
            </div>

            <div
              *ngIf="criteriaValue.status === 'IN_PROGRESS'"
              class="vitamui-remove-search-criteria"
              [ngClass]="[
                isLast ? 'right-arround' : 'right-button',
                criteriaValue.status === 'INCLUDED' ? 'after-search-launched-button' : 'before-search-launched-button'
              ]"
            >
              <i class="vitamui-icon vitamui-icon-loop2 vitamui-row-icon"></i>
            </div>

            <div
              class="vitamui-or-criteria-content"
              *ngIf="!isLast"
              [ngClass]="[criteriaValue.status === 'INCLUDED' ? 'after-search-launched-button' : 'before-search-launched-button']"
              class="button-or left-not-arround right-button"
            >
              {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_OR' | translate }}
            </div>
          </ng-container>
        </li>
      </ul>
    </div>
  </ng-container>
</ng-container>
