
{% if vitam_ihm_demo_proxy  is defined and vitam_ihm_demo_proxy|bool  %}
# upstream_portal
upstream vitam_ihm_demo {
    ip_hash;
{% for h in groups['hosts_ihm_demo'] %}
    server {{ hostvars[h].ip_service }}:{{ vitam_vars.ihm_demo.port_service }};
{% endfor %}
}
{% endif %}


{# Vitam vhosts -----------------------------------------------  #}
server {

    listen 443 ssl;
    include {{ reverse_conf_dir }}/ssl/ssl.conf;
    server_name  {{ vitam_site_name }}-vitam.teamdlab.com;

{% if vitam_ihm_demo_proxy  is defined and vitam_ihm_demo_proxy|bool  %}
    # Vitam backend
    location / {
        proxy_pass http://vitam_ihm_demo;
    }
{% endif %}

}




