@import "~ui-frontend-common/sass/variables/colors";
@import "~ui-frontend-common/sass/mixins/fonts";

.header {
  padding: 30px 60px 0 60px;
}

.content {
  padding: 0px 60px 60px 60px;
}

.actions {
  margin-top: 30px;
  display: flex;
  & > button {
    margin-right: 20px;
  }
}

.form-group {
  padding-bottom: 20px;
}

.layer {
  color: var(--vitamui-grey-900);
  font-size: 30px;
}


.vitamui-table {
  overflow: auto;
  max-height: 51vh;

  &::-webkit-scrollbar {
    display: none;
  }
}

.profileGroup-row {
  .actions {
    white-space: nowrap;
    visibility: hidden;
    text-align: right;
  }

  .actions {
    padding-right: 40px;

    button {
      box-shadow: 25px 25px 80px 0 rgba(121, 121, 121, 0.1);
      opacity: 0;
      transform: translateX(20%);
      transition: all 150ms ease-in;
    }
  }

  &:hover .actions {
    visibility: visible;

    button {
      opacity: 1;
      transform: translateX(0);
      transition-timing-function: ease-out;
    }
  }
}

input[type="radio"] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.radio-label {
  color: var(--vitamui-primary);
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
}

input[type="radio"]:checked + label {
  color: $white;
  background: var(--vitamui-primary);
}

.radio-group {
  border: solid 1px var(--vitamui-primary);
  display: inline-block;
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.field-domain {
  width: 210px;
}

.text-secondary-grey-600 {
  color: var(--vitamui-grey-600);
  line-height: 24px;
  margin-top: 1rem;
}

.text-secondary-grey-900 {
  color: var(--vitamui-grey-900);
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 2rem;
}