:host {
  ::ng-deep .mat-mdc-form-field {
    --mat-select-enabled-arrow-color: var(--vitamui-header-footer-font);
  }

  width: 100%;

  ::ng-deep.mat-mdc-menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ::ng-deep.mat-mdc-menu-panel {
    min-width: 0 !important;
  }

  ::ng-deep.mat-mdc-menu-content {
    padding: 0 !important;
  }
}

img {
  width: 25px;
}

span img {
  margin-left: 0.75rem;
}

span {
  display: inline-flex;
}

.flag-button {
  background-color: white;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.select-language {
  border-left: 1px solid var(--vitamui-grey-200);
}

div {
  height: 100%;
}
