<div class="header">
  <mat-progress-bar mode="determinate" [value]="stepProgress" class="stepper-progress-bar"></mat-progress-bar>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <vitamui-common-stepper (selectionChange)="stepIndex=$event.selectedIndex">

    <cdk-step>
      <div class="content">
        <h2 i18n="Create fileFormat title@@fileFormatCreateTitle1">Création d'un format</h2>
        <h3 i18n="Create fileFormat title@@fileFormatCreateTitle2">Informations</h3>

        <div class="d-flex">
          <!-- Must we validate Min / max length ? -->
          <vitamui-common-input
            class="field-puid"
            formControlName="puid"
            minlength="2" maxlength="100"
            required
            placeholder="External PUID" i18n-placeholder="puid@@fileformatCreatePuidPlaceholder"
          >
            <ng-container *ngIf="form.get('puid')?.touched">
              <vitamui-common-input-error *ngIf="!!form.get('puid')?.errors?.required" i18n="Required field error hint@@formErrorRequiredField">Champ requis</vitamui-common-input-error>
              <vitamui-common-input-error *ngIf="!!form?.get('puid')?.errors?.puidExists" i18n="Identfier exists error hint@@formErrorIdentifierExists">PUID déjà utilisé</vitamui-common-input-error>
            </ng-container>
          </vitamui-common-input>
          <i class="material-icons field-tooltip select-tooltip" matTooltip="Identifiant du nouveau format ajouté" matTooltipClass="vitamui-tooltip">info</i>
        </div>

        <div class="d-flex">
          <!-- Must we validate Min / max length ? -->
          <vitamui-common-input
            class="field-name"
            formControlName="name"
            minlength="2" maxlength="100"
            required
            placeholder="Nom" i18n-placeholder="Name@@fileFormatCreateNamePlaceholder"
          >
            <ng-container *ngIf="form.get('name')?.touched">
              <vitamui-common-input-error *ngIf="!!form.get('name')?.errors?.required" i18n="Required field error hint@@formErrorRequiredField">Champ requis</vitamui-common-input-error>
              <vitamui-common-input-error *ngIf="!!form?.get('name')?.errors?.nameExists" i18n="Name exists error hint@@formErrorNameExists">Nom déjà utilisé</vitamui-common-input-error>
            </ng-container>
          </vitamui-common-input>
          <i class="material-icons field-tooltip select-tooltip" matTooltip="Format du fichier" matTooltipClass="vitamui-tooltip">info</i>
        </div>

        <div class="d-flex">
          <!-- Must we validate Min / max length ? -->
          <vitamui-common-input
            class="field-mimeType"
            formControlName="mimeType"
            placeholder="Type MIME" i18n-placeholder="mimeType@@fileFormatCreateMimeTypePlaceholder">
          </vitamui-common-input>
          <i class="material-icons field-tooltip select-tooltip" matTooltip="Correspond à un format de fichier fourni par le registre PRONOM. Peut être vide" matTooltipClass="vitamui-tooltip">info</i>
        </div>

        <div class="d-flex">
          <!-- Must we validate Min / max length ? -->
          <vitamui-common-input
            class="field-version"
            formControlName="version"
            required
            placeholder="Version" i18n-placeholder="Version@@fileFormatCreateVersionPlaceholder">
            <vitamui-common-input-error *ngIf="form.get('version')?.touched && form.get('version')?.hasError('required')" i18n="Required field error hint@@formErrorRequiredField">Champ requis</vitamui-common-input-error>
          </vitamui-common-input>
        </div>

        <div class="d-flex">
          <!-- Must we validate Min / max length ? -->
          <vitamui-common-input
            class="field-extensions"
            formControlName="extensions"
            placeholder="Extension" i18n-placeholder="Extension@@fileFormatCreateExtensionsPlaceholder">
          </vitamui-common-input>
        </div>

        <button type="submit" class="btn primary" [disabled]="form.pending || form.invalid || isCreationPending" i18n="Finish fileFormat creation button@@fileFormatCreateFinishButton">Terminer</button>
        <button type="button" class="btn cancel" (click)="onCancel()" i18n="Cancel fileFormat creation@@fileFormatCreateCancelButton">Annuler</button>
      </div>
    </cdk-step>
  </vitamui-common-stepper>
</form>
