<vitamui-dialog-header
  [subhead]="'FILE_FORMATS.CREATE_DIALOG.SUBTITLE' | translate"
  [title]="'FILE_FORMATS.CREATE_DIALOG.TITLE' | translate"
></vitamui-dialog-header>

<form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()" cdkFocusInitial>
  <mat-dialog-content class="gap-3">
    <vitamui-input
      class="w-100"
      formControlName="puid"
      [placeholder]="'FILE_FORMATS.CREATE_DIALOG.IDENTIFIER' | translate"
      [errorMessageMap]="{ puidExists: 'FILE_FORMATS.CREATE_DIALOG.IDENTIFIER_ALREADY_EXISTS' | translate }"
    >
    </vitamui-input>

    <vitamui-input
      class="w-100"
      formControlName="name"
      [placeholder]="'FILE_FORMATS.CREATE_DIALOG.NAME' | translate"
      [errorMessageMap]="{ nameExists: 'FILE_FORMATS.CREATE_DIALOG.NAME_ALREADY_EXISTS' | translate }"
    >
    </vitamui-input>

    <!-- Must we validate Min / max length ? -->
    <vitamui-input class="w-100" formControlName="mimeType" [placeholder]="'FILE_FORMATS.CREATE_DIALOG.MIME_TYPE' | translate">
    </vitamui-input>

    <!-- Must we validate Min / max length ? -->
    <vitamui-input class="w-100" formControlName="version" [placeholder]="'FILE_FORMATS.CREATE_DIALOG.VERSION' | translate">
    </vitamui-input>

    <!-- Must we validate Min / max length ? -->
    <vitamui-input
      class="w-100"
      formControlName="extensions"
      [multiple]="true"
      [placeholder]="'FILE_FORMATS.CREATE_DIALOG.EXTENSION' | translate"
    >
    </vitamui-input>

    <vitamui-select
      [multiple]="true"
      class="w-100"
      formControlName="hasPriorityOverFileFormatIDs"
      [placeholder]="'FILE_FORMATS.CREATE_DIALOG.HAS_PRIORITY_OVER_FILE_FORMAT_ID' | translate"
      [searchBarPlaceHolder]="'FILE_FORMATS.CREATE_DIALOG.HAS_PRIORITY_OVER_FILE_FORMAT_ID_SEARCH' | translate"
      [options]="hasPriorityOverFileFormatIDsOptions"
    >
    </vitamui-select>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button type="submit" class="btn primary" [disabled]="form.pending || form.invalid || isCreationPending || isDisabledButton">
      {{ 'COMMON.TERMINATE' | translate }}
    </button>
    <button type="button" class="btn cancel link" (click)="onCancel()">{{ 'COMMON.UNDO' | translate }}</button>
  </mat-dialog-actions>
</form>
