<div class="vitamui-sidepanel">
  @if (inputProfile) {
    <vitamui-common-sidenav-header [title]="inputProfile.name" [subtitle]="inputProfile.identifier" (onclose)="emitClose()">
      @if (isProfilAttached()) {
        <vitamui-menu-button [overlayPos]="'end'" [icon]="'vitamui-icon-more-horiz'">
          <button mat-menu-item (click)="editProfile(inputProfile)">
            {{ 'PROFILE_PREVIEW.MENU.MODIFIER_PROFILE' | translate }}
          </button>
          <button mat-menu-item (click)="downloadProfile(inputProfile)">
            {{ 'PROFILE_PREVIEW.MENU.TELECHARGER_PROFILE' | translate }}
          </button>
        </vitamui-menu-button>
      }
    </vitamui-common-sidenav-header>
  } @else {
    <ng-container *ngTemplateOutlet="loadingSpinner"></ng-container>
  }

  <div class="vitamui-sidepanel-body">
    <mat-tab-group #tabs class="preview-tab-group">
      <mat-tab label="{{ 'PROFILE_PREVIEW.NOTICE' | translate }}">
        <profile-information-tab
          #infoTab
          (updated)="updatedChange($event, 0)"
          (closed)="closeNotice($event)"
          [inputProfile]="inputProfile"
          [readOnly]="isPopup"
        >
        </profile-information-tab>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<ng-template #loadingSpinner>
  <div class="spinnerClass">
    <mat-spinner class="vitamui-spinner large"></mat-spinner>
  </div>
</ng-template>
