<vitamui-common-title-breadcrumb [data]="dataBreadcrumb">
  <div class="d-flex align-items-center d-flex">
    <vitamui-common-user-photo class="mr-1" [user]="account"></vitamui-common-user-photo>
    <span class="pl-2" i18n="MyAccount@@MyAccountTitle">Mon Compte</span>
  </div>
</vitamui-common-title-breadcrumb>

<button class="btn secondary btn-header">Changer mon mot de passe</button>
<button class="btn secondary btn-header" *ngIf="displayAppTab">Demander une modification</button>
<button class="btn secondary" *ngIf="displayAppTab">Contacter l'administrateur</button>

<div class="vitamui-body">
  <mat-tab-group>
    <mat-tab label="Informations" i18n-label="Information tab@@profileDetailTabInformation">
      <vitamui-common-account-information-tab [account]=account></vitamui-common-account-information-tab>
    </mat-tab>
  </mat-tab-group>
</div>