<div class="vitamui-header">
  <div class="vitamui-container">
    <vitamui-common-navbar [appId]="appId" [hideTenantMenu]="true" [hideCustomerMenu]="true"></vitamui-common-navbar>
    <h2 i18n="MyAccount@@MyAccountTitle">
      <i class="vitamui-icon vitamui-icon-user"></i> Mon Compte
    </h2>
    <div class="div-btn">
      <div>
        <button class="btn secondary btn-header">Changer mon mot de passe</button>
      </div>
      <div>
        <button *ngIf="displayAppTab" class="btn secondary btn-header">Demander une modification</button>
      </div>
      <div>
        <button *ngIf="displayAppTab" class="btn secondary">Contacter l'administrateur</button>
      </div>
    </div>
  </div>
</div>

<div class="vitamui-body">
  <div class="vitamui-container">
    <mat-tab-group class="account-tab-group">
      <mat-tab label="Informations" i18n-label="Information tab@@accountrPreviewTabInformation">
        <vitamui-common-account-information-tab [account]=account></vitamui-common-account-information-tab>
      </mat-tab>
      <mat-tab *ngIf="displayAppTab" label="Application" i18n-label="Groupe tab@@accountPreviewTabApplication" class="no-padding">
      </mat-tab>
      <mat-tab label="Historique" i18n-label="History tab@@accountPreviewTabHistory"></mat-tab>
    </mat-tab-group>
  </div>
</div>
