<div class="pt-5">

  <vitamui-common-title-breadcrumb [data]="dataBreadcrumb">
    <div class="d-flex align-items-center user-photo">
      <div *ngIf="account?.photo then userPhoto else defaultUserPhoto"></div><span class="pl-2" i18n="MyAccount@@MyAccountTitle">Mon Compte</span>
   </div>

  </vitamui-common-title-breadcrumb>
    <div class="div-btn">
      <div>
        <button class="btn secondary btn-header">Changer mon mot de passe</button>
      </div>
      <div>
        <button *ngIf="displayAppTab" class="btn secondary btn-header">Demander une modification</button>
      </div>
      <div>
        <button *ngIf="displayAppTab" class="btn secondary">Contacter l'administrateur</button>
      </div>
    </div>


   <ng-template #defaultUserPhoto>
     <img src="../../../assets/user_icon.png">
   </ng-template>

   <ng-template #userPhoto>
     <img [src]="account.photo">
   </ng-template>

  </div>


<div class="vitamui-body">
  <mat-tab-group>
    <mat-tab label="Informations" i18n-label="Information tab@@profileDetailTabInformation">
      <vitamui-common-account-information-tab [account]=account></vitamui-common-account-information-tab>
    </mat-tab>
  </mat-tab-group>
</div>
