@import '../../../../sass/variables/colors';
@import '../../../../sass/mixins/fonts';

$field-spacing: 15px;

.header {
    padding: 30px 60px 0 60px;
}

.content {
    padding: 0px 60px 60px 60px;
}

h2 {
    font-size: 26px;
    font-weight: 500;
    line-height: 46px;
    margin-top: 23px;
    margin-bottom: 37px;
}

.actions {
    margin-top: 30px;
    display: flex;
}

.actions > button:not(:last-child) {
    margin-right: 20px;
}

button.primary {
    margin-right: 20px;
}

button > small {
    display: block;
    font-size: 12px;
    font-weight: 400;
}

.layer {
    width: 33px;
    height: 39px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.8px;
    text-align: left;
    color: $charcoal-grey;
    color: var(--charcoal-grey);
    margin-left: 20px;
}

.actions {
    display: flex;
    margin-top: 0px;
    margin-right: 60px;
}

.field-domain {
    width: 210px;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border-radius: 6px;
    background-color: $white;
    box-shadow: 0 0 30px 0 rgba(197, 195, 195, 0.3);
    margin: auto;
}

.btn.cancel-subrogation {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    color: $white;
    border: none;
    background-color: #c1c1c1;
    margin-top: 41px;
}

.subrogated-user-info {
    text-align: center;
}
