@import '~ui-frontend-common/sass/variables/colors';
$field-spacing: 15px;

.field-color-name {
  width: 300px + $field-spacing / 2;
  margin-right: $field-spacing;
}

.field-color-value {
  width: 150px + $field-spacing / 2;
  margin-right: $field-spacing;
}

.field-color-preview {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 49px;
  height: 49px;
  border-radius: 100%;
  position: relative;
  top: 34px;
  left: -50px;

  &.primary {
    background-color: var(--vitamui-primary);
  }

  &.secondary {
    background-color: var(--vitamui-secondary);
  }
}
