<ng-container [formGroup]="formGroup">
  <div *ngFor="let color of [THEME_COLORS.VITAMUI_PRIMARY, THEME_COLORS.VITAMUI_SECONDARY]">
    <app-input-color
      [disabled]="disabled"
      [colorInput]="formGroup.get(color)"
      [checkWarning]="true"
      [placeholder]="baseColors[color] | translate"
    >
    </app-input-color>
  </div>

  <ng-container *ngIf="!displayTertiary; else closeTertiary">
    <small class="mb-4 pb-2" (click)="displayTertiary = !displayTertiary">{{
      'CUSTOMER.GRAPHIC_IDENTITY.TERTIARY_COLOR_SHOW' | translate
    }}</small>
  </ng-container>
  <ng-template #closeTertiary>
    <small class="mb-4 pb-2" (click)="displayTertiary = !displayTertiary">{{
      'CUSTOMER.GRAPHIC_IDENTITY.TERTIARY_COLOR_HIDE' | translate
    }}</small>
  </ng-template>

  <app-input-color
    [style.display]="!displayTertiary ? 'none' : 'block'"
    [disabled]="disabled"
    [colorInput]="formGroup.get(THEME_COLORS.VITAMUI_TERTIARY)"
    [checkWarning]="true"
    [placeholder]="'COLOR.TERTIARY' | translate"
  >
  </app-input-color>

  <app-input-color
    [colorInput]="formGroup.get(THEME_COLORS.VITAMUI_HEADER_FOOTER)"
    [disabled]="disabled"
    [placeholder]="'COLOR.HEADER_FOOTER' | translate"
  >
  </app-input-color>

  <vitamui-common-select
    class="mb-4"
    [disabled]="disabled"
    [data]="backgroundColors"
    [messages]="{ unselected: 'COLOR.BACKGROUND' | translate, selected: 'COLOR.BACKGROUND' | translate }"
    [selected]="selectedBgColor"
    (selectedChange)="updateBackgroundColor($event)"
  >
  </vitamui-common-select>
</ng-container>
