@import '~ui-frontend-common/sass/variables/colors';

:host {
  small {
    text-decoration: underline;
    cursor: pointer;
    color: var(--vitamui-primary);
  }

  .text-error {
    font-size: 12px;
    font-weight: 400;
    color: $red;
    font-family: 'Roboto';
}
}
