<div class="container">
  <form [formGroup]="form" class="p-4">
    <div class="hgap-4 align-items-start pb-4">
      <vitamui-common-editable-input
        formControlName="title"
        label="{{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.TITLE' | translate }}"
        class="w-100"
      >
      </vitamui-common-editable-input>
      <vitamui-common-editable-input
        formControlName="description"
        label="{{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.DESCRIPTION' | translate }}"
        class="w-100"
      >
      </vitamui-common-editable-input>
    </div>
    <div class="hgap-4 align-items-start pb-4">
      <vitamui-common-editable-input
        formControlName="guid"
        [validator]="guid?.validator"
        label="{{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.UAID' | translate }}"
        class="w-100"
      >
      </vitamui-common-editable-input>
      <div class="w-100">
        <i
          class="vitamui-icon vitamui-icon-info-circle vitamui-row-icon"
          [vitamuiTooltip]="'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.GUIDS_SEPARATED' | translate"
          [vitamuiTooltipShowDelay]="300"
        ></i>
      </div>
    </div>
    <div class="hgap-4 align-items-start pb-4">
      @if (isProvided('agencies') | async) {
        <vitamui-select
          [multiple]="true"
          [enableSelectAll]="false"
          formControlName="agencies"
          [options]="selectOptions.agency"
          [placeholder]="'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.SP' | translate"
          [searchBarPlaceHolder]="'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.SP_PLACEHOLDER' | translate"
          class="w-100"
        >
        </vitamui-select>
      } @else {
        <vitamui-common-editable-input
          formControlName="agencies"
          label="{{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.SP' | translate }}"
          class="w-100"
        >
        </vitamui-common-editable-input>
      }
      @if (isProvided('archive-unit-profiles') | async) {
        <vitamui-select
          [multiple]="true"
          [enableSelectAll]="false"
          formControlName="archiveUnitProfiles"
          [options]="selectOptions.archiveUnitProfile"
          [placeholder]="'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.AUP' | translate"
          [searchBarPlaceHolder]="'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.AUP_PLACEHOLDER' | translate"
          class="w-100"
        >
        </vitamui-select>
      } @else {
        <vitamui-common-editable-input
          formControlName="archiveUnitProfiles"
          label="{{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.AUP' | translate }}"
          class="w-100"
        >
        </vitamui-common-editable-input>
      }
    </div>
    <div class="hgap-4">
      <p class="title-text text uppercase">{{ 'COLLECT.SEARCH_CRITERIA_FILTER.DATES' | translate }}</p>
    </div>
    <div class="hgap-4 align-items-start pb-4">
      <vitamui-datepicker
        [label]="'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.START_DATE_SEARCH' | translate"
        formControlName="beginDt"
        outputType="Date"
        format="yyyy-MM-dd"
        class="w-100"
      ></vitamui-datepicker>
      <vitamui-datepicker
        [label]="'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_SEARCH' | translate"
        formControlName="endDt"
        outputType="Date"
        format="yyyy-MM-dd"
        class="w-100"
      ></vitamui-datepicker>
    </div>
    <div class="hgap-4 align-items-start">
      <div class="w-50">
        <p class="title-text text uppercase">{{ 'COLLECT.SEARCH_CRITERIA_FILTER.UA_TYPE' | translate }}</p>
        <div class="hgap-4 pb-4 align-items-stretch">
          <div class="w-50 gap-2">
            <ng-container
              *ngTemplateOutlet="archiveUnitType; context: { $implicit: 'ARCHIVE_UNIT_WITH_OBJECTS', icon: 'vitamui-icon-file' }"
            ></ng-container>
            <ng-container
              *ngTemplateOutlet="archiveUnitType; context: { $implicit: 'ARCHIVE_UNIT_WITHOUT_OBJECTS', icon: 'vitamui-icon-folder' }"
            ></ng-container>
          </div>
        </div>
      </div>
      <div class="w-50">
        <p class="title-text text uppercase">{{ 'COLLECT.SEARCH_CRITERIA_FILTER.ERRORS' | translate }}</p>
        <div class="w-50 gap-2">
          <ng-container *ngTemplateOutlet="archiveUnitType; context: { $implicit: 'ARCHIVE_UNIT_WITH_ERRORS' }"></ng-container>
        </div>
      </div>
    </div>
    <ng-template #archiveUnitType let-archiveUnitType let-icon="icon">
      <div class="d-flex align-items-center w-100">
        <label class="criteria-checkbox-choice">
          <input
            type="checkbox"
            (click)="toggleArchiveUnitCriteria(archiveUnitType, $event)"
            [checked]="archiveUnitTypesCriteria.get(archiveUnitType)"
          />
          <span>{{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.UNIT_TYPE.' + archiveUnitType | translate }}</span>
        </label>
        <i class="vitamui-icon vitamui-row-icon status-badge icon-large ml-1" [class]="icon"></i>
      </div>
    </ng-template>
    <div class="hgap-4">
      <p class="title-text text uppercase">{{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.OTHER_FIELDS' | translate }}</p>
    </div>
    @if (otherCriteriaOptions) {
      <div class="hgap-4 align-items-start align-items-start pb-4">
        <vitamui-select-with-tree
          formControlName="otherCriteriaList"
          [multiple]="true"
          [options]="otherCriteriaOptions"
          [getDisplayValue]="getOtherCriteriaDisplayValue"
          [placeholder]="'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.OTHER_FIELDS' | translate"
          [searchBarPlaceHolder]="'Entrer les premières lettres de votre recherche' | translate"
          class="w-100"
        >
        </vitamui-select-with-tree>
        <div class="gap-4 w-100" formArrayName="otherCriteria">
          @for (otherCriteria of otherCriteriaList.value; track otherCriteria.ApiPath) {
            @if (['TEXT', 'KEYWORD', 'BOOLEAN', 'LONG'].includes(otherCriteria.Type)) {
              <vitamui-common-editable-input [label]="getCriteriaName(otherCriteria)" [formControlName]="otherCriteria.Path" class="w-100">
              </vitamui-common-editable-input>
            } @else if (['DATE'].includes(otherCriteria.Type)) {
              <vitamui-datepicker
                [label]="getCriteriaName(otherCriteria)"
                [formControlName]="otherCriteria.Path"
                format="yyyy-MM-dd"
                class="w-100"
              ></vitamui-datepicker>
            } @else {
              <!--FIXME: what do we do with OBJECT type?-->
            }
          }
        </div>
      </div>
    }
  </form>
</div>
