<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title th:text="#{screen.accountlocked.heading}">Account Locked View</title>
</head>
<body>


<div layout:fragment="content" class="col">
  <div class="Text-large-bold"
       th:text="#{screen.accountlocked.heading}">This account has been locked.
  </div>
  <div class="Text-medium margin-top-10"
       th:text="#{screen.accountlocked.message}">Please contact the system administrator to regain
    access.
  </div>
</div>


</body>
</html>
