<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title th:text="#{screen.accountdisabled.heading}">CAS Account Disabled View</title>
</head>
<body>


<div layout:fragment="content" class="col">
  <div class="Text-large-bold"
       th:text="#{screen.accountdisabled.heading}">
    This account has been disabled.
  </div>
  <div class="Text-medium margin-top-10"
       th:text="#{screen.accountdisabled.message}">
    Please contact the system administrator to regain access.
  </div>
</div>


</body>
</html>
