<form [formGroup]="form" class="side-form" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <div class="col-10 form-control">
            <vitamui-common-input formControlName="name" placeholder="Nom" disabled
                i18n-placeholder="name@@fileFormatPreviewLabelName">
                <ng-container *ngIf="form.get('name')?.touched">
                    <vitamui-common-input-error *ngIf="!!form.get('name')?.errors?.required"
                        i18n="Required field error hint@@formErrorRequiredField">Champ requis
                    </vitamui-common-input-error>
                </ng-container>
            </vitamui-common-input>
        </div>
    </div>

  <div class="form-group">
    <div class="col-10 form-control">
      <vitamui-common-input formControlName="mimeType" placeholder="Type MIME" disabled="{{isInternal() ? 'disabled': 'false'}}"
                            i18n-placeholder="mimeType@@fileFormatPreviewLabelMimeType">
      </vitamui-common-input>
    </div>
  </div>

  <div class="form-group" *ngIf="isInternal()">
    <div class="col-10 form-control">
      <vitamui-common-input formControlName="versionPronom" placeholder="VersionPronom" disabled="disabled"
                            i18n-placeholder="versionPronom@@fileFormatPreviewLabelVersionPronom">
        <ng-container *ngIf="form.get('versionPronom')?.touched">
          <vitamui-common-input-error *ngIf="!!form.get('versionPronom')?.errors?.required"
                                      i18n="Required field error hint@@formErrorRequiredField">Champ requis
          </vitamui-common-input-error>
        </ng-container>
      </vitamui-common-input>
    </div>
  </div>

  <div class="form-group" *ngIf="!isInternal()">
    <div class="col-10 form-control">
      <vitamui-common-input formControlName="version" placeholder="Version"
                            i18n-placeholder="version@@fileFormatPreviewLabelVersion">
        <ng-container *ngIf="form.get('version')?.touched">
          <vitamui-common-input-error *ngIf="!!form.get('version')?.errors?.required"
                                      i18n="Required field error hint@@formErrorRequiredField">Champ requis
          </vitamui-common-input-error>
        </ng-container>
      </vitamui-common-input>
    </div>
  </div>

  <div class="form-group">
    <div class="col-10 form-control">
      <vitamui-common-input formControlName="extensions" placeholder="Extensions" disabled="{{isInternal() ? 'disabled': 'false'}}"
                            i18n-placeholder="extensions@@fileFormatPreviewLabelExtensions">
        <ng-container *ngIf="form.get('extensions')?.touched">
          <vitamui-common-input-error *ngIf="!!form.get('extensions')?.errors?.required"
                                      i18n="Required field error hint@@formErrorRequiredField">Champ requis
          </vitamui-common-input-error>
        </ng-container>
      </vitamui-common-input>
    </div>
  </div>

  <div class="form-group bottom">
        <button type="submit" class="btn secondary" [disabled]="isInvalid() || unchanged() || submited">Enregistrer</button>
    </div>
</form>
