<div class="vitamui-snack-bar-container">

  <span class="vitamui-snack-bar-content" [ngSwitch]="data?.type">

    <ng-container *ngSwitchCase="'accountUpdate'" i18n="@@notificationAccountUpdate">
      <i class="vitamui-icon vitamui-icon-user"></i> Les informations ont été mises à jour
    </ng-container>

    <ng-container *ngSwitchCase="'subrogationFinish'" i18n="@@notificationSubrogationFinish">
      <i class="vitamui-icon vitamui-icon-link banner-icon"></i> Le mode subrogation est arrêté
    </ng-container>

    <ng-container *ngSwitchCase="'subrogationActivated'" i18n="@@notificationSubrogationActivated">
      <i class="vitamui-icon vitamui-icon-link banner-icon"></i> Le mode subrogation est activé pour {{data.duration}} minutes, jusqu'à
      {{data.endTime | date: 'H'}}h{{data.endTime | date: 'mm'}}. Veuillez ne pas changer d'application.
    </ng-container>

  </span>

  <button class="close-btn" (click)="close()"><i class="material-icons">clear</i></button>

</div>
