<vitamui-dialog-header
  [stepper]="stepper"
  [subhead]="'CONTEXTS_APP.CREATE_DIALOG.INFORMATION.TITLE' | translate"
  [title]="['CONTEXTS_APP.CREATE_DIALOG.INFORMATION.SUBTITLE' | translate, 'CONTEXTS_APP.CREATE_DIALOG.PERMISSION.TITLE' | translate]"
></vitamui-dialog-header>

<form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
  <vitamui-stepper #stepper>
    <cdk-step>
      <mat-dialog-content class="gap-3 align-items-stretch">
        <vitamui-slide-toggle [formControl]="statusControl" checked="form.controls.status.value === 'ACTIVE'">
          {{ 'CONTEXTS_APP.CREATE_DIALOG.INFORMATION.STATUS' | translate }}
        </vitamui-slide-toggle>

        <vitamui-input
          formControlName="name"
          class="w-100"
          [placeholder]="'CONTEXTS_APP.CREATE_DIALOG.INFORMATION.NAME' | translate"
          [errorMessageMap]="{
            nameExists: 'CONTEXTS_APP.CREATE_DIALOG.INFORMATION.NAME_ALREADY_EXISTS' | translate,
            incorrectName: 'CONTEXTS_APP.CREATE_DIALOG.INFORMATION.INCORRECT_NAME' | translate,
          }"
        >
        </vitamui-input>

        <vitamui-input
          *ngIf="isSlaveMode"
          formControlName="identifier"
          [placeholder]="'CONTEXTS_APP.CREATE_DIALOG.INFORMATION.IDENTIFIER' | translate"
          [errorMessageMap]="{
            identifierExists: 'CONTEXTS_APP.CREATE_DIALOG.INFORMATION.IDENTIFIER_ALREADY_EXISTS' | translate,
          }"
        >
        </vitamui-input>

        <vitamui-select
          formControlName="securityProfile"
          [placeholder]="'CONTEXTS_APP.CREATE_DIALOG.INFORMATION.SECURITY_PROFILE' | translate"
          [options]="securityProfiles"
          [multiple]="false"
          [enableSearch]="false"
        ></vitamui-select>

        <div>
          <vitamui-slide-toggle formControlName="enableControl">
            {{ 'CONTEXTS_APP.CREATE_DIALOG.INFORMATION.TENANT_TOGGLE' | translate }}
          </vitamui-slide-toggle>
          <i
            class="vitamui-icon vitamui-icon-info primary ml-3"
            *ngIf="form?.controls.enableControl?.value === false"
            vitamuiTooltip="{{ 'CONTEXTS_APP.CREATE_DIALOG.INFORMATION.TENANT_TOGGLE_TOOLTIP_FALSE' | translate }}"
          >
          </i>
          <i
            class="vitamui-icon vitamui-icon-info primary ml-3"
            *ngIf="form?.controls.enableControl?.value === true"
            vitamuiTooltip="{{ 'CONTEXTS_APP.CREATE_DIALOG.INFORMATION.TENANT_TOGGLE_TOOLTIP_TRUE' | translate }}"
          >
          </i>
        </div>
      </mat-dialog-content>

      <mat-dialog-actions>
        <vitamui-next-step [disabled]="firstStepInvalid()"></vitamui-next-step>
        <button type="button" class="btn cancel link" (click)="onCancel()">{{ 'COMMON.UNDO' | translate }}</button>
      </mat-dialog-actions>
    </cdk-step>

    <cdk-step>
      <mat-dialog-content>
        <div class="pb-4">
          <app-context-edit-permission formControlName="permissions" (changeOrganisations)="onChangeOrganisations($event)">
          </app-context-edit-permission>
          <div *ngIf="isPermissionsOnMultipleOrganisations">
            <span class="text danger">
              {{ 'CONTEXTS_APP.CREATE_DIALOG.PERMISSION.ORGANISATION_ERROR' | translate }}
            </span>
          </div>
          <ng-container>
            <span class="text danger" *ngIf="!!form.get('permissions')?.errors?.permissionsTenant">
              {{ 'CONTEXTS_APP.CREATE_DIALOG.PERMISSION.TENANT_ERROR' | translate }}
            </span>
            <span class="text danger" *ngIf="!!form.get('permissions')?.errors?.noPermissions">
              {{ 'CONTEXTS_APP.CREATE_DIALOG.PERMISSION.PERMISSION_ERROR' | translate }}
            </span>
          </ng-container>
        </div>
      </mat-dialog-content>

      <mat-dialog-actions>
        <div>
          <button type="submit" class="btn primary" [disabled]="lastStepInvalid() || isDisabledButton">
            {{ 'COMMON.TERMINATE' | translate }}
          </button>
          <button type="button" class="btn cancel link" (click)="onCancel()">
            {{ 'COMMON.UNDO' | translate }}
          </button>
        </div>
        <vitamui-previous-step></vitamui-previous-step>
      </mat-dialog-actions>
    </cdk-step>
  </vitamui-stepper>
</form>
