@import '../../../../sass/variables/colors';

.app-container {
    margin-bottom: 20px;
}

.modal-container {
    margin-top: 9px;
    margin-bottom: 16px;
}

.ext-app-container {
    margin-bottom: 20px;
}

.category-header {
    font-size: 20px;
    color: $charcoal-grey-two;
    padding-bottom: 10px;
    padding-left: 25px;
}

.modal-category {
    font-size: 16px;
    padding-left: 20px;
}
