<vitamui-dialog-header [subhead]="dialogReceivedData.subTitleDialog" [title]="dialogReceivedData.titleDialog"></vitamui-dialog-header>

<!-- Pastis dialog dynamic content-->
<mat-dialog-content *ngIf="portal" style="overflow: hidden">
  <ng-template #dialogContent [cdkPortalOutlet]="portal"></ng-template>
</mat-dialog-content>

<!-- Pastis defaut dialog buttons-->
<mat-dialog-actions>
  <button (click)="onYesClick()" [disabled]="btnYesShouldBeDisabled" [mat-dialog-close]="dataBeforeClose" class="btn primary">
    {{ dialogReceivedData.okLabel }}
  </button>
  <button (click)="onNoClick()" class="btn cancel link">{{ dialogReceivedData.cancelLabel }}</button>
</mat-dialog-actions>
