<vitamui-common-accordion *ngIf="displayObject.key; else content" [opened]="displayObject.open">
  <span class="title">{{ displayObject.displayRule.ui.label | empty }}</span>
  <div *ngIf="favoriteEntry" class="title-extra v-col align-items-center favorite-entry">
    {{ favoritePath | translate }}: {{ favoriteEntry[1] | empty }}
  </div>
  <div class="content">
    <div *ngTemplateOutlet="content"></div>
  </div>
</vitamui-common-accordion>

<ng-template #content>
  <div *ngFor="let column of rows" class="v-row">
    <div *ngFor="let childDisplayObject of column" class="v-col">
      <ng-container [ngSwitch]="childDisplayObject.type">
        <vitamui-common-group *ngSwitchCase="DisplayObjectType.GROUP" [displayObject]="childDisplayObject"></vitamui-common-group>
        <vitamui-common-list *ngSwitchCase="DisplayObjectType.LIST" [displayObject]="childDisplayObject"></vitamui-common-list>
        <vitamui-common-primitive
          *ngSwitchCase="DisplayObjectType.PRIMITIVE"
          [displayObject]="childDisplayObject"
        ></vitamui-common-primitive>
      </ng-container>
    </div>
  </div>
  <div *ngIf="displayObject.value === null || displayObject.value === undefined">{{ displayObject.value | empty }}</div>
</ng-template>
