{
{# TODO : check probe is correct / verify file installation is made in vitamui-cas-server role #}
  "service": {
     "name": "{{ vitamui_services.cas_server.id }}",
     "port": {{ vitamui_services.cas_server.port | int }},
     "address": "{{ ip_service }}",
     "enable_tag_override": false,
     "checks": [
        {
            "notes": "cas server port opened",
            "tcp": "{{ ip_service }}:{{ vitamui_services.cas_server.port }}",
            "interval": "1s"
        }
     ]
  }
}
