<div class="container">
  <form [formGroup]="storageRuleCriteriaForm" class="gap-4 align-items-stretch">
    <div class="hgap-4">
      <vitamui-select
        class="w-100"
        formControlName="storageRuleIdentifier"
        [options]="storageRuleOptions"
        [multiple]="true"
        [placeholder]="'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.PLACEHOLDER_DUC' | translate"
        [searchBarPlaceHolder]="'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.PLACEHOLDER_SEARCHBAR_DUC' | translate"
      >
      </vitamui-select>
      <div class="w-100"></div>
    </div>

    <div class="gap-2 align-items-stretch">
      <div class="text medium bold primary uppercase">
        {{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_DUA' | translate }}
      </div>

      <div class="hgap-4">
        <vitamui-datepicker
          class="w-100"
          [label]="
            (endDateInterval
              ? 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_DUA_BEGIN'
              : 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_DUA_EQUAL'
            ) | translate
          "
          formControlName="storageRuleStartDate"
          [max]="storageRuleCriteriaForm.get('storageRuleEndDate').value"
          outputType="Date"
          format="dd/MM/yyyy"
        ></vitamui-datepicker>
        <div class="w-100 hgap-2">
          @if (!endDateInterval) {
            @if (storageRuleCriteriaForm.get('storageRuleStartDate').value) {
              <button class="validate-action-button" type="button" mat-mini-fab (click)="addBeginDtDucCriteria()">
                <i class="material-icons">check</i>
              </button>
            }
            <button class="btn link" (click)="updateEndDateInterval(true)">
              {{ 'COLLECT.SEARCH_CRITERIA_FILTER.STORAGE_RULE.CREATE_INTERVAL' | translate }}
            </button>
          } @else {
            <vitamui-datepicker
              [label]="'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.END_DATE_DUA_END' | translate"
              formControlName="storageRuleEndDate"
              [min]="storageRuleCriteriaForm.get('storageRuleStartDate').value"
              outputType="Date"
              format="dd/MM/yyyy"
              class="w-100"
            ></vitamui-datepicker>
            @if (storageRuleCriteriaForm.get('storageRuleStartDate').value && storageRuleCriteriaForm.get('storageRuleEndDate').value) {
              <button class="validate-date-small-button" type="button" mat-mini-fab (click)="addIntervalDtDucCriteria()">
                <i class="material-icons">check</i>
              </button>
            }
            <button class="btn link" (click)="updateEndDateInterval(false)">
              {{ 'COLLECT.SEARCH_CRITERIA_FILTER.STORAGE_RULE.DELETE_INTERVAL' | translate }}
            </button>
          }
        </div>
      </div>
    </div>

    <div class="hgap-4 align-items-stretch justify-content-between">
      <div class="gap-2 w-100">
        <div class="text medium bold primary uppercase">
          {{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.TITLE' | translate }}
        </div>
        <mat-checkbox
          (click)="checkBoxChange('ORIGIN_HAS_AT_LEAST_ONE', $event)"
          [checked]="storageAdditionalCriteria.get('ORIGIN_HAS_AT_LEAST_ONE')"
        >
          {{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.HAS_AT_LEAST_ONE_STORAGE_RULE' | translate }}
        </mat-checkbox>
        <mat-checkbox (click)="checkBoxChange('ORIGIN_HAS_NO_ONE', $event)" [checked]="storageAdditionalCriteria.get('ORIGIN_HAS_NO_ONE')">
          {{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.HAS_NO_STORAGE_RULE' | translate }}
        </mat-checkbox>
        <mat-checkbox
          (click)="checkBoxChange('ORIGIN_WAITING_RECALCULATE', $event)"
          [checked]="storageAdditionalCriteria.get('ORIGIN_WAITING_RECALCULATE')"
        >
          {{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.ORIGIN.WAITING_TO_RE_CALCULATE_STORAGE_RULE' | translate }}
        </mat-checkbox>
      </div>
      <div class="gap-2 w-100">
        <div class="text medium bold primary uppercase">
          {{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.FINAL_ACTION_TYPE.TITLE' | translate }}
        </div>
        <mat-checkbox
          (click)="checkBoxChange('FINAL_ACTION_HAS_FINAL_ACTION', $event)"
          [checked]="storageAdditionalCriteria.get('FINAL_ACTION_HAS_FINAL_ACTION')"
        >
          {{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.FINAL_ACTION_TYPE.HAS_STORAGE_RULE' | translate }}
        </mat-checkbox>
      </div>
      <div class="gap-2 w-100">
        <div class="text medium bold primary uppercase">
          {{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.FINAL_ACTION.TITLE' | translate }}
        </div>
        <mat-checkbox
          (click)="checkBoxChange('FINAL_ACTION_TYPE_COPY', $event)"
          [checked]="storageAdditionalCriteria.get('FINAL_ACTION_TYPE_COPY')"
        >
          {{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.FINAL_ACTION.COPY_STORAGE_RULE' | translate }}
        </mat-checkbox>
        <mat-checkbox
          (click)="checkBoxChange('FINAL_ACTION_TYPE_TRANSFER', $event)"
          [checked]="storageAdditionalCriteria.get('FINAL_ACTION_TYPE_TRANSFER')"
        >
          {{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.FINAL_ACTION.TRANSFER_STORAGE_RULE' | translate }}
        </mat-checkbox>
        <mat-checkbox
          (click)="checkBoxChange('FINAL_ACTION_TYPE_RESTRICT_ACCESS', $event)"
          [checked]="storageAdditionalCriteria.get('FINAL_ACTION_TYPE_RESTRICT_ACCESS')"
        >
          {{ 'COLLECT.SEARCH_CRITERIA_FILTER.FIELDS.FINAL_ACTION.RESTRICT_ACCESS_STORAGE_RULE' | translate }}
        </mat-checkbox>
      </div>
    </div>
  </form>
</div>
