<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    <app-agency-preview
      *ngIf="openedItem"
      (previewClose)="closePanel()"
      [agency]="openedItem"
      [tenantIdentifier]="tenantIdentifier"
      [readOnly]="hasUpdateRole === false"
    ></app-agency-preview>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-common-title-breadcrumb>
        {{ 'AGENCY.HOME.TITLE' | translate }}
      </vitamui-common-title-breadcrumb>

      <vitamui-common-banner [searchbarPlaceholder]="'AGENCY.HOME.TITLE_PLACEHOLDER' | translate" (search)="onSearchSubmit($event)">
        <button class="btn primary mr-3" (click)="openCreateAgencyDialog()" [disabled]="!hasCreateRole">
          <span>{{ 'AGENCY.HOME.ACTION_BUTTON' | translate }}</span>
        </button>

        <vitamui-common-menu-button [overlayPos]="'end'" [icon]="'vitamui-icon-more-horiz'" [disabled]="!hasImportRole && !hasExportRole">
          <button mat-menu-item [disabled]="!hasImportRole" (click)="openAgencyImportDialog()">
            {{ 'AGENCY.HOME.ACTION_IMPORT' | translate }}
          </button>
          <button mat-menu-item [disabled]="!hasExportRole" (click)="exportAgencies()">
            {{ 'AGENCY.HOME.ACTION_EXPORT' | translate }}
          </button>
        </vitamui-common-menu-button>
      </vitamui-common-banner>
    </div>

    <div class="vitamui-content">
      <app-agency-list (agencyClick)="showAgency($event)" [search]="search"></app-agency-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
