.outer {
  background-color: var(--vitamui-primary);

  &[class^='gap-'],
  &[class*=' gap-'] {
    height: 100px;
  }
}

.inner {
  background-color: var(--vitamui-primary-50);
  color: var(--vitamui-grey-900);
  min-height: 20px;

  .outer[class^='hgap-'] &,
  .outer[class*=' hgap-'] & {
    width: 100%;
  }

  .outer[class^='gap-'] &,
  .outer[class*=' gap-'] & {
    width: 100%;
    height: 100%;
  }
}

.m-auto {
  max-width: 50%;
}
