<div (vitamuiClickOutside)="onClickOutsideTable()">
  <table mat-table [dataSource]="dataSource">
    <!-- COL 1: NAME -->
    <ng-container matColumnDef="ShortName">
      <th mat-header-cell *matHeaderCellDef>
        <span class="ml-5">
          {{ 'ONTOLOGY.HOME.ARRAY.NAME' | translate }}
          <button
            class="ml-4 vitamui-filter-button active"
            [vitamuiCommonTableFilter]="groupFilterTemplate"
            #groupFilterTrigger="vitamuiCommonTableFilter"
          >
            <i class="vitamui-icon vitamui-icon-filter-list"></i>
          </button>
        </span>
        <ng-template #groupFilterTemplate>
          <vitamui-common-table-filter [(filter)]="selectedFilters" (filterChange)="filter()">
            @for (filter of availableFilters; track filter) {
              <vitamui-common-table-filter-option value="{{ filter.name }}">
                <div class="table-filter-icon">{{ filter.translation }}</div>
              </vitamui-common-table-filter-option>
            }
          </vitamui-common-table-filter>
        </ng-template>
      </th>
      <td mat-cell *matCellDef="let data">
        <div class="row align-items-center">
          <button
            mat-icon-button
            [style.visibility]="!data.expandable ? 'hidden' : ''"
            [style.marginLeft.px]="data.level * 32"
            disableRipple
            (click)="treeControl.toggle(data)"
            class="arrow"
            type="button"
          >
            <i class="vitamui-icon" [class]="treeControl.isExpanded(data) ? 'vitamui-icon-chevron-down' : 'vitamui-icon-chevron-right'"></i>
          </button>
          <span [vitamuiTooltip]="data.item.Path" [outline]="true" vitamuiTooltipClass="no-wrap secondary">
            {{ (data.item.Origin === 'EXTERNAL' ? 'EXT-' : '') + data.item.ShortName }}
          </span>
        </div>
      </td>
    </ng-container>

    <!-- COL 2: IDENTIFIER -->
    <ng-container matColumnDef="FieldName">
      <th mat-header-cell *matHeaderCellDef>
        <div class="row flex-nowrap">
          <span class="no-wrap">{{ 'ONTOLOGY.HOME.ARRAY.IDENTIFIER' | translate }}</span>
        </div>
      </th>
      <td mat-cell *matCellDef="let data">{{ data.item.FieldName }}</td>
    </ng-container>

    <!-- COL 3: HIDDEN DELETE BUTTON -->
    <ng-container matColumnDef="deleteButton">
      <th mat-header-cell *matHeaderCellDef class="w-0"></th>
      <td mat-cell *matCellDef="let data">
        @if (canDelete(data.item)) {
          <button
            class="btn btn-circle primary"
            (click)="$event.stopPropagation(); delete(data)"
            (mouseover)="previewDelete(data.item)"
            (mouseout)="hidePreviewDelete()"
          >
            <i class="vitamui-icon vitamui-icon-delete"></i>
          </button>
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['ShortName', 'FieldName', 'deleteButton']" class="vitamui-table-rows"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: ['ShortName', 'FieldName', 'deleteButton']"
      class="vitamui-table-rows vitamui-row align-items-center clickable"
      [class.d-none]="!element.display"
      [class]="'path-' + element.item.Path"
      [class.selected]="(schemaService.selectedPath$ | async) === element.item?.Path"
      (click)="selectLine(element.item)"
    ></tr>
  </table>
  @if (!dataSource.data || pending) {
    <ng-container *ngTemplateOutlet="loadingSpinner"></ng-container>
  }
  @if (!pending && dataSource?.data?.length === 0) {
    <ng-container *ngTemplateOutlet="noResults"></ng-container>
  }
</div>

<ng-template #loadingSpinner>
  <div class="vitamui-min-content">
    <mat-spinner class="vitamui-spinner medium"></mat-spinner>
  </div>
</ng-template>

<ng-template #noResults>
  <div class="vitamui-min-content vitamui-table-message">{{ 'COMMON.NO_RESULT' | translate }}</div>
</ng-template>
