.vitamui-icon-app-users .path1:before {
    content: "\ea78";
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path2:before {
    content: "\ea79";
    margin-left: -1em;
    color: rgb(188, 185, 186);
  }
  .vitamui-icon-app-users .path3:before {
    content: "\ea7a";
    margin-left: -1em;
    color: rgb(245, 245, 245);
  }
  .vitamui-icon-app-users .path4:before {
    content: "\ea80";
    margin-left: -1em;
    color: rgb(188, 185, 186);
  }
  .vitamui-icon-app-users .path5:before {
    content: "\ea81";
    margin-left: -1em;
    color: rgb(229, 228, 228);
  }
  .vitamui-icon-app-users .path6:before {
    content: "\ea84";
    margin-left: -1em;
    color: rgb(245, 245, 245);
  }
  .vitamui-icon-app-users .path7:before {
    content: "\ea85";
    margin-left: -1em;
    color: rgb(76, 76, 76);
  }
  .vitamui-icon-app-users .path8:before {
    content: "\ea89";
    margin-left: -1em;
     background: -webkit-linear-gradient(var(--vitamui-grey-800), var(--vitamui-grey-900));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path9:before {
    content: "\ea8b";
    margin-left: -1em;
     background: -webkit-linear-gradient(var(--vitamui-grey-800), var(--vitamui-grey-900));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path10:before {
    content: "\ea8e";
    margin-left: -1em;
     background: -webkit-linear-gradient(var(--vitamui-grey), var(--vitamui-grey-900));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path11:before {
    content: "\ea8f";
    margin-left: -1em;
     background: -webkit-linear-gradient(var(--vitamui-grey), var(--vitamui-grey-900));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path12:before {
    content: "\ea90";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path13:before {
    content: "\ea91";
    margin-left: -1em;
    color: rgb(19, 0, 5);
  }
  .vitamui-icon-app-users .path14:before {
    content: "\ea92";
    margin-left: -1em;
    color: var(--vitamui-primary-600);
  }
  .vitamui-icon-app-users .path15:before {
    content: "\ea93";
    margin-left: -1em;
    color: var(--vitamui-primary);
  }
  .vitamui-icon-app-users .path16:before {
    content: "\ea94";
    margin-left: -1em;
    color: var(--vitamui-primary-300);
  }
  .vitamui-icon-app-users .path17:before {
    content: "\ea96";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path18:before {
    content: "\ea97";
    margin-left: -1em;
    color: rgb(19, 0, 5);
  }
  .vitamui-icon-app-users .path19:before {
    content: "\ea99";
    margin-left: -1em;
    color: var(--vitamui-primary-600);
  }
  .vitamui-icon-app-users .path20:before {
    content: "\ea9a";
    margin-left: -1em;
    color: var(--vitamui-primary);
  }
  .vitamui-icon-app-users .path21:before {
    content: "\ea9b";
    margin-left: -1em;
    color: var(--vitamui-primary-300);
  }
  .vitamui-icon-app-users .path22:before {
    content: "\ea9c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path23:before {
    content: "\ea9d";
    margin-left: -1em;
    color: rgb(19, 0, 5);
  }
  .vitamui-icon-app-users .path24:before {
    content: "\eaa3";
    margin-left: -1em;
    color: var(--vitamui-primary-600);
  }
  .vitamui-icon-app-users .path25:before {
    content: "\eaa4";
    margin-left: -1em;
    color: var(--vitamui-primary-300);
  }
  .vitamui-icon-app-users .path26:before {
    content: "\eaa5";
    margin-left: -1em;
    background: -webkit-linear-gradient(var(--vitamui-primary-200), var(--vitamui-primary-800));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path27:before {
    content: "\eaa7";
    margin-left: -1em;
    background: -webkit-linear-gradient(var(--vitamui-primary-700), var(--vitamui-primary-600));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path28:before {
    content: "\eaa8";
    margin-left: -1em;
    color: rgb(19, 0, 5);
  }
  .vitamui-icon-app-users .path29:before {
    content: "\eaa9";
    margin-left: -1em;
    color: rgb(19, 0, 5);
  }
  .vitamui-icon-app-users .path30:before {
    content: "\eaaa";
    margin-left: -1em;
    color: var(--vitamui-primary-900);
  }
  .vitamui-icon-app-users .path31:before {
    content: "\eaab";
    margin-left: -1em;
    background: -webkit-linear-gradient(var(--vitamui-grey-300), var(--vitamui-grey-700));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path32:before {
    content: "\eaac";
    margin-left: -1em;
    background: -webkit-linear-gradient(var(--vitamui-grey-300), var(--vitamui-grey-900));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path33:before {
    content: "\eaad";
    margin-left: -1em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4) ,  rgba(255, 255, 255, 0)); 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path34:before {
    content: "\eaae";
    margin-left: -1em;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.4) ,  rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.8;
  }
  .vitamui-icon-app-users .path35:before {
    content: "\eaaf";
    margin-left: -1em;
    color: rgb(53, 53, 53);
  }
  .vitamui-icon-app-users .path36:before {
    content: "\eab5";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path37:before {
    content: "\eab6";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path38:before {
    content: "\eab7";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path39:before {
    content: "\eab8";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path40:before {
    content: "\eab9";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path41:before {
    content: "\eac0";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path42:before {
    content: "\eac3";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path43:before {
    content: "\eac6";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path44:before {
    content: "\eac7";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path45:before {
    content: "\eac8";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path46:before {
    content: "\eac9";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path47:before {
    content: "\ead0";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path48:before {
    content: "\ead2";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path49:before {
    content: "\ead3";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path50:before {
    content: "\ead4";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path51:before {
    content: "\ead5";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path52:before {
    content: "\ead6";
    margin-left: -1em;
     background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path53:before {
    content: "\ead7";
    margin-left: -1em;
    color: rgb(53, 53, 53);
  }
  .vitamui-icon-app-users .path54:before {
    content: "\eadb";
    margin-left: -1em;
    color: rgb(76, 76, 76);
  }
  .vitamui-icon-app-users .path55:before {
    content: "\eadd";
    margin-left: -1em;
     background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path56:before {
    content: "\eade";
    margin-left: -1em;
     background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path57:before {
    content: "\eae0";
    margin-left: -1em;
     background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path58:before {
    content: "\eae1";
    margin-left: -1em;
     background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path59:before {
    content: "\eae2";
    margin-left: -1em;
     background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path60:before {
    content: "\eae9";
    margin-left: -1em;
     background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path61:before {
    content: "\eaea";
    margin-left: -1em;
    color: rgb(53, 53, 53);
  }
  .vitamui-icon-app-users .path62:before {
    content: "\eaeb";
    margin-left: -1em;
    color: rgb(76, 76, 76);
  }
  .vitamui-icon-app-users .path63:before {
    content: "\eaef";
    margin-left: -1em;
     background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path64:before {
    content: "\eaf0";
    margin-left: -1em;
    color: rgb(76, 76, 76);
  }
  .vitamui-icon-app-users .path65:before {
    content: "\eaf1";
    margin-left: -1em;
    color: rgb(245, 245, 245);
  }
  .vitamui-icon-app-users .path66:before {
    content: "\eaf6";
    margin-left: -1em;
    color: rgb(53, 53, 53);
  }
  .vitamui-icon-app-users .path67:before {
    content: "\eaf7";
    margin-left: -1em;
    color: rgb(53, 53, 53);
  }
  .vitamui-icon-app-users .path68:before {
    content: "\eaf8";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path69:before {
    content: "\eafa";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path70:before {
    content: "\eafc";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path71:before {
    content: "\eafd";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path72:before {
    content: "\eafe";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path73:before {
    content: "\eaff";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path74:before {
    content: "\eb00";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path75:before {
    content: "\eb01";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path76:before {
    content: "\eb05";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path77:before {
    content: "\eb06";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path78:before {
    content: "\eb07";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path79:before {
    content: "\eb08";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path80:before {
    content: "\eb0a";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path81:before {
    content: "\eb0b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path82:before {
    content: "\eb0c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path83:before {
    content: "\eb0d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .vitamui-icon-app-users .path84:before {
    content: "\eb0e";
    margin-left: -1em;
     background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path85:before {
    content: "\eb0f";
    margin-left: -1em;
    color: rgb(53, 53, 53);
  }
  .vitamui-icon-app-users .path86:before {
    content: "\eb10";
    margin-left: -1em;
    color: rgb(76, 76, 76);
  }
  .vitamui-icon-app-users .path87:before {
    content: "\eb11";
    margin-left: -1em;
     background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path88:before {
    content: "\eb12";
    margin-left: -1em;
     background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path89:before {
    content: "\eb13";
    margin-left: -1em;
     background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path90:before {
    content: "\eb14";
    margin-left: -1em;
     background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path91:before {
    content: "\eb15";
    margin-left: -1em;
     background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path92:before {
    content: "\eb16";
    margin-left: -1em;
     background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path93:before {
    content: "\eb17";
    margin-left: -1em;
    color: rgb(53, 53, 53);
  }
  .vitamui-icon-app-users .path94:before {
    content: "\eb18";
    margin-left: -1em;
    color: rgb(76, 76, 76);
  }
  .vitamui-icon-app-users .path95:before {
    content: "\eb1b";
    margin-left: -1em;
     background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vitamui-icon-app-users .path96:before {
    content: "\eb1c";
    margin-left: -1em;
    color: rgb(76, 76, 76);
  }
  .vitamui-icon-app-users .path97:before {
    content: "\eb1d";
    margin-left: -1em;
    color: rgb(245, 245, 245);
  }