
.vitamui-icon-app-profile-user .path1:before {
  content: "\eb99";
  color: rgb(0, 0, 0);
}
.vitamui-icon-app-profile-user .path2:before {
  content: "\eb9a";
  margin-left: -1em;
  color: rgb(188, 185, 186);
}
.vitamui-icon-app-profile-user .path3:before {
  content: "\eb9b";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.vitamui-icon-app-profile-user .path4:before {
  content: "\eb9c";
  margin-left: -1em;
  color: rgb(188, 185, 186);
}
.vitamui-icon-app-profile-user .path5:before {
  content: "\eb9d";
  margin-left: -1em;
  color: rgb(229, 228, 228);
}
.vitamui-icon-app-profile-user .path6:before {
  content: "\eb9e";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.vitamui-icon-app-profile-user .path7:before {
  content: "\eb9f";
  margin-left: -1em;
  color: rgb(76, 76, 76);
}
.vitamui-icon-app-profile-user .path8:before {
  content: "\eba0";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey), var(--vitamui-grey-900));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-profile-user .path9:before {
  content: "\eba1";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey-800), var(--vitamui-grey-900));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-profile-user .path10:before {
  content: "\eba2";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey), var(--vitamui-grey-900));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-profile-user .path11:before {
  content: "\eba3";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey), var(--vitamui-grey-900));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-profile-user .path12:before {
  content: "\eba4";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey-800), var(--vitamui-grey-900));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-profile-user .path13:before {
  content: "\eba5";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey-800), var(--vitamui-grey-900));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-profile-user .path14:before {
  content: "\eba6";
  margin-left: -1em;
  color: var(--vitamui-primary-600);
}
.vitamui-icon-app-profile-user .path15:before {
  content: "\eba7";
  margin-left: -1em;
  color: var(--vitamui-primary);
}
.vitamui-icon-app-profile-user .path16:before {
  content: "\eba8";
  margin-left: -1em;
  color: var(--vitamui-primary-300);
}
.vitamui-icon-app-profile-user .path17:before {
  content: "\eba9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app-profile-user .path18:before {
  content: "\ebaa";
  margin-left: -1em;
  color: rgb(19, 0, 5);
}
.vitamui-icon-app-profile-user .path19:before {
  content: "\ebab";
  margin-left: -1em;
  color: var(--vitamui-primary-600);
}
.vitamui-icon-app-profile-user .path20:before {
  content: "\ebac";
  margin-left: -1em;
  color: var(--vitamui-primary-300);
}
.vitamui-icon-app-profile-user .path21:before {
  content: "\ebad";
  margin-left: -1em;
  color: var(--vitamui-primary);
}
.vitamui-icon-app-profile-user .path22:before {
  content: "\ebae";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app-profile-user .path23:before {
  content: "\ebaf";
  margin-left: -1em;
  color: rgb(19, 0, 5);
}
.vitamui-icon-app-profile-user .path24:before {
  content: "\ebb0";
  margin-left: -1em;
  color: var(--vitamui-primary-600);
}
.vitamui-icon-app-profile-user .path25:before {
  content: "\ebb1";
  margin-left: -1em;
  color: var(--vitamui-primary-300);
}
.vitamui-icon-app-profile-user .path26:before {
  content: "\ebb2";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey-900), var(--vitamui-grey-800));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-profile-user .path27:before {
  content: "\ebb3";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app-profile-user .path28:before {
  content: "\ebb4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app-profile-user .path29:before {
  content: "\ebb5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app-profile-user .path30:before {
  content: "\ebb6";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey), var(--vitamui-grey-900));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vitamui-icon-app-profile-user .path31:before {
  content: "\ebb7";
  background: -webkit-linear-gradient(var(--vitamui-grey-300), var(--vitamui-grey-700));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vitamui-icon-app-profile-user .path32:before {
  content: "\ebb8";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey-300), var(--vitamui-grey-900));
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.vitamui-icon-app-profile-user .path33:before {
  content: "\ebb9";
  margin-left: -1em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.4) ,  rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-profile-user .path34:before {
  content: "\ebba";
  margin-left: -1em;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.4) ,  rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.8;
}
.vitamui-icon-app-profile-user .path35:before {
  content: "\ebbb";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey-800), var(--vitamui-grey-900));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-profile-user .path36:before {
  content: "\ebbc";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.vitamui-icon-app-profile-user .path37:before {
  content: "\ebbd";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.vitamui-icon-app-profile-user .path38:before {
  content: "\ebbe";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey-300));
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.vitamui-icon-app-profile-user .path39:before {
  content: "\ebbf";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.vitamui-icon-app-profile-user .path40:before {
  content: "\ebc0";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey-200), var(--vitamui-grey-100));
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.vitamui-icon-app-profile-user .path41:before {
  content: "\ebc1";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.vitamui-icon-app-profile-user .path42:before {
  content: "\ebc2";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.vitamui-icon-app-profile-user .path43:before {
  content: "\ebc3";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey-200));
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.vitamui-icon-app-profile-user .path44:before {
  content: "\ebc4";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey-200));
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.vitamui-icon-app-profile-user .path45:before {
  content: "\ebc5";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey-200));
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.vitamui-icon-app-profile-user .path46:before {
  content: "\ebc6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.vitamui-icon-app-profile-user .path47:before {
  content: "\ebc7";
  margin-left: -1em;
  color: rgb(155, 154, 155);
}
.vitamui-icon-app-profile-user .path48:before {
  content: "\ebc8";
  margin-left: -1em;
  color: rgb(155, 154, 155);
}
.vitamui-icon-app-profile-user .path49:before {
  content: "\ebc9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.vitamui-icon-app-profile-user .path50:before {
  content: "\ebca";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-profile-user .path51:before {
  content: "\ebcb";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.vitamui-icon-app-profile-user .path52:before {
  content: "\ebcc";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-profile-user .path53:before {
  content: "\ebcd";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey-50), var(--vitamui-grey));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-profile-user .path54:before {
  content: "\ebce";
  margin-left: -1em;
  background: -webkit-linear-gradient(var(--vitamui-grey-800), var(--vitamui-grey-900));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
