.vitamui-icon-app-customers .path1:before {
    content: "\eb1e";
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path2:before {
    content: "\eb21";
    margin-left: -1em;
    color: rgb(188, 185, 186);
}
.vitamui-icon-app-customers .path3:before {
    content: "\eb22";
    margin-left: -1em;
    color: rgb(245, 245, 245);
}
.vitamui-icon-app-customers .path4:before {
    content: "\eb23";
    margin-left: -1em;
    color: rgb(188, 185, 186);
}
.vitamui-icon-app-customers .path5:before {
    content: "\eb26";
    margin-left: -1em;
    color: rgb(229, 228, 228);
}
.vitamui-icon-app-customers .path6:before {
    content: "\eb27";
    margin-left: -1em;
    color: rgb(245, 245, 245);
}
.vitamui-icon-app-customers .path7:before {
    content: "\eb28";
    margin-left: -1em;
    background: -webkit-linear-gradient(var(--vitamui-grey-100), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-customers .path8:before {
    content: "\eb29";
    margin-left: -1em;
    color: rgb(53, 53, 53);
}
.vitamui-icon-app-customers .path9:before {
    content: "\eb2a";
    margin-left: -1em;
    color: rgb(76, 76, 76);
}
.vitamui-icon-app-customers .path10:before {
    content: "\eb2b";
    margin-left: -1em;
    color: var(--vitamui-secondary);
}
.vitamui-icon-app-customers .path11:before {
    content: "\eb2c";
    margin-left: -1em;
    color: var(--vitamui-secondary-400);
}
.vitamui-icon-app-customers .path12:before {
    content: "\eb2d";
    margin-left: -1em;
    color: var(--vitamui-secondary-300);
}
.vitamui-icon-app-customers .path13:before {
    content: "\eb2e";
    margin-left: -1em;
    color: var(--vitamui-secondary);
}
.vitamui-icon-app-customers .path14:before {
    content: "\eb2f";
    margin-left: -1em;
    color: var(--vitamui-secondary-400);
}
.vitamui-icon-app-customers .path15:before {
    content: "\eb30";
    margin-left: -1em;
    color: var(--vitamui-secondary-300);
}
.vitamui-icon-app-customers .path16:before {
    content: "\eb31";
    margin-left: -1em;
    color: var(--vitamui-secondary);
}
.vitamui-icon-app-customers .path17:before {
    content: "\eb32";
    margin-left: -1em;
    color: var(--vitamui-secondary-400);
}
.vitamui-icon-app-customers .path18:before {
    content: "\eb33";
    margin-left: -1em;
    color: var(--vitamui-secondary-300);
}
.vitamui-icon-app-customers .path19:before {
    content: "\eb34";
    margin-left: -1em;
    color: var(--vitamui-secondary);
}
.vitamui-icon-app-customers .path20:before {
    content: "\eb35";
    margin-left: -1em;
    color: var(--vitamui-secondary-400);
}
.vitamui-icon-app-customers .path21:before {
    content: "\eb36";
    margin-left: -1em;
    color: var(--vitamui-secondary-300);
}
.vitamui-icon-app-customers .path22:before {
    content: "\eb37";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path23:before {
    content: "\eb38";
    margin-left: -1em;
    background: -webkit-linear-gradient(var(--vitamui-grey-100), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-customers .path24:before {
    content: "\eb39";
    margin-left: -1em;
    background: -webkit-linear-gradient(var(--vitamui-grey-100), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-customers .path25:before {
    content: "\eb3a";
    margin-left: -1em;
    background: -webkit-linear-gradient(var(--vitamui-grey-100), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-customers .path26:before {
    content: "\eb3b";
    margin-left: -1em;
    background: -webkit-linear-gradient(var(--vitamui-grey-100), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-customers .path27:before {
    content: "\eb3c";
    margin-left: -1em;
    background: -webkit-linear-gradient(var(--vitamui-grey-100), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-customers .path28:before {
    content: "\eb3d";
    margin-left: -1em;
    color: rgb(155, 154, 155);
}
.vitamui-icon-app-customers .path29:before {
    content: "\eb3e";
    margin-left: -1em;
    background: -webkit-linear-gradient(var(--vitamui-grey-100), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-customers .path30:before {
    content: "\eb3f";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path31:before {
    content: "\eb40";
    margin-left: -1em;
    background: -webkit-linear-gradient(var(--vitamui-grey-100), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-customers .path32:before {
    content: "\eb41";
    margin-left: -1em;
    color: rgb(76, 76, 76);
}
.vitamui-icon-app-customers .path33:before {
    content: "\eb42";
    margin-left: -1em;
    background: -webkit-linear-gradient(var(--vitamui-grey-100), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-customers .path34:before {
    content: "\eb43";
    margin-left: -1em;
    background: -webkit-linear-gradient(var(--vitamui-grey-100), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-customers .path35:before {
    content: "\eb44";
    margin-left: -1em;
    background: -webkit-linear-gradient(var(--vitamui-grey-100), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-customers .path36:before {
    content: "\eb45";
    margin-left: -1em;
    color: rgb(155, 154, 155);
}
.vitamui-icon-app-customers .path37:before {
    content: "\eb46";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path38:before {
    content: "\eb47";
    margin-left: -1em;
    color: rgb(155, 154, 155);
}
.vitamui-icon-app-customers .path39:before {
    content: "\eb48";
    margin-left: -1em;
    color: rgb(53, 53, 53);
}
.vitamui-icon-app-customers .path40:before {
    content: "\eb49";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path41:before {
    content: "\eb4a";
    margin-left: -1em;
    color: rgb(229, 228, 228);
}
.vitamui-icon-app-customers .path42:before {
    content: "\eb4b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path43:before {
    content: "\eb4c";
    margin-left: -1em;
    color: rgb(155, 154, 155);
}
.vitamui-icon-app-customers .path44:before {
    content: "\eb4d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path45:before {
    content: "\eb4e";
    margin-left: -1em;
    color: rgb(155, 154, 155);
}
.vitamui-icon-app-customers .path46:before {
    content: "\eb4f";
    margin-left: -1em;
    color: rgb(53, 53, 53);
}
.vitamui-icon-app-customers .path47:before {
    content: "\eb50";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path48:before {
    content: "\eb51";
    margin-left: -1em;
    color: rgb(229, 228, 228);
}
.vitamui-icon-app-customers .path49:before {
    content: "\eb52";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path50:before {
    content: "\eb53";
    margin-left: -1em;
    color: rgb(155, 154, 155);
}
.vitamui-icon-app-customers .path51:before {
    content: "\eb54";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path52:before {
    content: "\eb55";
    margin-left: -1em;
    color: rgb(155, 154, 155);
}
.vitamui-icon-app-customers .path53:before {
    content: "\eb56";
    margin-left: -1em;
    color: rgb(53, 53, 53);
}
.vitamui-icon-app-customers .path54:before {
    content: "\eb57";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path55:before {
    content: "\eb58";
    margin-left: -1em;
    color: rgb(229, 228, 228);
}
.vitamui-icon-app-customers .path56:before {
    content: "\eb59";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path57:before {
    content: "\eb5a";
    margin-left: -1em;
    color: rgb(155, 154, 155);
}
.vitamui-icon-app-customers .path58:before {
    content: "\eb5b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path59:before {
    content: "\eb5c";
    margin-left: -1em;
    color: rgb(155, 154, 155);
}
.vitamui-icon-app-customers .path60:before {
    content: "\eb5d";
    margin-left: -1em;
    color: rgb(53, 53, 53);
}
.vitamui-icon-app-customers .path61:before {
    content: "\eb5e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path62:before {
    content: "\eb5f";
    margin-left: -1em;
    color: rgb(229, 228, 228);
}
.vitamui-icon-app-customers .path63:before {
    content: "\eb60";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path64:before {
    content: "\eb61";
    margin-left: -1em;
    color: rgb(155, 154, 155);
}
.vitamui-icon-app-customers .path65:before {
    content: "\eb62";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path66:before {
    content: "\eb63";
    margin-left: -1em;
    color: rgb(155, 154, 155);
}
.vitamui-icon-app-customers .path67:before {
    content: "\eb64";
    margin-left: -1em;
    color: rgb(53, 53, 53);
}
.vitamui-icon-app-customers .path68:before {
    content: "\eb65";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path69:before {
    content: "\eb66";
    margin-left: -1em;
    color: rgb(229, 228, 228);
}
.vitamui-icon-app-customers .path70:before {
    content: "\eb67";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path71:before {
    content: "\eb68";
    margin-left: -1em;
    color: rgb(155, 154, 155);
}
.vitamui-icon-app-customers .path72:before {
    content: "\eb69";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path73:before {
    content: "\eb6a";
    margin-left: -1em;
    color: rgb(76, 76, 76);
}
.vitamui-icon-app-customers .path74:before {
    content: "\eb6b";
    margin-left: -1em;
    background: -webkit-linear-gradient(var(--vitamui-grey-100), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-customers .path75:before {
    content: "\eb6c";
    margin-left: -1em;
    background: -webkit-linear-gradient(var(--vitamui-grey-100), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-customers .path76:before {
    content: "\eb6d";
    margin-left: -1em;
    color: rgb(155, 154, 155);
}
.vitamui-icon-app-customers .path77:before {
    content: "\eb6e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path78:before {
    content: "\eb6f";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path79:before {
    content: "\eb70";
    margin-left: -1em;
    color: rgb(76, 76, 76);
}
.vitamui-icon-app-customers .path80:before {
    content: "\eb71";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path81:before {
    content: "\eb72";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path82:before {
    content: "\eb73";
    margin-left: -1em;
    background: -webkit-linear-gradient(var(--vitamui-grey-100), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-customers .path83:before {
    content: "\eb74";
    margin-left: -1em;
    color: rgb(76, 76, 76);
}
.vitamui-icon-app-customers .path84:before {
    content: "\eb75";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.vitamui-icon-app-customers .path85:before {
    content: "\eb76";
    margin-left: -1em;
    background: -webkit-linear-gradient(var(--vitamui-grey-100), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-customers .path86:before {
    content: "\eb77";
    margin-left: -1em;
    background: -webkit-linear-gradient(var(--vitamui-grey-100), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-customers .path87:before {
    content: "\eb78";
    margin-left: -1em;
    color: rgb(155, 154, 155);
}
.vitamui-icon-app-customers .path88:before {
    content: "\eb79";
    margin-left: -1em;
    background: -webkit-linear-gradient(var(--vitamui-grey-100), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-customers .path89:before {
    content: "\eb7a";
    margin-left: -1em;
    color: rgb(229, 228, 228);
}
.vitamui-icon-app-customers .path90:before {
    content: "\eb7b";
    margin-left: -1em;
    background: -webkit-linear-gradient(var(--vitamui-grey-100), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-customers .path91:before {
    content: "\eb7c";
    margin-left: -1em;
    background: -webkit-linear-gradient(var(--vitamui-grey-100), var(--vitamui-grey));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vitamui-icon-app-customers .path92:before {
    content: "\eb7d";
    margin-left: -1em;
    color: rgb(188, 185, 186);
}
.vitamui-icon-app-customers .path93:before {
    content: "\eb7e";
    margin-left: -1em;
    color: rgb(155, 154, 155);
}
.vitamui-icon-app-customers .path94:before {
    content: "\eb7f";
    margin-left: -1em;
    color: rgb(245, 245, 245);
}
.vitamui-icon-app-customers .path95:before {
    content: "\eb80";
    margin-left: -1em;
    color: rgb(229, 228, 228);
}
.vitamui-icon-app-customers .path96:before {
    content: "\eb81";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.vitamui-icon-app-customers .path97:before {
    content: "\eb82";
    margin-left: -1em;
    color: var(--vitamui-primary-900);
}
.vitamui-icon-app-customers .path98:before {
    content: "\eb83";
    margin-left: -1em;
    color: rgb(19, 0, 5);
}
.vitamui-icon-app-customers .path99:before {
    content: "\eb84";
    margin-left: -1em;
    color: var(--vitamui-primary-900);
}
.vitamui-icon-app-customers .path100:before {
    content: "\eb85";
    margin-left: -1em;
    color: rgb(19, 0, 5);
}
.vitamui-icon-app-customers .path101:before {
    content: "\eb86";
    margin-left: -1em;
    color: var(--vitamui-primary-900);
}
.vitamui-icon-app-customers .path102:before {
    content: "\eb87";
    margin-left: -1em;
    color: var(--vitamui-primary);
}
.vitamui-icon-app-customers .path103:before {
    content: "\eb88";
    margin-left: -1em;
    color: var(--vitamui-primary);
}
.vitamui-icon-app-customers .path104:before {
    content: "\eb89";
    margin-left: -1em;
    color: var(--vitamui-primary);
}
.vitamui-icon-app-customers .path105:before {
    content: "\eb8a";
    margin-left: -1em;
    color: var(--vitamui-primary);
}
.vitamui-icon-app-customers .path106:before {
    content: "\eb8b";
    margin-left: -1em;
    color: var(--vitamui-primary);
}
.vitamui-icon-app-customers .path107:before {
    content: "\eb8c";
    margin-left: -1em;
    color: var(--vitamui-primary-300);
}
.vitamui-icon-app-customers .path108:before {
    content: "\eb8d";
    margin-left: -1em;
    color: var(--vitamui-primary-400);
}
.vitamui-icon-app-customers .path109:before {
    content: "\eb8e";
    margin-left: -1em;
    color: var(--vitamui-primary-400);
}
.vitamui-icon-app-customers .path110:before {
    content: "\eb8f";
    margin-left: -1em;
    color: var(--vitamui-primary-300);
}
.vitamui-icon-app-customers .path111:before {
    content: "\eb90";
    margin-left: -1em;
    color: var(--vitamui-primary);
}
.vitamui-icon-app-customers .path112:before {
    content: "\eb91";
    margin-left: -1em;
    color: var(--vitamui-primary);
}
.vitamui-icon-app-customers .path113:before {
    content: "\eb92";
    margin-left: -1em;
    color: var(--vitamui-primary);
}
.vitamui-icon-app-customers .path114:before {
    content: "\eb93";
    margin-left: -1em;
    color: var(--vitamui-primary-700);
}
.vitamui-icon-app-customers .path115:before {
    content: "\eb94";
    margin-left: -1em;
    color: rgb(76, 76, 76);
}
.vitamui-icon-app-customers .path116:before {
    content: "\eb95";
    margin-left: -1em;
    color: var(--vitamui-primary-700);
}
.vitamui-icon-app-customers .path117:before {
    content: "\eb96";
    margin-left: -1em;
    color: rgb(53, 53, 53);
}
.vitamui-icon-app-customers .path118:before {
    content: "\eb97";
    margin-left: -1em;
    color: rgb(161, 161, 161);
}
.vitamui-icon-app-customers .path119:before {
    content: "\eb98";
    margin-left: -1em;
    color: rgb(76, 76, 76);
}
