@use '../mixins/elevation' as elevation;
@use '../spacing';
@use '../bootstrap';

:root {
  .cdk-overlay-pane.small .mat-mdc-dialog-container {
    width: 500px;
  }

  .cdk-overlay-pane.p-0 .mdc-dialog__surface {
    @extend .p-0;
  }

  // 20px margin bottom on dialog header if followed by a dialog content (as direct sibling or as child of a direct sibling)
  *:has(mat-dialog-content) > vitamui-dialog-header {
    @extend .mb-4;
  }

  .mat-mdc-dialog-container {
    --mdc-dialog-container-shape: 20px;
    --mdc-dialog-supporting-text-color: var(--vitamui-grey-900);
    --mdc-dialog-supporting-text-size: 16px;
    --mdc-dialog-supporting-text-line-height: 24px;
    --mdc-dialog-supporting-text-weight: 400;
    padding: 0;
    max-height: 90vh;
    width: 800px;

    .mdc-dialog__surface {
      @include elevation.shadow-32dp-dark();
      @extend .p-6;
    }

    .mdc-dialog__title::before {
      content: unset;
    }

    .mat-mdc-dialog-title,
    .mat-mdc-dialog-content,
    .mat-mdc-dialog-actions {
      padding: 0;
    }

    .mat-mdc-dialog-content {
      max-height: unset;
      overflow: unset;
    }

    .mat-mdc-dialog-actions {
      border: none;
      @extend .mt-6;

      // When buttons are directly in the dialog-actions, display it horizontally with a gap
      &:not(:has(> div)) {
        @extend .hgap-4;
      }
      // If buttons are wrapped in divs (to form several lines), put a gap between the lines
      &:has(> div) {
        @extend .gap-4;
        // And a horizontal gap between the buttons
        & > div {
          @extend .hgap-4;
        }
      }
    }
  }
}
