@use '@angular/material' as mat;

// Plus imports for other components in your app.

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html

$vitamui-primary: (
  50: var(--vitamui-primary),
  100: var(--vitamui-primary),
  200: var(--vitamui-primary),
  300: var(--vitamui-primary),
  400: var(--vitamui-primary),
  500: var(--vitamui-primary),
  600: var(--vitamui-primary),
  700: var(--vitamui-primary),
  800: var(--vitamui-primary),
  900: var(--vitamui-primary),
  A100: var(--vitamui-primary),
  A200: var(--vitamui-primary),
  A400: var(--vitamui-primary),
  A700: var(--vitamui-primary),
  contrast: (
    50: var(--vitamui-white),
    100: var(--vitamui-white),
    200: var(--vitamui-white),
    300: var(--vitamui-white),
    400: var(--vitamui-white),
    500: var(--vitamui-white),
    600: var(--vitamui-white),
    700: var(--vitamui-white),
    800: var(--vitamui-white),
    900: var(--vitamui-white),
    A100: var(--vitamui-white),
    A200: var(--vitamui-white),
    A400: var(--vitamui-white),
    A700: var(--vitamui-white),
  ),
);

$vitamui-secondary: (
  50: var(--vitamui-secondary),
  100: var(--vitamui-secondary),
  200: var(--vitamui-secondary),
  300: var(--vitamui-secondary),
  400: var(--vitamui-secondary),
  500: var(--vitamui-secondary),
  600: var(--vitamui-secondary),
  700: var(--vitamui-secondary),
  800: var(--vitamui-secondary),
  900: var(--vitamui-secondary),
  A100: var(--vitamui-secondary),
  A200: var(--vitamui-secondary),
  A400: var(--vitamui-secondary),
  A700: var(--vitamui-secondary),
  contrast: (
    50: var(--vitamui-white),
    100: var(--vitamui-white),
    200: var(--vitamui-white),
    300: var(--vitamui-white),
    400: var(--vitamui-white),
    500: var(--vitamui-white),
    600: var(--vitamui-white),
    700: var(--vitamui-white),
    800: var(--vitamui-white),
    900: var(--vitamui-white),
    A100: var(--vitamui-white),
    A200: var(--vitamui-white),
    A400: var(--vitamui-white),
    A700: var(--vitamui-white),
  ),
);

$app-primary: mat.m2-define-palette($vitamui-primary);
$app-accent: mat.m2-define-palette($vitamui-secondary);

// The warn palette is optional (defaults to red).
$app-warn: mat.m2-define-palette(mat.$m2-red-palette);

$custom-typography: mat.m2-define-typography-config(
  $font-family: 'Mulish, sans-serif',
  //$headline-1: mat.define-typography-level(...), // TODO: define typography
  //$headline-2: mat.define-typography-level(...), // TODO: define typography
  //$headline-3: mat.define-typography-level(...), // TODO: define typography
  //$headline-4: mat.define-typography-level(...), // TODO: define typography
  //$headline-5: mat.define-typography-level(...), // TODO: define typography
  //$headline-6: mat.define-typography-level(...), // TODO: define typography
  //$subtitle-1: mat.define-typography-level(...), // TODO: define typography
  //$subtitle-2: mat.define-typography-level(...), // TODO: define typography
  $body-1: mat.m2-define-typography-level(
      $font-weight: 400,
      $font-size: 14px,
      $line-height: 22px,
      $letter-spacing: 0.1px,
    ),
  //$body-2: mat.define-typography-level(...), // TODO: define typography
  //$caption: mat.define-typography-level(...), // TODO: define typography
  //$button: mat.define-typography-level(...), // TODO: define typography
   //$overline: mat.define-typography-level(...), // TODO: define typography
);

$custom-theme: mat.m2-define-light-theme(
  (
    typography: $custom-typography,
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);

@include mat.all-component-themes($custom-theme);

// In order to have 10px vertical padding on form fields, we need to set the density to -3 (otherwise it's 16px by default)
@include mat.form-field-density(-3);

:root {
  body {
    --mat-sys-primary: var(--vitamui-primary);
  }
}
