@import '../mixins/elevation';

.mat-mdc-menu-panel {
  --mat-menu-item-label-text-color: var(--vitamui-grey-900);
  --mat-menu-item-hover-state-layer-color: var(--vitamui-primary-light);
  --mat-menu-item-focus-state-layer-color: var(--vitamui-primary-light);

  @include shadow-16dp-dark('!important');
  border: 1px solid var(--vitamui-grey-400);
  border-radius: 10px !important;
  scrollbar-color: var(--vitamui-primary) var(--vitamui-primary-50);
  scrollbar-width: thin;

  .mat-mdc-menu-content {
    max-height: 360px;

    .mat-mdc-menu-item {
      border-bottom: 1px solid var(--vitamui-grey-300);
      height: 51px;
      cursor: pointer;

      &[disabled] {
        cursor: not-allowed;
      }

      &:last-of-type {
        border-bottom: none;
      }

      &.selected .mat-mdc-menu-item-text {
        font-weight: 700;
      }
    }
  }
}

.vitamui-menu-panel.mat-menu-panel {
  border-radius: 10px;
  background: transparent;
  @include shadow-32dp-dark;

  .mat-menu-content {
    padding-top: 0;
    padding-bottom: 0;
  }

  .mat-menu-item {
    color: var(--vitamui-primary);
    background: white;
    font-size: 16px;
    font-weight: 500;
    min-height: 60px;
    padding: 0 20px 0 20px;
    line-height: 1em;
    display: flex;
    align-items: center;
    white-space: normal;

    &:not(:first-child) {
      border-top: 1px solid var(--vitamui-grey-300);
    }

    .vitamui-icon {
      font-size: 24px;
      margin-right: 16px;
      width: 27px;
    }
  }

  .mat-menu-item:hover:not([disabled]),
  .mat-menu-item.cdk-program-focused:not([disabled]),
  .mat-menu-item.cdk-keyboard-focused:not([disabled]),
  .mat-menu-item-highlighted:not([disabled]) {
    color: white;
    background-color: var(--vitamui-primary);
  }

  .mat-menu-item.vitamui-menu-item-header {
    padding: 0 14px 0 20px;

    > span {
      flex-grow: 1;
    }

    > span,
    > i {
      opacity: 0.5;
    }

    > .vitamui-icon {
      font-size: 24px;
      margin-right: 16px;
    }
  }
}
