@use '../mixins/elevation' as elevation;
@use '../mixins/material/panel' as panel;

.mat-mdc-menu-panel {
  @include panel.panel;

  --mat-menu-item-label-text-color: var(--vitamui-grey-900);
  --mat-menu-item-hover-state-layer-color: var(--vitamui-primary-light);
  --mat-menu-item-focus-state-layer-color: var(--vitamui-primary-light);

  .mat-mdc-menu-content {
    max-height: 360px;

    .mat-mdc-menu-item {
      border-bottom: 1px solid var(--vitamui-grey-300);
      height: 51px;
      cursor: pointer;

      &[disabled] {
        cursor: not-allowed;
      }

      &:last-of-type {
        border-bottom: none;
      }

      &.selected .mat-mdc-menu-item-text {
        font-weight: 700;
      }
    }
  }
}
