.mat-drawer {
  border-left: none !important;
}

.preview-tab-group.mat-mdc-tab-group,
.extended-preview-tab-group.mat-mdc-tab-group {
  height: 100%;

  .mat-mdc-tab-header {
    border-bottom: none;
    background-color: white;
    position: fixed;
    z-index: 10;
    width: 584px;

    &:not(.mat-mdc-tab-header-pagination-controls-enabled) .mat-mdc-tab-labels {
      padding: 0 40px;
    }
  }

  &.extended-preview-tab-group .mat-mdc-tab-header {
    width: 60%;
  }

  .mat-mdc-tab-body-wrapper {
    margin-top: 48px;
  }

  .mat-mdc-tab-body-content {
    padding: 20px 40px;
  }

  .mat-ink-bar {
    background-color: transparent !important;
    height: 3px;

    &::before {
      content: '';
      display: block;
      width: 69%;
      background-color: var(--vitamui-primary);
      height: 6px;
      border-bottom-right-radius: 70px;
      border-bottom-left-radius: 70px;
      left: 16%;
      position: relative;
    }
  }
}
