:root {
  .mat-mdc-progress-bar {
    --mdc-linear-progress-track-color: var(--vitamui-primary-50);
    --mdc-linear-progress-active-indicator-color: var(--vitamui-primary);
    --mdc-linear-progress-track-height: 8px;
    --mdc-linear-progress-active-indicator-height: 8px;
    border-radius: 8px;
  }
}
