:root {
  .mat-mdc-progress-bar {
    --mat-progress-bar-track-color: var(--vitamui-primary-50);
    --mat-progress-bar-active-indicator-color: var(--vitamui-primary);
    --mat-progress-bar-track-height: 8px;
    --mat-progress-bar-active-indicator-height: 8px;
    border-radius: 8px;
  }
}
