:root {
  .mat-mdc-tab-group,
  .mat-mdc-tab-nav-bar {
    --mat-tab-active-label-text-color: var(--vitamui-primary);
    --mat-tab-active-ripple-color: var(--vitamui-primary-50);

    --mat-tab-inactive-label-text-color: var(--vitamui-grey-600);
    --mat-tab-inactive-ripple-color: var(--vitamui-primary-50);
  }

  .mat-mdc-tab-header {
    --mat-tab-label-text-size: 16px;
    --mat-tab-label-text-tracking: 0;
    --mat-tab-label-text-line-height: 24px;
    --mat-tab-label-text-weight: 700;
  }

  .mdc-tab,
  .mdc-mdc-tab-indicator {
    padding: 0 15px;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
  .mat-mdc-tab:hover .mdc-tab__ripple::before {
    opacity: 1;
    border-radius: 5px 5px 0 0;
  }
}
