<div class="error-message">
  <img class="vitamui-logo" [src]="trustedAppLogoUrl ? trustedAppLogoUrl : '/assets/logo.png'">

  <h2 i18n="@@serverErrorTitle">Erreur serveur interne (500)</h2>
  <p i18n="@@serverErrorMessage">Une erreur interne s'est produite. Veuillez contacter un administrateur si le problème persiste.</p>

  <button class="btn link" (click)="goBack()" i18n="@@goBackButton">
    <i class="vitamui-icon vitamui-icon-chevron-left"></i>
    <span class="text-underline">Retour</span>
  </button>
</div>