// Create new profile CONSULTATION for AGENCIES_APP

var lastIdProfile = dbIam.getCollection('sequences').findOne({ '_id': 'profile_identifier' }).sequence;

dbIam.tenants.find({ "identifier": { $gte: 0 } }).forEach(function (tenant) {

    dbIam.profiles.insertOne({
        "_id": "PROFIL_" + tenant.identifier + "-AGENCIES_APP-CONSULTATION",
        "identifier": NumberInt(lastIdProfile++),
        "name": "Profil consultation des services agents",
        "description": "Profil de consultation du référentiel des services agent sans possibilité de mise à jour",
        "tenantIdentifier": NumberInt(tenant.identifier),
        "applicationName": "AGENCIES_APP",
        "level": "",
        "enabled": true,
        "readonly": false,
        "customerId": tenant.customerId,
        "roles": [
            { "name": "ROLE_GET_AGENCIES" }
        ]
    });

});

// Update sequence
dbIam.sequences.updateOne(
    { "_id": "profile_identifier" },
    {
        $set: {
            "sequence": NumberInt(lastIdProfile)
        }
    }
);
