db = db.getSiblingDB('iam')

print("START 02_application_ref.js.j2");

// -------- VITAM ADMINISTRATION -----

db.applications.insert({
    "identifier" : "COLLECT_APP",
{% if vitamui.collect.base_url is defined %}
    "url": "{{ vitamui.collect.base_url }}/collect",
{% else %}
    "url": "{{ url_prefix }}/collect/collect",
{% endif %}
    "icon": "vitamui-icon vitamui-icon-archive-ingest",
    "name": "Collecte et préparation des versements",
    "category": "ingest_and_consultation",
    "position": NumberInt(10),
    "hasCustomerList": false,
    "hasTenantList": false,
    "hasHighlight": false,
    "tooltip": "Collecte de données, Application de préparation de versements",
    "target": "_self",
    {% if vitamui.collect.base_url is defined %}
        "serviceId": "^{{ vitamui.collect.base_url }}/.*"
    {% else %}
        "serviceId": "^{{ url_prefix }}/collect/.*"
    {% endif %}
});

db.profiles.insert({
  "_id": "system_collect_profile",
  "identifier" : NumberInt(maxIdProfile++),
  "name": "Collect Profile",
  "description": "Collect Profile",
  "tenantIdentifier": NumberInt({{ vitamui_platform_informations.proof_tenant }}),
  "applicationName": "COLLECT_APP",
  "level": "",
  "enabled": true,
  "readonly": false,
  "customerId": "system_customer",
  "roles": [
    {"name": "ROLE_GET_FILLING_PLAN_ACCESS"},
    {"name": "ROLE_GET_PROJECTS"},
    {"name": "ROLE_CREATE_PROJECTS"},
    {"name": "ROLE_UPDATE_PROJECTS"}
  ]
});

db.groups.updateOne(
	{
		"_id": "admin_group",
		"profileIds": { $nin: ["system_collect_profile"] }
	},
	{
		$addToSet: {"profileIds": "system_collect_profile" }
	},
	{
		"upsert": false
	}
);

db.groups.updateOne(
	{
		"_id": "super_admin_group",
		"profileIds": { $nin: ["system_collect_profile"] }
	},
	{
		$addToSet: {"profileIds": "system_collect_profile" }
	},
	{
		"upsert": false
	}
);

print("END 02_application_ref.js.j2");
