db = db.getSiblingDB('security')

print("START 6.rc.0/05_update_contexts_with_collect_roles.js");

db.contexts.insert({
    "_id" : "ui_collect_context",
    "name": "Contexte UI Collect",
    "fullAccess" : true,
    "tenants" : [NumberInt({{ vitamui_platform_informations.proof_tenant | default(1) }}), NumberInt({{ vitamui_platform_informations.cas_tenant | default(-1) }})],
    "roleNames" : [
        "ROLE_GET_PROJECTS",
        "ROLE_GET_EXTERNAL_PARAMS",
        "ROLE_GET_FILLING_PLAN_ACCESS",
        "ROLE_CREATE_PROJECTS",
        "ROLE_UPDATE_PROJECTS",
        "ROLE_GET_ACCESS_CONTRACTS",
        "ROLE_GET_RULES",
        "ROLE_GET_ARCHIVE_SEARCH"
    ]
});

print("END 6.rc.0/05_update_contexts_with_collect_roles.js");
