db = db.getSiblingDB('security')

print("START_10_add_role_for_MANAGEMENT_CONTRACT_APP.js");

db.contexts.updateOne( {
	"_id": "ui_referential_context"
}, {
    $addToSet: {
        "roleNames":  {
            $each: [
            	"ROLE_GET_MANAGEMENT_CONTRACT", "ROLE_CREATE_MANAGEMENT_CONTRACT", "ROLE_UPDATE_MANAGEMENT_CONTRACT", "ROLE_DELETE_MANAGEMENT_CONTRACT"
        	]
        }
    }
});

print("END_10_add_role_for_MANAGEMENT_CONTRACT_APP.js");
