db = db.getSiblingDB('iam');

print("START 10_update_archive_profiles_to_add_get_rules_role.js");

db.profiles.updateMany({
      "applicationName": "ARCHIVE_SEARCH_MANAGEMENT_APP"},
{
$addToSet:{
    "roles":{
         "name":"ROLE_GET_RULES"
         }
}
});

print("END 10_update_archive_profiles_to_add_get_rules_role.js");
