db = db.getSiblingDB('iam')

print("START_24_update_hasTenantList_application_COLLECT_APP.js");

db.applications.update({
    "identifier" : "COLLECT_APP"
}, {
    $set: {
        "hasTenantList": true
    },
});

print("END_24_update_hasTenantList_application_COLLECT_APP.js");
