db = db.getSiblingDB('iam')

print("START 35_add_consult_ingest_contract_profil.js");

// Create new profile CONSULTATION for INGEST_APP

var lastIdProfile = db.getCollection('sequences').findOne({ '_id': 'profile_identifier' }).sequence;

db.tenants.find({ "identifier": { $gte: 0 } }).forEach(function (tenant) {

    db.profiles.insert({
        "_id": "PROFIL_" + tenant.identifier + "-INGEST_APP-CONSULTATION",
        "identifier": NumberInt(lastIdProfile++),
        "name": "Profil pour la consultation des contrats d'entrée",
        "description": "Profil pour la consultation des contrats d'entrée dans Vitam sans mises à jour des contrats",
        "tenantIdentifier": NumberInt(tenant.identifier),
        "applicationName": "INGEST_APP",
        "level": "",
        "enabled": true,
        "readonly": false,
        "customerId": tenant.customerId,
        "roles": [
            {
                "name": "ROLE_GET_INGEST_CONTRACTS"
            },
            {
                "name": "ROLE_GET_FILLING_PLAN_ACCESS"
            },
            {
                "name": "ROLE_GET_MANAGEMENT_CONTRACTS"
            },
            {
                "name": "ROLE_GET_ARCHIVE_PROFILES"
            }
        ]
    });

});

// Update sequence
db.sequences.updateOne({
    "_id": "profile_identifier"
}, {
    $set: {
        "sequence": NumberInt(lastIdProfile)
    }
});

print("END 35_add_consult_ingest_contract_profil.js");
