@import '../../../../sass/variables/colors';

.row > div {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;

  color: var(--vitamui-grey-600);
  font-weight: normal;
}

span {
  font-size: 16px;

  color: var(--vitamui-grey-900);
}
