:host {
  display: flex;
  background-color: var(--vitamui-primary);
  height: 72px;
  color: white;
  font-weight: 700;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.2px;
  position: relative;
  left: 40px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: end;
}
