.cp-text-color {
  color: var(--vitamui-primary);
}

.date-filter {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  border: solid 1px var(--vitamui-secondary);
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-align: center;
  color: var(--vitamui-secondary);
  padding: 25px 12px 25px 13px;

  position: relative;

  > span {
    vertical-align: middle;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: var(--vitamui-primary);
  }

  .clear-date-icon {
    font-size: 15px;
    font-weight: bold;
    margin-left: 4px;
  }
}

.filter-text {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;

  display: flex;
  align-items: center;
  letter-spacing: 0.1px;

  color: #000000;
}

.clickable {
  cursor: pointer;
}
