db = db.getSiblingDB('iam')

print("START 07_create_profile_GETORIX_DEPOSIT_APP.js");

// ========================================= GETORIX_DEPOSIT : ADD NEW GETORIX PROFILEs =========================================

var maxIdProfile = db.getCollection('sequences').findOne({'_id': 'profile_identifier'}).sequence;

db.tenants.find({ "identifier": { $gte: 0 } }).forEach(function (tenant) {

       // Profil : ARCHEOLOGUE
    db.profiles.insertOne({
        "_id" : "PROFIL_" + tenant.identifier + "-GETORIX_DEPOSIT_APP-ARCHAEOLOGIST",
        "identifier" : NumberInt(maxIdProfile++),
        "name": "Getorix deposit : archaeologist Profile",
        "description": "Profil d'un archéologue de l'application des versementgetorix",
        "tenantIdentifier": NumberInt(tenant.identifier),
        "applicationName" : "GETORIX_DEPOSIT_APP",
        "enabled" : true,
        "readonly" : true,
        "level" : "",
        "customerId" : tenant.customerId,
        "roles" : [
            {"name": "ROLE_GET_GETORIX_DEPOSIT"},
            {"name": "ROLE_CREATE_GETORIX_DEPOSIT"},
            {"name": "ROLE_UPDATE_GETORIX_DEPOSIT"},
            {"name": "ROLE_DELETE_GETORIX_DEPOSIT"},
            {"name": "ROLE_CLOSE_TRANSACTIONS"}
         ]
    });

    // Profil : ARCHIVISTE
    db.profiles.insertOne({
        "_id" : "PROFIL_" + tenant.identifier + "-GETORIX_DEPOSIT_APP-ARCHVIST",
        "identifier" : NumberInt(maxIdProfile++),
        "name": "Getorix deposit : Archivist Profile",
        "description": "Profil d'un archiviste de l'application des versementgetorix",
        "tenantIdentifier": NumberInt(tenant.identifier),
        "applicationName" : "GETORIX_DEPOSIT_APP",
        "enabled" : true,
        "readonly" : true,
        "level" : "",
        "customerId" : tenant.customerId,
        "roles" : [
            {"name": "ROLE_GET_GETORIX_DEPOSIT"},
            {"name": "ROLE_CREATE_GETORIX_DEPOSIT"},
            {"name": "ROLE_UPDATE_GETORIX_DEPOSIT"},
            {"name": "ROLE_DELETE_GETORIX_DEPOSIT"},
            {"name": "ROLE_UPDATE_TRANSACTIONS"},
            {"name": "ROLE_SEND_TRANSACTIONS"},
            {"name": "ROLE_CLOSE_TRANSACTIONS"},
            {"name": "ROLE_ABORT_TRANSACTIONS"},
            {"name": "ROLE_REOPEN_TRANSACTIONS"}
         ]
    });

});


db.sequences.updateOne({
    "_id": "profile_identifier"
}, {
	$set: {
		"sequence": NumberInt(maxIdProfile)
	}
});


//============================ UPDATE ADMIN GROUPS =============================

var profileArchaeologistGetorixDepositId = "PROFIL_{{ vitamui_platform_informations.proof_tenant | default(1) }}-GETORIX_DEPOSIT_APP-ARCHAEOLOGIST";

db.groups.updateOne({
    "_id": "5c79022e7884583d1ebb6e5d0bc0121822684250a3fd2996fd93c04634363363"
}, {
    $addToSet: {
        "profileIds": profileArchaeologistGetorixDepositId
    }
});

db.groups.updateOne({
    "_id": "admin_group"
}, {
    $addToSet: {
        "profileIds": profileArchaeologistGetorixDepositId
    }
});


var profileArchivistGetorixDepositId = "PROFIL_{{ vitamui_platform_informations.proof_tenant | default(1) }}-GETORIX_DEPOSIT_APP-ARCHVIST";

db.groups.updateOne({
    "_id": "5c79022e7884583d1ebb6e5d0bc0121822684250a3fd2996fd93c04634363363"
}, {
    $addToSet: {
        "profileIds": profileArchivistGetorixDepositId
    }
});

db.groups.updateOne({
    "_id": "admin_group"
}, {
    $addToSet: {
        "profileIds": profileArchivistGetorixDepositId
    }
});

print("END 07_create_profile_GETORIX_DEPOSIT_APP.js");
