<vitamui-common-archive-unit-viewer *ngIf="!editMode" [data]="archiveUnit"></vitamui-common-archive-unit-viewer>

<div *ngIf="editMode">
  <vitamui-common-editor-banner [title]="'ARCHIVE_UNIT.EDITOR_BANNER.TITLE' | translate: { sedaVersion: '2.3' }" class="editor-banner">
    <button (click)="onSave()" [disabled]="!canSave" class="btn" [ngClass]="isModified() ? 'save' : 'primary'">
      {{ 'COMMON.SAVE' | translate }}
    </button>
    <button (click)="onCancel(true)" class="btn primary cancel">
      {{ 'COMMON.UNDO' | translate }}
    </button>
  </vitamui-common-editor-banner>
  <vitamui-common-archive-unit-editor [data]="archiveUnit"></vitamui-common-archive-unit-editor>
</div>

<ng-template #updateDialog>
  <vitamui-dialog-header
    [subhead]="'ARCHIVE_UNIT.DIALOGS.SAVE.TITLE' | translate"
    [title]="'ARCHIVE_UNIT.DIALOGS.SAVE.CONTENT' | translate"
  ></vitamui-dialog-header>
  <mat-dialog-actions>
    <button [matDialogClose]="true" [disabled]="!canSave" class="btn primary btn-confirm-dialog">
      {{ 'ARCHIVE_UNIT.DIALOGS.SAVE.BUTTONS.CONFIRM' | translate }}
    </button>
    <button matDialogClose class="btn link cancel cancel-popup">{{ 'ARCHIVE_UNIT.DIALOGS.SAVE.BUTTONS.CANCEL' | translate }}</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #cancelDialog>
  <vitamui-dialog-header
    [subhead]="'ARCHIVE_UNIT.DIALOGS.CANCEL.TITLE' | translate"
    [title]="'ARCHIVE_UNIT.DIALOGS.CANCEL.CONTENT' | translate"
  ></vitamui-dialog-header>
  <mat-dialog-actions>
    <button [matDialogClose]="true" [disabled]="!isModified()" class="btn primary btn-confirm-dialog">
      {{ 'ARCHIVE_UNIT.DIALOGS.CANCEL.BUTTONS.CONFIRM' | translate }}
    </button>
    <button matDialogClose class="btn link cancel cancel-popup">{{ 'ARCHIVE_UNIT.DIALOGS.CANCEL.BUTTONS.CANCEL' | translate }}</button>
  </mat-dialog-actions>
</ng-template>
