<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    <app-hierarchy-detail *ngIf="openedItem" (previewClose)="closePanel()" [id]="openedItem?.id"></app-hierarchy-detail>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-common-title-breadcrumb>
        {{ 'APPLICATION.HIERARCHY_PROFILE_APP.NAME' | translate }}
      </vitamui-common-title-breadcrumb>

      <vitamui-common-banner [searchbarPlaceholder]="'HIERARCHY.HOME.TITLE_PLACEHOLDER' | translate" (search)="onSearchSubmit($event)">
        <button class="btn primary ml-5" (click)="openHierarchyDuplicateDialog()">
          <span>{{ 'HIERARCHY.HOME.ACTION_BUTTON' | translate }}</span>
        </button>
      </vitamui-common-banner>
    </div>

    <div class="vitamui-content">
      <app-hierarchy-list [searchText]="search" (profileClick)="openPanel($event)"></app-hierarchy-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
