@import '../../../assets/css/mixins';
@import '../../../assets/css/layout';

.buttons {
  position: relative;
  height: 35px;
  color: var(--vitamui-secondary-300);
  vertical-align: middle;
}

.buttons:hover {
  position: relative;
  height: 35px;
  color: var(--vitamui-secondary-300);
}

.buttons:focus {
  position: relative;
  height: 35px;
  color: var(--vitamui-secondary-300);
}

.pastis-ico-save {
  @extend .pastis-ico-svg;
}

.pastis-ico-open {
  @extend .pastis-ico-svg;
  color: white;
}
