@use '../../../../../sass/mixins/elevation' as elevation;

:host::ng-deep {
  --width: 900px;
  color: var(--vitamui-grey-600);
  --headerHeight: 72px;
  font-weight: 400;
  font-size: 16px;

  .mat-mdc-tab-group.mat-primary .mat-ink-bar,
  .mat-mdc-tab-nav-bar.mat-primary .mat-ink-bar {
    background: var(--vitamui-primary);
  }

  mat-pseudo-checkbox.mat-pseudo-checkbox {
    display: none;
  }
  mat-list-option:focus,
  mat-list-option:hover {
    background-color: var(--vitamui-grey-300);
  }

  vitamui-common-menu-application-tile {
    height: 100%;
  }
  mat-list-option vitamui-common-menu-application-tile * {
    .hover-focus {
      visibility: hidden;
    }

    .focus {
      display: none !important;
    }
  }

  .overflow {
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  mat-list-option:focus {
    vitamui-common-menu-application-tile * {
      .appName {
        font-weight: bold;
      }

      .mandatory {
        max-width: 65%;
      }

      .hover-focus {
        visibility: visible;
      }

      .focus {
        display: flex !important;
      }
    }
  }
  mat-list-option:hover {
    vitamui-common-menu-application-tile * {
      .appName {
        font-weight: bold;
      }

      .hover-focus {
        visibility: visible;
      }
    }
  }

  *:focus {
    outline-color: transparent;
    outline-width: 0;
  }

  .container {
    background: var(--vitamui-white);
    width: var(--width);
    height: auto;
    @include elevation.shadow-128dp-dark;
  }

  .header {
    height: var(--headerHeight);
    align-items: center;
    padding: 0 1rem;
  }

  .apps-button {
    font-size: 24px;
  }

  .apps-container {
    text-align: right;
    cursor: pointer;
  }
}
