<vitamui-input
  #colorPickerInput
  [colorPicker]="color"
  (colorPickerChange)="handlePicker($event)"
  (colorPickerOpen)="onPickerOpen()"
  [disabled]="disabled"
  (change)="forceHex()"
  (keyup)="forceHex()"
  [formControl]="colorInput"
  cpAlphaChannel="disabled"
  [cpDisableInput]="true"
  cpOutputFormat="hex"
  [maxlength]="7"
  [placeholder]="placeholder"
  [errorMessageMap]="{
    colorTooLight: 'CUSTOMER.GRAPHIC_IDENTITY.TOO_LIGHT' | translate,
    colorTooDark: 'CUSTOMER.GRAPHIC_IDENTITY.TOO_DARK' | translate,
    colorInvalid: 'CUSTOMER.GRAPHIC_IDENTITY.INVALID' | translate,
  }"
>
</vitamui-input>

<div class="input-color-preview" [style.background-color]="color | safeStyle" (click)="openPicker()"></div>
