:host {
  position: relative;
  width: 300px;
  display: block;

  .input-color-preview {
    padding: 0;
    position: absolute;
    right: 10px;
    top: calc(50% - 60px/2);
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }
}

vitamui-common-input {
  width: 300px !important;
}
