:host {
 
  ::ng-deep .vitamui-input-errors {
    display: none;
  }

  .container-preview {
    display: flex;
    flex-direction: row-reverse;
    top: -40px;
    position: relative;
    right: 5px;
    height: 0;
  }
   
  .input-color-preview {
    padding: 0;
    margin: 0 5px 0 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }
  
}