@if (ingest) {
  <div class="gap-2">
    <vitamui-common-data [label]="'INGEST_DETAIL.DEPOSIT_ID' | translate" [value]="ingest.obIdIn"></vitamui-common-data>
    <vitamui-common-data [label]="'INGEST_DETAIL.NAME' | translate" [value]="evDetDataDeflated?.EvDetailReq"></vitamui-common-data>
    <vitamui-common-data
      [label]="'INGEST_DETAIL.OPERATION_ID' | translate"
      [value]="ingest.id"
      [valueUrl]="getOpiUrl$() | async"
      [valueTooltip]="'INGEST_DETAIL.OPERATION_ID_TOOLTIP' | translate"
      [canCopyValue]="true"
    ></vitamui-common-data>
    <div class="row gap-2">
      <vitamui-common-data
        class="col-6"
        [label]="'INGEST_DETAIL.START_DATE' | translate"
        [value]="ingest?.evDateTime | dateTime: 'dd/MM/yyyy'"
      ></vitamui-common-data>
      <vitamui-common-data
        class="col-6"
        [label]="'INGEST_DETAIL.END_DATE' | translate"
        [value]="ingestEndDate(ingest) | dateTime: 'dd/MM/yyyy'"
      ></vitamui-common-data>
      @if (referentialNames$ | async; as names) {
        <vitamui-common-data
          class="col-12"
          [label]="'INGEST_DETAIL.PRODUCT_SERVICE' | translate"
          [value]="formatReferentialValue(agIdExtDeflated?.originatingAgency, names?.originatingAgencyName)"
          [valueCss]="'text-ellipsis'"
          [valueTooltip]="names?.originatingAgencyName"
        ></vitamui-common-data>
        <vitamui-common-data
          class="col-12"
          [label]="'INGEST_DETAIL.VERSATILE_SERVICE' | translate"
          [value]="formatReferentialValue(agIdExtDeflated?.submissionAgency, names?.submissionAgencyName)"
          [valueCss]="'text-ellipsis'"
          [valueTooltip]="names?.submissionAgencyName"
        ></vitamui-common-data>
        <vitamui-common-data
          class="col-12"
          [label]="'INGEST_DETAIL.ENTRY_CONTRACT' | translate"
          [value]="formatReferentialValue(evDetDataDeflated?.ArchivalAgreement, names?.archivalAgreementName)"
          [valueCss]="'text-ellipsis'"
          [valueTooltip]="names?.archivalAgreementName"
        ></vitamui-common-data>
        <vitamui-common-data
          class="col-12"
          [label]="'INGEST_DETAIL.ARCHIVING_PROFIL' | translate"
          [value]="formatReferentialValue(evDetDataDeflated?.ArchivalProfile, names?.archivalProfileName)"
          [valueCss]="'text-ellipsis'"
          [valueTooltip]="names?.archivalProfileName"
        ></vitamui-common-data>
      }
    </div>
    <vitamui-common-data [label]="'INGEST_DETAIL.STATUS' | translate" [value]="evDetDataDeflated?.LegalStatus"></vitamui-common-data>
    <vitamui-common-data
      [label]="'INGEST_DETAIL.MESSAGE' | translate"
      [value]="ingestMessage()"
      [valueCss]="'bold ' + getIngestStatusClass()"
    ></vitamui-common-data>
    <div class="w-100">
      <label class="text caption bold primary">{{ 'INGEST_DETAIL.OPERATION_DETAILS' | translate }}</label>
      @if (hasEvent()) {
        <div>
          <app-ingest-event-detail [ingest]="ingest"></app-ingest-event-detail>
        </div>
      }
    </div>
  </div>
}
