<br>
<div class="row">
  <div class="col-6 mb-3">
    <label>{{'INGEST_DETAIL.DEPOSIT_ID' | translate}}</label>
    <div>{{ ingest?.obIdIn }}</div>
  </div>
  <div class="col-6 mb-3">
    <label>{{'INGEST_DETAIL.NAME' | translate}}</label>
    <div>{{ getEvDetData(ingest)?.EvDetailReq }}</div>
  </div>
</div>

<div class="row">
  <div class="col-12 mb-3">
    <label>{{'INGEST_DETAIL.OPERATION_ID' | translate}}</label>
    <div>{{ ingest?.id }}</div>
  </div>
  <br>

  <div class="col-6 mb-3">
    <label>{{'INGEST_DETAIL.START_DATE' | translate}}</label>
    <div>{{ ingest?.evDateTime | date: 'dd/MM/yyyy' }}</div>
  </div>
  <div class="col-6 mb-3">
    <label>{{'INGEST_DETAIL.END_DATE' | translate}}</label>
    <div>{{ ingestEndDate(ingest) | date: 'dd/MM/yyyy' }}</div>
  </div>
  <br>
  <div class="col-6 mb-3">
    <label>{{'INGEST_DETAIL.PRODUCT_SERVICE' | translate}}</label>
    <div>{{ getAgIdExt(ingest)?.originatingAgency }}</div>
  </div>
  <div class="col-6 mb-3">
    <label>{{'INGEST_DETAIL.VERSATILE_SERVICE' | translate}}</label>
    <div>{{ getAgIdExt(ingest)?.submissionAgency }}</div>
  </div>
  <br>
  <div class="col-6 mb-3">
    <label>{{'INGEST_DETAIL.ENTRY_CONTRACT' | translate}}</label>
    <div>{{ getEvDetData(ingest)?.ArchivalAgreement }}</div>
  </div>
  <div class="col-6 mb-3">
    <label>{{'INGEST_DETAIL.ARCHIVING_PROFIL' | translate}}</label>
    <div>{{ ingest?.ArchivalProfile }}</div>
  </div>
  <br>
  <div class="col-6 mb-3">
    <label>{{'INGEST_DETAIL.STATUS' | translate}}</label>
    <div>{{ getEvDetData(ingest)?.LegalStatus }}</div>
  </div>
</div>

<div class="row">
  <div class="col-12 mb-3">
    <label>{{'INGEST_DETAIL.MESSAGE' | translate}}</label>
    <div class="vitamui-snack-bar-content" [ngSwitch]="ingestStatus(ingest)">
      <div *ngSwitchCase="'OK'" class="text-green">{{ ingestMessage(ingest) }}</div>
      <div *ngSwitchCase="'WARNING'" class="text-orange">{{ ingestMessage(ingest) }}</div>
      <div *ngSwitchCase="'KO'" class="text-red">{{ ingestMessage(ingest) }}</div>
      <div *ngSwitchCase="'FATAL'" class="text-black">{{ ingestMessage(ingest) }}</div>
      <div *ngSwitchCase="'En cours'" class="text-grey status">{{ ingestMessage(ingest) }}</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-3">
    <label>{{'INGEST_DETAIL.OPERATION_DETAILS' | translate}}</label>
    <div *ngIf="ingestDetails">
      <app-ingest-event-detail [ingest]="ingestDetails"></app-ingest-event-detail>
    </div>
  </div>
</div>



