<button
  mat-icon-button
  [disabled]="disabled"
  disableRipple
  [attr.aria-label]="'toggle ' + node?.label"
  (click)="nodeToggle.emit()"
  class="arrow mr-1"
  type="button"
>
  <i class="vitamui-icon icon {{ expanded ? 'vitamui-icon-chevron-down' : 'vitamui-icon-chevron-right' }}"></i>
</button>

<mat-checkbox
  id="enable{{ node?.id }}"
  [(ngModel)]="node.checked"
  [(indeterminate)]="node.disabledChild"
  [disabled]="node.disabled || isVirtualNode()"
  (ngModelChange)="onCheckboxClick()"
  (click)="onCheckboxClick()"
  [vitamuiTooltip]="node?.title"
  [vitamuiTooltipShowDelay]="300"
>
  <label class="node-label" [ngClass]="isVirtualNode()? 'virtual' : ''" (click)="onLabelClick($event)">
    <i class="mr-1 vitamui-icon {{ icon }}"></i>
    {{ node?.title }}
  </label>
</mat-checkbox>
