input[type='file'] {
  display: none;
}

.drag-and-drop-area {
  width: 100%;
  border: 1px dashed var(--vitamui-primary);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.on-over {
    border: 1px solid var(--vitamui-secondary);
    background: var(--vitamui-grey-400);
    opacity: 0.9;
    color: var(--vitamui-white);
  }

  &.error {
    border: 1px dashed var(--vitamui-red);
  }
}

.files-wrapper {
  overflow-y: auto;
  max-height: 230px;
  scrollbar-color: var(--vitamui-primary) var(--vitamui-primary-50);
  scrollbar-width: thin;
  scrollbar-gutter: stable both-edges;
  padding: 0 20px;
}
