<div
  class="drag-and-drop-area p-5"
  vitamuiCommonDragAndDrop
  [enableFolderDragAndDrop]="directoryMode"
  (fileToUploadEmitter)="handleFilesSelection($event)"
  [class.error]="hasErrors()"
>
  <input
    #fileSelector
    type="file"
    (change)="handleFilesSelection($event.target.files)"
    [accept]="extensions?.join(',')"
    [multiple]="multiple"
  />
  @if (directoryMode) {
    <input #directorySelector type="file" (change)="handleFilesSelection($event.target.files)" [multiple]="multiple" webkitdirectory />
  }

  @if (content) {
    <ng-container *ngTemplateOutlet="content"></ng-container>
  } @else {
    <ng-container *ngTemplateOutlet="defaultContent"></ng-container>
  }

  @if (fileList) {
    <ng-container *ngTemplateOutlet="fileList"></ng-container>
  } @else {
    <ng-container *ngTemplateOutlet="defaultFileList"></ng-container>
  }
</div>

<vitamui-form-errors [control]="control"></vitamui-form-errors>

<ng-template #defaultFileList>
  <div class="vitamui-chip-list">
    <div *ngFor="let file of displayFiles" class="vitamui-chip">
      <div [title]="file.name" class="vitamui-chip-content">
        <i class="vitamui-icon {{ file.directory ? 'vitamui-icon-folder' : 'vitamui-icon-file' }}"></i>
        {{ file.name }}
        <span class="file-size">{{ file.size | bytes }}</span>
      </div>
      <div (click)="removeFile(file)" class="vitamui-remove-chip">
        <i class="material-icons">clear</i>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #defaultContent>
  @if (displayMessageAndLinks) {
    <div class="align-items-stretch gap-2">
      <div class="text large bold text-center primary" [class.danger]="hasErrors()">
        <div>{{ 'FILE_SELECTOR.DRAG_AND_DROP' | translate }}</div>
        @if (directoryMode) {
          <div>{{ 'FILE_SELECTOR.OR' | translate }}</div>
          <div class="d-flex row justify-content-center">
            <div class="text bold link primary" [class.danger]="hasErrors()" (click)="openDirectorySelectorOSDialog()">
              {{ 'FILE_SELECTOR.BROWSE_DIRECTORIES' | translate }}
            </div>
            <div class="ml-2 mr-2">/</div>
            <div class="text bold link primary" [class.danger]="hasErrors()" (click)="openFileSelectorOSDialog()">
              {{ 'FILE_SELECTOR.BROWSE_FILES' | translate }}
            </div>
          </div>
        } @else {
          <div class="d-flex row justify-content-center">
            <div class="mr-2">{{ 'FILE_SELECTOR.OR' | translate }}</div>
            <div class="text bold link primary" [class.danger]="hasErrors()" (click)="openFileSelectorOSDialog()">
              {{ 'FILE_SELECTOR.BROWSE' | translate }}
            </div>
          </div>
        }
      </div>

      @if (extensions || maxSizeInBytes) {
        <div class="text normal text-center vitamui-grey-600">
          @if (extensions) {
            <div>
              {{ extensions.length | i18nPlural: format | translate: { formats: extensions.join(', ') } }}
            </div>
          }
          @if (maxSizeInBytes) {
            <div>
              {{ 'FILE_SELECTOR.MAX_SIZE' | translate: { size: maxSizeInBytes | bytes: 0 } }}
            </div>
          }
        </div>
      }
    </div>
  }
</ng-template>
