<div class="content">
  <app-homepage-message
    [customer]="data.customer"
    (formToSend)="customForm = $event.form; portalTitles = $event.portalTitles; portalMessages = $event.portalMessages"
  >
  </app-homepage-message>

  <div class="d-flex mt-4">
    <button type="button" class="btn primary mr-4" [disabled]="disabled" (click)="updateHomepageMessage()">
      {{ 'COMMON.APPLY_UPDATE' | translate }}
    </button>
    <button type="button" class="btn cancel link" (click)="onCancel()">
      {{ 'COMMON.UNDO' | translate }}
    </button>
  </div>
</div>
