<vitamui-dialog-header [title]="'CUSTOMER.OWNER.MODAL.SAFE_TITLE' | translate: { name: data?.owner?.name }"></vitamui-dialog-header>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="gap-3 align-items-stretch">
    <vitamui-common-input formControlName="name" required [placeholder]="'CUSTOMER.OWNER.SAFE_NAME' | translate"></vitamui-common-input>

    <vitamui-select
      formControlName="identifier"
      [placeholder]="'CUSTOMER.OWNER.TENANT_ID' | translate"
      [options]="availableTenants"
      [multiple]="false"
      [enableSearch]="false"
    ></vitamui-select>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" class="btn primary" [disabled]="isLoading || form.pending || form.invalid">
      {{ 'COMMON.SUBMIT' | translate }}
    </button>
    <button type="button" class="btn cancel link" (click)="onCancel()">{{ 'COMMON.UNDO' | translate }}</button>
  </mat-dialog-actions>
</form>
