<div class="vitamui-snack-bar-container">

  <span class="vitamui-snack-bar-content" [ngSwitch]="data?.type">

    <ng-container *ngSwitchCase="'fileUploaded'">
      <i class="vitamui-icon vitamui-icon-archive-ingest"></i> Un ou plusieurs versement(s) sont en cours de téléchargement.
      <br/>
      <span>(Merci de ne pas quitter cette page pendant le processus et d'ouvrir un nouvel onglet si besoin)</span>
    </ng-container>

  </span>

  <button class="close-btn" (click)="close()"><i class="material-icons">clear</i></button>

</div>
