<div class="container">
  <form [formGroup]="ruleDetailsForm">
    <label class="text bold normal primary"> {{ 'RULES.APPRAISAL_RULES.SOURCE_RULE' | translate }}</label>
    <div class="row content vitamui-form" style="margin-right: 0px">
      <vitamui-common-editable-input
        class="col-6"
        formControlName="rule"
        [validator]="ruleDetailsForm?.get('rule')?.validator"
        [asyncValidator]="ruleDetailsForm?.get('rule')?.asyncValidator"
        label="{{ 'RULES.APPRAISAL_RULES.RULE_ID' | translate }}"
      >
        <vitamui-common-field-error errorKey="required">{{ 'COMMON.REQUIRED' | translate }}</vitamui-common-field-error>
        <vitamui-common-field-error errorKey="uniqueRuleId">
          {{ 'RULES.APPRAISAL_RULES.SAME_RULE_ID' | translate }}</vitamui-common-field-error
        >
        <vitamui-common-field-error errorKey="ruleIdPattern"
          >{{ 'ARCHIVE_SEARCH.RULE.WRONG_FORMAT' | translate }}
        </vitamui-common-field-error>

        <vitamui-common-field-error errorKey="ruleIdExists"
          >{{ 'RULES.APPRAISAL_RULES.RULE_NOT_EXIST' | translate }}
        </vitamui-common-field-error>
      </vitamui-common-editable-input>

      <vitamui-common-input
        class="col-6 px-0"
        formControlName="ruleName"
        minlength="2"
        maxlength="100"
        placeholder="{{ 'RULES.APPRAISAL_RULES.RULE_NAME' | translate }}"
      >
        <vitamui-common-input-error
          *ngIf="ruleDetailsForm?.get('ruleName')?.touched && ruleDetailsForm?.get('ruleName')?.hasError('required')"
          >{{ 'COMMON.REQUIRED' | translate }}</vitamui-common-input-error
        >
      </vitamui-common-input>
    </div>

    <div *ngIf="isLoading; then loadingMode; else okTotalFound"></div>

    <div class="d-flex mt-4 padding-btm-style">
      <button type="submit" class="btn primary mr-4" [disabled]="disabledControl" (click)="submit()">
        {{ 'RULES.COMMON.CONTROL' | translate }}
      </button>
      <button type="button" class="btn link cancel" (click)="onDelete()">{{ 'RULES.COMMON.UNDO' | translate }}</button>
    </div>
  </form>
</div>

<ng-template #loadingMode>
  <div class="vitamui-min-content">
    <mat-spinner class="vitamui-spinner large"></mat-spinner>
  </div>
</ng-template>

<ng-template #okTotalFound>
  <div *ngIf="showText && itemsWithSameRule !== '0'" class="row message-text-ok">
    <div class="col-1"><i class="material-icons">check_circle</i></div>
    <div class="col-11">{{ itemsWithSameRule }} {{ 'RULES.APPRAISAL_RULES.UA_TO_UPDATE' | translate }}</div>
  </div>

  <div *ngIf="showText && itemsToNotUpdate !== '0'" class="row message-text-ko">
    <div class="col-1"><i class="material-icons">error</i></div>
    <div class="col-11">{{ itemsToNotUpdate }} {{ 'RULES.APPRAISAL_RULES.UA_TO_IGNORE.' + ruleCategoryKey | translate }}</div>
  </div>
</ng-template>

<ng-template #confirmDeleteBlocRuleDialog>
  <vitamui-dialog-header [title]="'RULES.DIALOG_MESSAGE.DELETE_COMPONENT' | translate"></vitamui-dialog-header>
  <mat-dialog-actions>
    <button [matDialogClose]="true" class="btn primary btn-confirm-dialog">{{ 'RULES.COMMON.CONFIRM' | translate }}</button>
    <button matDialogClose class="btn cancel link">{{ 'RULES.COMMON.UNDO' | translate }}</button>
  </mat-dialog-actions>
</ng-template>
