<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav
    [ngClass]="isLPExtended ? 'extended-lateral-panel' : 'normal-lateral-panel'"
    #panel
    mode="side"
    position="end"
    [fixedInViewport]="true"
  >
    <app-project-preview
      *ngIf="projectId"
      [projectId]="projectId"
      (previewClose)="closePanel()"
      (showExtendedLateralPanel)="showExtendedLateralPanel()"
      (backToNormalLateralPanel)="backToNormalLateralPanel()"
    >
    </app-project-preview>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-common-title-breadcrumb>{{ 'COLLECT.APP_BREADCRUMB' | translate }}</vitamui-common-title-breadcrumb>
      <vitamui-common-banner (search)="onSearch($event)" [searchbarPlaceholder]="'COLLECT.SEARCH_PLACEHOLDER' | translate">
        <button
          (click)="openCreateProjectDialog()"
          class="btn primary"
          matTooltip="{{ 'COLLECT.CREATE_PROJECT_TOOLTIP' | translate }}"
          matTooltipClass="vitamui-tooltip"
        >
          <span>{{ 'COLLECT.CREATE_PROJECT' | translate }}</span>
        </button>
      </vitamui-common-banner>
    </div>
    <div class="vitamui-content">
      <div></div>
      <div class="mt-3">
        <app-project-list
          [tenantIdentifier]="tenantIdentifier"
          (previewProjectDetailsPanel)="openProjectDetailsPanel($event)"
        ></app-project-list>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
