<div *ngIf="( project); let selectedProject; else loadingSpinner">
  <vitamui-common-sidenav-header [extended]="isPanelextended" [title]="selectedProject.messageIdentifier"
                                 [icon]="'vitamui-icon-file'" [hasToolTipOnTitle]="true" [toolTipTitleDuration]="300"
                                 (onclose)="emitClose()">
    <vitamui-common-menu-button [overlayPos]="'end'" [icon]="'vitamui-icon-more-horiz'">
      <button mat-menu-item *ngIf="!isPanelextended" (click)="showExtendedPanel()">
        {{ 'COLLECT.PROJECT_UNIT_PREVIEW.ACTIONS.SHOW_MORE_DETAILS' | translate }}
      </button>
      <button mat-menu-item *ngIf="isPanelextended" (click)="showNormalPanel()">
        {{ 'COLLECT.PROJECT_UNIT_PREVIEW.ACTIONS.SHOW_ONLY_INFORMATION_DETAILS' | translate }}
      </button>
      <button mat-menu-item (click)="showEditProject()">
        {{ 'COLLECT.PROJECT_UNIT_PREVIEW.ACTIONS.EDIT_PROJECT' | translate }}
      </button>
      <button mat-menu-item (click)="searchArchiveUnitsByProject()">
        {{ 'COLLECT.PROJECT_UNIT_PREVIEW.ACTIONS.SHOW_PROJECT_ARCHIVE_UNITS' | translate }}
      </button>
      <button mat-menu-item
              matTooltip="{{ !hasAccessContractManagementPermissions ? hasAccessContractManagementPermissionsMessage : '' }}"
              matTooltipClass="vitamui-tooltip" [matTooltipShowDelay]="300" (click)="updateMetadataDesc()"
              [disabled]="updateStarted || (!hasAccessContractManagementPermissions || !hasUpdateDescriptiveUnitMetadataRole)">
        {{ 'UNIT_UPDATE.UPDATE_DESC_METADATA' | translate }}
      </button>
    </vitamui-common-menu-button>
  </vitamui-common-sidenav-header>

  <form [formGroup]="form" class="vitamui-sidepanel-body">
    <mat-tab-group [selectedIndex]="selectedTabIndex" #tabGroup
                   [ngClass]="isPanelextended ? 'extended-preview-tab-group' : 'preview-tab-group'">
      <!-- DESCRIPTION TAB -->
      <mat-tab label="{{ 'COLLECT.PROJECT_UNIT_PREVIEW.TABS.DESCRIPTION' | translate }}">
        <div class="row">
          <div class="col-12">
            <div class="read-only-field" *ngIf="!updateStarted">
              <label>{{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.NAME' | translate }} :</label>
              <div>
                <ng-container *ngIf="selectedProject.messageIdentifier">
                  {{ selectedProject.messageIdentifier }}
                </ng-container>
              </div>
            </div>
            <div class="form-control read-only-field" *ngIf="updateStarted">
              <vitamui-common-input formControlName="messageIdentifier" required
                                    placeholder="{{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.NAME' | translate }}"
                                    class="col-8 px-0 mr-4">
              </vitamui-common-input>

            </div>


            <div class="read-only-field">
              <label>{{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.ID' | translate }} :</label>
              <div>
                <ng-container *ngIf="selectedProject.id">
                  {{ selectedProject.id }}
                </ng-container>
              </div>
            </div>


            <div class="read-only-field" *ngIf="!updateStarted">
              <label>{{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.DESCRIPTION' | translate }} :</label>
              <div>
                <ng-container *ngIf="selectedProject.comment">
                  {{ selectedProject.comment }}
                </ng-container>
              </div>
            </div>
            <div class="form-control read-only-field" class="col-8 px-0" *ngIf="updateStarted">
              <vitamui-common-textarea
                formControlName="comment"
                placeholder="{{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.DESCRIPTION' | translate }}"
              >
              </vitamui-common-textarea>
              <div class="col-4"></div>
            </div>

            <vitamui-common-input
              class="col-4 px-0"
              formControlName="originatingAgencyIdentifier"
              placeholder="{{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.SP_ID' | translate }} "
              required *ngIf="updateStarted"
            >
            </vitamui-common-input>

            <vitamui-common-input
              [disabled]="true"
              class="ml-2 col-4 "
              placeholder="{{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.SP_ID' | translate }} "
              *ngIf="updateStarted"
            >
            </vitamui-common-input>
            <vitamui-common-input
              class="col-4 px-0"
              formControlName="submissionAgencyIdentifier"
              placeholder="{{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.SV_ID' | translate }} "
              *ngIf="updateStarted"
              required
            >
            </vitamui-common-input>
            <vitamui-common-input
              [disabled]="true"
              class=" ml-2 col-4 "
              placeholder="{{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.SV_ID' | translate }} "
              *ngIf="updateStarted"
            >
            </vitamui-common-input>
            <div class="row padding-style" *ngIf="updateStarted">
              <div class="col-2 mr-10 actions">
                <button type="button" class="btn primary" [disabled]="!form.valid || !form.dirty"
                        (click)="launchUpdate()">
                  {{ 'UNIT_UPDATE.SAVE' | translate }}
                </button>
              </div>

            </div>


            <div class="read-only-field" *ngIf="!updateStarted">
              <label>{{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.SP_ID' | translate }} :</label>
              <div>
                <ng-container *ngIf="selectedProject.originatingAgencyIdentifier">
                  {{ selectedProject.originatingAgencyIdentifier }}
                </ng-container>
              </div>
            </div>
            <div class="read-only-field" *ngIf="!updateStarted">
              <label>{{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.SV_ID' | translate }} :</label>
              <div>
                <ng-container *ngIf="selectedProject.submissionAgencyIdentifier">
                  {{ selectedProject.submissionAgencyIdentifier }}
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <!-- CONTEXT TAB -->
      <mat-tab label="{{ 'COLLECT.PROJECT_UNIT_PREVIEW.TABS.CONTEXT' | translate }}">
        <div class="row">
          <div class="col-12">
            <div class="read-only-field" *ngIf="!updateStarted">
              <label>{{ 'COLLECT.PROJECT_CONTEXT_ARCHIVAL_AGENCY' | translate }} :</label>
              <div>
                <ng-container *ngIf="selectedProject.archivalAgencyIdentifier">
                  {{ selectedProject.archivalAgencyIdentifier }}
                </ng-container>
              </div>
            </div>
            <div class="read-only-field" *ngIf="!updateStarted">
              <label>{{ 'COLLECT.PROJECT_CONTEXT_TRANSFERRING_AGENCY' | translate }} :</label>
              <div>
                <ng-container *ngIf="selectedProject.transferringAgencyIdentifier">
                  {{ selectedProject.transferringAgencyIdentifier }}
                </ng-container>
              </div>
            </div>
            <div class="read-only-field" *ngIf="!updateStarted">
              <label>{{ 'COLLECT.PROJECT_CONTEXT_ARCHIVAL_AGREEMENT' | translate }} :</label>
              <div>
                <ng-container *ngIf="selectedProject.archivalAgreement">
                  {{ selectedProject.archivalAgreement }}
                </ng-container>
              </div>
            </div>
            <div class="read-only-field" *ngIf="!updateStarted">
              <label>{{ 'COLLECT.PROJECT_CONTEXT_ARCHIVE_PROFILE' | translate }} :</label>
              <div>
                <ng-container *ngIf="selectedProject.archiveProfile">
                  {{ selectedProject.archiveProfile }}
                </ng-container>
              </div>
            </div>
            <div class="read-only-field" *ngIf="!updateStarted">
              <label>{{ 'COLLECT.PROJECT_CONTEXT_ACQUISITION_INFORMATION' | translate }} :</label>
              <div>
                <ng-container *ngIf="selectedProject.acquisitionInformation">
                  {{ selectedProject.acquisitionInformation }}
                </ng-container>
              </div>
            </div>
            <div class="read-only-field" *ngIf="!updateStarted">
              <label>{{ 'COLLECT.PROJECT_CONTEXT_LEGAL_STATUS' | translate }} :</label>
              <div>
                <ng-container *ngIf="selectedProject.legalStatus">
                  {{ selectedProject.legalStatus }}
                </ng-container>
              </div>
            </div>

            <div class="col-8 mr-4" *ngIf="updateStarted">
              <div class="form-control read-only-field">
                <vitamui-common-input
                  class="col-5"
                  formControlName="archivalAgencyIdentifier"
                  placeholder="{{ 'COLLECT.PROJECT_CONTEXT_ARCHIVAL_AGENCY' | translate }}"
                  required
                >

                </vitamui-common-input>

                <vitamui-common-input
                  [disabled]="true"
                  class="col-6 offset-1"
                  placeholder="{{ 'COLLECT.PROJECT_CONTEXT_ARCHIVAL_AGENCY' | translate }}"
                >
                </vitamui-common-input>
              </div>
              <div class="form-control read-only-field">
                <vitamui-common-input
                  class="col-5"
                  formControlName="transferringAgencyIdentifier"
                  placeholder="{{ 'COLLECT.PROJECT_CONTEXT_TRANSFERRING_AGENCY' | translate }}"
                  required
                >
                </vitamui-common-input>
                <vitamui-common-input
                  [disabled]="true"
                  class="col-6 offset-1"
                  placeholder="{{ 'COLLECT.PROJECT_CONTEXT_TRANSFERRING_AGENCY' | translate }}"
                >
                </vitamui-common-input>
              </div>
              <div class="form-control read-only-field">
                <vitamui-common-input
                  class="col-5 mr-7"
                  formControlName="archivalAgreement"
                  placeholder="{{ 'COLLECT.PROJECT_CONTEXT_ARCHIVAL_AGREEMENT' | translate }}"
                  required
                >
                </vitamui-common-input>
              </div>
              <div class="form-control read-only-field">
                <vitamui-common-input
                  class="col-5 mr-7"
                  formControlName="archiveProfile"
                  placeholder="{{ 'COLLECT.PROJECT_CONTEXT_ARCHIVE_PROFILE' | translate }}"
                >
                </vitamui-common-input>
              </div>

              <div class="form-control read-only-field">
                <mat-form-field appearance="outline" class="col-5 mr-7" id="acquisition-informations">
                  <label for="acquisition-informations">
                    <span class="pb-3">{{ 'COLLECT.PROJECT_CONTEXT_ACQUISITION_INFORMATION' | translate }}</span>
                  </label>
                  <mat-select formControlName="acquisitionInformation">
                    <mat-option *ngFor="let acquisitionInformation of acquisitionInformationsList"
                                [value]="acquisitionInformation">{{
                      acquisitionInformation
                      }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-control read-only-field">
                <mat-form-field appearance="outline" class="col-5 mr-7" id="legal-status">
                  <label for="legal-status">
                    <span class="pb-3">{{ 'COLLECT.PROJECT_CONTEXT_LEGAL_STATUS' | translate }}</span>
                  </label>
                  <mat-select formControlName="legalStatus" panelClass="legal-status">
                    <mat-option *ngFor="let legalStatus of legalStatusList"
                                [value]="legalStatus.id">{{ legalStatus.value }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-control read-only-field">
                <div class="col-2 mr-10 actions">
                  <button type="button" class="btn primary" [disabled]="!form.valid || !form.dirty"
                          (click)="launchUpdate()">
                    {{ 'UNIT_UPDATE.SAVE' | translate }}
                  </button>
                </div>

              </div>
            </div>

          </div>
        </div>
      </mat-tab>

      <!-- ATTACHEMENT TAB -->
      <mat-tab label="{{ 'COLLECT.PROJECT_UNIT_PREVIEW.TABS.ATTACHEMENT' | translate }}">
        <div class="row">
          <div class="col-12">
            <div class="read-only-field" *ngIf="!updateStarted">
              <label>{{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.UNIT_UPS_ID' | translate }} :</label>
              <div>
                <ng-container *ngIf="selectedProject.unitUp; else elseBlock">
                  {{ selectedProject.unitUp }}
                </ng-container>
                <ng-template #elseBlock>
                  {{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.NO_EXSISTANT_ATTACHEMENT' | translate }}
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</div>

<ng-template #loadingSpinner>
  <div class="spinnerClass">
    <mat-spinner class="vitamui-spinner large"></mat-spinner>
  </div>
</ng-template>

<ng-template #confirmEditProject>

  <mat-dialog-content class="row">

    <div class=" text-title bold">
      {{'COLLECT.UPDATE_PROJECT.POPUP_ACTIONS_TITLE' | translate}}
    </div>


    <div class="text  d-flex mt-4">
      {{'COLLECT.UPDATE_PROJECT.POPUP_ACTIONS_CONTENT_MAJ1' | translate}}
      <br/>
      {{'COLLECT.UPDATE_PROJECT.POPUP_ACTIONS_CONTENT_MAJ2' | translate}}
      <br/>
      {{'COLLECT.UPDATE_PROJECT.POPUP_ACTIONS_CONTENT_MAJ3' | translate}}

    </div>


    <div class="mt-4">
      <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="selectedValue"
                               class="vitamui-button-toggle-group">
        <mat-button-toggle value="YES">
          {{'COMMON.YES' | translate}}</mat-button-toggle>
        <mat-button-toggle value="NO">{{'COMMON.NO' | translate}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions class="row mt-4">
    <button (click)="onConfirm()"
            class="btn primary btn-confirm-dialog mr-2 margin-btn">{{ 'COMMON.CONFIRM' | translate }}</button>

    <button (click)="onClose()" class="btn cancel">{{ 'COMMON.UNDO' | translate }}</button>
  </mat-dialog-actions>
</ng-template>
