<div *ngIf="project; let selectedProject; else: loadingSpinner">
  <vitamui-common-sidenav-header
    [extended]="isPanelextended"
    [title]="selectedProject.messageIdentifier"
    [subtitle]="'COLLECT.PROJECT_UNIT_PREVIEW.WORKFLOW.' + getProjectWorkflow(selectedProject) | translate"
    [icon]="getProjectIcon(selectedProject)"
    (onclose)="emitClose()"
  >
    <vitamui-common-menu-button [overlayPos]="'end'" [icon]="'vitamui-icon-more-horiz'">
      <button mat-menu-item (click)="showEditProject()">
        {{ 'COLLECT.PROJECT_UNIT_PREVIEW.ACTIONS.EDIT_PROJECT' | translate }}
      </button>
      <button mat-menu-item (click)="searchArchiveUnitsByProject()">
        {{ 'COLLECT.PROJECT_UNIT_PREVIEW.ACTIONS.SHOW_PROJECT_ARCHIVE_UNITS' | translate }}
      </button>
    </vitamui-common-menu-button>
  </vitamui-common-sidenav-header>

  <form [formGroup]="form" class="vitamui-sidepanel-body">
    <mat-tab-group
      [selectedIndex]="selectedTabIndex"
      #tabGroup
      [ngClass]="isPanelextended ? 'extended-preview-tab-group' : 'preview-tab-group'"
    >
      <!-- DESCRIPTION TAB -->
      <mat-tab label="{{ 'COLLECT.PROJECT_UNIT_PREVIEW.TABS.DESCRIPTION' | translate }}">
        <div class="row">
          <div class="col-12">
            <div class="read-only-field" *ngIf="!editMode">
              <label>{{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.NAME' | translate }} :</label>
              <div>
                <ng-container *ngIf="selectedProject.messageIdentifier">
                  {{ selectedProject.messageIdentifier }}
                </ng-container>
              </div>
            </div>
            <div class="form-control read-only-field" *ngIf="editMode">
              <vitamui-common-input
                formControlName="messageIdentifier"
                required
                placeholder="{{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.NAME' | translate }}"
                class="col-12 px-0 mr-4"
              >
              </vitamui-common-input>
            </div>

            <div class="read-only-field">
              <label>{{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.ID' | translate }} :</label>
              <div>
                <ng-container *ngIf="selectedProject.id">
                  {{ selectedProject.id }}
                </ng-container>
              </div>
            </div>

            <div class="read-only-field" *ngIf="!editMode">
              <label>{{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.DESCRIPTION' | translate }} :</label>
              <div>
                <ng-container *ngIf="selectedProject.comment">
                  {{ selectedProject.comment }}
                </ng-container>
              </div>
            </div>
            <div class="form-control read-only-field col-12 px-0" *ngIf="editMode">
              <vitamui-common-textarea
                formControlName="comment"
                placeholder="{{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.DESCRIPTION' | translate }}"
              >
              </vitamui-common-textarea>
            </div>

            <vitamui-common-input
              class="col-6 px-0 mb-3"
              formControlName="originatingAgencyIdentifier"
              placeholder="{{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.SP_ID' | translate }} "
              required
              *ngIf="editMode"
            >
            </vitamui-common-input>

            <vitamui-common-input
              [disabled]="true"
              class="col-6"
              placeholder="{{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.SP_ID' | translate }} "
              *ngIf="editMode"
            >
            </vitamui-common-input>
            <vitamui-common-input
              class="col-6 px-0"
              formControlName="submissionAgencyIdentifier"
              placeholder="{{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.SV_ID' | translate }} "
              *ngIf="editMode"
              required
            >
            </vitamui-common-input>
            <vitamui-common-input
              [disabled]="true"
              class="col-6"
              placeholder="{{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.SV_ID' | translate }} "
              *ngIf="editMode"
            >
            </vitamui-common-input>
            <div class="mt-5 hgap-3" *ngIf="editMode">
              <button type="button" class="btn primary" [disabled]="!form.valid || !form.dirty" (click)="launchUpdate()">
                {{ 'UNIT_UPDATE.SAVE' | translate }}
              </button>
              <button class="btn link cancel" type="button" (click)="onCancel()">{{ 'COMMON.UNDO' | translate }}</button>
            </div>

            <div class="read-only-field" *ngIf="!editMode">
              <label>{{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.SP_ID' | translate }} :</label>
              <div>
                <ng-container *ngIf="selectedProject.originatingAgencyIdentifier">
                  {{ selectedProject.originatingAgencyIdentifier }}
                </ng-container>
              </div>
            </div>
            <div class="read-only-field" *ngIf="!editMode">
              <label>{{ 'COLLECT.PROJECT_UNIT_PREVIEW.FIELDS.SV_ID' | translate }} :</label>
              <div>
                <ng-container *ngIf="selectedProject.submissionAgencyIdentifier">
                  {{ selectedProject.submissionAgencyIdentifier }}
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <!-- CONTEXT TAB -->
      <mat-tab label="{{ 'COLLECT.PROJECT_UNIT_PREVIEW.TABS.CONTEXT' | translate }}">
        <div class="row">
          <div class="col-12">
            <div class="read-only-field" *ngIf="!editMode">
              <label>{{ 'COLLECT.PROJECT_CONTEXT_ARCHIVAL_AGENCY' | translate }} :</label>
              <div>
                <ng-container *ngIf="selectedProject.archivalAgencyIdentifier">
                  {{ selectedProject.archivalAgencyIdentifier }}
                </ng-container>
              </div>
            </div>
            <div class="read-only-field" *ngIf="!editMode">
              <label>{{ 'COLLECT.PROJECT_CONTEXT_TRANSFERRING_AGENCY' | translate }} :</label>
              <div>
                <ng-container *ngIf="selectedProject.transferringAgencyIdentifier">
                  {{ selectedProject.transferringAgencyIdentifier }}
                </ng-container>
              </div>
            </div>
            <div class="read-only-field" *ngIf="!editMode">
              <label>{{ 'COLLECT.PROJECT_CONTEXT_ARCHIVAL_AGREEMENT' | translate }} :</label>
              <div>
                <ng-container *ngIf="selectedProject.archivalAgreement">
                  {{ selectedProject.archivalAgreement }}
                </ng-container>
              </div>
            </div>
            <div class="read-only-field" *ngIf="!editMode">
              <label>{{ 'COLLECT.PROJECT_CONTEXT_ARCHIVE_PROFILE' | translate }} :</label>
              <div>
                <ng-container *ngIf="selectedProject.archiveProfile">
                  {{ selectedProject.archiveProfile }}
                </ng-container>
              </div>
            </div>
            <div class="read-only-field" *ngIf="!editMode">
              <label>{{ 'COLLECT.PROJECT_CONTEXT_ACQUISITION_INFORMATION' | translate }} :</label>
              <div>
                <ng-container *ngIf="selectedProject.acquisitionInformation">
                  {{ selectedProject.acquisitionInformation }}
                </ng-container>
              </div>
            </div>
            <div class="read-only-field" *ngIf="!editMode">
              <label>{{ 'COLLECT.PROJECT_CONTEXT_LEGAL_STATUS' | translate }} :</label>
              <div>
                <ng-container *ngIf="selectedProject.legalStatus">
                  {{ selectedProject.legalStatus }}
                </ng-container>
              </div>
            </div>

            <div class="gap-5" *ngIf="editMode">
              <div class="gap-3 w-100 align-items-stretch">
                <div class="hgap-2">
                  <vitamui-common-input
                    class="w-50"
                    formControlName="archivalAgencyIdentifier"
                    placeholder="{{ 'COLLECT.PROJECT_CONTEXT_ARCHIVAL_AGENCY' | translate }}"
                    required
                  >
                  </vitamui-common-input>

                  <vitamui-common-input
                    [disabled]="true"
                    class="w-50"
                    placeholder="{{ 'COLLECT.PROJECT_CONTEXT_ARCHIVAL_AGENCY' | translate }}"
                  >
                  </vitamui-common-input>
                </div>
                <div class="hgap-2">
                  <vitamui-common-input
                    class="w-50"
                    formControlName="transferringAgencyIdentifier"
                    placeholder="{{ 'COLLECT.PROJECT_CONTEXT_TRANSFERRING_AGENCY' | translate }}"
                    required
                  >
                  </vitamui-common-input>
                  <vitamui-common-input
                    [disabled]="true"
                    class="w-50"
                    placeholder="{{ 'COLLECT.PROJECT_CONTEXT_TRANSFERRING_AGENCY' | translate }}"
                  >
                  </vitamui-common-input>
                </div>
                <vitamui-common-input
                  class="w-50"
                  formControlName="archivalAgreement"
                  placeholder="{{ 'COLLECT.PROJECT_CONTEXT_ARCHIVAL_AGREEMENT' | translate }}"
                  required
                >
                </vitamui-common-input>

                <vitamui-common-input
                  class="w-50"
                  formControlName="archiveProfile"
                  placeholder="{{ 'COLLECT.PROJECT_CONTEXT_ARCHIVE_PROFILE' | translate }}"
                >
                </vitamui-common-input>

                <vitamui-select
                  class="w-50"
                  formControlName="acquisitionInformation"
                  [placeholder]="'COLLECT.PROJECT_CONTEXT_ACQUISITION_INFORMATION' | translate"
                  [options]="acquisitionInformationsList"
                  [multiple]="false"
                  [enableSearch]="false"
                ></vitamui-select>

                <vitamui-select
                  class="w-50"
                  formControlName="legalStatus"
                  [placeholder]="'COLLECT.PROJECT_CONTEXT_LEGAL_STATUS' | translate"
                  [options]="legalStatusList"
                  [multiple]="false"
                  [enableSearch]="false"
                ></vitamui-select>
              </div>

              <button type="button" class="btn primary" [disabled]="!form.valid || !form.dirty" (click)="launchUpdate()">
                {{ 'UNIT_UPDATE.SAVE' | translate }}
              </button>
            </div>
          </div>
        </div>
      </mat-tab>

      <!-- ATTACHEMENT TAB -->
      <mat-tab label="{{ 'COLLECT.PROJECT_UNIT_PREVIEW.TABS.ATTACHEMENT' | translate }}">
        <div class="row">
          <div class="col-12">
            <ng-container *ngIf="!editMode">
              <div *ngIf="selectedProject.unitUp" class="gap-2">
                <div class="text normal bold primary uppercase">{{ 'COLLECT.PROJECT_UNIT_PREVIEW.ATTACHMENT.FIX.TITLE' | translate }}</div>
                <vitamui-common-data
                  [label]="'COLLECT.PROJECT_UNIT_PREVIEW.ATTACHMENT.FIX.ATTACHMENT_ID' | translate"
                  [value]="selectedProject.unitUp"
                ></vitamui-common-data>
              </div>
              <div *ngIf="selectedProject.unitUps" class="gap-4">
                <div class="text normal bold primary uppercase">
                  {{ 'COLLECT.PROJECT_UNIT_PREVIEW.ATTACHMENT.RULES.TITLE' | translate }}
                </div>
                <vitamui-common-accordion *ngFor="let unitUp of selectedProject.unitUps; index as i; first as isFirst" [opened]="isFirst">
                  <div class="title">Paramètre {{ i + 1 }}</div>
                  <div class="content">
                    <vitamui-common-data [label]="unitUp.metadataKey" [value]="unitUp.metadataValue"></vitamui-common-data>
                    <vitamui-common-data
                      [label]="'COLLECT.PROJECT_UNIT_PREVIEW.ATTACHMENT.FIX.ATTACHMENT_ID' | translate"
                      [value]="unitUp.unitUp"
                    ></vitamui-common-data>
                  </div>
                </vitamui-common-accordion>
              </div>
              <ng-container *ngIf="!selectedProject.unitUp && !selectedProject.unitUps">
                <div class="text medium">
                  {{ 'COLLECT.PROJECT_UNIT_PREVIEW.ATTACHMENT.NO_EXISTANT_ATTACHMENT' | translate }}
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </mat-tab>

      <!-- CONFIGURATION TAB -->
      <mat-tab
        *ngIf="getProjectWorkflow(selectedProject) === Workflow.FLOW"
        label="{{ 'COLLECT.PROJECT_UNIT_PREVIEW.TABS.CONFIGURATION' | translate }}"
      >
        <vitamui-common-data
          class="mb-2"
          [label]="'COLLECT.PROJECT_UNIT_PREVIEW.CONFIGURATION.AUTO_INGEST' | translate"
          [value]="'COLLECT.PROJECT_UNIT_PREVIEW.CONFIGURATION.' + (selectedProject.automaticIngest ? 'ENABLED' : 'DISABLED') | translate"
        ></vitamui-common-data>

        <div class="d-flex align-items-center justify-content-between">
          <vitamui-common-data
            [label]="'COLLECT.PROJECT_UNIT_PREVIEW.CONFIGURATION.JSLT_CONFIGURATION_METADATA_TRANSFORM' | translate"
            [value]="
              selectedProject.transformationRules
                ? ('COLLECT.PROJECT_UNIT_PREVIEW.CONFIGURATION.TRANSFORMATION_RULES_FILE' | translate)
                : ' '
            "
          ></vitamui-common-data>
          <button class="btn btn-circle primary medium" [disabled]="!project.transformationRules" (click)="downloadJSLT()">
            <i class="vitamui-icon vitamui-icon-telecharger"></i>
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</div>

<ng-template #loadingSpinner>
  <div class="spinnerClass">
    <mat-spinner class="vitamui-spinner large"></mat-spinner>
  </div>
</ng-template>

<ng-template #confirmEditProject>
  <vitamui-dialog-header [title]="'COLLECT.UPDATE_PROJECT.POPUP_ACTIONS_TITLE' | translate"></vitamui-dialog-header>
  <mat-dialog-content *ngIf="transactions$.getValue(); let transactions; else: loadingSpinner" class="row">
    <div
      class="text d-flex mt-4"
      [innerHTML]="'COLLECT.UPDATE_PROJECT.POPUP_ACTIONS_CONTENT_MAJ' | translate: { nb: transactions.values?.length }"
    ></div>

    <div class="mt-4">
      <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="selectedValue" class="vitamui-button-toggle-group">
        <mat-button-toggle value="YES"> {{ 'COMMON.YES' | translate }}</mat-button-toggle>
        <mat-button-toggle value="NO">{{ 'COMMON.NO' | translate }} </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button (click)="onConfirm()" class="btn primary">{{ 'COMMON.CONFIRM' | translate }}</button>
    <button matDialogClose class="btn cancel link">{{ 'COMMON.UNDO' | translate }}</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #cancelDialog>
  <vitamui-dialog-header
    [subhead]="'COLLECT.UPDATE_PROJECT.DIALOGS_CANCEL_TITLE' | translate"
    [title]="'COLLECT.UPDATE_PROJECT.DIALOGS_CANCEL_CONTENT' | translate"
  ></vitamui-dialog-header>

  <mat-dialog-actions>
    <button [matDialogClose]="true" [disabled]="false" class="btn primary">
      {{ 'COLLECT.UPDATE_PROJECT.SAVE' | translate }}
    </button>
    <button matDialogClose class="btn link cancel">{{ 'COMMON.UNDO' | translate }}</button>
  </mat-dialog-actions>
</ng-template>
