// https://www.mongodb.com/docs/manual/reference/command/setFeatureCompatibilityVersion/

db.adminCommand( { setFeatureCompatibilityVersion: "{{ mongo_version }}"{% if mongo_version >= 7.0 %}, confirm: true{% endif %} } )
