<ng-container *ngIf="securisation.events[securisation.events.length - 1].outcome !== 'WARNING'">
  <button class="btn secondary ml-1 mt-4" (click)="checkTraceability()" [disabled]="!accessContractId || (events && events.length > 0)">
    {{ 'SECURE.TAB.CHECK.CHECK_SECURITY' | translate }}
  </button>

  <vitamui-common-collapse *ngIf="display && events && events.length > 0" [collapseTitle]="'SECURE.TAB.CHECK.CHECK_STEPS' | translate">
    <vitamui-common-history-events [events]="events"></vitamui-common-history-events>
  </vitamui-common-collapse>
</ng-container>
