@use 'mixins/elevation';

h5 {
  font-size: 1rem;
  font-weight: 700;
}

.icon {
  font-size: 1.5rem !important;
}

.content {
  background-color: white;
  padding: 1rem 0.5rem;
  border-radius: 5px;

  label {
    color: var(--vitamui-primary);
    font-size: 0.75rem;
    font-weight: 700;
    margin: 0.5rem 0;
  }
}

.delete-button {
  border: 1px solid var(--vitamui-primary);
  border-radius: 50%;
}

.radio-button-group-wrapper {
  padding: 0.5rem 0;
}

// To override
.vitamui-mat-select {
  padding-bottom: 0;
}

.select-area-custom {
  width: 100%;
  mat-label {
    color: var(--vitamui-primary);
    font-size: 12px;
    font-weight: 700;
  }
}
