const scriptName = 'v8.0-008_add_collect_producer_service_role__update_transaction.js';

dbIam = db.getSiblingDB('{{ mongodb.iam.db | default('iam') }}')

print(['START', scriptName].join(' '));

dbIam.profiles.updateMany({
    applicationName: "COLLECT_APP",
     name: {
          $regex : "Service producteur"
       }
}, {
    $addToSet: {
        roles: { name: "ROLE_UPDATE_TRANSACTIONS" }
    }
});

print(['END', scriptName].join(' '));
