<div class="vitamui-snack-bar-container">
  <span class="vitamui-snack-bar-content" i18="subrogation ask@@snackBarSubrogationAsk">
      <i class="material-icons">people_outline</i> L'utilisateur {{data?.subro?.superUser}} demande un accès temporaire à vos droits
      <button class="btn" (click)="accept()" i18n="subrogation accept@@AcceptSubrogation">Accepter</button>
      <button class="btn-link" (click)="decline()" i18n="subrogation decline@@DeclineSubrogation"> Refuser</button>
  </span>
</div>
