:host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.subrogation-snack-bar-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-btn {
    background: none;
    border: none;
    padding: 0;

    > i {
        color: white;
        opacity: 0.5;
        font-size: 36px;
    }
}

.btn {
    margin-left: 15px;
}

.btn-link {
    margin-left: 15px;
    color: white;
}
