<div vitamuiCommonInfiniteScroll (vitamuiScroll)="onScroll()">
  <div class="vitamui-table">
    <div class="vitamui-table-head">
      <div class="col-1">
        <i class="vitamui-icon vitamui-icon-gestion-de-profil"></i>
      </div>
      <div class="col-2">
        {{ 'EXTERNAL_PARAM_PROFILE.EXTERNAL_PARAM_PROFILE_NAME' | translate }}
      </div>
      <div class="col-2">{{ 'EXTERNAL_PARAM_PROFILE.IDENTIFIER' | translate }}</div>
      <div class="col-3">{{ 'EXTERNAL_PARAM_PROFILE.MAX_BULK_OPERATIONS_THRESHOLD_TITLE' | translate }}</div>
      <div class="col-4">{{ 'EXTERNAL_PARAM_PROFILE.DESCRIPTION' | translate }}</div>
    </div>

    <div class="vitamui-table-body">
      <div class="vitamui-table-rows" *ngFor="let externalParamProfile of dataSource" (click)="emitExternalProfile(externalParamProfile)">
        <div class="vitamui-row d-flex align-items-center clickable">
          <div class="col-1">
            <i
              class="vitamui-icon vitamui-icon-gestion-de-profil"
              [ngClass]="externalParamProfile?.enabled ? 'status-badge-green' : 'status-badge-grey'"
            ></i>
          </div>
          <div class="col-2">{{ externalParamProfile.name }}</div>
          <div class="col-2">{{ externalParamProfile.accessContract }}</div>
          <div class="col-3">{{ externalParamProfile.bulkOperationsThreshold | number }}</div>
          <div class="col-4">
            {{ externalParamProfile.description | truncate: 50 }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!dataSource || pending; then loadingSpinner"></div>
  <div *ngIf="!pending && dataSource?.length === 0; then noResults"></div>
  <div *ngIf="infiniteScrollDisabled && externalParamProfileServiceService.canLoadMore && !pending; then loadMore"></div>
</div>

<ng-template #noResults>
  <div class="vitamui-min-content vitamui-table-message">{{ 'COMMON.NO_RESULT' | translate }}</div>
</ng-template>

<ng-template #loadMore>
  <div class="vitamui-min-content vitamui-table-message" (click)="externalParamProfileServiceService.loadMore()">
    <span class="clickable">{{ 'COMMON.MORE_RESULT' | translate }}</span>
  </div>
</ng-template>

<ng-template #loadingSpinner>
  <div class="vitamui-min-content">
    <mat-spinner class="vitamui-spinner medium"></mat-spinner>
  </div>
</ng-template>
