<div class="vitamui-header">
  <div class="vitamui-container">
    <h2 i18n="Search for subrogate user@@SubrogationUserSearchTitle">
      <img src="assets/mini-logo-vitam.png">Rechercher <strong>un Utilisateur permanent</strong> à subroger
    </h2>

    <div class="controls">
      <vitamui-common-search-bar
          name="user-search"
          (search)="onSearchSubmit($event)"
          i18n-placeholder="subrogation profileSearch@@SearchSubrogationProfile" placeholder="Saisissez le nom du profil de subrogation">
      </vitamui-common-search-bar>

      <div class="actions">
        <button class="btn secondary" (click)="openUserSubrogationDialog()">
          <i class="vitamui-icon vitamui-icon-link"></i> <span i18n="subrogate user subrogate@@SubrogateUserButton">Subroger un utilisateur client</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="vitamui-body">
  <app-subrogate-user-list [search]="search" [emailDomains]="customer?.emailDomains"></app-subrogate-user-list>
</div>