@use 'spacing';

.card-criteria {
  @extend .gap-4;
  align-items: stretch !important;

  background: var(--vitamui-white);
  border-radius: 10px;
  margin-top: 5px;
  padding: 30px;
}

::ng-deep.mat-mdc-menu-panel {
  max-width: fit-content !important;
}

.red-text {
  color: var(--vitamui-red);
  font-size: x-large;
  font-weight: bold;
}

.icon-style {
  font-size: 50px;
  line-height: 5px;
}

.facet-div {
  width: 100%;
  padding: 10px 10px;
}

#show-hide-facet-button {
  position: relative;
  float: right;
  cursor: pointer;
  width: 40px;
  border: 1px solid var(--vitamui-grey-400);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px 10px;
  font-size: large;
  font-weight: bold;
}

// Make disabled tabs clickable to be able to trigger the mat menu
:host ::ng-deep .mat-mdc-tab.mat-mdc-tab-disabled {
  &,
  & .mdc-tab__content {
    pointer-events: unset;
  }
}
