.input-criteria{
    border: 1px solid var(--vitamui-secondary)
}
.archive-search-section{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.search-input-criteria{
    width: 100%;
}
.search-select-access-contract{
    width: 100%;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    color: var(--vitamui-primary);
    letter-spacing: 0.1px;
    line-height: 10px;
    white-space: nowrap;
    transform-origin: left;
    transition: transform 150ms ease-out;
}
.search-date-filter{
    height: 50px;
    border: solid 1px var(--vitamui-secondary);
    border-radius: 25px;
    text-align: center;
    color: var(--vitamui-secondary);
    border-radius: 25px;
    border: solid 1px #f0f0f0;
    background-color: #ffffff;
    padding: 7px 45px 7px 25px;
    transition: border-color 150ms ease-out;
    vertical-align: top;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
}

.mat-select-content{
    font-size: 14px;
    font-weight: 700;
    color: var(--vitamui-primary);
    letter-spacing: 0.1px;
    line-height: 10px;
    white-space: nowrap;
    transform-origin: left;
    transition: transform 150ms ease-out;
}


.search-date-label {
    position: absolute;
    font-size: 14px;
    font-weight: 700;
    color: var(--vitamui-primary);
    letter-spacing: 0.1px;
    line-height: 10px;
    white-space: nowrap;
    transform-origin: left;
    transition: transform 150ms ease-out;
}
.card-criteria {
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 50px;
    padding-top: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
.before-search-launched-button{
    border: 1px solid #9D9D9D;
    box-sizing: border-box;
    border-radius: 5px;
}
.after-search-launched-button{
    color: #fff;
    background-color: #2C76C9;
    border: 1px solid #2C76C9;
    box-sizing: border-box;
    border-radius: 5px;
}
.criteria-group {
    padding: 10px
}
.left-arround {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #9D9D9D;

}

.left-not-arround {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid #9D9D9D;

}


.right-arround {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
      border: 1px solid #9D9D9D;

}

.right-not-arround {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
        border: 1px solid #9D9D9D;

}


.button-or {
    padding-left: 10px;
    padding-right: 10px;
    border-right-width: 0px;
    border-left-width: 0px;
    height: 60px;
    font-weight: bold;

}

.button-content {
    padding-left: 10px;
    padding-right: 10px;
    border-right-width: 0px;
    max-width: 400px;
    font-weight: bold;
    height: 60px;
        border: 1px solid #9D9D9D;

}


.button-remove {
    padding-left: 4px;
    padding-right: 0px;
    border-left-width: 1px;
    height: 60px;
    font-weight: bold;
        border: 1px solid #9D9D9D;

}

.hide-ink {
    cursor: pointer;
    color: #702382;;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.launch-search-btn{
    width: 218px;
    height: 50px;
    background: #702382;
    border-radius: 100px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1px;
    text-decoration-line: underline;
}


.button-remove {
    border-left-width: 0px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 400px;
    font-weight: bold;
    height: 60px;
}


.hide-area-search {
  margin-bottom: 10px;
}


.area-criteria {
    padding-top: 20px;
}