@import 'variables/colors';

.text-title {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: var(--vitamui-grey-600);
}

.facet-area {
  display: block;
  overflow: auto;
}

::ng-deep.mat-mdc-menu-panel {
  max-width: fit-content !important;
}

.link-without-underline {
  cursor: pointer;
  color: var(--vitamui-primary);
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.red-text {
  color: var(--vitamui-red);
  font-size: x-large;
  font-weight: bold;
}

.icon-style {
  font-size: 50px;
  line-height: 5px;
}

.disabled-div {
  pointer-events: none;
}

.enabled-div {
  pointer-events: painted;
}

.facet-div {
  width: 100%;
  padding: 10px 10px;
}

#show-hide-facet-button {
  position: relative;
  float: right;
  cursor: pointer;
  width: 40px;
  border: 1px solid var(--vitamui-grey-400);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px 10px;
  font-size: large;
  font-weight: bold;
}

.vitamui-row-selected {
  background: var(--vitamui-primary-50);

  &:hover {
    background: var(--vitamui-primary-50);
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
:host ::ng-deep .mat-tab-disabled .mat-tab-label-content {
  color: var(--vitamui-grey-600);
}
