.app-container {
    padding-bottom: 50px;
}

.mat-select-panel{
    font-size: 14px;
    font-weight: 700;
    color: var(--vitamui-primary);
    letter-spacing: 0.1px;
    line-height: 10px;
    white-space: nowrap;
    transform-origin: left;
    transition: transform 150ms ease-out;
}
::ng-deep .mat-select-content{
    font-size: 14px;
    font-weight: 700;
    color: var(--vitamui-primary);
    letter-spacing: 0.1px;
    line-height: 10px;
    white-space: nowrap;
    transform-origin: left;
    transition: transform 150ms ease-out;
}

.mat-select-value-text{
    font-size: 14px;
    font-weight: 700;
    color: var(--vitamui-primary);
    letter-spacing: 0.1px;
    line-height: 10px;
    white-space: nowrap;
    transform-origin: left;
    transition: transform 150ms ease-out;
}

::ng-deep .mat-tooltip {
      max-width: 400px !important;
}