@import 'mixins/elevation';

div {
  background-color: white;
  padding: 20px;
}

.elevation-box {
  border-radius: 10px;
  margin-right: 20px;

  &.dark-1 {
    @include elevation-1-dark;
  }

  &.dark-2 {
    @include elevation-2-dark;
  }

  &.dark-3 {
    @include elevation-3-dark;
  }

  &.dark-4 {
    @include elevation-4-dark;
  }

  &.dark-5 {
    @include elevation-5-dark;
  }

  &.dark-6 {
    @include elevation-6-dark;
  }

  &.dark-7 {
    @include elevation-7-dark;
  }

  &.primary-1 {
    @include elevation-1-primary;
  }

  &.primary-2 {
    @include elevation-2-primary;
  }

  &.primary-3 {
    @include elevation-3-primary;
  }

  &.primary-4 {
    @include elevation-4-primary;
  }

  &.primary-5 {
    @include elevation-5-primary;
  }

  &.primary-6 {
    @include elevation-6-primary;
  }

  &.primary-7 {
    @include elevation-7-primary;
  }

  &.secondary-1 {
    @include elevation-1-secondary;
  }

  &.secondary-2 {
    @include elevation-2-secondary;
  }

  &.secondary-3 {
    @include elevation-3-secondary;
  }

  &.secondary-4 {
    @include elevation-4-secondary;
  }

  &.secondary-5 {
    @include elevation-5-secondary;
  }

  &.secondary-6 {
    @include elevation-6-secondary;
  }

  &.secondary-7 {
    @include elevation-7-secondary;
  }

  &.tertiary-1 {
    @include elevation-1-tertiary;
  }

  &.tertiary-2 {
    @include elevation-2-tertiary;
  }

  &.tertiary-3 {
    @include elevation-3-tertiary;
  }

  &.tertiary-4 {
    @include elevation-4-tertiary;
  }

  &.tertiary-5 {
    @include elevation-5-tertiary;
  }

  &.tertiary-6 {
    @include elevation-6-tertiary;
  }

  &.tertiary-7 {
    @include elevation-7-tertiary;
  }
}
