<form [formGroup]="form" class="side-form" (ngSubmit)="onSubmit()">

    <div class="row">
        <div class="col-10 form-control">
            <div class="form-group">
                <vitamui-common-slide-toggle formControlName="writingPermission">Droits d'écriture
                </vitamui-common-slide-toggle>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-10 form-control">
            <div class="form-group" *ngIf="form.controls.writingPermission.value === true">
                <vitamui-common-slide-toggle formControlName="writingRestrictedDesc">Restriction de modification aux métadonnées de description</vitamui-common-slide-toggle>
            </div>
        </div>
    </div>

    <div class="form-group bottom">
        <button type="submit" class="btn secondary"
            [disabled]="unchanged() || submited">Enregistrer</button>
    </div>
</form>
