@mixin elevation-0 {
    box-shadow: none;
}

@mixin elevation-1 {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
}

@mixin elevation-2 {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}

@mixin elevation-3 {
    box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.1), 0px 9px 46px rgba(0, 0, 0, 0.06), 0px 24px 38px rgba(0, 0, 0, 0.07);
}

// NEW ELEVATIONS ADDED AT REDESIGN
@mixin elevation-4 {
  box-shadow: 0px 4px 8px var(--vitamui-grey-400), 0px 8px 16px var(--vitamui-grey-300);
}