---
keystore_server_vitamui_services_api_gateway: changeme
keystore_server_vitamui_services_archive_search: changeme
keystore_server_vitamui_services_cas_server: changeme
keystore_server_vitamui_services_collect: changeme
keystore_server_vitamui_services_iam: changeme
keystore_server_vitamui_services_ingest: changeme
keystore_server_vitamui_services_pastis: changeme
keystore_server_vitamui_services_referential: changeme
keystore_server_vitamui_services_reverse: changeme
keystore_server_vitamui_services_security: changeme
keystore_client_external_customer_x: changeme
truststore_client_external: changeme
keystore_client_vitam_vitamui: changeme
truststore_client_vitam: changeme
keystore_client_vitamui_services_api_gateway: changeme
keystore_client_vitamui_services_archive_search: changeme
keystore_client_vitamui_services_cas_server: changeme
keystore_client_vitamui_services_collect: changeme
keystore_client_vitamui_services_iam: changeme
keystore_client_vitamui_services_ingest: changeme
keystore_client_vitamui_services_pastis: changeme
keystore_client_vitamui_services_referential: changeme
truststore_vitamui: changeme
