---
keystores_server_vitamui_services_api_gateway: changeme
keystores_server_vitamui_services_archive_search: changeme
keystores_server_vitamui_services_cas_server: changeme
keystores_server_vitamui_services_collect: changeme
keystores_server_vitamui_services_iam: changeme
keystores_server_vitamui_services_ingest: changeme
keystores_server_vitamui_services_pastis: changeme
keystores_server_vitamui_services_referential: changeme
keystores_server_vitamui_services_reverse: changeme
keystores_server_vitamui_services_security: changeme
keystores_server_vitamui_services_ui_archive_search: changeme
keystores_server_vitamui_services_ui_collect: changeme
keystores_server_vitamui_services_ui_design_system: changeme
keystores_server_vitamui_services_ui_identity: changeme
keystores_server_vitamui_services_ui_identity_admin: changeme
keystores_server_vitamui_services_ui_ingest: changeme
keystores_server_vitamui_services_ui_pastis: changeme
keystores_server_vitamui_services_ui_portal: changeme
keystores_server_vitamui_services_ui_referential: changeme
keystores_client_external_customer_x: changeme
truststores_client_external: changeme
keystores_client_vitam_vitamui: changeme
truststores_client_vitam: changeme
keystores_client_vitamui_services_api_gateway: changeme
keystores_client_vitamui_services_archive_search: changeme
keystores_client_vitamui_services_cas_server: changeme
keystores_client_vitamui_services_collect: changeme
keystores_client_vitamui_services_iam: changeme
keystores_client_vitamui_services_ingest: changeme
keystores_client_vitamui_services_pastis: changeme
keystores_client_vitamui_services_referential: changeme
keystores_client_vitamui_services_ui_archive_search: changeme
keystores_client_vitamui_services_ui_collect: changeme
keystores_client_vitamui_services_ui_identity: changeme
keystores_client_vitamui_services_ui_identity_admin: changeme
keystores_client_vitamui_services_ui_ingest: changeme
keystores_client_vitamui_services_ui_pastis: changeme
keystores_client_vitamui_services_ui_portal: changeme
keystores_client_vitamui_services_ui_referential: changeme
truststores_vitamui: changeme
