---
truststore_client_external: changeme
keystore_client_external_clients_customer_x: changeme
truststore_client_vitam: changeme
keystore_client_vitam_clients_vitamui: changeme
truststore_vitamui_services: changeme
keystore_vitamui_services_clients_api_gateway: changeme
keystore_vitamui_services_clients_archive_search: changeme
keystore_vitamui_services_clients_cas_server: changeme
keystore_vitamui_services_clients_collect: changeme
keystore_vitamui_services_clients_iam: changeme
keystore_vitamui_services_clients_ingest: changeme
keystore_vitamui_services_clients_pastis: changeme
keystore_vitamui_services_clients_referential: changeme
keystore_vitamui_services_servers_api_gateway: changeme
keystore_vitamui_services_servers_archive_search: changeme
keystore_vitamui_services_servers_cas_server: changeme
keystore_vitamui_services_servers_collect: changeme
keystore_vitamui_services_servers_iam: changeme
keystore_vitamui_services_servers_ingest: changeme
keystore_vitamui_services_servers_pastis: changeme
keystore_vitamui_services_servers_referential: changeme
keystore_vitamui_services_servers_security: changeme
