Host *
    ForwardAgent yes
    # Deativate SSH IP checking (useful when your server DNS changes)
    CheckHostIP no
    # Get host entry in clear so it's easier to remove a host from the host key checking
    HashKnownHosts no
    # To correct lattern for the archivecopoc we don"t use host key checking
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    # Easily for
    NoHostAuthenticationForLocalhost yes
    #
    HostKeyAlgorithms ssh-rsa


Host jump
    Hostname {{ hostvars[groups['bastion'][0]].ansible_host }}
    User  vitamuiroot
    IdentityFile {{ vitamuiroot_user.keypath }}

Host {{ ssh_servers_hosts_pattern }}
    ProxyJump jump

