<div id="facet-row">
  <div id="count-facet-details">
    <vitamui-facet
      [facetDetails]="archiveUnitsCountFacetDetails"
      [facetTitle]="'ARCHIVE_SEARCH.FACETS.APPRAISAL_RULE.ARCHIVE_UNITS_COUNT' | translate"
    ></vitamui-facet>
  </div>
  <div id="rules-facet-details">
    <vitamui-facet
      [facetDetails]="rulesFacetDetails"
      [facetTitle]="'ARCHIVE_SEARCH.FACETS.APPRAISAL_RULE.RULES_COUNT' | translate"
    ></vitamui-facet>
  </div>
  <div id="expired-rules-facet-details">
    <vitamui-facet
      [facetDetails]="expiredRulesFacetDetails"
      [facetSubTitle]="('ARCHIVE_SEARCH.FACETS.APPRAISAL_RULE.FROM_DATE' | translate) + ' ' + dateFilterValue"
      [facetTitle]="'ARCHIVE_SEARCH.FACETS.APPRAISAL_RULE.EXPIRED_RULES' | translate"
    ></vitamui-facet>
  </div>
  <div id="final-action-facetDetails">
    <vitamui-facet
      [facetDetails]="finalActionFacetDetails"
      [facetTitle]="'ARCHIVE_SEARCH.FACETS.APPRAISAL_RULE.FINAL_ACTIONS' | translate"
    ></vitamui-facet>
  </div>
</div>
