<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
    <mat-sidenav mode="side" [fixedInViewport]="true" [opened]="show" *ngIf="foundAccessContract"
        vitamuiCommonResizeSidebar="left">
        <app-filing-holding-scheme [accessContract]="accessContract"></app-filing-holding-scheme>
    </mat-sidenav>

    <mat-sidenav [ngClass]="isLPExtended ? 'extended-lateral-panel' : 'normal-lateral-panel'" #panel mode="side"
        position="end" [fixedInViewport]="true">
        <!-- <app-archive-preview *ngIf="openedItem" (previewClose)="closePanel()"
            (showExtendedLateralPanel)="showExtendedLateralPanel()" [archiveUnit]="openedItem"
            [accessContract]="accessContract" (backToNormalLateralPanel)="backToNormalLateralPanel()"
            [hasAccessContractManagementPermissions]="hasAccessContractManagementPermissions"
            [hasUpdateDescriptiveUnitMetadataRole]="hasUpdateDescriptiveUnitMetadataRole"></app-archive-preview> -->
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="vitamui-heading">
            <vitamui-common-title-breadcrumb>
                {{ 'COLLECT.TITLE_SEARCH_AREA' | translate }} : {{projectId}}
            </vitamui-common-title-breadcrumb>
        </div>
        <div class="vitamui-content" *ngIf="foundAccessContract">
            <!-- Todo : UNCOMMENT WHEN FETCHING TREES
            <div class="row">
                <button *ngIf="!show" type="button" class="btn secondary right-arround left-not-arround"
                    (click)="hiddenTreeBlock(show)" matTooltip="{{ 'ARCHIVE_SEARCH.SHOW_TREES_PLANS' | translate }}"
                    matTooltipClass="vitamui-tooltip" [matTooltipShowDelay]="300">
                    <i class="material-icons">chevron_right</i>
                </button>
            </div>
             -->
            <div class="archive-search-section">
                <div class="row">
                    <h5>{{ 'COLLECT.TITLE_SEARCH' | translate }}</h5>
                </div>
            </div>

            <div class="row justify-content-around">
                <div class="col-8 form-control">
                    <app-title-and-description-criteria-search-collect>
                    </app-title-and-description-criteria-search-collect>
                </div>
                <div class="col-1 form-control"></div>
                <div class="col-3 form-control text-right">
                    <button type="button" class="btn primary"
                        [disabled]="!(searchCriteriaKeys && searchCriteriaKeys.length !== 0)" (click)="submit()">
                        {{ 'COLLECT.LAUNCH_SEARCH_ACTION' | translate }}
                    </button>
                </div>
            </div>

            <div class="row justify-content-around">
                <div class="col-11">
                    <div class="area-criteria">
                        <ng-container *ngFor="let criteriaKey of searchCriteriaKeys">
                            <ng-container *ngIf="searchCriterias.get(criteriaKey) as criteriaVal">
                                <app-criteria-search [criteriaKey]="criteriaKey" [criteriaVal]="criteriaVal"
                                    (criteriaRemoveEvent)="removeCriteriaEvent($event)"></app-criteria-search>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
                <div class="col-1">
                    <div class="d-flex justify-content-end button-space">
                        <button [matMenuTriggerFor]="menu" class="mat-boutton">
                            <button type="button" class="circle editable-field-cancel clickable">
                                <i class="material-icons primary-save-icon">save</i>
                            </button>
                        </button>

                        <mat-menu #menu="matMenu" class="my-menu">
                            <button mat-menu-item [disabled]="!searchCriterias || searchCriterias.size === 0"
                                (click)="mapSearchCriteriaHistory()" class="btn-new-save">
                                <i class="material-icons btn-add">add</i>
                                {{ 'ARCHIVE_SEARCH.SEARCH_CRITERIA_SAVER.NEW_SAVE_MENU' | translate }}
                            </button>
                            <app-search-criteria-list (storedSearchCriteriaHistory)="showStoredSearchCriteria($event)">
                            </app-search-criteria-list>
                        </mat-menu>
                        <div *ngIf="searchCriterias && searchCriterias.size > 0"
                            class="d-flex justify-content-end div-btn-delete">
                            <button class="mat-boutton">
                                <button type="button" class="circle editable-field-cancel clickable"
                                    (click)="clearCriterias()">
                                    <i class="material-icons primary-save-icon">delete</i>
                                </button>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div (vitamuiScroll)="loadMore()" vitamuiCommonInfiniteScroll>
                <div class="vitamui-table">
                    <div class="vitamui-table-head">
                        <div class="col-8" >
                            <mat-spinner *ngIf="pendingGetFixedCount || pending" diameter="20" color="accent"
                                class="spinner-wrapper"></mat-spinner>
                            {{totalResults}} {{ 'COLLECT.RESULTS' | translate }}
                        </div>
                    </div>

                    <div class="vitamui-table-head">
                        <div class="col-1 d-flex align-items-center">
                            <input class="criteria-choice-input" type="checkbox" [checked]="isAllchecked"
                                [indeterminate]="isIndeterminate" (change)="checkParentBoxChange($event)" />
                        </div>

                        <div class="col-1 d-flex align-items-center">
                            <span>{{ 'COLLECT.ARCHIVE_UNIT.FIELDS.TYPE' | translate }}</span>

                            <vitamui-common-order-by-button orderByKey="#unitType" [(orderBy)]="orderBy"
                                [(direction)]="direction" (orderChange)="emitOrderChange()">
                            </vitamui-common-order-by-button>
                        </div>

                        <div class="col-4 d-flex align-items-center">
                            <span>{{ 'COLLECT.ARCHIVE_UNIT.FIELDS.NAME' | translate }} <br />{{
                                'COLLECT.ARCHIVE_UNIT.FIELDS.DESCRIPTION' | translate
                                }}</span>

                            <vitamui-common-order-by-button orderByKey="Title" [(orderBy)]="orderBy"
                                [(direction)]="direction" (orderChange)="emitOrderChange()">
                            </vitamui-common-order-by-button>
                        </div>

                        <div class="col-2 d-flex align-items-center">
                            <span>{{ 'COLLECT.ARCHIVE_UNIT.FIELDS.START_DATE' | translate }} </span>
                            <vitamui-common-order-by-button orderByKey="StartDate" [(orderBy)]="orderBy"
                                [(direction)]="direction" (orderChange)="emitOrderChange()">
                            </vitamui-common-order-by-button>
                        </div>

                        <div class="col-2 d-flex align-items-center">
                            <span>{{ 'COLLECT.ARCHIVE_UNIT.FIELDS.END_DATE' | translate }} </span>
                            <vitamui-common-order-by-button orderByKey="EndDate" [(orderBy)]="orderBy"
                                [(direction)]="direction" (orderChange)="emitOrderChange()">
                            </vitamui-common-order-by-button>
                        </div>

                        <div class="col-2 d-flex align-items-center">
                            <span>{{ 'COLLECT.ARCHIVE_UNIT.FIELDS.SP' | translate }}</span>
                            <vitamui-common-order-by-button orderByKey="#originating_agencies" [(orderBy)]="orderBy"
                                [(direction)]="direction" (orderChange)="emitOrderChange()">
                            </vitamui-common-order-by-button>
                        </div>
                    </div>

                    <div class="vitamui-table-body">
                        <!-- <div class="vitamui-table-rows" *ngFor="let archiveUnit of archiveUnits">
                            <div class="vitamui-row d-flex align-items-center">
                                <div class="col-1 d-flex align-items-center">
                                    <input class="criteria-choice-input" type="checkbox"
                                        (click)="checkChildrenBoxChange(archiveUnit['#id'], $event)"
                                        [checked]="isAllchecked" />
                                </div>
                                <div class="col-1 d-flex align-items-center clickable"
                                    (click)="archiveUnitClick.emit(archiveUnit)">
                                    {{archiveUnit.DescriptionLevel}}
                                </div>
                                <div class="col-4 d-flex align-items-center clickable"
                                    (click)="archiveUnitClick.emit(archiveUnit)">
                                    <ng-container *ngIf="archiveUnit?.Title; else subTitleFr">
                                        <p matTooltip="{{ archiveUnit?.Description }}" matTooltipClass="vitamui-tooltip"
                                            [matTooltipShowDelay]="300">
                                            <b> {{ archiveUnit?.Title }}</b> <br />
                                            {{ archiveUnit?.Description | truncate: 100 }}
                                        </p>
                                    </ng-container>
                                    <ng-template #subTitleFr>
                                        <ng-container *ngIf="archiveUnit.Title_.fr; else subTitleEn">
                                            <p matTooltip="{{ archiveUnit?.Description_?.fr }}"
                                                matTooltipClass="vitamui-tooltip" [matTooltipShowDelay]="300">
                                                <b>{{ archiveUnit.Title_.fr }} </b> <br />
                                                {{ archiveUnit?.Description_?.fr | truncate: 100 }}
                                            </p>
                                        </ng-container>
                                    </ng-template>
                                    <ng-template #subTitleEn>
                                        <ng-container *ngIf="archiveUnit.Title_.en">
                                            <p matTooltip="{{ archiveUnit?.Description_?.en }}"
                                                matTooltipClass="vitamui-tooltip" [matTooltipShowDelay]="300">
                                                <b>{{ archiveUnit.Title_.en }} </b> <br />
                                                {{ archiveUnit?.Description_?.en | truncate: 100 }}
                                            </p>
                                        </ng-container>
                                    </ng-template>
                                </div>
                                <div class="col-2 d-flex align-items-center clickable"
                                    (click)="archiveUnitClick.emit(archiveUnit)">
                                    {{ archiveUnit?.StartDate }}
                                </div>
                                <div class="col-2 d-flex align-items-center clickable"
                                    (click)="archiveUnitClick.emit(archiveUnit)">
                                    {{ archiveUnit?.EndDate }}
                                </div>
                                <div class="col-2 d-flex align-items-center clickable"
                                    (click)="archiveUnitClick.emit(archiveUnit)">
                                    <p matTooltip="{{ archiveUnit['originating_agencyName'] }}   ({{ archiveUnit['#originating_agencies'] }})"
                                        matTooltipClass="vitamui-tooltip" [matTooltipShowDelay]="300">
                                        {{ archiveUnit['#id'] }}
                                    </p>
                                </div>
                            </div>
                        </div> -->
                        <!-- DONT WORK -->
                        <div class="vitamui-table-rows" *ngFor="let archiveUnit of archiveUnits">
                            <div class="vitamui-row d-flex align-items-center">
                                <div class="col-1 d-flex align-items-center">
                                    <input class="criteria-choice-input" type="checkbox"
                                        (click)="checkChildrenBoxChange(archiveUnit['#id'], $event)"
                                        [checked]="isAllchecked" />
                                </div>
                                <div class="col-1 d-flex align-items-center clickable"
                                    (click)="archiveUnitClick.emit(archiveUnit)">
                                    <span class="table-filter-icon" [ngSwitch]="archiveUnit?.DescriptionLevel">
                                        <ng-container *ngSwitchCase="'RecordGrp'">
                                            <i
                                                class="vitamui-icon vitamui-icon-folder vitamui-row-icon status-badge"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'File'">
                                            <i class="vitamui-icon vitamui-icon-file vitamui-row-icon status-badge"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'Item'">
                                            <i class="vitamui-icon vitamui-icon-file vitamui-row-icon status-badge"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'Collection'">
                                            <i
                                                class="vitamui-icon vitamui-icon-folder vitamui-row-icon status-badge"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'Subfonds'">
                                            <i
                                                class="vitamui-icon vitamui-icon-folder vitamui-row-icon status-badge"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'Class'">
                                            <i
                                                class="vitamui-icon vitamui-icon-folder vitamui-row-icon status-badge"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'Subgrp'">
                                            <i
                                                class="vitamui-icon vitamui-icon-folder vitamui-row-icon status-badge"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'Otherlevel'">
                                            <i
                                                class="vitamui-icon vitamui-icon-folder vitamui-row-icon status-badge"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'Series'">
                                            <i
                                                class="vitamui-icon vitamui-icon-folder vitamui-row-icon status-badge"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'Subseries'">
                                            <i
                                                class="vitamui-icon vitamui-icon-folder vitamui-row-icon status-badge"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'Fonds'">
                                            <i
                                                class="vitamui-icon vitamui-icon-folder vitamui-row-icon status-badge"></i>
                                        </ng-container>
                                        <ng-container *NgSwitchDefault>
                                            <i
                                                class="vitamui-icon vitamui-icon-folder vitamui-row-icon status-badge"></i>
                                        </ng-container>
                                    </span>
                                </div>
                                <div class="col-4 d-flex align-items-center clickable"
                                    (click)="archiveUnitClick.emit(archiveUnit)">
                                    <ng-container *ngIf="archiveUnit?.Title; else subTitleFr">
                                        <p matTooltip="{{ archiveUnit?.Description }}" matTooltipClass="vitamui-tooltip"
                                            [matTooltipShowDelay]="300">
                                            <b> {{ archiveUnit?.Title }}</b> <br />
                                            {{ archiveUnit?.Description | truncate: 100 }}
                                        </p>
                                    </ng-container>
                                    <ng-template #subTitleFr>
                                        <ng-container *ngIf="archiveUnit.Title_.fr; else subTitleEn">
                                            <p matTooltip="{{ archiveUnit?.Description_?.fr }}"
                                                matTooltipClass="vitamui-tooltip" [matTooltipShowDelay]="300">
                                                <b>{{ archiveUnit.Title_.fr }} </b> <br />
                                                {{ archiveUnit?.Description_?.fr | truncate: 100 }}
                                            </p>
                                        </ng-container>
                                    </ng-template>
                                    <ng-template #subTitleEn>
                                        <ng-container *ngIf="archiveUnit.Title_.en">
                                            <p matTooltip="{{ archiveUnit?.Description_?.en }}"
                                                matTooltipClass="vitamui-tooltip" [matTooltipShowDelay]="300">
                                                <b>{{ archiveUnit.Title_.en }} </b> <br />
                                                {{ archiveUnit?.Description_?.en | truncate: 100 }}
                                            </p>
                                        </ng-container>
                                    </ng-template>
                                </div>
                                <div class="col-2 d-flex align-items-center clickable"
                                    (click)="archiveUnitClick.emit(archiveUnit)">
                                    {{ archiveUnit?.StartDate }}
                                </div>
                                <div class="col-2 d-flex align-items-center clickable"
                                    (click)="archiveUnitClick.emit(archiveUnit)">
                                    {{ archiveUnit?.EndDate }}
                                </div>
                                <div class="col-2 d-flex align-items-center clickable"
                                    (click)="archiveUnitClick.emit(archiveUnit)">
                                    <p matTooltip="{{ archiveUnit['originating_agencyName'] }}   ({{ archiveUnit['#originating_agencies'] }})"
                                        matTooltipClass="vitamui-tooltip" [matTooltipShowDelay]="300">
                                        {{ archiveUnit['originating_agencyName'] }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vitamui-table-footer">
                        <mat-spinner *ngIf="pending" diameter="50" color="accent"></mat-spinner>
                        <button *ngIf="!pending && canLoadMore" (click)="loadMore()" class="btn">
                            {{ 'COLLECT.SHOW_MORE_RESULTS' | translate }}
                        </button>
                        <span *ngIf="!pending && !canLoadMore">{{ 'COLLECT.NO_MORE_RESULTS' | translate }}</span>
                    </div>
                </div>
            </div>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>