@import '../../../../sass/variables/colors';

.selected-label, .unselected-label {
    color: $greyish-two;
    font-size: 14px;
    font-family: 'Mulish', sans-serif;
}

:host::ng-deep {
  .mat-form-field-underline {
    display: none;
  }
  
  .mat-select-value-text {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
  }
  
  .mat-select-arrow {
    color: var(--vitamui-primary);
  }

  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: var(--vitamui-primary);
  }

  .mat-form-field-wrapper {
    height: 48px;
    padding: .5rem 0;
    display: flex;
    align-items: center;
  }

  mat-form-field {
    width: 100%;
    background-color: $white;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.12), 0 0 2px rgba(0,0,0,.14);
  }

  .mat-form-field-flex {
    background-color: $white!important;
    padding: 0!important;
  }

  mat-select {
    color: #747272!important;
  }

  .mat-form-field-infix {
    padding: 0;
  }

  .mat-select-arrow-wrapper {
    vertical-align: inherit;
  }

  span.mat-select-placeholder {
    margin-top: 0.4rem;
  }

  .mat-form-field-disabled {
    background-color: var(--vitamui-grey-300);

    .mat-form-field-flex {
      background-color: var(--vitamui-grey-300)!important;
    }

    .mat-select-value-text {
      color: var(--vitamui-grey-900);
    }

    .selected-label {
      color: var(--vitamui-grey-600);
    }
  }
}