<mat-form-field appearance="fill">
    <mat-label *ngIf="dataSelected" class="selected-label">{{messages?.selected}}</mat-label>
    <mat-label *ngIf="!dataSelected" class="unselected-label">{{messages?.unselected}}</mat-label>
    <mat-select [value]="selected" [disabled]="disabled" (selectionChange)="onSelect($event.source.value)">
        <mat-option *ngFor="let d of data" [value]="d.id">
            <span *ngIf="d.isDefault" i18n="commonSelect@@default">(Défaut)&nbsp;</span>{{ d.label }}
        </mat-option>
    </mat-select>
</mat-form-field>
