@use 'base/typography';
@use 'bootstrap/scss/bootstrap-grid';

.badge {
  @extend .text;
  @extend .normal;
  @extend .bold;
  @extend .px-2;
  @extend .mb-2;

  display: inline-block;
  white-space: nowrap;
  border-radius: 20px;
}

.badge-secondary {
  color: var(--vitamui-white);
  background-color: var(--vitamui-red-900);
}
