<div class="vitamui-snack-bar-container">

  <span class="vitamui-snack-bar-content" [ngSwitch]="data?.type">

    <ng-container *ngSwitchCase="'sipUploaded'">
      <i class="vitamui-icon vitamui-icon-archive-ingest"></i> Un ou plusieurs versement(s) sont en cours
      <br/>
      <span> (Merci de ne pas éteindre votre navigateur pendant le processus)</span>
    </ng-container>
    <ng-container *ngSwitchCase="'exportCsvLimitReached'">      
      <span> {{'ARCHIVE_SEARCH.EXPORT_CSV.EXPORT_CSV_LIMIT_REACHED' | translate}} </span>
    </ng-container>

  </span>
  

  <button class="close-btn" (click)="close()"><i class="material-icons">clear</i></button>

</div>
