<div>
  <h2>Progress bar with 4 step</h2>
  <div class="mt-3">
    <vitamui-common-progress-bar [index]="0" [count]="4"></vitamui-common-progress-bar>
  </div>

  <div class="mt-3">
    <vitamui-common-progress-bar [index]="1" [count]="4"></vitamui-common-progress-bar>
  </div>

  <div class="mt-3">
    <vitamui-common-progress-bar [index]="2" [count]="4"></vitamui-common-progress-bar>
  </div>

  <div class="mt-3">
    <vitamui-common-progress-bar [index]="3" [count]="4"></vitamui-common-progress-bar>
  </div>
</div>

<div>
  <h2>Progress bar with 1 step</h2>
  <vitamui-common-progress-bar [index]="0" [count]="1"></vitamui-common-progress-bar>
</div>

<div>
  <h2>Progress spinners</h2>
  <mat-spinner class="vitamui-spinner small my-3"></mat-spinner>
  <mat-spinner class="vitamui-spinner medium my-3"></mat-spinner>
  <mat-spinner class="vitamui-spinner large my-3"></mat-spinner>
  <mat-spinner class="vitamui-spinner x-large my-3"></mat-spinner>
</div>
