@use '../../../../sass/mixins/elevation' as elevation;

::ng-deep {
  .more-action-menu.mat-mdc-menu-panel {
    &.primary {
      --item-color: var(--vitamui-primary);
      --button-simple-bg-color: var(--vitamui-primary-50);
    }
    &.secondary {
      --item-color: var(--vitamui-secondary);
      --button-simple-bg-color: var(--vitamui-secondary-50);
    }

    max-width: max-content;
    background: none;
    @include elevation.shadow-0;
    border: none;
    overflow: visible;

    .mat-mdc-menu-content {
      min-width: 152px;
      padding: 0;
    }

    &.simple {
      border-radius: 5px !important;
      @include elevation.shadow-2dp-dark(!important);
      .mat-mdc-menu-item {
        border-left-width: 0 !important;
        border-right-width: 0 !important;
        border-bottom-width: 0 !important;
        &:nth-of-type(1) {
          border-top-width: 0 !important;
        }
      }
      .mat-mdc-menu-item:nth-of-type(1) {
        border-radius: 5px 5px 0 0 !important;
      }
      button {
        background: var(--button-simple-bg-color);
      }
    }

    &.start {
      .mat-mdc-menu-item:nth-of-type(1) {
        border-radius: 0 5px 0 0;
      }
    }

    .btn-circle.large > i {
      font-size: xx-large;
    }

    .mat-mdc-menu-item {
      border-left: 1px solid var(--item-color);
      border-right: 1px solid var(--item-color);
      border-top: 1px solid var(--vitamui-grey-300);
      border-bottom: none;
      background-color: white;
      --mat-menu-item-label-text-size: 16px;

      &:nth-of-type(1) {
        border-top: 1px solid var(--item-color);
        border-radius: 5px 0 0 0;
      }

      &:last-of-type {
        border-bottom: 1px solid var(--item-color);
        border-radius: 0 0 5px 5px;
      }
    }

    .mat-mdc-menu-item.menu-cancel-button {
      border: 1px solid var(--item-color);
      border-bottom: none;
      border-radius: 5px 5px 0 0 !important;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 14px;
        color: var(--item-color);
      }
    }

    .mat-mdc-menu-item:hover:not([disabled]):not(.menu-cancel-button) {
      background-color: var(--vitamui-grey-300);
    }

    .mat-mdc-menu-item[disabled] {
      background-color: var(--vitamui-grey-400);
      opacity: 1;
    }
  }
}
