<div class="vitamui-sidepanel-header">
  <app-classification-tree
    [hasMatchesInSearch]="hasMatchesInSearch"
    [loadingHolding]="loadingHolding"
    [nestedDataSourceFull]="nestedDataSourceFull"
    [nestedTreeControlFull]="nestedTreeControlFull"
    [showEveryNodes]="showEveryNodes"
    [loadingNodeUnit]="loadingArchiveUnit.TREE"
    (closePanel)="emitClose()"
    (addToSearchCriteria)="addToSearchCriteria($event)"
    (showNodeDetail)="fetchUaFromNodeAndShowDetails($event, 'TREE')"
    (switchView)="switchViewAllNodes()">
  </app-classification-tree>
</div>

<div *ngIf="hasMatchesInSearch" vitamuiVerticalResizeSidebar="top"></div>

<div class="vitamui-sidepanel-header flex-column" *ngIf="hasMatchesInSearch">
  <app-leaves-tree
    [accessContract]="accessContract"
    [nestedDataSourceLeaves]="nestedDataSourceLeaves"
    [searchRequestResultFacets]="requestResultFacets"
    [searchRequestTotalResults]="requestTotalResults"
    [searchRequestResultsInFilingPlan]="requestResultsInFilingPlan"
    [loadingNodeUnit]="loadingArchiveUnit.LEAVE"
    (addToSearchCriteria)="addToSearchCriteria($event)"
    (showNodeDetail)="fetchUaFromNodeAndShowDetails($event, 'LEAVE')">
  </app-leaves-tree>
</div>
