@import '~ui-frontend-common/sass/variables/colors';
.tree-filing-scheme-side-panel{
    min-width: 416px;
    height: 100vh;
    background: white;
    margin-top: 90px;

}
.tree-filing-scheme{
    height:auto;
    max-height: 70vh;
    overflow:auto;   
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    background-color: #fafafa;
}
.filing-holding-scheme-tree-invisible {
    display: none;
}

.filing-holding-scheme-tree ul,
.filing-holding-scheme-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.filing-holding-scheme-tree-node {
    border-bottom: 1px solid transparentize(#979797, 0.7);
    color: var(--vitamui-secondary-dark-5);
    cursor: pointer;

    &:hover {
        // text-decoration: underline;
        background-color: rgba(250, 250, 250, 1);
    }
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
}

.icon-greeny-blue {
    color: var(--vitamui-secondary);
}

.tree-show-link {
    cursor: pointer;
    color: #979797;;
    text-decoration: underline;
}
.badge {
    display: inline-block;
    padding: .25em 1.5em;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    position: absolute;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 1.25rem;
    right: 35px;
}
.badge-secondary {
    color: #2C76C9;
    background-color: #ABCAED;
}

.area-show-tree {
    padding-top: 20px;
}