<mat-sidenav-container [autosize]="true" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true">
    <app-securisation-preview *ngIf="openedItem" (previewClose)="closePanel()" [securisation]="openedItem"> </app-securisation-preview>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="vitamui-heading">
      <vitamui-title-breadcrumb>
        <h5>{{ 'SECURE.HOME.TITLE' | translate }}</h5>
      </vitamui-title-breadcrumb>

      <vitamui-banner [searchbarPlaceholder]="'SECURE.HOME.SEARCH_PLACEHOLDER' | translate" (search)="onSearchSubmit($event)">
      </vitamui-banner>

      <form [formGroup]="dateRangeFilterForm" class="d-flex align-items-center mt-4 px-2 hgap-3">
        <vitamui-datepicker
          formControlName="startDate"
          [label]="'SECURE.HOME.START_DATE' | translate"
          [max]="dateRangeFilterForm.get('endDate')?.value"
        ></vitamui-datepicker>
        <vitamui-datepicker
          formControlName="endDate"
          [label]="'SECURE.HOME.END_DATE' | translate"
          [min]="dateRangeFilterForm.get('startDate')?.value"
        ></vitamui-datepicker>
      </form>
    </div>

    <div class="vitamui-content">
      <app-securisation-list (securisationClick)="showSecurisation($event)" [search]="search" [filters]="filters"> </app-securisation-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
