<div class="vitamui-input" [class.disabled]="control.disabled">
  <label>
    {{ label | translate }}
    <span *ngIf="isRequired" class="required-marker">*</span>
  </label>
  <input
    class="hidden-input"
    [matDatepicker]="datepicker"
    [value]="datePickerValue"
    (dateChange)="setYearMonthAndDay($event.value)"
    [min]="min"
    [max]="max"
  />
  <input
    #vitamUIInput
    [disabled]="control.disabled"
    [required]="isRequired"
    (focus)="onFocus()"
    (blur)="onBlur()"
    [ngModel]="control.value"
    (ngModelChange)="onTextChange($event)"
  />
  <mat-datepicker-toggle [for]="datepicker" matSuffix>
    <mat-icon matDatepickerToggleIcon><i class="vitamui-icon vitamui-icon-calendar"></i></mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker
    #datepicker
    panelClass="picker"
    [startView]="startView"
    [disabled]="control.disabled"
    (yearSelected)="setYear($event)"
    (monthSelected)="setYearAndMonth($event)"
  ></mat-datepicker>
</div>
<div #hintArea class="hint-area">
  <div class="info" *ngIf="hint && (control.valid || control.disabled || control.pristine)">
    <i class="vitamui-icon vitamui-icon-info"></i>
    <mat-hint *ngIf="hint"> {{ hint | translate }} </mat-hint>
    <!-- FIXME: we probably shouldn't ALWAYS show a hint -->
    <!--    <mat-hint *ngIf="!hint">-->
    <!--      {{ 'DATE.EXPECTED_FORMAT' | translate: { format: 'DATE.FORMAT.' + pickerType.toUpperCase() | translate } }}-->
    <!--    </mat-hint>-->
  </div>
  <div class="error" *ngIf="control.dirty && !!control.errors?.pattern">
    <i class="vitamui-icon vitamui-icon-anomalie"></i>
    <mat-hint> {{ 'DATE.ERROR.INCORRECT_FORMAT' | translate }} </mat-hint>
  </div>
  <div class="error" *ngIf="control.dirty && !!control.errors?.required">
    <i class="vitamui-icon vitamui-icon-anomalie"></i>
    <mat-hint> {{ 'DATE.ERROR.REQUIRED_FIELD' | translate }} </mat-hint>
  </div>
</div>
