db = db.getSiblingDB('security')

//----------- Update the context UI--------------

db.contexts.updateOne( {
	"_id": "ui_referential_context"
}, {
    $addToSet: {
        "roleNames":  {
            $each: [
				"ROLE_UPDATE_ME_USERS"
        	]
        }
    }
});
