db = db.getSiblingDB('iam')

print("START_24_update_logbook_operation_tooltip.js");

db.applications.update({
      "identifier" : "LOGBOOK_MANAGEMENT_OPERATION_APP"},
{
     $set : {
         "tooltip": "Consulter et gérer l'ensemble des opérations qui sont en cours"
},

});

print("END_24_update_logbook_operation_tooltip.js");
