db = db.getSiblingDB('iam')

print("START 25_update_iam_rules.js");

// ========================================= PROFILES =========================================

db.profiles.update( {
	"_id": "system_rules"
}, {
    $addToSet: {
        "roles":  {
            $each: [
                { "name": "ROLE_IMPORT_RULES" },
                { "name": "ROLE_EXPORT_RULES" }
        	]
        }
    }
});

// ------------------------------------------- REFERENTIAL TENANT 2 --------------------------------


var maxIdProfile = db.getCollection('sequences').findOne({'_id': 'profile_identifier'}).sequence;

db.profiles.insert({
	"_id" : "auto_system_rules",
	"identifier" : NumberInt(maxIdProfile++),
	"name" : "Auto Rules Profile",
	"description" : "Auto Rules Profile",
    "tenantIdentifier": NumberInt(2),
	"applicationName" : "RULES_APP",
	"enabled" : true,
	"readonly" : true,
	"level" : "",
	"customerId" : "system_customer",
	"roles" : [
        {
            "name": "ROLE_GET_RULES"
        },
        {
            "name": "ROLE_CREATE_RULES"
        },
        {
            "name": "ROLE_UPDATE_RULES"
        },
        {
            "name": "ROLE_DELETE_RULES"
        },
		{
            "name": "ROLE_IMPORT_RULES"
        },
		{
            "name": "ROLE_EXPORT_RULES"
        }
	 ]
});

db.sequences.updateOne({
    "_id": "profile_identifier"
}, {
	$set: {
		"sequence": NumberInt(maxIdProfile)
	}
});

print("END 25_update_iam_rules.js");