db = db.getSiblingDB('iam')

print("START_55_update_archive_search_proles_description.js");

// ---- UPDATE DESCRIPTION OF ALL CONSULTATION PROFILES -----//

db.profiles.updateMany({
    "name" : {$regex : "Consultation"}
}, {
    $set: {
        "description": "Profil pour la recherche et consultation des archives dans Vitam sans mises à jour des règles, sans export DIP et sans élimination"

    },
});


// ---- UPDATE DESCRIPTION OF ALL ARCHIVISTE PROFILES -----//

db.profiles.updateMany({
    "name" : {$regex : "Archiviste"}
}, {
    $set: {
        "description": "Profil pour la recherche et consultation des archives dans Vitam sans mises à jour des règles de gestion, avec export DIP et sans élimination"

    },
});

print("END_55_update_archive_search_proles_description.js");
