:host.collapse-container {
  .collapse-title {
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .collapse-content {
    overflow: hidden;
    display: grid;
    transition:
      grid-template-rows 150ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    grid-template-rows: 1fr;
    opacity: 1;

    &.collapsed {
      grid-template-rows: 0fr;
      opacity: 0;
      visibility: hidden;
    }

    &.expanded {
      grid-template-rows: 1fr;
      opacity: 1;
      visibility: visible;
    }

    & > * {
      min-height: 0;
    }
  }

  .collapse-icon {
    display: inline-block;
    transition: transform 200ms ease-out;

    &.collapsed {
      transform: rotate(-90deg);
    }

    &:not(.collapsed) {
      transform: rotate(0deg);
    }
  }
}
