:host::ng-deep {
    .mat-select-trigger {
        border-bottom: 1px solid var(--vitamui-primary);
    }
}

input {
    width: 100%;
}

mat-form-field {
    width: 40%!important;
}

.layer {
    margin: 0 0.5rem;
    font-size: 18px;
    font-weight: bold;
    color: var(--vitamui-grey-800);
}