.cp-text-color {
  color: var(--vitamui-primary);
}

.filter-text {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;

  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
}

.clickable {
  cursor: pointer;
}
