@import '../../../../../sass/variables/colors';
@import '../../../../../sass/mixins/elevation';

$animation-time: 150ms;

.left-link {
  margin-left: 10px;
}

.right-link {
  margin-left: auto;
  margin-right: 10px;
}

.search-bar {
  margin: 10px;
}

.vitamui-mat-select-options {
  & > .mat-option {
    color: var(--vitamui-grey-900);
  }

  .hide {
    display: none;
  }
}

.vitamui-input-errors {
  min-height: 23px;
}

:host::ng-deep {
  .mat-select-trigger {
    transform: translateY(10px);
  }

  .mat-form-field-label {
    display: block !important;

    & > mat-label {
      display: block !important;
      position: relative;
      font-size: 14px;
      font-weight: 700;
      color: var(--vitamui-primary) !important;
      letter-spacing: 0.1px;
      white-space: nowrap;
      transform-origin: left;
      transition: transform $animation-time ease-out;
    }

    .required-marker {
      padding-left: 5px;
      color: $red;
    }
  }

  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: scale(calc(12 / 14)) translateY(-12px) !important;
    letter-spacing: 0.4px;
  }
}

::ng-deep .cdk-overlay-pane:has(.vitamui-common-autocomplete-multi-select) {
  transform: translateX(-25px) translateY(30px) !important;
}

::ng-deep .vitamui-common-autocomplete-multi-select {
  max-height: none !important;
  @include elevation-1-dark;
  border-radius: 10px !important;
  border: 1px solid var(--vitamui-grey-300);

  vitamui-common-search-bar {
    .search {
      max-width: none;
    }
  }
}

.h-100 {
  height: 100%;
}
