<div class="col-12 mb-4">
    <vitamui-common-slide-toggle></vitamui-common-slide-toggle>
    <vitamui-common-slide-toggle [checked]="true" [disabled]="true"></vitamui-common-slide-toggle>
    <vitamui-common-slide-toggle [checked]="false" [disabled]="true"></vitamui-common-slide-toggle>
</div>
<div class="col-12">
    <vitamui-common-slide-toggle>Slide Toggle</vitamui-common-slide-toggle>
    <vitamui-common-slide-toggle [checked]="true" [disabled]="true">Slide Toggle disabled</vitamui-common-slide-toggle>
    <vitamui-common-slide-toggle [checked]="false" [disabled]="true">Slide Toggle disabled</vitamui-common-slide-toggle>
</div>