//Generate Pastis dropdown lists

/// Pastis dropdown border colors
/// @author Paulo Pimenta
$dropdowns-text: (
  button1: (
    enabled: var(--vitamui-secondary-300),
    disabled: var(--vitamui-secondary-300),
    hover: var(--vitamui-secondary-300),
    focus: var(--vitamui-secondary-300),
  ),
  button2: (
    enabled: var(--vitamui-primary),
    disabled: var(--vitamui-primary),
    hover: var(--vitamui-primary),
    focus: var(--vitamui-primary),
  ),
  leading: (
    enabled: var(--vitamui-secondary-300),
    disabled: var(--vitamui-secondary-300),
    hover: var(--vitamui-secondary-300),
    focus: var(--vitamui-secondary-300),
  ),
  search: (
    enabled: var(--vitamui-white),
    disabled: var(--vitamui-white),
    hover: var(--vitamui-white),
    focus: var(--vitamui-white),
  ),
  special: (
    enabled: var(--vitamui-grey),
  ),
);

/*Defines dropdown font-text*/
.mat-select-trigger {
  //@extend .dropdown-font-text;
  @extend .text-text-normal;
  /*  display: block;
    max-height: 19px;
    padding-left: 10px;
    padding-right: 20px;*/
}

.dropdown-font-text {
  padding-top: 4px;
  height: 20px;
  max-height: 51px;

  /* Body 2 - Roboto Regular */

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  /* Black -- Hight */
}

/*Defines dropdown default style*/
.dropdown {
  border-radius: 50px;
  height: 49px;
  background: var(--vitamui-white);
  max-height: 40px;
}
