//Generate Pastis dropdown lists
@import "colors";


/// Pastis dropdown border colors
/// @author Paulo Pimenta
$dropdowns-border: (
    button1:(
        enabled:   (1px solid  var(--vitamui-secondary-300)),
        disabled:  (1px solid var(--vitamui-secondary-200)),
        hover: (1px solid var(--vitamui-secondary-200)),
        focus: (1px solid var(--vitamui-secondary-200)),
    ),
    button2:(
        enabled:  (1px solid  #F0F0F0),
        disabled:  '',
        hover: (1px solid #F0F0F0),
        focus: (1px solid #F0F0F0)
    ),
    leading:(
        enabled:   (1px solid  var(--vitamui-secondary-300)),
        disabled:  (1px solid map-get($colors, 'secondary-disabled')),
        hover: (1px solid  var(--vitamui-secondary-300)),
        focus: (1px solid  var(--vitamui-secondary-300))
    ),
    search:(
        enabled:  '',
        disabled: '',
        hover: '',
        focus: ''
    ),
    special:(
        enabled:  (1px solid #5CBAA9)
    )
);

$dropdowns-text: (
    button1:(
        enabled:   var(--vitamui-secondary-300),
        disabled:  var(--vitamui-secondary-300),
        hover: var(--vitamui-secondary-300),
        focus:  var(--vitamui-secondary-300)
    ),
    button2:(
        enabled:   var(--vitamui-primary),
        disabled:  var(--vitamui-primary),
        hover: var(--vitamui-primary),
        focus:var(--vitamui-primary)
    ),
    leading:(
        enabled:    var(--vitamui-secondary-300),
        disabled:   var(--vitamui-secondary-300),
        hover:  var(--vitamui-secondary-300),
        focus:  var(--vitamui-secondary-300)
    ),
    search:(
        enabled:  #FFFFFF,
        disabled:  #FFFFFF,
        hover:  #FFFFFF,
        focus:  #FFFFFF
    ),
    special:(
        enabled:   #9D9D9D,
    )
);

$dropdowns-background: (
    button1:(
        enabled:   #FFFFFF,
        disabled:  #FFFFFF,
        hover: #FFFFFF,
        focus: #FFFFFF,
    ),
    button2:(
        enabled:   #FFFFFF,
        disabled:  #FFFFFF,
        hover: #FFFFFF,
        focus:#FFFFFF
    ),
    leading:(
        enabled:  #FFFFFF,
        disabled:  #FFFFFF,
        hover: #FFFFFF,
        focus: #FFFFFF
    ),
    search:(
        enabled:  #FF833C,
        disabled:   #FF833C,
        hover:   #FF833C,
        focus:   #FF833C
    ),
    special:(
        enabled:   #FFFFFF,
    )
);


/*Defines dropdown font-text*/
.mat-select-trigger {
    //@extend .dropdown-font-text;
  @extend .text-text-normal;
  /*  display: block;
    max-height: 19px;
    padding-left: 10px;
    padding-right: 20px;*/
}

.dropdown-font-text {

    padding-top: 4px;
    height: 20px;
    max-height: 51px;

    /* Body 2 - Roboto Regular */

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    /* Black -- Hight */
};

/*Defines dropdown default style*/
.dropdown {
    border-radius: 50px;
    height: 49px;
    background: #FFFFFF;
    max-height: 40px;
}

/*Defines dropdown box-shadow*/

$dropdowns-box-shadow: (
        enabled: (0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14)),
        disabled: '',
        hover: (0px 1px 10px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14)),
        focus: (0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14)),
)
