.pastis-font-table-header {
  @extend .text-text-normal-bold;
  color: var(--vitamui-grey-900);
}

.pastis-table-content {
  //styleName: Text/Text-normal;
  @extend .text-text-normal;
  color: var(--vitamui-grey-900);
}

.pastis-table-content-with-errors {
  @extend .pastis-table-content;
  color: darkred;
}

.pastis-font-headline-6 {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  letter-spacing: 0.5px;
}

.pastis-font-label {
  /* Label */
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* or 114% */
  letter-spacing: 0.75px;
}

.pastis-font-popup-subtitle {
  font-family: Mulish;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.15px;
}

.pastis-font-popup-title {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 35px;
  letter-spacing: 0.15px;
}

.pastis-input-text {
  color: var(--vitamui-grey-600);
  font-family: Mulish;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}

.pastis-font-add-metadata-items {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 60px;
}

// Font from FIGMA
.pastis-font-caption {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  letter-spacing: -0.2px;
}
.pastis-font-caption-bold {
  @extend .pastis-font-caption;
  font-weight: bold;
}
.pastis-font-text-large {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.pastis-font-text-large-bold {
  @extend .pastis-font-text-large;
  font-weight: bold;
}

//styleName: X_Text/Text-normal;
.text-text-normal {
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
}

.text-text-medium {
  //styleName: Text/Text-medium;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.text-text-normal-bold {
  //styleName: Text/Text-normal-bold;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
}
