@import '../../../../sass/variables/colors';

.parent-label {
    
    font-size: 14px;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

ul, li {
    
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    padding-left: 5px;
}
