<ng-container *ngIf="editObject?.control">
  <ng-container [ngSwitch]="uiComponent">
    <vitamui-common-input
      *ngSwitchCase="'textfield'"
      [formControl]="editObject.control"
      [placeholder]="editObject.displayRule.ui.label | translate | empty | appendStar: editObject.required"
      class="w-100"
    >
    </vitamui-common-input>
    <vitamui-common-input
      *ngSwitchCase="'select'"
      [formControl]="editObject.control"
      [placeholder]="editObject.displayRule.ui.label | translate | empty | appendStar: editObject.required"
      class="w-100"
    >
    </vitamui-common-input>
    <vitamui-common-textarea
      *ngSwitchCase="'textarea'"
      [formControl]="editObject.control"
      [placeholder]="editObject.displayRule.ui.label | translate | empty | appendStar: editObject.required"
      class="w-100"
    >
    </vitamui-common-textarea>
    <vitamui-common-datepicker
      *ngSwitchCase="'datepicker'"
      [formControl]="editObject.control"
      [label]="editObject.displayRule.ui.label | translate | empty | appendStar: editObject.required"
      [onlyDate]="true"
    >
    </vitamui-common-datepicker>
    <vitamui-common-datepicker
      *ngSwitchCase="'datetime'"
      [formControl]="editObject.control"
      [label]="editObject.displayRule.ui.label | translate | empty | appendStar: editObject.required"
      [onlyDate]="true"
    >
    </vitamui-common-datepicker>
  </ng-container>
</ng-container>
