@import '~ui-frontend-common/sass/variables/colors';

:host {

    display: flex;
    

    .layer {
        width: 33px;
        height: 39px;
        
        font-size: 30px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.8px;
        text-align: left;
        margin-left: 20px;
    }

    vitamui-common-input:not(:last-child) {
        margin-right: 2rem;
    }

    .contrast-container {
        background-color: $white;
        border: 1px solid var(--vitamui-grey-200);
        border-radius: 10px;
    }
    
}