<vitamui-common-sidenav-header
  [title]="editableElement().Name"
  [subtitle]="editableElement().Identifier"
  [hasToolTipOnTitle]="true"
  [toolTipTitleText]="editableElement().Name"
  [actionsBelowTitle]="true"
  (onclose)="emitClose()"
>
  @if (isPreservationScenario()) {
    <button class="btn primary ml-4" (click)="downloadScenario()">
      {{ 'PRESERVATION.TAB.DOWNLOAD_SCENARIO' | translate }}
    </button>
  }
</vitamui-common-sidenav-header>

<div class="vitamui-sidepanel-body {{ isPreservationScenario() ? 'mt-4' : '' }}">
  <mat-tab-group class="preview-tab-group">
    <mat-tab [label]="'PRESERVATION.TAB.INFORMATION.TITLE' | translate">
      @if (isPreservationScenario()) {
        <app-preservation-scenario-information-tab [inputPreservationScenario]="selectedElement()" #infoTab />
      } @else {
        <app-griffin-information-tab [inputGriffin]="selectedElement()" #infoTab (updatedGriffin)="updateGriffin($event)" />
      }
    </mat-tab>

    <mat-tab [label]="'PRESERVATION.TAB.HISTORY.TITLE' | translate">
      <vitamui-common-operation-history-tab
        [id]="selectedElement().Identifier"
        [identifier]="selectedElement().Identifier"
        collectionName="griffins"
      />
    </mat-tab>
  </mat-tab-group>
</div>
