<vitamui-slide-toggle [formControl]="displayCustomGraphicIdentity"> </vitamui-slide-toggle
>{{ 'CUSTOMER.GRAPHIC_IDENTITY.TOGGLE_TITLE' | translate }}

<div class="mt-4">
  @if (!displayCustomGraphicIdentity.value && defaultForm) {
    <app-graphic-identity-form [graphicIdentityForm]="defaultForm" [disabled]="true"> </app-graphic-identity-form>
  }

  @if (displayCustomGraphicIdentity.value && customerForm) {
    <app-graphic-identity-form [graphicIdentityForm]="customerForm" (formChange)="sendForm($event)"> </app-graphic-identity-form>
  }
</div>
