@import '~ui-frontend-common/sass/variables/colors';

:host {
    
    .form-group {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    
    .container-color {
        margin-right: 80px;
    }
    
    .cancel {
        margin-left: 10px;
    }

    span {
        font-weight: bold;
    }

    vitamui-common-input {
        width: 47%;
    }

    ::ng-deep div.vitamui-input-errors {
        display: none;
    }

    vitamui-common-textarea + small {
        text-align: end;
        color: $charcoal-grey-two;
    }
}

::ng-deep .vitamui-modal .mat-dialog-container {
    width: auto;
    height: auto;
}